{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<li class="tree-item" {{addclass "t-" instance.status}} {{addclass "t-" instance.overdue}} data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
  <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
    <div class="item-wrap">
      {{> '/static/mustache/base_objects/open_close.mustache'}}
      <div class="select">
        <div class="item-data">
          <div class="row-fluid">
            <div class="span6">
              <div class="title tree-title-area">
                {{instance.title}}
              </div>
            </div>

            <div class="span2">
              {{#instance.end_date}}
                <div class="tree-title-area">
                  {{localize_date instance.end_date}}
                </div>
              {{/instance.end_date}}
            </div>
            <div class="span4">
              <ul class="tree-action-list">
                <li>
                  <div class="request-control">
                    {{#using workflow=instance.workflow}}
                      {{^if_equals workflow.kind "Backlog"}}
                        <cycle-end-cycle cycle="instance">
                          {{#is_allowed 'update' cycle.workflow.reify}}
                          {{#if cycle.is_current}}
                            <button class="btn btn-draft btn-small end-cycle">End Cycle</button>
                          {{/if}}
                          {{/is_allowed}}
                        </cycle-end-cycle>
                      {{/if_equals}}
                    {{/using}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- item-data end -->
      </div><!-- select end -->
    </div><!-- item-wrap end -->
  </div><!-- item-main end -->

  {{#if expanded}}
  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">

      {{#if draw_children}}
        {{#child_options}}
          <div class="inner-tree">
            <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
          </div>
        {{/child_options}}
      {{/if}}

    </div>
  </div>
  {{/if}}
</li>
