{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<custom-roles-modal
  {instance}="instance"
  {is-proposal}="isProposal"
  {is-new-instance}="isNewInstance"
  {include-roles}="includeRoles"
  {exclude-roles}="excludeRoles"
  {read-only}="readOnly"
  {order-of-roles}="orderOfRoles">
</custom-roles-modal>
