{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<related-documents {instance}="instance" document-type="EVIDENCE">
    <h6>{{title}}</h6>
        <ggrc-gdrive-folder-picker hide-label="true"
                                    readonly="readonly"
                                    instance="instance"
                                    {(is-revision-folder-loaded)}="isRevisionFolderLoaded"
                                    {(current_folder)}="currentFolder"
                                    {(folder_error)}="folderError"
        ></ggrc-gdrive-folder-picker>
    {{^if_null instance._mandatory_attachment_msg}}
        <div class="alert alert-info alert-dismissible" role="alert">
            {{instance._mandatory_attachment_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        </div>
    {{/if_null}}

    {{#if subLabel}}
        <span class="sub-label">
            {{subLabel}}:
        </span>
    {{/if}}

    <object-list {items}="documents" {empty-message}="noItemsText">
        <editable-document-object-list-item {document}="{.}">
        {{#unless readonly}}
            <unmap-button
                (unmapped)="loadDocuments()"
                {destination}="instance"
                {source}="document">
                <action-toolbar-control>
                <i class="fa fa-trash"></i>
                </action-toolbar-control>
            </unmap-button>
        {{/unless}}
        </editable-document-object-list-item>
    </object-list>

    {{#unless readonly}}
        {{#is_allowed 'update' instance context='for'}}
            <span class="attachments-list-action" rel="tooltip" data-original-title="{{tooltip}}">
                {{#if currentFolder}}
                    <ggrc-gdrive-picker-launcher
                            instance="instance"
                            {items-uploaded-callback}="@loadDocuments"
                            click_event="trigger_upload_parent">
                        Attach
                    </ggrc-gdrive-picker-launcher>
                {{else}}
                    {{#if isNoFolderUploadingAllowed}}
                        <ggrc-gdrive-picker-launcher
                                instance="instance"
                                {items-uploaded-callback}="@loadDocuments"
                                click_event="trigger_upload">
                                Attach
                        </ggrc-gdrive-picker-launcher>
                    {{/if}}
                {{/if}}
            </span>
        {{/is_allowed}}
    {{/unless}}
</related-documents>
