{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

{{> /static/mustache/mockup_base_templates/info_panel/header.mustache}}
<div class="row-fluid">
  <div class="span8">

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/procedures.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/assessment_results.mustache}}
      </div>
    </div>

    <!-- TO-DO: This will go into phase 2
      {{> /static/mustache/mockup_base_templates/info_panel/assessment_custom.mustache}}
    -->

    <div class="row-fluid wrap-row">
      <div class="span3">
        {{> /static/mustache/mockup_base_templates/info_panel/bug_number.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/mapped_objects.mustache}}
      </div>
    </div>

  </div>
  <div class="span4">

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/people_list.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/dates_list.mustache}}
      </div>
    </div>

  </div>
</div>

<div class="tabs-wrap">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">
      Comments {{#if comments}}({{comments.length}}){{/if}}
    </a></li>
    <li><a href="#tab2" data-toggle="tab">
      Attachments
    </a></li>
    <li><a href="#tab3" data-toggle="tab">
      Assessment log
    </a></li>
    <li><a href="#tab4" data-toggle="tab">
      Related assessments
    </a></li>
    <li><a href="#tab5" data-toggle="tab">
      Requests
    </a></li>
    <li><a href="#tab6" data-toggle="tab">
      Issues
    </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <div class="tree-item-add">
        <add-comment data="comments"></add-comment>
      </div>
      {{> /static/mustache/mockup_base_templates/info_panel/comment_list.mustache}}
    </div>
    <div class="tab-pane fade" id="tab2">
      <div class="row-fluid wrap-row">
        <div class="span6">
          <div class="left-spacing">
            <attachment-list title="Evidence" data="comments" types="!url"></attachment-list>
          </div>
        </div>
        <div class="span6">
          <attachment-list title="URL" data="comments" types="url"></attachment-list>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab3">
      {{> /static/mustache/mockup_base_templates/info_panel/log_list.mustache}}
    </div>

    <div class="tab-pane fade" id="tab4">
      {{> /static/mustache/mockup_base_templates/info_panel/past_items_list.mustache}}
    </div>

    <div class="tab-pane fade bottom-spacing" id="tab5">
      {{> /static/mustache/mockup_base_templates/info_panel/requests_list.mustache}}
    </div>

    <div class="tab-pane fade bottom-spacing" id="tab6">
      {{> /static/mustache/mockup_base_templates/info_panel/issues_list.mustache}}
    </div>

  </div>
</div>
