{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#each views}}
<li {{#active}}class="active"{{/active}}>
    <a href="#{{title}}">
        <i class="fa fa-{{icon}} color"></i>
        {{title}} {{#if children}}({{children.length}}){{/if}}
    </a>
</li>
{{/each}}
