{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

{{> /static/mustache/mockup_base_templates/info_panel/header.mustache}}
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/description.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span6">
        <div class="left-spacing">
          <attachment-list title="Evidence" button="Attach Evidence" data="comments" icon="attach" types="!url"></attachment-list>
        </div>
      </div>
      <div class="span6">
        <attachment-list title="URL" button="+ Add URL" data="comments" types="url"></attachment-list>
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/mapped_objects.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span6">
        {{> /static/mustache/mockup_base_templates/info_panel/test.mustache}}
      </div>
      <div class="span6">
        {{> /static/mustache/mockup_base_templates/info_panel/notes.mustache}}
      </div>
    </div>

  </div>
  <div class="span4">

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/people_list.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/dates_list.mustache}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/code.mustache}}
      </div>
    </div>

    <!--<div class="row-fluid wrap-row">
      <div class="span12">
        {{> /static/mustache/mockup_base_templates/info_panel/request_type.mustache}}
      </div>
    </div>-->

  </div>
</div>

<div class="tabs-wrap">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">
      Comments and Responses ({{comments.length}})
    </a></li>
    <li><a href="#tab2" data-toggle="tab">
      Request log
    </a></li>
    <li><a href="#tab3" data-toggle="tab">
      Related responses
    </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <div class="tree-item-add">
        <add-comment data="comments"></add-comment>
      </div>
      {{> /static/mustache/mockup_base_templates/info_panel/comment_list.mustache}}
    </div>
    <div class="tab-pane fade" id="tab2">
      {{> /static/mustache/mockup_base_templates/info_panel/log_list.mustache}}
    </div>

    <div class="tab-pane fade" id="tab3">
      {{> /static/mustache/mockup_base_templates/info_panel/past_items_list.mustache}}
    </div>

  </div>
</div>
