{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}
{{#instance}}
  <header class="header sticky sticky-header tree-header">
    <div class="row-fluid">
      <div class="span4">
        <div class="title-heading oneline">
          <span class="widget-col-title" data-field="title">
            {{title}} Title
            <i class="fa fa-caret-up"></i>
          </span>
        </div>
      </div>
      <div class="span4">
        <div class="row-fluid">
          <div class="span12">
            <div class="oneline">
              <span class="widget-col-title" data-field="status">
                Status
                <i class="fa fa-caret-up"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="span4">
        <ul class="tree-action-list">
          <li>
            <a href="#QuickWorkflowCreate" data-toggle="modal">
              <i class="fa fa-list-alt"></i>
            </a>
          </li>
          <li class="filter-trigger">
            <a href="javascript://" class="active">
              <i class="fa fa-search" rel="tooltip" data-placement="left" title="" data-original-title="Hide Filter"></i>
            </a>
          </li>
          <tree-header-selector>
            <li>
              <a href="#" class="dropdown-toggle tview-dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-form">
                <a class="pull-right close-dropdown"><i class="fa fa-times black"></i></a>
                <h5>Set visible fields for Audit</h5>
                <ul class="attr-list">
                  <li class="disabled">
                    <label class="checkbox-inline" title="Title">
                      <input type="checkbox" checked="checked" disabled="" value="title"
                      class="notify-wrap attr-checkbox mandatory">
                      Title
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Audit Lead">
                      <input type="checkbox" value="audit_lead" class="notify-wrap attr-checkbox ">
                      Audit Lead
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Code">
                      <input type="checkbox" value="slug" class="notify-wrap attr-checkbox ">
                      Code
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Status">
                      <input type="checkbox" checked="checked" value="status" class="notify-wrap attr-checkbox ">
                      Status
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Last Updated">
                      <input type="checkbox" value="updated_at" class="notify-wrap attr-checkbox ">
                      Last Updated
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Start Date">
                      <input type="checkbox" value="start_date" class="notify-wrap attr-checkbox ">
                      Start Date
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="End Date">
                      <input type="checkbox" value="end_date" class="notify-wrap attr-checkbox ">
                      End Date
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Report Period">
                      <input type="checkbox" value="report_period" class="notify-wrap attr-checkbox ">
                      Report Period
                    </label>
                  </li>
                  <li class="">
                    <label class="checkbox-inline" title="Audit Firm">
                      <input type="checkbox" value="audit_firm" class="notify-wrap attr-checkbox ">
                      Audit Firm
                    </label>
                  </li>
                </ul>
                <a class="btn btn-small btn-info set-tree-attrs" href="javascript://">Set fields</a>
              </div>
            </li>
          </tree-header-selector>
          <tree-type-selector>
            <li>
              <a href="#" class="dropdown-toggle tview-type-toggle" data-toggle="dropdown">
                <i class="fa fa-share-alt"></i>
              </a>
              <div class="dropdown-menu dropdown-menu2 dropdown-menu-form">
                <a class="pull-right close-dropdown"><i class="fa fa-times black"></i></a>
                <h5>
                  Select child tree object type for:
                  <select class="input-medium object-type-selector">
                    <option value="Audit" label="Audit" selected="selected">
                    </option>
                    <option value="Clause" label="Clause">
                    </option>
                    <option value="Contract" label="Contract">
                    </option>
                    <option value="Control" label="Control">
                    </option>
                    <option value="Assessment" label="Assessment">
                    </option>
                    <option value="DataAsset" label="Data Asset">
                    </option>
                    <option value="Facility" label="Facility">
                    </option>
                    <option value="Issue" label="Issue">
                    </option>
                    <option value="Market" label="Market">
                    </option>
                    <option value="Objective" label="Objective">
                    </option>
                    <option value="OrgGroup" label="Org Group">
                    </option>
                    <option value="Person" label="Person">
                    </option>
                    <option value="Policy" label="Policy">
                    </option>
                    <option value="Process" label="Process">
                    </option>
                    <option value="Product" label="Product">
                    </option>
                    <option value="Program" label="Program">
                    </option>
                    <option value="Project" label="Project">
                    </option>
                    <option value="Regulation" label="Regulation">
                    </option>
                    <option value="Section" label="Section">
                    </option>
                    <option value="Standard" label="Standard">
                    </option>
                    <option value="System" label="System">
                    </option>
                    <option value="Vendor" label="Vendor">
                    </option>
                  </select>
                </h5>
                <ul class="select-clear-all">
                  <li>
                    <a href="javascript://" class="select-all">Select all </a>
                  </li>
                  <li>
                    <a href="javascript://" class="select-none">Select none </a>
                  </li>
                </ul>
                <ul class="model-list">
                  <li>
                    <label class="checkbox-inline" title="Control">
                      <input type="checkbox" value="Control" class="notify-wrap model-checkbox">
                      Control
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline" title="Assessment">
                      <input type="checkbox" value="Assessment" class="notify-wrap model-checkbox">
                      Assessment
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline" title="Issue">
                      <input type="checkbox" value="Issue" class="notify-wrap model-checkbox">
                      Issue
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline" title="Person">
                      <input type="checkbox" value="Person" class="notify-wrap model-checkbox">
                      Person
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline" title="Program">
                      <input type="checkbox" value="Program" class="notify-wrap model-checkbox">
                      Program
                    </label>
                  </li>
                  <li>
                    <label class="checkbox-inline" title="Request">
                      <input type="checkbox" value="Request" class="notify-wrap model-checkbox">
                      Request
                    </label>
                  </li>
                </ul>
                <a class="btn btn-small btn-info set-display-object-list" href="javascript://">Set Visibility</a>
              </div>
            </li>
          </tree-type-selector>
        </ul>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  <ul class="tree-structure new-tree base-tree-view"></ul>
{{/instance}}

{{> /static/mustache/quick-workflow/workflow_modal.mustache }}
