{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<div class="item-main {{#if active}}active{{/if}}" data-model="true">
  <div class="item-wrap">
    {{#if children}}
    <div class="openclose">
      <span class="status-label status-{{state_color}}"></span>
      <i class="fa fa-caret-right"></i>
    </div>
    {{/if}}
    <div class="select">
      <div class="item-data">
        <div class="row-fluid">
          <div class="span6">
            <div class="title tree-title-area" rel="tooltip" data-placement="left" title=""
            data-original-title="{{title}}">
              {{^if_equals type "workflow"}}
                <i class="fa fa-{{icon}}"></i>
              {{/if_equals}}
              {{title}}
            </div>
          </div>
          {{#if_equals type 'workflow'}}
            <div class="span2">
              <div class="row-fluid">
                <div class="span12">
                  <div class="owner tree-title-area">
                    {{due_on}}
                  </div>
                </div>
              </div>
            </div>
          {{/if_equals}}

          {{#if_equals type "workflow"}}
            <div class="span4">
              <ul class="tree-action-list">
                <li>
                  <div class="request-control">
                    <cycle-end-cycle cycle="instance">
                      <button class="btn btn-draft btn-small end-cycle">End Cycle</button>
                    </cycle-end-cycle>
                  </div>
                </li>
              </ul>
            </div>
          {{/if_equals}}
          {{#if_equals type "task_group"}}
            <div class="span6">
              <ul class="tree-action-list">
                <li>
                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                    <i class="fa fa-calendar-check-o"></i>
                    <strong>1</strong>
                  </span>
                </li>
                <li>
                  <div class="request-control">
                    <button class="btn btn-mini btn-info change-task-status " data-openclose="open" data-name="status" data-value="InProgress">Start</button>
                  </div>
                </li>
              </ul>
            </div>
          {{/if_equals}}
          {{#if_equals type "task"}}
            <div class="span6">
              <ul class="tree-action-list tasks-action">
                <li>
                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of comments">
                    <i class="fa fa-comment-o"></i>
                    <strong class="error">0</strong>
                  </span>
                </li>
                <li>
                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of objects">
                    <i class="fa fa-list-alt"></i>
                    <strong class="error">1</strong>
                  </span>
                </li>
                <li>
                  <div class="request-control">
                    <button class="btn btn-mini btn-info change-task-status " data-openclose="open" data-name="status" data-value="InProgress">Start</button>
                  </div>
                </li>
              </ul>
            </div>
          {{/if_equals}}
        </div>
      </div><!-- item-data end -->
    </div><!-- select end -->
  </div><!-- item-wrap end -->
</div><!-- item-main end -->

{{#if children}}
  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">
      <div class="inner-tree">
        <ul class="tree-structure new-tree"></ul>
      </div>
    </div>
  </div>
{{/if}}
