{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="mapped-objects__item {{#if isSnapshot}}mapped-snapshot-item{{/if}}">
    <div class="mapped-objects__item-body">
        <div class="title">
            <i class="fa {{iconCls}}"></i>
          {{{itemTitle}}}
        </div>
        <content></content>
    </div>
</div>
