{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="comment-object-item">
    <div class="comment-object-item__author">
      {{#if commentAuthor}}
        <person-list-item {person}="commentAuthor"></person-list-item>
      {{/if}}
      <span class="comment-object-item__author_info">{{assignee_types commentAuthorType}} {{date commentCreationDate}}</span>
    </div>
  {{#if hasRevision}}
      <div class="comment-list__ca-description">{{customAttributeData}}</div>
  {{/if}}
    <div class="comment-object-item__text">
     <read-more {text}="commentText"></read-more>
    </div>
</div>
