{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

{{#instance}}
  <section class="info">
    {{#is_info_pin}}
    <div class="clearfix">
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
      <div class="tier-content pin">
        {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
      </div>
    </div>
    {{/is_info_pin}}

    {{#is_allowed 'update' instance context='for'}}
      <div class="details-wrap">
        <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
        <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
          {{#is_allowed 'update' instance context='for'}}
            <li>
              <a href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{instance.class.model_singular}}" data-object-plural="{{instance.class.table_plural}}" data-object-id="{{instance.id}}">
                <i class="grcicon-edit"></i>
                Edit {{instance.class.title_singular}}
              </a>
            </li>
          {{/is_allowed}}
          <li>
            <clipboard-link title="Get permalink" notify="true" text="{{get_permalink}}" />
          </li>
          {{#is_allowed 'update' instance context='for'}}
          {{#with_mapping 'related_audits' instance}}
          {{#using control=control}}
          {{#with_create_issue_json instance}}
            <li class="border">
                <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Issue" data-object-plural="issues" data-object-params='{{create_issue_json}}'>
                  <i class="grcicon-add-black"></i>
                  Create Issue
                </a>
            </li>
            <li class="border">
                <a href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-params='{{create_issue_json}}'>
                  <i class="grcicon-add-black"></i>
                  Create Request
                </a>
            </li>
          {{/with_create_issue_json}}
          {{/using}}
          {{/with_mapping}}
          {{/is_allowed}}
          {{#with_page_object_as 'page_instance'}}
            {{#is_allowed_to_map page_instance instance}}
              {{^options.is_in_selector}}
                {{> /static/mustache/base_objects/unmap.mustache}}
              {{/options}}
            {{/is_allowed_to_map}}
          {{/with}}
          {{#if instance.viewLink}}
            {{#is_allowed "view_object_page" instance}}
              <li>
                <a href="{{instance.viewLink}}">
                  <i class="grcicon-goto"></i>
                  View {{instance.class.title_singular}}
                </a>
              </li>
            {{/is_allowed}}
          {{/if}}

          {{#is_allowed 'delete' instance}}
            <li>
              <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                <i class="grcicon-deleted"></i>
                Delete
              </a>
            </li>
          {{/is_allowed}}
        </ul>
      </div>
    {{/is_allowed}}

    <div class="tier-content">
      {{^is_info_pin}}
        {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
      {{/is_info_pin}}
      {{{render '/static/mustache/base_objects/description.mustache' instance=instance}}}

      <div class="row-fluid wrap-row" {{#instance}}{{data 'model'}}{{/instance}} data-force-refresh="true" data-model="true" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
        <div class="span6">
          {{{render '/static/mustache/base_objects/test_plan.mustache' instance=instance}}}
        </div>
        <div class="span3">
          <h6>Conclusion: Design</h6>
          <p><small><em>Is this control design effective?</em></small></p>
          {{#is_allowed 'update' instance context='for'}}
            <select class="input-medium visual-selector" name="design">
              <option value="" {{#if_equals design ""}}selected{{/if_equals}}>---</option>
              {{#iterate 'Effective' 'Ineffective' 'Needs improvement' 'Not Applicable'}}
                <option {{#if_equals iterator design}}selected="true"{{/if_equals}}>{{iterator}}</option>
              {{/iterate}}
            </select>
          {{else}}
            {{firstnonempty design '--'}}
          {{/is_allowed}}
        </div>
        <div class="span3">
          <h6>Conclusion: Operation</h6>
          <p><small><em>Is this control operationally effective?</em></small></p>
          {{#is_allowed 'update' instance context='for'}}
            <select class="input-medium visual-selector" name="operationally">
              <option value="" {{#if_equals operationally ""}}selected{{/if_equals}}>---</option>
              {{#iterate 'Effective' 'Ineffective' 'Needs improvement' 'Not Applicable'}}
                <option {{#if_equals iterator operationally}}selected="true"{{/if_equals}}>{{iterator}}</option>
              {{/iterate}}
            </select>
          {{else}}
            {{firstnonempty operationally '--'}}
          {{/is_allowed}}
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span6">
          {{{render '/static/mustache/base_objects/notes.mustache' instance=instance}}}
        </div>
        <div class="span6">
          <ul class="repeated-utility">
            {{#is_allowed 'update' instance context='for'}}
            {{#with_mapping 'related_audits' instance}}
            {{#using control=control}}
            {{#with_create_issue_json instance}}
            <li>
                <a class="btn btn-small btn-info" href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Issue" data-object-plural="issues" data-object-params='{{create_issue_json}}'>
                  Create Issue
                </a>
            </li>
            <li>
                <a class="btn btn-small btn-info" href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-params='{{create_issue_json}}'>
                  Create Request
                </a>
            </li>
            {{/with_create_issue_json}}
            {{/using}}
            {{/with_mapping}}
            {{/is_allowed}}
          </ul>
        </div>
      </div>
      {{{render '/static/mustache/base_objects/contacts.mustache' instance=instance}}}
      {{{render '/static/mustache/base_objects/urls.mustache' is_program=true instance=instance}}}

      <div class="custom-attr-wrap">
        <div class="row-fluid">
          <div class="span12">
            <div class="info-expand">
              <a class="show-hidden-fields info-show-hide" href="javascript://">
                <span class="out">
                  <i class="grcicon-arrow-right"></i>
                  Show
                </span>
                <span class="in">
                  <i class="grcicon-arrow-bottom"></i>
                  Hide
                </span>
                Advanced
              </a>
            </div>
          </div>
        </div><!-- row-fluid end -->
        <div class="hidden-fields-area" style="display:none;">
          <div class="row-fluid wrap-row">
            <div class="span4">
              <h6>Code</h6>
              <p>
                {{slug}}
              </p>
            </div>
            <div class="span4">
              <h6>Effective Date</h6>
              <p>
                {{localize_date start_date}}
              </p>
            </div>
            <div class="span4">
              <h6>Stop Date</h6>
              <p>
              {{localize_date end_date}}
              </p>
            </div>
          </div><!-- row-fluid end -->
        </div><!-- hidden-fields-area end -->
      </div><!-- custom-attr-wrap end -->
    </div><!-- tier-content end -->

  {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
