{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

{{#is_allowed_to_map parent_instance model.shortName}}
{{#if allow_mapping_or_creating}}
    <a
      class="section-add"
      href="javascript://"
      rel="tooltip"
      data-placement="left"
      data-toggle="modal-ajax-form"
      data-modal-class="modal-wide"
      data-object-singular="ControlAssessment"
      data-object-plural="control_assessments"
      data-object-singular-override=""
      data-object-params='{ "{{parent_instance.class.table_singular}}": { "id" : {{parent_instance.id}}, "type": "{{parent_instance.type}}", "title" : "{{parent_instance.title}}" }, "context": { "id" : {{firstexist parent_instance.context.id "null"}}, "href" : "{{parent_instance.context.href}}", "type" : "{{parent_instance.context.type}}" } }'
      data-original-title="Map Control Assessment to this Audit"
      data-target="#ajax-modal-javascript:--"
      >
      <i class="grcicon-add-black"></i>
    </a>
{{/if}}
{{/is_allowed_to_map}}
