{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<header class="header tree-header no-filter">
  <div class="row-fluid">
    <div class="span{{display_options.title_width}}">
      <div class="title-heading oneline">
          Object Type
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>
