-extends 'layouts/_widget_box.haml'

-set all_role_assignments = authorized_users_for(instance.context)

-block widget_title
  Authorizations

-block widget_help
  program_role_assignments

-block widget_id
  program_role_assignments_widget

-block main
  %ul.tree-structure.simple
    %li.tab-title-holder
      .item-main
        .item-title
          .row-fluid
            .span12
              .js-list-container-title
                %h3.tab-title
                  People
                  %a.pull-right{ 'href': 'javascript://', 'data-toggle': 'modal-selector', 'data-modal-selector-options': 'object_people', 'data-list-target': '#personList', 'data-modal-class': 'modal-wide', 'rel': 'tooltip', 'data-placement': 'left', 'title': 'Authorize People' }
                    %i.grcicon-link

  %ul#personList.tree-structure{ 'data-template-id': 'person-list-item' }
    -for email,assignments in all_role_assignments.items()
      %li{ 'data-id': '={ email }' }
        .item-main
          .item-title
            .row-fluid
              .span12
                .oneline
                  %span.addition-info
                    =email
                  %span.role
                    =assignments|join(', ', attribute='name')

