{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch type}}
  {{#case 'input'}}
    <text-form-field {value}="value"
                     {field-id}="id"
                     {placeholder}="placeholder"
                     {disabled}="disabled"
                     (value-changed)="fieldValueChanged(%event)"
    ></text-form-field>
  {{/case}}
  {{#case 'text'}}
    <rich-text-form-field {value}="value"
                          {field-id}="id"
                          {placeholder}="placeholder"
                          {disabled}="disabled"
                          (value-changed)="fieldValueChanged(%event)"
    ></rich-text-form-field>
  {{/case}}
  {{#case 'checkbox'}}
    <checkbox-form-field {value}="value"
                         {field-id}="id"
                         {disabled}="disabled"
                         (value-changed)="fieldValueChanged(%event)"
    ></checkbox-form-field>
  {{/case}}
  {{#case 'dropdown'}}
    <dropdown-form-field {value}="value"
                         {options}="options"
                         {field-id}="id"
                         {disabled}="disabled"
                         (value-changed)="fieldValueChanged(%event)"
    ></dropdown-form-field>
  {{/case}}
  {{#case 'date'}}
    <date-form-field {value}="value"
                     {field-id}="id"
                     {disabled}="disabled"
                     (value-changed)="fieldValueChanged(%event)"
    ></date-form-field>
  {{/case}}
  {{#case 'person'}}
    <person-form-field {value}="value"
                       {field-id}="id"
                       {disabled}="disabled"
                       (value-changed)="fieldValueChanged(%event)"
    ></person-form-field>
  {{/case}}
{{/switch}}
