{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<heat-map>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="row-fluid">
              <div class="span12 full-width">
                <div class="inner-content">
                  <section class="widget">
                    <header class="header">
                      <h2>Risk Assessment Heat Map</h2>
                    </header>
                    <div class="clearfix"></div>
                    <section class="content">
                      <section class="info">
                        <div class="heat-map-wrap">
                          <div class="map-description">
                            Inherent Risk
                          </div>
                          <div class="map-num">
                            <ul>
                              <li>5</li>
                              <li>4</li>
                              <li>3</li>
                              <li>2</li>
                              <li>1</li>
                            </ul>
                          </div>
                          <div class="map-grid">
                            <div class="map-grid-item green" href="#RAMapping" data-toggle="modal">
                              <ul class="risks-list" id="RAList">
                                <li>
                                  <span>Risk 1</span>
                                  <a href="#"><i class="grcicon-deleted"></i></a>
                                </li>
                                <li>
                                  <span>Risk 4</span>
                                  <a href="#"><i class="grcicon-deleted"></i></a>
                                </li>
                              </ul>
                              <span class="legend" id="removeLegend">L</span>
                            </div>
                            <div class="map-grid-item yellow"><span class="legend">M</span></div>
                            <div class="map-grid-item orange"><span class="legend">MH</span></div>
                            <div class="map-grid-item red"><span class="legend">H</span></div>
                            <div class="map-grid-item red"><span class="legend">H</span></div>
                            <div class="map-grid-item green"><span class="legend">L</span></div>
                            <div class="map-grid-item olive"><span class="legend">ML</span></div>
                            <div class="map-grid-item yellow"><span class="legend">M</span></div>
                            <div class="map-grid-item orange"><span class="legend">MH</span></div>
                            <div class="map-grid-item orange"><span class="legend">MH</span></div>
                            <div class="map-grid-item green"><span class="legend">JH</span></div>
                            <div class="map-grid-item green"><span class="legend">L</span></div>
                            <div class="map-grid-item olive"><span class="legend">ML</span></div>
                            <div class="map-grid-item yellow"><span class="legend">M</span></div>
                            <div class="map-grid-item yellow"><span class="legend">M</span></div>
                            <div class="map-grid-item green"><span class="legend">JMH</span></div>
                            <div class="map-grid-item green"><span class="legend">JH</span></div>
                            <div class="map-grid-item green"><span class="legend">L</span></div>
                            <div class="map-grid-item olive"><span class="legend">ML</span></div>
                            <div class="map-grid-item olive"><span class="legend">ML</span></div>
                            <div class="map-grid-item green"><span class="legend">JM</span></div>
                            <div class="map-grid-item green"><span class="legend">JMH</span></div>
                            <div class="map-grid-item green"><span class="legend">JH</span></div>
                            <div class="map-grid-item green"><span class="legend">L</span></div>
                            <div class="map-grid-item green"><span class="legend">L</span></div>
                          </div>
                          <div class="map-legend">
                            <ul>
                              <li>H</li>
                              <li>MH</li>
                              <li>M</li>
                              <li>ML</li>
                              <li>L</li>
                            </ul>
                          </div>
                          <div class="map-description">
                            Inherent Risk
                          </div>
                          <div class="map-grid-legend">
                            <ul>
                              <li>
                                4
                                <span class="legend-text">Very Strong</span>
                              </li>
                              <li>
                                3
                                <span class="legend-text">Reasonably Strong</span>
                              </li>
                              <li>
                                2
                                <span class="legend-text">Somewhat Strong</span>
                              </li>
                              <li>
                                1
                                <span class="legend-text">Somewhat Weak</span>
                              </li>
                              <li>
                                0
                                <span class="legend-text">None</span>
                              </li>
                            </ul>
                          </div>
                          <div class="map-description bottom">
                            Control Strength
                          </div>
                        </div>
                        <div class="clearfix">
                          <a id="RAGenerate" class="btn btn-small btn-success pull-right" href="javascript://">
                            Generate risk assessment
                          </a>
                        </div>
                      </section>
                    </section><!-- content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</heat-map>
