{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date createdAt}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by <person-info {person-obj}="modifiedBy"></person-info> on {{date modifiedAt}}
        </em>
      </small>
    </p>
  </div>
