<div class="row-fluid">
  <div data-id="test_plan_hidden" class="span6 hidable">
    <label>
      Assessment Procedure
      <i class="fa fa-question-circle" rel="tooltip" title="Provide an assessment procedure for this {{model.model_singular}}."></i>
      <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
    </label>
    <div class="wysiwyg-area">
      <textarea id="control_test_plan" class="span12 triple wysihtml5" name="test_plan" placeholder="Enter Assessment Procedure">{{instance.test_plan}}</textarea>
    </div>
  </div>
</div>
