{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<ul class="tree-structure simple">
  {{#list}}
    <li {{data 'model'}} data-model="true" class="control">
      <div class="item-main" content_id="{{content_id}}">
        {{{renderLive show}}}
      </div>
    </li>
  {{/list}}
</ul>
