<!--
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
-->

  <div class="content">
  	{{#instance}}
    <div>
      <span class="title">
        <strong>{{title}}</strong>
      </span>
      <span class="code">
        {{prefix}} {{slug}}
      </span>
      <div class="rtf">
        {{{with_line_breaks description}}}
      </div>
    </div>
    {{/instance}}
    {{^instance}}
    	Nothing selected
    {{/instance}}
  </div>
