  <div class="content">
  	{{#instance}}
    <div>
      <span class="title">
        <strong>{{title}}</strong>
      </span>
      <span class="code">
        {{prefix}} {{slug}}
      </span>
      <div class="rtf">
        {{{with_line_breaks description}}}
      </div>
    </div>
    {{/instance}}
    {{^instance}}
    	Nothing selected
    {{/instance}}
  </div>
