{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: peter@reciprocitylabs.com
  Maintained By: peter@reciprocitylabs.com
}}

<div class="{{className}} objective-selector autocomplete--wrapper">
  <input type="text"
    data-lookup="{{searchItemsType}}"
    null-if-empty="true"
    {{#if disable}}disabled{{/if}}
    data-no-automap="{{automappingOff}}"
    class="{{^if context.isEdit}}input-block-level{{/if}} autocomplete--input"
    placeholder="{{placeholder}}">
</div>
