{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
<div class="row-fluid wrap-row">
  <div data-test-id="title_manager_7a906d2e" class="span6">
    {{#if is_program}}
    <h6>Manager</h6>
    <p class="oneline">
      {{#with_mapping 'authorizations' instance}}
        {{#if authorizations.length}}
          {{#each authorizations}}
            <span>
              {{#using role=instance.role}}
                {{#if_equals role.name 'ProgramOwner'}}
                  {{#using contact=instance.person}}
                    {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
                  {{/using}}
                {{/if_equals}}
              {{/using}}
            </span>
          {{/each}}
        {{else}}
          <span class="empty-message">None</span>
        {{/if}}
      {{/with_mapping}}
    {{/if}}
    </p>
    <access-control-list
        instance="."
        autosave="true"
        top-wrapper-class="'span12'">
    </access-control-list>
  </div>
</div>

{{/instance}}
