{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{! dashboard object listing}}
<ul class="tree-structure new-tree">
{{#list}}
  <li class="tree-item {{class.table_singular}}" data-model="true">
    <div class="item-main" {{data 'model'}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                {{title}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{^contact}}
                <i class="fa fa-person red"></i>
              {{/contact}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">
          <div class="span6">
            <a href="{{viewLink}}" class="info-action">
              <i class="grcicon-goto"></i>
              View {{class.title_singular}}
            </a>
          </div>

          {{! UNMAP
          <div class="span6">
            <a href="javascript://" class="info-action unmap pull-right">
              <i class="grcicon-remove"></i>
              Unmap
            </a>
          </div>
          }}

        </div>

        {{#description}}
        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description short" {{(el) -> console.log(el.scrollHeight)}}>
                {{{description}}}
              </div>
              {{{show_long}}}
            </div>
          </div>
        </div>
        {{/description}}

        {{{render '/static/mustache/base_objects/contacts.mustache' instance=this}}}
        {{#url}}
        <div class="row-fluid">
          <div class="span6">
            <div class="tree-info">
              <strong>URL:</strong>
                <a class="url" href="{{schemed_url url}}" target="_blank">
                  {{url}}
                </a>
            </div>
          </div>
        </div>
        {{/url}}
      </div>
    </div>
  </li>
{{/list}}

  <li class="tree-item tree-item-add">
    <div class="row-fluid">
      <div class="span12 section-expandable">

        {{#if_instance_of parent_instance "Program"}}
          <a
            href="javascript://"
            rel="tooltip"
            data-placement="left"
            data-toggle="unified-mapper"
            data-modal-selector-options="program_controls"
            data-modal-class="modal-wide"
            data-original-title="Map {{model.title_singular}} to this {{parent_instance.class.shortName}}"
            data-join-object-id="{{parent_instance.id}}"
            data-join-object-type="{{parent_instance.class.shortName}}">
            + {{model.title_singular}}
          </a>
        {{else}}
          {{#if_instance_of parent_instance 'Directive'}}
            <a href="javascript://" class="section-add">
              + Control
            </a>
            <span class="section-expander">
              <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-dirty="#category_controls, #combo" data-route="category_controls" data-modal-class="modal-wide" data-object-singular="Control" data-object-plural="controls">
                <i class="fa fa-plus-circle"></i>
                Create Control
              </a>
            </span>
          {{/if_instance_of}}
        {{/if_instance_of}}
      </div>
    </div>
  </li>
</ul>
