{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{> /static/mustache/base_objects/dropdown_menu_tier2.mustache}}

<div class="tier-content">
  {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance }}}
  {{{renderLive '/static/mustache/base_objects/notes_and_code.mustache' instance=instance}}}
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
  {{{renderLive '/static/mustache/base_objects/contacts.mustache' instance=instance}}}
  {{{renderLive '/static/mustache/base_objects/urls.mustache' instance=instance }}}
</div>
