{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


{{#switch attr_name}}
  {{#case 'owner'}}
    {{#if owners.length}}
      {{#using contacts=owners}}
        {{#contacts}}
          {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
        {{/contacts}}
      {{/using}}
    {{/if}}
  {{/case}}
  {{#case 'contact'}}
    <span>
      {{#using contact=instance.contact}}
        {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
      {{/using}}
    </span>
  {{/case}}
  {{#case 'secondary_contact'}}
    <span>
      {{#using contact=instance.secondary_contact}}
        {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
      {{/using}}
    </span>
  {{/case}}
  {{#case 'principal_assessor'}}
    <span>
      {{#using contact=instance.principal_assessor}}
        {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
      {{/using}}
    </span>
  {{/case}}
  {{#case 'secondary_assessor'}}
    <span>
      {{#using contact=instance.secondary_assessor}}
        {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
      {{/using}}
    </span>
  {{/case}}
  {{#case 'kind'}}
    {{#using kind=instance.kind}}
      {{kind.title}}
    {{/using}}
  {{/case}}
  {{#case 'fraud_related'}}
    {{#if_equals instance.fraud_related "0"}}
      No
    {{/if}}
    {{#if_equals instance.fraud_related "1"}}
      Yes
    {{/if}}
  {{/case}}
  {{#case 'significance'}}
    {{#if_equals instance.key_control "1"}}
      Key
    {{/if}}
    {{#if_equals instance.key_control "0"}}
      Non-Key
    {{/if}}
  {{/case}}
  {{#case 'means'}}
    {{#using means=instance.means}}
      {{means.title}}
    {{/using}}
  {{/case}}
  {{#case 'frequency'}}
    {{#using verify_frequency=instance.verify_frequency}}
      {{verify_frequency.title}}
    {{/using}}
  {{/case}}
  {{#case 'assertions'}}
    {{#using items=instance.assertions}}
      {{#items}}
        {{name}} &nbsp;
      {{/items}}
    {{/using}}
  {{/case}}
  {{#case 'categories'}}
    {{#using items=instance.categories}}
      {{#items}}
        {{name}} &nbsp;
      {{/items}}
    {{/using}}
  {{/case}}
  {{#case 'last_assessment_date'}}
    <last-assessment-date instance="instance"/>
  {{/case}}

  {{#default}}
    {{#if_helpers '\
    #if_equals' attr_name 'url' '\
    or #if_equals' attr_name 'reference_url'}}
      <a class="url" href="{{get_url_value attr_name instance}}" target="_blank">
        {{get_default_attr_value attr_name instance}}
      </a>
    {{else}}
      {{get_default_attr_value attr_name instance}}
    {{/if_helpers}}
  {{/default}}
{{/switch}}
