{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="control">
    <div class="item-main" {{data 'model'}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                {{instance.title}}
                {{#infer_roles instance}}
                  <span class="role">
                    {{.}}
                  </span>
                {{/infer_roles}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{^instance.contact}}
                <i class="grcicon-people-warning"></i>
              {{/instance.contact}}
            </div>
          </div>
        </div>
      </a>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        <div class="row-fluid">

          <div class="span6">
          {{#if instance.viewLink}}
            <a href="{{instance.viewLink}}" class="info-action">
              View {{instance.class.title_singular}}
              <i class="grcicon-goto"></i>
            </a>
          {{/if}}
          </div>

          <div class="span6">
          {{#if mappings}}
          {{#is_allowed_all 'delete' mappings}}
          {{^is_dashboard}}
            <a href="javascript://" class="info-action unmap pull-right" data-toggle="unmap">
              {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
              <i class="grcicon-remove"></i>
              {{unmap_or_delete instance mappings}}
            </a>
          {{/is_dashboard}}
          {{/is_allowed_all}}
          {{/if}}
          </div>

        </div>

        {{#instance.description}}
          <div class="show-description">
            <div class="row-fluid">
              <div class="span12">
                <div class="tree-description short">
                  {{{instance.description}}}
                </div>
                {{{show_long}}}
              </div>
            </div>
          </div>
        {{/instance.description}}

        {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}

        {{{renderLive '/static/mustache/base_objects/contacts.mustache' instance=instance}}}
        
        <div class="row-fluid">
          <div class="span6">
            <div class="tree-info">
              <strong>URL:</strong>
              {{#if instance.url}}
                <a class="url" data-popover-trigger="sticky-hover" data-sticky-popover="true" data-content="{{renderLive '/static/mustache/pbc/iframe_tooltip.mustache' url=instance.url}}" href="{{schemed_url instance.url}}" target="_blank">
                  {{instance.url}}
                </a>
              {{else}}
                <i>No URL</i>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            <h6>Mapped Objects ({{child_count}})</h6>
            {{#child_options}}
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/prune_context}}
      {{/if}}

    </div>
    {{/if}}
  </li>
