{{!
Copyright (C) 2017 Google Inc.
Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
`}}

{{#baseInstance}}
<related-objects {base-instance}="baseInstance" {predefined-filter}="relatedIssuesFilter" related-items-type="Issue">
    <div class="grid-data__toolbar flex-box">
        <tree-pagination {paging}="paging" class="grid-data__toolbar-item"></tree-pagination>
        {{^if baseInstance.archived}}
                <add-issue-button {snapshots}="allRelatedSnapshots" {related-instance}="baseInstance" class="grid-data__toolbar-item"></add-issue-button>
        {{/if}}
    </div>
    <div class="grid-data-header flex-row flex-box">
        <div class="flex-size-2">
            Title
        </div>
        <div class="flex-size-3">
            Description
        </div>
    </div>
    <div class="grid-data-body {{#isLoading}}loading{{/isLoading}}">
        <object-list {items}="relatedObjects" {is-loading}="isLoading" spinner-css="grid-spinner">
            <div class="grid-data-row flex-row flex-box">
                <div class="flex-size-2">
                    <a href="{{instance.viewLink}}" target="_blank" class="grid-data-item__title-cell">
                      {{instance.title}}
                    </a>
                </div>
                <div class="flex-size-3">
                    <read-more {text}="instance.description" max-lines-number="2"></read-more>
                </div>
            </div>
        </object-list>
    </div>
</related-objects>
{{/baseInstance}}
