{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="input-wrapper">
  {{#if _value}}
    <div class="person-info-wrapper">
      <a class="person-info-wrapper__remove-value" href="#" ($click)="unsetPerson">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <person-data {person-id}="_value"></person-data>
    </div>
  {{else}}
    {{^if_config_exist 'external_services.Person'}}
    <autocomplete
      {{#if disabled}}disabled{{/if}}
      search-items-type="Person"
      (item-selected)="setPerson(%event)"
      placeholder="Select person"
    ></autocomplete>
    {{else}}
    <external-data-autocomplete
      {type}="'Person'"
      {placeholder}="'Select person'"
      {min-length}="2"
      (item-selected)="setPerson(%event)">
    </external-data-autocomplete>
    {{/if_config_exist}}
  {{/if}}
</div>
