-# Copyright (C) 2015 Reciprocity, Inc - All Rights Reserved
-# Unauthorized use, copying, distribution, displaying, or public performance
-# of this file, via any medium, is strictly prohibited. All information
-# contained herein is proprietary and confidential and may not be shared
-# with any third party without the express written consent of Reciprocity, Inc.
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-set default_message = "Could not import: verify the file is correctly formatted."

.row-fluid
  %hr.hr-widget

.row-fluid
  .span6
    %h4
      -if exception_message is defined
        %b
          =exception_message.__str__()
      -else
        =default_message
