-# Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-block title
  Import/Export

-block header
  %h1.business
    .grcobject.business
      %i.fa.fa-arrow-circle-o-down.white
    Import {{import_kind}}

-block main
  .clearfix
    .object-area.import-area
      .column-set
        .widget-area
          -include 'risks/_import.haml'
