{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<section class="assessment-module info info-pane{{#is_info_pin}} sticky-info-panel assignable{{/is_info_pin}}">
  <spinner {toggle}="isLoading" class="spinner-wrapper active"></spinner>
  <inline-form-control {instance}="instance" {deferred-save}="deferredSave">
  {{#is_info_pin}}
      <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState"
                        on-close="@onClose"></info-pin-buttons>
  {{/is_info_pin}}
    <div class="tier-content">
      {{> '/static/mustache/assessments/header.mustache' }}
      <tab-container
        {instance}="instance">
          <tab-panel {(panels)}="panels" title-text="Assessment">
        <div class="assessment-info-pane info-pane__body">
            <div class="assessment-attributes info-pane__main-content info-pane__main-content-with-sidebar">
            {{#if showProcedureSection}}
                <div class="info-pane__section info-pane__section-procedure">
                    {{#if instance.test_plan}}
                        <div class="assessment-procedure">
                            <assessment-inline-item
                                type="text"
                                prop-name="test_plan"
                                with-read-more="true"
                                class="width-100"
                                {set-in-progress}="@setInProgressState"
                                {on-state-change-dfd}="onStateChangeDfd"
                                {is-edit-icon-denied}="isEditDenied"
                                {value}="instance.test_plan"
                                {instance}="instance">
                                    <div class="info-pane__section-title">Assessment Procedure</div>
                            </assessment-inline-item>
                        </div>
                    {{/if}}
                    {{#if instance.issue_tracker.issue_url}}
                        {{#if instance.can_use_issue_tracker}}
                            <div class="issue-tracker-url">
                                <a href="{{instance.issue_tracker.issue_url}}" target="_blank">
                                    Ticket
                                </a>
                            </div>
                        {{/if }}
                    {{/if}}
                </div>
            {{/if}}
                <div class="info-pane__section action-toolbar-container">
                    <div class="info-pane__section-title">
                        <div class="action-toolbar">
                            <div class="action-toolbar__content-item">
                                {{assessmentTypeNamePlural}}
                            </div>
                            {{#unless isEditDenied}}
                                <div class="action-toolbar__controls">
                                    <action-toolbar-control>
                                        <map-button-using-assessment-type {instance}="instance">
                                            <confirm-edit-action
                                                (set-edit-mode)="openMapper()"
                                                (set-in-progress)="setInProgressState()"
                                                {is-edit-icon-denied}="isEditDenied"
                                                {instance}="instance"
                                                {on-state-change-dfd}="onStateChangeDfd"
                                                {edit-mode}="editMode">
                                                    <i ($click)="confirmEdit()"
                                                        class="fa fa-code-fork action-toolbar__item-icon">
                                                    </i>
                                            </confirm-edit-action>
                                        </map-button-using-assessment-type>
                                    </action-toolbar-control>
                                </div>
                            {{/unless}}
                        </div>
                    </div>
                    <assessment-mapped-controls
                        class="mapped-objects__list info-pane__section-content"
                        {instance}="instance"
                        {mapped-items}="assessmentTypeObjects"
                        {assessment-type}="instance.assessment_type">
                    </assessment-mapped-controls>
                </div>
                <div class="assessment-controls info-pane__section">
                    <div class="assessment-note">
                      <custom-attributes-status
                                {form-saving}="formState.saving"
                                {is-dirty}="formState.isDirty">
                                <loading-status
                                    {is-loading}="formSaving"
                                    {loading-text}="formStatusText"
                                    always-Show-Text="true"
                                    show-Spinner="true">
                                </loading-status>
                      </custom-attributes-status>
                        <i class="fa fa-question-circle" rel="tooltip"
                           data-original-title="Respond to assessment here. Use comments on the right for free text responses."></i>
                    </div>
                    <div class="assessment-controls__extra-controls">
                        <div>
                            <div class="info-pane__section-title">
                                <spinner class="info-pane__section-title-icon" {toggle}="isUpdatingEvidences"></spinner>
                                Evidence file
                            </div>
                            <object-list {items}="evidences" {empty-message}="noItemsText">
                                <editable-document-object-list-item {document}="{.}">
                                  <confirm-edit-action
                                      (set-edit-mode)="removeRelatedItem(document, 'evidences')"
                                      (set-in-progress)="setInProgressState()"
                                      {is-edit-icon-denied}="isEditDenied"
                                      {instance}="instance"
                                      {on-state-change-dfd}="onStateChangeDfd">
                                          <a ($click)="confirmEdit">
                                              <action-toolbar-control>
                                                  <i class="fa fa-trash"></i>
                                              </action-toolbar-control>
                                          </a>
                                  </confirm-edit-action>
                                </editable-document-object-list-item>
                            </object-list>
                            <confirm-edit-action
                                        (set-in-progress)="setInProgressState()"
                                        {instance}="instance"
                                        {on-state-change-dfd}="onStateChangeDfd"
                                        {edit-mode}="editMode">
                            <attach-button
					{assessment-type-objects}="assessmentTypeObjects"
                                        (before-create)="addItems(%event, 'evidences')"
                                        (refresh-evidences)="updateItems('evidences')"
                                        {is-attach-action-disabled}="isUpdatingEvidences"
                                        {confirmation-callback}="@confirmEdit"
                                        {instance}="instance"></attach-button>
                            </confirm-edit-action>
                        </div>
                        <div>
                            <div class="info-pane__section-title">
                                <spinner class="info-pane__section-title-icon" {toggle}="isUpdatingUrls"></spinner>
                                Evidence URL
                            </div>
                            <object-list {items}="urls" {empty-message}="noItemsText">
                                <editable-document-object-list-item {document}="{.}">
                                    <confirm-edit-action
                                        (set-edit-mode)="removeRelatedItem(document, 'urls')"
                                        (set-in-progress)="setInProgressState()"
                                        {is-edit-icon-denied}="isEditDenied"
                                        {instance}="instance"
                                        {on-state-change-dfd}="onStateChangeDfd">
                                            <a ($click)="confirmEdit">
                                                <action-toolbar-control>
                                                    <i class="fa fa-trash"></i>
                                                </action-toolbar-control>
                                            </a>
                                    </confirm-edit-action>
                                </editable-document-object-list-item>
                            </object-list>
                          {{#unless isEditDenied}}
                            {{#if urlsEditMode}}
                                <create-url
                                    {type}="documentTypes.urls"
                                    {context}="instance.context"
                                    (before-create)="addItems(%event, 'urls')"
                                    (created)="addRelatedItem(%event, 'urls')">
                                    <form class="create-form">
                                        <fieldset class="create-form__layout">
                                            <input {($value)}="value" class="create-form__input" type="text" placeholder="Add URL" spellcheck="false" autocomplete="false">
                                            <div class="create-form__controls">
                                                <button type="button" class="create-form__confirm" ($click)="create; setUrlEditMode(false, 'urls')">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button type="button" class="create-form__cancel" ($click)="clear; setUrlEditMode(false, 'urls')">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </create-url>
                            {{else}}
                                <confirm-edit-action
                                    (set-edit-mode)="setUrlEditMode(true, 'urls')"
                                    (set-in-progress)="setInProgressState()"
                                    {is-edit-icon-denied}="isEditDenied"
                                    {instance}="instance"
                                    {on-state-change-dfd}="onStateChangeDfd">
                                        <button class="btn btn-small btn-gray"
                                            ($click)="confirmEdit()">Add</button>
                                </confirm-edit-action>
                            {{/if}}
                          {{/unless}}
                        </div>
                    </div>
                    <assessment-local-ca
                        {instance}="instance"
                        {deferred-save}="deferredSave"
                        {evidence-amount}="evidences.length"
                        {fields}="formFields"
                        {edit-mode}="editMode"
                        {^saving}="formState.saving"
                        {^is-dirty}="formState.isDirty"
                        (validation-error)="setLastErrorTab(tabIndex)"
                        (validation-changed)="showRequiredInfoModal(%event)">
                      <custom-attributes
                            {fields}="fields"
                            {edit-mode}="editMode"
                            (value-changed)="attributeChanged(%event)">
                      </custom-attributes>
                    </assessment-local-ca>
                    <!-- Modal Window to fix validation issues of CA fields -->
                    {{#if modal.state}}
                      <simple-modal {state}="modal.state"
                                    {modal-title}="modal.modalTitle"
                                    {instance}="instance"
                                    {is-disabled}="isUpdatingEvidences">
                          <ca-object-modal-content {instance}="instance"
                                                   {assessment-type-objects}="assessmentTypeObjects"
                                                   {content}="modal.content"
                                                   {state}="state"
                                                   {evidences}="evidences"
                                                   {is-updating-evidences}="isUpdatingEvidences"
                                                   (before-comment-created)="addItems(%event, 'comments')"
                                                   (after-comment-created)="addRelatedItem(%event, 'comments')"
                          ></ca-object-modal-content>
                      </simple-modal>
                    {{/if}}
                    <!-- End of Modal Window -->
                    <assessment-controls-toolbar class="assessment-controls-toolbar"
                        {instance}="instance"
                        {verifiers}="verifiers"
                        {form-state}="formState"
                        (on-state-change)="onStateChange(%event)"
                    ></assessment-controls-toolbar>
                </div>
                <div class="info-pane__section">
                    <assessment-people {instance}="instance">
                    </assessment-people>
                </div>
            </div>
            <div class="info-pane__sidebar">
              <div class="ggrc-form">
                <div class="ggrc-form-item due-date__column">
                  <div class="ggrc-form-item__row">
                     <assessment-inline-item
                         type="date"
                         prop-name="start_date"
                         with-read-more="true"
                         {set-in-progress}="@setInProgressState"
                         {on-state-change-dfd}="onStateChangeDfd"
                         {is-edit-icon-denied}="isEditDenied"
                         {value}="instance.start_date"
                         {instance}="instance">
                             <div class="info-pane__section-title">Due Date</div>
                     </assessment-inline-item>
                  </div>
                </div>
                <div class="ggrc-form-item labels__column">
                  <div class="ggrc-form-item__row">
                    <assessment-inline-item
                        type="multi-select-label"
                        prop-name="labels"
                        is-confirmation-needed="false"
                        {on-state-change-dfd}="onStateChangeDfd"
                        {is-edit-icon-denied}="isEditDenied"
                        {value}="instance.labels"
                        {instance}="instance">
                            <div class="info-pane__section-title">Label</div>
                    </assessment-inline-item>
                  </div>
                </div>
              </div>
              <div class="assessment-comments">
                <div class="info-pane__section-title">Responses/Comments</div>
                {{#unless isEditDenied}}
                    <comment-add-form
                        class="comment-add-form"
                        {instance}="instance"
                        {is-saving}="isUpdatingComments"
                        (after-create)="addRelatedItem(%event, 'comments')"
                        (before-create)="addItems(%event, 'comments')"
                        {notifications-info}="'Notify Assignees and Verifiers'">
                    </comment-add-form>
                {{/unless}}
                <mapped-comments {mapped-items}="comments"></mapped-comments>
              </div>
            </div>
        </div>
         </tab-panel>
          <tab-panel {(panels)}="panels"
                     tab-id="tab-related-assessments"
                     {cache-content}="true"
                     {parent-instance}="instance"
                     {pre-render-content}="true"
                     title-text="Related Assessments">
            <related-assessments {instance}="instance"
                                 {evidences}="evidences"
                                 {urls}="urls"
                                 (after-object-reused)="updateItems('evidences', 'urls')">
            </related-assessments>
          </tab-panel>
          <tab-panel {(panels)}="panels"
                     {cache-content}="true"
                     {pre-render-content}="true"
                     title-text="Related Issues">
              <related-issues {base-instance}="instance"
                                    {all-related-snapshots}="mappedSnapshots"></related-issues>
          </tab-panel>
          <tab-panel {(panels)}="panels"
                     title-text="Other Attributes"
                     class="assessment-attributes-panel"
                     (update-active-tab)="initGlobalAttributes">
              <div class="assessment-attributes-panel">
                <custom-roles {exclude-roles}="assessmentMainRoles" {instance}="instance">
                </custom-roles>
                <assessment-custom-attributes (on-update-attributes)="saveGlobalAttributes(%event)"
                                                  {items}="globalAttributes"
                                                  {is-edit-denied}="isEditDenied"
                                            class="ggrc-form ggrc-form-multiple-columns">
                </assessment-custom-attributes>
                <div class="info-pane__section ggrc-form">
                    <div class="ggrc-form-item">
                        <div class="ggrc-form-item__multiple-row">
                            <assessment-object-type-dropdown
                                {instance}="instance"
                                {(assessment-type)}="instance.assessment_type">
                                <assessment-inline-item
                                    type="dropdown"
                                    prop-name="assessment_type"
                                    is-grouped-dropdown="true"
                                    {set-in-progress}="@setInProgressState"
                                    {on-state-change-dfd}="onStateChangeDfd"
                                    {dropdown-options-groups}="objectTypes"
                                    {is-edit-icon-denied}="isEditDenied"
                                    {value}="instance.assessment_type"
                                    {instance}="instance">
                                        <div class="ggrc-form__title">Assessment Type</div>
                                </assessment-inline-item>
                            </assessment-object-type-dropdown>
                        </div>
                    </div>
                </div>
                <div class="info-pane__section action-toolbar-container">
                    <div class="info-pane__section-title">
                       <div class="action-toolbar">
                          <div class="action-toolbar__content-item">Related Information</div>
                         {{#unless isEditDenied}}
                          <div class="action-toolbar__controls">
                            <action-toolbar-control>
                                <map-button-using-assessment-type {instance}="instance">
                                    <confirm-edit-action
                                        (set-edit-mode)="openMapper()"
                                        (set-in-progress)="setInProgressState()"
                                        {is-edit-icon-denied}="isEditDenied"
                                        {instance}="instance"
                                        {on-state-change-dfd}="onStateChangeDfd"
                                        {edit-mode}="editMode">
                                            <i ($click)="confirmEdit()"
                                                class="fa fa-code-fork action-toolbar__item-icon">
                                            </i>
                                    </confirm-edit-action>
                                </map-button-using-assessment-type>
                            </action-toolbar-control>
                          </div>
                         {{/unless}}
                        </div>
                    </div>
                    <assessment-mapped-controls
                        class="mapped-objects__list info-pane__section-content"
                        without-details="true"
                        {instance}="instance"
                        {mapped-items}="relatedInformation"
                        {assessment-type}="instance.assessment_type">
                    </assessment-mapped-controls>
                </div>
                <div class="ggrc-form ggrc-form-multiple-columns">
                <div class="ggrc-form-item">
                    <div class="ggrc-form-item__row">
                        <assessment-inline-item
                            type="text"
                            prop-name="description"
                            with-read-more="true"
                            {set-in-progress}="@setInProgressState"
                            {on-state-change-dfd}="onStateChangeDfd"
                            {is-edit-icon-denied}="isEditDenied"
                            {value}="instance.description"
                            {instance}="instance">
                                <div class="ggrc-form__title">Description</div>
                        </assessment-inline-item>
                    </div>
                </div>
                <div class="ggrc-form-item">
                    {{> '/static/mustache/assessments/dates_list.mustache'}}
                </div>
                <div class="ggrc-form-item">
                    <div class="ggrc-form-item__row">
                        <assessment-inline-item
                            type="input"
                            prop-name="notes"
                            with-read-more="true"
                            {set-in-progress}="@setInProgressState"
                            {on-state-change-dfd}="onStateChangeDfd"
                            {is-edit-icon-denied}="isEditDenied"
                            {value}="instance.notes"
                            {instance}="instance">
                                <div class="ggrc-form__title">Notes</div>
                        </assessment-inline-item>
                    </div>
                </div>
                <div class="ggrc-form-item">
                    <div class="ggrc-form-item__multiple-row">
                        <assessment-inline-item
                            type="input"
                            prop-name="slug"
                            with-read-more="true"
                            {set-in-progress}="@setInProgressState"
                            {on-state-change-dfd}="onStateChangeDfd"
                            {is-edit-icon-denied}="isEditDenied"
                            {value}="instance.slug"
                            {instance}="instance">
                                <div class="ggrc-form__title">Code</div>
                        </assessment-inline-item>
                    </div>
                    <!-- TODO: Assessment object type -->
                </div>
                <div class="ggrc-form-item">
                    <div class="ggrc-form-item__multiple-row">
                        <assessment-inline-item
                            type="dropdown"
                            prop-name="design"
                            with-read-more="true"
                            dropdown-no-value="true"
                            {set-in-progress}="@setInProgressState"
                            {on-state-change-dfd}="onStateChangeDfd"
                            {dropdown-options}="model.conclusions"
                            {is-edit-icon-denied}="isEditDenied"
                            {value}="instance.design"
                            {instance}="instance">
                                <div>
                                    <div class="ggrc-form__title">Conclusion: Design</div>
                                    <p class="conclusion-small-text">
                                        <small><em>Is this control design effective?</em></small>
                                    </p>
                                </div>
                        </assessment-inline-item>
                    </div>
                    <div class="ggrc-form-item__multiple-row">
                        <assessment-inline-item
                            type="dropdown"
                            prop-name="operationally"
                            with-read-more="true"
                            dropdown-no-value="true"
                            {set-in-progress}="@setInProgressState"
                            {on-state-change-dfd}="onStateChangeDfd"
                            {dropdown-options}="model.conclusions"
                            {is-edit-icon-denied}="isEditDenied"
                            {value}="instance.operationally"
                            {instance}="instance">
                                <div>
                                    <div class="ggrc-form__title">Conclusion: Operation</div>
                                    <p class="conclusion-small-text">
                                        <small><em>Is this control design effective?</em></small>
                                    </p>
                                </div>
                        </assessment-inline-item>
                    </div>
                </div>
                <div class="ggrc-form-item">
                    <div class="ggrc-form-item__row">
                        <div class="row-fluid wrap-row">

                                    <!-- <REFERENCE URLS> -->
                                    <div>
                                        <div class="ggrc-form__title">
                                            <spinner class="info-pane__section-title-icon"
                                                {toggle}="isUpdatingReferenceUrls">
                                            </spinner>
                                            Reference Url
                                        </div>
                                        <object-list {items}="referenceUrls" {empty-message}="noItemsText">
                                            <editable-document-object-list-item {document}="{.}">
                                                <confirm-edit-action
                                                    (set-edit-mode)="removeRelatedItem(document, 'referenceUrls')"
                                                    (set-in-progress)="setInProgressState()"
                                                    {is-edit-icon-denied}="isEditDenied"
                                                    {instance}="instance"
                                                    {on-state-change-dfd}="onStateChangeDfd">
                                                        <a ($click)="confirmEdit()">
                                                            <action-toolbar-control>
                                                                <i class="fa fa-trash"></i>
                                                            </action-toolbar-control>
                                                        </a>
                                                </confirm-edit-action>
                                            </editable-document-object-list-item>
                                        </object-list>
                                        {{#unless isEditDenied}}
                                            {{#if referenceUrlsEditMode}}
                                                <create-url
                                                    {type}="documentTypes.referenceUrls"
                                                    {context}="instance.context"
                                                    (before-create)="addItems(%event, 'referenceUrls')"
                                                    (created)="addRelatedItem(%event, 'referenceUrls')">
                                                    <form class="create-form">
                                                        <fieldset class="create-form__layout">
                                                            <input {($value)}="value" class="create-form__input"type="text" placeholder="Add URL" spellcheck="false" autocomplete="false">
                                                            <div class="create-form__controls">
                                                                <button type="button" class="create-form__confirm" ($click)="create; setUrlEditMode(false, 'referenceUrls')">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                                <button type="button" class="create-form__cancel" ($click)="clear; setUrlEditMode(false, 'referenceUrls')">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </create-url>
                                            {{else}}
                                                <confirm-edit-action
                                                    (set-edit-mode)="setUrlEditMode(true, 'referenceUrls')"
                                                    (set-in-progress)="setInProgressState()"
                                                    {is-edit-icon-denied}="isEditDenied"
                                                    {instance}="instance"
                                                    {on-state-change-dfd}="onStateChangeDfd">
                                                        <button class="btn btn-small btn-gray" ($click)="confirmEdit()">
                                                            Add
                                                        </button>
                                                </confirm-edit-action>
                                            {{/if}}
                                        {{/unless}}
                                    </div>

                            <!-- </REFERENCE URLS> -->
                        </div>
                    </div>
                </div>
                {{#if instance.can_use_issue_tracker}}
                    <div class="expanded-area">
                        <div class="info-expand">
                            <a class="show-hidden-fields info-show-hide active" href="javascript://">
                                <span class="out">
                                    <i class="fa fa-caret-right"></i>
                                    SHOW
                                </span>
                                <span class="in">
                                    <i class="fa fa-caret-down"></i>
                                    HIDE
                                </span>
                                TICKET TRACKER INFO
                            </a>
                        </div>
                        <div class="hidden-fields-area">
                            <info-pane-issue-tracker-fields {instance}="instance">
                            </info-pane-issue-tracker-fields>
                        </div>
                    </div>
                {{/if }}
            </div>
            </div>
          </tab-panel>

          <tab-panel {(panels)}="panels" title-text="Change Log">
              <revision-log {instance}="instance"></revision-log>
          </tab-panel>
      </tab-container>
    </div><!-- tier-content end -->
  </inline-form-control>
</section>
