{{!
  Copyright (C) 2016 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="snapshot-list-toolbar flex-box flex-box-single flex-row-reverse">
    <button
            can-click="onSearch"
            class="btn btn-small btn-info"
            {{#inProgress}}disabled="disabled"{{/inProgress}}>
        Search
    </button>
</div>
<div class="flex-box flex-box-single flex-row-reverse">
    <div class="snapshot-list-selection-switcher">
        Select:
        <button can-click="unselectAll"
                class="btn btn-link" {{#inProgress}}disabled="disabled"{{/inProgress}}>None
        </button>|<button can-click="selectAll"
                class="btn btn-link" {{#allSelected}}disabled="disabled"{{/allSelected}}>All
        </button>
    </div>
</div>
<div class="snapshot-list-body {{#isLoading}}loading{{/isLoading}}">
    <object-list items="items" is-loading="isLoading" spinner-css="grid-spinner">
        <div class="flex-row flex-box snapshot-object-item {{#instance.isMapped}}is-disabled{{/instance.isMapped}}">
            <div class="title flex-size-5">
                <i class="fa fa-{{instance.class.table_singular}}"></i>
              {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
            </div>
            <reusable-objects-item
                    is-checked="instance.isSelected"
                    class="flex-size-1"
                    instance="instance"
                    is-saving="isSaving"
                    base-instance="baseInstance"
                    selected-list="mapper.selected">
            </reusable-objects-item>
        </div>
    </object-list>
</div>
<tree-pagination paging="paging" class="flex-size-5"></tree-pagination>
