{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="input-wrapper">
  <input type="checkbox"
         id="form-field-{{fieldId}}"
         can-value="_value"
        {{#if disabled}}disabled{{/if}}>
</div>
