<section class="info">
  {{#is_info_pin}}
  <div class="clearfix">
    {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
    <div class="tier-content pin">
      {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
    </div>
  </div>
  {{/is_info_pin}}

  <div class="details-wrap">
    <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
    <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
      {{#is_allowed 'update'}}
        <li>
          <a href="javascript://" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{model.model_title}}" data-object-id="{{instance.id}}">
            <i class="grcicon-edit"></i>
            <span>Edit risk assessment</span>
          </a>
        </li>
      {{/is_allowed}}
      <li>
        <clipboard-link title="Get permalink" notify="true" text="{{get_permalink}}" />
      </li>

      {{#is_allowed 'delete' instance}}
        <li>
          <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
            <i class="grcicon-deleted"></i>
            Delete
          </a>
        </li>
      {{/is_allowed}}
    </ul>
  </div>

  <div class="tier-content">
    {{^is_info_pin}}
      {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
    {{/is_info_pin}}

    {{{render '/static/mustache/base_objects/description.mustache' instance=instance}}}
    <div class="row-fluid wrap-row">
      <div class="span12">
        <h6>Notes</h6>
        <div class="rtf-block">
          {{{firstnonempty instance.notes '<span class="no-data">No additional notes</span>'}}}
        </div>
      </div>
    </div>
    <div class="row-fluid wrap-row">
      <div class="span4">
        <h6>Supporting files</h6>
        {{#options.child_options.0}}
          <ul class="attachment-list" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data('options')).control("tree_view").display() }}>
          </ul>
        {{/child_options}}
        {{#is_allowed 'update'}}
          <ggrc-gdrive-picker-launcher instance="instance" link_text="Attach supporting file" click_event="trigger_upload">
          </ggrc-gdrive-picker-launcher>
        {{/is_allowed}}
      </div>
      <div class="span4">
        <h6>Risk Manager</h6>
        {{#using person=instance.ra_manager}}
          {{{render '/static/mustache/people/popover.mustache'}}}
        {{/using}}
      </div>
      <div class="span4">
        <h6>Risk Counsel</h6>
        {{#using person=instance.ra_counsel}}
          {{{render '/static/mustache/people/popover.mustache'}}}
        {{/using}}
      </div>
    </div>

  </div>
</div>
