{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}

<li class="tree-item" data-object-id="{{instance.id}}" data-object-type="risk_assessment">
  <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
    <div class="item-wrap">
      <div class="openclose">
        <i class="grcicon-arrow-right"></i>
      </div>
      <div class="select">
        <div class="item-data">
          <div class="row-fluid">
            <div class="span4">
              <div class="title tree-title-area">
                {{instance.title}}
              </div>
            </div>

            <div class="span2">
              <div class="date tree-title-area">
                {{{localize_date instance.start_date}}}
              </div>
            </div>

            <div class="span2">
              <div class="date tree-title-area">
                {{{localize_date instance.end_date}}}
              </div>
            </div>

          </div>
        </div><!-- item-data end -->
      </div><!-- select end -->
    </div><!-- item-wrap end -->
  </div><!-- item-main end -->

</li>
