{{!
  Copyright (C) 2019 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<span class="content">
  Your export request has been submitted. We will send you an email notification when it completes. You can track the progress on
  <a href="/export" target="_blank">export page.</a>
</span>
