{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#is_allowed_to_map instance model.shortName}}
  {{#if allow_mapping_or_creating}}
    <a class="{{cssClasses}}"
       href="javascript://"
       rel="tooltip"
       data-placement="left"
       data-toggle="unified-mapper"
       data-join-object-id="{{instance.id}}"
       data-join-object-type="{{instance.class.shortName}}"
      {{#if_instance_of instance "Requirement"}}
       data-object-params='{{objectParams}}'
      {{/if_instance_of}}
    >
      <i class="fa fa-code-fork"></i>
      {{title}}
    </a>
  {{/if}}
{{/is_allowed_to_map}}
