{{#list}}
<li class="tree-item business" data-object-id="{{instance.id}}" data-id="{{instance.id}}" data-object-meta-type="system" data-object-type="{{instance.system_or_process}}">
  {{#instance}}
  <div class="item-main" data-model="true" {{data 'model'}}>
    <div class="item-title">
      <div class="row-fluid">
        <div class="span8">
        <div class="oneline expand-on-hover">
          <span class="title">
            {{title}}
          </span>
        </div>
        <div class="description{{^description}} inhover no-description{{/description}}">
          <div class="rtf">{{{firstnonempty description '<p><i>No description.</i></p>'}}}</div>
        </div>
      </div>
      <div class="span1">
      </div>
      </div>
      <div class="item-actions">
        {{#single_object}}
        <a class="btn btn-mini" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-object-id="{{id}}" data-form-target="refresh" data-modal-class="modal-wide" data-placement="left" data-toggle="modal-ajax-form" href="javascript://" rel="tooltip" title="Edit this object">
          <i class="grcicon-edit"></i>
        </a>
        {{/single_object}}
        {{#link_buttons}}
        <a class="btn btn-mini link-object" data-child-type="system" data-child-property="child_id" data-modal-class="modal-wide" data-modal-reset="reset" data-toggle="modal-selector" data-modal-selector-options="system_systems" data-join-object-id="{{id}}" href="javascript://" rel="tooltip" title="Link systems to this {{system_or_process}}">
          <i class="grcicon-link"></i>
        </a>
        <a class="btn btn-mini link-object" data-child-type="control" data-child-property="control_id" data-modal-class="modal-wide" data-modal-reset="reset" data-toggle="modal-selector" data-modal-selector-options="system_controls" data-join-object-id="{{id}}" href="javascript://" rel="tooltip" title="Link controls to this {{system_or_process}}">
          <i class="grcicon-link"></i>
        </a>
        {{/link_buttons}}
        {{^single_object}}
          <a class="btn btn-mini" rel="tooltip" data-placement="left" title="Go to this object's page" href="/systems/{{id}}">
            <i class="grcicon-goto"></i>
          </a>
        {{/single_object}}
      </div>
    </div>
  </div>
  {{/instance}}
  {{#if draw_children}}
  {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
  <div class="item-content" {{#start_expanded}}style="display: block;"{{/start_expanded}}>
    {{#child_options}}
    <ul class="tree-structure" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
    {{/child_options}}
  </div>
  {{/if_null}}
  {{/if}}
</li>
{{/list}}
