{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<custom-attributes instance="instance">
    {{#if instance.custom_attribute_definitions.length}}
      {{#iterate_by_two items}}
      <div class="row-fluid wrap-row">
      {{#list}}
        <div class="span6">
          <div data-custom-attribute="{{id}}" data-type="{{attribute_type}}">
            <inline-edit
              instance="instance"
              ca-id="cad.id"
              {{#if cav.attribute_object}}
              value="cav.attribute_object"
              {{else}}
              value="cav.attribute_value"
              {{/if}}
              values="cad.multi_choice_options"
              title="cad.title"
              label="cad.label"
              type="{{type}}"
              mandatory="cad.mandatory"
              placeholder="cad.placeholder"
              helptext="cad.helptext"
              {{#if instance.snapshot}}
                readonly
              {{else}}
                {{^is_allowed 'update' instance context='for'}}
                  readonly
                {{/is_allowed}}
              {{/if}}
              {{#if_instance_of instance 'Request'}}
                can-before-edit="instance.confirmBeginEdit"
              {{/if_instance_of}}
            ></inline-edit>
          </div>
        </div>
      {{/list}}
      </div>
      {{/iterate_by_two}}
    {{/if}}
</custom-attributes>
