{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}
<ul class="custom-attributable-types tree-structure new-tree object-tree">
  {{#custom_attributable_types}}
    <li class="tree-item" data-model="true">
      <div class="item-main" {{data 'model'}}>
        <div class="openclose">
          <a class="openclose-placeholder" href="javascript://"> </a>
          <div class="row-fluid">
            <div class="span12">
              <div class="item-data">
                <div class="tree-title-area">
                  <i class="grcicon-{{root_object}}-color"></i>
                  {{title_plural}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <div class="table-wrap">
            <table class="table">
              <colgroup>
                <col style="width: 50%"/>
                <col style="width: 25%"/>
                <col style="width: 15%"/>
                <col style="width: 10%"/>
              </colgroup>
              <thead>
                <tr>
                  <th>Attribute name</th>
                  <th>Attribute type</th>
                  <th>Mandatory</th>
                  <th>Edit</th>
                </tr>
                <tbody>
                  <!-- Custom attribute definitions here -->
                </tbody>
                <tfoot class="add-item">
                  <tr>
                    <td colspan="4" class="tree-item-add">
                      <div class="row-fluid">
                        <div class="span12">
                          <a
                            href="javascript://"
                            data-placement="left"
                            data-toggle="modal-ajax-form"
                            data-object-title="Foo"
                            data-object-singular="CustomAttributeDefinition"
                            data-object-plural="custom_attribute_definitions"
                            data-object-params='{ "type_string": "{{root_object}}", "modal_title": "Add Attribute to type {{title_singular}}" }'>
                            Add Attribute
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </li>
  {{/custom_attributable_types}}
</ul>