{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita@google.com
    Maintained By: sasmita@google.com
}}
<custom-attributes instance="instance" load="true">
  {{#if loading}}
	  <div class="row-fluid">
	    <div class="span12">
	      <span  {{attach_spinner '{ "radius": 4, "length": 7, "width": 2 }' 'display:inline-block; top: -6px; left: 20px;' }}></span>
	    </div>
	  </div>
  {{else}}
    {{#if instance.custom_attribute_definitions.length}}
	  	{{get_custom_attr_value attr_info instance}}	
    {{/if}}
  {{/loading}}
</custom-attributes>