{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<rich-text class="comment-input {{#if disabled}}is-disabled{{/if}}"
    {hidden-toolbar}="true"
    {disabled}="disabled"
    {placeholder}="placeholder"
    {(content)}="value">
</rich-text>
