{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="add-comment">
      {{> '/static/mustache/components/assessment/comment/input.mustache' }}
      {{#state.controls}}
        {{> '/static/mustache/components/assessment/comment/controls.mustache' }}
      {{/state.controls}}
</div>
