{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div>
    {{#if hasPermissions}}
      <div class="attachment-upload-control">
      {{#if canAttach}}
        {{#if isFolderAttached}}
          <ggrc-gdrive-picker-launcher class="attachment-upload-control__button"
				       {assessment-type-objects}="assessmentTypeObjects"
                                       instance="instance"
                                       click_event="trigger_upload_parent"
                                       {disabled}="isAttachActionDisabled"
                                       {confirmation-callback}="@confirmationCallback"
                                       {items-uploaded-callback}="@itemsUploadedCallback"
                                       (on-before-attach)="onBeforeCreate(%event)">Attach
          </ggrc-gdrive-picker-launcher>
        {{else}}
         <ggrc-gdrive-picker-launcher class="attachment-upload-control__button"
				       {assessment-type-objects}="assessmentTypeObjects"
                                       instance="instance"
                                       click_event="trigger_upload"
                                       {disabled}="isAttachActionDisabled"
                                       {confirmation-callback}="@confirmationCallback"
                                       {items-uploaded-callback}="@itemsUploadedCallback"
                                       (on-before-attach)="onBeforeCreate(%event)">Attach
          </ggrc-gdrive-picker-launcher>
          <div class="attachment-upload-control__icon attachment-upload-control__icon__error">
            <i class="fa fa-exclamation-triangle red attachments-list-alert"
               rel="tooltip"
               data-placement="bottom"
               data-original-title="Audit folder not set. Files will be uploaded to your GDrive root folder.">
            </i>
          </div>
        {{/if}}
      {{else}}
        {{#if error.errors}}
          <small>
            You need permission to upload files to the audit folder. <a
            href="https://drive.google.com/folderview?id={{grdive_msg_to_id error.message}}&usp=sharing#">Request
            access.</a>
          </small>
        {{else}}
          The GDrive folder for this evidence could not be accessed.
          {{#using request=parent_instance.request}}
            {{{render '/static/mustache/gdrive/gapi_errors.mustache' type="file" instance=request error=error}}}
          {{/using}}
        {{/if}}
      {{/if}}
      </div>
    {{/if}}
</div>
