{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<assessment-custom-attributes instance="instance" load="true" class="assessment-custom-attributes">
  {{^loading}}
    {{#each instance.custom_attribute_definitions}}
        <div class="assessment-control-item" style="order: {{@index}};"  data-custom-attribute="{{id}}" data-type="{{attribute_type}}">
          {{#mapValuesById id}}
              <assessment-inline-edit
                      instance="instance"
                      ca-id="id"
                      value="value"
                      value-id="valueId"
                      validation="validation"
                      need-confirm="needConfirm"
                      confirm-Edit="confirmEdit"
                      values="multi_choice_options"
                      values-validation="multi_choice_mandatory"
                      title-text="title"
                      type="{{mapFieldsType attribute_type}}"
                      mandatory="mandatory"
                      placeholder="placeholder"
                      helptext="helptext"
                {{^is_allowed 'update' instance context='for'}}
                      readonly
                {{/is_allowed}}
              ></assessment-inline-edit>
          {{/mapValuesById}}
        </div>
    {{/each}}
  {{/loading}}
    <assessment-modal-attachments instance="instance"></assessment-modal-attachments>
</assessment-custom-attributes>
