{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#items}}
    <ca-object-validation class="flex-box flex-row" def="def" value-id="{{id}}" errors="preconditions_failed" value="attribute_value" modal="modal" is-modified="isModified">
        <ca-object class="flex-box flex-col" instance="instance" value-id="{{id}}" def="def" value="attribute_value" modal="modal" type="attributeType" is-modified="isModified">
            <ca-object-value-mapper value="attribute_value" type="type" value-obj="attribute_object" def="def">
                <assessment-inline-edit
                        value="input.value"
                        options="input.options"
                        type="input.type"
                        title-text="input.title"
                        placeholder="input.placeholder"
                        is-saving="isSaving"
                  {{^is_allowed 'update' instance context='for'}}
                        readonly
                  {{/is_allowed}}
                  can-before-edit="instance.confirmBeginEdit"
                ></assessment-inline-edit>
            </ca-object-value-mapper>
        </ca-object>
    </ca-object-validation>
{{/items}}
<ca-object-modal modal="modal" instance="instance"></ca-object-modal>
