{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if text}}
    <div class="assessment-read-more__body" style="max-height: {{maxHeight}};">
        <div class="assessment-read-more__body-content">
          {{{text}}}
        </div>
    </div>
    {{#showButton}}
        <div class="assessment-read-more__controls">
            <a can-click="toggle" class="assessment-read-more__btn">{{btnText}}</a>
        </div>
    {{/showButton}}
{{else}}
    <span class="empty-message">None</span>
{{/if}}
