{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


<related-objects
  {paging}="paging"
  {initial-order-by}="initialOrderBy"
  {base-instance}="baseInstance"
  {(related-objects)}="items"
  {related-items-type}="relatedItemsType">
  <div class="task-list">
    <div class="task_group_tasks__header">
        <div class="task_group_tasks__header-item">
            Title
        </div>
        <div class="task_group_tasks__header-item">
            Task Assignees
        </div>
        <div class="task_group_tasks__header-item">
            Task Secondary Assignees
        </div>
        <div class="task_group_tasks__header-item">
            Initial Setup
        </div>
        <div class="task_group_tasks__header-item">
            Next Cycle
        </div>
        <div class="task_group_tasks__header-item-edit">
        </div>
    </div>
    <div class="task_group_tasks__list">
      <object-list
        {items}="items"
        {is-loading}="isLoading"
        {spinner-css}="gridSpinner">
        {{>'/static/mustache/task_group_tasks/task_group_subtree.mustache'}}
      </object-list>
    </div>
  </div>
  <div class="grid-data__toolbar grid-data__toolbar_bottom flex-box">
    {{>'/static/mustache/task_group_tasks/task_group_subtree_footer.mustache'}}
    <tree-pagination {paging}="paging" class="grid-data__toolbar-item"></tree-pagination>
  </div>
</related-objects>
