{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if_helpers "\
   #if" instance.viewLink "\
   or #is_allowed" "update" instance "\
   or #if" allow_mapping_or_creating}}
<div class="details-wrap">
  <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
  <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
    {{#if instance.viewLink}}
      {{#is_allowed "view_object_page" instance}}
        <li>
          <a href="{{instance.viewLink}}">
            <i class="fa fa-long-arrow-right"></i>
            Open {{instance.class.title_singular}}
          </a>
        </li>
      {{/is_allowed}}
    {{/if}}
    {{#if_helpers '\
      if_instance_of' instance "Section" '\
      and if_instance_of' parent_instance "Directive"}}

      {{> /static/mustache/base_objects/unmap.mustache}}

      {{#is_allowed 'update' instance}}
        <li>
          <a href="javascript://" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-object-singular-override="{{#if_equals instance.directive.type 'Contract'}}Clause{{/if_equals}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{instance.class.model_singular}}" data-object-id="{{instance.id}}">
            <i class="fa fa-pencil-square-o"></i>
            Edit {{instance.class.model_singular}}
          </a>
        </li>
      {{/is_allowed}}
    {{else}}
      {{#if allow_mapping}}
        {{#if mappings}}
          {{#is_allowed_all 'delete' mappings}}
            {{^is_dashboard}}
              <li class="border">
                <a href="javascript://" class="unmap" data-toggle="unmap">
                  {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
                  <i class="fa fa-ban"></i>
                  Unmap
                </a>
              </li>
            {{/is_dashboard}}
          {{/is_allowed_all}}
        {{/if}}
      {{/if}}
      {{> /static/mustache/base_objects/edit_object_link.mustache}}
    {{/if_helpers}}

    {{#if allow_mapping_or_creating}}
    {{#is_allowed_to_map parent_instance model.shortName}}
      {{#if model.root_object}}
        {{#if_instance_of instance "SectionBase"}}
          <li>
            <a
              href="javascript://"
              data-toggle="modal-ajax-form"
              data-modal-reset="reset"
              data-dirty="#category_objectives, #combo"
              data-route="category_objectives"
              data-modal-class="modal-wide"
              data-object-singular="Objective"
              data-object-plural="objectives"
              data-object-params='{ "section": { "id": {{parent_instance.id}}, "title": "{{json_escape parent_instance.title}}" }, "description": "{{json_escape parent_instance.description}}" }'>
              Convert to Object
            </a>
          </li>
        {{/if_equals}}
      {{/if}}
    {{/is_allowed_to_map}}
    {{/if}}
  </ul>
</div>
{{/if_helpers}}

<div class="tier-content">
  {{>'/static/mustache/base_objects/general_info.mustache'}}
  {{>'/static/mustache/base_objects/description.mustache'}}
  <div class="row-fluid wrap-row">
    <div class="span12">
      <h6>
        Notes
      </h6>
      <div class="rtf-block">
        {{{firstnonempty instance.notes '<h4 class="no-data">No note</h4>'}}}
      </div>
    </div>
  </div>
  {{#if_instance_of instance "Section"}}
  {{#using directive=instance.directive}}
    <div class="row-fluid wrap-row">
      <div class="span12">
        <h6>Part of {{directive.class.table_singular}}</h6>
        <p class="oneline">
        {{#is_allowed "view_object_page" directive}}
          <a href="{{directive.viewLink}}">
            {{directive.title}}
          </a>
        {{else}}
          <span>
            <i class="fa fa-{{directive.class.table_singular}} color"></i>
            {{directive.title}}
          </span>
        {{/is_allowed}}
        </p>
      </div>
    </div>
  {{/using}}
  {{/if_instance_of}}
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
  {{{renderLive '/static/mustache/base_objects/contacts.mustache' instance=instance}}}
  {{#instance.url}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <h6>URL:</h6>
      <p>
        <a class="url" href="{{schemed_url instance.url}}" target="_blank">
          {{instance.url}}
        </a>
      </p>
    </div>
  </div>
  {{/instance.url}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <h6>Code</h6>
      <p>
        {{instance.slug}}
      </p>
    </div>
    <div class="span6">
      <h6>Reference URL</h6>
      <p class="oneline">
        {{#if instance.reference_url}}
        <a class="url" href="{{schemed_url instance.reference_url}}" target="_blank">
          {{instance.reference_url}}
        </a>
        {{/if}}
      </p>
    </div>
  </div>
