{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


{{{renderLive '/static/mustache/base_objects/tree_footer_zero.mustache'}}}

{{#if allow_mapping_or_creating}}
{{#if_instance_of parent_instance 'Directive'}}
{{#if allow_creating}}
{{#is_allowed 'create' model.shortName context=null}}
{{#if_instance_of parent_instance 'Contract|Standard|Policy|Regulation'}}
<li class="tree-footer tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12 section-expandable">
      <a href="javascript://" class="section-add">
        + {{#if_instance_of parent_instance 'Contract'}}Clause{{else}}Section{{/if_instance_of}}
      </a>
      <span class="section-expander">
        {{#if_instance_of parent_instance 'Contract'}}
        <a
          href="javascript://"
          rel="tooltip"
          data-placement="left"
          data-toggle="multitype-multiselect-modal-selector"
          data-join-mapping="{{mapping}}"
          data-join-option-type="{{model.shortName}}"
          data-join-object-id="{{parent_instance.id}}"
          data-join-object-type="{{parent_instance.class.shortName}}"
          data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
          Map {{model.title_singular}}
        </a>
        {{else}}
        <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-dirty="#regulations, #combo" data-route="regulations" data-modal-class="modal-wide" data-object-singular="Section" data-object-plural="sections" data-object-singular-override="{{#if_instance_of parent_instance 'Contract'}}Clause{{/if_instance_of}}" data-object-params='{ "directive": {{parent_instance.id}} }'>
          <i class="grcicon-add-black"></i>
          Create {{#if_instance_of parent_instance 'Contract'}}Clause{{else}}Section{{/if_instance_of}}
        </a>
        {{/if_instance_of}}
        &nbsp;
        &nbsp;
        {{#if_instance_of parent_instance 'Contract'}}
        <a href="{{parent_instance.viewLink}}/import_clauses?return_to={{param_current_location}}" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Import Clauses
        </a>
        &nbsp;
        &nbsp;
        {{#if list.length}}
        <a href="{{parent_instance.viewLink}}/export_clauses" class="section-import">
          <i class="grcicon-export"></i>
          Export Clauses
        </a>
        {{/if}}
        {{else}}
        <a href="{{parent_instance.viewLink}}/import_sections?return_to={{param_current_location}}" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Import Sections
        </a>
        &nbsp;
        &nbsp;
        {{#if list.length}}
        <a href="{{parent_instance.viewLink}}/export_sections" class="section-import">
          <i class="grcicon-export"></i>
          Export Sections
        </a>
        {{/if}}
        {{/if_instance_of}}
      </span>
    </div>
  </div>
</li>
{{/if_match}}
{{/is_allowed}}
{{/if}}

{{else}}

{{#if allow_mapping}}
{{#is_allowed_to_map parent_instance model.shortName}}
<li class="tree-footer tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="multitype-multiselect-modal-selector"
        data-join-mapping="{{mapping}}"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.class.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
        Map {{model.title_singular}}
      </a>
    </div>
  </div>
</li>
{{/is_allowed_to_map}}
{{/if}}
{{/if_instance_of}}
{{/if}}
