{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

{{#if allow_mapping_or_creating}}
{{#if_instance_of parent_instance 'Directive'}}
{{#if allow_creating}}
{{#is_allowed 'create' model.shortName context=null}}
{{#if_instance_of parent_instance 'Contract|Standard|Policy|Regulation'}}
    {{#if_instance_of parent_instance 'Contract'}}
    <a
      href="javascript://"
      rel="tooltip"
      class="section-add"
      data-placement="left"
      data-toggle="unified-mapper"
      data-join-mapping="{{mapping}}"
      data-join-option-type="{{model.shortName}}"
      data-join-object-id="{{parent_instance.id}}"
      data-join-object-type="{{parent_instance.class.shortName}}"
      data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
      <i class="grcicon-add-black"></i>
    </a>
    {{else}}
    <a href="javascript://"
       class="section-add"
       rel="tooltip"
       data-placement="left"
       data-toggle="modal-ajax-form"
       data-modal-reset="reset"
       data-dirty="#regulations, #combo"
       data-route="regulations"
       data-modal-class="modal-wide"
       data-object-singular="Section"
       data-object-plural="sections"
       data-object-singular-override="{{#if_instance_of parent_instance 'Contract'}}Clause{{/if_instance_of}}"
       data-object-params='{ "directive": {{parent_instance.id}} }'
       data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
      <i class="grcicon-add-black"></i>
    </a>
    {{/if_instance_of}}
{{/if_match}}
{{/is_allowed}}
{{/if}}

{{else}}

{{#if allow_mapping}}
{{#is_allowed_to_map parent_instance model.shortName}}
  <a
    class="section-add"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-mapping="{{mapping}}"
    data-join-option-type="{{model.shortName}}"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
    <i class="grcicon-add-black"></i>
  </a>
{{/is_allowed_to_map}}
{{/if}}
{{/if_instance_of}}
{{/if}}
