{{#list}}
  <li class="tree-item governance" id="content_{{instance.slug}}" data-id="{{instance.id}}" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.shortName.toLowerCase}}" data-object-meta-type="section" data-model="true" {{trigger_created}}>
    <div class="item-main" {{data 'model'}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span9">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.constructor.table_singular}}-color"></i>
                <span class="tree-code">{{instance.slug}}</span>
                {{instance.title}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{#pack list=instance.business_objects na=na id=id}}
                <i class="grcicon-object-black"></i>
                {{#with list}}
                  {{#if length}} 
                    <span>{{length}}</span>
                  {{else}}
                    <strong class="error">0</strong>
                  {{/if}}
                {{/with}}
              {{/pack}}
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{#pack list=instance.controls na=na id=id}}
                <i class="grcicon-control-black"></i>
                {{#with list}}
                  {{#if length}} 
                    <span>{{length}}</span>
                  {{else}}
                    <strong class="error">0</strong>
                  {{/if}}
                {{/with}}
              {{/pack}}
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{#pack list=instance.objectives na=na id=id}}
                <i class="grcicon-objective-black"></i>
                {{#with list}}
                  {{#if length}} 
                    <span>{{length}}</span>
                  {{else}}
                    <strong class="error">0</strong>
                  {{/if}}
                {{/with}}
              {{/pack}}
            </div>
          </div>
        </div>
      </a>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span12">
            {{#is_allowed 'update' instance.constructor.shortName}}
              <a href="javascript://" class="info-action pull-right" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{model.model_title}}" data-object-id="{{instance.id}}">
                <i class="grcicon-edit"></i>
                Edit Section
              </a>
            {{/is_allowed}}
          </div>

        </div>

        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description short">
                {{^instance.description}}
                  <p><i>No text for this section/clause</i></p>
                {{/instance.description}}
                {{{instance.description}}}
              </div>
              {{{show_long}}}
            </div>
          </div>
        </div>

        {{#parent}}
        <div class="parent">
          <div class="row-fluid">
            <div class="span12">
              Part of
              <i class="grcicon-{{instance.constructor.table_singular}}-black" rel="tooltip" title="{{instance.kind}}"></i>
              <strong>{{instance.title}}</strong>
              {{instance.kind}}
            </div>
          </div>
        </div>
        {{/parent}}

      </div>


      {{#if draw_children}}
        {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            <h6>Objectives, Controls, and Business Objects ({{child_count}})</h6>
            {{#child_options}}
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/if_null}}
      {{/if}}

    </div>
    {{/if}}
  </li>
{{/list}}

{{#is_allowed 'create' 'update' 'delete' model.shortName}}
{{#if allow_mapping_or_creating}}
<li class="tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">

      {{#if_match parent_instance.constructor.shortName '^(Directive|Regulation|Policy|Contract)$'}}
      <a href="javascript://" class="section-add">
        + {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{else}}Section{{/if_equals}}
      </a>
      {{#if allow_creating}}
      <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-dirty="#regulations, #combo" data-route="regulations" data-modal-class="modal-wide" data-object-singular="Section" data-object-plural="sections" data-object-singular-override="{{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{/if_equals}}" data-object-params='{ "directive": {{parent_instance.id}} }'>
        <i class="grcicon-add-black"></i>
        Create {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{else}}Section{{/if_equals}}
      </a>
      {{/if}}

      {{#if_match parent_instance.constructor.shortName '^(Directive|Regulation|Policy|Contract)$'}}
        &nbsp;
        &nbsp;
        <a href="{{parent_instance.viewLink}}/import_sections" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Import {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clauses{{else}}Sections{{/if_equals}}
        </a>
        &nbsp;
        &nbsp;
        <a href="{{parent_instance.viewLink}}/export_sections" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Export {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clauses{{else}}Sections{{/if_equals}}
        </a>
      {{/if_match}}

      {{else}}
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="multitype-modal-selector"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.constructor.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.constructor.title_singular 'Object'}}">
        + Section/Clause
      </a>
      {{/if_match}}
    </div>
  </div>
</li>
{{/if}}
{{/is_allowed}}
