{{#if allow_mapping_or_creating}}
{{#if_match parent_instance.constructor.shortName '^(Directive|Regulation|Policy|Contract)$'}}
{{#if allow_creating}}
{{#is_allowed 'create' model.shortName parent_instance.context.id}}
<li class="tree-footer tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12 section-expandable">
      <a href="javascript://" class="section-add">
        + {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{else}}Section{{/if_equals}}
      </a>
      <span class="section-expander">
        <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-dirty="#regulations, #combo" data-route="regulations" data-modal-class="modal-wide" data-object-singular="Section" data-object-plural="sections" data-object-singular-override="{{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{/if_equals}}" data-object-params='{ "directive": {{parent_instance.id}} }'>
          <i class="grcicon-add-black"></i>
          Create {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{else}}Section{{/if_equals}}
        </a>
        &nbsp;
        &nbsp;
        <a href="{{parent_instance.viewLink}}/import_sections" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Import {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clauses{{else}}Sections{{/if_equals}}
        </a>
        &nbsp;
        &nbsp;
        <a href="{{parent_instance.viewLink}}/export_sections" class="section-import">
          <i class="grcicon-imp-exp"></i>
          Export {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clauses{{else}}Sections{{/if_equals}}
        </a>
      </span>
    </div>
  </div>
</li>
{{/is_allowed}}
{{/if}}

{{else}}

{{#if allow_mapping}}
{{#is_allowed_to_map parent_instance model.shortName}}
<li class="tree-footer tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="multitype-modal-selector"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.constructor.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.constructor.title_singular 'Object'}}">
        + {{#if_equals parent_instance.constructor.shortName 'Contract'}}Clause{{else}}Section{{/if_equals}}
      </a>
    </div>
  </div>
</li>
{{/is_allowed_to_map}}
{{/if}}
{{/if_match}}
{{/if}}
