
  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.table_singular}}">
    <div class="item-main" {{data 'model'}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span9">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.constructor.table_singular}}-color"></i>
                <span class="tree-code">{{instance.slug}}</span>
                {{instance.title}}
              </div>
            </div>
          </div>
          {{#pack list=instance.controls na=na id=id}}
            {{#with list}}
              <div class="span1 section-item-count">
                <div class="counter">
                  <i class="grcicon-control-black"></i>
                    {{#if length}} 
                      <span>{{length}}</span>
                    {{else}}
                      <strong class="error">0</strong>
                    {{/if}}
                </div>
              </div>
            {{/with}}
          {{/pack}}
          {{#pack list=instance.objectives na=na id=id}}
            {{#with list}}
              <div class="span1 section-item-count">
                <div class="counter">
                  <i class="grcicon-objective-black"></i>
                    {{#if length}} 
                      <span>{{length}}</span>
                    {{else}}
                      <strong class="error">0</strong>
                    {{/if}}
                </div>
              </div>
            {{/with}}
          {{/pack}}
          {{#pack list=instance.business_objects na=na id=id}}
            {{#with list}}
              <div class="span1 section-item-count">
                <div class="counter">
                  <i class="grcicon-object-black"></i>
                    {{#if length}} 
                      <span>{{length}}</span>
                    {{else}}
                      <strong class="error">0</strong>
                    {{/if}}
                </div>
              </div>
            {{/with}}
          {{/pack}}
        </div>
      </a>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span12">
            {{#is_allowed 'update' instance}}
              <a href="javascript://" class="info-action pull-right" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{model.model_title}}" data-object-id="{{instance.id}}">
                <i class="grcicon-edit"></i>
                Edit Section
              </a>
            {{/is_allowed}}
          </div>

        </div>

        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description short">
                {{^instance.description}}
                  <p><i>No text for this section/clause</i></p>
                {{/instance.description}}
                {{{instance.description}}}
              </div>
              {{{show_long}}}
            </div>
          </div>
        </div>

        {{{render '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}

      </div>


      {{#if draw_children}}
        {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            <h6>Objectives, Controls, and Business Objects ({{child_count}})</h6>
            {{#child_options}}
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/if_null}}
      {{/if}}

    </div>
    {{/if}}
  </li>

