{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "t-" instance.workflow_state}}>
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class="row-fluid">
          <div class="span12">

            <ul class="tree-action-list">
              {{#infer_roles instance}}
                <li>
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span class="role">
                        {{.}}
                      </span>
                    </div>
                  </div>
                </li>
              {{/infer_roles}}
              <li>
                {{#with_page_object_as 'page_instance'}}
                {{#if_helpers '\
                  ^if_instance_of' page_instance 'Directive' '\
                  or ^if_instance_of' instance 'Section'}}
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
                {{/if_helpers}}
                {{/with_page_object_as}}
              </li>
              <li>
              {{#with_mapping_count instance 'related_objects'}}
                {{#prune_context}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                      <i class="grcicon-object-black"></i>
                        {{#if count}}
                          <span>{{count}}</span>
                        {{else}}
                          <strong class="error">0</strong>
                        {{/if}}
                    </span>
                {{/prune_context}}
              {{/with_mapping_count}}

              {{#with_mapping_count instance 'objectives'}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objectives">
                      <i class="grcicon-objective-black"></i>
                        {{#if count}}
                          <span>{{count}}</span>
                        {{else}}
                          <strong class="error">0</strong>
                        {{/if}}
                    </span>
              {{/with_mapping_count}}

              {{#with_mapping_count instance 'controls'}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped controls">
                      <i class="grcicon-control-black"></i>
                      {{#if count}}
                        <span>{{count}}</span>
                      {{else}}
                        <strong class="error">0</strong>
                      {{/if}}
                    </span>
              {{/with_mapping_count}}
              </li>
              <li>
                {{{renderLive '/static/mustache/base_objects/states.mustache'}}}
              </li>
            </ul>

            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                {{instance.title}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        {{> /static/mustache/sections/tier2_content.mustache}}
      </div>


      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            {{#child_options}}
              <h6>Objectives, Controls, and Business Objects ({{child_count}})
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance model=model multiple_mapping_case=true}}}
              </h6>
              <ul class="tree-structure new-tree colored-list" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/prune_context}}
      {{/if}}

    </div>
    {{/if}}
  </li>
