{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if allow_mapping_or_creating}}
  {{#if allow_mapping}}
    {{#is_allowed_to_map parent_instance model.shortName}}
      <a
        class="section-add btn btn-mini action-button map-button"
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="unified-mapper"
        data-join-mapping="{{mapping}}"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.class.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}"
        data-is-snapshotable="{{parent_instance.is_snapshotable}}"
        data-snapshot-scope-id="{{parent_instance.id}}"
        data-snapshot-scope-type="{{parent_instance.type}}">
          Map
      </a>
    {{/is_allowed_to_map}}
  {{/if}}
{{/if}}
