.area {
  border-right:5px solid #444;
  &.governance {
    border-color:$governance;
    .header-content {
      border-color:$governance;
    }
  }
  &.risk {
    border-color:$risk;
    .header-content {
      border-color:$risk;
    }
  }
  &.program {
    border-color:$programs;
    .header-content {
      border-color:$programs;
    }
    
  }
  &.business {
    border-color:$business;
    .header-content {
      border-color:$business;
    }
  }
}

.lhs-holder {
  @include gradient-horizontal(#fff,#e1e1e1);
  //overflow-x:hidden;
}

.lhs {
  position:relative;
  //width:220px;
  //margin-right: 8px;
  .lhs-bg {
    margin-top:5px;
    display:none;
    float:right;
    width:40px;
    height:70px;
    background:transparent image-url('bgnds/lhs-closed.png') no-repeat 0 0;
    @include opacity(0.6);
  }
  &.lhs-closed {
    margin-left:-200px;
    cursor:pointer;
    overflow:hidden;
    .lhs-bg {
      display:block;
    }
    .lhs-search,
    .lhs-nav {
      display:none;
    }
    .top-level, .bar-h {
      visibility:hidden;
    }
  }
  .lhs-search {
    padding:10px;
    input {
      @include border-radius(10px);
      margin-bottom: 0;
      background-image: image-url("grcicons/icons.png");
      background-repeat: no-repeat;
      @include background-size(368px 416px);
      background-position:-268px -195px;
      padding-left: 23px;
      font-size:12px;
      
    }
  }
}

.lhs-nav {
  &.emphasized { // special case for programs
   ul {
     margin-bottom:0;
   } 
  }
  .accordion-group { // override bootstrap
    border:none;
  }
  padding:10px 0 0 0;
  ul {
    @include reset-list();
    margin-bottom:14px;
    &.collapse {
      margin-bottom:0px;
      &.in {
        margin-bottom:14px;
      }
    }
    li {
      position:relative;
      font-size:14px;
      line-height:24px;
      i {
        margin-top:4px;
      }
      small {
        font-size:12px;
      }
      a {
        display:block;
        padding-left:10px;
        &.active,
        &:hover {
          text-decoration:none;
          background:#fff image-url('grcicons/open.png') no-repeat right center;
          @include background-size(17px 12px);
        }
      }
      &.programs {
        a {
          color:$programs;
        }
      }
    }
    li {
      &.governance {
        a {
          color:$governance;
        }
      }
    }
    li {
      &.business {
        a {
          color:$business;
        }
      }
    }
    li {
      &.risk {
        a {
          color:$risk;
        }
      }
    }
  }
  ul.sub-level {
    background:#fff;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ddd;
    &.collapse {
      border-bottom:none;
      border-top:none;
      &.in {
        border-bottom:1px solid #ccc;
        border-top:1px solid #ddd;
      }
    }

    li {
      font-size:12px;
      border-bottom:1px solid #ddd;
      &.no-access {
        padding-left:34px;
        background:#eee;
      }
      a {
        [class*="span"] {
          min-height:24px;
        }
        padding-left:34px;
        background:#eee;
        span.lhs-item {
          display:block;
          @include oneline();
        }
        &.active {
          background:#fff;
        }
        &:hover {
          text-decoration:underline;
          background:#fff;
          span {
            text-decoration:underline;
          }
        }
        .lhs-private {
          margin-right: 17px;
        }
      }
      &.view-more {
        a {
          color:#4c9deb;
        }
      }
      &.add-new {
        a {
          background:#ddd;
          color:#666;
        }
      }

    }
  }
  h2 {
    font-size:15px;
    font-weight:normal;
    padding-left:10px;
  }
  &.recent {
    ul.top-level {
      a {
        font-size:12px;
        color:#333;
        &:hover {
         background:#fff;
         text-decoration:underline;
        }
      }
    }
  }
}

.bar-h {
  height:6px;
  background-color:#fff;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  //background-image: image-url("bgnds/drag-h.png");
  @include background-size(30px 2px);
  background-repeat:no-repeat;
  background-position:50% 2px;
  @include opacity(0.3);
  /*
  &:hover {
    @include opacity(1);
    cursor:move;
  };
  */
}

.bar-v {
  position: fixed;
  top:30px;
  left:240px;
  height:100%;
  z-index:100;
  width:6px;
  background-color:#ddd;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
  background-image: image-url("bgnds/drag-v.png");
  @include background-size(2px 30px);
  background-repeat:no-repeat;
  background-position:2px 50%;
  @include opacity(0.6);
  cursor:w-resize;
  &:hover {
    @include opacity(1);
    background-color:#fff;
  };
  &.bar-closed {
    left:40px;
    cursor:e-resize;
  }
}


// INNER NAV

.inner-nav {
  background:#fff;
  .object-nav {
    .add-nav-item {
      position:relative;
      display:block;
      border-bottom:1px solid #ddd;
      background:#fff;
      a.dropdown-toggle {
        padding-left:20px;
        display:block;
        line-height:30px;
        font-size:12px;
        font-weight:bold;
      }
      ul.dropdown-menu {
        padding:10px;
        width:240px;
        font-size:12px;
        li.title {
          font-weight:bold;
        }
      }
    }
  }
  ul.internav {
    border-top:1px solid #ddd;
    @include reset-list();
    overflow-y:auto;
    li {
      background:$white;
      position:relative;
      .drag {
        position:absolute;
        @include opacity(0.5);
        top:0;
        left:0;
        width:16px;
        height:30px;
        cursor:move;
      }
    }
    a {
      padding-left:20px;
      display:block;
      line-height:30px;
      font-size:13px;
      border-bottom:1px solid #ddd;
      color:#777;
      &:hover {
        background-color:#444;
        background-image: image-url("grcicons/icons.png");
        background-repeat: no-repeat;
        @include background-size(368px 416px);
        background-position: -270px -313px;
        color:#fff;
        text-decoration:none;
      }
      span {
        font-size:11px;
      }
    }
    i {
      margin-top:6px;
      margin-right:6px;
      @include opacity(0.3);
    }
    li.active,
    li:hover {
      a {
        background-color:#444;
        color:#fff;
        i {
          @include opacity(1);
        }
      }
    }
    &.business {
      li.active,
      li:hover {
        a {
          color:#fff;
          background-color:$business;
          background-image: image-url("grcicons/icons.png");
          background-repeat: no-repeat;
          @include background-size(368px 416px);
          background-position: -270px -313px;
        }
      }
    }
    &.governance {
      li.active,
      li:hover {
        a {
          color:#fff;
          background-color:$governance;
          background-image: image-url("grcicons/icons.png");
          background-repeat: no-repeat;
          @include background-size(368px 416px);
          background-position: -270px -313px;

        }
      }
    }
    &.risk {
      li.active,
      li:hover {
        a {
          color:#fff;
          background-color:$risk;
          background-image: image-url("grcicons/icons.png");
          background-repeat: no-repeat;
          @include background-size(368px 416px);
          background-position: -270px -313px;

        }
      }
    }
    &.program {
      li.active,
      li:hover {
        a {
          color:#fff;
          background-color:$programs;
          background-image: image-url("grcicons/icons.png");
          background-repeat: no-repeat;
          @include background-size(368px 416px);
          background-position: -270px -313px;

        }
      }
    }

  }
}

.extended-info {
  position:absolute;
  top:-1px;
  right:-422px;
  z-index:2000;
  width:400px;
  padding:2px 10px;
  background:#fff;
  border:1px solid #ddd;
  &.fade {
    display : none;
  }
  &.in {
    display : block;
    @include opacity(1);
  }
  span.error {
    font-size:12px;
    font-weight:normal;
    color:#e00;
  }
  a.main-title {
    i {
      @include opacity(0.5);
    }
    &:hover {
      i {
        @include opacity(1);
      }
      text-decoration:none;
    }
  }
  .rtf {
    font-size:12px;
    line-height:16px;
    a {
      display:inline;
      padding:0;
    }
  }
  .code {
    font-size:11px;
    font-style:italic;
    color:#777;
  }
  .links {
    margin-top:6px;
    [class*="span"] {
      min-height:24px;
    }
    border-top:1px solid #ccc;
    font-size:12px;
    .primary {
      float:right;
    }
    .secondary {
      color:#999;
    }
  }
  .info {
    font-size:12px;
  }
  a {
    padding-left:0;
    &:hover {
      text-decoration:underline;
      background:none;
    }
    &.url {
      font-size:12px;
      color:#369;
      margin-bottom:6px;
    }
  }
}

// fix for redundant lhn scroll
.accordion {
  margin-bottom:0;
}