// Pin content
.pin-content {
  position: fixed;
  bottom: 40px;
  left: 32px;
  right: 32px;
  background: $white;
  z-index: 0;
  overflow: auto;
  @include box-shadow(0 0 5px rgba(0,0,0, 0.3));
  .info {
    padding: 15px 20px 20px 20px;
    @include box-shadow(none);
    .small-info {
      i {
        @include opacity(.25);
        @include transition(opacity 0.2s ease);
        cursor: pointer;
        &:hover {
          @include opacity(1);
        }
      }
    }
  }
  .info-widget-footer {
    display: none;
  }
  select {
    margin-bottom: 0;
  }
}

.inline-date-wrap {
  input {
    margin-bottom: 0;
  }
}

.inline-date-label {
  display: inline-block;
  line-height: 28px;
  margin-right: 10px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.pin-action {
  @include clearfix();
  @include reset-list();
  margin-bottom: 20px;
  li {
    float: left;
    margin-left: 5px;
    a {
      i {
        @include opacity(.25);
        @include transition(opacity .2s ease);
      }
      &:hover {
        i {
          @include opacity(1);
        }
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.visual-radio {
  @include reset-list();
  @include clearfix();
  li {
    float: left;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
  }
  i {
    @include opacity(.25);
  }
  .grcicon-done { background-position: -78px -416px; }
  .grcicon-not-done { background-position: -102px -416px; }
  .active {
    .grcicon-done { background-position: -30px -416px; }
    .grcicon-not-done { background-position: -54px -416px; }
    i {
      @include opacity(1);
    }
  }
}

.repeated-utility {
  @include reset-list();
  @include clearfix();
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
