.tree-title-area {
  &.title-minor {
    font-size:12px;
    font-style:italic;
    color:#777;
  }
}

.new-tier {
  padding-top:20px;
  h4 {
    padding-top:15px;
    font-weight:bold;
    font-size:13px;
  }
  .info-action {
    i {
      margin-top:7px;
    }
  }
}

.heat-map-wrap {
  @include clearfix();
  background: $gray;
  margin-bottom: 20px;
}

.map-description {
  float: left;
  width: 10%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-top: 160px;
  color: $white;
  text-align: center;
  &.bottom {
    float: none;
    clear: both;
    width: 100%;
    padding: 14px 0;
  }
}

.map-num {
  float: left;
  width: 5%;
  text-align: center;
  background: $lightGray;
  ul {
    @extend %reset-list;
    border-top: 1px solid $lightGray;
  }
  li {
    min-height: 80px;
    line-height: 80px;
    border-bottom: 1px solid $lightGray;
  }
}

.map-grid {
  @include clearfix();
  float: left;
  width: 70%;
  border-top: 1px solid $black;
}

.map-grid-legend {
  float: none;
  clear: both;
  background: $lightGray;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  ul {
    @include clearfix();
    @extend %reset-list;
  }
  li {
    float: left;
    width: 20%;
    padding: 10px 0;
    .legend-text {
      display: block;
      margin-top: 5px;
    }
  }
}

.map-grid-item {
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  float: left;
  width: 20%;
  min-height: 81px;
  text-align: center;
  cursor: pointer;
  color: $black;
  &:nth-child(5n) {
    border-right: 1px solid $black;
  }
  &.green {
    background: $green;
  }
  &.olive {
    background: $olive;
  }
  &.yellow {
    background: $yellow;
  }
  &.orange {
    background: $orange;
  }
  &.red {
    background: $red;
  }
  .legend {
    line-height: 80px;
    display: inline-block;
  }
}

.risks-list {
  @extend %reset-list;
  li {
    @include clearfix();
    display: block;
    margin: 2px 2px 0;
    border: 1px solid $black;
    background: $white;
    color: $black;
    text-align: left;
    padding: 3px;
    span {
      @extend %oneline;
      float: left;
      width: 85%;
    }
    a {
      float: left;
      width: 15%;
      text-align: center;
    }
  }
}

.map-legend {
  @extend .map-num;
}
