ul.new-tree {
  @include reset-list();
  a.openclose {
    .row-fluid {
      &:hover {
        background:#e0f4ff image-url("bgnds/hover.png") no-repeat 50% bottom;
        @include background-size(30px 6px);
        .counter {
          @include opacity(1);
        }
      }
    }
    &.active {
      font-weight:bold;
      .row-fluid {
        background:$white;
      }
    }
    
  }
  
  a.simple-link {
    .row-fluid {
      &:hover {
        background:#e0f4ff;
        .tree-title-area {
          font-weight:bold;
        }
      }
    }
  }
  
  li.tree-item {
    border-bottom:1px solid #ccc;
    line-height:31px;
    min-height:31px;
    background:#fafafa;
    &.tree-item-open {
      @include box-shadow(inset 0 0 8px #bbb);
      background:#fff;
    }
    &.governance,
    &.control,
    &.objective,
    &.contract,
    &.policy,
    &.regulation
      {
      .item-data {
        color:$governance;
      }
    }
    &.business,
    &.process,
    &.system,
    &.orggroup,
    &.project,
    &.facility,
    &.product,
    &.dataasset,
    &.market
    {
      .item-data {
        color:$business;
      }
    }
    &.risk,
    &.riskyattribute
    {
      .item-data {
        color:$risk;
      }
    }
    &.program {
      .item-data {
        color:$programs;
      }
    }
    .small {
      font-size:$f-small;
      display: inline-block;
      margin-left: 6px;
    }
    .gray {
      color: $gray;
    }
    &.request-list {
      .short-field {
        min-height: 23px;
        margin-bottom: 0;
        margin-top: 4px;
      }
      select {
        &.short-field {
          min-height: 23px;
          height: 23px;
          line-height: 23px;
          margin-top: 4px;
        }
      }
      .request-type {
        margin-right: 4px;
      }
      .utility-link {
        font-size:11px;
        font-weight:bold;
        color:#111;
        text-transform:uppercase;
        @include opacity(0.4);
        @include transition(opacity 0.2s);
        &:hover {
          @include opacity(1);
          text-decoration:none;
        }
      }
    }
    &.responses-list {
      .utility-link {
        font-size:11px;
        font-weight:bold;
        color:#111;
        text-transform:uppercase;
        @include opacity(0.4);
        @include transition(opacity 0.2s);
        &:hover {
          @include opacity(1);
          text-decoration:none;
        }
      }
    }
  }
  li.tree-item-add {
    padding-left:20px;
    line-height:30px;
    border-bottom:none;
    a {
      font-weight:bold;
    }
  }
  [class^="grcicon-"] {
    margin-top:7px;
  }
  .parent {
    @include opacity(0.6);
  }
  .tree-description {
    line-height:18px;
    margin-right:60px;
    font-size:13px;
    &.short {
      height:36px;
      overflow:hidden;
    }
    p {
      line-height:18px;
      font-size:13px;
    }
  }
  a.show-long {
    position:absolute;
    top:18px;
    right:36px;
    color:$disabled;
    float:left;
    display:block;
    font-size:13px;
    line-height:18px;
    text-decoration:underline;
    &:hover {
      color:$link;
      text-decoration:underline;
    }
  }
  .tree-info {
    @include oneline();
    font-size:13px;
    .tree-info-list {
      @include reset-list();
      margin: 6px 0 2px 0;
      li {
        padding-bottom: 4px;
      }
    }
  }
  // reduce visibility of closed tree-items
  &.tree-open {
    > li.tree-item {
      background:#eee;
      .tree-title-area {
        @include opacity(0.5);
      }
      &.item-open {
        .tree-title-area {
          @include opacity(1);
        }
      }
    }
    ul.tree-open {
      > li.tree-item {
        background:#eee;
        .tree-title-area {
          @include opacity(0.5);
        }
        &.item-open {
          .tree-title-area {
            @include opacity(1);
          }
        }
      }
      ul.tree-open {
        > li.tree-item {
          background:#eee;
          .tree-title-area {
            @include opacity(0.5);
          }
          &.item-open {
            .tree-title-area {
              @include opacity(1);
            }
          }
        }
      }
    }
  }
  // end
}

.inner-tree {
  margin-bottom:20px;
  ul.new-tree {
    @include reset-list();
    li.tree-item {
      margin-left:20px;
      margin-right:20px;
      border-bottom:1px solid #ddd;
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
      font-size:13px;
      line-height:30px;
      //&:first-child {
      //  border-top:1px solid #ddd;
      //}
      //&:last-child {
      //  border-bottom:1px solid #ccc;
      //}
    }
    &.pbc-list {
      li.tree-item {
        a {
          .row-fluid {
            padding-top: 6px;
            padding-bottom: 3px;
          }
        }
        input,
        select {
          margin-bottom: 0;
        }
      }
    }
  }
}

.show-description {
  position:relative;
  padding-top:16px;
}

.tier-2-info {
  display:none;
  &.content-open {
    @include box-shadow(inset 0 4px 3px -3px #bbb);
    background:#fff;
    padding-bottom:2px;
  }
}
.tier-2-info-content {
  padding:0 20px;
  position:relative;
  .top-space {
    margin-top: 6px;
  }
  .info-audit {
    @include reset-list();
    @include clearfix();
    margin: 10px 0;
    li {
      float: left;
      margin-right: 20px;
      a {
        font-size:11px;
        font-weight:bold;
        color:#111;
        text-transform:uppercase;
        @include opacity(0.4);
        @include transition(opacity 0.2s);
        &:hover {
          @include opacity(1);
          text-decoration:none;
        }
      }
    }
    [class^="grcicon-"] {
      margin-top: 0;
    }
  }
}

.item-data {
  padding-left:20px;
  color:#222;
  .tree-title-area {
    @include oneline();
    .event-action {
      font-size:13px;
      color:#777;
    }
    .url-link {
      color:#777;
      font-size:11px;
    }
    .role,
    .option {
      font-size:11px;
      font-weight:bold;
      text-transform:uppercase;
      color:$green;
    }
    .event-action {
      font-size:13px;
      color:#777;
    }
    .event-owner {
      font-size:13px;
      color:#777;
    }
    .not-mapped {
      font-size:13px;
      font-weight:bold;
      color:$error;
    }
    .event-time {
      font-size:13px;
      color:#777;
    }

  }
  .tree-code {
    font-weight:bold;
    color:$governance;
  }
}

.info-action {
  font-size:11px;
  text-transform:uppercase;
  font-weight:bold;
  color:#111;
  i.grcicon-edit {
    margin-top:5px;
  }
  @include opacity(0.6);
  &:hover {
    @include opacity(1);
    text-decoration:none;
  }
  &.unmap {
    @include opacity(0.25);
    &:hover {
      color:$error;
      @include opacity(1);
    }
  }
}

.counter {
  color:#000;
  @include opacity(0.5);
}

.objective-create {
  display:none;
}

.section-create,
.section-import {
  display:none;
  i {
    @include opacity(0.3);
  }
  &:hover {
   text-decoration:none;
   i {
     @include opacity(0.6);
   } 
  }
}

.inner-tree {
  h6 {
    @include border-radius(4px 4px 0 0);
    border:1px solid #ccc;
    border-bottom:none;
    background:#ddd;
    color:#666;
    padding-left:20px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    line-height:24px;
  }
}

.selector-list {
  ul.new-tree {
    li.tree-item {
      .simple-link {
        &:hover {
          background:lighten(#ff9,5%);
          cursor:pointer;
        }
      }
    }
  }
}
