{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div data-object-id="{{instance.id}}"
    data-object-type="{{instance.class.table_singular}}" {{#instance}}{{data 'model'}}{{/instance}}>
  {{#if_equals instance.os_state 'Reviewed'}}
      <i class="fa fa-check-square-o green"></i>
      <span class="object-approved">Reviewed
      {{#last_approved instance}}
        by
        <person-data {person}="instance.modified_by"></person-data>
         on {{instance.updated_at}}
      {{/last_approved}}
      </span>
  {{else}}
    <div>
    {{#with_mapping 'approval_tasks' instance}}
      {{#with_review_task}}
        {{#with_is_reviewer review_task}}
          {{#if_helpers '\\n #owned_by_current_user' instance '\\n or #current_user_is_admin'}}
            {{^if is_reviewer}}
              {{#if_equals review_task.status 'Declined'}}
                {{#with_most_recent_declining_task_entry review_task}}
                  <div>Review was declined on {{#date instance.created_at}}{{/date}}.</div>
                {{/with_most_recent_declining_task_entry}}
              {{/if_equals}}
            {{/if}}
          {{/if_helpers}}
          {{#if is_reviewer}}
            {{#if_equals review_task.status 'Declined'}}
              {{#with_most_recent_declining_task_entry review_task}}
                <div>Review was declined on {{#date instance.created_at}}{{/date}}.</div>
              {{/with_most_recent_declining_task_entry}}
            {{/if_equals}}
            <div {{#review_task}}{{data 'model'}}{{/review_task}} {{ (el) -> el.ggrc_controllers_quick_form({instance : el.data("model")}) }}>
              <button
                  class="btn btn-mini btn-green change-task-status {{instance._disabled}} {{#if instance.snapshot}}disabled{{else}}{{#if instance.isRevision}}disabled{{/if}}{{/if}}"
                  data-name="status"
                  data-value="Verified"
                  data-object-id="{{instance.id}}"
                  data-object-type="{{instance.class.shortName}}"
              >
                Approve
              </button>
              <a href="javascript://"
                class="undoable btn btn-mini btn-red change-task-status {{instance._disabled}} {{#if instance.snapshot}}disabled{{else}}{{#if instance.isRevision}}disabled{{/if}}{{/if}}"
                data-toggle="modal-ajax-form"
                data-object-singular="CycleTaskEntry"
                data-object-params='{
                  "cycle" : {{review_task.cycle.id}},
                  "cycle_task_group_object_task" : {{review_task.id}},
                  "is_declining_review" : 1,
                  "context": {{firstnonempty review_task.context.id "null"}} }'
                data-object-plural="cycle_task_entries"
                data-object-id=""
                data-placement="right"
                data-modal-reset="reset"
                data-modal-class="modal-wide"
                data-modal-title-override="Decline Review"
                data-original-title="Decline Review"
                data-name="status"
                data-value="Declined"
                data-also-undo="description">
                Decline
              </a>
              <small><em>Approval applies only to this object and not to mapped objects.</em></small>
              {{#current_user_is_admin}}
                {{#with_mapping 'approval_tasks' instance}}
                <p>
                  If you wish to change the current reviewer, please click
                  <a href="{{instance.viewLink}}#!task_widget"
                     class="{{#if instance.snapshot}}disabled{{else}}{{#if instance.isRevision}}disabled{{/if}}{{/if}}">
                        here
                   </a>
                  and change the assignee.
                </p>
                {{/with_mapping}}
              {{/current_user_is_admin}}
            </div>
          {{else}}
            <div>
              {{#is_allowed "create" "Workflow" context="any"}}
                <review-link {instance}="instance">
                </review-link>
              {{/is_allowed}}
            </div>
          {{/if}}
        {{/with_is_reviewer}}
      {{/with_review_task}}
    {{/with_mapping}}
  </div>
  {{/if_equals}}
</div>
