{{#instance}}
<div class="row-fluid">
  {{^is_private_program}}
    <div {{^if stacked}}class="span6"{{/if}}>
    {{#if owners.length}}
      {{#using contacts=owners}}
      {{#contacts}}
        <p>
          <strong>Owner</strong>
          <br>
          <span>{{firstnonempty name email}}</span>
        </p>
      {{/contacts}}
      {{/using}}
    {{else}}
      <p>
        <strong>Owner</strong>
        <br>
        <span class="error">
          Not Assigned
        </span>
      </p>
    {{/if}}
    </div>
  {{/is_private_program}}
  {{#using contact=contact}}
    <div {{^if stacked}}class="span6"{{/if}}>   
    {{#if contact}}
      <p>
        <strong>Contact</strong>
        <br>
        <span>{{firstnonempty contact.name contact.email}}</span>
      </p>
    {{else}}
      <p>
        <strong>Contact</strong>
        <br>
        <span class="error">
          Not Assigned
        </span>
      </p>
    {{/if}}
    </div>
  {{/using}}
</div>
{{/instance}}
