{{#instance}}
<div class="row-fluid wrap-row">
  <div class="span6">
    <h6>Owner</h6>
    <p class="oneline">
    {{#if is_program}}
      {{#with_mapping 'authorizations' instance}}
        {{#if authorizations.length}}
          {{#each authorizations}}
            <span>
              {{#using role=instance.role}}
                {{#if_equals role.name 'ProgramOwner'}}
                  {{#using contact=instance.person}}
                    {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
                  {{/using}}
                {{/if_equals}}
              {{/using}}
            </span>
          {{/each}}
        {{else}}
          <span class="error">
            Not Assigned
          </span>
        {{/if}}
      {{/with_mapping}}
    {{else}}
      {{#if owners.length}}
        {{#using contacts=owners}}
        <ul class="inner-count-list">
          {{#each contacts}}
            <li>
              {{#using person=this}}
                {{>'/static/mustache/people/popover.mustache'}}
              {{/using}}
            </li>
          {{/each}}
        </ul>
        {{/using}}
      {{else}}
        <span class="error">
          Not Assigned
        </span>
      {{/if}}
    {{/if}}
    </p>
  </div>
    <div class="span6">
      {{#using person=contact}}
      <h6>Primary Contact</h6>
      <p class="oneline">
        {{#if person}}
          {{>'/static/mustache/people/popover.mustache'}}
        {{else}}
          <span class="error">
            Not Assigned
          </span>
        {{/if}}
      </p>
      {{/using}}
      {{#using person=secondary_contact}}
      <h6>Secondary Contact</h6>
      <p class="oneline">
        {{#if person}}
          {{>'/static/mustache/people/popover.mustache'}}
        {{else}}
          <span class="error">
            Not Assigned
          </span>
        {{/if}}
      </p>
      {{/using}}
    </div>
</div>
{{/instance}}
