{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: urban@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}
<li>
  <a
    href="javascript://"
    data-toggle="modal-ajax-form"
    data-modal-reset="reset"
    data-modal-class="modal-wide"
    data-object-singular="Objective"
    data-object-plural="objectives"
    data-object-params='{ "section": { "id": {{instance.id}}, "title": "{{title}}" }, "title": "{{title}}", "description": "{{json_escape description}}" }'>Create Objective from Section
  </a>
</li>
