{{#instance}}

  <div class="row-fluid wrap-row">
    <div class="span12">
      <h6>Description</h6>
      <div class="rtf-block">
        {{{firstnonempty description '<h4 class="no-data">No description</h4>'}}}
      </div>
    </div>
  </div>

{{/instance}}
