{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

{{#if_helpers '\
   #if' is_info_pin '\
   and #is_allowed_to_map' page_instance instance '\
   or #if' is_info_pin '\
   and #if' instance.viewLink '\
   or #is_allowed' 'update' instance '\
   ' context='for'}}
<div class="details-wrap">
  <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
  <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
    {{#is_allowed 'update' instance context='for'}}
      {{> /static/mustache/base_objects/edit_object_link.mustache}}
    {{/is_allowed}}
    <li>
      <clipboard-link title="Get permalink" notify="true" text="{{get_permalink}}" />
    </li>

    {{#is_info_pin}}
      {{#is_allowed_to_map page_instance instance}}
        {{^options.is_in_selector}}
          {{> /static/mustache/base_objects/unmap.mustache}}

        {{/options}}
      {{/is_allowed_to_map}}
      {{#if instance.viewLink}}
        {{#is_allowed "view_object_page" instance}}
          <li>
            <a href="{{instance.viewLink}}">
              <i class="grcicon-goto"></i>
              View {{instance.class.title_singular}}
            </a>
          </li>
        {{/is_allowed}}
      {{/if}}
    {{/is_info_pin}}

    {{#is_allowed 'delete' instance}}
      <li>
        <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
          <i class="grcicon-deleted"></i>
          Delete
        </a>
      </li>
    {{/is_allowed}}

  </ul>
</div>
{{/if_helpers}}
