{{#if list.length}}
  <li>
    <a href="/export?model_type={{model.table_singular}}&relevant_type={{parent_instance.type}}&relevant_id={{parent_instance.id}}" 
      class="section-import" rel="tooltip" data-placement="left" 
      title="" data-original-title="Export {{model.model_plural}}">
      <i class="grcicon-export"></i>
    </a>
  </li>
{{/if}}
