{{!
  Copyright (C) 2016 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{^if_page_type "admin"}}
<li class="filter-trigger">
{{^filter_is_hidden}}
  <a href="javascript://" class="active">
    <i class="fa fa-fw fa-search"></i>
    <span>Hide Filter</span>
  </a>
{{/filter_is_hidden}}

{{#filter_is_hidden}}
  <a href="javascript://">
    <i class="fa fa-fw fa-search"></i>
    <span>Show Filter</span>
  </a>
{{/filter_is_hidden}}
</li>
{{/if_page_type}}
