{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<!-- Reset button --> 
<div class="row-fluid">
  <div class="span12">
    <div class="pull-right reset-form">
      <p>
        <small><em>Note: Fields are only temporary hidden for this session!</em></small>
        <a id="formRestore" tabindex="26" class="btn" href="javascript://">Reset form</a>
      </p>
    </div>
  </div>
</div>