{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<!-- Reset button --> 
<div class="row-fluid">
  <div class="span12">
    <div class="pull-right reset-form">
      <p>
        <small><em>Fields are only temporarily hidden</em></small>
        <a data-test-id="button-toggle-1a226d7a" id="formHide" tabindex="26" class="btn
        btn-small
        btn-draft" href="javascript://">Hide all optional fields</a>
        <a data-test-id="button-toggle-2c925d94" id="formRestore"
           tabindex="26" class="btn btn-small btn-draft" href="javascript://" style="display:none;">Show all optional fields</a>
      </p>
    </div>
  </div>
</div>
