{{! transcluded via renderLive in, for example, assets/mustache/sections/tier2_content.mustache }}
{{#instance}}

  <div class="row-fluid wrap-row">
    <div class="span6">
      <h6>Title</h6>
      <h3>{{title}}</h3>
      {{#if type}}
      <p>
        {{type.title}}
      </p>
      {{/if}}
    </div>
    <div class="span6">
      <h6>State</h6>
      <span class="state-value state-{{to_class status '_'}}">{{status}}</span>
    </div>
    <div class="span12" style="margin-left:0">
      <h6>Object Review</h6>
      <!-- Forgive the inline style. Not sure what the correct class would be
           for this. I'll just put this in here for now and let Vlad put in
           the correct selector later on. -->
      <ul style="list-style-type: none; margin: 0">
        {{#if class}}
          {{{render_hooks instance.class.shortName 'info_widget_actions'}}}
        {{/if}}
      </ul>
    </div>
  </div>
{{/instance}}
