{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: swizec@reciprocitylabs.com
    Maintained By: swizec@reciprocitylabs.com
}}

{{#if_instance_of parent_instance 'Audit'}}
  {{#if_helpers '\
    #if_equals' model.shortName 'Control' '\
    or #if_equals' model.shortName 'Assessment'}}
    <li class="generate-control-assessments">
      <a href="javascript://">
        <i class="fa fa-magic" rel="tooltip" data-placement="left" title="" data-original-title="Generate Assessments"></i>
      </a>
    </li>
  {{/if_helpers}}
{{/if_instance_of}}
