{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if button}}
  {{#is_allowed 'create' 'Assessment' context=instance.context}}
    <a
      href="javascript://"
      class="generate-control-assessments btn btn-small btn-darkBlue"
      rel="tooltip"
      data-placement="bottom"
      title="Generate Assessments"
      data-original-title="Generate Assessments">
      Autogenerate
    </a>
  {{else}}
    {{#is_auditor}}
        <a
          href="javascript://"
          class="generate-control-assessments btn btn-small btn-darkBlue"
          rel="tooltip"
          data-placement="bottom"
          title="Generate Assessments"
          data-original-title="Generate Assessments">
          Autogenerate
        </a>
    {{/is_auditor}}
  {{/is_allowed}}
{{else}}
  {{#if_instance_of parent_instance 'Audit'}}
    {{#if_in model.shortName 'Assessment,Control'}}
      {{^if instance.archived}}
        {{#is_allowed 'update' parent_instance context="for"}}
            <li class="generate-control-assessments">
              <a href="javascript://">
                <i class="fa fa-fw fa-magic"></i>
                Generate Assessments
              </a>
            </li>
        {{else}}
          {{#is_auditor}}
            <li class="generate-control-assessments">
              <a href="javascript://">
                <i class="fa fa-fw fa-magic"></i>
                Generate Assessments
              </a>
            </li>
          {{/is_auditor}}
        {{/is_allowed}}
      {{/if}}
    {{/if_in}}
  {{/if_instance_of}}
{{/if}}
