{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="info-pane-utility">
    <questions-link {instance}="instance">
      Questionnaire
      <i class="fa fa-external-link"></i>
    </questions-link>
    <show-related-assessments-button instance="instance" extra-btn-css="btn-small"></show-related-assessments-button>
    {{#if instance.snapshot}}
        {{> '/static/mustache/snapshots/dropdown_menu.mustache'}}
    {{else}}
        {{#if_equals instance.type 'Audit'}}
            {{> '/static/mustache/audits/dropdown_menu.mustache'}}
        {{else}}
            {{> '/static/mustache/base_objects/dropdown_menu.mustache'}}
        {{/if_equals}}
     {{/if}}
</div>
