{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="info-pane-utility">
    {{#if instance.snapshot}}
        {{> '/static/mustache/snapshots/dropdown_menu.mustache'}}
    {{else}}
        <show-related-assessments-button instance="instance" extra-btn-css="btn-small"></show-related-assessments-button>
        {{> '/static/mustache/base_objects/dropdown_menu.mustache'}}
    {{/if}}
</div>
