{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

<div class="details-wrap pin">
  <ul class="pin-action">
    <li>
      <a href="javascript://" data-size="min" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
    </li>
    <li>
      <a href="javascript://" data-size="normal" class="normal"><i class="grcicon-default" style="opacity:1.0" rel="tooltip" data-placement="left" title="Default height"></i></a>
    </li>
    <li>
      <a href="javascript://" data-size="max" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
    </li>
    <li>
      <a href="javascript://" data-size="deselect" class="close-pane"><i class="fa fa-times black" rel="tooltip" data-placement="left" title="Close info pane"></i></a>
    </li>
  </ul><!-- pin-action end -->
</div><!-- details-wrap pin end -->
