{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="row-fluid inner-hide">
  <div class="span12 hidable">
    {{#using contact=instance.contact}}
    <label>
      Primary Contact
      <i class="grcicon-help-black" rel="tooltip" title="Point of contact for this object"></i>
      <a data-id="hide_contact_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
    </label>
    <input data-test-id="new_program_field_primary_contact_86160053"
           data-id="contact_txtbx"
           tabindex="5"
           class="input-block-level" name="contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist contact.email ''}}" />
    {{/using}}
    {{#using contact=instance.secondary_contact}}
    <label>
      Secondary Contact
      <i class="grcicon-help-black" rel="tooltip" title="Point of contact for this object"></i>
      <a data-id="hide_secondary_contact_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
    </label>
    <input data-test-id="new_program_field_secondary_contact_86160053"
           data-id="secondary_contact_txtbx" tabindex="5"
           class="input-block-level" name="secondary_contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist contact.email ''}}" />
    {{/using}}
  </div>
</div>
