{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  {{#if notes}}
  <div class="row-fluid wrap-row">
    <div data-test-id="title_notes_ef5bc3a71e88" class="span12">
      <h6>Notes</h6>
      <div data-test-id="title_notes_content_ef5bc3a71e88" class="rtf-block">
        {{{firstnonempty notes '<span class="empty-message">None</span>'}}}
      </div>
    </div>
  </div>
  {{/if}}
{{/instance}}
