{{#instance}}

  <div class="row-fluid">
    <div class="span6">
      <h6>Notes</h6>
      {{{firstnonempty notes '<em>No notes available</em>'}}}
    </div>
    <div class="span6">
      <h6>State</h6>
      <p>
        {{status}}
      </p>
    </div>
    
  </div>
  
{{/instance}}