{{#instance}}

  <div class="row-fluid">
    <div class="span12">
      <h6>Notes</h6>
      {{{firstnonempty notes '<h4 class="no-data">No notes available</h4>'}}}
    </div>
  </div>
  
{{/instance}}