{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
<div data-test-id="title_review_0ad9fbaf" class="row-fluid wrap-row">
  <div class="span12">
    <h6>Object Review</h6>
    {{#if class}}
      <approval-link instance="instance">
      </approval-link>
    {{/if}}
  </div>
</div>
{{/instance}}
