{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#unless instance.snapshot}}
<div class="openclose{{^if draw_children}}__empty{{/if}}">
  {{#if_instance_of instance "Cycle|CycleTaskGroup|CycleTaskGroupObjectTask"}}
    <span class="status-label {{#if instance.isOverdue}}status-overdue{{/if}} {{addclass 'status' instance.status}}"></span>
  {{/if_instance_of}}
  {{#if draw_children}}
  <i class="fa fa-caret-right"></i>
  {{/if}}
</div>
{{/unless}}
