{{#is_allowed 'create' model.shortName context=null}}
<li class="add-new">
  <a data-object-plural="{{model.table_plural}}" data-modal-class="modal-wide" href="javascript://" data-object-singular="{{model.model_singular}}" data-toggle="modal-ajax-form" data-modal-reset="reset" >
    + Create New
  </a>
</li>
{{/is_allowed}}
