{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#is_allowed 'create' model.shortName context='any'}}
<li class="add-new oneline" data-ui-autocomplete-item="">
  <a data-object-plural="{{model.table_plural}}" data-form-target="redirect" data-modal-class="modal-wide" href="javascript://" data-object-singular="{{model.model_singular}}" data-toggle="modal-ajax-form" data-modal-reset="reset">
    + Create New
  </a>
</li>
{{/is_allowed}}
