{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<li class="tree-item sub-tree-expander">
  <div class="item-main">
    <div class="item-wrap">
      <sub-tree-expander expanded="expanded" display="display">
        <a href="javascript://">
          <i class="fa fa-caret-{{#if expanded}}down{{else}}right{{/if}}"></i>
          Show objects not directly related to this {{activeTabType}}
        </a>
      </sub-tree-expander>
    </div>
  </div>
</li>
