{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: sasmita@google.com
  Maintained By: sasmita@google.com
}}

<tree-type-selector>
  <li>
    <a href="#" class="dropdown-toggle tview-type-toggle" data-toggle="dropdown">
      <i class="grcicon-child-node"></i>
    </a>
    <div class="dropdown-menu dropdown-menu2 dropdown-menu-form">
      <a class="pull-right close-dropdown"><i class="grcicon-x-grey"></i></a>
      <h5>
        Select child tree object type for:
        <select class="input-medium object-type-selector">
          {{#select_model_list}}
          <option
            value="{{model_name}}"
            label="{{display_name}}"
            {{#if_equals model_name selected_model_name}}selected="selected"
            {{/if_equals}}>
          </option>
          {{/select_model_list}}
        </select>
      </h5>

      <!--h5>Select object type for {{model.title_singular}}</h5-->
      <ul class="model-list select-clear-all">
        <li>
          <label class="checkbox-inline">
            Select all: 
            <input type="checkbox"
              class="notify-wrap select-all-checkbox"
            >
          </label>
        </li>
        <li>
          <label class="checkbox-inline">
            Select none: 
            <input type="checkbox"
              class="notify-wrap clear-all-checkbox"
            >
          </label>
        </li>
      </ul>
      <ul class="model-list">
        {{#selected_child_tree_model_list}}
        <li>
          <label class="checkbox-inline">
            <input type="checkbox"
              {{#if display_status}}checked="checked"{{/if}}
              value="{{model_name}}"
              class="notify-wrap model-checkbox"
            >
            <!--i class="grcicon-{{model_lowercase}}-color"></i-->
            {{display_name}}
          </label>
        </li>
        {{/selected_child_tree_model_list}}
      </ul>

      <a class="btn btn-small btn-info set-display-object-list" href="javascript://">Set Visibility</a>
    </div>
  </li>
</tree-type-selector>
