{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  {{#if test_plan}}
  <div class="row-fluid wrap-row">
    <div class="span12">
      <h6>Test Plan</h6>
      <div class="rtf-block">
        {{{firstnonempty test_plan '<span class="empty-message">None</span>'}}}
      </div>
    </div>
  </div>
  {{/if}}
{{/instance}}
