{{#instance}}

  <div class="row-fluid wrap-row">
    <div class="span12">
      <h6>Test Plan</h6>
      <div class="rtf-block">
        {{{firstnonempty test_plan '<h4 class="no-data">No test plan</h4>'}}}
      </div>
    </div>
  </div>

{{/instance}}
