{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: goodson@google.com
  Maintained By: goodson@google.com
}}

{{#instance}}

  <div class="row-fluid wrap-row">
    <div class="span10">
      <h6>Title</h6>
      <h3>{{title}}</h3>
    </div>
  </div>

{{/instance}}
