<li class="tree-child-show">
  <tree-child-show>
    <a href="javascript://">
      <i class="fa fa-fw fa-{{#if showMappedToAllParents}}check-{{/if}}square-o"></i>
      Show mapped to all parents in child tree
    </a>
  </tree-child-show>
</li>
