{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<li>
  <tree-header-selector>
    <a href="#" class="dropdown-toggle tview-dropdown-toggle" data-toggle="nested-dropdown">
      <i class="fa fa-fw fa-cog"></i>
      Set Visible Fields for {{model.title_singular}}
    </a>
    <div class="dropdown-menu dropdown-menu-form">
      {{> '/static/mustache/base_objects/tree_column_selector_body.mustache'}}
    </div>
  </tree-header-selector>
</li>
