{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#is_allowed_to_map parent_instance model.shortName}}
{{#if allow_mapping_or_creating}}
  {{#if model.root_object}}
    {{^if_equals model.shortName 'Assessment'}}
      <a
        class="btn btn-mini action-button map-button"
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="unified-mapper"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.class.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
        Map
      </a>
    {{/if_equals}}
  {{else}}
  {{#if_instance_of parent_instance "Requirement"}}
  <a
    class="btn btn-mini action-button map-button"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-object-id="{{instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}"
    data-object-params='{ "section": { "id": {{parent_instance.id}}, "title": "{{json_escape parent_instance.title}}", "description": "{{json_escape parent_instance.description}}" } }'
>
    Map
  </a>
  {{else}}
  <a
    class="btn btn-mini action-button map-button"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-object-id="{{instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}"
>
    Map
  </a>
  {{/if_instance_of}}
  {{/if}}
{{/if}}
{{/is_allowed_to_map}}
