{{!
Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: urban@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}

<div data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" class="tree-item-placeholder" style="min-height: 41px; position: relative; background: red; color: white;">
    {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
</div>