{{#list}}
  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                {{^model.root_object}}
                  {{!assume use of stub class or Cacheable here}}
                  <i class="grcicon-{{instance.constructor.table_singular}}-color"></i>
                {{/model}}
                {{#instance.title}}
                  {{instance.title}}
                {{/instance.title}}
                {{^instance.title}}
                  {{{firstnonempty instance.description_inline ''}}}
                {{/instance.title}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{^instance.owner}}
                <i class="grcicon-people-warning"></i>
              {{/instance.owner}}
            </div>
          </div>
        </div>
      </a>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span6">
          {{#if instance.viewLink}}
            <a href="{{instance.viewLink}}" class="info-action">
              View {{instance.constructor.title_singular}}
              <i class="grcicon-goto"></i>
            </a>
          {{/if}}
          </div>

          <div class="span6">
          {{#if mappings}}
            <a href="javascript://" class="info-action unmap pull-right" data-toggle="unmap">
              {{#mappings}}<span class="mapping" {{data 'mapping'}}></span>{{/mappings}}
              <i class="grcicon-remove"></i>
              Unmap
            </a>
          {{/if}}
          </div>

        </div>

        {{#instance.description}}
        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description short">
                {{{instance.description}}}
              </div>
              {{{show_long}}}
            </div>
          </div>
        </div>
        {{/instance.description}}
        
        <div class="row-fluid">
          <div class="span6">
            <div class="tree-info">
              <strong>Owner:</strong>
              {{^instance.owner}}
                <span class="error">
                  Not Assigned
                </span>
              {{/instance.owner}}
              {{#if instance.owner}}
                {{instance.owner.name}}
              {{/if}}
            </div>
          </div>
          {{#instance.url}}
          <div class="span6">
            <div class="tree-info">
              <strong>URL:</strong>
              <a class="url" href="{{schemed_url instance.url}}" target="_blank">
                {{instance.url}}
              </a>
            </div>
          </div>
          {{/instance.url}}
        </div>
      </div>

      {{#if draw_children}}
        {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
            {{#child_options}}
              <div class="inner-tree">
                <h6>{{firstnonempty title_plural model.title_plural}} ({{list.length}})</h6>
                <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
              </div>
            {{/child_options}}
        {{/if_null}}
      {{/if}}

    </div>
    {{/if}}
  </li>
{{/list}}

{{#is_allowed 'create' 'update' 'delete' model.shortName}}
{{#if allow_mapping_or_creating}}
<li class="tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">

      {{#if model.root_object}}
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="multitype-modal-selector"
        data-join-option-type="{{model.shortName}}"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.constructor.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.constructor.title_singular 'Object'}}">
        + {{model.title_singular}}
      </a>
      {{#if null}}
      <a href="javascript://"class="control-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{parent_instance.constructor.model_singular}}" data-object-plural="{{parent_instance.constructor.table_plural}}" >
        <i class="grcicon-add-black"></i>
        Create Object
      </a>
      {{/if}}
      {{else}}
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="multitype-modal-selector"
        data-join-object-id="{{parent_instance.id}}"
        data-join-object-type="{{parent_instance.constructor.shortName}}"
        data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.constructor.title_singular 'Object'}}">
        + Object
      </a>
      {{/if}}
    </div>
  </div>
</li>
{{/if}}
{{/is_allowed}}
