{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch attr_name}}
  {{#case 'contact'}}
      <tree-people-list-field {source}="instance.contact">
          {{peopleStr}}
      </tree-people-list-field>
  {{/case}}
  {{#case 'secondary_contact'}}
      <tree-people-list-field {source}="instance.secondary_contact">
          {{peopleStr}}
      </tree-people-list-field>
  {{/case}}
  {{#case 'network_zone'}}
    {{#using network_zone=instance.network_zone}}
      {{network_zone.title}}
    {{/using}}
  {{/case}}
  {{#case 'design'}}
    {{#using design=instance.design}}
      {{design}}
    {{/using}}
  {{/case}}
  {{#case 'operationally'}}
    {{#using operationally=instance.operationally}}
      {{operationally}}
    {{/using}}
  {{/case}}
  {{#case 'status'}}
    {{#using status=instance.status}}
      <span class="state-value-dot {{addclass 'state-' status separator=''}}">
        {{status}}
      </span>
    {{/using}}
  {{/case}}

  {{#case 'creators'}}
      <tree-people-list-field {source}="instance.assignees" filter="Creator">
          {{peopleStr}}
      </tree-people-list-field>
  {{/case}}
  {{#case 'assignees'}}
      <tree-people-list-field {source}="instance.assignees" filter="Assessor">
          {{peopleStr}}
      </tree-people-list-field>
  {{/case}}
  {{#case 'verifiers'}}
      <tree-people-list-field {source}="instance.assignees" filter="Verifier">
          {{peopleStr}}
      </tree-people-list-field>
  {{/case}}
  {{#case 'created_at'}}
      {{localize_date instance.created_at}}
  {{/case}}
  {{#case 'end_date'}}
    {{localize_date instance.end_date}}
  {{/case}}
  {{#case 'title'}}
    <span>
    {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
    </span>
  {{/case}}

  {{#default}}
      {{#if_helpers '\
      #if_equals' attr_name 'url' '\
      or #if_equals' attr_name 'reference_url'}}
          <a class="url" href="{{get_url_value attr_name instance}}" target="_blank">
              {{get_default_attr_value attr_name instance}}
          </a>
      {{else}}
          {{get_default_attr_value attr_name instance}}
      {{/if_helpers}}
  {{/default}}
{{/switch}}
