<li class="tree-child-show">
  <tree-child-show>
    <input type="checkbox"
           {{#if showMappedToAllParents}}checked="checked"{{/if}}
           value="Show only mapped to all parents in child tree">
  </tree-child-show>
</li>
