{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: miha@reciprocitylabs.com
    Maintained By: miha@reciprocitylabs.com
}}

{{{> "/static/mustache/base_objects/tree_view_filter.mustache"}}}
<header class="header sticky sticky-header tree-header {{#filter_is_hidden}}no-filter{{/filter_is_hidden}}">
  <div class="row-fluid">
    <div class="span{{display_options.title_width}}">
      <div class="title-heading oneline">
        <span class="widget-col-title" data-field="title|description_inline|name|email">
          {{model.title_singular}} Title
          <i class="fa fa-caret-up"></i>
        </span>
      </div>
    </div>

    {{{> "/static/mustache/base_objects/tree_column_names.mustache"}}}

    <div class="span{{display_options.action_width}}">
        <ul class="tree-action-list">

        {{{> "/static/mustache/import_export/import_export_buttons.mustache}}}
        <assessment-generator-button audit="parent_instance"></assessment-generator-button>
        {{{> "/static/mustache/base_objects/filter_trigger.mustache}}}
        {{{> "/static/mustache/base_objects/tree_column_selector.mustache"}}}
        {{{> "/static/mustache/base_objects/sub_tree_type_selector.mustache"}}}

        {{#if add_item_view}}
          <li>
            {{{renderLive add_item_view}}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</header>
<div class="clearfix"></div>
