{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

{{#is_allowed_to_map parent_instance model.shortName}}
{{#if allow_mapping_or_creating}}
  {{#if model.root_object}}
  <a
    class="section-add"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-mapping="{{mapping}}"
    data-join-option-type="{{model.shortName}}"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-exclude-option-types="{{exclude_option_types}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
    <i class="grcicon-add-black"></i>
  </a>
  {{#if null}}
  <span class="section-expander">
    <a href="javascript://" rel="tooltip" data-placement="left" data-original-title="Create Object" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{parent_instance.class.model_singular}}" data-object-plural="{{parent_instance.class.table_plural}}" >
      <i class="grcicon-add-black"></i>
    </a>
  </span>
  {{/if}}
  {{else}}
  {{#if_instance_of parent_instance "Section"}}
  <a
    class="section-add"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-mapping="{{mapping}}"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-exclude-option-types="{{exclude_option_types}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}"
    data-object-params='{ "section": { "id": {{parent_instance.id}}, "title": "{{json_escape parent_instance.title}}", "description": "{{json_escape parent_instance.description}}" } }'
    >
    <i class="grcicon-add-black"></i>
  </a>
  {{else}}
  <a
    class="section-add"
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-mapping="{{mapping}}"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-exclude-option-types="{{exclude_option_types}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}"
    >
    <i class="grcicon-add-black"></i>
  </a>
  {{/if_instance_of}}
  {{/if}}
{{/if}}
{{/is_allowed_to_map}}
