{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: sasmita@google.com
  Maintained By: sasmita@google.com
}}

<tree-header-selector>
<li>
  <a href="#" class="dropdown-toggle tview-dropdown-toggle" data-toggle="dropdown">
    <i class="grcicon-setup-color" rel="tooltip" data-placement="left" data-original-title="Set Visible Fields for {{model.title_singular}}"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-form">
    <a class="pull-right close-dropdown"><i class="grcicon-x-grey"></i></a>
    <h5>Set visible fields for {{model.title_singular}}</h5>

    <ul class="attr-list">
      {{#select_attr_list}}
      <li class="{{#if mandatory}}disabled{{/if_equals}}">
        <label class="checkbox-inline" title="{{attr_title}}">
          <input type="checkbox"
            {{#if display_status}}checked="checked"{{/if}}
            {{#if mandatory}}disabled{{/if_equals}}
            value="{{attr_name}}"
            class="notify-wrap attr-checkbox {{#if mandatory}}mandatory{{/if_equals}}"
          >
          {{attr_title}}
        </label>
      </li>
      {{/select_attr_list}}
    </ul>

    <a class="btn btn-small btn-info set-tree-attrs" href="javascript://">Set fields</a>
  </div>
</li>
</tree-header-selector>
