{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

  <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "t-" instance.workflow_state}}>
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="item-wrap">
        {{{render '/static/mustache/base_objects/open_close.mustache' instance=instance}}}
        <div class="select">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span4">
                <div class="title tree-title-area">
                  {{#if_draw_icon instance}}
                    <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                  {{/if_draw_icon}}
                  {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
                </div>
              </div>

              <div class="span4">
                <div class="row-fluid">
                  {{#display_attr_list}}
                    <div class="span{{display_attr_width}}">
                      {{#if_equals attr_type 'custom'}}
                        <div class="custom tree-title-area">
                          {{get_custom_attr_value this instance}}
                        </div>
                      {{else}}
                        <div class="owner tree-title-area">
                          {{#instance}}
                            {{#switch attr_name}}
                              {{#case 'owner'}}
                                {{#if owners.length}}
                                  {{#using contacts=owners}}
                                  {{#contacts}}
                                    {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
                                  {{/contacts}}
                                  {{/using}}
                                {{/if}}
                              {{/case}}
                              {{#case 'contact'}}
                                <span>
                                  {{#using contact=instance.contact}}
                                    {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
                                  {{/using}}
                                </span>
                              {{/case}}
                              {{#case 'secondary_contact'}}
                                <span>
                                  {{#using contact=instance.secondary_contact}}
                                    {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
                                  {{/using}}
                                </span>
                              {{/case}}
                              {{#case 'network_zone'}}
                                {{#using network_zone=instance.network_zone}}
                                  {{network_zone.title}}
                                {{/using}}
                              {{/case}}

                              {{#default}}
                                {{get_default_attr_value attr_name instance}}
                              {{/default}}
                            {{/switch}}
                          {{/instance}}
                        </div>
                      {{/if}}
                    </div>
                  {{/display_attr_list}}
                </div>
              </div>

              <div class="span4">
                {{#child_options}}
                  {{#if add_item_view}}
                    {{{renderLive add_item_view}}}
                  {{/if}}
                {{/child_options}}
                <div class="show-details">
                  {{#if instance.viewLink}}
                    {{#is_allowed "view_object_page" instance}}
                      <a href="{{instance.viewLink}}" target="_blank"><i class="grcicon-to-right"></i></a>
                    {{/is_allowed}}
                  {{/if}}
                </div>
                <ul class="tree-action-list">
                  {{#infer_roles instance}}
                    <li>
                      <div class="item-data">
                        <div class="tree-title-area">
                          <span class="role">
                            {{.}}
                          </span>
                        </div>
                      </div>
                    </li>
                  {{/infer_roles}}
                  <li>
                    {{#child_options}}
                      {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance multiple_mapping_case=true}}}
                    {{/child_options}}
                    {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
                  </li>
                  {{#instance}}
                    {{#is_private}}
                      <li>
                        <div class="counter">
                          <i class="grcicon-private"></i>
                        </div>
                      </li>
                    {{/is_private}}
                  {{/instance}}

                  {{^instance.contact}}
                    <li>
                      <div class="counter">
                        <i class="grcicon-people-warning"></i>
                      </div>
                    </li>
                  {{/instance.contact}}
                  <li>
                    {{{renderLive '/static/mustache/base_objects/states.mustache'}}}
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        {{#if draw_children}}
          {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
              {{#child_options}}
                <div class="inner-tree">
                  <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
                </div>
              {{/child_options}}
          {{/prune_context}}
        {{/if}}
      </div>
    </div>
    {{/if}}
  </li>
