{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#if options.allow_mapping}}
  {{#if options.mappings}}
    {{#is_allowed_all 'delete' options.mappings}}
      {{^is_dashboard}}
        <li class="border">
          <a href="javascript://" class="unmap" data-toggle="unmap">
            {{#options.result}}<span class="result" {{data 'result'}}></span>{{/options.result}}
            <i class="grcicon-remove"></i>
            Unmap
          </a>
        </li>
      {{/is_dashboard}}
    {{/is_allowed_all}}
  {{/if}}
{{/if}}
