{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
  <div class="row-fluid wrap-row">
    <div data-test-id="title_reference_url_aa7d1a65" class="span6">
      <related-documents instance={instance} document-type="REFERENCE_URL">
        <related-reference-urls class="related-reference-urls"
          {(urls)}="documents"
          {is-disabled}="isLoading"
          {is-not-editable}="isSnapshot"
          (createReferenceUrl)="createRelatedDocument(%event.payload)"
          (removeReferenceUrl)="removeRelatedDocument(%event.payload)">
          <div class="related-reference-urls__heading">
            <spinner class="related-reference-urls__spinner" {toggle}="isLoading"></spinner>
            <h6 class="related-reference-urls__title">Reference URL</h6>
          </div>
          <div class="related-reference-urls__list">
            <object-list {(items)}="urls" {empty-message}="''">
              <div class="action-toolbar">
                <document-object-list-item {instance}="{.}">
                </document-object-list-item>
                {{#unless isNotEditable}}
                  <div class="action-toolbar__controls">
                    <a href="javascript://"
                      class="info-action unmap"
                      {{#if isDisabled}}disabled{{/if}}
                      ($click)="removeReferenceUrl(%context)">
                        <action-toolbar-control>
                          <i class="fa fa-trash"></i>
                        </action-toolbar-control>
                    </a>
                  </div>
                {{/unless}}
              </div>
            </object-list>
          </div>
          {{#unless isNotEditable}}
            {{#if isFormVisible}}
              <form class="related-reference-urls__create create-form">
                <fieldset class="create-form__layout"
                  {{#if isDisabled}}disabled{{/if}}>
                  <input {($value)}="value"
                  class="create-form__input"
                  type="text"
                  placeholder="Add URL"
                  spellcheck="false"
                  autocomplete="false">
                  <div class="create-form__controls">
                    <button type="submit" class="create-form__confirm" ($click)="submitCreateReferenceUrlForm(value)">
                      <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="create-form__cancel" ($click)="toggleFormVisibility(false)">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </fieldset>
              </form>
            {{else}}
              <button type="button"
                class="related-reference-urls__toggle btn btn-small btn-gray"
                ($click)="toggleFormVisibility(true)">
                Add
              </button>
            {{/if}}
          {{/unless}}
        </related-reference-urls>
      </related-documents>
    </div>
  </div>

{{/instance}}
