{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <h6>
        {{firstnonempty constructor.title_singular}}
        URL
      </h6>
      <p>
        <a class="url" href="{{schemed_url url}}" target="_blank">
          {{url}}
        </a>
      </p>
    </div>
    <div class="span6">
      <h6>Reference URL</h6>
      <p>
        <a class="url" href="{{schemed_url reference_url}}" target="_blank">
          {{reference_url}}
        </a>
      </p>
    </div>
  </div>
  
{{/instance}}
