{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#if instance.viewLink}}
  <li>
    <a href="{{instance.viewLink}}">
      <i class="grcicon-goto"></i>
      View {{instance.class.title_singular}}
    </a>
  </li>
{{/if}}
