{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{!div class="modal-body"}}
<div class="hideable-holder">
{{#instance}}
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>
        Title
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip"
           title="Give new Risks a name that's easy to search for and indicates the main goals of this Risk."></i>
      </label>
      <input tabindex="1"
             class="input-block-level"
             placeholder="Enter Title"
             name="title"
             type="text"
             value="{{instance.title}}" autofocus>
      {{#instance.computed_errors.title}}
        <label class="help-inline warning">{{this}}</label>
      {{/instance.computed_errors.title}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.description}}field-failure{{/instance.computed_errors.description}}">
      <label>
        Description
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip"
           title="Provide more details on the purpose of this Risk and provide context for how and when this Risk might be used."></i>
      </label>
      {{#instance.computed_errors.description}}
        <label class="help-inline warning">{{this}}</label>
      {{/instance.computed_errors.description}}
      <div class="rich-text">
        <rich-text
          tabindex="2"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Description'"
          {(content)}="instance.description">
        </rich-text>
      </div>
    </div>
  </div>

  {{> /static/mustache/partials/modal-ajax-test-plan.mustache}}

  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.risk_type}}field-failure{{/instance.computed_errors.risk_type}}">
      <label>
        Risk Type
        <span class="required">*</span>
      </label>
      {{#instance.computed_errors.risk_type}}
        <label class="help-inline warning">{{this}}</label>
      {{/instance.computed_errors.risk_type}}
      <div class="rich-text">
        <rich-text
          tabindex="4"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Risk Type'"
          {(content)}="instance.risk_type">
        </rich-text>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 hidable">
      <label>
        Threat Source
        <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
        <rich-text
          tabindex="5"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Threat Source'"
          {(content)}="instance.threat_source">
        </rich-text>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 hidable">
      <label>
        Threat Event
        <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
        <rich-text
          tabindex="6"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Threat Event'"
          {(content)}="instance.threat_event">
        </rich-text>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 hidable">
      <label>
        Vulnerability
        <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
        <rich-text
          tabindex="7"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Vulnerability'"
          {(content)}="instance.vulnerability">
        </rich-text>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 hide-wrap hidable">
      <access-control-list-roles-helper
        {instance}="."
        {is-proposal}="isProposal"
        {is-new-instance}="new_object_form">
      </access-control-list-roles-helper>
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="note_hidden" class="span6 hidable">
      <label>
        Notes
        <i class="fa fa-question-circle" rel="tooltip"
           title="Append simple text or html notes here."></i>
        <a data-id="hide_note_lk" href="javascript://" class="field-hide"
           tabindex="-1">hide</a>
      </label>
      <div class="rich-text">
        <rich-text
          tabindex="8"
          {hidden-toolbar}="true"
          {placeholder}="'Enter Notes'"
          {(content)}="instance.notes">
        </rich-text>
      </div>
    </div>

    {{^if isProposal}}
      <div class="span6 hide-wrap hidable">
        <div class="row-fluid inner-hide">
          {{> '/static/mustache/base_objects/modal-content-reference-urls.mustache'}}
        </div>
      </div>
    {{/if}}
  </div>

  {{^if isProposal}}
    <div class="row-fluid">
      <div data-id="folder_hidden" class="span6 hidable">
        <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="9">
        </ggrc-gdrive-folder-picker>
      </div>
    </div>
  {{/if}}

  <div class="row-fluid {{#if isProposal}}input-block-level{{/if}}">
    {{^if isProposal}}
      <div class="span4 hidable">
        <label>
          Code
          <i class="fa fa-question-circle" rel="tooltip"
            title="The ZenGRC application will automatically provide codes for new objects. If you would like to override this feature you may manually enter a code of your choosing. You should have a specific reason for doing this."></i>
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <input data-id="code_txtbx" {{^if new_object_form}} disabled {{/if}} tabindex="10" id="section-code" class="input-block-level" name="slug" placeholder="RISK-XXX" type="text" value="{{slug}}">
      </div>
    {{/if}}
    <div class="span4 hidable">
      <effective-dates instance="instance"/>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4 hidable">
      <label>
        State
        <i class="fa fa-question-circle" rel="tooltip"
           title="Indicates the status of this object."></i>
        <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
        <dropdown options-list="model.statuses"
                  no-value="true"
                  no-value-label="---"
                  name="instance.status"
                  tabindex="23">
        </dropdown>
    </div>
  </div>

</form>
{{/instance}}
</div>
{{!/div}}
