{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="filter-container">
  <div class="container-content flex-box flex-box-multi">
    {{#each items}}
      {{#switch type}}
        {{#case "attribute"}}
          <advanced-search-filter-attribute
            {(attribute)}="value"
            (remove)="removeItem(../)"
            {available-attributes}="availableAttributes">
          </advanced-search-filter-attribute>
        {{/case}}
        {{#case "group"}}
          <advanced-search-filter-group
            {(items)}="value"
            (remove)="removeItem(../)"
            {available-attributes}="availableAttributes">
          </advanced-search-filter-group>
        {{/case}}
        {{#case "operator"}}
          <advanced-search-filter-operator
            {(operator)}="value">
          </advanced-search-filter-operator>
        {{/case}}
      {{/switch}}
    {{/each}}
  </div>
  <div class="container-footer">
    <div>
      <button class="btn btn-small btn-lightBlue" ($click)="addItem('attribute')">Add Attribute</button>
      <button class="btn btn-small btn-lightBlue" ($click)="addItem('group')">Add Group</button>
    </div>
  </div>
</div>






