{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="filter-content flex-box flex-box-multi">
  <div class="filter-name">
    <h6>State</h6>
  </div>
  <div class="filter-operator">
    <select {($value)}="stateModel.value.operator">
      <option value="ANY">Any of</option>
      <option value="NONE">None Of</option>
    </select>
  </div>
  <div class="filter-value">
    <multiselect-dropdown
            {options}="filterStates"
            placeholder="Filter by State"
            plural="States">
    </multiselect-dropdown>
  </div>
</div>



