{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#is_allowed 'update' instance context='for'}}
  <div {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({instance : el.data("model") }) }}>

  {{#if_in instance.status "Not Started,In Progress"}}
    {{#if_null instance._mandatory_msg}}
      {{#unless instance._disabled}}
        {{#if_verifiers_defined instance}}
          <button class="btn btn-small btn-primary pull-right btn-info-pin-header {{instance._disabled}}"
                  data-name="status"
                  data-value="Ready for Review">
            Complete
          </button>
        {{else}}
          <button class="btn btn-small btn-primary pull-right btn-info-pin-header {{instance._disabled}}"
                  data-name="status"
                  data-value="Completed">Complete</button>
        {{/if_verifiers_defined}}
      {{/unless}}
    {{else}}
      <button class="btn btn-small btn-primary pull-right btn-info-pin-header disabled"
              title="{{instance._mandatory_msg}}">
        Complete
      </button>
    {{/if_null}}
  {{/if_in}}

  {{#if_equals instance.status "Ready for Review"}}
    {{#with_mapping 'related_verifiers' instance}}
      {{#results}}
        {{#if_current_user instance}}
          {{#if_null instance._mandatory_msg}}
            <button class="btn btn-small btn-success pull-right btn-info-pin-header {{instance._disabled}}"
                    data-name="status"
                    data-value="Verified">Verify</button>
            <button class="btn btn-small btn-danger pull-right btn-info-pin-header {{instance._disabled}}"
                    data-name="status"
                    data-value="In Progress">Reject</button>
          {{else}}
            <button class="btn btn-small btn-success pull-right btn-info-pin-header disabled"
                    data-name="status"
                    data-value="Verified"
                    title="{{instance._mandatory_msg}}">Verify</button>
            <button class="btn btn-small btn-danger pull-right btn-info-pin-header disabled"
                    data-name="status"
                    data-value="In Progress"
                    title="{{instance._mandatory_msg}}">Reject</button>
          {{/if_null}}
        {{/if_current_user}}
      {{/results}}
    {{/with_mapping}}
  {{/if_equals}}

    {{#instance._undo.0}}
        <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo btn-info-pin-header pull-right {{instance._disabled}}">Undo</a>
    {{/instance._undo.0}}
  </div>
{{/is_allowed }}
