{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: urban@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}

{{#is_allowed 'update' instance context='for'}}
  <div {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({instance : el.data("model") }) }}>
    {{#if_equals instance.status "Unstarted"}}
      <button href="javascript://" class="btn btn-small btn-primary pull-right btn-info-pin-header {{instance._disabled}}" data-name="status" data-value="In Progress">Start</button>
    {{/if_equals}}
    {{#if_equals instance.status "In Progress"}}
      <button href="javascript://" class="btn btn-small btn-primary pull-right btn-info-pin-header {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
    {{/if_equals}}
    {{#if_equals instance.status "Finished"}}
      <button href="javascript://" class="btn btn-small btn-success pull-right btn-info-pin-header {{instance._disabled}}" data-name="status" data-value="Verified">Verify</button>
      <button href="javascript://" class="btn btn-small btn-danger pull-right btn-info-pin-header {{instance._disabled}}" data-name="status" data-value="In Progress">Decline</button>
    {{/if_equals}}

    {{#instance._undo.0}}
        <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo btn-info-pin-header pull-right {{instance._disabled}}">Undo</a>
    {{/instance._undo.0}}
  </div>
{{/is_allowed }}
