{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="controls clearfix">
    <spinner toggle="isSaving"></spinner>
  {{^if isSaving}}
      <a class="btn btn-success btn-small pull-right" can-click="save">Add</a>
      <label class="input--inline pull-right">
          <input type="checkbox" name="send_notification"
                 {{#parent_instance.send_by_default}}checked{{/parent_instance.send_by_default}}>
          Send Notifications
      </label>
  {{/if}}
</div>
