{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="">
    <rich-text class="input--textarea" {{#isSaving}}disabled="disabled"{{/isSaving}} placeholder="{{commentPlaceHolder}}" text="comment.value" can-keyup="removeEmptyMark"></rich-text>
</div>
