{{!
Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="pane-header">
    <div class="row-fluid wrap-row">
        <div class="span9">
            <h6>title</h6>
            <div class="pane-header__title">
                <h3>{{instance.title}}</h3>
                  <span class="state-value {{addclass 'state-' instance.status separator=''}}">{{instance.status}}</span>
                  {{#if instance.verified}}
                    <i class="fa fa-check-circle green"
                      rel="tooltip"
                      title="Verified on {{localize_date instance.verified_date}}">
                    </i>
                  {{/if}}
            </div>
        </div>
        <div class="span3">
            <div class="info-pane-utility">
                <div class="details-wrap">
                    <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                    </a>
                    <ul class="dropdown-menu three-dots-list" aria-labelledby="drop1" role="menu">
                      {{#is_allowed 'update' instance context='for'}}
                        {{> '/static/mustache/base_objects/edit_object_link.mustache'}}
                      {{/is_allowed}}
                        <li>
                            <clipboard-link title="Get permalink" notify="true"
                                            text="{{get_permalink_for_object instance}}"/>
                        </li>

                      {{#is_info_pin}}
                        {{#if instance.viewLink}}
                          {{#is_allowed "view_object_page" instance}}
                              <li>
                                  <a href="{{instance.viewLink}}">
                                      <i class="fa fa-long-arrow-right"></i>
                                      Open {{instance.class.title_singular}}
                                  </a>
                              </li>
                          {{/is_allowed}}
                        {{/if}}
                      {{/is_info_pin}}

                      {{#if_in instance.status "Not Started,In Progress"}}
                        {{#is_allowed 'update' instance context='for'}}
                            <li>
                              {{#unless instance._disabled}}
                                {{#if_verifiers_defined instance}}
                                    <reminder
                                            instance="instance"
                                            type="statusToPerson"
                                            modal_title="Reminder for Assignees set"
                                            modal_description="Tomorrow all Assignees will receive a notification to look at this Assessment if they didn't move it to 'Finished' in between."
                                    >
                                        <a href="javascript://" can-click="reminder">
                                            <i class="fa fa-bell-o"></i>
                                            Send reminder to assignees</a>
                                    </reminder>
                                {{else}}
                                    <reminder
                                            instance="instance"
                                            type="statusToPerson"
                                            modal_title="Reminder for Assignees set"
                                            modal_description="Tomorrow all Assignees will receive a notification to look at this Assessment if they didn't move it to 'Final' in between."
                                    >
                                        <a href="javascript://" can-click="reminder">
                                            <i class="fa fa-bell-o"></i>
                                            Send reminder to assignees</a>
                                    </reminder>
                                {{/if_verifiers_defined}}
                              {{/unless}}
                            </li>
                        {{/is_allowed}}
                      {{/if_in}}

                      {{#is_allowed 'delete' instance}}
                          <li>
                              <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}"
                                 data-object-singular="{{model.model_singular}}" data-modal-reset="reset"
                                 data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                                  <i class="fa fa-trash"></i>
                                  Delete
                              </a>
                          </li>
                      {{/is_allowed}}
                    </ul>
                </div>
            </div>
          {{#is_allowed 'update' instance context='for'}}
            <object-state-toolbar instance="instance"></object-state-toolbar>
          {{/is_allowed}}
        </div>
    </div>
</div>
