{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

{{#instance}}
  <section class="info{{#is_info_pin}} sticky-info-panel assignable{{/is_info_pin}}">
    {{#is_info_pin}}
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
    {{/is_info_pin}}

    <div class="tier-content">
      {{> /static/mustache/assessments/header.mustache}}
      <div class="row-fluid">
        <div class="span8">
          <div class="row-fluid wrap-row">
            <div data-test-id="title_description_7a906d2e" class="span12">
              <h6>Description</h6>
              <div data-test-id="title_description_content_7a906d2e" class="rtf-block">
                {{#instance}}
                  {{{firstnonempty description '<span class="empty-message">None</span>'}}}
                {{/instance}}
              </div>
            </div>
          </div>

          {{{render '/static/mustache/base_objects/test_plan.mustache' instance=instance}}}
          {{{render '/static/mustache/base_objects/notes.mustache' instance=instance}}}

          <div class="row-fluid wrap-row">
            <div class="span12">
              {{{render "/static/mustache/base_templates/mapped_objects.mustache" instance=. update_count="false"}}}
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span6">
              <h6>Evidence</h6>
              {{{render "/static/mustache/base_templates/attachment_list.mustache" instance=. update_count="false"}}}
            </div>
            <div class="span6">
              <h6>URL</h6>
              {{> "/static/mustache/base_templates/url_list.mustache"}}
            </div>
          </div>

          {{{render '/static/mustache/base_objects/urls.mustache' is_program=true instance=instance}}}
          {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

          <div class="row-fluid wrap-row" {{#instance}}{{data 'model'}}{{/instance}} data-force-refresh="true"
            data-model="true" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
            <div class="span6">
              <h6>Conclusion: Design</h6>
              <p><small><em>Is this control design effective?</em></small></p>
              {{#is_allowed 'update' instance context='for'}}
                <select class="input-medium visual-selector" name="design">
                  <option value="" {{#if_equals design ""}}selected{{/if_equals}}>---</option>
                  {{#iterate 'Effective' 'Ineffective' 'Needs improvement' 'Not Applicable'}}
                    <option {{#if_equals iterator design}}selected="true"{{/if_equals}}>{{iterator}}</option>
                  {{/iterate}}
                </select>
              {{else}}
                {{firstnonempty design '--'}}
              {{/is_allowed}}
            </div>
            <div class="span6">
              <h6>Conclusion: Operation</h6>
              <p><small><em>Is this control operationally effective?</em></small></p>
              {{#is_allowed 'update' instance context='for'}}
                <select class="input-medium visual-selector" name="operationally">
                  <option value="" {{#if_equals operationally ""}}selected{{/if_equals}}>---</option>
                  {{#iterate 'Effective' 'Ineffective' 'Needs improvement' 'Not Applicable'}}
                    <option {{#if_equals iterator operationally}}selected="true"{{/if_equals}}>{{iterator}}</option>
                  {{/iterate}}
                </select>
              {{else}}
                {{firstnonempty operationally '--'}}
              {{/is_allowed}}
            </div>
          </div>

        </div>
        <div class="span4">
          <div class="row-fluid wrap-row">
            <div class="span12">
              <people-list instance="instance" editable="true"></people-list>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              {{> /static/mustache/base_templates/dates_list.mustache}}
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-wrap">
        <tabs instance="instance">
          <tab-panel panels="panels" title-text="Comments" instance="instance">
            {{#if_helpers '\
              ^if_equals' status 'Verified' '\
              and ^if_equals' status 'Final' }}
            {{#is_allowed 'update' instance context='for'}}
              <div class="tree-item-add">
                <add-comment data="comments" source_mapping="instance" parent_instance="instance"></add-comment>
              </div>
            {{/is_allowed}}
            {{/if_equals}}
            {{{render "/static/mustache/base_templates/comment_list.mustache" instance=instance update_count="false"}}}
          </tab-panel>
          <tab-panel panels="panels" title-text="Assessment Log" instance="instance">
            <revision-log instance="instance"></revision-log>
          </tab-panel>
          <tab-panel panels="panels" title-text="Related Assessments" instance="instance">
            {{{render "/static/mustache/assessments/reusable_objects.mustache" instance=instance}}}
          </tab-panel>
          <tab-panel panels="panels" title-text="Related Requests" instance="instance">
            {{{render "/static/mustache/assessments/related_requests.mustache" instance=instance}}}
          </tab-panel>
          <tab-panel panels="panels" title-text="Related Issues" instance="instance">
            {{{render "/static/mustache/assessments/related_issues.mustache" instance=instance}}}
          </tab-panel>
        </tabs>
      </div>
    </div><!-- tier-content end -->

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by
          {{#using person=modified_by}}
            {{{render '/static/mustache/people/popover.mustache' person=person}}}
          {{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
