{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{!div class="modal-body"}}
  <div class="editable-form">
    {{#instance}}
    <form action="javascript://">

      {{^if new_object_form}}
        {{#if_in instance.status "Not Started,Completed,Verified"}}
          <div class="alert warning">
            <i class="fa fa-exclamation-triangle red"></i>
            You are about to move assessment from "{{instance.status}}" to "In Progress".
          </div>
        {{/if_in}}
      {{/if}}

      <!--<div class="editable-form-row">
        <div class="editable-form-short-input">
          <label><span style="color: red">TODO:</span> ASSESSMENT TYPE</label>
          <dropdown options-list="model.conclusions"
                    no-value="true"
                    no-value-label="---"
                    name="instance.design"
                    tabindex="1">
          </dropdown>
        </div>
      </div>-->
      <div class="editable-form-row">
        <div class="editable-form-long-input {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
          <label class="required">
            Title
            <i class="fa fa-asterisk"></i> 
          </label>
          <input data-id="title_txtbx" tabindex="2" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
          {{#instance.computed_errors.title}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.title}}
        </div>
      </div>

      <div class="editable-form-row">
        <div class="editable-form-long-input">
          <label>
            Test Plan
          </label>
          <div class="wysiwyg-area">
            <textarea tabindex="3" id="control_test_plan" class="triple wysihtml5" name="test_plan" placeholder="Enter Test Plan">{{{test_plan}}}</textarea>
          </div>
        </div>
      </div>

      <div class="width-100">
        <assessment-people {instance}="instance" info-pane-mode=false>
        </assessment-people>
      </div>

      <div class="editable-form-row">
        <checkbox-to-list property="recipients" instance="instance" class="flex-box">
          <div class="editable-form-checkobox">
            <label class="input--inline">
                <input tabindex="11" type="checkbox"
                      name="send_by_default"
                      {{# send_by_default}}checked{{/send_by_default}}>
                Enable notifications on comments
              </label>
          </div>
          <div class="editable-form-checkobox">
            <label class="input--inline">
                  <input tabindex="12" type="checkbox" can-value="values.Creator">
                  Notify creator(s)
              </label>
          </div>
          <div class="editable-form-checkobox">
            <label class="input--inline">
                  <input tabindex="13" type="checkbox" can-value="values.Assessor">
                  Notify assignee(s)
            </label>
          </div>
          <div class="editable-form-checkobox">
            <label class="input--inline">
                  <input tabindex="14" type="checkbox" can-value="values.Verifier">
                  Notify verifier(s)
              </label>
          </div>
        </checkbox-to-list>
      </div>

      <div class="editable-form-row mappings">
        <ggrc-modal-connector
                class="width-100"
                parent_instance="instance"
                instance="instance"
                mapping="related_objects_as_source"
                from-binding="true"
                deferred="true">
          <label>
            Mapped Objects
          </label>
          {{#prune_context}}
            <div class="mapped-objects">
              {{#each list}}
                <div class="mapped-object">
                  <div class="mapped-object-details">
                     <business-object-list-item {instance}="{.}">
                       <div class="description">
                          <read-more {text}="itemData.description" max-text-length="90"></read-more>
                        </div>
                     </business-object-list-item>
                  </div>
                  <div class="mapped-object-unmap">
                    {{^is type 'Audit'}}
                      <a href="javascript://" data-toggle="unmap">
                        <span class="result" {{data 'result'}}></span>
                        <i class="fa fa-trash"></i>
                      </a>
                    {{/is}}
                  </div>
                </div>
              {{/each}}
            </div>
          {{/prune_context}}
          {{^list.length}}
            <span class="gray"><em>No mapped objects</em></span>
          {{/list.length}}
            <div class="objective-selector">
              {{#if instance.audit}}
                <a class="section-add section-sticky btn btn-small btn-white"
                  href="javascript://" rel="tooltip"
                  {{data "deferred_to"}}
                  data-placement="left"
                  data-toggle="unified-mapper"
                  data-deferred="true"
                  data-object-source="true"
                  data-is-new="{{instance.isNew}}"
                  data-join-object-id="{{instance.id}}"
                  data-join-object-type="{{instance.class.model_singular}}"
                  data-original-title="Map Object to this {{instance.class.title_singular}}" tabindex="6"
                  data-snapshot-scope-id="{{instance.audit.id}}"
                  data-snapshot-scope-type="{{instance.audit.type}}"
                >
                  Map Objects
                </a>
              {{else}}
                <a class="section-add section-sticky btn btn-small btn-white"
                  href="javascript://" rel="tooltip"
                  {{data "deferred_to"}}
                  data-placement="left"
                  data-toggle="unified-mapper"
                  data-deferred="true"
                  data-object-source="true"
                  data-is-new="{{instance.isNew}}"
                  data-join-object-id="{{instance.id}}"
                  data-join-object-type="{{instance.class.model_singular}}"
                  data-original-title="Map Object to this {{instance.class.title_singular}}" tabindex="6"
                >
                  Map Objects
                </a>
              {{/if}}
            </div>
        </ggrc-modal-connector>
      </div>

      <div class="additional-fields">
        <div class="expand-link">
          <a class="show-hidden-fields info-show-hide active" href="javascript://">
            <span class="out">
              <i class="fa fa-caret-right"></i>
              SHOW
            </span>
            <span class="in">
              <i class="fa fa-caret-down"></i>
              HIDE
            </span>
            ADDITIONAL FIELDS
          </a>
        </div>
        <div class="hidden-fields-area">
          {{>'/static/mustache/assessments/modal_content_additional_fields.mustache'}}
      </div>
    </form>
    {{/instance}}
  </div>
{{!/div}}
