{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{!div class="modal-body"}}
  <div class="ggrc-form">
    {{#instance}}
    <form action="javascript://">

      {{^if new_object_form}}
        {{#if_in instance.status "Not Started,Completed,Verified,In Review"}}
          {{#if_helpers '\
            #if' instance.isDirty '\
            or #if' mappedObjectsChanges.length '\
            or #if' referenceUrlChanged}}
          <div class="ggrc-form-item">
            <div class="alert warning width-100">
              <i class="fa fa-exclamation-triangle red"></i>
              You are about to move assessment from "{{instance.status}}" to "In Progress".
            </div>
          </div>
          {{/if_helpers}}
        {{/if_in}}
      {{/if}}

      <div class="ggrc-form-item">
        <div class="ggrc-form-item__multiple-row">
          <label class="form-label required-label">
            Assessment Type
            <i class="fa fa-asterisk"></i>
          </label>
          <assessment-object-type-dropdown
            {instance}="instance"
            {(assessment-type)}="instance.assessment_type">
            <dropdown
              {options-groups}="objectTypes"
              is-grouped-dropdown="true"
              name="assessmentType">
            </dropdown>
          </assessment-object-type-dropdown>
        </div>
      </div>
      <div class="ggrc-form-item">
        <div class="ggrc-form-item__row {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
          <label class="form-label required-label ggrc-form-item__label">
            Title
            <i class="fa fa-asterisk"></i>
          </label>
          <input data-id="title_txtbx"
            tabindex="2"
            class="input-block-level"
            placeholder="Enter Title"
            name="title"
            type="text"
            {$value}="title" autofocus>
          {{#instance.computed_errors.title}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.title}}
        </div>
      </div>

      <div class="ggrc-form-item">
        <div class="ggrc-form-item__row">
          <label class="ggrc-form-item__label">
            Assessment Procedure
          </label>
          <rich-text tab-index="3"
              hidden-toolbar="true"
              placeholder="Enter Assessment Procedure"
              {(text)}="test_plan">
          </rich-text>
        </div>
      </div>

      <div class="ggrc-form-item width-100">
        <div class="ggrc-form-item__row">
        <assessment-people {instance}="instance" info-pane-mode=false>
        </assessment-people>
        </div>
      </div>

      <div class="ggrc-form-item">
        <div class="ggrc-form-item__row ggrc-from-item__checkbox-list">
          <checkbox-to-list property="recipients" instance="instance" class="flex-box">
            <div class="ggrc-form-item__checkbox-item">
              <label class="input--inline">
                  <input
                    tabindex="4"
                    type="checkbox"
                    name="send_by_default"
                    {{# send_by_default}}checked{{/send_by_default}}>
                      Enable notifications on comments
                </label>
            </div>
            <div class="ggrc-form-item__checkbox-item">
              <label class="input--inline">
                    <input tabindex="5" type="checkbox" can-value="values.Creator">
                    Notify creator(s)
                </label>
            </div>
            <div class="ggrc-form-item__checkbox-item">
              <label class="input--inline">
                    <input tabindex="6" type="checkbox" can-value="values.Assessor">
                    Notify assignee(s)
              </label>
            </div>
            <div class="ggrc-form-item__checkbox-item">
              <label class="input--inline">
                    <input tabindex="7" type="checkbox" can-value="values.Verifier">
                    Notify verifier(s)
                </label>
            </div>
          </checkbox-to-list>
        </div>
      </div>

      <div class="ggrc-form-item">
        <div class="ggrc-form-item__row">
          <ggrc-modal-connector
                  class="width-100"
                  parent_instance="instance"
                  instance="instance"
                  mapping="related_objects_as_source"
                  from-query-api="true"
                  {type}="instance.assessment_type"
                  {new-instance}="instance.isNew"
                  deferred="true"
                  {^changes}="mappedObjectsChanges">
            <label class="ggrc-form-item__label">
              Mapped Objects
            </label>
            <div class="modal-mapped-objects">
              {{#prune_context}}
                {{#each list}}
                  <div class="modal-mapped-objects-item">
                    <div class="modal-mapped-objects-item__details">
                      <object-list-item-updater {target-instance}="{.}">
                        {{#if instanceUpdated}}
                          <business-object-list-item {instance}="instance">
                            <div class="description">
                              <read-more {text}="itemData.description" max-lines-number="1"></read-more>
                            </div>
                          </business-object-list-item>
                        {{/if}}
                      </object-list-item-updater>
                    </div>
                    <div class="modal-mapped-objects-item__unmap">
                      {{^is type 'Audit'}}
                        <a href="javascript://" data-toggle="unmap">
                          <span class="result" {{data 'result'}}></span>
                          <i class="fa fa-trash"></i>
                        </a>
                      {{/is}}
                    </div>
                  </div>
                {{/each}}
              {{/prune_context}}
              {{^list.length}}
                <span>
                  <em>No mapped objects</em>
                </span>
              {{/list.length}}
            </div>
            <div class="objective-selector">
               <map-button-using-assessment-type
                {{data "deferred_to"}}
                {instance}="instance">
                  {{#if instance.audit}}
                    <a class="section-add section-sticky btn btn-small btn-white assessment-map-btn"
                      href="javascript://"
                      rel="tooltip"
                      data-placement="left"
                      data-deferred="true"
                      data-object-source="true"
                      data-is-new="{{instance.isNew}}"
                      data-join-object-id="{{instance.id}}"
                      data-join-object-type="{{instance.class.model_singular}}"
                      data-original-title="Map Object to this {{instance.class.title_singular}}"
                      tabindex="8"
                      data-snapshot-scope-id="{{instance.audit.id}}"
                      data-snapshot-scope-type="{{instance.audit.type}}"
                    >
                      Map Objects
                    </a>
                  {{else}}
                    <a class="section-add section-sticky btn btn-small btn-white assessment-map-btn"
                      href="javascript://"
                      rel="tooltip"
                      data-placement="left"
                      data-deferred="true"
                      data-object-source="true"
                      data-is-new="{{instance.isNew}}"
                      data-join-object-id="{{instance.id}}"
                      data-join-object-type="{{instance.class.model_singular}}"
                      data-original-title="Map Object to this {{instance.class.title_singular}}"
                      tabindex="8"
                    >
                      Map Objects
                    </a>
                  {{/if}}
              </map-button-using-assessment-type>
            </div>
          </ggrc-modal-connector>
        </div>
      </div>

      <div class="ggrc-form-item">
        <div class="ggrc-form-item__multiple-row">
          <related-documents
            instance={instance}
            document-type="REFERENCE_URL"
            autorefresh="false"
            {^pending-items-changed}="referenceUrlChanged">
            <related-reference-urls class="related-reference-urls"
              {(urls)}="documents"
              {is-disabled}="isLoading"
              (createReferenceUrl)="markDocumentForAddition(%event.payload)"
              (removeReferenceUrl)="markDocumentForDeletion(%event.payload)">
              <label>
                Reference URL
                <spinner {toggle}="isDisabled"></spinner>
              </label>
              <div class="related-reference-urls__list">
                <object-list {(items)}="urls" {empty-message}="''">
                  <div class="action-toolbar">
                    <document-object-list-item {instance}="{.}">
                    </document-object-list-item>
                    <div class="action-toolbar__controls">
                      <a href="javascript://"
                        class="info-action unmap"
                        {{#if isDisabled}}disabled{{/if}}
                        ($click)="removeReferenceUrl(%context)">
                          <action-toolbar-control>
                            <i class="fa fa-trash"></i>
                          </action-toolbar-control>
                      </a>
                    </div>
                  </div>
                </object-list>
              </div>
              {{#if isFormVisible}}
                <form class="related-reference-urls__create create-form">
                  <fieldset class="create-form__layout"
                    {{#if isDisabled}}disabled{{/if}}>
                    <input {($value)}="value"
                      class="create-form__input"
                      type="text"
                      placeholder="Add URL"
                      spellcheck="false"
                      autocomplete="false">
                    <div class="create-form__controls">
                      <button type="submit" class="create-form__confirm" ($click)="submitCreateReferenceUrlForm(value)">
                        <i class="fa fa-check"></i>
                      </button>
                      <button type="button" class="create-form__cancel" ($click)="toggleFormVisibility(false)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </fieldset>
              </form>
              {{else}}
                <button class="related-reference-urls__toggle btn btn-small btn-gray {{#if isFormVisible}}related-reference-urls__toggle--hidden{{/if}}"
                  ($click)="toggleFormVisibility(true)">
                  Add
                </button>
              {{/if}}
            </related-reference-urls>
          </related-documents>
        </div>
      </div>

      <div class="additional-fields">
        <div class="expand-link">
          <a tabindex="9" class="show-hidden-fields info-show-hide active" href="javascript://">
            <span class="out">
              <i class="fa fa-caret-right"></i>
              SHOW
            </span>
            <span class="in">
              <i class="fa fa-caret-down"></i>
              HIDE
            </span>
            ADDITIONAL FIELDS
          </a>
        </div>
        <div class="hidden-fields-area">
          {{>'/static/mustache/assessments/modal_content_additional_fields.mustache'}}
        </div>
      </div>

    </form>
    {{/instance}}
  </div>
{{!/div}}
