{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}


  <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "t-" instance.workflow_state}}>
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="item-wrap">
        {{{render '/static/mustache/base_objects/open_close.mustache' instance=instance}}}
        <div class="select">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span4">
                <div class="title tree-title-area">
                  {{#is_subtree}}
                    <i class="fa fa-{{instance.class.table_singular}} color"></i>
                  {{/is_subtree}}
                  {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
                </div>
              </div>
              {{#instance}}
                <div class="span1">
                  <div class="owner tree-title-area">
                    {{#if owners.length}}
                      {{#using contacts=owners}}
                      {{#contacts}}
                        {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
                      {{/contacts}}
                      {{/using}}
                    {{/if}}
                  </div>
                </div>

                <div class="span2 centered">
                  <div class="row-fluid">
                    <div class="span6 show-in-tree">
                      <span>{{firstnonempty design "undefined"}}</span>
                    </div>
                    <div class="span6 show-in-tree">
                      <span>{{firstnonempty operationally "undefined"}}</span>
                    </div>
                  </div>
                </div>

                <div class="span1">
                  <div class="state-value tree-title-area">
                    {{status}}
                  </div>
                </div>

              {{/instance}}
              <div class="span4">
                <div class="show-details">
                  {{#child_options}}
                    {{{renderLive add_item_view}}}
                  {{/child_options}}
                  {{#if instance.viewLink}}
                    {{#is_allowed "view_object_page" instance}}
                      <a href="{{instance.viewLink}}" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                    {{/is_allowed}}
                  {{/if}}
                </div>
                <ul class="tree-action-list">
                  {{#infer_roles instance}}
                    <li>
                      <i class="fa fa-person" rel="tooltip" data-placement="left" data-original-title="{{.}} "></i>
                    </li>
                  {{/infer_roles}}
                  <li>
                    {{#child_options}}
                      {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance multiple_mapping_case=true}}}
                    {{/child_options}}
                    {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
                  </li>

                  {{^instance.contact}}
                    <li>
                      <div class="counter">
                        <i class="fa fa-person red"></i>
                      </div>
                    </li>
                  {{/instance.contact}}
                  <li>
                    {{{renderLive '/static/mustache/base_objects/states.mustache'}}}
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        {{#if draw_children}}
          {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
              {{#child_options}}
                <div class="inner-tree">
                  <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
                </div>
              {{/child_options}}
          {{/prune_context}}
        {{/if}}
      </div>
    </div>
    {{/if}}
  </li>
