{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<ul class="label-list">
    <li>
        <h6>{{firstnonempty constructor.title_singular}}&nbsp;URL</h6>
        {{#if url}}
            <a data-test-id="text_program_url_aa7d1a65" class="url" href="{{schemed_url url}}" target="_blank">
              {{url}}
            </a>
        {{else}}
            <span class="empty-message">None</span>
        {{/if}}
    </li>
    <li>
        <h6>Reference URL</h6>
        {{#if reference_url}}
            <a data-test-id="text_reference_url_aa7d1a65" class="url" href="{{schemed_url reference_url}}"
               target="_blank">
              {{reference_url}}
            </a>
        {{else}}
            <span class="empty-message">None</span>
        {{/if}}
    </li>
</ul>
