{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<section class="assessment-module info{{#is_info_pin}} sticky-info-panel assignable{{/is_info_pin}}">
  {{#is_info_pin}}
      <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState"
                        on-close="@onClose"></info-pin-buttons>
  {{/is_info_pin}}
    <div class="tier-content">
      {{> '/static/mustache/assessments/header.mustache' }}
        <div class="assessment-info-pane flex-box">
            <div class="assessment-attributes flex-size-2">
                <div class="assessment-description">
                    <div class="section-title">Test Plan</div>
                    <read-more {text}="instance.test_plan"></read-more>
                </div>
                <assessment-mapped-controls {instance}="instance"
                                            {mapped-items}="controls"
                                            title-text="Controls"
                                            mapping-type="Control">
                </assessment-mapped-controls>
                <div class="assessment-controls">
                    <div class="assessment-note">
                        <auto-save-form-status
                                {form-saving}="formState.saving"
                                {form-all-saved}="formState.allSaved"
                                {is-dirty}="formState.isDirty"
                        ></auto-save-form-status>
                        <i class="fa fa-question-circle" rel="tooltip"
                           data-original-title="Respond to assessment here. Use comments on the right for free text responses."></i>
                    </div>
                    <div class="assessment-controls__extra-controls">
                        <div>
                            <h6>Evidence</h6>
                            <object-list {items}="evidences" {empty-message}="noItemsText">
                                <editable-document-object-list-item {document}="{.}">
                                    <unmap-button
                                        {destination}="instance"
                                        {source}="document">
                                        <action-toolbar-control>
                                            <i class="fa fa-trash"></i>
                                        </action-toolbar-control>
                                    </unmap-button>
                                </editable-document-object-list-item>
                            </object-list>
                            <attach-button {instance}="instance">
                            </attach-button>
                        </div>
                        <assessment-urls-list {mapped-items}="urls"></assessment-urls-list>
                    </div>
                    <auto-save-form {fields}="formFields"
                                    {edit-mode}="editMode"
                                    {save-callback}="@saveFormFields"
                                    {trigger-save-cbs}="triggerFormSaveCbs"
                                    {^fields-to-save-available}="formState.fieldsToSaveAvailable"
                                    {^saving}="formState.saving"
                                    {^all-saved}="formState.allSaved"
                                    {^is-dirty}="formState.isDirty"
                                    {evidence-amount}="instance.documents.length"
                                    (validation-changed)="showRequiredInfoModal(%event)"
                    ></auto-save-form>
                  <!-- Modal Window to fix validation issues of CA fields -->
                    <simple-modal {(state)}="modal.state" {modal-title}="modal.modalTitle" {instance}="instance">
                        <ca-object-modal-content {(content)}="modal.content" {(state)}="state"
                                                 {ca-ids}="modal.caIds"></ca-object-modal-content>
                    </simple-modal>
                  <!-- End of Modal Window -->
                    <assessment-controls-toolbar class="assessment-controls-toolbar"
                                                 {instance}="instance"
                                                 {form-state}="formState"
                                                 (on-form-save)="onFormSave()"
                                                 (on-state-change)="onStateChange(%event)"
                    ></assessment-controls-toolbar>
                </div>
                <assessment-mapped-related-information
                        {instance}="instance"
                        {mapped-items}="relatedInformation"
                        title-text="Related Information"
                        mapping-type="Control">
                </assessment-mapped-related-information>
            </div>
            <div class="assessment-comments flex-size-1">
                <div class="section-title">Responses/Comments</div>
              {{^if_in instance.status 'Completed,Final'}}
                {{#is_allowed 'update' instance context='for'}}
                    {{^if instance.archived}}
                        <assessment-add-comment class="assessment-comments-add"
                                            {instance}="instance"></assessment-add-comment>
                    {{/if}}
                {{/is_allowed}}
              {{/if_in}}
                <assessment-mapped-comments {mapped-items}="comments"></assessment-mapped-comments>
            </div>
        </div>
        <div class="tabs-wrap">
            <tab-container>
                <tab-panel {(panels)}="panels" title-text="Assessment Attributes">
                    <div class="attribute-tab-panel-column">
                        <collapsible-panel title-text="Description" title-icon="fa-list-ol" class="details-item">
                            <read-more {text}="instance.description"></read-more>
                        </collapsible-panel>
                        <collapsible-panel title-text="People" title-icon="fa-users" class="details-item">
                            <people-list {instance}="instance" editable="true" disable-title="true"></people-list>
                            <access-control-list
                                instance="instance"
                                autosave="true"
                                top-wrapper-class="'body-inner'"
                                role-block-class="'span3'">
                            </access-control-list>
                        </collapsible-panel>
                        <collapsible-panel title-text="Dates" title-icon="fa-calendar" class="details-item">
                          {{> '/static/mustache/assessments/dates_list.mustache'}}
                        </collapsible-panel>
                        <collapsible-panel title-text="Notes" title-icon="fa-sticky-note-o" class="details-item">
                            <read-more {text}="instance.notes"></read-more>
                        </collapsible-panel>
                    </div>

                    <div class="attribute-tab-panel-column">
                        <collapsible-panel title-text="URL" title-icon="fa-link" class="details-item">
                          {{> '/static/mustache/assessments/urls.mustache'}}
                        </collapsible-panel>
                        <collapsible-panel title-text="Code" title-icon="fa-code" class="details-item">
                            <ul class="label-list">
                                <li>
                                    <h6>Code</h6>
                                    <span>{{instance.slug}}</span>
                                </li>
                            </ul>
                        </collapsible-panel>
                        <collapsible-panel title-text="Conclusions" title-icon="fa-gavel"
                                           class="details-item">
                            <div class="flex-box flex-col"
                              {{#instance}}{{data 'model'}}{{/instance}}
                                 data-force-refresh="true"
                                 data-model="true" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
                                <div class="flex-size-1 flex-gutter-2">
                                    <label class="title-text">Conclusion: Design</label>
                                    <p>
                                        <small><em>Is this control design effective?</em></small>
                                    </p>
                                  {{#if_helpers '\
                                    #is_allowed' 'update' instance context='for' '\
                                    and ^if' instance.archived}}
                                      <dropdown options-list="model.conclusions"
                                                no-value="true"
                                                no-value-label="---"
                                                name="instance.design">
                                      </dropdown>

                                  {{else}}
                                    {{firstnonempty design '--'}}
                                  {{/if_helpers}}
                                </div>
                                <div class="flex-size-1 flex-gutter-2">
                                    <label class="title-text">Conclusion: Operation</label>
                                    <p>
                                        <small><em>Is this control operationally effective?</em></small>
                                    </p>
                                  {{#if_helpers '\
                                    #is_allowed' 'update' instance context='for' '\
                                    and ^if' instance.archived}}
                                      <dropdown options-list="model.conclusions"
                                                no-value="true"
                                                no-value-label="---"
                                                name="instance.operationally">
                                      </dropdown>
                                  {{else}}
                                    {{firstnonempty operationally '--'}}
                                  {{/if_helpers}}
                                </div>
                            </div>
                        </collapsible-panel>
                    </div>
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Assessment Log">
                    <revision-log {instance}="instance"></revision-log>
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Related Assessments">
                  {{> '/static/mustache/assessments/related-assessments.mustache' }}
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Related Issues">
                  <related-issues {base-instance}="instance" {all-related-snapshots}="mappedSnapshots"></related-issues>
                </tab-panel>
            </tab-container>
        </div>
    </div><!-- tier-content end -->
</section>
