{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<section class="assessment-module info info-pane{{#is_info_pin}} sticky-info-panel assignable{{/is_info_pin}}">
  {{#is_info_pin}}
      <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState"
                        on-close="@onClose"></info-pin-buttons>
  {{/is_info_pin}}
    <div class="tier-content">
      {{> '/static/mustache/assessments/header.mustache' }}
        <div class="assessment-info-pane info-pane__body">
            <div class="assessment-attributes info-pane__main-content info-pane__main-content-with-sidebar">
                <div class="info-pane__section">
                    <div class="info-pane__section-title">Test Plan</div>
                    <read-more {text}="instance.test_plan"></read-more>
                </div>
                <div class="info-pane__section">
                    <div class="info-pane__section-title">
                        <div class="action-toolbar">
                            <div class="action-toolbar__content-item">Controls</div>
                          {{#unless instance.archived}}
                            <div class="action-toolbar__controls">
                                <action-toolbar-control>
                                  <add-mapping-button {parent-instance}="instance"></add-mapping-button>
                                </action-toolbar-control>
                            </div>
                          {{/unless}}
                        </div>
                    </div>
                    <assessment-mapped-controls class="mapped-objects__list info-pane__section-content"
                            {instance}="instance"
                            {mapped-items}="controls"
                            title-text="Controls"></assessment-mapped-controls>
                </div>
                <div class="assessment-controls info-pane__section">
                    <div class="assessment-note">
                        <auto-save-form-status
                                {form-saving}="formState.saving"
                                {form-all-saved}="formState.allSaved"
                                {is-dirty}="formState.isDirty"></auto-save-form-status>
                        <i class="fa fa-question-circle" rel="tooltip"
                           data-original-title="Respond to assessment here. Use comments on the right for free text responses."></i>
                    </div>
                    <div class="assessment-controls__extra-controls">
                        <div>
                            <div class="info-pane__section-title">
                                <spinner class="info-pane__section-title-icon" {toggle}="isUpdatingEvidences"></spinner>
                                Evidence
                            </div>
                            <object-list {items}="evidences" {empty-message}="noItemsText">
                                <editable-document-object-list-item {document}="{.}">
                                    <action-toolbar-control>
                                        <unmap-button
                                            (before-unmap)="removeItem(%event, 'evidences')"
                                            (after-unmap)="updateItems('evidences')"
                                            {destination}="instance"
                                            {source}="document">
                                            <i class="fa fa-trash"></i>
                                        </unmap-button>
                                    </action-toolbar-control>
                                </editable-document-object-list-item>
                            </object-list>
                            <attach-button
                                        (before-create)="addItems(%event, 'evidences')"
                                        (refresh-evidences)="updateItems('evidences')"
                                        {is-attach-action-disabled}="isUpdatingEvidences"
                                        {instance}="instance"></attach-button>
                        </div>
                        <div>
                            <div class="info-pane__section-title">
                                <spinner class="info-pane__section-title-icon" {toggle}="isUpdatingUrls"></spinner>
                                URL
                            </div>
                            <object-list {items}="urls" {empty-message}="noItemsText">
                                <editable-document-object-list-item {document}="{.}">
                                    <action-toolbar-control>
                                      <unmap-button
                                            (before-unmap)="removeItem(%event, 'urls')"
                                            (after-unmap)="updateItems('urls')"
                                            {destination}="instance"
                                            {source}="document">
                                            <i class="fa fa-trash"></i>
                                      </unmap-button>
                                    </action-toolbar-control>
                                </editable-document-object-list-item>
                            </object-list>
                          {{#unless instance.archived}}
                            {{#is_allowed 'update' instance context='for'}}
                            {{#toggle show_new_object_form}}
                                <ggrc-quick-add
                                        (before-create)="addItems(%event, 'urls')"
                                        (after-create)="updateItems('urls')"
                                        {parent_instance}="instance"
                                        join_model="Relationship"
                                        quick_create="create_url">
                                  {{#prune_context}}
                                      <div class="inline-edit inline-edit--active">
                                          <div class="inline-edit__content">
                                              <input tabindex="3" type="text" name="instance" placeholder="Add URL">
                                              <input type="hidden" name="role_name" value="Auditor"/>
                                              <ul class="inline-edit__controls inline-edit__controls--edit-mode">
                                                  <li>
                                                      <a href="javascript://" class="{{#if disabled}}disabled{{/if}}"
                                                         data-toggle="submit" {{toggle_button 'modal:success'}}>
                                                          <i class="fa fa-check"></i>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript://" {{toggle_button}}>
                                                          <i class="fa fa-times"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  {{/prune_context}}
                                </ggrc-quick-add>
                            {{else}}
                                <button class="btn btn-small btn-gray" {{toggle_button}}>Add</button>
                            {{/toggle}}
                          {{/is_allowed}}
                          {{/unless}}
                        </div>
                    </div>
                    <auto-save-form {fields}="formFields"
                                    {edit-mode}="editMode"
                                    {save-callback}="@saveFormFields"
                                    {trigger-save-cbs}="triggerFormSaveCbs"
                                    {^fields-to-save-available}="formState.fieldsToSaveAvailable"
                                    {^saving}="formState.saving"
                                    {^all-saved}="formState.allSaved"
                                    {^form-saved-deferred}="formState.formSavedDeferred"
                                    {^is-dirty}="formState.isDirty"
                                    {^has-validation-errors}="instance.hasValidationErrors"
                                    {evidence-amount}="evidences.length"
                                    (validation-changed)="showRequiredInfoModal(%event)"
                    ></auto-save-form>
                    <!-- Modal Window to fix validation issues of CA fields -->
                    <simple-modal {(state)}="modal.state"
                                  {modal-title}="modal.modalTitle"
                                  {instance}="instance"
                                  {is-disabled}="isUpdatingEvidences">
                        <ca-object-modal-content {instance}="instance"
                                                 {(content)}="modal.content"
                                                 {(state)}="state"
                                                 {evidences}="evidences"
                                                 {is-updating-evidences}="isUpdatingEvidences"
                                                 {form-saved-deferred}="formState.formSavedDeferred"
                                                 (before-comment-created)="addItems(%event, 'comments')"
                                                 (after-comment-created)="updateItems('comments')"
                        ></ca-object-modal-content>
                    </simple-modal>
                    <!-- End of Modal Window -->
                    <assessment-controls-toolbar class="assessment-controls-toolbar"
                                                 {instance}="instance"
                                                 {form-state}="formState"
                                                 (on-form-save)="onFormSave()"
                                                 (on-state-change)="onStateChange(%event)"
                    ></assessment-controls-toolbar>
                </div>
                <div class="info-pane__body-section">
                    <assessment-people {instance}="instance">
                    </assessment-people>
                </div>
                <div class="info-pane__body-section">
                    <div class="info-pane__section-title">
                       <div class="action-toolbar">
                          <div class="action-toolbar__content-item">Related Information</div>
                         {{#unless instance.archived}}
                          <div class="action-toolbar__controls">
                            <action-toolbar-control>
                                <add-mapping-button {parent-instance}="instance"></add-mapping-button>
                            </action-toolbar-control>
                          </div>
                         {{/unless}}
                        </div>
                    </div>
                    <assessment-mapped-related-information class="mapped-objects__list info-pane__section-content"
                            {instance}="instance"
                            {mapped-items}="relatedInformation"
                            title-text="Related Information"></assessment-mapped-related-information>
                </div>
            </div>
            <div class="assessment-comments info-pane__sidebar">
                <div class="info-pane__section-title">Responses/Comments</div>
                {{#unless instance.archived}}
                  {{#unless isInstanceCompleted}}
                    {{#is_allowed 'update' instance context='for'}}
                      <comment-add-form class="comment-add-form"
                                      {instance}="instance"
                                      {is-saving}="isUpdatingComments"
                                      (after-create)="updateItems('comments')"
                                      (before-create)="addItems(%event, 'comments')"
                      ></comment-add-form>
                    {{/is_allowed}}
                  {{/unless}}
                {{/unless}}
                <assessment-mapped-comments {mapped-items}="comments"></assessment-mapped-comments>
            </div>
        </div>
        <div class="tabs-wrap">
            <tab-container>
                <tab-panel {(panels)}="panels" title-text="Assessment Attributes">
                    <div class="attribute-tab-panel-column">
                        <collapsible-panel title-text="Description" title-icon="fa-list-ol" class="details-item">
                            <read-more {text}="instance.description"></read-more>
                        </collapsible-panel>
                        <collapsible-panel title-text="Dates" title-icon="fa-calendar" class="details-item">
                          {{> '/static/mustache/assessments/dates_list.mustache'}}
                        </collapsible-panel>
                        <collapsible-panel title-text="Notes" title-icon="fa-sticky-note-o" class="details-item">
                            <read-more {text}="instance.notes"></read-more>
                        </collapsible-panel>
                    </div>

                    <div class="attribute-tab-panel-column">
                        <collapsible-panel title-text="URL" title-icon="fa-link" class="details-item">
                          {{> '/static/mustache/assessments/urls.mustache'}}
                        </collapsible-panel>
                        <collapsible-panel title-text="Code" title-icon="fa-code" class="details-item">
                            <ul class="label-list">
                                <li>
                                    <h6>Code</h6>
                                    <span>{{instance.slug}}</span>
                                </li>
                            </ul>
                        </collapsible-panel>
                        <collapsible-panel title-text="Conclusions" title-icon="fa-gavel"
                                           class="details-item">
                            <div class="flex-box flex-col"
                              {{#instance}}{{data 'model'}}{{/instance}}
                                 data-force-refresh="true"
                                 data-model="true" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
                                <div class="flex-size-1 flex-gutter-2">
                                    <label class="title-text">Conclusion: Design</label>
                                    <p>
                                        <small><em>Is this control design effective?</em></small>
                                    </p>
                                  {{#if_helpers '\
                                    #is_allowed' 'update' instance context='for' '\
                                    and ^if' instance.archived}}
                                      <dropdown options-list="model.conclusions"
                                                no-value="true"
                                                no-value-label="---"
                                                name="instance.design">
                                      </dropdown>

                                  {{else}}
                                    {{firstnonempty design '--'}}
                                  {{/if_helpers}}
                                </div>
                                <div class="flex-size-1 flex-gutter-2">
                                    <label class="title-text">Conclusion: Operation</label>
                                    <p>
                                        <small><em>Is this control operationally effective?</em></small>
                                    </p>
                                  {{#if_helpers '\
                                    #is_allowed' 'update' instance context='for' '\
                                    and ^if' instance.archived}}
                                      <dropdown options-list="model.conclusions"
                                                no-value="true"
                                                no-value-label="---"
                                                name="instance.operationally">
                                      </dropdown>
                                  {{else}}
                                    {{firstnonempty operationally '--'}}
                                  {{/if_helpers}}
                                </div>
                            </div>
                        </collapsible-panel>
                    </div>
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Assessment Log">
                    <revision-log {instance}="instance"></revision-log>
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Related Assessments">
                  {{> '/static/mustache/assessments/related-assessments.mustache' }}
                </tab-panel>
                <tab-panel {(panels)}="panels" title-text="Related Issues">
                    <related-issues {base-instance}="instance"
                                    {all-related-snapshots}="mappedSnapshots"></related-issues>
                </tab-panel>
            </tab-container>
        </div>
    </div><!-- tier-content end -->
</section>
