{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<form action="javascript://">
  {{> '/static/mustache/base_objects/form_restore.mustache'}}

  <div class="row-fluid">
    <div class="span8">
      <label>
        Summary
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Give new {{model.model_singular}} a summary that is easy to search for and indicates the main goals of this {{model.model_singular}}"></i>
      </label>
      <input class="input-block-level required" id="task-title" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
    </div>
    <div class="span4">
      {{#using contact=instance.contact model_singular=model.model_singular}}
      <label>
        Assignee
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="This is the default assignee for this task."></i>
        <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input tabindex="2" class="input-block-level" name="contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist contact.email ''}}" />
      {{/using}}
      <br>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 hidable">
      <label>
        Task Type
        <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <select name="task_type" tabindex="2">
        <option value="text" {{#if_equals instance.task_type 'text'}}selected="selected"{{/if_equals}}>Rich text</option>
        <option value="menu" {{#if_equals instance.task_type 'menu'}}selected="selected"{{/if_equals}}>Dropdown</option>
        <option value="checkbox" {{#if_equals instance.task_type 'checkbox'}}selected="selected"{{/if_equals}}>Checkbox</option>
      </select>
      {{^if_in instance.task_type 'menu,checkbox'}}
      <label>
        Task Description
        <i class="fa fa-question-circle" rel="tooltip" title="Provide more details on the purpose of this {{model.model_singular}} and provide context for how and when this {{model.model_singular}} might be used."></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="tgt_response_options" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{instance.description}}</textarea>
      </div>
      {{/if_in}}
      {{#if_equals instance.task_type 'menu'}}
      <label>
        Dropdown Options (Comma Separated)
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Choose which response should be applied to this {{model.model_singular}}."></i>
      </label>
        <textarea-array array="instance.response_options" placeholder="Enter Values" class-name="span12 double"></textarea-array>
      {{/if_equals}}
      {{#if_equals instance.task_type 'checkbox'}}
      <label>
        Checkbox Options (Comma Separated)
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Choose which response should be applied to this {{model.model_singular}}."></i>
      </label>
        <textarea-array array="instance.response_options" placeholder="Enter Values" class-name="span12 double"></textarea-array>
      {{/if_equals}}
    </div>

    <div class="span4" id="frequency-div">
      {{#using task_group=instance.task_group}}
      {{#using workflow=task_group.workflow}}
          <div class="frequency-wrap">
              <label>
                  Repeat
                  <i class="fa fa-question-circle" rel="tooltip" title="Choose start and end dates"></i>
              </label>
              <repeat-on-summary {unit}="workflow.unit" {repeat-every}="workflow.repeat_every"
              {hide-repeat-off}="false">
              </repeat-on-summary>
              <label class="smaller">
                  <datepicker date="instance.start_date"
                              required="true"
                              label="Start Date"></datepicker>
              </label>
              <label class="smaller">
                  <datepicker set-min-date="instance.start_date"
                              date="instance.end_date"
                              required="true"
                              label="Due Date"></datepicker>
              </label>
          </div>
      {{/using}}
      {{/using}}
    </div>
    <input type="hidden" name="task_group" model="TaskGroup" value="{{firstnonempty object_params.task_group instance.task_group.id}}" />
    <input type="hidden" name="context" model="Context" value="{{firstnonempty object_params.context instance.context.id}}" />
    <input type="hidden" name="sort_index" value="{{firstnonempty object_params.sort_index instance.sort_index}}" />
  </div>
  <div class="row-fluid">
    <div data-id="code_hidden" class="span4 hidable">
      <label>
        Code
        <i class="fa fa-question-circle" rel="tooltip" title="The GGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input data-id="code_txtbx" tabindex="8" class="input-block-level" name="slug" placeholder="TASK-XXX" type="text" value="{{instance.slug}}">
    </div>
  </div>
  {{{render_hooks 'TaskGroupTask.modal_tier1'}}}
</form>
