{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="centered">
<p>
	The evidence <strong>{{instance.display_name}}</strong> is going to be unmapped from this response, but the file will remain in audit's gDrive folder. 
</p>
<p>
	Please go to the evidence folder <a href="{{object_params.folder.link}}" target="_blank">{{object_params.folder.title}}</a> and delete the file manually.
</p>
</div>
