{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  <section class="info">
    {{#is_info_pin}}
    <div class="clearfix">
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
      <div class="tier-content pin">
        <div class="row-fluid wrap-row">
          <div class="span12">
            <h6>Response</h6>
            {{{firstnonempty instance.description 'Response'}}}
          </div>
        </div>
      </div>
    </div>
    {{/is_info_pin}}
    {{#if options.allow_mapping_or_creating}}
    {{! NB: Creating and editing responses have the same rules. }}
    {{#if_can_create_response options.parent_instance}}
    <div class="details-wrap no-top">
      <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
      <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
        <li>
          <a href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Response" data-object-plural="responses" data-object-id="{{instance.id}}">
            <i class="grcicon-edit"></i>
            Edit Response
          </a>
        </li>
        <li>
          <clipboard-link title="Get permalink" notify="true" text="{{get_permalink}}" />
        </li>
        {{#is_allowed 'delete' instance}}
          <li>
            <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
              <i class="grcicon-deleted"></i>
              Delete
            </a>
          </li>
        {{/is_allowed}}
      </ul>
    </div>
    {{/if_can_create_response}}
    {{/if}}
    <div class="tier-content">

      {{! The parent is Audit on My Work/Profile pages }}
      {{#if_instance_of options.parent_instance "Audit"}}
        {{#using request=instance.request}}

          <div class="row-fluid wrap-row">
            <div class="span6">
              <h6>Request</h6>
              <div class="rtf-block">
                {{{firstnonempty request.description '<i>No description</i>'}}}
              </div>
            </div>
            <div class="span3">
              <h6>Requested on</h6>
              {{#if request.requested_on}}
                {{#using requested_on=request.requested_on}}
                  {{localize_date requested_on}}
                {{/using}}
              {{else}}
                N/A
              {{/if}}
            </div>
            <div class="span3">
              <h6>Requested by</h6>
              {{#if request.assignee}}
                {{#using assignee=request.assignee}}
                  {{{renderLive '/static/mustache/people/popover.mustache' person=assignee}}}
                {{/using}}
              {{else}}
                N/A
              {{/if}}
            </div>
          </div>
        {{/using}}
      {{/if_instance_of}}
    <div class="row-fluid wrap-row">
      <div class="span12">
        <div class="inner-tree">
          {{#if_equals instance.response_type 'documentation'}}
            <h6>Documents</h6>
            {{#options.child_options.1}}
              <ul class="tree-structure new-tree generated-tree" data-no-pin="true" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data('options')).control("tree_view").display() }}>
              </ul>
            {{/options.child_options.1}}
            <div class="doc-folder">
              {{{render_hooks 'DocumentationResponse.tree_evidence'}}}
            </div>
          {{/if_equals}}

          {{#if_equals instance.response_type 'interview'}}
          <h6>Interviews</h6>
            {{#options.child_options.3}}
              <ul class="tree-structure new-tree" data-no-pin="true" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data('options')).control("tree_view").display() }}></ul>
            {{/options.child_options.3}}
          {{/if_equals}}
        </div>
      </div>
    </div>
  </section>

{{/instance}}
