{{!div class="modal-body"}}
<div class="hideable-holder">
{{#instance}}
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}
  <div class="row-fluid">
    <div class="span9">
      <label>
        Response
        <span class="required">*</span>
      </label>
      <div class="wysiwyg-area">
          <textarea id="response_description" tabindex="1" class="input-block-level double wysihtml5" placeholder="Response Title" name="description" autofocus>{{{description}}}</textarea>
      </div>
    </div>

  </div>

  <div class="row-fluid">
    {{#if_instance_of instance "DocumentationResponse"}}
    <div class="span6 hidable">
      <ggrc-modal-connector
        instance="instance"
        source_mapping="documents"
        mapping="documents"
        deferred="true"
        >
        <label class="border-l">
          Documents
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        {{#each list}}
        <div class="oneline">
          <a href="javascript://" class="unmap" data-toggle="unmap">
            <span class="result" {{data 'result'}}></span>
            <i class="grcicon-deleted"></i>
          </a>
          <a class="url" href="{{schemed_url link}}" target="_blank">
            {{firstnonempty title link}}
          </a>
        </div>
        {{/each}}
        {{^list.length}}
          <span class="gray"><em>No References</em></span>
        {{/list.length}}
        {{^if_hooks 'DocumentationResponse.modal_connector'}}
        {{#prune_context}}
          <br>
          <div class="objective-selector">
            <div style="float:left">
              <label for="link" style="line-height:29px">Add Evidence URL: &nbsp;</label>
            </div>
            <div style="float:left"><input type="text" tabindex="3" name="link" placeholder="Enter Evidence URL here" value="{{attributes.link}}"></div>
            <input type="hidden" name="context" model="Context" value="{{instance.context.id}}">
            <div style="clear:both; height:1px">&nbsp;</div>
            <div style="float:left">
              <label for="title" style="line-height:29px">Evidence title (optional): &nbsp;</label>
            </div>
            <div style="float:left"><input type="text" tabindex="4" name="title" placeholder="Enter title here" value="{{attributes.title}}"></div>
            <div style="clear:both">
              <a href="javascript://" class="btn btn-small btn-success {{^attributes.title}}disabled{{/attributes.title}} no-float" data-toggle="submit">Add</a>
            </div>
          </div>
        {{/prune_context}}
        {{/if_hooks}}
        <div tabindex="5"></div><!-- this dummy div is needed for save&add another button for hidden elements for the below dynamically loaded g-drive connector buttons. -->
        {{{render_hooks 'DocumentationResponse.modal_connector'}}}
      </ggrc-modal-connector>
    </div>
    {{/if_instance_of}}

    {{#if_instance_of instance "InterviewResponse"}}
    <div class="span6 hidable">
      <ggrc-modal-connector
        instance="instance"
        source_mapping="meetings"
        mapping="meetings"
        deferred="true"
        >
        <label class="border-l">
          Meetings
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        {{#each list}}
        <div class="oneline">
          <a href="javascript://" class="unmap" data-toggle="unmap">
            <span class="result" {{data 'result'}}></span>
            <i class="grcicon-deleted"></i>
          </a>
          <a class="url" href="{{schemed_url title}}" target="_blank">
            {{title}}
          </a>
        </div>
        {{/each}}
        {{^list.length}}
          <span class="gray"><em>No meetings</em></span>
        {{/list.length}}
        {{#prune_context}}
          <div class="objective-selector">
            <br>
            <div style="float:left">
              <label for="title" style="line-height:29px">Add Meeting URL: &nbsp;</label>
            </div>
            <div style="float:left; margin-right: 4px;"><input tabindex="3" type="text" name="title" placeholder="Enter Meeting URL here" value="{{attributes.title}}"></div>
            <input type="hidden" name="context" model="Context" value="{{instance.context.id}}">
            <input type="hidden" name="start_at" value="{{localize_datetime}}">
            <input type="hidden" name="end_at" value="{{localize_datetime}}">
            <a href="javascript://" class="btn btn-small btn-success {{^attributes.title}}disabled{{/attributes.title}} no-float" data-toggle="submit" tabindex="4">Add</a>
          </div>
        {{/prune_context}}
      </ggrc-modal-connector>
    </div>
    {{/if_instance_of}}

    <div class="span6 hidable">
      <ggrc-modal-connector
        instance="instance"
        source_mapping="business_objects"
        deferred="true"
        >
        <label class="border-l">
          Mapped Objects
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        {{#each list}}
        <div class="oneline">
          <a href="javascript://" class="unmap" data-toggle="unmap">
            <span class="result" {{data 'result'}}></span>
            <i class="grcicon-deleted"></i>
          </a>
          {{#update_link .}}
          <a class="url" href="{{schemed_url link}}" target="_blank">
            {{#if name}}
              {{name}}
            {{else}}
              {{title}}
            {{/if}}
          </a>
          {{/update_link}}
        </div>
        {{/each}}
        {{^list.length}}
          <span class="gray"><em>No mapped objects</em></span>
        {{/list.length}}

        <div class="objective-selector">
          <div style="clear:both">
            <br>
             <a class="section-add section-sticky btn btn-small btn-draft"
               href="javascript://" rel="tooltip"
               {{data "deferred_to"}}
               data-placement="left"
               data-toggle="unified-mapper"
               data-deferred="true"
               data-object-source="true"
               data-join-mapping="business_objects"
               data-join-object-id="{{instance.id}}"
               data-join-object-type="{{instance.class.model_singular}}"
               {{#if_instance_of instance 'DocumentationResponse'}}data-exclude-option-types="Document"{{/if_instance_of}}
               data-original-title="Map Object to this {{instance.class.title_singular}}" tabindex="6">
              Map Objects
            </a>
          </div>
        </div>
      </ggrc-modal-connector>
    </div>
  </div>

  {{#new_object_form}}
  {{#using request=instance.request}}
  <input type="hidden" name="request.id" value="{{request.id}}">
  <input type="hidden" name="response_type" value="{{request.request_type}}">
  {{/using}}
  {{/new_object_form}}
</form>
{{/instance}}
</div>
{{!/div}}
