  <li class="tree-item tree-item-add tree-footer">
    <div class="row-fluid">
      <div class="span12 section-expandable">
        <a href="javascript://" class="section-add">
          + PBC Response
        </a>
        <span class="section-expander">
          <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{parent_instance.response_model_class}}" data-object-plural="responses" data-object-params='{ "{{parent_instance.constructor.table_singular}}": {"id" : {{parent_instance.id}}, "type" : "{{parent_instance.constructor.model_singular}}" } }'>
            <i class="grcicon-add-black"></i>
            Create PBC Response
          </a>
        </span>
      </div>
    </div>
  </li>
