-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-# Create New Base Object
#baseObjectNew{ 'class': 'modal modal-wide hide fade', 'tabindex': '-1' }
  .modal-header
    .pull-right
      %a.btn.btn-mini{ 'data-dismiss': 'modal', 'href': '#' }
        %i.grcicon-x-grey
    %h2
      Create Base Objects
  .modal-body
    .row-fluid
      .span6
        %label
          Title
          %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Title'}
        %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'Enter Title' }
    .row-fluid
      .span6
        %label
          Description
          %span.required
            *
          %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Describe program in few sentences'}
        .wysiwyg-area
          %textarea{ 'class': 'span12 double', 'placeholder': 'Enter Description' }
      .span6
        %label
          Owner/Person of Contact
          %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Email of primary contact'}
        %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'Enter email address' }
        %label
          Object URL
          %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'URL'}
        %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'http://www.domain.com/' }
    .row-fluid
      .span12
        .expand-link
          %a{ 'href': '#', 'class': 'show-hidden-fields' }
            %i.grcicon-show
            Show Advanced
            %span.hidden-fields
              Code, Reference URL, Effective Date, Stop Date
    .hidden-fields-area
      .row-fluid
        .span6
          %label
            Code
            %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Enter unique code'}
          %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'PROGRAM-XXX' }
        .span6
          %label
            Reference URL
            %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Enter Reference URL'}
          %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'http://www.domain.com/' }
      .row-fluid
        .span3
          %label
            Efective Date
            %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Effective Date'}
          %input{ 'type': 'text', 'class': 'input-block-level date', 'placeholder': 'MM/DD/YYYY' }
        .span3
          %label
            Stop Date
            %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Stop Date'}
          %input{ 'type': 'text', 'class': 'input-block-level date', 'placeholder': 'MM/DD/YYYY' }
        .span6
          %label
            Kind/Type
            %i.grcicon-help-black{ 'rel': 'tooltip', 'title': 'Choose Kind/Type'}
          %select.input-block-level
            %option -- Select --
      .row-fluid
        .span12
          .expand-link
            %a{ 'href': '#', 'class': 'show-hidden-fields hide-hidden-fields' }
              %i.grcicon-hide
              Hide Advanced
  .modal-footer
    .row-fluid
      .span6
        .deny-buttons
      .span6
        .confirm-buttons
          %a.btn.btn-primary.preventdoubleclick
            Save
