<div id="evidenceUpload" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <div class="pull-right">
      <a href="#" class="btn btn-mini" data-dismiss="modal"><i class="grcicon-x-grey"></i></a>
    </div>
    <h2>Upload Evidence</h2>
  </div>
  
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <label>File <span class="required">*</span></label>
        <div class="input-file-main">
          <div class="input-file-holder">
            <input type="file">
            <div class="clone">
              <input type="text">
              <span class="btn">Choose</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <label>Upload Path</label>
        <div class="grc-path">
          /GRC Programs/SOX Compliance Audits/2013 SOX Compliance Audit/Password Protection/Lorem ipsum dolor sit amet
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span6">
        <div class="deny-buttons">
          <a class="btn" data-dismiss="modal-reset" href="#">Cancel</a>
        </div>
      </div>
      <div class="span6">
        <div class="confirm-buttons">
          <a href="#" class="btn btn-primary preventdoubleclick" data-toggle="modal-submit">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>