-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

-# Help Modal
#helpModal{ 'class': 'modal hide fade', 'tabindex': '-1' }
  .modal-header
    %a.btn.btn-mini.pull-right{ 'data-dismiss': 'modal', 'href': '#' }
      %i.grcicon-x-grey
    %a.btn.btn-mini.pull-right.help-edit{ 'href': '#' }
      %i.grcicon-edit
    %h2
      %span
        Quick Help Window
  .modal-body
    .help
      .help-content.rtf
        %ol
          %li
            The Quick Find window helps you locate specific business objects within the GRC system.
          %li
            Click the tab of the type of object you are looking for
            %i
              (ex: Controls, Products, etc)
          %li
            Type the first few letters of the name of the object you're looking for and press Enter/Return
        %p
          %strong
            Scroll through the short list of
          objects found to find the specific object you're looking for the object to go to that object page
      #helpedit
        .row-fluid
          .span12
            .wysiwyg-area
              %label
                Help Title
              %input{ 'class': 'span12', 'type': 'text', 'value': 'Quick Help Window' }
              %label
                Help Content
              %textarea{ 'class': 'span12 triple', 'placeholder': 'Enter Help Content Here' }
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .row-fluid
                .span12
                  %input{ 'class': 'btn btn-primary pull-right', 'type': 'submit', 'value': 'Save' }
