-# Section to Control Mapper
#objectMapper{ 'class': 'modal modal-selector hide fade', 'tabindex': '-1' }
  .modal-header
    .pull-right
      %a.btn.btn-mini{ 'data-dismiss': 'modal', 'href': '#' }
        %i.grcicon-x-grey
    %h2
      Map Object
  .modal-filter
    .row-fluid
      .span3
        &nbsp;
      .span6
        %select.input-block-level
          %optgroup{ 'label': 'Programs' }
            %option Programs (8)
          %optgroup{ 'label': 'Governance' }
            %option Contracts (3)
            %option Controls (3)
            %option Objectives (7)
            %option Policies (0)
            %option Regulations (10)
          %optgroup{ 'label': 'Assets/Business' }
            %option Data Assets (54)
            %option Facilities (2)
            %option Markets (5)
            %option Org Groups (12)
            %option Processes (10)
            %option Products (2)
            %option Projects (1)
            %option Systems (12)
          -#%optgroup{ 'label': 'Risk Management' }
            %option Risks (8)
            %option Risky Attributes (12)
      .span3
        .pull-right
          %a.btn.btn-add{ 'href': '#' }
            %i.grcicon-add
            Control
  .modal-content
    .row-fluid
      .span3
        .selector-info{ 'style': 'margin-right:-10%;' }
          %h4.oneline
            %i.grcicon-objective-color
            Use of Assets
          .rtf
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %ul
              %li Ut enim ad minim veniam
              %li Ut enim ad minim veniam
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .owner
            %strong
              Owner:
            %span.error
              not assigned
          .object-url
            %strong
              URL:
            %a{ 'href': 'http://gdrive.google.com/googleplex/42379873894729843749837298', 'target': '_blank' }
              http://gdrive.google.com/googleplex/42379873894729843749837298

      .span6
        .search-title
          .row-fluid
            .span12
              .modal-search
                %a.btn.btn-mini.search-reset{ 'href': '#' }
                  %i.grcicon-x-grey
                %input{ 'type': 'text', 'class': 'input-block-level', 'placeholder': 'Search...' }
        .selector-list
          %ul.tree-structure.simple
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Superb control
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Another control
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Control per se
            %li.control.selected
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Verify Passwords via X
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title J' something
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Control per du
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title J' something
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title Control per du
            %li.control
              .item-main
                .item-title
                  .row-fluid
                    .span12
                      .oneline
                        %span.title J' something
      .span3
        .selector-info{ 'style': 'margin-left:-10%' }
          %h4.oneline
            %i.grcicon-control-color
            Verify Passwords via X
          .rtf
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %ul
              %li Ut enim ad minim veniam
              %li Ut enim ad minim veniam
          .owner
            %strong
              Owner:
            Jeremy Emmerson
          .object-url
            %strong
              URL:
            %a{ 'href': 'http://gdrive.google.com/googleplex/42379873894729843749837298', 'target': '_blank' }
              http://gdrive.google.com/googleplex/42379873894729843749837298
  .modal-footer
    .row-fluid
      .span6
        .deny-buttons
      .span6
        .confirm-buttons
          %a.btn.btn-primary.preventdoubleclick{ 'data-toggle': 'modal-submit', 'href': '#' }
            Map