{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


<div class="release-notes-list">
  {{{notesTemplate}}}
</div>

<button type="button" class="on-top-button {{onTopButtonCssClass}}">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
  Back to top
</button>
