-extends 'layouts/_widget_box.haml'

-block widget_title
  References
  %span
    (={ instance.object_documents|length })

-#if not model
  -set model = controller.model

-block widget_help
  documents
  -#=model._inflector.table_singular + "_documents"

-block widget_id
  documents_widget
  -#=model._inflector.model_singular + "_documents_widget"

-block main
  -include 'documents/_object_list.haml'
