-# locals: instance

%script#reference_list_item{ 'type': 'text/html', 'data-member': 'object_document'}
  %li{ 'data-id': '<%= document.id %>', 'class': 'controlSlot tree-item' }
    .item-main
      .simple-link
        .row-fluid
          .span12
            .item-data
              .tree-title-area
                %a.reference{ 'href': '<%= document.link_url %>', 'target': '_blank' }
                  <%= document.title || document.link_url || '&nbsp;' %>
                %span.option
                  <%= document.document_type || '&nbsp;' %>

%ul#referenceList.new-tree{ 'data-template-id': 'reference_list_item' }
  -for object_item in instance.object_documents
    -set item = object_item.document
    %li{ 'data-id': '={ item.id }', 'class': 'tree-item' }
      .item-main
        .simple-link
          .row-fluid
            .span12
              .item-data
                .tree-title-area
                  %a.reference{ 'href': '={ item.link }', 'target': '_blank' }
                    =item.title
                  %span.option
                    =item.document_type|default('')
  %li.tree-item-add
    %a{ 'href': 'javascript://', 'data-toggle': 'modal-selector', 'data-modal-selector-options': 'object_documents', 'data-list-target': '#referenceList', 'data-modal-class': 'modal-wide', 'rel': 'tooltip', 'data-placement': 'left', 'title': 'Add References' }
      .row-fluid
        .span12
          + Reference
