{{! dashboard object listing}}
<ul class="tree-structure new-tree">
{{#list}}
  <li class="tree-item {{object_type}}" data-model="true">
    <div class="item-main" {{data 'model'}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span10">
            <div class="item-data">
              <div class="tree-title-area">
                {{title}}
              </div>
            </div>
          </div>
          <div class="span1">
            {{^owner}}
              <i class="grcicon-people-warning"></i>
            {{/owner}}
          </div>
          <div class="span1">
            <div class="counter">
            </div>
          </div>
        </div>
      </a>
    </div>
    
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        <div class="row-fluid">
          <div class="span12">
            <div class="tree-description short">
              {{^description}}
                <p><i>No description</i></p>
              {{/description}}
              {{{description}}}
            </div>
            <a href="javascript://" class="show-long">more</a>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <div class="tree-info">
              <strong>Owner:</strong>
              {{^owner}}
                <span class="error">
                  Not Assigned
                </span>
              {{/owner}}
              {{#if owner}}
                {{owner.name}}
              {{/if}}
            </div>
          </div>
          <div class="span4">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <div class="tree-info">
              <strong>URL:</strong>
              {{^if_null url}}
                <a class="url" href="{{url}}">
                  {{instance.url}}
                </a>
              {{/if_null}}
              {{#if_null url}}
                <i>No URL</i>
              {{/if_null}}
            </div>
          </div>
          <a href="{{viewLink}}" class="info-action pull-right" rel="tooltip" title="View {{object_type}}" data-placement="left">
            <i class="grcicon-goto"></i>
            View
          </a>
        </div>
      </div>
    </div>
  </li>
{{/list}}
  <li class="tree-item tree-item-add">
    <div class="row-fluid">
      <div class="span12">
        <a href="javascript://">
          + {{object_type}}
        </a>
      </div>
    </div>
  </li>
</ul>
