{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="comment-add-form__section">
    <comment-input {(value)}="*commentValue"
                   {disabled}="isSaving"></comment-input>
</div>
<div class="comment-add-form__toolbar comment-add-form__section">
  {{#if isSaving}}
      <spinner class="comment-add-form__toolbar-item" {toggle}="isSaving"></spinner>
  {{else}}
      <label class="comment-add-form__toolbar-item comment-add-form__toolbar-label">
          <input type="checkbox"
                 class="comment-add-form__toolbar-checkbox"
                 name="send_notification"
                 can-value="sendNotifications">
          {{notificationsInfo}}
          <i class="fa fa-question-circle" rel="tooltip" title="Comments will be sent as part of daily digest email notification."></i>
      </label>
      <comment-add-button class="comment-add-form__toolbar-item"
                          {(value)}="*commentValue"
                          (comment-created)="onCommentCreated(%event)"
                          {is-saving}="isSaving">Add</comment-add-button>
  {{/if}}
</div>
