{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<rich-text class="comment-input {{#if disabled}}is-disabled{{/if}}"
    hidden-toolbar="true"
    {disabled}="disabled"
    {placeholder}="placeholder"
    {(text)}="value">
</rich-text>
