{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="lhn-type active" style="width: 246px; left: 0px;">
  <a class="active" href="#">My objects</a>
  <a href="#">All objects</a>
</div>

<div class="lhs-holder">
  <div class="affix-holder">
    <div id="lhs" class="lhs accordion">
      <a href="#" class="lhn-pin"><i class="grcicon-pin"></i></a>
      <form class="form-search" onsubmit="return false">
        <div class="lhs-search active" style="width: 196px;">
          <input class="widgetsearch" placeholder="Filter my objects..." type="text" can-value="search_text" style="width: 130px;">
          <input type="submit" class="widgetsearch-submit" value="">
          <div class="filter-off">
            <a href="#" rel="tooltip" data-title="Clear filters" data-original-title="" title=""><i class="grcicon-close-red"></i></a>
          </div>
          <!--
          <label class="checkbox my-work-label">
          <input class="my-work" type="radio" name="work_type" value="all">
          All objects
          </label>
          <label class="checkbox my-work-label my-work-right pull-right">
          <input class="my-work" type="radio" name="work_type" value="my_work">
          My objects only
          </label>
          -->
        </div>
      </form>

      <div class="lhs-bg"></div>

    </div>
  </div>
</div>
