{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="lhn-type">
  <a href="javascript://" data-name="work_type" data-value="my_work">My objects</a>
  <a href="javascript://" data-name="work_type" data-value="all">All objects</a>
</div>

<div class="lhs-holder">
  <div class="affix-holder">
    <div id="lhs" class="lhs accordion">
      <button class="bar-v"></button>
      <a href="javascript://" class="lhn-pin"><i class="grcicon-pin"></i></a>
      <form class="form-search">
        <div class="lhs-search active">
          <input class="widgetsearch" placeholder="Filter my objects..." type="text" can-value="search_text">
          <input type="submit" class="widgetsearch-submit" value="">

          <div class="filter-off">
            <a href="#" rel="tooltip" data-title="Clear filters" data-original-title="" title=""><i class="grcicon-close-red"></i></a>
          </div>
        </div>
      </form>

      <h4 class="search-title">Showing filtered results</h4>

      <div class="lhs-bg"></div>

      <div class="lhs-nav emphesized">
        <ul class="top-level">
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Program" li_class="programs" tooltip_view='/programs/extended_info.mustache'  template_view='/static/mustache/programs/search_result.mustache'}}}
          {{{render_hooks 'LHN.Sections_workflow'}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Audit" li_class="programs" tooltip_view='/audits/extended_info.mustache' template_view='/static/mustache/audits/search_result.mustache'}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="ControlAssessment" li_class="programs"}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Issue" li_class="programs"}}}
        </ul>
      </div>

      <div class="bar-h"></div>

      <div class="lhs-nav">
        <h2>Objects</h2>

        <ul class="top-level">
          <li class="governance accordion-group">
            <a class="governance list-toggle top" href="#">
              <i class="grcicon-arrow-right"></i>
              Directives
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Regulation" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Policy" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Standard" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Contract" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Clause" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Section" li_class="governance"}}}
              </ul>
            </div>
          </li>

          <li class="governance accordion-group">
            <a class="governance list-toggle top" href="#">
              <i class="grcicon-arrow-right"></i>
              Controls/Objectives
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Control" li_class="controls"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Objective" li_class="objectives"}}}
              </ul>
            </div>
          </li>

          <li class="entities accordion-group">
            <a class="entities list-toggle top" href="#">
              <i class="grcicon-arrow-right"></i>
              People/Groups
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Person" li_class="entities" template_view='/static/mustache/people/search_result.mustache'}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="OrgGroup" li_class="entities"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Vendor" li_class="entities"}}}
              </ul>
            </div>
          </li>

          <li class="business accordion-group">
            <a class="business list-toggle top" href="#">
              <i class="grcicon-arrow-right"></i>
              Assets/Business
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="System" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Process" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="DataAsset" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Product" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Project" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Facility" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Market" li_class="business"}}}
              </ul>
            </div>
          </li>

          {{{render_hooks 'LHN.Sections_risk'}}}
        </ul>

        {{{render_hooks 'LHN.Sections'}}}
      </div>

      <div class="bar-h"></div>

      <div class="lhs-nav">
        <h2>Recently Viewed</h2>
        <ul class="top-level recent">
        </ul>
      </div>

    </div>
  </div>
</div>
