{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="modal-header">
  <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
    <i class="grcicon-x-grey"></i>
  </a>
  <h2>Loading...</h2>
</div>
<div class="modal-body" style="padding-top:150px;"></div>
<div class="modal-footer">
</div>
