{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{! dashboard object listing}}
<ul class="tree-structure new-tree">
{{#list}}
  <li class="tree-item {{class.table_singular}}" data-model="true">
    <div class="item-main" {{data 'model'}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class="row-fluid">
          <div class="span10">
            <div class="item-data">
              <div class="tree-title-area">
                {{title}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{^contact}}
                <i class="fa fa-person red"></i>
              {{/contact}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">
          <div class="span6">
            <a href="{{viewLink}}" class="info-action">
              <i class="fa fa-long-arrow-right"></i>
              View {{class.title_singular}}
            </a>
          </div>
        </div>

        {{#description}}
        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description short">
                {{{description}}}
              </div>
              {{{show_long}}}
            </div>
          </div>
        </div>
        {{/description}}

        {{{render '/static/mustache/base_objects/contacts.mustache' instance=this}}}
        {{#url}}
        <div class="row-fluid">
          <div class="span6">
            <div class="tree-info">
              <strong>URL:</strong>
                <a class="url" href="{{schemed_url url}}" target="_blank">
                  {{url}}
                </a>
            </div>
          </div>
        </div>
        {{/url}}
      </div>
    </div>
  </li>
{{/list}}
</ul>
{{!#is_allowed_to_map parent_instance.class.shortName model.title_singular}}
{{#is_allowed_to_map parent_instance.stub.type model.title_singular}}
  {{#is_related}}
    <ul class="new-tree">
      <li class="tree-item tree-item-add">
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="unified-mapper"
        data-modal-class="modal-wide"
        data-modal-reset="reset"
        data-original-title="Map {{model.title_singular}} to this {{parent_instance.class.shortName}}"
        data-related-model="{{model.model_singular}}"
        data-related-title-singular="{{model.title_singular}}"
        data-related-title-plural="{{model.title_plural}}"
        data-related-side="source" {{! FIXME This should depend on relationship type }}
        data-related-table-plural="{{model.table_plural}}"
        data-related-model-singular="{{model.model_singular}}"
        data-relationship-type="" {{! FIXME This should be a real relationship type }}
        data-tab-target="#related-objects-{{find_params.relationship_type_id}}">
        + {{model.title_singular}} {{find_params.relationship_type_id}}
      </a>
      </li>
    </ul>
  {{/is_related}}
{{/is_allowed_to_map}}
{{#is_allowed 'create' model.shortName context=null}}
  {{^is_related}}
    <ul class="new-tree">
      <li class="tree-item tree-item-add">
      <a
        href="javascript://"
        rel="tooltip"
        data-placement="left"
        data-toggle="modal-ajax-form"
        data-object-plural="{{model.model_plural.toLowerCase}}"
        data-object-singular="{{model.model_singular}}"
        data-modal-class="modal-wide"
        data-modal-reset="reset"
        data-original-title="Create New {{model.title_singular.toLowerCase}}">
        + {{model.title_singular}}
      </a>
      </li>
    </ul>
  {{/is_related}}
{{/is_allowed}}
