<!--
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By:
    Maintained By:
-->

{{#list}}
<li class="{{model.category.toLowerCase}}" data-model="true" {{data 'model'}}>
  <a href="{{viewLink}}" class="show-extended">
    <div class="row-fluid">
      <div class="span11">
        <div class="oneline">
          <i class="grcicon-{{model.table_singular}}-black"></i>
          {{firstnonempty title name}} 
        </div>
      </div>
    </div>
  </a>

</li>
{{/list}}
