-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

%section#actions.widget
  %section.header
    %h2
      Actions List (DEPRECATED)
  %section.content{ 'style': 'padding:10px 20px' }
    .real-example.clearfix
      %ul.actions.pull-right
        %li
          %a{ 'href': '#' }
            %i.grcicon-edit
            Edit Program
        %li.btn-group
          %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown' }
            %i.grcicon-imp-exp
            Import/Export
            %span.caret
          %ul.dropdown-menu
            %li.divider
            %li
              %a{ 'href': '#' }
                Import Regs
            %li
              %a{ 'href': '#' }
                Import Controls
            %li.divider
            %li
              %a{ 'href': '#' }
                Export Regs
            %li
              %a{ 'href': '#' }
                Export Controls
        %li
          %a{ 'href': '#' }
            %i.grcicon-reg-map
            Reg Mapper
        %li
          %a{ 'href': '#' }
            %i.grcicon-audit
            Start Audit
    %p
      %strong
        Example:
    %textarea
      %ul.actions.pull-right
        %li
          %a{ 'href': '#' }
            %i.grcicon-edit-new
            Edit Program
        %li.btn-group
          %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown' }
            %i.grcicon-imp-exp
            Import/Export
            %span.caret
          %ul.dropdown-menu
            %li.divider
            %li
              %a{ 'href': '#' }
                Import Regs
            %li
              %a{ 'href': '#' }
                Import Controls
            %li.divider
            %li
              %a{ 'href': '#' }
                Export Regs
            %li
              %a{ 'href': '#' }
                Export Controls
        %li
          %a{ 'href': '#' }
            %i.grcicon-reg-map
            Reg Mapper
        %li
          %a{ 'href': '#' }
            %i.grcicon-audit
            Start Audit
    %p
      %span.label.label-info
        Note!
      &nbsp; You can combine every icon you want and insert any text you want. Also it this example we added dropdown list.

