%section#buttons.widget
  %section.header
    %h2
      Buttons
  %section.content
    %p
      %strong
        Button styles:
    .real-example
      .btn
        Default
      .btn.btn-primary
        Primary
      .btn.btn-info
        Info
      .btn.btn-add
        Add
      .btn.btn-warning
        Warning
      .btn.btn-danger
        Danger
      .btn.btn-inverse
        Inverse
    %p
      %strong
        Button sizes:
    .real-example
      .btn.btn-large.disabled
        Large Button
      .btn
        Default Button
      .btn.btn-small
        Small Button
      .btn.btn-mini
        Mini Button
    %p
      %strong
        Pending AJAX:
    .real-example
      .btn.btn-large.pending-ajax
        Large Button - Default
      .btn.btn-add.pending-ajax
        Default Button - Add
      .btn.btn-small.btn-warning.pending-ajax
        Small Button - Warning
      .btn.btn-mini.btn-danger.pending-ajax
        Mini Button - Danger
    %p
      %span.label.label-info
        Note!
      &nbsp; When you add class
      %strong
        \.pending-ajax 
      all buttons will look like default and disabled, no matter what other classes they have. Only classes for size will work.
    %p
      %strong
        Disabled:
    .real-example
      .btn.btn-large.disabled
        Large Button - Default
      .btn.btn-add.disabled
        Default Button - Add
      .btn.btn-small.btn-warning.disabled
        Small Button - Warning
      .btn.btn-mini.btn-danger.disabled
        Mini Button - Danger
    %p
      %span.label.label-info
        Note!
      &nbsp; When you add class
      %strong .disabled 
      all buttons will be disabled.
    %p
      %strong
        Example:
    %textarea
      Types:
      .btn
        Default
      .btn.btn-primary
        Primary
      .btn.btn-info
        Info
      .btn.btn-add
        Add
      .btn.btn-warning
        Warning
      .btn.btn-danger
        Danger
      .btn.btn-inverse
        Inverse
      Sizes:
      .btn.btn-large.disabled
        Large Button
      .btn
        Default Button
      .btn.btn-small
        Small Button
      .btn.btn-mini
        Mini Button
      Pending AJAX:
      .btn.btn-large.pending-ajax
        Large Button - Default
      .btn.btn-add.pending-ajax
        Default Button - Add 
      .btn.btn-small.btn-warning.pending-ajax
        Small Button - Warning
      .btn.btn-mini.btn-danger.pending-ajax
        Mini Button - Danger
      Disabled:
      .btn.btn-large.disabled
        Large Button - Default
      .btn.btn-add.disabled
        Default Button - Add 
      .btn.btn-small.btn-warning.disabled
        Small Button - Warning
      .btn.btn-mini.btn-danger.disabled
        Mini Button - Danger