<section id="events" class="widget">
  <section class="header">
    <h2>Events (2)</h2>
  </section>
  <section class="content">
    <div class="advanced-filters">
      <div class="row-fluid">
        <div class="span3">
          <select class="input-block-level">
            <option>Show All Events</option>
            <option>Mappings</option>
            <option>Unmappings</option>
            <option>Updates</option>
            <option>Creations</option>
            <option>Deletions</option>
          </select>
        </div>
        <div class="span5">
          <ul class="filter-date-range">
            <li>
              <span>Date Range:</span>
            </li>
            <li>
              <input class="input-small date" name="filter_start_date" data-toggle="datepicker" data-before="filter_end_date" placeholder="MM/DD/YYYY" type="text" value=""> - 
            </li>
            <li>
              <input class="input-small date" name="filter_end_date" data-toggle="datepicker" data-after="filter_start_date" placeholder="MM/DD/YYYY" type="text" value="">
            </li>
          </ul>
        </div>
        <div class="span4">
          <div class="objective-selector">
            <input type="text" name="owner.email" data-lookup="Person" class="span9 audit-selector" value="">
            <i class="grcicon-person-green"></i>
          </div>
        </div>
      </div>
    </div>
    <ul class="tree-structure new-tree event-tree">
      <li class="tree-item">
        <div class="item-main">
          <a href="javascript://" class="openclose">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    <ul>
                      <li class="event-icon">
                        <i class="grcicon-created" rel="tooltip" title="Created"></i>
                      </li>
                      <li class="program">
                        <i class="grcicon-program-color" rel="tooltip" data-original-title="Program"></i>
                        <strong>SOX Compliance Program</strong>
                      </li>
                      <li>
                        <span class="event-action">
                          created
                        </span>
                      </li>
                      <li>
                        <span class="event-owner">
                          by Dan Ring
                        </span>
                        <span class="event-time">
                          on 09/10/2013 12:57:37am PDT
                        </span>
                      </li>
                    </ul>
                    <span class="event-more">more...</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <div class="tier-2-info item-content events-content">
          <div class="tier-2-info-content"></div>
        </div>
      </li>
      <li class="tree-item">
        <div class="item-main">
          <a href="javascript://" class="openclose">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    <ul>
                      <li class="event-icon">
                        <i class="grcicon-updated" rel="tooltip" title="Updated"></i>
                      </li>
                      <li class="program">
                        <i class="grcicon-program-color" rel="tooltip" data-original-title="Program"></i>
                        <strong>SOX Compliance Program</strong>
                      </li>
                      <li>
                        <span class="event-action">
                          updated
                        </span>
                      </li>
                      <li>
                        <span class="event-owner">
                          by Dan Ring
                        </span>
                        <span class="event-time">
                          on 09/10/2013 12:57:37am PDT
                        </span>
                      </li>
                    </ul>
                    <span class="event-more">more...</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <div class="tier-2-info item-content events-content">
          <div class="tier-2-info-content"></div>
        </div>
      </li>
      <li class="tree-item">
        <div class="item-main">
          <a href="javascript://" class="openclose">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    <ul>
                      <li class="event-icon">
                        <i class="grcicon-mapped" rel="tooltip" title="Mapped"></i>
                      </li>
                      <li class="orggroup">
                        <i class="grcicon-orggroup-color" rel="tooltip" title="Org Group"></i>
                        <strong>Engineering Core Team</strong>
                      </li>
                      <li>
                        <span class="event-action">
                          mapped to
                        </span>
                      </li>
                      <li class="program">
                        <i class="grcicon-program-color" rel="tooltip" data-original-title="Program"></i>
                        <strong>SOX Compliance Program</strong>
                      </li>
                      <li>
                        <span class="event-owner">
                          by Dan Ring
                        </span>
                        <span class="event-time">
                          on 09/10/2013 12:57:37am PDT
                        </span>
                      </li>
                    </ul>
                    <span class="event-more">more...</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <div class="tier-2-info item-content events-content">
          <div class="tier-2-info-content"></div>
        </div>
      </li>
      <li class="tree-item">
        <div class="item-main">
          <a href="javascript://" class="openclose">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    <ul>
                      <li class="event-icon">
                        <i class="grcicon-unmapped" rel="tooltip" title="Unmapped"></i>
                      </li>
                      <li class="orggroup">
                        <i class="grcicon-orggroup-color" rel="tooltip" title="Org Group"></i>
                        <strong>Engineering Core Team</strong>
                      </li>
                      <li>
                        <span class="event-action">
                          unmapped from
                        </span>
                      </li>
                      <li class="program">
                        <i class="grcicon-program-color" rel="tooltip" data-original-title="Program"></i>
                        <strong>SOX Compliance Program</strong>
                      </li>
                      <li>
                        <span class="event-owner">
                          by Dan Ring
                        </span>
                        <span class="event-time">
                          on 09/13/2013 12:57:37am PDT
                        </span>
                      </li>
                    </ul>
                    <span class="event-more">more...</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <div class="tier-2-info item-content events-content">
          <div class="tier-2-info-content">
    
            <div class="row-fluid">
    
              <div class="span3">
                <a href="#" class="info-action">
                  <i class="grcicon-orggroup-color" rel="tooltip" title="Org Group"></i>
                  Engineering Core Team
                  <i class="grcicon-goto"></i>
                </a>
              </div>
              
              <div class="span2">
                <span class="event-action">
                  unmapped from
                </span>
              </div>
    
              <div class="span7">
                <a href="#" class="info-action">
                  <i class="grcicon-program-color" rel="tooltip" data-original-title="Program"></i>
                  SOX Compliance Program
                  <i class="grcicon-goto"></i>
                </a>
              </div>
    
            </div>
          </div>
          
          <div class="inner-tree">
            <h6>Affected Mappings (3) <span class="event-action">Org Group is also unmapped from following object</span></h6>
            <ul class="tree-structure new-tree">
              <li class="tree-item program">
                <div class="item-main">
                  <a href="javascript://" class="openclose">
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="item-data">
                          <div class="tree-title-area">
                            <i class="grcicon-audit-color"></i>
                            SOX Compliance Audit 2013
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li class="tree-item program">
                <div class="item-main">
                  <a href="javascript://" class="openclose">
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="item-data">
                          <div class="tree-title-area">
                            <i class="grcicon-logout-color"></i>
                            Google Fiber Assessment
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li class="tree-item policy">
                <div class="item-main">
                  <a href="javascript://" class="openclose">
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="item-data">
                          <div class="tree-title-area">
                            <i class="grcicon-policy-color"></i>
                            PCI User Agreement
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
    
        </div>
      </li>
      <li class="tree-item">
        <div class="item-main">
          <a href="javascript://" class="openclose">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    <ul>
                      <li class="event-icon">
                        <i class="grcicon-deleted" rel="tooltip" title="Deleted"></i>
                      </li>
                      <li class="program">
                        <i class="grcicon-program-color" rel="tooltip" title="Program"></i>
                        <strong>
                          SOX Compliance Program
                        </strong>
                      </li>
                      <li>
                        <span class="event-action">
                          deleted
                        </span>
                      </li>
                      <li>
                        <span class="event-owner">
                          by Dan Ring
                        </span>
                      </li>
                      <li>
                        <span class="event-time">
                          on 09/13/2013 12:57:37am PDT
                        </span>
                      </li>
                    </ul>
                    <span class="event-more">more...</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <div class="tier-2-info item-content events-content">
          <div class="tier-2-info-content">
    
            <div class="row-fluid">
    
              <div class="span3">
                <span class="info-action disabled">
                  <i class="grcicon-program-color" rel="tooltip" title="Program"></i>
                  SOX Compliance Program
                </span>
              </div>
              
              <div class="span3">
                <span class="event-action">
                  deleted
                </span>
              </div>
    
            </div>
            
          </div>
    
        </div>
      </li>
    </ul>
  </section>
</section>