<section id="evidence-delete" class="widget">
  <header class="header">
    <div class="row-fluid">
      <div class="span8">
        <h2>
          Evidence Delete
        </h2>
      </div>
      <div class="span4">
        <div class="widget-action pull-right widget-showhide">
          <a class="active" href="javascript://"></a>
        </div>
        <div class="widget-action pull-right widget-action-help">
          <a href="javascript://">
            <i class="grcicon-help-black"></i>
          </a>
        </div>
      </div>
    </div>
  </header>
  
  <section class="content">
    <div class="tier-2-info item-content content-open" style="display:block; padding-top:20px;">
      <div class="tier-2-info-content">
      
        <div class="inner-tree">
          <h6>
            Evidence (3)
            <span class="title-path"><strong>Upload path:</strong> /GRC Programs/SOX Compliance Audits/2013 SOX Compliance Audit/Password Protection <a href="javascript://"><i class="grcicon-help-black"></i></a></span>
          </h6>
          <ul class="tree-structure new-tree">
            <li class="tree-item programs responses-list">
              <div class="item-main">
                <a href="javascript://" class="openclose">
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="item-data">
                        <div class="tree-title-area">
                          <i class="grcicon-document-color"></i>
                          backupsscreengrab.pdf
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li class="tree-item programs responses-list">
              <div class="item-main">
                <a href="javascript://" class="openclose">
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="item-data">
                        <div class="tree-title-area">
                          <i class="grcicon-document-color"></i>
                          agreementwith3rdpartyreviewers_watermarked.pdf
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li class="tree-item programs responses-list deleted-item">
              <div class="item-main">
                <a href="javascript://">
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="item-data">
                        <div class="tree-title-area">
                          <i class="grcicon-deleted"></i>
                          newevidence.pdf is removed from gDrive
                          <button class="pull-right delete-approve" type="submit">OK</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li class="tree-footer tree-item tree-item-add">
              <div class="row-fluid">
                <div class="span12">
                  <a href="javascript://" rel="tooltip" data-placement="left" data-toggle="multitype-modal-selector" data-join-option-type="Document" data-join-object-id="1" data-join-object-type="DocumentationResponse" data-original-title="Link non-gGRC URLs as References to this Documentation Response">
                    + Evidence
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      
      </div>
    </div>
  </section>
</section>