-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

%section#flash-notice.widget
  %section.header
    %h2
      Flash notice
  %section.content{ 'style': 'padding:10px 20px' }
    .flash
      %a.close{ 'href': '#', 'data-dismiss': 'alert' }
        &times;
      .notice
        %p
          %i.grcicon-ok
          Requests are imported successfully!

