%section#flash-notice.widget
  %section.header
    %h2
      Flash notice
  %section.content{ 'style': 'padding:10px 20px' }
    .flash
      %a.close{ 'href': '#', 'data-dismiss': 'alert' }
        &times;
      .notice
        %p
          %i.grcicon-ok
          Requests are imported successfully!

