%section#headings.widget
  %section.header
    %h2
      Header
  %section.content
    .real-example
      %h1
        h1. Main title - Lorem ipsum dolor sit amet.
      %h2
        h2. Subtitle - Lorem ipsum dolor sit amet
    %p
      style for h1 is: Bold, 24px, #444
      %br
      style for h2 is: Bold, 20px, #111