%section#helpers.widget
  %section.header
    %h2
      Helpers
  %section.content{ 'style': 'padding:10px 20px' }
    %p
      %strong .pull-left -
      Float an element left
    %p
      %strong .pull-right -
      Float an element right
    %p
      %strong .oneline -
      Preventing content to go into multiple rows.
      <span class='label label-info'>Note!</span>
      That element needs to be block or inline-block element.
      %strong
        Please note that you should use mixin oneline when it's possible. Just in cases when you cannot use mixin add class to specific element.
    %p
      %strong .input-block-level -
      Add this class to input field that needs to have width of his parent.
    %p
      %strong .date -
      Add this class to input field that represent date field.
    %p
      %strong .centered -
      This class make text or inline elements centered relative on parent element.
    %p
      %strong
        Example:
    %textarea
      .pull-left
      .pull-right
      .oneline
      .input-block-level
      .date
      .centered
