-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

%section#list.widget
  %section.header
    %h2
      Tree (DEPRECATED)
  %section.content{ 'style': 'padding:10px 20px' }
    %ul.tree-structure
      %li
        .item-main
          .openclose
          .item-title
            .row-fluid
              .span8
                .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                  %span.title
                    .grcobject.governance
                      %i.grcicon-program
                    Lorem ipsum dolor sit amet
                    %i.description-inline
                      Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .note
                  %a.note-trigger{ 'href': '#' }
                    %i.grcicon-add-black
                    Abstract/Note
                  .note-text
                    %textarea
                    %a.btn.btn-mini.btn-add{ 'href': '#' }
                      %i.grcicon-check-white
                      Save
                      %a.cancel-link{ 'href': '#' }
                        Cancel
                  .note-content
                    %a{ 'href': '#' }
                      %i.grcicon-edit
                    .rtf
                      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                      consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro.
                      %span
                        by Admin, 2013-02-18 5:35PM
                .description
                  .rtf
                    Lorem
                    %strong
                      ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor libero,
                    %em
                      convallis eget congue quis, fringilla eget mi.
                    Maecenas dignissim tempus adipiscing.
                    %ul
                      %li
                        ipsum dolor sit amet
                      %li
                        consectetur adipiscing elit
                      %li
                        tortor libero convallis
                      %li
                        maecenas dignissim tempus adipiscing
                    %strong
                      %em
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor libero, convallis eget congue quis, fringilla eget mi. Maecenas dignissim tempus adipiscing.
                    %ol
                      %li
                        ipsum dolor sit amet
                      %li
                        consectetur adipiscing elit
                      %li
                        tortor libero convallis
                      %li
                        maecenas dignissim tempus adipiscing
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor libero, convallis eget congue quis, fringilla eget mi. Maecenas dignissim tempus adipiscing.
              .span1
                %a.view-more{ 'href': '#' }
                  view
              .objects-count
                %a{ 'href': '#' }
                  %i.grcicon-control-black
                  5
                %a{ 'href': '#' }
                  %i.grcicon-section-black
                  0
            .item-actions
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-goto
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-link
        .item-content
          %ul.tree-structure
            %li
              .item-main
                .openclose
                .item-title
                  .row-fluid
                    .span8
                      .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                        %span.title
                          %i.grcicon-comment
                          Lorem ipsum dolor sit amet
                        %span.code
                          %i.grcicon-section-black
                          DEEP2
                        %span.description-inline
                          %i.description-inline
                            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                      .description
                        .rtf
                          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    .span1
                      %a.view-more{ 'href': '#' }
                        view
                    .objects-count
                      %a{ 'href': '#' }
                        %i.grcicon-control-black
                        5
                      %a{ 'href': '#' }
                        %i.grcicon-section-black
                        0
                  .item-actions
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-goto
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-link
              .item-content
                %ul.tree-structure
                  %li
                    .item-main
                      .openclose
                      .item-title
                        .row-fluid
                          .span8
                            .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                              %span.title
                                Lorem ipsum dolor sit amet 3
                              %span.code
                                %i.grcicon-section-black
                                DEEP3
                              %span.description-inline
                                %i.description-inline
                                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                            .description
                              .rtf
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                          .span1
                            %a.view-more{ 'href': '#' }
                              view
                          .objects-count
                            %a{ 'href': '#' }
                              %i.grcicon-control-black
                              5
                            %a{ 'href': '#' }
                              %i.grcicon-section-black
                              0
                        .item-actions
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-goto
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-link
                    .item-content
                      %ul.tree-structure
                        %li
                          .item-main
                            .openclose.lastchild
                            .item-title
                              .row-fluid
                                .span9
                                  .oneline.expandable
                                    %span.title
                                      %i.grcicon-comment
                                      Just a title
                                    %span.code
                                      %i.grcicon-control-black
                                      CTR1
                                .objects-count
                                  %a{ 'href': '#' }
                                    %i.grcicon-control-black
                                    5
                                  %a{ 'href': '#' }
                                    %i.grcicon-section-black
                                    0
                              .item-actions
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-goto
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-link
                          .item-content
                        %li
                          .item-main
                            .openclose.lastchild
                            .item-title
                              .row-fluid
                                .span8
                                  .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                                    %span.title
                                      Title with Description
                                    %span.code
                                      %i.grcicon-control-black
                                      CTR2
                                    %span.description-inline
                                      %i.description-inline
                                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                  .description
                                    .rtf
                                      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                .span1
                                  %a.view-more{ 'href': '#' }
                                    view
                                .objects-count
                                  %a{ 'href': '#' }
                                    %i.grcicon-control-black
                                    5
                                  %a{ 'href': '#' }
                                    %i.grcicon-section-black
                                    0
                              .item-actions
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-goto
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-link
                          .item-content
                        %li
                          .item-main
                            .openclose.lastchild
                            .item-title
                              .row-fluid
                                .span8
                                  .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                                    %span.title
                                      %i.grcicon-comment
                                      Title with Description
                                    %span.code
                                      %i.grcicon-control-black
                                      CTR3
                                    %span.description-inline
                                      %i.description-inline
                                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                  .description
                                    .rtf
                                      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                .span1
                                  %a.view-more{ 'href': '#' }
                                    view
                                .objects-count
                                  %a{ 'href': '#' }
                                    %i.grcicon-control-black
                                    5
                                  %a{ 'href': '#' }
                                    %i.grcicon-section-black
                                    0
                              .item-actions
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-goto
                                %a{ 'href': '#', 'class': 'btn btn-mini' }
                                  %i.grcicon-link
                          .item-content
                  %li
                    .item-main
                      .openclose.lastchild
                      .item-title
                        .row-fluid
                          .span9
                            .oneline.expandable
                              %span.title
                                Title with no Description
                              %span.code
                                %i.grcicon-section-black
                                DEEP3.1
                          .objects-count
                            %a{ 'href': '#' }
                              %i.grcicon-control-black
                              5
                            %a{ 'href': '#' }
                              %i.grcicon-section-black
                              0
                        .item-actions
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-goto
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-link
                    .item-content
            %li
              .item-main
                .openclose.lastchild
                .item-title
                  .row-fluid
                    .span9
                      .oneline.expandable
                        %span.title
                          Title with no Description
                        %span.code
                          %i.grcicon-section-black
                          DEEP2.1
                    .objects-count
                      %a{ 'href': '#' }
                        %i.grcicon-control-black
                        5
                      %a{ 'href': '#' }
                        %i.grcicon-section-black
                        0
                  .item-actions
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-goto
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-link
              .item-content
      %li
        .item-main
          .openclose.lastchild
          .item-title
            .row-fluid
              .span9
                .oneline.expandable
                  %span.title
                    Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  %span.code
                    .grcobject.risk
                      %i.grcicon-risk
                    RISKYATTR333
              .objects-count
                %a{ 'href': '#' }
                  %i.grcicon-control-black
                  5
                %a{ 'href': '#' }
                  %i.grcicon-section-black
                  0
            .item-actions
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-goto
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-link
        .item-content
      %li
        .item-main
          .openclose
          .item-title
            .row-fluid
              .span8
                .oneline.description-only.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                  %span.title
                  %span.code
                    .grcobject.compliance
                      %i.grcicon-system
                    SYS444
                  %span.description-inline
                    %i.description-inline
                      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .description.inhover
                  %span.code
                    SYS444
                  .rtf
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
              .span1
                %a.view-more{ 'href': '#' }
                  view
              .objects-count
                %a{ 'href': '#' }
                  %i.grcicon-control-black
                  5
                %a{ 'href': '#' }
                  %i.grcicon-section-black
                  0
            .item-actions
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-goto
              %a{ 'href': '#', 'class': 'btn btn-mini' }
                %i.grcicon-link
        .item-content
          %ul.tree-structure
            %li
              .item-main
                .openclose
                .item-title
                  .row-fluid
                    .span8
                      .oneline.expand-on-hover{ 'rel': 'tooltip', 'title': 'click to view more' }
                        %span.title
                          Lorem ipsum dolor sit amet
                        %span.code
                          DEEP1
                        %span.description-inline
                          %i.description-inline
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                      .description
                        .rtf
                          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .span1
                      %a.view-more{ 'href': '#' }
                        view
                    .objects-count
                      %a{ 'href': '#' }
                        %i.grcicon-control-black
                        5
                      %a{ 'href': '#' }
                        %i.grcicon-section-black
                        0
                  .item-actions
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-goto
                    %a{ 'href': '#', 'class': 'btn btn-mini' }
                      %i.grcicon-link
              .item-content
                %ul.tree-structure
                  %li
                    .item-main
                      .openclose.lastchild
                      .item-title
                        .row-fluid
                          .span8
                            .oneline.expandable.description-only
                              %span.title
                              %span.code
                                DEEP2
                              %span.description-inline
                                %i.description-inline
                                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .description.inhover
                              %span.code
                                DEEP1
                              .rtf
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          .span1
                            %a.view-more{ 'href': '#' }
                              view
                          .objects-count
                            %a{ 'href': '#' }
                              %i.grcicon-control-black
                              5
                            %a{ 'href': '#' }
                              %i.grcicon-section-black
                              0
                        .item-actions
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-goto
                          %a{ 'href': '#', 'class': 'btn btn-mini' }
                            %i.grcicon-link
                    .item-content
                  %li
                    .item-main
                      .openclose.lastchild
                      .item-title
                        .row-fluid
                          .span9
                            .oneline.expandable.description-only
                              %span.title
                                No Title or Description (shouldn't happen)
                          .objects-count
                            %a{ 'href': '#' }
                              %i.grcicon-control-black
                              5
                            %a{ 'href': '#' }
                              %i.grcicon-section-black
                              0
