-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

%section#modals.widget
  %section.header
    %h2
      Modals
  %section.content{ 'style': 'padding:10px 20px' }
    %a.btn.btn-primary{ 'data-toggle': 'modal', 'href': '#objectMapper' }
      Object Mapper
    &nbsp;
    %a.btn{ 'data-toggle': 'modal', 'href': '#selectorPeople' }
      People Selector
    &nbsp;
    %a.btn{ 'data-toggle': 'modal', 'href': '#helpModalEmpty' }
      Help Modal - Empty
    &nbsp;
    %a.btn{ 'data-toggle': 'modal', 'href': '#helpModal' }
      Help Modal
    %br
    %br

      %a.btn{ 'data-toggle': 'modal', 'href': '#baseObjectNew' }
        Base Objects
      %a.btn{ 'data-toggle': 'modal', 'href': '#editRole' }
        Edit Role
      %a.btn{ 'data-toggle': 'modal', 'href': '#meeting' }
        Meeting
      %a.btn{ 'data-toggle': 'modal', 'href': '#population' }
        Population
      %a.btn{ 'data-toggle': 'modal', 'href': '#evidence' }
        Evidence
      %a.btn{ 'data-toggle': 'modal', 'href': '#evidenceUpload' }
        Evidence Upload
    %br
    %br
    %h3 Deprecated
    %a.btn{ 'data-toggle': 'modal', 'href': '#selectorSectionToControl' }
      Section to Control Mapper
    %a.btn{ 'data-toggle': 'modal', 'href': '#selectorSectionToControlNA' }
      Section to Control Mapper N/A
