-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

%section#nesting.widget
  %section.header
    %h2
      Structure nesting
  %section.content{ 'style': 'padding:10px 20px' }
    .nesting-example.real-example
      .row-fluid
        .span12
          Fluid 12
          .row-fluid
            .span6
              Fluid 6
              .row-fluid
                .span3
                  Fluid 3
                .span9
                  Fluid 9
            .span6
              Fluid 6
              .row-fluid
                .span3
                  Fluid 3
                .span3
                  Fluid 3
                .span3
                  Fluid 3
                .span3
                  Fluid 3
    %p
      %strong
        Example:
    %textarea
      .row-fluid
        .span12
          Fluid 12
          .row-fluid
            .span6
              Fluid 6
              .row-fluid
                .span3
                  Fluid 3
                .span9
                  Fluid 9
            .span6
              Fluid 6
              .row-fluid
                .span3
                  Fluid 3
                .span3
                  Fluid 3
                .span3
                  Fluid 3
                .span3
                  Fluid 3
    %p
      %span.label.label-info
        Note!
      &nbsp; This is how nesting work. If you forgot to implement something or you put some element into wrong place it will not work properly.
      Each nested level of columns should add up to 12 columns. This is because the fluid grid uses percentages, not pixels, for setting widths.
