-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

%section#contracts.widget.governance
  %section.header
    .row-fluid
      .span8
        %h2
          %i.grcicon-contract-color
          Contracts
          %span
            (1)
      .span4
        .widget-action.pull-right.widget-showhide
          %a.active{ 'href': "javascript://" }
        .widget-action.pull-right.widget-action-help
            %a{ 'href': "javascript://" }
              %i.grcicon-help-black
  %section.content
    %ul.new-tree
      -include 'styleguide/tree/_level_main.haml'
      %li.tree-item-add
        %a{ 'href': '#' }
          .row-fluid
            .span12
              + Contract
      