%section#newtree.widget.governance
  %section.header
    .row-fluid
      .span8
        %h2
          New Tree Example
      .span4
        .widget-action.pull-right.widget-showhide
          %a.active{ 'href': "javascript://" }
        .widget-action.pull-right.widget-action-help
            %a{ 'href': "javascript://" }
              %i.grcicon-help-black
  %section.content
    %ul.new-tree
      %li.tree-item.governance
        %a{ 'href': '#', 'class': 'tree-link' }
          .row-fluid
            .span10
              .item-data
                .tree-title-area
                  Master Agreement
            .span1
              %i.grcicon-people-warning
            .span1
              .counter
                %i.grcicon-section-black
                6
      %li.tree-item.governance
        %a{ 'href': '#', 'class': 'tree-link' }
          .row-fluid
            .span10
              .item-data
                .tree-title-area
                  Art party craft
            .span1
              &nbsp;
            .span1
              .counter
                %i.grcicon-section-black
                2
        .tier-2-info
          .tier-2-info-content
            .row-fluid
              .span12
                .tree-description.short
                  %p
                    Art party craft beer Cosby sweater organic, whatever banjo four loko vegan fap. Artisan actually viral, mixtape narwhal intelligentsia flexitarian squid next level sartorial forage skateboard street art stumptown mumblecore. McSweeney's chambray shoreditch forage disrupt. Pug banh mi stumptown tattooed flannel. Viral meh kogi, High Life cred Godard semiotics american apparel fanny pack ethnic Williamsburg sustainable typewriter put a bird on it keffiyeh. Leggings Terry Richardson Neutra keytar, banjo sustainable street art blue bottle art party. Flexitarian four loko lomo viral, sriracha vegan cray Echo Park irony meggings PBR cred try-hard biodiesel synth.
                %a{ 'class': 'show-long', 'href': 'javascript://' }
                  more
            .row-fluid
              .span8
                .tree-info
                  %strong
                    Owner:
                  Manny Rangerburden
              .span4
                %a{ 'href': '#', 'class': 'info-action pull-right', 'rel': 'tooltip', 'title': 'Edit Contract', 'data-placement': 'left' }
                  Edit
                  %i.grcicon-edit
            .row-fluid
              .span8
                .tree-info
                  %a{ 'href': '#', 'target': '_blank',}
                    http://gdrive.googleplex.com/artpartycraft/42387994793827
              .span4
                %a{ 'href': '#', 'class': 'info-action pull-right', 'rel': 'tooltip', 'title': 'View Contract', 'data-placement': 'left' }
                  View
                  %i.grcicon-goto
          .inner-tree
            %h6
              Sections
            %ul.new-tree-inner
              %li.sub-item.governance
                %a{ 'href': '#', 'class': 'tree-link' }
                  .row-fluid
                    .span10
                      .item-data
                        .tree-title-area
                          %i.grcicon-section-color
                          %span.tree-code
                            80053
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .span1
                      &nbsp;
                    .span1
                      .counter
                        %i.grcicon-reg-map
                        0
              %li.sub-item.governance
                %a{ 'href': '#', 'class': 'tree-link' }
                  .row-fluid
                    .span10
                      .item-data
                        .tree-title-area
                          %i.grcicon-section-color
                          %span.tree-code
                            80053-1
                          London Calling
                    .span1
                      &nbsp;
                    .span1
                      .counter
                        %i.grcicon-reg-map
                        2
                .tier-2-info
                  .tier-2-info-content
                    .row-fluid
                      .span12
                        .tree-description.short
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        %a{ 'class': 'show-long', 'href': 'javascript://' }
                          more
                    .row-fluid
                      .span8
                        .tree-info
                          %strong
                            Owner:
                          Manny Rangerburden
                      .span4
                        %a{ 'href': '#', 'class': 'info-action pull-right', 'rel': 'tooltip', 'title': 'Edit Section', 'data-placement': 'left' }
                          %i.grcicon-edit
                          Edit
                    .row-fluid
                      .span8
                        .tree-info
                          %a{ 'href': '#', 'target': '_blank'}
                            http://gdrive.googleplex.com/artpartycraft/42387994793827
                      .span4
                  .inner-tree
                    %h6 Mapped Objects
                    %ul.new-tree-inner
                      %li.sub-item.business
                        %a{ 'href': '#', 'class': 'tree-link' }
                          .row-fluid
                            .span10
                              .item-data
                                .tree-title-area
                                  %i.grcicon-orggroup-color
                                  Desciples
                            .span1
                              &nbsp;
                            .span1
                              &nbsp;
                      %li.sub-item.business
                        %a{ 'href': '#', 'class': 'tree-link' }
                          .row-fluid
                            .span10
                              .item-data
                                .tree-title-area
                                  %i.grcicon-market-color
                                  South China Market
                            .span1
                              &nbsp;
                            .span1
                              &nbsp;
                      %li.sub-item.program
                        %a{ 'href': '#', 'class': 'tree-link' }
                          .row-fluid
                            .span10
                              .item-data
                                .tree-title-area
                                  %i.grcicon-program-color
                                  SOX Compliance
                            .span1
                              &nbsp;
                            .span1
                              &nbsp;
                      %li.sub-item.tree-item-add
                        .row-fluid
                          .span12
                            %a{ 'href': 'javascript://', 'class': 'section-add' }
                              + Object
                            %a{ 'href': 'javascript://', 'class': 'section-create' }
                              %i.grcicon-reg-map
                              Map Object
                            &nbsp;&nbsp;
                            %a{ 'href': 'javascript://', 'class': 'section-import' }
                              %i.grcicon-objective-black
                              Create/Map Control Objective
                            
                %li.sub-item.tree-item-add
                  .row-fluid
                    .span12
                      %a{ 'href': 'javascript://', 'class': 'section-add' }
                        + Section
                      %a{ 'href': 'javascript://', 'class': 'section-create' }
                        %i.grcicon-add-black
                        Create Section
                      &nbsp;&nbsp;
                      %a{ 'href': 'javascript://', 'class': 'section-import' }
                        %i.grcicon-imp-exp
                        Import Sections
      %li.tree-item.governance
        %a{ 'href': '#', 'class': 'tree-link' }
          .row-fluid
            .span10
              .item-data
                .tree-title-area
                  EULA
            .span1
              &nbsp;
            .span1
              .counter
                %i.grcicon-section-black
                0
      %li.tree-item-add
        %a{ 'href': '#' }
          .row-fluid
            .span12
              + Contract
      