%section#newtree.widget
  %section.header
    %h2
      New Tree Design
  %section.content
    %ul.new-tree
      %li.tree-item
        %a{ 'href': '#' }
          .row-fluid
            .span10
              Master Agreement
            .span1
              %i.grcicon-people-warning
            .span1
              %i.grcicon-section-black
              6
      %li.tree-item
        %a{ 'href': 'javascript://' }
          .row-fluid
            .span10
              .oneline
                Art party craft
            .span1
              &nbsp;
            .span1
              %i.grcicon-section-black
              6
        .tier-2-info
          .row-fluid
            .span12
              .tree-description.short
                %p
                  Art party craft beer Cosby sweater organic, whatever banjo four loko vegan fap. Artisan actually viral, mixtape narwhal intelligentsia flexitarian squid next level sartorial forage skateboard street art stumptown mumblecore. McSweeney's chambray shoreditch forage disrupt. Pug banh mi stumptown tattooed flannel. Viral meh kogi, High Life cred Godard semiotics american apparel fanny pack ethnic Williamsburg sustainable typewriter put a bird on it keffiyeh. Leggings Terry Richardson Neutra keytar, banjo sustainable street art blue bottle art party. Flexitarian four loko lomo viral, sriracha vegan cray Echo Park irony meggings PBR cred try-hard biodiesel synth.
              %a{ 'class': 'show-long', 'href': 'javascript://' }
                more
          .row-fluid
            .span6
              .tree-info
                %strong
                  Owner:
                Manny Rangerburden
            .span6
              .tree-info
                %a{ 'href': '#', 'target': '_blank'}
                  http://gdrive.googleplex.com/artpartycraft/42387994793827
          .tree-actions
            .row-fluid
              .span6
                %a{ 'href': '#' }
                  View Contract
                  %i.grcicon-goto
              .span6
                %a{ 'href': '#', 'class': 'pull-right' }
                  %i.grcicon-edit
                  Edit
          .inner-tree
            %ul.new-tree-inner
              %li.sub-item
                Hello
              %li.sub-item
                .row-fluid
                  .span10
                    London Calling
                  .span1
                    &nbsp;
                  .span1
                    %i.grcicon-reg-map
                    2
              %li.sub-item
                %a{ 'href': '#' }
                  .row-fluid
                    .span12
                      + Section

      %li.tree-item
        %a{ 'href': '#' }
          .row-fluid
            .span10
              EULA
            .span1
              &nbsp;
            .span1
              %i.grcicon-section-black
              0
      %li.tree-item-add
        %a{ 'href': '#' }
          .row-fluid
            .span12
              + Contract
      