%section#objects.widget
  %section.header
    %h2
      Objects
  %section.content{ 'style': 'padding:10px 20px' }
    .real-example
      %table.objecticons
        %tr
          %th
            Program Object
            %i (.programs)
        %tr
          %td
            .grcobject.programs
              %i.grcicon-program
            Program
      %table.objecticons
        %tr
          %th{ 'colspan': '5' }
            Governance Objects
            %i (.governance)
        %tr
          %td
            .grcobject.governance
              %i.grcicon-policy
            Policy
          %td
            .grcobject.governance
              %i.grcicon-regulation
            Regulation
          %td
            .grcobject.governance
              %i.grcicon-section
            Section/Clause
          %td
            .grcobject.governance
              %i.grcicon-control
            Control
          %td
            .grcobject.governance
              %i.grcicon-objective
            Control Objective

      %table.objecticons
        %tr
          %th{ 'colspan': '8' }
            Business Objects
            %i (.business)
        %tr
          %td
            .grcobject.business
              %i.grcicon-market
            Market
          %td
            .grcobject.business
              %i.grcicon-facility
            Facility
          %td
            .grcobject.business
              %i.grcicon-project
            Project
          %td
            .grcobject.business
              %i.grcicon-product
            Product
          %td
            .grcobject.business
              %i.grcicon-orggroup
            Org Group
          %td
            .grcobject.business
              %i.grcicon-dataasset
            Data Asset
          %td
            .grcobject.business
              %i.grcicon-process
            Process
          %td
            .grcobject.business
              %i.grcicon-system
            System
      %table.objecticons
        %tr
          %th{ 'colspan': '2' }
            Risk Objects
            %i (.risk)
        %tr
          %td
            .grcobject.risk
              %i.grcicon-risk
            Risk
          %td
            .grcobject.risk
              %i.grcicon-attribute
            Attribute
      %br
      %p
        Object icons are created with a help of another wrapper class around standard icon:
        %textarea
          .grcobject.programs
            %i.grcicon-program