<section id="pbc-color-list" class="widget">
  <section class="header">
    <h2>PBC Color List</h2>
  </section>
  <section class="content">
    <div class="tier-2-info-content">&nbsp;</div>
    <div class="inner-tree">
      <h6>
        PBC Requests (7)
        <a href="#" class="advanced-filter-trigger"><i class="grcicon-search"></i> Show Filters</a>
      </h6>
      <div class="advanced-filters pbc-filters">
        <div class="row-fluid">
          <div class="span4">
            <ul class="filter-date-range">
              <li>FILTERS:</li>
              <li class="pull-right">
                <span>requested on or after:</span>
                <input class="input-mini date" name="filter_end_date" data-toggle="datepicker" data-after="filter_start_date" placeholder="/ /" type="text" value="">
              </li>
            </ul>
          </div>
          <div class="span3">
            <i class="grcicon-person-green pull-left"></i>
            <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
          </div>
          <div class="span3">
            <span class="pull-left request-type">type:</span>
            <select name="request_type" class="span9 short-field">
              <option selected="true">Documentation</option>
              <option>Interview</option>
              <option>Population Sample</option>
            </select>
          </div>
          <div class="span2">
            <select name="status" class="span9 short-field">
              <option selected="true">Draft</option>
              <option>Requested</option>
              <option>Responded</option>
              <option>Amended Request</option>
              <option>Updated Response</option>
              <option>Accepted</option>
            </select>
          </div>
        </div>
      </div>
      <ul class="tree-structure new-tree rq-colors cms_controllers_tree_view">
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-draft">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 1</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option selected="true">Documentation</option>
                    <option>Interview</option>
                    <option>Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option selected="true">Draft</option>
                        <option>Requested</option>
                        <option>Responded</option>
                        <option>Amended Request</option>
                        <option>Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-requested">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 2</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Predrag Kanazir">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option selected="true">Interview</option>
                    <option>Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option>Draft</option>
                        <option selected="true">Requested</option>
                        <option>Responded</option>
                        <option>Amended Request</option>
                        <option>Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-responded">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 3</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option>Interview</option>
                    <option selected="true">Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option>Draft</option>
                        <option>Requested</option>
                        <option selected="true">Responded</option>
                        <option>Amended Request</option>
                        <option>Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-amended-request">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 4</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option>Interview</option>
                    <option selected="true">Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option>Draft</option>
                        <option>Requested</option>
                        <option>Responded</option>
                        <option selected="true">Amended Request</option>
                        <option>Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-updated-response">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 5</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option>Interview</option>
                    <option selected="true">Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option>Draft</option>
                        <option>Requested</option>
                        <option>Responded</option>
                        <option>Amended Request</option>
                        <option selected="true">Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-accepted">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 6</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option>Interview</option>
                    <option selected="true">Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option>Draft</option>
                        <option>Requested</option>
                        <option>Responded</option>
                        <option>Amended Request</option>
                        <option>Updated Response</option>
                        <option selected="true">Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="tree-item programs request-list cms_controllers_tree_view_node rq-warning">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span3">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-objective-color"></i>
                      <span>Generic request 7</span>
                    </div>
                  </div>
                </div>
                <div class="span3 ggrc_controllers_quick_form">
                  <i class="grcicon-person-green pull-left"></i>
                  <span>
                    <div class="objective-selector">
                      <input type="text" name="assignee.name" data-lookup="Person" class="span10 short-field" value="Vladan Mitevski">
                    </div>
                  </span>
                </div>
                <div class="span2 ggrc_controllers_quick_form">
                  <span class="pull-left request-type black-font">type:</span>
                  <select name="request_type" class="span8 short-field">
                    <option>Documentation</option>
                    <option>Interview</option>
                    <option selected="true">Population Sample</option>
                  </select>
                </div>
                <div class="span4 ggrc_controllers_quick_form">
                  <div class="row-fluid">
                    <div class="span5">
                      <select name="status" class="span9 short-field">
                        <option selected="true">Draft</option>
                        <option>Requested</option>
                        <option>Responded</option>
                        <option>Amended Request</option>
                        <option>Updated Response</option>
                        <option>Accepted</option>
                      </select>
                    </div>
                    <div class="span6">
                      <div class="black-font">
                        &nbsp;&nbsp;
                        <strong>due on: </strong>31/10/13
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              
              <div class="row-fluid">
                <div class="span12">
                  <div class="show-description">
                    <div class="row-fluid">
                      <div class="span12">
                        Request Description
                      </div>
                    </div>
                  </div>
                  
                  <p><strong>requested on: </strong>20/10/13</p>
                  
                  <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="">
                    <i class="grcicon-edit"></i>
                    Edit PBC Request
                  </a>
                  
                </div>
              </div>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
  </section>
</section>