<section id="person-tooltip" class="widget business">
  <section class="header">
    <div class="row-fluid">
      <div class="span8">
        <h2><i class="grcicon-info"></i> Facility Info</h2>
      </div>
      <div class="span4">
        <div class="widget-action pull-right widget-showhide">
          <a class="active" href="javascript://"></a>
        </div>
        <div class="widget-action pull-right widget-action-help">
          <a href="javascript://">
            <i class="grcicon-help-black"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <section class="info">
      <div class="row-fluid">
        <div class="span9">
          <h3>Texas Server Farm</h3>
          <div class="rtf-block">
            Twee next level asymmetrical +1 bespoke. Butcher Austin Vice squid, 90's synth banh mi hella quinoa next level. Skateboard chambray kale chips, pickled Schlitz photo booth vinyl. Butcher Austin Vice squid, 90's synth banh mi hella quinoa next level.
          </div>
          <p>
            <a href="http://directlinks.google.com/googleplex/infomax/" class="inner-element" target="_blank">http://directlinks.google.com/googleplex/infomax/</a>
          </p>
        </div>
      </div>
      <div class="person-holder">
        <p>
          <strong>Owner:</strong>
          <span class="person-tooltip-trigger" data-placement="top">Jeff Richmond</span>
        </p>
        <div class="custom-popover-content">
          <div class="preview-container person-preview">
            <div class="row-fluid">
              <div class="span8">
                <div class="profile-info">
                  <ul>
                    <li><h4>Predrag Kanazir</h4></li>
                    <li><strong>Email:</strong> predrag@reciprocitylabs.com</li>
                    <li><strong>Company:</strong> Reciprocity, Inc.</li>
                  </ul>
                  <div class="profile-contact">
                    <ul>
                      <li>
                        <a rel="tooltip" data-original-title="Start a video call" href="#"><i class="grcicon-gvideo"></i></a>
                      </li>
                      <li>
                        <a rel="tooltip" data-original-title="Chat with this contact" href="#"><i class="grcicon-gchat"></i></a>
                      </li>
                      <li>
                        <a rel="tooltip" data-original-title="Email this contact" href="#"><i class="grcicon-gmail"></i></a>
                      </li>
                      <li>
                        <a rel="tooltip" data-original-title="Phone call" href="#"><i class="grcicon-gphone"></i></a>
                      </li>
                      <li class="circle-holder">
                        <a class="btn btn-mini square-trigger" href="#">Add to Circles <i class="grcicon-carot"></i></a>
                        <div class="square-popover">
                          <ul>
                            <li>
                              <label>
                                <input type="checkbox">
                                Friends <span>126</span>
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox">
                                Family <span>40</span>
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox">
                                Acquaintances <span>12</span>
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox">
                                Following <span>4</span>
                              </label>
                            </li>
                            <li class="create">
                              <a href="#">Create new circle</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <a class="info-action" href="#">View profile <i class="grcicon-goto"></i></a>
                </div>
              </div>
              <div class="span4">
                <div class="profile-photo">
                  <img src="/static/images/people/predrag-kanazir.jpg" alt="Predrag Kanazir">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        <a href="javascript://" class="info-edit">
          <i class="grcicon-edit"></i>
          <span>Edit</span>
        </a>
      </p>
      <p>
        <small>
          Code: FACILITY-112
          <br>
          Created at 10/30/2013 03:24:54pm PDT by Jeff Richmond
          <br>
          Modified at 10/31/2013 07:10:21pm PDT by Harmin Sanion
        </small>
      </p>
    </section>
  </section>
</section>