%section#progress.widget
  %section.header
    %h2
      Progress Bar
  %section.content{ 'style': 'padding:10px 20px' }
    .real-example
      .progress
        .bar{ 'style': 'width:30%;' }
      .progress
        .bar.bar-success{ 'style': 'width:40%;' }
      .progress
        .bar.bar-danger{ 'style': 'width:50%;' }
      .progress
        .bar.bar-warning{ 'style': 'width:60%;' }
    %p
      %strong
        Example:
    %textarea
      .progress
        .bar{ 'style': 'width:30%;' }
      .progress
        .bar.bar-success{ 'style': 'width:40%;' }
      .progress
        .bar.bar-danger{ 'style': 'width:50%;' }
      .progress
        .bar.bar-warning{ 'style': 'width:60%;' }
    .real-example
      %p
        %strong
          You can also combine multiple progress bars into one row. See example below:
      .progress
        .bar{ 'style': 'width:25%;' }
        .bar.bar-success{ 'style': 'width:25%;' }
        .bar.bar-danger{ 'style': 'width:25%;' }
        .bar.bar-warning{ 'style': 'width:25%;' }
    %textarea
      .progress
        .bar{ 'style': 'width:25%;' }
        .bar.bar-success{ 'style': 'width:25%;' }
        .bar.bar-danger{ 'style': 'width:25%;' }
        .bar.bar-warning{ 'style': 'width:25%;' }
    %p
      %span.label.label-info
        Note!
      &nbsp; When you're adding progress bars please note that instead of
      %strong
        'style': 'width:20%;' 
      you should import code that will calculate required percentage. This percentages are only for demonstration.