{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<related-objects {base-instance}="instance" related-items-type="Assessment" initial-order-by="finished_date,created_at">
  <div class="grid-data__toolbar flex-box">
    <tree-pagination {paging}="paging" class="grid-data__toolbar-item"></tree-pagination>
    {{#if needReuse}}
      {{#is_allowed 'update' baseInstance context='for'}}
        {{#unless instance.archived}}
          <button class="btn btn-small btn-green grid-data__toolbar-item" ($click)="reuseSelected()" {{^hasSelected}}disabled{{/hasSelected}}>Reuse</button>
        {{/unless}}
      {{/is_allowed}}
    {{/if}}
  </div>
  <div class="grid-data-header flex-row flex-box">
    <div class="flex-size-3">
      <sortable-column {(sort)}="orderBy" sort-field="title">
        Assessment Title
      </sortable-column>
    </div>
    <div class="grid-data-item-index">
      <sortable-column {(sort)}="orderBy" sort-field="status">
        Assessment State
      </sortable-column>
    </div>
    <div class="grid-data-item-index">
      <sortable-column {(sort)}="orderBy" sort-field="finished_date">
        Assessment Finish Date
      </sortable-column>
    </div>
    <div class="grid-data-item-index">
      <sortable-column {(sort)}="orderBy" sort-field="created_at">
        Assessment Create Date
      </sortable-column>
    </div>
    <div class="flex-size-3">
      {{relatedObjectsTitle}}
    </div>
    <div class="flex-size-3">
      Audit Title
    </div>
    <div class="flex-size-3">
      Evidence files / Urls
    </div>
    <div class="grid-data__action-column">
      More info
    </div>
  </div>
  <div class="grid-data-body center-empty-message {{#isLoading}}loading{{/isLoading}}">
    <related-assessment-list {assessments}="relatedObjects">
      {{#if assessments.length}}
        <spinner {toggle}="itemsLoading" class="spinner-wrapper active"
                 extra-css-class="grid-spinner"></spinner>
      {{/if}}
      <object-list {(items)}="assessments" {is-loading}="isLoading" spinner-css="grid-spinner"
                   {(selected-item)}="selectedItem"
                   {item-selector}="objectSelectorEl" {empty-message}="noRelatedObjectsMessage" class="object-list__limited-height">
        <related-assessment-item {^sub-items-loading}="itemLoading"
                                 class="{{#itemsLoading}}hidden{{/itemsLoading}}">
          <div class="grid-data-row flex-row flex-box">
            <div class="flex-size-3">
              <a href="{{instance.viewLink}}" class="grid-data-item__title-cell" target="_blank" title="{{instance.title}}">{{instance.title}}</a>
            </div>
            <div class="grid-data-item-index">
              <state-colors-map {state}="instance.status"></state-colors-map>
            </div>
            <div class="grid-data-item-index">
              {{localize_date instance.finished_date}}
            </div>
            <div class="grid-data-item-index">
              {{localize_date instance.created_at}}
            </div>
            <div class="flex-size-3">
	      <mapped-objects
		{mapped-snapshots}="mappedSnapshots"
		{filter}="relatedObjectsFilter"
		{parent-instance}="instance"
		{^is-loading}="loadingState.controlsLoading">
		<business-object-list-item {instance}="instance"></business-object-list-item>
	      </mapped-objects>
            </div>
            <div class="flex-size-3">
              <related-audits {parent-instance}="instance">
                <mapped-objects
                  {parent-instance}="parentInstance"
                  {related-types}="relatedTypes"
                  {^is-loading}="loadingState.auditLoading">
                  <a href="{{instance.viewLink}}" class="grid-data-item__title-cell" target="_blank">{{instance.title}}</a>
                </mapped-objects>
              </related-audits>
            </div>
            <div class="flex-size-3">
              <related-evidences-and-urls {parent-instance}="instance"
                                          {^is-loading}="loadingState.evidencesAndUrlsLoading">
                {{#if needReuse}}
                  <object-list items="documents" show-more="true">
                    <reusable-objects-item {instance}="{.}"
                                           {is-saving}="isSaving"
                                           {base-instance-documents}="baseInstanceDocuments"
                                           {(selected-list)}="documentList">
                      <document-object-list-item {instance}="instance"></document-object-list-item>
                    </reusable-objects-item>
                  </object-list>
                {{else}}
                  <object-list items="documents">
                    <document-object-list-item {instance}="{.}"></document-object-list-item>
                  </object-list>
                {{/if}}
              </related-evidences-and-urls>
            </div>
            <div class="grid-data__action-column">
              <button class="btn btn-icon btn-icon-sm" title="Show More Information"><i class="fa fa-info-circle"></i></button>
            </div>
          </div>
        </related-assessment-item>
      </object-list>
    </related-assessment-list>
    <related-assessment-popover class="object-popover related-assessments__object-popover"
                                {selected-assessment}="selectedItem" hide-title="true"></related-assessment-popover>
  </div>
</related-objects>
