{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div data-id="workflow_folder_hidden" class="span8 hidable">
  <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="6" placeholder="If selected, all workflow attachments go here."/>
</div>
