{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch attr_name}}
  {{#case 'owner'}}
    {{#with_mapping 'authorizations' instance}}
      <get-owner-people-list data="authorizations" role="'WorkflowOwner'"/>
    {{/with_mapping}}
  {{/case}}
  {{#case 'modified_by'}}
      <tree-field {source}="instance.modified_by" {field}="'email'"/>
  {{/case}}
  {{#case 'repeat'}}
      <repeat-on-summary {unit}="instance.unit" {repeat-every}="instance.repeat_every"
                         hide-repeat-off="false" class="repeat-cell">
      </repeat-on-summary>
  {{/case}}
  {{#case 'status'}}
    {{#using status=instance.status}}
      <span class="state-value-dot {{addclass 'state' status}}">
        {{status}}
      </span>
    {{/using}}
  {{/case}}
  {{#default}}
    {{#if_helpers '\
    #if_equals' attr_name 'url' '\
    or #if_equals' attr_name 'reference_url'}}
      <a class="url" href="{{get_url_value attr_name instance}}" target="_blank">
        {{get_default_attr_value attr_name instance}}
      </a>
    {{else}}
      {{get_default_attr_value attr_name instance}}
    {{/if_helpers}}
  {{/default}}
{{/switch}}
