{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: goodson@google.com
  Maintained By: goodson@google.com
}}

<div class="details-wrap">
  <a class="btn btn-draft dropdown-toggle"
     href="#"
     data-toggle="dropdown">
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">

    <li>
      <a href="javascript://" class="unmap" data-toggle="unmap">
        <span class="result" {{data 'result'}}></span>
        <i class="fa fa-ban"></i>
        Unmap
      </a>
    </li>

  </ul>
</div>
