
{% macro body() -%}
style="font-family: 'Helvetica Neue', 
                    'Helvetica', 
                     Helvetica, 
                     Arial, 
                     sans-serif; 
       width: 100%!important; 
       height: 100%; 
       -webkit-text-size-adjust:none; 
       -webkit-font-smoothing:antialiased; 
       margin: 0; padding: 0;"
{%- endmacro %}

{% macro block() -%}
style="display: block !important; 
       max-width: 600px !important; 
       margin: 0 auto !important; 
       clear: both !important;"
{%- endmacro %}

{% macro td_div() -%}
style="padding: 15px; 
       max-width: 600px; 
       margin: 0 auto; 
       display: block;"
{%- endmacro %}   

{% macro h1() -%}
style="margin-top: 0;
       font-family: 'HelveticaNeue-Light', 
                    'Helvetica Neue Light', 
                    'Helvetica Neue', 
                    Helvetica,
                    Arial, 
                    'Lucida Grande', 
                    sans-serif; 
       line-height: 1.1; 
       margin-bottom: 15px; 
       color: #000; 
       font-size: 44px; 
       font-weight: normal;"
{%- endmacro %}

{% macro h2() -%}
style="margin-top: 30px; 
       font-family: 'HelveticaNeue-Light', 
                    'Helvetica Neue Light',
                    'Helvetica Neue',
                    Helvetica,
                    Arial,
                    'Lucida Grande',
                    sans-serif;
       line-height: 1.1;
       margin-bottom: 15px;
       color: #000;
       font-size: 30px;
       font-weight: normal;"
{%- endmacro %}

{% macro p() -%}
style="margin-top: 0; 
       margin-bottom: 15px; 
       font-weight: normal; 
       font-size: 14px; 
       line-height: 1.6;"
{%- endmacro %}

{% macro ul() -%}
style="padding: 0; 
       margin-top: 0; 
       margin-bottom: 15px; 
       font-weight: normal; 
       font-size: 14px; 
       line-height: 1.6;"
{%- endmacro %}

{% macro li() -%}
style="margin-left: 5px; 
       list-style-position: inside;"
{%- endmacro %}
