{% extends "notifications/base.html" %}

{% block body %}

  {% import 'notifications/style.html' as style %}

  <h1 {{ style.h1() }}>List of pending notifications by date</h1>

  {% for day, user_notifications in data %}
  <hr>
    {{ day.strftime("%Y/%m/%d") }}

    {% for user, digest in user_notifications.items() %}
      <hr>
      {% include 'notifications/email_header.html' %}
      {% include 'notifications/email_digest_body.html' %}
      {% include 'notifications/email_footer.html' %}
    {% endfor %}

  {% endfor %}
  <hr>

{% endblock %}
