{{!div class="modal-body"}}

{{#instance}}
<form action="javascript://">
  {{{ handle_context }}}
  <div class="row-fluid">
    <div class="span6">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Enter Title"></i>
      </label>
      <input id="section-title" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}">
    </div>
    {{#with_page_object_as "page_object"}}
      <div class="span6">
        <label>
          Directive
          <i class="grcicon-help-black" rel="tooltip" title="Contract, Policy or Regulation Code"></i>
        </label>
        <input id="directive.id" name="directive.id" type="hidden" value="{{page_object.id}}">
        <p class="modal-value">
          {{page_object.title}}
        </p>
      </div>
    {{/with_page_object_as}}
  </div>
  <div class="row-fluid">
    <div class="span12">
      <label>
        Text of Section/Clause
        <i class="grcicon-help-black" rel="tooltip" title="Enter text of section or clause"></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="section-description" class="span12 double wysihtml5" name="description" placeholder="Enter text of section or clause">{{{description}}}</textarea>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code, Abstract
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span3">
        <label>
          Code
          <i class="grcicon-help-black" rel="tooltip" title="Enter Code"></i>
        </label>
        <input id="section-code" class="input-block-level" name="slug" placeholder="SECTION-XXX" type="text" value="{{slug}}">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <label>
          Abstract
          <i class="grcicon-help-black" rel="tooltip" title="Section/Clause content in short"></i>
        </label>
        <div class="wysiwyg-area">
          <textarea id="section-notes" class="span12 double wysihtml5" name="notes" placeholder="Describe content of a section/clause in short">{{{notes}}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>
{{/instance}}
{{!/div}}