{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  {{{ handle_context }}}
  <div class="row-fluid">
    <div class="span2">
      {{#with_page_object_as "page_object"}}
      <label for="section-directive_id">Regulation</label>
      <input id="directive.id" name="directive.id" type="hidden" value="{{page_object.id}}">
      {{page_object.slug}}
      <span class="help-inline">
      </span>
      {{/with_page_object_as}}
    </div>
    <div class="span3">
      <label for="section-code">Code (autofill)</label>
      <input class="span12" id="section-code" name="slug" placeholder="SECTION-XXXX" type="text" value="{{slug}}">
      <span class="help-inline">
      </span>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <label for="section-title">Title</label>
      <input class="span12" id="section-title" name="title" placeholder="Title" type="text" value="{{title}}">
      <span class="help-inline">
      </span>

    </div>
  </div>
  <div class="row-fluid">
    <label for="section-description">Text of Section:</label>
  </div>
  <div class="row-fluid" control-group="">
    <div class="span12 wysiwyg-area">
      <textarea class="span12 double wysihtml5" id="section-description" name="description" rows="4" placeholder="">{{{description}}}</textarea>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <label for="section-url">URL for this section (optional)</label>
        <input class="span12" id="section-link" name="url" placeholder="http://" type="text" value="{{url}}">
        <span class="help-inline">
        </span>

      </div>
    </div>
    <div class="row-fluid">
      <label for="section-notes">Abstract</label>
    </div>
    <div class="row-fluid" control-group="">
      <div class="span12 wysiwyg-area ui-resizable" id="ui-id-3">
        <textarea class="span12 double wysihtml5" id="section-notes" name="notes" rows="4" placeholder="">{{{notes}}}</textarea>

        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></div>
      </div>
    </div>
  </div>
{{/instance}}
</form>
{{!/div}}