{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#if_equals notes ''}}
  <a class="note-trigger" href='javascript://'>
    + Abstract
  </a>
{{else}}
  <div class="note-content">
    <a class="edit-notes" href='javascript://' rel='tooltip' title='Edit Abstract'>
      <i class="grcicon-edit"></i>
    </a>
    <strong>Abstract</strong>
    <div class="rtf">
      {{{with_line_breaks notes}}}
    </div>
  </div>
{{/if_equals}}
