{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div>
  <span class="title">
	  {{title}}
	</span>
	<span class="code">
	  {{prefix}} {{slug}}
	</span>
  <div class="rtf">
    {{{with_line_breaks description}}}
  </div>
</div>
<div class="item-content in">
  <ul class="tree-structure" id="children_{{slug}}">
  	{{#children}}
  	<li id="content_{{slug}}">
  		{{> /static/mustache/sections/show_selected_children.mustache}}
  	</li>
  	{{/children}}
  </ul>
</div>
