<!--
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
-->

<div class="content">
  <ul class="tree-structure sectiontree">
    <li id="content_">
      <ul class="tree-structure " id="children_">
	      {{#model}}
          <li id="content_{{slug}}">
            {{> /static/mustache/sections/show_selected_children.mustache}}
          </li>
        {{/model}}
        {{^model}}
  	      Nothing selected
        {{/model}}
      </ul>
    </li>
  </ul>
</div>
