{{#list}}
  <li class="tree-item governance" id="content_{{instance.slug}}" data-id="{{instance.id}}" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.shortName.toLowerCase}}" data-object-meta-type="section" data-model="true">
    <div class="item-main" {{data 'model'}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span9">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-section-color"></i>
                <span class="tree-code">{{instance.slug}}</span>
                {{instance.title}}
              </div>
            </div>
          </div>
          <div class="span1">
            {{^instance.owner}}
              <i class="grcicon-people-warning"></i>
            {{/instance.owner}}
          </div>
          <div class="span1">
            <div class="counter">
              {{#pack list=instance.controls na=na id=id}}
                <i class="grcicon-control-black"></i>
                {{#with list}}
                  {{#if length}} 
                    <span>{{length}}</span>
                  {{else}}
                    <strong class="error">0</strong>
                  {{/if}}
                {{/with}}
              {{/pack}}
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{#pack list=instance.objectives na=na id=id}}
                <i class="grcicon-objective-black"></i>
                {{#with list}}
                  {{#if length}} 
                    <span>{{length}}</span>
                  {{else}}
                    <strong class="error">0</strong>
                  {{/if}}
                {{/with}}
              {{/pack}}
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        <div class="row-fluid">
          <div class="span12">
            <div class="tree-description short">
              {{^instance.description}}
                <p><i>No description</i></p>
              {{/instance.description}}
              {{{instance.description}}}
            </div>
            <a href="javascript://" class="show-long">more</a>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <div class="tree-info">
              <strong>Owner:</strong>
              {{^instance.owner}}
                <span class="error">
                  Not Assigned
                </span>
              {{/instance.owner}}
              {{#if instance.owner}}
                {{instance.owner.name}}
              {{/if}}
            </div>
          </div>
          <div class="span4">
            {{#edit_sections}}
              <a href="#" class="info-action pull-right" rel="tooltip" title="Edit Section" data-placement="left">
                <i class="grcicon-edit"></i>
                Edit
              </a>
            {{/edit_sections}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <div class="tree-info">
              <strong>URL:</strong>
              {{^if_null instance.url}}
                <a class="url" href="{{instance.url}}">
                  {{instance.url}}
                </a>
              {{/if_null}}
              {{#if_null instance.url}}
                <i>No URL</i>
              {{/if_null}}
            </div>
          </div>
        </div>
      </div>

      {{#if draw_children}}
        {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            {{#child_options}}
              <h6>{{model.title_plural}} ({{list.length}})</h6>
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/if_null}}
      {{/if}}

    </div>
  </li>
{{/list}}

<li class="tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">
      <a href="javascript://" class="section-add">
        + Section
      </a>
      <a href="javascript://" class="section-create">
        <i class="grcicon-add-black"></i>
        Create Section
      </a>
      &nbsp;
      &nbsp;
      <a href="javascript://" class="section-import">
        <i class="grcicon-imp-exp"></i>
        Import Sections
      </a>
    </div>
  </div>
</li>