{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<collapsible-panel-header {(expanded)}="expanded" title-text="titleText" title-icon="titleIcon"></collapsible-panel-header>
<collapsible-panel-body {expanded}="expanded" {soft-mode}="softMode" class="{{extraCssClass}} collapsible-panel-body">
      <content></content>
</collapsible-panel-body>
