{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: samo@reciprocitylabs.com
    Maintained By: samo@reciprocitylabs.com
}}

<div class="row-fluid">
  <div data-id="folder_hidden" class="span6 hidable">
    <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="13"></ggrc-gdrive-folder-picker>
  </div>
</div>