<div class="row-fluid">
  <div class="span12">

    <h6>gDrive Evidence Folder</h6>
    
    {{#with_mapping 'folders' instance}}
      <p>
      {{#if folders.0.instance.selfLink}}
        
        <a href="{{folders.0.instance.alternateLink}}" target="_blank">
          /{{#using program=instance.program}}{{#with_mapping 'folders' program}}{{folders.0.instance.title}}{{/with_mapping}}{{/using}}/{{folders.0.instance.title}}
        </a>
        
      {{else}}

        No evidence folder for this {{instance.class.title_singular}}.

        {{#using program=instance.program}}

          {{#is_allowed 'create' 'ObjectFolder' context=instance.context}}
            <a href="javascript://" class="create-folder" {{#instance}}{{data 'model'}}{{/instance}}>
              Create one now
            </a>
          {{/is_allowed}}
        
        {{/using}}

      {{/if}}
      </p>
    {{else}}

      {{! This is a failure state for with_mapping, if something in the mapping doesn't refresh properly }}
      <section class="inline-warning">
        <h6>The gDrive folder for this {{instance.class.title_singular}} could not be accessed.</h6>
        {{{render '/static/mustache/gdrive/gapi_errors.mustache' type="folder" instance=instance}}}
      </section>


    {{/with_mapping}}

  </div>
</div>
