-extends 'layouts/_widget_box.haml'
-set model = instance.__class__

-block widget_title
  Info

-block widget_help
  =model._inflector.table_singular + "_info"

-block widget_id
  =model._inflector.table_singular + "_info_widget"
