-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-extends 'layouts/_widget_box.haml'

-if not model
  -set model = controller.model

-block widget_id
  =model._inflector.table_singular + "_widget"

-block widget_help
  =model._inflector.table_singular + "_widget_help"

-block widget_title
  %i{ 'class': 'grcicon-={ model._inflector.table_singular }-color' }
  =model._inflector.title_singular

-block main
  %ul.tree-structure.new-tree
