-# Copyright (C) 2017 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-set user_role = current_user.system_wide_role.lower()

.header-content
  -if user_role != 'no access'
    %button{ 'class': 'lhn-trigger lhn-no-init pull-left', 'href': 'javascript://'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  %h2.logo-wrap{ 'class': '={ logo_wrap_class }' }
    %a{ 'class': 'to-my-work', 'href': '/dashboard' }
      -set logo_url = config.get("COMPANY_LOGO")
      -if logo_url
        %img{ "src" : "#{logo_url}", 'alt' : 'GRC', 'title' : 'GRC'}

  %h1.entities
    -if request.path.startswith('/admin')
      Admin Dashboard

  %ul.menu
    %li
      %a{ 'href': 'javascript://', 'class': 'btn btn-small btn-lightBlue search', 'data-toggle': 'unified-search', 'data-join-object-type': 'MultitypeSearch', 'data-original-title': 'search items' }
        %i.fa.fa-search
        %span
          Global Search
    %li
      %a{ 'href': "/dashboard#!task_widget" }
        %span
          My Tasks
          %span.task-count
    %li
      %a{ 'href': '/assessments_view' }
        %span
          My Assessments
    %li
      %a{ 'href': '/objectBrowser#!regulation_widget' }
        %span
          All Objects
    %li
      %a{ 'href': '/import', 'target': '_blank' }
        %span
          Import

    %li.user.dropdown
      %a.dropdown-toggle{ 'href': "#", 'data-toggle': "dropdown", 'role': "button" }
        %i.fa.fa-user
        %i.fa.fa-caret-down
      %ul.dropdown-menu{'aria-labelledby': 'drop1', 'role': "menu"}
        %li{'class': 'user-email'}
          %span
            =current_user.email

        -if user_role == 'administrator' or user_role == 'superuser'
          %li
            %a{ 'href': '/admin#!people_list_widget', 'class': 'admin-btn' }
              %i.fa.fa-tachometer
              %span
                Administration

        %li
          %a{ 'href': '/export', 'class': 'export-btn', 'target': '_blank' }
            %i.fa.fa-sign-out
            %span
              Export

        -if self.page_help
          %li
          %a#page-help{ 'href': "javascript://", 'data-toggle': 'modal-ajax-helpform', 'data-help-slug' : '{{ self.page_help()|trim }}'}
            %i.fa.fa-question-circle
              %span
                Help

        %li.notify-wrap
          %span
            %i.fa.fa-clock-o
            Notifications
          %div.inner-list
            %label
              %input{
                'type': 'checkbox',
                'name': 'notifications',
                'value': 'Email_Digest'
              }
              Daily email digest
        %li
          %a{'href': '={ url_for("logout") }', 'tabindex': "-1"}
            %i.fa.fa-power-off
            Logout
