-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By:
-# Maintained By:

-extends "layouts/dashboard.haml"

-set model = controller.model
-set model_title = model._inflector.title_singular
-set model_name = model._inflector.table_singular
-set model_display_class = model|display_class

-block title
  =instance.title

-block page_help scoped
  =model_name

-block extra_javascript
  GGRC.page_object = ={ instance_json()|safe };

-block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "#{model_title}", 'class': "={ model_display_class }" }
      -if model_title == "Org Group"
        %i.grcicon-orggroup
      -elif model_title == "Market"
        %i.grcicon-market
      -elif model_title == "Risk"
        %i.grcicon-risk
      -elif model_title == "Control"
        %i.grcicon-control
      -elif model_title == "Risky Attribute"
        %i.grcicon-riskyattribute
      -elif model_title == "Facility"
        %i.grcicon-facility
      -elif model_title == "Product"
        %i.grcicon-product
      -elif model_title == "Project"
        %i.grcicon-project
      -elif model_title == "Data Asset"
        %i.grcicon-dataasset
      -else
        &nbsp;
    =instance.title

-block subheader_extras
  %ul.actions.pull-right
    %li
      %a{ 'href': "javascript://", 'data-toggle': 'modal-ajax-form', 'data-object-plural': '={model._inflector.table_plural}', 'data-object-singular': '={model._inflector.model_singular}', 'data-modal-reset': 'reset', 'data-form-target': 'refresh', 'data-modal-class': 'modal-wide', 'title': "Edit #{model_title}", 'data-object-id': 'page' }
        %i.grcicon-edit
        %span Edit #{model_title}

-block subheader_plus
  %a.navbarplus.fltrt{ 'href': "url-for-new-#{model_name}", 'data-toggle': 'modal-ajax-form', 'data-modal-reset': 'reset', 'data-form-target': 'redirect', 'data-modal-class': 'modal-wide'}

-block main
  .clearfix
    .inner-nav
      %ul.nav{ 'class': "internav ={ model_display_class }", 'data-spy': 'affix', 'data-offset-top': '1' }

    .object-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -with widget_class = model_display_class
            -include 'base_objects/_info.haml'
            -include 'base_objects/_main.haml'
          -with widget_class = 'risk'
            -include 'base_objects/_risks.haml'
          -if related_objects(instance)
            -with widget_class = 'widget-tabs widget-tabs-horizontal related ' + model_display_class
              -include 'shared/_related.haml'
          -with widget_class = model_display_class
            -include 'base_objects/_more_info.haml'
          -include 'shared/_add_widget_section.haml'
