-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-set model = controller.model
-set model_title = model._inflector.title_singular
-set model_name = model._inflector.table_singular
-set model_display_class = model|display_class

-block title
  =instance.title

-block extra_javascript
  =super()
  GGRC.page_object = ={ instance_json()|safe };

-block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "#{model_title}", 'class': "={ model_display_class }" }
      -if model_title == "Org Group"
        %i.grcicon-orggroup
      -elif model_title == "Market"
        %i.grcicon-market
      -elif model_title == "Objective"
        %i.grcicon-objective
      -elif model_title == "Risk"
        %i.grcicon-risk
      -elif model_title == "Control"
        %i.grcicon-control
      -elif model_title == "Risky Attribute"
        %i.grcicon-riskyattribute
      -elif model_title == "Facility"
        %i.grcicon-facility
      -elif model_title == "Product"
        %i.grcicon-product
      -elif model_title == "Project"
        %i.grcicon-project
      -elif model_title == "Data Asset"
        %i.grcicon-dataasset
      -elif model_title == "System"
        %i.grcicon-system
      -elif model_title == "Process"
        %i.grcicon-process
      -elif model_title == "Contract"
        %i.grcicon-contract
      -elif model_title == "Policy"
        %i.grcicon-policy
      -elif model_title == "Regulation"
        %i.grcicon-regulation
      -elif model_title == "Standard"
        %i.grcicon-standard
      -else
        &nbsp;
    =instance.title

-block widget_area
