-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

-from "shared/_tooltip_macros.haml" import program_popover_title, new_popover_content

.popover-title
  =program_popover_title(instance)

.popover-content
  =new_popover_content(instance)