{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="ggrc-form create-proposal">
  <div class="ggrc-form-item">
    <div class="ggrc-form-item__row">
      <label class="ggrc-form-item__label">
        Comment
      </label>
      <rich-text
          hidden-toolbar="true"
          placeholder="Enter Proposal Agenda"
          {(text)}="proposalAgenda">
      </rich-text>
    </div>
  </div>

  <div class="create-proposal__save-button">
    <a class="btn
      btn-small
      btn-green
      preventdoubleclick
      {{disable_if_errors instance}}
      {{#if loading}}disabled{{/if}}"
      ($click)="create(%element, %event)">
        Propose
    </a>
  </div>
</div>
