{{!
  Copyright (C) 2018 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<h4>Import History</h4>

{{#history}}
  <div class="flex-box flex-col import-history__item">
    <span class="import-history__date">{{localize_datetime created_at}}</span>
    <div class="flex-box import-history__title">
      <span>{{title}}</span>

      <i class="fa fa-download" ($click)="download(id, title)"></i>
      <i class="fa fa-trash-o" ($click)="remove(id)"></i>
    </div>
  </div>
{{/history}}
