{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="filter-actions">
  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-small btn-info pull-right advancedSearchButton" href="javascript://" id="advancedSearchButton">
        Search
      </a>
    </div>
  </div>
</div>
