<h6>Filter by person</h6>
<div class="modal-search objective-selector">
  <input
    id="search-by-owner"
    class="search-by-owner input-block-level"
    placeholder="Find owner or contact"
    type="text"
    name="owner"
    value="{{firstnonempty owner.name owner.email owner.title}}"
    data-lookup="Person"
   
    data-template="/people/autocomplete_result.mustache"
    null-if-empty="null-if-empty"
    {{ autocomplete_select }}
  >
</div>
