<div class="relevance-filters">
  <div class="row-fluid">
    <div class="span12">
      <h6>Filter by mapping relevance</h6>
      {{#each filter_list}}
      <div class="single-line-filter">
        <button type="submit" data-index="{{@index}}" class="remove_filter">
          <i class="grcicon-deleted"></i>
        </button>
        <label>
          {{#if @index}}AND {{/if}}Relevant to:
        </label>
        <select class="input-small filter-type-selector select-filter{{@index}}" can-value="model_name">
          {{#option_type_menu_2}}
          <option
            value="{{model_singular}}"
            label="{{title_singular}}">
          </option>
          {{/option_type_menu_2}}
        </select>
        {{#model_name}}
        <div class="modal-search objective-selector">
          <input
            id="search-filter{{@index}}"
            class="input-large search-icon search-filter{{@index}}"
            placeholder="Enter text to search for {{model_name}}"
            type="text"
            name="filter_list.{{@index}}.search_filter"
            value="{{firstnonempty search_filter.name search_filter.email search_filter.title}}"
            data-lookup="{{this}}"
            data-template="/{{#if_equals model_name 'Person'}}people{{else}}base_objects{{/if_equals}}/autocomplete_result.mustache"
            {{ autocomplete_select }}
            >
        </div>
        {{/model_name}}
      </div>
      {{/each}}
      <div class="add-rule">
        <a href="javascript://" id="addFilterRule" class="addFilterRule">+ Add New Rule</a>
      </div>
    </div>
  </div>
</div>
