{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<h6>Matching terms</h6>
<div class="modal-search objective-selector">
  <input
    id="search"
    class="input-block-level"
    placeholder="Enter text to search..."
    can-value="option_search_term"
    type="text"
    autofocus
  >
</div>
