{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="filter-actions">
  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-small btn-info pull-right modalSearchButton" href="javascript://" id="modalSearchButton">
        Search
      </a>
    </div>
  </div>
</div>
