{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#each visibleItems}}
    <content></content>
{{/each}}
{{#if isOverLimit}}
    <div class="flex-box flex-row limit-button-container">
        <button class="btn btn-link" ($click)="toggleShowAll(%event)">{{showAllButtonText}}</button>
    </div>
{{/if}}
