<!--
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-->

<div class="import-section quick-tips">
  <h4>Quick import tips</h4>

  <ol>
    <li>
      The CSV is organized in blocks separated with an empty line, one block for
      one object type:
      <ul>
        <li>
          The first line of a block contains tips on how to fill out the
          columns.
        </li>
        <li>
          The second line of a block contains column names (for example, Title,
          Description and etc.).
        </li>
        <li>
          The third and all the following lines represent one object to import.
        </li>
      </ul>
    </li>
    <li>
      Not all fields are required! You can remove any non-mandatory columns
      (mandatory columns have an asterisk in line 2, for example, “Title*”).
    </li>
    <li>
      You can map objects via import:
      <ul>
        <li>
          Make sure that map column presents in spreadsheet (for example,
          map:control);
        </li>
        <li>
          Type a code of an object that you would like to map to
          into map column.
        </li>
      </ul>
    </li>
    <li>You can unmap objects:
      <ul>
        <li>
          Make sure that unmap column presents in spreadsheet (for example,
          unmap:control);
        </li>
        <li>
          Type a code of an object that you would like to unmap
          into unmap column.
        </li>
      </ul>
    </li>
    <li> You can delete objects:
      <ul>
        <li>
          Make sure that delete column presents in spreadsheet;
        </li>
        <li>
          Type ‘yes’ in delete column to delete the object.
        </li>
      </ul>
    </li>
    <li>
      If objects already exist, fields you leave empty will be ignored.
      (Object's attributes will not be replaced with empty info)
    </li>
    <li>
      If you leave ‘Code’ column empty, the application will create a new object
      with autogenerated code. If you set ‘Code’ column to a value already
      present
      in the database, the application will update the existing object.
    </li>
  </ol>
</div>
