{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="rich-text__wrapper {{toolbarClasses}}">
  <div class="rich-text__content"></div>
  <div class="rich-text__toolbar">
    <span class="ql-formats">
      <button type="button" class="ql-bold"></button>
      <button type="button" class="ql-italic"></button>
      <button type="button" class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <button type="button" class="ql-link"></button>
    </span>
    <span class="ql-formats">
      <button type="button" class="ql-list" value="ordered"></button>
      <button type="button" class="ql-list" value="bullet"></button>
    </span>
  </div>
</div>
