
<ul class="info-list">
  <li class="float-element">
    <label>
      Code
    </label>
    <span>
      <strong>{{slug}}</strong>
    </span>
  </li>
  <li class="float-element">
    <label>
      Title
    </label>
    <span>
      <strong>{{title}}</strong>
    </span>
  </li>
  {{#if type}}
  <li class="float-element">
    <label>
      Type
    </label>
    <span>
      <strong>{{type.title}}</strong>
    </span>
  </li>
  {{/if}}
  <li>
    <label>
      Description
    </label>
    <div class="rtf">{{{firstnonempty description '<h2>No description</h2>'}}}</div>
  </li>
  <li class="float-element">
    <label>
      Direct link
    </label>
    <span>
      <a href="{{url}}" class="inner-element" target="_blank">{{url}}</a>
    </span>
  </li>
</ul>
<section class="footer">
  <div class="row-fluid">
    <div class="span6">
      <p class="footer-left">
        Created: {{created_at}}
      </p>
    </div>
  </div>
</section>