-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-set cell = result[col_name]
-set cell_handler = cell.__class__.__name__
-set cell_handler_ancestors = cell.ancestor_names
-set td_class = ''
-if not cell
  -set td_class = ''
-elif cell.has_errors()
  -set td_class = 'member-failure'
-elif cell.has_warnings()
  -set td_class = 'member-warning'
-else
  -set td_class = ''

%td{ 'class': "{{td_class}}" }


  -if cell_handler == "LinkDocumentsHandler"
    -set first = True
    -for all_details in cell.links_with_details()
      -set status = all_details[0]
      -set document = all_details[1]
      -set value = all_details[2]
      -set errors = all_details[3]
      -set warnings = all_details[4]

      -if first
        -set first = False
      -else
        %hr

      -if status == "created"
        %span
          Will Map:
        %a{href:'{{document.link}}',rel:"tooltip",title:'{{document.link}}'}
          ={document.title or document.link}
      -elif status == "existing"
        %a{href:'{{document.link}}',rel:"tooltip",title:'{{document.link}}'}
          ={document.title or document.link}
      -else
        ={value}

      .help-inline 
        ={", ".join(errors)}
      .help-inline-warning 
        ={", ".join(warnings)}

  -elif "LinksHandler" in cell_handler_ancestors
    -set first = True
    -for all_details in cell.links_with_details()
      -set status = all_details[0]
      -set object = all_details[1]
      -set value = all_details[2]
      -set errors = all_details[3]
      -set warnings = all_details[4]

      -if first
        -set first = False
      -else
        %hr

      -if status == "created"
        %span
          Will Map:
        ={cell.display_link(object)} 
      -elif status == "existing"
        ={cell.display_link(object)}
      -else
        ={value}

      .help-inline 
        ={", ".join(errors)}
      .help-inline-warning 
        ={", ".join(warnings)}
  -elif cell == "TextOrHtmlColumnHandler"
    ={cell.display()}
  -else
    -if cellvalue.__class__.__name__ == "CustomAttributeColumnHandler"
      {{cellvalue.value}}
    -else
      {{cell.display()}}

  -if result.errors_for(col_name)
    .help-inline
      -for message in result.errors_for(col_name)
        ={message}
        %br
  -if result.warnings_for(col_name)
    .help-inline-warning
      -for message in result.warnings_for(col_name)
        ={message}
        %br
