-extends "layouts/_widget_box.haml"

-set section_meta_kind = "clause" if instance.kind == "Contract" else "section"

-block widget_title
  ="{0}s".format(section_meta_kind|title)
  %span=instance.sections.count


-block widget_help
  directive_main

-block widget_id
  directive_main_widget

-block main
  #sections.tab-pane
    %ul.tree-structure.new-tree
