-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-block title
  Import/Export

-block header
  %h1.entities
    %span.title-prev
      %button{ 'class': 'lhn-trigger pull-left', 'href': 'javascript://'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.title-trigger{'href': '/dashboard' }
        %i.grciconlarge-dashboard-new{'rel': 'tooltip', 'data-original-title': 'My Work'}

    %span.title-slide
      %i.grciconlarge-import
      Import {{import_kind}}

  %ul.menu
    %li
      %a{ 'href': 'javascript://', 'data-toggle': 'multitype-search-modal-selector', 'data-join-object-type': 'MultitypeSearch', 'data-original-title': 'search items' }
        %i.grcicon-search
        %span
          Search
    %li
      %a#page-help{ 'href': "/dashboard#task_widget" }
        %i.grcicon-task-black
        %span
          My Tasks
          %span.task-count
    %li
      %a.nav-trigger.active{'href': 'javascript://'}
        %i.grcicon-nav-trigger{'rel': 'tooltip', 'data-placement': 'left', 'data-original-title': 'Hide menu'}
        %span
          Hide menu
    %li.user.dropdown
      %a.dropdown-toggle{ 'href': "#", 'data-toggle': "dropdown", 'role': "button" }
        %i.grcicon-user-black
        %span
          =current_user.email
        %i.grcicon-carot
      %ul.dropdown-menu{'aria-labelledby': 'drop1', 'role': "menu"}
        %li
          %a{'href': "/dashboard"}
            %i.grcicon-my-work
            My Work ({{current_user.system_wide_role}})
        -if permissions.is_allowed_read('/admin', 1)
          %li
            %a{'href': "/admin#people_list_widget"}
              %i.grcicon-dashboard-black
              Admin Dashboard
        %li.notify-wrap
          %span
            %i.grcicon-alarm-black
            Notifications
          %div.inner-list
            %label
              %input{
                'type': 'checkbox',
                'name': 'notifications',
                'value': 'Email_Now'
              }
              Real-time email updates
            %label
              %input{
                'type': 'checkbox',
                'name': 'notifications',
                'value': 'Email_Digest'
              }
              Daily email digest
        %li
          %a{'href': '={ url_for("logout") }', 'tabindex': "-1"}
            %i.grcicon-logout-black
            Logout
    %li
      %a#page-help{ 'href': "javascript://", 'data-toggle': 'modal-ajax-helpform', 'data-help-slug' : '{{ self.page_help()|trim }}'}
        %i.grcicon-help-black
        %span
          Help

-block main
  .clearfix
    .object-area.import-area
      .column-set
        .row-fluid
          .span12.full-width
            .widget-area.inner-content
              -include 'directives/_import.haml'
