-set width_pcts = [10, 20, 25, 25, 30]
-set column_names = ["slug", "title", "description", "notes", "controls"]
-set header_overrides = {}
-set all_errors = converter.errors
-set all_warnings = converter.warnings

.row-fluid
  .span6
    %h4 Compliance Program
    .row-fluid
      .span10.control-group
        %label{for:"slug"} Regulation / Contract / Policy
        %input#slug.span12{disabled:"disabled",value:"{{converter.import_slug}}",type:"text"}/
        %br/

      .span2
        %label{for:"version"} Version
        %input#version.span12{disabled:"disabled",value:"",type:"text"}
.row-fluid
    #sampleData.span12
      -if all_errors
        -for i in all_errors
          %p.label-error
            =all_errors[loop.index0]
      %br
      -if all_warnings|length > 0
        -for i in all_warnings
          %p.label-warning
            =all_warnings[loop.index0]

      %h4 Data to Import
      -include "directives/_import_table.haml"
.row-fluid
    .span8
    .span1
      %input{"value":"Cancel","class":'btn btn-large',"type":'submit', 'name': "cancel"}
    .span3
      -if all_errors
        %input{"value":"Correct Errors Before Proceeding","class":'btn btn-large btn-danger pull-right',"type":'submit','name':'confirm',"disabled":True}
      -elif all_warnings
        %input{"value":"Proceed with Caution","class":'btn btn-large btn-warning pull-right',"type":'submit','name':'confirm'}
      -else
        %input{"value":"Finish Importing","class":'btn btn-large btn-success pull-right',"type":'submit','name':'confirm'}
%br
