-extends "base_objects/show.haml"

-block page_help scoped
  =instance.kind|underscore

-block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "#{model_title}", 'class': "={ model_display_class }" }
      -if instance.kind_singular == "Contract"
        %i.grcicon-contract
      -elif instance.kind_singular == "Policy"
        %i.grcicon-policy
      -elif instance.kind_singular == "Regulation"
        %i.grcicon-regulation
      -else
        &nbsp;
    =instance.title

-block subheader_extras
  %ul.actions.pull-right
    %li
      %a{ 'href': 'javascript://', 'data-toggle': 'modal-ajax-form', 'data-modal-reset': 'reset', 'data-form-target': 'refresh', 'data-modal-class': 'modal-wide', 'data-object-singular': '={instance.kind_singular}', 'data-object-plural': '={instance.kind_plural}', 'data-object-id': 'page' }
        %i.grcicon-edit
        %span Edit ={instance.kind_singular}

    %li.btn-group
      %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown'}
        %i.grcicon-imp-exp
        %span Import/Export
        %span.caret

      %ul.dropdown-menu
        %li.divider
        %li
          %a{ 'href': "/directives/={instance.id}/import_sections" }
            Import Sections

-block main
  .clearfix
    .inner-nav
      %ul.nav{ 'class': "internav ={ model_display_class }", 'data-spy': 'affix', 'data-offset-top': '1' }

    .object-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -with widget_class = 'governance'
            -include "directives/_main.haml"
          -if related_objects(instance)
            -with widget_class = 'widget-tabs widget-tabs-horizontal related governance'
              -include 'shared/_related.haml'
          -with widget_class = 'governance'
            -include 'base_objects/_info.haml'
          -with widget_class = 'governance'
            -include 'base_objects/_more_info.haml'
          -include 'shared/_add_widget_section.haml'
