-extends "base_objects/show.haml"

-block page_help scoped
  =instance.kind|underscore

-block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "#{model_title}", 'class': "={ model_display_class }" }
      -if instance.kind_singular == "Contract"
        %i.grcicon-contract
      -elif instance.kind_singular == "Policy"
        %i.grcicon-policy
      -elif instance.kind_singular == "Regulation"
        %i.grcicon-regulation
      -else
        &nbsp;
    =instance.title

-block main
  .clearfix
    .inner-nav
      %ul.nav{ 'class': "internav ={ model_display_class }", 'data-spy': 'affix', 'data-offset-top': '1' }

    .object-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -with widget_class = 'governance'
            -include 'base_objects/_info.haml'
          -with widget_class = 'governance'
            -include "directives/_main.haml"
          -with widget_class = 'governance'
            -include 'base_objects/_more_info.haml'
          -include 'shared/_add_widget_section.haml'
