-extends "base_objects/show.haml"

-block widget_area
  -with widget_class = 'governance'
    -include 'base_objects/_info.haml'
  -with widget_class = 'governance'
    -include "directives/_main.haml"
    -include "directives/_controls.haml"
  -with widget_class = 'related governance'
    -include 'base_objects/_more_info.haml'
