{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#is_allowed 'create' 'Issue' context=relatedInstance.context}}
    <a class="btn btn-small btn-red"
       href="javascript://"
       data-toggle="modal-ajax-form"
       data-modal-class="modal-wide"
       data-object-singular="Issue"
       data-object-plural="issues"
       data-object-params='{{prepareJSON}}'>
        Raise Issue
    </a>
{{/is_allowed}}
