-# Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-block title
  Admin Dashboard with risks

-block extra_javascript
  =super()

-block header
  %h1.dashboard-title
    %i.fa.fa-tachometer
    Admin Dashboard with risks

-block subheader_extras
  %ul.actions.pull-right
    %li.btn-group
      %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown' }
        %i.fa.fa-arrow-circle-o-down
        %span Import/Export
        %span.caret
      %ul.dropdown-menu
        %li.title
          Risks
        %li
          %a{ 'href': "/risks/import" }
            %i.fa.fa-risk.color
            %span Import Risks
        %li
          %a.export-link{ 'href': "/admin/export/risk" }
            %i.fa.fa-risk.color
            %span Export Risks
        %li.divider
        %li.title
          Systems
        %li
          %a{ 'href': "/systems/import" }
            %i.fa.fa-system.color
            %span Import Systems
        %li
          %a.export-link{ 'href': "/admin/export/system" }
            %i.fa.fa-system.color
            %span Export Systems
        %li.divider
        %li.title
          Processes
        %li
          %a{ 'href': "/processes/import" }
            %i.fa.fa-process.color
            %span Import Processes
        %li
          %a.export-link{ 'href': "/admin/export/process" }
            %i.fa.fa-process.color
            %span Export Processes
        %li.divider
        %li.title
          People
        %li
          %a{ 'href': "/admin/import/people" }
            %i.fa.fa-person
            %span Import People
        %li
          %a.export-link{ 'href': "/admin/export/people" }
            %i.fa.fa-person
            %span Export People

        %li.divider
        %li.title
          Help
        %li
          %a{ 'href': "/admin/import/help" }
            %i.fa.fa-question-circle
            %span Import Help
        %li
          %a.export-link{ 'href': "/admin/export/help" }
            %i.fa.fa-question-circle
            %span Export Help

        -#%li.title
          risks
        -#%li
          %a{ 'href': "/risks/import" }
            %i.fa.fa-risk.color
            %span import risks
        -#%li
          %a{ "data-toggle": "modal-ajax", 'href': "/risks/export.html" }
            %i.fa.fa-risk.color
            %span export risks

-block widget_area
-#FIXME: not rendering widgets for some reason
