{{!
  Copyright (C) 2018 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{^if isLoaded}}
  <spinner {toggle}="true"></spinner>
{{else}}
  {{^if mappingExists}}
    {{#if hasPermissions}}
      <a href="javascript://" class="non-transparent {{#if isLinkDisabled}}disabled{{/if}}" data-toggle="modal-ajax-approvalform" data-object-singular="{{instance.class.model_singular}}" data-object-id="{{instance.id}}">
        <i class="fa fa-check-square-o gray"></i>
        Submit For Review
      </a>
    {{else}}
      <i>No review in progress</i>
    {{/if}}
  {{else}}
    <i class="fa fa-check-square-o gray"></i>
    <span class="setup-link">
      Review in progress
      {{#current_cycle_assignee instance}}
        by <person-data class="inline-block" {person}="person"></person-data>
      {{/current_cycle_assignee}}
    </span>
  {{/if}}
{{/if}}
