{{!div class="extended"}}
{{#instance}}
  <div class="row-fluid">
    <div class="span12">
      <a class="main-title {{constructor.category}} oneline" href="{{viewLink}}">
        {{title}}
        <i class="grcicon-goto"></i>
      </a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="info">
        <strong>Status: </strong>
        {{status}}
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="rtf">
        <p>
          {{{firstnonempty description '<i>No description</i>'}}}
        </p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7">
      <div class="info">
        <strong>Planned Start date: </strong>
        {{#if instance.start_date}}
          {{localize_date instance.start_date}}
        {{else}}
          Not set
        {{/if}}
        <br>
        <strong>Planned End date: </strong>
        {{#if instance.end_date}}
          {{localize_date instance.end_date}}
        {{else}}
          Not set
        {{/if}}
        <br>
        <strong>Planned Report period: </strong>
        {{#if instance.report_start_date}}
          {{#if instance.report_end_date}}
            {{localize_date instance.report_start_date}}-{{localize_date instance.report_end_date}}
          {{else}}
            Starts {{localize_date instance.report_start_date}}
          {{/if}}
        {{else}}
          {{#if instance.report_end_date}}
            Ends {{localize_date instance.report_end_date}}
          {{else}}
            Not set
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="span5">
      <div class="info">
        <strong>Audit Firm: </strong>
        {{{firstnonempty instance.audit_firm 'None'}}}
        <br>
        <strong>Audit Lead: </strong>
        {{#if instance.contact}}
          {{#using contact=instance.contact}}
          {{contact.name}}
          {{/using}}
        {{else}}
          None
        {{/if}}
      </div>
    </div>
  </div>
  <div class="links">
    <div class="row-fluid">
      <div class="span12">
        <a class="secondary oneline" href="{{viewLink}}">
          View {{title}}
        </a>
      </div>
    </div>
  </div>
{{/instance}}
{{!/div}}
