{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
  <div class="row-fluid">
    <div class="span12">
      <a class="main-title {{instance.class.category}} oneline" href="{{viewLink}}">
        {{instance.title}}
      </a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span9">
      <h6>Description</h6>
      <div class="rtf">
        {{{firstnonempty description '<span class="empty-message">None</span>'}}}
      </div>
    </div>
    <div class="span3">
      <h6>Status</h6>
      <p>
        {{status}}
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h6>Audit Lead</h6>
      <p class="oneline">
        <person-info empty-text="Not assigned" person-obj="instance.contact"></person-info>
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h6>Start date</h6>
      <p>
        {{#if instance.start_date}}
          {{localize_date instance.start_date}}
        {{else}}
          Not set
        {{/if}}
      </p>
    </div>
    <div class="span3">
      <h6>End date</h6>
      <p>
        {{#if instance.end_date}}
          {{localize_date instance.end_date}}
        {{else}}
          Not set
        {{/if}}
      </p>
    </div>
    <div class="span6">
      <h6>Report period</h6>
      <p>
        {{#if instance.report_start_date}}
          {{#if instance.report_end_date}}
            {{localize_date instance.report_start_date}}-{{localize_date instance.report_end_date}}
          {{else}}
            Starts {{localize_date instance.report_start_date}}
          {{/if}}
        {{else}}
          {{#if instance.report_end_date}}
            Ends {{localize_date instance.report_end_date}}
          {{else}}
            Not set
          {{/if}}
        {{/if}}
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h6>Auditor</h6>
      <p class="oneline">
        {{#with_mapping 'authorizations' instance}}
          {{#with_auditors instance decoy=authorizations}}
            <ul class="inner-count-list">
              {{#each authorizations}}
                <li>
                  {{#using auditor=auditors.0.person}}
                    <person-info empty-text="Not assigned" person-obj="instance.person"></person-info>
                  {{/using}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            <span class="empty-message">Not assigned</span>
          {{/with_auditors}}
        {{/with_mapping}}
      </p>
    </div>
    <div class="span6">
      <h6>Audit firm</h6>
      <p>
        {{#using firm=instance.audit_firm}}
          {{{firstnonempty firm.title 'None'}}}
        {{/using}}
      </p>
    </div>
  </div>

  <div class="links">
    <div class="row-fluid">
      <div class="span6">
        <a class="secondary" href="{{viewLink}}">
          View {{class.title_singular}}
        </a>
      </div>
    </div>
  </div>
{{/instance}}
