{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="hideable-holder">
  {{#instance}}
  <form action="javascript://">
    {{> /static/mustache/base_objects/form_restore.mustache}}

    {{#if new_object_form}}
    {{^if object_params.program}}
      <div class="row-fluid">
        <div class="span6  {{#instance.computed_errors.program}}field-failure{{/instance.computed_errors.program}}">
          <div class="spacing-bottom">
            <label>
              Program
            <span class="required">*</span>
            </label>
            <input data-id="program_dd" type="text" class="input-block-level" name="program.id" tabindex="1" data-permission-type="update" {{autocomplete_select}} data-lookup="Program" autofocus/>
          </div>
          {{#instance.computed_errors.program}}
            <label class="help-inline warning">
                {{this}}
            </label>
          {{/instance.computed_errors.program}}
        </div>
      </div>
    {{/if}}
    {{/if}}
    <div class="row-fluid">
      <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
        <label>
          Title
          <span class="required">*</span>
          <i class="fa fa-question-circle" rel="tooltip" title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."></i>
        </label>
        {{#if new_object_form}}
          <input data-id="title_txtbx" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" tabindex="2" autofocus {{default_audit_title instance}}>
        {{else}}
          <input data-id="title_2_txtbx" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" tabindex="2" autofocus>
        {{/if}}
        {{#instance.computed_errors.title}}
          <label class="help-inline warning">
              {{this}}
          </label>
        {{/instance.computed_errors.title}}
      </div>
      <div data-id="status_hidden" class="span3 hidable">
        <label>
          State
          <a data-id="hide_status_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <div tabindex="4">
            <dropdown options-list="model.statuses"
                      name="instance.status"
                      tabindex="23">
            </dropdown>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 hide-wrap hidable">
        <access-control-list-roles-helper
          {instance}="."
          {is-new-instance}="new_object_form">
        </access-control-list-roles-helper>
      </div>
    </div>
    <div>
      <div class="row-fluid">
        <div data-id="description_hidden" class="span6 hidable">
          <label>
            Description
            <i class="fa fa-question-circle" rel="tooltip" title="Describe reason and purpose of the Audit."></i>
            <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
          </label>
          <div class="wysiwyg-area">
            <textarea id="audit_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="10">{{{description}}}</textarea>
          </div>
        </div>
        <div class="span6 hide-wrap hidable">
          <div class="row-fluid inner-hide">
            <div data-id="audit_firm_hidden" class="span12 hidable">
              <label>
                Audit Firm
                <a data-id="hide_audit_firm_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
              </label>
              <div class="objective-selector {{#instance.computed_errors.audit_firm}}field-failure{{/instance.computed_errors.audit_firm}}">
                {{#using firm=instance.audit_firm}}
                <input data-id="audit_firm_txtbx" tabindex="12" type="text" name="audit_firm.email" data-lookup="OrgGroup" class="span8 search-icon" placeholder="Enter text to search for Audit Firm" value="{{firstnonempty firm.title ''}}">
                {{/using}}
                {{#instance.computed_errors.audit_firm}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.audit_firm}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div data-id="planned_start_date_hidden" class="span3 hidable">
        <a data-id="hide_effective_date_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        <datepicker
          label="Planned Start Date"
          date="start_date"
          set-max-date="end_date"
          tabindex="20"
          />
      </div>
      <div data-id="planned_end_date_hidden" class="span3 hidable">
        <a data-id="hide_stop_date_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        <datepicker
          label="Planned End Date"
          set-min-date="start_date"
          date="end_date"
          tabindex="21"
          />
        <label>
      </div>
      <div data-id="planned_report_period_from_hidden" class="span6 hidable">
        <label>
          Report Period:
          <a data-id="hide_planned_report_period_from_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <div class="row-fluid">
          <div class="span6">
            <datepicker
              set-max-date="report_end_date"
              date="report_start_date"
              tabindex="22"
              />
          </div>
          <div class="span6">
            <datepicker
              set-min-date="report_start_date"
              date="report_end_date"
              />
        </div>
      </div>
    </div>

    <input data-id="audit_firm_2_txtbx" type="hidden" name="slug" value="{{slug}}">

    {{{render_hooks "Audit.storage_folder_picker"}}}

    <div class="row-fluid">
      <div data-id="code_hidden" class="span4 hidable">
        <label>
          Code
          <i class="fa fa-question-circle" rel="tooltip" title="The GGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
          <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <input data-id="code_txtbx" tabindex="8" class="input-block-level" name="slug" placeholder="AUDIT-XXX" type="text" value="{{instance.slug}}">
      </div>
    </div>

    {{#with_current_user_as 'current_user'}}<input type="hidden" name="modified_by_id" value="{{current_user.id}}">{{/with_current_user_as}}

    {{#if instance.can_use_issue_tracker}}
      <div class="expanded-area">
        <div class="expand-link">
          <a class="show-hidden-fields info-show-hide active" href="javascript://">
            <span class="out">
              <i class="fa fa-caret-right"></i>
              SHOW
            </span>
            <span class="in">
              <i class="fa fa-caret-down"></i>
              HIDE
            </span>
            TICKET TRACKER INFO
          </a>
        </div>
        <div class="hidden-fields-area">
          <div class="ggrc-form">
            <issue-tracker-switcher
              {instance}="instance"
              {(is-integration-enabled)}="instance.issue_tracker.enabled">
                <modal-issue-tracker-fields {instance}="instance">
                </modal-issue-tracker-fields>
            </issue-tracker-switcher>
          </div>
        </div>
      </div>
    {{/if }}
  </form>
{{/instance}}
</div>
