{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
  <div class="row-fluid wrap-row">

    <div class="span6">
        <section class="info">
            {{#if requests_any}}
                <div class="info-pane-utility">
                    <add-object-button 
                        instance="instance"
                        linkclass="btn btn-small btn-primary"
                        content="+ Add Request"
                        title="Create Request"
                        singular="Request"
                        plural="requests">
                    </add-object-button>
                </div>
            {{/if}}
            <div class="tier-content">
                <div class="pane-header">
                    {{#instance}}
                        <div class="row-fluid">
                            <div class="span9">
                                <h3>Requests {{#if requests_any}}({{requests_total}}){{/if}}</h3>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <hr>
                            </div>
                        </div>
                    {{/instance}}
                </div>
            </div>
            <div class="row-fluid centered">
                <div class="span12" {{#if requests_none}}style="visibility: hidden; max-height: 0px;"{{/if}}>
                    <div id="piechart_audit_requests_chart" style="min-height: 300px;"></div>
                </div>
                {{#if requests_isLoading}}
                    <div class="span12 centered">
                        <spinner toggle="requests_isLoading"></spinner>
                    </div> 
                {{else}}
                    {{#if requests_any}}
                        <div class="span12" style="margin-left: 0px;">
                            <hr>
                        </div>
                        <div class="span12 centered">
                            <a href="#Request_widget">View all requests &raquo;</a>
                        </div>
                    {{else}}
                        {{#if requests_isLoaded}}
                            <div class="span12">
                                There are no requests at the moment. You can start by creating one here.
                                <br>
                            </div>
                            <div class="span12">
                            </div>
                            <div class="span12">
                                <add-object-button 
                                    instance="instance"
                                    linkclass="btn btn-small btn-primary"
                                    content="+ Add Request"
                                    title="Create Request"
                                    singular="Request"
                                    plural="requests">
                                </add-object-button>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </section>
    </div>

    <div class="span6">
        <section class="info">
            {{#if assessments_any}}
                <div class="info-pane-utility">
                    <add-object-button 
                        instance="instance"
                        linkclass="btn btn-small btn-draft"
                        content="+ Add assessment"
                        title="Create Assessment"
                        singular="Assessment"
                        plural="assessments">
                    </add-object-button>
                    <add-object-button 
                        instance="instance"
                        linkclass="btn btn-small btn-primary"
                        content="+ Add Template"
                        title="Define Assessment Template"
                        singular="AssessmentTemplate"
                        plural="assessment_templates">
                    </add-object-button>
                    <assessment-generator-button audit="instance" button='true'></assessment-generator-button>
                </div>
            {{/if}}
            <div class="tier-content">
                <div class="pane-header">
                    {{#instance}}
                        <div class="row-fluid">
                            <div class="span3">
                                <h3 style="max-width: 100%; margin-right: 0px;">Assessments {{#if assessments_any}}({{assessments_total}}){{/if}}</h3>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <hr>
                            </div>
                        </div>
                    {{/instance}}
                </div>
            </div>
            <div class="row-fluid centered">
                <div class="span12" {{#if assessments_none}}style="visibility: hidden; max-height: 0px;"{{/if}}>
                    <div id="piechart_audit_assessments_chart" style="min-height: 300px;"></div>
                </div>
                {{#if assessments_isLoading}}
                    <div class="span12 centered">
                        <spinner toggle="assessments_isLoading"></spinner>
                    </div> 
                {{else}}
                    {{#if assessments_any}}
                        <div class="span12" style="margin-left: 0px;">
                            <hr>
                        </div>
                        <div class="span12 centered">
                            <a href="#assessment_widget">View all assessments &raquo;</a>
                        </div>
                    {{else}}
                        {{#if assessments_isLoaded}}
                            <div class="span12">
                                There are no assessments at the moment. 
                                {{#is_allowed 'create' 'AssessmentTemplate' context=instance.context}}
                                    {{#is_allowed 'create' 'Assessment' context=instance.context}}
                                        Start by 
                                        <add-object-button 
                                            instance="instance"
                                            content="creating an assessment template"
                                            title="Define Assessment Template"
                                            singular="AssessmentTemplate"
                                            plural="assessment_templates">
                                        </add-object-button>
                                        or add an 
                                        <add-object-button 
                                            instance="instance"
                                            content="assessment manually"
                                            title="Create Assessment"
                                            singular="Assessment"
                                            plural="assessments">
                                        </add-object-button>
                                    {{/is_allowed}}
                                {{/is_allowed}}
                            </div>
                            <div class="span12">
                            </div>
                            <div class="span12">
                                <add-object-button 
                                    instance="instance"
                                    linkclass="btn btn-small btn-primary"
                                    content="+ Add Template"
                                    title="Define Assessment Template"
                                    singular="AssessmentTemplate"
                                    plural="assessment_templates">
                                </add-object-button>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </section>
    </div>
  </div>

{{/instance}}