{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


  <div class="row-fluid wrap-row">

    <div class="span12">
        <section class="info audit-summary">
            <div class="info-pane-utility">
                {{^if instance.archived}}
                    <add-object-button
                        instance="instance"
                        linkclass="btn btn-small btn-white"
                        content="Create assessment"
                        text="Create Assessment"
                        singular="Assessment"
                        plural="assessments"
                        noparams="true">
                    </add-object-button>

                    <add-object-button
                        instance="instance"
                        linkclass="btn btn-small btn-darkBlue"
                        content="Create Template"
                        text="Define Assessment Template"
                        singular="AssessmentTemplate"
                        plural="assessment_templates">
                    </add-object-button>
                    <assessment-generator-button audit="instance" button='true'></assessment-generator-button>
                {{/if}}
            </div>

            <div class="tier-content">
                <div class="pane-header">
                    {{#instance}}
                        <div class="row-fluid">
                            <div class="span3 title">
                                <h3>Assessments</h3>
                            </div>
                        </div>
                    {{/instance}}
                </div>
            </div>
            <div class="row-fluid centered piechart">
                <div class="span6 {{#if charts.Assessment.none}}hidden{{/if}}" >
                    <div id="piechart_audit_assessments_chart"></div>
                </div>
                <div class="span6 legend {{#if_helpers '\
                                            ^if' charts.Assessment.isLoaded '\
                                            or #if' charts.Assessment.none}}hidden{{/if_helpers}}">
                  <table id="piechart_audit_assessments_chart-legend" class="piechart-legend">
                    <thead>
                      <tr>
                        <th>
                          State
                        </th>
                        <th>
                          Count
                        </th>
                        <th>
                          Percent
                        </th>
                        <th>
                          Evidence
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each charts.Assessment.legend}}
                        <tr data-row-index="{{rowIndex}}">
                          <td style="color: {{color}}">
                            <i class="fa fa-circle"></i>
                            <a style="color: {{color}}" href="#assessment_widget&amp;state[]={{title}}">
                                {{title}}
                            </a>
                          </td>
                          <td>
                            {{count}}
                          </td>
                          <td>
                            {{percent}} %
                          </td>
                          <td>
                            {{evidence}}
                          </td>
                        </tr>
                      {{/each}}
                    <tbody>
                    <tfoot>
                      <tr>
                        <td>
                          Total
                        </td>
                        <td>
                          {{charts.Assessment.total}}
                        </td>
                        <td>
                        </td>
                        <td>
                          {{charts.Assessment.totalEvidence}}
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                {{#if charts.Assessment.isLoading}}
                    <div class="span12 centered">
                        <spinner toggle="charts.Assessment.isLoading"></spinner>
                    </div>
                {{else}}
                    {{#if charts.Assessment.any}}
                        <div class="span12" style="margin-left: 0;">
                            <hr>
                        </div>
                        <div class="span12 centered">
                            <a href="#assessment_widget">View all assessments &raquo;</a>
                        </div>
                    {{else}}
                        {{#if charts.Assessment.isLoaded}}
                            <div class="span12">
                                There are no assessments at the moment.
                                {{#is_allowed 'create' 'AssessmentTemplate' context=instance.context}}
                                    {{#is_allowed 'create' 'Assessment' context=instance.context}}
                                        Start by
                                        <add-object-button
                                            instance="instance"
                                            content="creating an assessment template"
                                            text="Define Assessment Template"
                                            singular="AssessmentTemplate"
                                            plural="assessment_templates">
                                        </add-object-button>
                                        or add an
                                        <add-object-button
                                            instance="instance"
                                            content="assessment manually"
                                            text="Create Assessment"
                                            singular="Assessment"
                                            plural="assessments">
                                        </add-object-button>
                                    {{/is_allowed}}
                                {{/is_allowed}}
                            </div>
                            <div class="span12">
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </section>
    </div>
  </div>
