{{!tree node mustache}}
<li class="tree-item programs" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.table_singular}}">{{instance.title}}</li>
{{!draw an individual instance here}}
