{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch attr_name}}
  {{#case 'audit_lead'}}
      <tree-field {source}="instance.contact" {field}="'email'"/>
  {{/case}}
  {{#case 'modified_by'}}
      <tree-field {source}="instance.modified_by" {field}="'email'"/>
  {{/case}}
  {{#case 'report_period'}}
    {{#if instance.report_start_date}}
      {{#if instance.report_end_date}}
        {{localize_date instance.report_start_date}} - {{localize_date instance.report_end_date}}
      {{else}}
        Starts {{localize_date instance.report_start_date}}
      {{/if}}
    {{else}}
      {{#if instance.report_end_date}}
        Ends {{localize_date instance.report_end_date}}
      {{/if}}
    {{/if}}
  {{/case}}
  {{#case 'audit_firm'}}
    {{#using firm=instance.audit_firm}}
      {{{firstnonempty firm.title 'None'}}}
    {{/using}}
  {{/case}}
  {{#case 'status'}}
    {{#using status=instance.status}}
      <span class="state-value-dot {{addclass 'state' status}}">
        {{status}}
      </span>
    {{/using}}
  {{/case}}

  {{#default}}
    {{#if_helpers '\
    #if_equals' attr_name 'url' '\
    or #if_equals' attr_name 'reference_url'}}
      <a class="url" href="{{get_url_value attr_name instance}}" target="_blank">
        {{get_default_attr_value attr_name instance}}
      </a>
    {{else}}
      {{get_default_attr_value attr_name instance}}
    {{/if_helpers}}
  {{/default}}
{{/switch}}
