{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita
    Maintained By: sasmita
}}


{{#each options}}
  <li class="tree-item task-item" data-object-type="{{instance.class.table_singular}}"{{#instance}}{{ data 'option' }}{{/instance}} data-id="{{ instance.id }}">
    <div class="item-main">
      <div class="item-wrap">
        <div class="openclose">
          <span class="status-label status-{{to_class instance.status '_'}}"></span>
          <i class="fa fa-caret-right"></i>
        </div>
        <div class="select">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span10">
                <div class="tree-title-area">
                  {{#if instance.name}}{{instance.name}}{{/if}}
                  <span class="url-link">
                    {{#if instance.email}}{{instance.email}}{{/if}}
                  </span>
                  {{#if_equals system_wide_role 'No Access'}}
                    <span class="user-disabled">
                      (Inactive user)
                    </span>
                  {{/if}}
                </div>
              </div>

              <div class="span1">&nbsp;</div>

              <div class="span1">
                <div class="object-check" align="left">
                  {{#if mappings.length}}
                    {{#result_direct_mappings bindings_compute selected_object}}
                      <input type="checkbox" value="{{instance.title}}" checked="checked" disabled="true" class="object-check-single">
                    {{/result_direct_mappings}}
                  {{else}}
                    <input type="checkbox" value="{{instance.title}}" {{#if_equals system_wide_role 'No Access'}}disabled="true"{{/if}} class="object-check-single">
                  {{/if}}
                </div>
              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->

    {{! #if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        {{#find_template 'tier2_content' instance}}
          {{#instance.class.table_singular}}
            {{{renderLive template is_in_selector=true}}}
          {{/instance}}
        {{else}}
          <div class="tier-content">
            <div class="row-fluid wrap-row">
            {{#instance}}
              <h6>Email</h6>
              <span class="person-holder">
                <a href="/people/{{id}}"><span class="person-tooltip-trigger" data-placement="top">
                  {{firstnonempty email}}
                </span></a>
                {{#if_equals system_wide_role 'No Access'}}
                  <span class="user-disabled">
                    (Inactive user)
                  </span>
                {{/if}}
              </span>
            {{/instance}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    {{!/if}}
  </li>
{{/each}}
