{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}
{{^if_equals parent_instance.kind "Backlog"}}
{{#if allow_mapping_or_creating}}
{{#is_allowed_to_map parent_instance model.shortName}}
  <a
    href="javascript://"
    rel="tooltip"
    data-placement="left"
    data-toggle="unified-mapper"
    data-join-mapping="{{mapping}}"
    data-join-option-type="{{model.shortName}}"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="{{parent_instance.class.shortName}}"
    data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty parent_instance.class.title_singular 'Object'}}">
    <i class="fa fa-plus-circle"></i>
  </a>
{{/is_allowed_to_map}}
{{/if}}
{{/if_equals}}
