{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<ul class="entry-list">
  {{#each comments}}
    <li>
      <span class="person-label {{author.type}}"></span>
      <div class="w-status">
        <span class="entry-author">
          {{#author}}
            <a href="javascript://">{{name}}</a>
          {{/author}}
          added a response - {{timestamp}}
        </span>
        {{comment}}
        <ul class="attachment-list">
          {{#attachments}}
            <li>
              <i class="fa fa-file{{#icon}}-{{icon}}{{/icon}}"></i>
              <a href="{{url}}" target="_blank">
                {{name}}
              </a>
            </li>
          {{/attachments}}
        </ul>
      </div>
    </li>
  {{/each}}
</ul>
