{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<h6>Dates</h6>
<div class="side-content">
  <ul class="label-list dates">
    <li class="gray">
      <label>
        {{#if_equals type 'task'}}
          Start date
        {{else}}
          Created on
        {{/if_equals}}
      </label>
      {{created_on}}
    </li>
    <li>
      <span class="file-controls">
        <a href="javascript://"><i class="fa fa-pencil-square-o"></i></a>
      </span>
      <label>
        {{#if_equals type 'task'}}
          End date
        {{else}}
          Due on
        {{/if_equals}}
      </label>
      {{due_on}}
    </li>
  </ul>
</div>
