{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<ul class="mapped-list left-spacing">
  {{#each mapped.issues}}
    <li>
      <span class="file-controls">
        <a href="javascript://"><i class="fa fa-ban"></i></a>
        <a href="javascript://"><i class="fa fa-pencil-square-o"></i></a>
      </span>
      <i class="fa fa-{{icon}}-color"></i>
      <span class="person-holder">
        <a href='{{url}}' target="_blank">
          <span class="person-tooltip-trigger" data-placement="top">
            {{title}}
          </span>
        </a>

        <div class="custom-popover-content">
          <div class="preview-container person-preview">
            <div class="row-fluid">
              <div class="span12">
                <div class="profile-info">
                  <div class="row-fluid wrap-row">
                    <div class="span8">
                      <h6>Title</h6>
                      <h5 class="oneline"><i class="fa fa-{{icon}}-color"></i> {{title}}</h5>
                    </div>
                    <div class="span4">
                      <h6>Status</h6>
                      {{state}}
                    </div>
                  </div>
                  <div class="row-fluid wrap-row">
                    <div class="span12">
                      <h6>Description</h6>
                      {{description}}
                    </div>
                  </div>

                  {{{render '/static/mustache/base_objects/contacts.mustache' instance=instance}}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </li>
  {{/each}}
</ul>
<a href="#" class="btn btn-small btn-danger">Raise an issue</a>
