{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<ul class="entry-list">
  {{#logs}}
    <li>
      <span class="person-label {{author.type}}"></span>
      <div class="w-status">
        {{#data}}
        <span class="entry-author">
          {{#author}}
            <a href="javascript://">{{name}}</a>
          {{/author}}
          {{status}} - {{timestamp}}
        </span>
        <div class="clearfix">
          <div class="third-col">
            <p class="instruction">Field</p>
            {{field}}
          </div>
          <div class="third-col">
            <p class="instruction">Original value</p>
            {{#original}}
              {{text}}
              <ul class="attachment-list">
                {{#files}}
                <li class="oneline">
                  <i class="fa fa-file{{#icon}}-{{icon}}{{/icon}}"></i>
                  {{name}}
                </li>
                {{/files}}
              </ul>
            {{/original}}
          </div>
          <div class="third-col">
            <p class="instruction">New value</p>
            {{#changed}}
              {{#author}}
                {{name}}
              {{/author}}
              {{text}}
              <ul class="attachment-list">
                {{#files}}
                <li class="oneline">
                  <i class="fa fa-file{{#icon}}-{{icon}}{{/icon}}"></i>
                  {{name}}
                </li>
                {{/files}}
              </ul>
            {{/changed}}
          </div>
        </div>
      </div>
      {{/data}}
    </li>
  {{/logs}}
</ul>
