<div class="details-wrap pin">
  <ul class="pin-action">
    <li>
      <a href="javascript://" data-size="min" class="min">
        <i class="fa fa-minus-square-o {{#if_equals active_pin "min" }}active{{/if}}" rel="tooltip" data-placement="left" title="Minimize height"></i>
      </a>
    </li>
    <li>
      <a href="javascript://" data-size="normal" class="normal">
        <i class="fa fa-square-o {{#if_equals active_pin "normal" }}active{{/if}}" rel="tooltip" data-placement="left" title="Default height"></i>
      </a>
    </li>
    <li>
      <a href="javascript://" data-size="max" class="max">
        <i class="fa fa-plus-square-o {{#if_equals active_pin "max" }}active{{/if}}" rel="tooltip" data-placement="left" title="Maximize height"></i>
      </a>
    </li>
    <li>
      <a href="javascript://" data-size="deselect" class="close-pane">
        <i class="fa fa-times black" rel="tooltip" data-placement="left" title="Close info pane"></i>
      </a>
    </li>
  </ul><!-- pin-action end -->
</div><!-- details-wrap pin end -->
