{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<h6>Type</h6>
<div class="side-content">
  <ul class="label-list dates">
    <li>
      <span class="file-controls">
        <a href="javascript://"><i class="fa fa-pencil-square-o"></i></a>
      </span>
      <label>
        Documentation
      </label>
    </li>
    <li>
      <span class="file-controls">
        <a href="javascript://"><i class="fa fa-pencil-square-o"></i></a>
      </span>
      <label>
        Interview
      </label>
    </li>
  </ul>
</div>
