{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="selector-info" style="margin-right:-10%;">
  <h4>
    {{#if_equals new_object_title 'Reference'}}Link{{else}}Map{{/if_equals}} <i class="grcicon-{{related_table_singular}}-color"></i>
    {{new_object_title}} to
    <i class="grcicon-{{table_singular}}-color"></i>
    {{ title }} {{title_singular}}
  </h4>
  {{#if description}}
    <div class="rtf">
      {{{description}}}
    </div>
  {{/if}}
  <div class="owner">
    {{^if link}}
      {{{render '/static/mustache/base_objects/contacts.mustache' instance=this stacked=true}}}
    {{/link}}
  </div>
  <div class="object-url">
    <strong>URL:</strong>
    {{#if url}}
    <a href="{{schemed_url url}}" target="_blank">{{url}}</a>
    {{/if}}
    {{#if link}}
    <a href="{{link}}" target="_blank">{{link}}</a>
    {{/link}}
  </div>
</div>
