{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!<div id='{ id }' class='modal modal-selector fade hide' tabindex='-1'>}}
    <div class="modal-header">
      <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
        <i class="fa fa-times black"></i>
      </a>
      <h2>
        {{#if_equals option_type_count 1}}
          {{#option_type_menu}}{{#items}}
            {{#if_equals model_display 'References'}}
              Link {{model_display}} to {{selected_object.class.title_singular}}
            {{else}}
              Map {{model_display}} to {{selected_object.class.title_singular}}
            {{/if_equals}}
          {{/#items}}{{/option_type_menu}}
        {{else}}
          Map Object {{! modal_title }}
        {{/if_equals}}
      </h2>
    </div>
    <div class="modal-filter">
      <div class="row-fluid">
        <div class="span3">
          &nbsp;
        </div>
        <div class="span6">
          {{#if option_type_menu}}
            {{^if_equals option_type_count 1}}
              <select class="input-block-level option-type-selector">
                {{#option_type_menu}}
                  <optgroup label="{{category}}">
                    {{#items}}
                    <option value="{{model_name}}" label="{{model_display}}" {{#if_equals model_name selected_option_type}}selected="selected"{{/if_equals}}></option>
                    {{/items}}
                  </optgroup>
                {{/option_type_menu}}
              </select>
            {{/if_equals}}
          {{/if}}
        </div>
        <div class="span3">
          &nbsp;
          {{#selected_option_type}}
          <div class="pull-right">
            {{#is_allowed 'create' related_model_singular context='any'}}
            {{#if_equals related_model_singular "Objective"}}
            <a class="btn btn-small btn-success"
               href="javascript://"
               data-mapping="true"
               data-toggle="modal-ajax-form"
               data-modal-class="modal-wide"
               data-object-singular="{{related_model_singular}}"
               data-object-plural="{{related_table_plural}}"
               data-object-params='{ "description": "{{json_escape object_params.section.description}}" }'>
              <i class="fa fa-plus-circle white"></i>
              {{#if_equals new_object_title 'Person'}}
                Add
              {{else}}
                Create
              {{/#if_equals}}
              {{ new_object_title }}
            </a>
            {{else}}
            <a class="btn btn-small btn-success"
               href="javascript://"
               data-mapping="true"
               data-toggle="modal-ajax-form"
               data-modal-class="modal-wide"
               data-object-singular="{{related_model_singular}}"
               data-object-plural="{{related_table_plural}}">
              <i class="fa fa-plus-circle white"></i>
              {{#if_equals new_object_title 'Person'}}
                Add
              {{else}}
                Create
              {{/#if_equals}}
              {{ new_object_title }}
            </a>
            {{/if_equals}}
            {{/is_allowed}}
          </div>
          {{/selected_option_type}}
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="row-fluid">
        <div class="span3">
          {{#pack selected_object new_object_title=new_object_title title_singular=selected_object.class.title_singular table_singular=selected_object.class.table_singular related_table_singular=related_table_singular}}
            {{{ renderLive object_detail_view }}}
          {{/pack}}
        </div>
        <div class="span6 option_column" {{data 'options'}}>
          <div class="search-title">
            <div class="row-fluid">
              <div class="span12">
                <div class="modal-search">
                  <a class="btn btn-mini search-reset" href="javascript://">
                    <i class="fa fa-times black"></i>
                  </a>
                  <input id="search" class="input-block-level" placeholder="Search..." value="{{option_search_term}}" type="text" autofocus>
                </div>
              </div>
            </div>
          </div>
          {{#if option_column_view}}
            {{{ renderLive option_column_view }}}
          {{/if}}
        </div>
        <div class="span3 active_column">
          {{#selected_option}}
            {{{ renderLive option_detail_view }}}
          {{/selected_option}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span6">
          &nbsp;
        </div>
        <div class="span6">
          <div class="confirm-buttons">
            {{#is_page_instance}}
              <span class="error">Can't map an object to itself<span>
            {{/is_page_instance}}
            <a class="btn btn-small btn-success preventdoubleclick
              {{#if_helpers '\
                ^if' selected_option '\
                or #if' is_page_instance}} disabled {{/if_helpers}}map-button" href="javascript://">
              {{#if_equals option_type_count 1}}
                {{#option_type_menu}}{{#items}}
                  {{#if_equals model_display 'References'}}
                    Link
                  {{else}}
                    Map
                  {{/if_equals}}
                {{/#items}}{{/option_type_menu}}
              {{else}}
                Map
              {{/if_equals}}
            </a>
          </div>
        </div>
      </div>
    </div>
{{!</div>}}
