{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="selector-info" style="margin-right:-10%;">
  <h4>
    <i class="fa fa-{{table_singular}} color"></i>
    {{ title }}
  </h4>
  <div class="rtf">
    {{{description}}}
  </div>
  <div class="owner">
    {{{render '/static/mustache/base_objects/contacts.mustache' instance=this stacked=true}}}
  </div>
  <div class="object-url">
    <strong>URL:</strong>
    {{#if url}}
    <a href="{{schemed_url url}}" target="_blank">{{url}}</a>
    {{/if}}
  </div>
</div>
