{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}
<li class="tree-item cycle-control-wrap">
  <div class="request-control">
    {{#with_mapping 'current_cycle' parent_instance}}
      {{#if current_cycle.length}}
          <button data-ggrc-action="end-cycle" class="btn end-cycle">End Cycle</button>
      {{/if}}
    {{/with_mapping}}
  </div>
</li>
