{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#state.open}}
<div class="simple-modal__overlay">
    <div class="simple-modal {{extraCssClass}}">
        <div class="simple-modal__header">
            <div class="simple-modal__header-text">{{modalTitle}}</div>
            <button class="btn btn-small btn-icon" ($click)="hide">
                <i class="fa fa-times black"></i>
            </button>
        </div>
        <content></content>
    </div>
</div>
{{/state.open}}
