-extends "layouts/dashboard.haml"

-block title
  Import/Export

-block page_help
  dashboard

-block header
  .breadcrumbs-holder
    %ul.breadcrumbs
      %li
        %a{ 'href': '/admin' }
          Admin
      %li
        Import {{import_kind}}

  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Import {{import_kind}}

-block main
  .container-fluid
    %form{"class":'import', "enctype":'multipart/form-data', "method":'post', "multipart":True, "data-remote":True,'data-type':'html','data-update-target':'#results-container'} 
      #columns.row-fluid{ 'data-resize': "true" }
        #left_column.span6.widget-area
      -include 'systems/_import.haml'
      #results-container