-extends "base_objects/show.haml"

-#block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "#{model_title}", 'class': "={ model_display_class }" }
      -if instance.kind_singular == "System"
        %i.grcicon-system
      -else
        %i.grcicon-process
    =instance.title
