{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="inline-edit
  {{#if isEdit}}inline-edit--active{{/if}}
  {{^if isEditable}}inline-edit--readonly{{/if}}">
  {{#if isSaving}}
    <spinner {toggle}="isSaving"></spinner>
  {{else}}
      <div class="inline-edit__content {{#if_equals type 'text'}}inline-edit__content--wide{{/if_equals}}">
        {{#renderInnerTemplateByType type}}{{/renderInnerTemplateByType}}
        {{#if isEditable}}
          <ul class="inline-edit__controls {{#if isEdit}}inline-edit__controls--edit-mode{{/if}}">
            {{#if isEdit}}
                <li><a ($click)="onSave"><i class="fa fa-check"></i></a></li>
                <li><a ($click)="onCancel"><i class="fa fa-times"></i></a></li>
            {{else}}
                  <li><a ($click)="enableEdit"><i class="fa fa-pencil"></i></a></li>
            {{/if}}
          </ul>
          {{/if}}
      </div>
  {{/if}}
</div>
