-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

.inner-tree
  %h6
    Sections
  %ul.new-tree
    %li.tree-item.governance
      -include 'styleguide/tree/_title_area.haml'
      .tier-2-info
        -include 'styleguide/tree/_tier_2.haml'
        -# this is the same .inner-tree as before, but I couldn't re-include it
        .inner-tree
          %h6 Mapped Objects
          %ul.new-tree
            %li.tree-item.business
              -include 'styleguide/tree/_title_area.haml'
              .tier-2-info.item-content
                -include 'styleguide/tree/_tier_2.haml'
            %li.tree-item.tree-item-add
              .row-fluid
                .span12
                  %a{ 'href': 'javascript://', 'class': 'section-add' }
                    + Object
                  %a{ 'href': 'javascript://', 'class': 'section-create' }
                    %i.grcicon-reg-map
                    Map Object
                  &nbsp;&nbsp;
                  %a{ 'href': 'javascript://', 'class': 'section-import' }
                    %i.grcicon-objective-black
                    Create/Map Control Objective
                  
      %li.tree-item.tree-item-add
        .row-fluid
          .span12
            %a{ 'href': 'javascript://', 'class': 'section-add' }
              + Section
            %a{ 'href': 'javascript://', 'class': 'section-create' }
              %i.grcicon-add-black
              Create Section
            &nbsp;&nbsp;
            %a{ 'href': 'javascript://', 'class': 'section-import' }
              %i.grcicon-imp-exp
              Import Sections