-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

%li.tree-item.governance
  -# title area: tier 1 info from IA
  -include 'styleguide/tree/_title_area.haml'
  .tier-2-info.item-content
    -# what is currently shown as a popover: tier 2 info from IA
    -include 'styleguide/tree/_tier_2.haml'
    -include 'styleguide/tree/_level_inner.haml'
