.item-main
  %a{ 'href': 'javascript://', 'class': 'openclose' }
    .row-fluid
      .span10
        .item-data
          .tree-title-area
            -# icon shouldn't be used on 1st tier info, only deeper in the tree
            %i.grcicon-contract-color
            Art party craft
      .span1
        -# missing owner slot
        &nbsp;
        -#or
        -# %i.grcicon-people-warning
      .span1
        -# counter slot
        .counter
          %i.grcicon-section-black
          1