%a{ 'href': '#', 'class': 'tree-link' }
  .row-fluid
    .span10
      .item-data
        .tree-title-area
          Art party craft
    .span1
      &nbsp;
    .span1
      .counter
        %i.grcicon-section-black
        1