{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!<div id='{ id }' class='modal modal-selector fade hide' tabindex='-1'>}}
    <div class="modal-header">
      <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
        <i class="grcicon-x-grey"></i>
      </a>
      <h2>
        {{ modal_title }}
      </h2>
    </div>
    <div class="modal-body">
      <form action="javascript://">
        <div class="row-fluid">
        <div class="span8">
          <label>
            Choose Auditor
            <span class="required">*</span>
          </label>
          <i class="grcicon-person-green pull-left icon-field"></i>
          {{! `with_auditors` requires `authorizations` mapping, so preload it }}
          {{#with_mapping 'authorizations' instance}}
          {{#with_auditors instance}}
            {{#using auditor=auditors.0.person}}
            <input tabindex="10" type="text" name="auditor.email" data-lookup="Person" class="span8" value="{{auditor.email}}">
            {{/using}}
          {{else}}
            <input tabindex="10" type="text" name="auditor.email" data-lookup="Person" class="span8" value="">
          {{/with_auditors instance}}
          {{/with_mapping 'authorizations' instance}}
          <p><small><em><strong>NOTE:</strong> Auditor will be able to: add, edit and update Requests and Responses; to view Evidence and to view Audit Info.</em></small></p>
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span3">
          <div class="deny-buttons">
            <a tabindex="22" class="btn" data-dismiss="modal-reset" href="javascript://">Cancel</a>

          </div>
        </div>
        <div class="span3">
          &nbsp;
        </div>
        <div class="span6">
          <div class="confirm-buttons">
            <a tabindex="24" class="btn btn-small btn-success preventdoubleclick" data-toggle="modal-submit" href="javascript://">Save</a>
          </div>
        </div>
      </div>
    </div>
{{!</div>}}
