{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="widget-action pull-right" rel="tooltip" title="Manage Authorizations">
  <a href="javascript://" data-toggle="user-roles-modal-selector" data-modal-selector-options="user_roles" data-list-target="refresh" data-modal-class="modal-wide">
    <i class="fa fa-person"></i>
  </a>
</div>
