{{!<div id='{ id }' class='modal modal-selector fade hide' tabindex='-1'>}}
    <div class="modal-header">
      <div class="pull-right">
        <a class="btn btn-mini" href="#" data-dismiss="modal">
          <i class="grcicon-x-grey"></i>
        </a>
      </div>
      <h2>
        {{ modal_title }}
      </h2>
    </div>
    <div class="modal-filter">
      <div class="row-fluid">
        <div class="span3">
          &nbsp;
        </div>
        <div class="span5">
          &nbsp;
        </div>
        <div class="span4">
          <div class="pull-right">
            <a class="btn btn-add" href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="{{related_model_singular}}" data-object-plural="{{related_table_plural}}">
              <i class="grcicon-add"></i>
              {{ new_object_title }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="row-fluid">
        <div class="span3 object_detail_column">
          {{#selected_object}}
            {{{ renderLive object_detail_view }}}
          {{/selected_object}}
        </div>
        <div class="span5 object_column">
          {{{ renderLive object_column_view }}}
        </div>
        <div class="span4" style="margin-left:2px; width:406px;">
          {{#if selected_object}}
            <div class="option_column">
              {{{ renderLive option_column_view }}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span6">
          <div class="deny-buttons"></div>
        </div>
        <div class="span6">
          <div class="confirm-buttons">
            <a class="btn btn-primary preventdoubleclick" xdata-toggle="modal-submit" data-dismiss="modal" href="#">
              Done
            </a>
          </div>
        </div>
      </div>
    </div>
{{!</div>}}
