{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">

  {{#is_info_pin}}
    {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
  {{/is_info_pin}}

  <div class="info-pane-utility">
    <div class="details-wrap">
      <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
        {{#is_allowed 'create' 'delete' 'UserRole' context=options.parent_instance.context.id}}
        {{#is_info_pin}}
        {{#if_equals options.mapping "mapped_and_or_authorized_people"}}
          <li>
            <a data-modal-class="modal-wide"
               data-modal-selector-options="user_roles"
               data-person_id="{{instance.id}}"
               data-placement="left"
               data-toggle="user-roles-modal-selector"
               href="javascript://">
              <i class="fa fa-role color"></i>
              Edit Authorizations
            </a>
          </li>
        {{/options.mapped_and_or_authorized_people}}
        {{/is_info_pin}}
        {{/is_allowed}}
        <li>
          <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_for_object instance}}" />
        </li>
        {{#with_program_roles_as "roles" result}}
          {{#if_helpers '\
            #if_equals' roles.length 1 '\
            and #if_equals' roles.0.role.permission_summary "Mapped" '\
            and #if' result.mappings '\
            and #is_allowed_all' 'delete' result.mappings}}
            <li class="border">
              <a href="javascript://" class="unmap" data-toggle="unmap">
                {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
                <i class="fa fa-ban"></i>
                Unmap
              </a>
            </li>
          {{/if_helpers}}
        {{/with_program_roles_as}}
        <li>
          <a href="/people/{{instance.id}}">
            <i class="fa fa-long-arrow-right"></i>
            View Profile Page
          </a>
        </li>
        {{#is_allowed 'delete' instance}}
          <li>
            <a data-modal-reset="reset" data-modal-class="modal"
               data-object-id="{{instance.id}}" href="javascript://"
               data-object-plural="{{instance.class.model_plural}}"
               data-object-singular="{{instance.class.model_singular}}"
               data-test-id="dropdown_delete_0839163b"
               data-toggle="modal-ajax-deleteform">
              <i class="fa fa-trash"></i>
              Delete
            </a>
          </li>
        {{/is_allowed}}
      </ul>
    </div>
  </div>

  <div class="tier-content">
    <div class="pane-header">
      <div class="row-fluid wrap-row">
        {{#if_match instance.name '\\\\S'}}
          {{#instance.name}}
            <div class="span6">
              <h6>Name</h6>
              <h3>{{instance.name}}</h3>
            </div>
          {{/instance.name}}
        {{/if_match}}

        {{#if_match instance.email '\\\\S'}}
          {{#instance.email}}
            <div class="span3">
              <h6>Email</h6>
              <p>
                <a href='mailto:{{instance.email}}' target="_blank">
                  {{instance.email}}
                </a>
              </p>
            </div>
          {{/instance.email}}
        {{/if}}
      </div>
    </div>

    <div class="row-fluid wrap-row">
      <div class="span6">
        <h6>Authorizations</h6>
        <p>
          {{#with_program_roles_as "roles" result}}
            {{#roles}}
              {{#if_helpers '\
                ^if_equals' role.permission_summary 'Mapped' '\
                or #if_equals' roles.length 1}}
                  {{role.permission_summary}}
                  {{#if_equals role.permission_summary 'Auditor'}}:
                    {{#with_mapping 'audit_via_context' user_role}}
                      <span class="role">
                        {{audit_via_context.0.instance.title}}
                      </span>
                    {{/with_mapping}}
                  {{/if_equals}}
              {{/if_helpers}}
            {{/roles}}
          {{/with_program_roles_as}}
        </p>
      </div>
      {{#if_match instance.company '\\\\S'}}
        {{#instance.company}}
          <div class="span6">
            <h6>Company</h6>
            {{instance.company}}
          </div>
        {{/instance.company}}
      {{/if_match}}

    </div>

    <div class="row-fluid wrap-row">
      <div class="span12">
        {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}
      </div>
    </div>

  </div>

</section>
