{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="search-title">
  <div class="row-fluid">
    <div class="span12">
      <h4>
        Users ({{ objects.length }})
      </h4>
    </div>
  </div>
</div>
<div class="selector-list">
  <ul class="new-tree">
    {{#objects}}
      <li class="tree-item business" {{ data 'object' }} data-id="{{ id }}">
        <div class="item-main">
          <div class="simple-link">
            <div class="row-fluid">
              <div class="span12">
                <div class="item-data">
                  <div class="tree-title-area">
                    {{{render '/static/mustache/people/popover.mustache' person=this}}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/objects}}
  </ul>
</div>
