{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="search-title">
  <div class="row-fluid">
    <div class="span6">
      <h4>
        Roles ({{ options.length }})
      </h4>
    </div>
    <div class="span6">
      <div class="guide">
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="selector-list people-selector">
  <ul class="new-tree tree-structure">
    {{#options}}
    <li class="tree-item" {{ data 'option' }} data-id="{{ id }}">
      <div class="item-main">
        <a href="javascript://" class="openclose">
          <div class="row-fluid">
            <div class="span11">
              <div class="item-data">
                <div class="tree-title-area">
                  {{name}}
                </div>
              </div>
            </div>
            <div class="span1">
              <input type="radio" name="map" rel="tooltip" title="map">
            </div>
          </div>
        </a>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>{{{description}}}</p>
          {{#scope}}<p><strong>Role Scope:</strong> {{scope}}</p>{{/scope}}
        </div>
      </div>
    </li>
    {{/options}}
  </ul>
</div>
