{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="search-title">
  <div class="row-fluid">
    <div class="span6">
      <h4>
        Roles ({{ options.length }})
      </h4>
    </div>
    <div class="span6">
      <div class="guide">
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div class="selector-list people-selector">
  <ul class="new-tree tree-structure">
    {{#if selected_object.is_enabled}}
      {{#options}}
      <li class="tree-item" {{ data 'option' }} data-id="{{ id }}">
        <div class="item-main">
          <div class="openclose">
            <a class="openclose-placeholder" href="javascript://"> </a>
            <div class="row-fluid">
              <div class="span11">
                <div class="item-data">
                  <div class="tree-title-area">
                    {{name}}
                  </div>
                </div>
              </div>
              <div class="span1">
                <input type="radio" name="map" rel="tooltip" title="map">
              </div>
            </div>
          </div>
        </div>
        <div class="tier-2-info item-content">
          <div class="tier-2-info-content">
            <p>{{{description}}}</p>

            {{{render_hooks 'Role.option_detail'}}}

            {{#scope}}<p><strong>Role Scope:</strong> {{scope}}</p>{{/scope}}
          </div>
        </div>
      </li>
      {{/options}}
    {{else}}
      <li class="tree-item">
        <div class="item-main">
          <div class="row-fluid">
            <div class="span11">
              <div class="item-data">
                <p>This user is disabled and cannot be granted authorizations.
                  They currently have "No Access".</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/if}}
  </ul>
</div>
