{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<li class="row-fluid add-field">
  <div class="span-custom2-and-half">
    <input class="input-block-level" can-value="selected.title" type="text" placeholder="Enter title">
  </div>
  <div class="span-custom1-and-half">
    <select class="input-block-level" can-value="selected.type">
      {{#types}}
        <option>{{type}}</option>
      {{/types}}
    </select>
  </div>
  <div class="span2">
    <input class="input-block-level" can-value="selected.values" type="text" placeholder="{{placeholder}}">
  </div>
  <div class="span2 centered checkbox-wrap">
  </div>
  <div class="span1 centered checkbox-wrap">
  </div>
  <div class="span1 centered checkbox-wrap">
  </div>
  <div class="span2">
    <div class="pull-right">
      <a can-click="addField" class="btn btn-small btn-info" href="#">Add field</a>
    </div>
  </div>
</li>
