{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<li class="row-fluid">
  <div class="span-custom2-and-half">{{field.title}}</div>
  <div class="span-custom1-and-half">{{field.type}}</div>
  <div class="span2">
    {{#attrs}}
      <span class="block">{{.}}</span>
    {{/attrs}}
  </div>
  <div class="span2 centered checkbox-wrap">
    {{#attrs}}
      <input can-value="field.opts.attachment-{{.}}" type="checkbox">
    {{/attrs}}
  </div>
  <div class="span-custom1-and-half centered checkbox-wrap">
    {{#attrs}}
      <input can-value="field.opts.comment-{{.}}" type="checkbox">
    {{/attrs}}
  </div>
  <div class="span-custom1-and-half centered checkbox-wrap">
    <input type="checkbox" can-value="field.opts.mandatory-{{title}}">
  </div>
  <div class="span-custom1-and-half">
    <div class="pull-right">
      <a href="#"><i class="fa fa-pencil-square-o"></i></a>
      <a can-click="removeField" href="#"><i class="fa fa-trash"></i></a>
    </div>
  </div>
</li>
