{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: peter@reciprocitylabs.com
  Maintained By: peter@reciprocitylabs.com
}}

{{#instance}}
  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">

    {{#is_info_pin}}
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
    {{/is_info_pin}}

    <div class="info-pane-utility">
      {{> /static/mustache/base_objects/dropdown_menu.mustache}}
    </div>

    <div class="tier-content">

      <div class="pane-header">
        <div class="row-fluid wrap-row">
          <div data-test-id="title_0ad9fbaf" class="span9">
            <h6>Title</h6>
            <h3>{{title}}</h3>

            {{#if type}}
              <p>{{type.title}}</p>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span4">
          <h6>Objects under assessment</h6>
          {{#if template_object_type}}
            {{template_object_type}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>

        <div class="span4">
          <h6>Use control test plans as procedures</h6>
          {{#if test_plan_procedure}}YES{{else}}NO{{/if}}
        </div>

        <div class="span4">
          <h6>Default procedure description</h6>
          {{#if procedure_description}}
            {{procedure_description}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span4">
          <h6>Default Assessors</h6>
          {{#if default_people.assessors}}
            {{#if_string default_people.assessors}}
              {{default_people.assessors}}
            {{else}}
              {{#if default_people.assessors.length}}
                <ul>
                  {{#each default_people.assessors}}
                    <li>
                      <person person-id="{{.}}"></person>
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                <span class="empty-message">None</span>
              {{/if}}
            {{/if_string}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>

        <div class="span4">
          <h6>Default Verifier</h6>
          {{#if default_people.verifiers}}
            {{#if_string default_people.verifiers}}
              {{default_people.verifiers}}
            {{else}}
              {{#if default_people.verifiers.length}}
                <ul>
                  {{#each default_people.verifiers}}
                    <li>
                      <person person-id="{{.}}"></person>
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                <span class="empty-message">None</span>
              {{/if}}
            {{/if_string}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>

    </div><!-- tier-content end -->
  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
