{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: peter@reciprocitylabs.com
  Maintained By: peter@reciprocitylabs.com
}}

<div class="hideable-holder">
  <form action="javascript://">
    {{> /static/mustache/base_objects/form_restore.mustache}}

    <div class="row-fluid">
      <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
        <label>
          Title
          <span class="required">*</span>
          <i
            class="fa fa-question-circle"
            rel="tooltip"
            title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."
            ></i>
        </label>

        <input
          data-id="title_txtbx" tabindex="1" class="input-block-level"
          placeholder="Enter Title"
          name="title"
          type="text"
          can-value="instance.title"
          autofocus>

        {{#instance.computed_errors.title}}
          <label class="help-inline warning">{{this}}</label>
        {{/instance.computed_errors.title}}
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <label>Audit</label>
        <strong>{{object_params.audit_title}}</strong>
      </div>
    </div>

    <br />

    <div class="row-fluid choose-object">
      <div class="span12">
        <label>
          Objects under assessment
        </label>

        {{#add_to_current_scope objectTypes=instance._objectTypes}}
        <select
          class="input-medium pull-left"
          can-value="instance.template_object_type">
          {{#each objectTypes}}
            {{#if items}}
              {{#if items.length}}
              <optgroup label="{{name}}">
                {{#each items}}
                  {{#if name}}
                    <option value="{{value}}" label="{{name}}"></option>
                  {{/if}}
                {{/each}}
              </optgroup>
              {{/if}}
            {{/if}}
          {{/each}}
        </select>
        {{/add_to_current_scope}}

        <label class="inline-check pull-left">
          <input type="checkbox"
            can-value="instance.test_plan_procedure"
            class="js-toggle-controlplans">
          Use control test plans as procedures
        </label>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <label>
          Default procedure
          <i class="grcicon-help-black" rel="tooltip"
            title="Provide more details on the purpose of this Assessment and
                   provide context for how and when this CA might be used."></i>
          <a data-id="hide_description_lk" href="javascript://"
            class="field-hide">hide</a>
        </label>
        <div class="wysiwyg-area">
          <textarea
            id="system_description"
            can-value="instance.procedure_description"
            class="span12 triple wysihtml5"
            placeholder="Enter Description"
            tabindex="2"
            ></textarea>
        </div>
      </div>

      <div class="span6">
        <div class="row-fluid choose-from-select">
          <div class="span6 bottom-spacing">
            <label>
              Default Assessors
              <span class="required">*</span>
            </label>

            <select
              can-value="instance.default_people.assessors"
              class="input-block-level js-toggle-field">
              <option value="Object Owners">Object Owners</option>
              <option value="Audit Lead">Audit Lead</option>
              <option value="Object Contact">Object Contact</option>
              <option value="Primary Assessor">Primary Assessor</option>
              <option value="Secondary Assessors">Secondary Assessors</option>
              <option value="other">Others...</option>
            </select>
          </div>

          <div class="span6">
            <label>&nbsp;</label>
            <input type="text"
              can-value="instance.assessors_list"
              class="input-block-level choose-input choose-assessor"
              placeholder="Add person 1, Add person 2...">
          </div>
        </div>

        <div class="row-fluid choose-from-select">
          <div class="span6 bottom-spacing">
            <label>
              Default Verifier
              <span class="required">*</span>
            </label>

            <select
              can-value="instance.default_people.verifiers"
              class="input-block-level js-toggle-field">
              <option value="Object Owners">Object Owners</option>
              <option value="Audit Lead">Audit Lead</option>
              <option value="Object Contact">Object Contact</option>
              <option value="Primary Assessor">Primary Assessor</option>
              <option value="Secondary Assessors">Secondary Assessors</option>
              <option value="other">Others...</option>
            </select>
          </div>

          <div class="span6">
            <label>&nbsp;</label>
            <input type="text"
              can-value="instance.verifiers_list"
              class="input-block-level choose-input choose-verifier"
              placeholder="Add person 1, Add person 2...">
          </div>
        </div>
      </div>
    </div>

    <div class="custom-attr-wrap define-attr">
      <div class="hidden-fields-area">
        <div class="row-fluid wrap-row">
          <div class="custom-attr-list span12">
            <assessment-template-attributes fields="instance.custom_attribute_definitions">
              <div class="attr-titles">
                <ul>
                  <li class="row-fluid">
                    <div class="span-custom2-and-half">
                      <h6>Attribute Title</h6>
                    </div>
                    <div class="span-custom1-and-half">
                      <h6>Attribute type</h6>
                    </div>
                    <div class="span2">
                      <h6>Attribute values</h6>
                    </div>
                    <div class="span2 centered">
                      <h6>Attachment required</h6>
                    </div>
                    <div class="span1 centered">
                      <h6>Comment required</h6>
                    </div>
                    <div class="span1 centered">
                      <h6>Mandatory</h6>
                    </div>
                    <div class="span2">
                      &nbsp;
                    </div>
                  </li>
                </ul>
              </div>
              <div class="new-attr-list">
                <ul>
                  <add-template-filed fields="fields">
                  </add-template-filed>
                  {{#fields}}
                    <template-filed field="." fields="fields"></template-filed>
                  {{/fields}}
                </ul>
              </div>
            </assessment-template-attributes>
          </div>
        </div>
      </div>
    </div><!-- custom-attr-wrap end -->

 </form>
</div>
