{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: samo@reciprocitylabs.com
    Maintained By: samo@reciprocitylabs.com
}}

{{#with_mapping 'extended_folders' instance}}
  <div class="oneline">
    {{#if_in instance.status "Final,Verified"}}
      {{#if extended_folders.length}}
        <ggrc-gdrive-picker-launcher
          instance="instance"
          link_text="Attach evidence"
          click_event="trigger_upload_parent"
          verify_event="true"
          modal_description='You are about to move request from "{{instance.status}}" to "In Progress" - are you sure about that?'
          modal_title='Confirm moving Request to "In Progress"'
          modal_button='Confirm'
          >
        </ggrc-gdrive-picker-launcher>
      {{else}}
        <ggrc-gdrive-picker-launcher
          instance="instance"
          link_text="Attach evidence"
          click_event="trigger_upload"
          verify_event="true"
          modal_description='You are about to move request from "{{instance.status}}" to "In Progress" - are you sure about that?'
          modal_title='Confirm moving Request to "In Progress"'
          modal_button='Confirm'
          >
        </ggrc-gdrive-picker-launcher>
        <i class="fa fa-exclamation-triangle red" style="margin-top:4px" rel="tooltip" data-placement="bottom" data-original-title="Audit folder not set. Files will be uploaded to your GDrive root folder."></i>
      {{/if_in}}
    {{else}}
      {{#if extended_folders.length}}
        <ggrc-gdrive-picker-launcher
          icon="attach"
          instance="instance"
          link_text="Attach evidence"
          click_event="trigger_upload_parent">
        </ggrc-gdrive-picker-launcher>
      {{else}}
        <ggrc-gdrive-picker-launcher
          icon="attach"
          instance="instance"
          link_text="Attach evidence"
          click_event="trigger_upload">
        </ggrc-gdrive-picker-launcher>
        <i class="fa fa-exclamation-triangle red" style="margin-top:4px" rel="tooltip" data-placement="bottom" data-original-title="Audit folder not set. Files will be uploaded to your GDrive root folder."></i>
      {{/if_in}}
    {{/if}}
  </div>
{{else}}
  {{! This is a failure state for with_mapping, if something in the mapping doesn't refresh properly }}
  {{#if error.errors}}
    <small>
      You need permission to upload files to the audit folder. <a href="https://drive.google.com/folderview?id={{grdive_msg_to_id error.message}}&usp=sharing#">Request access.</a>
    </small>
  {{else}}
    The GDrive folder for this evidence could not be accessed.
    {{#using request=parent_instance.request}}
      {{{render '/static/mustache/gdrive/gapi_errors.mustache' type="file" instance=request error=error}}}
    {{/using}}
  {{/if}}
{{/with_mapping}}
