{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


{{#is_allowed 'update' instance context='for'}}
  {{#if_equals instance.status "Draft"}}
    <li class="inner-nav-button">
      <workflow-activate workflow="instance">
        <button type="submit" href="#workflowActivate" class="btn" {{^instance.task_groups.length}}disabled="disabled"{{/task_groups}}>
          Activate Workflow
        </button>
      </workflow-activate>
      {{^instance.task_groups.length}}
        <p class="tiny-help-text">You need to setup task group(s) before activating workflow</p>
      {{/task_groups}}
    </li>
  {{/if}}
{{/is_allowed}}
