{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#widget_list}}
{{#if_equals "Current Cycle" internav_display}}
{{!
    We can't use '^instance.cycles.length' instead of count, because
    it isn't live bound and doesn't get updated when Start Workflow is clicked
}}
{{^count}}
  <li class="inner-nav-button">
    <button type="submit" href="#workflowStart" data-ggrc-action="start-cycle" data-toggle="modal" class="btn" {{^instance.task_groups.length}}disabled="disabled"{{/task_groups}}>
      Start Workflow
    </button>
  </li>
{{/count}}
{{/if_equals}}
{{/widget_list}}
