-#
-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com
-#
!!! 5
%html{ lang:"en" }
  %head
    %meta{ content:"text/html; charset=utf-8", 'http-equiv':"Content-Type" }
    %meta{ charset:"utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    -#FIXME: (?) META tags for author, description

    %title
      -block title
        Governance, Risk and Compliance

    -assets "dashboard-css"
      %link{ rel:'stylesheet', type:'text/css', href:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    %link{ 'href': '={ url_for("static", filename="favicon.ico") }', 'rel':'icon', 'type':'image/x-icon' }

  %body
    -block body

    %script
      GGRC = window.GGRC || {};
      GGRC.Settings = {};
      GGRC.Bootstrap = {};
      -include "scripts/tracker-prefix.js"
      window.st=Date.now();
      -block extra_javascript

    -assets "dashboard-js-templates"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    -assets "dashboard-js"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    :javascript
      GGRC.Tracker.timing("dashboard", "exec_scripts", Date.now() - st, "dashboard.js finished executing");
      window.st=Date.now();
      GGRC.Tracker.timing("dashboard", "load_templates", Date.now() - st, "dashboard-templates.js finished loading and executing");
      $(function() {
        GGRC.Tracker.timing("dashboard", "exec_ready_handlers", Date.now() - st, "last document.ready handler fired");
      });

    -# Google Web Font(s)
    -#NOTE: This resource occasionally hangs and prevents page from rendering, so loaded after the fact via jquery
    :javascript
      (function (win, doc, GGRC, $) {
        var originalError = win.onerror;
        win.onerror = function (message, url, linenumber) {
          if ($) {
            $(doc.body).trigger("ajax:flash", {"error" : message});
          }
          if (GGRC && GGRC.Tracker) {
            GGRC.Tracker.exception(message + " (at " + url + ":" + linenumber + ")");
          }
          originalError && originalError.apply(this, arguments);
        };
      })(window, document, window.GGRC, jQuery);

    -if config.get("GOOGLE_ANALYTICS_ID")
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{config.get("GOOGLE_ANALYTICS_ID")}}', {
          cookieDomain: '{{config.get("GOOGLE_ANALYTICS_DOMAIN")}}',
          siteSpeedSampleRate: 100,
        });
        //  Presence of appName/appVersion seems to prevent 'Real-Time' metrics
        //  https://code.google.com/p/analytics-issues/issues/detail?id=366
        //ga('set', 'appVersion', '{{config.get("VERSION")}}');
        ga('send', 'pageview');

        GGRC.Tracker.init(ga);


    -#%link{ 'href': "http://fonts.googleapis.com/css?family=PT+Sans", :rel => "stylesheet", :type => "text/css" }
