-#
-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-#
!!! 5
%html{ lang:"en", "class": "no-js" }
  %head
    %meta{ content:"text/html; charset=utf-8", 'http-equiv':"Content-Type" }
    %meta{ charset:"utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    -#FIXME: (?) META tags for author, description

    %title
      -block title
        Governance, Risk and Compliance

    %link{ rel:'stylesheet', type:'text/css', href:'{{config.get("STYLES_CSS_PATH")}}' }
    %link{ rel:'stylesheet', type:'text/css', href:'{{config.get("VENDOR_CSS_PATH")}}' }

    %link{ 'href': '={ url_for("static", filename="favicon.ico") }', 'rel':'icon', 'type':'image/x-icon' }

    -if config.get("GOOGLE_ANALYTICS_ID")
      %script{ type:'text/javascript', async:'async', src:"//www.google-analytics.com/analytics.js" }

  %body
    %div{ 'class': 'page-loader'}
      %div{ 'class': 'page-loader__wrapper'}
        %i{'class': 'spinner-icon spinner-size__large fa fa-spinner fa-pulse',
           'aria-hidden': 'true'}
        %span{ 'class': 'page-loader__text' } Page is loading, please wait...

    -block body

    %script
      GGRC = window.GGRC || {};
      GGRC.Bootstrap = {};
      GGRC.config = {};
      -block extra_javascript

    -if config.get("DASHBOARD_INTEGRATION")
      :javascript
        GGRC.DASHBOARD_INTEGRATION={{config.get("DASHBOARD_INTEGRATION") | safe}};

    -if config.get("ISSUE_TRACKER_ENABLED")
      :javascript
        GGRC.ISSUE_TRACKER_ENABLED=true;

    -if config.get("GGRC_Q_INTEGRATION_URL")
      :javascript
        GGRC.GGRC_Q_INTEGRATION_URL='{{config.get("GGRC_Q_INTEGRATION_URL")}}';

    -block extra_templates

    %script{ type:'text/javascript', src:'{{config.get("VENDOR_JS_PATH")}}' }

    -block page_scripts

    -# Google Web Font(s)
    -#NOTE: This resource occasionally hangs and prevents page from rendering, so loaded after the fact via jquery

    -#%link{ 'href': "http://fonts.googleapis.com/css?family=PT+Sans", :rel => "stylesheet", :type => "text/css" }
