-# Copyright (C) 2018 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends 'layouts/base.haml'

-block extra_javascript
  GGRC.permissions = ={ permissions_json()|safe };
  GGRC.current_user = ={ current_user_json()|safe };
  GGRC.config = ={ config_json()|safe };
  GGRC.roles =  ={ roles_json()|safe };
  GGRC.custom_attr_defs =  ={ attributes_json()|safe }
  GGRC.access_control_roles =  ={ access_control_roles_json()|safe }
  GGRC.internal_access_control_roles =  ={ internal_access_control_roles_json()|safe }
  GGRC.model_attr_defs =  ={ all_attributes_json()|safe }

-block page_help scoped
  dashboard

-block body
  %header.header.main
  .area{ 'class': '={ model_display_class }' }
    #page-header
      -block header

    -block nav
      .top-inner-nav
        .object-nav
          %div.nav{ 'class': "internav" }

    %section.content
      .flash
        -with messages = get_flashed_messages(with_categories=True)
          -if messages
            -for category, message in messages
              %div{ 'class': "{{category}}" }
                %p
                  {{message}}
                %a.close{'href': "#", 'data-dismiss': "alert" }
                  %i.fa.fa-times
      -block main
        .object-area.row-fluid.full-width
          .inner-content.widget-area
            -block widget_area
        .pin-content

    %section.footer
      =config.get('COPYRIGHT')
      =config.get('COMPANY')
      Version
      =config.get('VERSION')

  #lhn
    #lhs.lhs.accordion{ 'data-template': '/dashboard/lhn.mustache' }
