{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<!-- header (laber/h1-6) -->
<content></content>

<!-- display edit icon when isLoading == false and editMode == false -->
{{#unless editMode}}
  {{#unless isLoading}}
    <div class="action-toolbar__controls">
      <action-toolbar-control>
        <i class="fa fa-pencil inline-edit-icon"></i>
      </action-toolbar-control>
    </div>
  {{/unless}}
{{/unless}}
