-#
-# Copyright (C) 2015 Reciprocity, Inc - All Rights Reserved
-# Unauthorized use, copying, distribution, displaying, or public performance
-# of this file, via any medium, is strictly prohibited. All information
-# contained herein is proprietary and confidential and may not be shared
-# with any third party without the express written consent of Reciprocity, Inc.
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com
-#
!!! 5

%html{ lang:"en" }
  %head
    %meta{ content:"text/html; charset=utf-8", 'http-equiv':"Content-Type" }
    %meta{ charset:"utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    -#FIXME: (?) META tags for author, description

    %title
      -block title
        Governance, Risk and Compliance

    -assets "dashboard-css"
      %link{ rel:'stylesheet', type:'text/css', href:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    %script
      GGRC = window.GGRC || {};
      -include "scripts/tracker-prefix.js"
      window.st=Date.now();
      -block extra_javascript

    -assets "dashboard-js"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    :javascript
      GGRC.Tracker.timing("dashboard", "exec_scripts", Date.now() - st, "dashboard.js finished executing");
      window.st=Date.now();

    -assets "dashboard-js-templates"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    :javascript
      GGRC.Tracker.timing("dashboard", "load_templates", Date.now() - st, "dashboard-templates.js finished loading and executing");
      $(function() {
        $(function() {
          GGRC.Tracker.timing("dashboard", "exec_ready_handlers", Date.now() - st, "last document.ready handler fired");
        });
      })


    -#FIXME: (?) HTML5 shim?

    -#csrf_meta_tag

    %link{ 'href': '={ url_for("static", filename="favicon.ico") }', 'rel':'icon', 'type':'image/x-icon' }

    -# Google Web Font(s)
    -#NOTE: This resource occasionally hangs and prevents page from rendering, so loaded after the fact via jquery
    :javascript
      window.onerror = function(message, url, linenumber) {
        if(window.$) {
          $(document.body).trigger("ajax:flash", {"error" : message});
        }
        if(window.GGRC && window.GGRC.Tracker) {
          GGRC.Tracker.exception(message + " (at " + url + ":" + linenumber + ")");
        }
      };

    -if config.get("GOOGLE_ANALYTICS_ID")
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{config.get("GOOGLE_ANALYTICS_ID")}}', {
          cookieDomain: '{{config.get("GOOGLE_ANALYTICS_DOMAIN")}}',
          siteSpeedSampleRate: 100,
        });
        //  Presence of appName/appVersion seems to prevent 'Real-Time' metrics
        //  https://code.google.com/p/analytics-issues/issues/detail?id=366
        //ga('set', 'appVersion', '{{config.get("VERSION")}}');
        ga('send', 'pageview');

        GGRC.Tracker.init(ga);


    -#%link{ 'href': "http://fonts.googleapis.com/css?family=PT+Sans", :rel => "stylesheet", :type => "text/css" }

  -block body
