-# Copyright (C) 2017 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-#
!!! 5

%html{ lang:"en" }
  %head
    %meta{ content:"text/html; charset=utf-8", 'http-equiv':"Content-Type" }
    %meta{ charset:"utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    -#FIXME: (?) META tags for author, description

    %title
      -block title
        Governance, Risk and Compliance

    -assets "dashboard-css"
      %link{ rel:'stylesheet', type:'text/css', href:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    -if config.get("GOOGLE_ANALYTICS_ID")
      %script{ type:'text/javascript', async:'async', src:"//www.google-analytics.com/analytics.js" }

    %script
      GGRC = window.GGRC || {};
      -block extra_javascript

    -if config.get("DASHBOARD_INTEGRATION")
      :javascript
        GGRC.DASHBOARD_INTEGRATION='{{config.get("DASHBOARD_INTEGRATION") | safe}}';

    -assets "dashboard-js"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    -assets "dashboard-js-templates"
      %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
    -endassets

    -#FIXME: (?) HTML5 shim?

    -#csrf_meta_tag

    %link{ 'href': '={ url_for("static", filename="favicon.ico") }', 'rel':'icon', 'type':'image/x-icon' }

    -# Google Web Font(s)
    -#NOTE: This resource occasionally hangs and prevents page from rendering, so loaded after the fact via jquery

    -if config.get("GGRC_Q_INTEGRATION_URL")
      :javascript
        GGRC.GGRC_Q_INTEGRATION_URL='{{config.get("GGRC_Q_INTEGRATION_URL")}}';

    -#%link{ 'href': "http://fonts.googleapis.com/css?family=PT+Sans", :rel => "stylesheet", :type => "text/css" }

  -block body
