<h4>sub-tree-wrapper</h4>

<h6>Directly related</h6>

{{#directlyItems}}
  <span>{{title}}</span>
{{/directlyItems}}

<h6>NOT Directly related</h6>
{{#notDirectlyItems}}
  <span>{{title}}</span>
{{/notDirectlyItems}}
