{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="flex-box flex-col {{cssClasses}}">
  <div class="flex-box flex-col header tree-header-content">
    <div class="flex-box tree-filter">
      <tree-filter-input class="flex-size-1"
                         {(filters)}="filters"
                         (filter)="onFilter"
      ></tree-filter-input>
      {{#if statusFilterVisible}}
        <tree-status-filter {model-name}="modelName"
                            {(filters)}="filters"
                            (filter)="onFilter"
        >
          <multiselect-dropdown
            {options}="filterStates"
            placeholder="Filter by State"
            plural="States">
          </multiselect-dropdown>
        </tree-status-filter>
      {{/if}}
      <tree-pagination {(paging)}="pageInfo"></tree-pagination>
    </div>

    <div class="tree-action" style="display: flex; justify-content: flex-end;">
      {{#if addItem}}
        {{{renderLive addItem}}}
      {{/if}}
      <div class="details-wrap">
        <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
          <span class="bubble"></span>
          <span class="bubble"></span>
          <span class="bubble"></span>
        </a>
        <ul class="dropdown-menu tree-action-list-items" role="menu">
          {{^if_instance_of instance 'Audit'}}
            {{> '/static/mustache/import_export/import_export_buttons.mustache'}}
            <assessment-generator-button audit="parent_instance"></assessment-generator-button>
          {{/if_instance_of}}
          {{!> '/static/mustache/base_objects/sub_tree_type_selector.mustache'}}
        </ul>
      </div>
    </div>

    <tree-header {selected-columns}="columns.selected"
                 {available-columns}="columns.available"
                 {mandatory}="columns.mandatory"
                 {sorting-info}="sortingInfo"
                 {model}="model"
                 (sort)="onSort(%event)"
                 (update-columns)="onUpdateColumns(%event)"
    ></tree-header>
  </div>

  <tree-view {items}="showedItems"
             {limit-depth-tree}="limitDepthTree"
             {selected-columns}="columns.selected"
             {mandatory}="columns.mandatory"
             {loading}="loading"
             {get-depth-filter}="@getDepthFilter"
  ></tree-view>

  <div class="tree-footer flex-box">
    <tree-pagination {(paging)}="pageInfo"></tree-pagination>
  </div>
</div>
