{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="tree-node-actions flex-box flex-row">
    <ul class="tree-action-list">
      {{#if drawStates}}
          <li>
            {{> '/static/mustache/base_objects/states.mustache'}}
          </li>
      {{/if}}
        <content/>
    </ul>
  {{#if drawRelatedAssessment}}
      <show-related-assessments-button instance="instance" extra-btn-css="btn-mini action-button"></show-related-assessments-button>
  {{/if}}
    <div class="show-details">
      {{#childOptions}}
        {{#if add_item_view}}
          {{{renderLive add_item_view}}}
        {{/if}}
      {{/childOptions}}
        <view-object-buttons instance="instance" open-is-hidden="isSubtree"/>
    </div>
</div>
