{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}
{{#instance}}
{{!div class="extended"}}
  <div class="row-fluid">
    <div class="span12">
      <a class="main-title {{constructor.category}} oneline" href="{{viewLink}}">
        {{title}}
        {{#is_private}}
          <i class="grcicon-private" rel="tooltip" title="Private"></i>
        {{/is_private}}
        <i class="grcicon-goto"></i>
      </a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="rtf">
        <p>
          {{{firstnonempty description '<i>No description</i>'}}}
        </p>
      </div>
      {{^if_null url}}
        <a class="url oneline" href="{{schemed_url url}}" target="_blank">
          {{url}}
        </a>
      {{/if_null}}
      {{#if_null url}}
        No URL
      {{/if_null}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="info">
        <strong>Owner:</strong>
        {{#using owner=instance.owner}}
        {{#if owner}}
          {{owner.name}}
        {{else}}
        <span class="error">
          Not Assigned
        </span>
        {{/if}}
        {{/using}}
      </div>
    </div>
    <div class="span6">
      {{#visibility_delay 500}}
      <div class="info">
        <i class="grcicon-control-color"></i>
        {{#mapping_count instance 'extended_related_controls'}}
          {{.}}
        {{else}}
          <span {{attach_spinner '{ "radius": 2.5, "length": 2.5, "width": 2 }' 'display:inline-block; top: -5px; left: 2px;' }}></span>
        {{/mapping_count}}
        &nbsp;&nbsp;
        <i class="grcicon-process-color"></i>
        {{#mapping_count instance 'extended_related_processes'}}
          {{.}}
        {{else}}
          <span {{attach_spinner '{ "radius": 2.5, "length": 2.5, "width": 2 }' 'display:inline-block; top: -5px; left: 2px;' }}></span>
        {{/mapping_count}}
        &nbsp;&nbsp;
        <i class="grcicon-system-color"></i>
        {{#mapping_count instance 'extended_related_systems'}}
          {{.}}
        {{else}}
          <span {{attach_spinner '{ "radius": 2.5, "length": 2.5, "width": 2 }' 'display:inline-block; top: -5px; left: 2px;' }}></span>
        {{/mapping_count}}
      </div>
      {{/visibility_delay}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="code">
        Code: {{slug}}
      </div>
    </div>
  </div>
  <div class="links">
    <div class="row-fluid">
      <div class="span6">
        <a class="secondary" href="{{viewLink}}">
          View {{constructor.title_singular}}
        </a>
      </div>
      <div class="span6">
      {{#with_page_object_as 'page_object'}}
        {{#is_allowed_to_map page_object this join=true}}
        <a class="primary map-to-page-object" href="javascript://">
          Map to this {{page_object.constructor.title_singular.toLowerCase}}
          <i class="grcicon-reg-map"></i>
        </a>
        {{/is_allowed_to_map}}
      {{/with_page_object_as}}
      </div>
    </div>
  </div>
{{!/div}}
{{/instance}}
