{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{> /static/mustache/base_objects/dropdown_menu_tier2.mustache}}

<div class="tier-content">
  {{>'/static/mustache/base_objects/general_info.mustache'}}
  {{>'/static/mustache/base_objects/description.mustache'}}
  {{{renderLive '/static/mustache/base_objects/notes_and_code.mustache' instance=instance}}}
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
  {{^if_equals instance.class.table_singular 'person'}}
    {{{renderLive '/static/mustache/base_objects/contacts.mustache' is_program=true instance=instance}}}
  {{/if_equals}}
  {{#instance.url}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <h6>URL:</h6>
      <p>
        <a class="url" href="{{schemed_url instance.url}}" target="_blank">
          {{instance.url}}
        </a>
      </p>
    </div>
  </div>
  {{/instance.url}}
</div>
