{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{#instance}}
  <section class="content">
    <div class="hideable-holder">
      <div class="basic-info">
        <div class="info">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <div class="pull-right reset-form">
                {{> /static/mustache/mockup_base_templates/object_setup/fields_visibility_control.mustache}}
                {{> /static/mustache/mockup_base_templates/info_panel/info_panel_utility.mustache}}
              </div>
            </div>
          </div>

          <div class="choose-object-wrap">
            <div class="row-fluid">
              <div class="span8">
                <div class="row-fluid wrap-row">
                  <div class="span12">
                    <h6>Workflow title</h6>
                    <p>Tribe Also Relationship</p>
                  </div>
                </div>
                <div class="row-fluid wrap-row">
                  <div class="span12 hidable" data-value="workflow_description">
                    <h6>Description</h6>
                    <p>Actions internet shareholders customers has given right was reinforcing people interaction investigating decisions deals include. Both legal. Best like environment. By make concept. Etc corporate authority called. Mission governance given. Itself problems mission held.</p>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span12 hidable hidden" data-value="workflow_custom">
                    <h6>Custom "Start Workflow" email message</h6>
                    <p>Way independent norms articulated whom mediated often organizations. Risks non-governmental. One incorporated research. Governance governing interaction. Inter- was respect information. With governance distinguish. Unlike older articulated players.</p>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="row-fluid wrap-row">
                  <div class="span12">
                    <h6>People</h6>
                    <div class="side-content">
                      <ul class="label-list">
                        <li>
                          <label>
                            <span class="file-controls">
                              <a href="javascript://">
                                <i class="fa fa-plus-circle"></i>
                              </a>
                            </span>
                            <span class="person-label manager"></span>
                            Manager
                          </label>
                          <ul>
                            <li>
                              <span class="file-controls">
                                <a href="javascript://"><i class="fa fa-trash"></i></a>
                              </span>
                              <a href="javascript://">William Thompson</a>
                            </li>
                            <li>
                              <span class="file-controls">
                                <a href="javascript://"><i class="fa fa-trash"></i></a>
                              </span>
                              <a href="javascript://">Sandra Turner</a>
                            </li>
                            <li>
                              <span class="file-controls">
                                <a href="javascript://"><i class="fa fa-trash"></i></a>
                              </span>
                              <a href="javascript://">Helen Hernandez</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row-fluid wrap-row">
                  <div class="span12">
                    <h6>Frequency</h6>
                    <div class="side-content">
                      <p>One time</p>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h6>Code</h6>
                    <div class="side-content">
                      <p>WORKFLOW-2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relevant-filter-group">
        <div class="relevant-block-wrap">
          {{#tasks}}
            {{> /static/mustache/mockup_base_templates/object_setup/repeating_block.mustache}}
          {{/tasks}}
        </div>
      </div>

    </div>
  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at 10/09/2015
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on 11/30/2016
        </em>
      </small>
    </p>
  </div>
{{/instance}}

{{> /static/mustache/workflow/workflow_setup_modal.mustache }}
