<div id="WorkflowSetup"
    class="modal hide fade modal-xwide ui-draggable"
    tabindex="-1"
    role="dialog"
    aria-labelledby="AssessmentDefineTemplateLabel"
    aria-hidden="true"
    data-template="/static/mustache/workflow/workflow_modal_content.mustache"
    {{data 'instance'}}
>
  <div class="modal-inner-content">
  </div>
</div>
