{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<section class="content">
  <div class="hideable-holder">
    <div class="basic-info">
      <div class="info">

        <div class="row-fluid wrap-row">
          <div class="span12">
            <div class="pull-right reset-form">
              {{> /static/mustache/mockup_base_templates/object_setup/fields_visibility_control.mustache}}
            </div>
          </div>
        </div>

        <a class="modal-dismiss" href="javascript://" data-dismiss="modal">
          <i class="fa fa-times black"></i>
        </a>

        <div class="choose-object-wrap">
          <div class="row-fluid">
            <div class="span8">
              <div class="row-fluid wrap-row">
                <div class="span12">
                  <h6>Workflow title</h6>
                  <input type="text" class="span12" value="Tribe Also Relationship">
                </div>
              </div>
              <div class="row-fluid wrap-row">
                <div class="span12 hidable" data-value="workflow_description">
                  <h6>Description</h6>
                  <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
                  <div class="wysiwyg-area">
                    <textarea rows="4" class="span12 triple wysihtml5">Actions internet shareholders customers has given right was reinforcing people interaction investigating decisions deals include. Both legal. Best like environment. By make concept. Etc corporate authority called. Mission governance given. Itself problems mission held.</textarea>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12 hidable hidden" data-value="workflow_custom">
                  <h6>Custom "Start Workflow" email message</h6>
                  <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
                  <div class="wysiwyg-area">
                    <textarea rows="4" class="span12 triple wysihtml5">Way independent norms articulated whom mediated often organizations. Risks non-governmental. One incorporated research. Governance governing interaction. Inter- was respect information. With governance distinguish. Unlike older articulated players.</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="row-fluid wrap-row">
                <div class="span12">
                  <h6>People</h6>
                  {{> /static/mustache/mockup_base_templates/info_panel/people_list.mustache}}
                </div>
              </div>
              <div class="row-fluid wrap-row">
                <div class="span12">
                  <h6>Frequency</h6>
                  <div class="side-content">
                    {{#frequency}}
                      {{> /static/mustache/mockup_base_templates/object_setup/object_select.mustache}}
                    {{/frequency}}
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <h6>Code</h6>
                  <div class="side-content">
                    <input type="text" class="span12" value="WORKFLOW-007">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relevant-filter-group">
      <div class="relevant-block-wrap">
        {{#tasks}}
          {{> /static/mustache/mockup_base_templates/object_setup/repeating_block.mustache}}
        {{/tasks}}
      </div>
    </div>
    {{#if tasks}}
      <div class="add-rule-wrap">
        {{> /static/mustache/mockup_base_templates/object_setup/repeating_block_control.mustache}}
      </div>
    {{/if}}
  </div>

  <div class="info">
    <div class="save-template-wrap">
      <div class="pull-right">
        {{> /static/mustache/mockup_base_templates/object_setup/template_master_controls.mustache}}
      </div>
    </div>
  </div>
</section>
