{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita
    Maintained By: sasmita
}}

<ul class="tree-structure new-tree dashboard-tree audit-tree">
  {{#audit_requests_data}}
  {{#list}}
    <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
      <div class="item-main" data-model="true" {{#instance}}{{data 'model'}}{{/instance}}>
        <div class="item-wrap">
          <div class="openclose">
          <!--/div>
          <div class="select"--> <!-- Fix in css- this puts the data in 2 lines -->
            <div class="item-data">
              <div class="row-fluid">
                <div class="span6">
                  <span class="status-label status-{{to_class instance.status '_'}}"></span>
                  <div class="tree-title-area w-status">
                    {{strip_html_tags instance.description}}
                    <ul class="item-util">
                      <li>
                        {{#using audit=instance.audit}}
                          Audit: <a href="{{audit.viewLink}}">{{audit.title}}</a>
                        {{/using}}
                      </li>
                     </ul>
                  </div>
                </div>
                <div class="span4">
                  <span class="state-value">{{instance.status}}</span>
                </div>
                <div class="span2">
                  <div class="show-details">
                    {{#using audit=instance.audit}}
                    {{#if audit.viewLink}}
                      {{#is_allowed "view_object_page" audit}}
                        <a href="{{audit.viewLink}}#Request_widget/request/{{instance.id}}" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                      {{/is_allowed}}
                    {{/if}}
                    {{/using}}
                  </div>
                  <ul class="tree-action-list">

                          <li>
                            <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of responses">
                              <i class="fa fa-files-o"></i>
                              {{#with_mapping_count instance 'responses'}}
                                {{count}}
                              {{/with_mapping_count}}
                            </span>
                          </li>

                  </ul>
                </div>
              </div> <!-- row-fluid end -->
            </div> <!-- item-data end -->
          </div> <!-- openclose end -->
        </div> <!-- item-wrap end -->
      </div> <!-- item-main end -->

      <!-- Tier 2 info -->
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <div class="details-wrap">
            <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
              {{#using audit=instance.audit}}
              {{#using program=audit.program}}
              {{#if_can_edit_request instance}}
                <li>
                  <a href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Request" data-object-plural="requests" data-object-id="{{instance.id}}">
                    <i class="fa fa-pencil-square-o"></i>
                    Edit Request
                  </a>
                </li>
              {{/if_can_edit_request}}
              {{/using}}
              {{/using}}
            </ul>
          </div>
          <div class="tier-content">
            <div class="row-fluid wrap-row">
              <div class="span6">
                <h6>Requested on</h6>
                {{#if instance.requested_on}}
                  {{#using requested_on=instance.requested_on}}
                    {{localize_date requested_on}}
                  {{/using}}
                {{/if}}
              </div>
              <div class="span6" data-force-refresh="true" {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
                <h6>Assignee</h6>
                {{#using assignee=instance.assignee}}
                  {{{renderLive '/static/mustache/people/popover.mustache' person=assignee}}}
                {{/using}}
              </div>
            </div>
            {{#using audit=instance.audit}}
              {{#with_mapping "audit_object_object" instance}}
                {{#if audit_object_object.0.instance}}
                  <div class="row-fluid wrap-row">
                    <div class="span12">
                      <h6>{{audit.object_model.table_singular}}</h6>
                      <p class="oneline">
                        <i class="fa fa-{{audit.object_model.table_singular}} color nomargin"></i>
                        {{#is_allowed "view_object_page" audit_object_object.0.instance}}
                          <a class="object-title" href="{{audit_object_object.0.instance.viewLink}}" target="_blank">{{audit_object_object.0.instance.title}}</a>
                        {{else}}
                          <span class="object-title" target="_blank">{{audit_object_object.0.instance.title}}</span>
                        {{/is_allowed}}
                      </p>
                    </div>
                  </div>
                {{/if}}
              {{/using}}
            {{/using}}

            {{{render_hooks 'Request.tree_view_info'}}}

            <div class="row-fluid wrap-row">
              <div class="span12">
                <h6>Notes</h6>
                {{{instance.notes}}}
              </div>
            </div>
            <div class="row-fluid wrap-row">
              <div class="span12">
                <h6>Test</h6>
                {{{instance.test}}}
              </div>
            </div>
          </div>
        </div>
      </div> <!-- tier-2-info -->
    </li>
  {{/list}}
  {{/audit_requests_data}}
  {{#if_equals audit_requests_count 0}}
    {{#if_equals show_audit true}}
      <li>
        <div class="zero-state">
          <h2>You don't have any requests assigned</h2>
        </div>
      </li>
    {{/if_equals}}
  {{/if_equals}}
</ul>
