{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita
    Maintained By: sasmita
}}


<ul class="tree-structure new-tree dashboard-tree task-tree">
  {{#task_data}}
  {{#filtered_list}}
    <li class="tree-item item-list" {{addclass "t-" instance.status}} {{addclass "t-" instance.overdue}} data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="item-main" {{data 'model'}}>
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list tasks-action">
                  <li> <!-- number of comment count -->
                    {{#with_mapping_count instance 'cycle_task_entries'}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of comments">
                      <i class="fa fa-comment-o"></i>
                      <strong class="error">{{count}}</strong>
                    </span>
                    {{/with_mapping_count}}
                  </li>
                  <li> <!-- due date -->
                    <span rel="tooltip" data-placement="top" {{#is_overdue instance.end_date instance.status}}class="error"{{/is_overdue}} data-original-title="Due On">
                      <i class="fa fa-clock-o {{#is_overdue instance.end_date instance.status}}red{{else}}color{{/if overdue_warning}}"></i>
                      {{localize_date instance.end_date}}
                    </span>
                  </li>
                  {{#using cycle=instance.cycle}}
                    {{#if_equals cycle.is_current true}}
                    {{#is_allowed 'update' instance}}
                    <li> <!-- buttons -->
                      <div class="request-control" {{ (el) -> $(el).bind('inserted', function() { el.ggrc_controllers_quick_form({ instance : el.closest('.item-list').data('model')}); }); }}>
                        {{#if_equals instance.status 'Assigned'}}
                          <button class="btn btn-mini btn-info change-task-status {{instance._disabled}}" data-openclose="open" data-name="status" data-value="InProgress">Start</button>
                        {{/status}}
                        {{#if_equals instance.status 'InProgress'}}
                          <button class="btn btn-mini btn-draft change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                        {{/if_equals}}
                        {{#if_equals instance.status 'Declined'}}
                          <button class="btn btn-mini btn-draft change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                        {{/if_equals}}
                        {{#if_equals instance.status 'Finished'}}
                          <button class="btn btn-mini btn-danger change-task-status {{instance._disabled}}" data-name="status" data-value="Declined">Decline</button>
                          <button class="btn btn-mini btn-success change-task-status {{instance._disabled}}" data-openclose="close" data-name="status" data-value="Verified">Verify</button>
                        {{/status}}
                        {{#if_equals instance.status 'Verified'}}
                          <span class="task-done">
                            <em>Verified</em>
                          </span>
                        {{/if_equals}}
                        {{#instance._undo.0}}
                          <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo {{instance._disabled}}">Undo</a>
                        {{/instance._undo.0}}
                      </div>
                    </li>
                    {{/is_allowed 'update' instance}}
                    {{/if_equals}}
                  {{/using}}
                </ul>
                <div class="item-data">
                  <span class="status-label {{addclass "status-" instance.status}} {{addclass "status-" instance.overdue}}"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">{{instance.title}}</a>
                    <ul class="item-util">
                      <li>
                        {{#using cycle=instance.cycle}}
                          {{#using workflow=cycle.workflow}}
                            Workflow: <a href="{{workflow.viewLink}}#current_widget">{{workflow.title}}</a>
                          {{/using}}
                        {{/using}}
                      </li>
                      <li>
                        {{#using instance=instance.cycle_task_group_object}}
                          {{#using object=instance.object}}
                            {{#if object.type}}
                              {{object.type}} : <a href="{{object.viewLink}}">{{firstnonempty object.title ''}}</a>
                            {{/if}}
                          {{/using}}
                        {{/using}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 2tier expanded info -->
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <div class="details-wrap">
            <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
              {{#is_allowed 'update' instance context='for'}}
              <li>
                <a href="javascript://"
                    data-object-singular-override="Task for current Workflow Cycle"
                    data-toggle="modal-ajax-form"
                    data-modal-reset="reset"
                    data-modal-class="modal-wide"
                    data-object-singular="{{instance.class.model_singular}}"
                    data-object-plural="{{instance.class.table_plural}}"
                    data-object-id="{{instance.id}}">
                  <i class="fa fa-pencil-square-o"></i>
                  Edit Task
                </a>
              </li>
              {{/is_allowed}}
            </ul>
          </div>
          <div class="tier-content">

            <div class="row-fluid wrap-row">
              <div class="span12">
                {{#if_helpers '\
                  #if_equals' instance.task_type 'text' '\
                  or #if_equals' instance.task_type "" '\
                  or #if_null' instance.task_type}}
                  <h6>Task details</h6>
                  <div class="tree-description">
                    {{{firstnonempty instance.description 'No additional details'}}}
                  </div>
                {{/if_helpers}}
                <br>
              </div>
            </div><!-- row-fluid end -->

            <div class="row-fluid wrap-row">
              <div class="span6">
                <h6>Assignee</h6>
                {{#if_workflow_assignee_privileges instance}}
                <div {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
                  {{#using contact=instance.contact}}
                    <div class="objective-selector">
                      <input type="text" name="contact.name" data-lookup="Person" class="search-icon input-block-level" {{#if_equals instance.status 'Verified'}}disabled="disabled"{{/if}} placeholder="Choose Assignee" value="{{firstnonempty contact.name contact.email ''}}">
                    </div>
                  {{/using}}
                </div>
                {{else}}
                  {{#using contact=instance.contact}}
                  <div>{{firstnonempty contact.name contact.email ''}}</div>
                  {{/using}}
                {{/if_workflow_assignee_privileges}}
              </div>
              <div class="span6">
                <h6>Starts/Ends</h6>
                {{instance.start_date}} / {{instance.end_date}}
              </div>
            </div><!-- row-fluid end -->

            {{#instance.class.tree_view_options.child_options.0}}
            {{#inject_parent_instance instance}}
              <div class="row-fluid wrap-row">
                {{#with_mapping_count instance "cycle_task_entries"}}
                <h6>Comments ({{count}})</h6>
                {{/with_mapping_count}}
                <ul class="entry-list" data-disable-lazy-loading="true" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data('options')).control("tree_view").display() }}>
                </ul>
              </div>
            {{/inject_parent_instance}}
            {{/instance}}
          </div><!-- tier-content end -->
        </div><!-- tier-2-info-content end -->
      </div><!-- tier-2-info end -->
    </li>
  {{/filtered_list}}
  {{/task_data}}
  {{#if_equals task_count 0}}
    <li>
      <div class="zero-state">
        <h2>You don't have any tasks assigned</h2>
      </div>
    </li>
  {{/if_equals}}
</ul><!-- tree-structure end -->
