{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}


<ul class="tree-structure new-tree dashboard-tree inline-task-filter">
  <li class="filter-wrap">
    <div class="filter-border">
      <form>
        <div class="row-fluid">
          <div class="span9">
            <ul>
              <li>
                <label>
                  Status
                </label>
                <select name="status" class="input-small">
                  <option value="">Any</option>
                  <option value="Verified">Verified</option>
                  <option value="Finished">Finished</option>
                  <option value="InProgress">In Progress</option>
                  <option value="Assigned">Assigned</option>
                </select>
              </li>
              <li>
                <input
                  class="input-block-level input-medium"
                  placeholder="Filter by Object"
                  type="text"
                  name="object"
                  value="{{cycle_task_group_object.title}}"
                  {{#task_data}}
                    {{data 'from-list'}}
                  {{/task_data}}
                  data-srclist="{{task_data}}"
                  data-lookup="cycle_task_group_object.object"
                  data-template="/directives/autocomplete_result.mustache"
                  null-if-empty="null-if-empty"
                  {{ autocomplete_select }}
                >
              </li>
              <li>
                <input
                  class="input-block-level input-medium"
                  placeholder="Filter by Workflow"
                  type="text"
                  name="workflow"
                  value="{{cycle.workflow.title}}"
                  {{#task_data}}
                    {{data 'from-list'}}
                  {{/task_data}}
                  data-lookup="cycle.workflow"
                  null-if-empty="null-if-empty"
                  {{ autocomplete_select }}
                >
              </li>
              <li>
                <label class="checkbox-inline">
                  <input class="checkbox filter-overdue" type="checkbox" value="overdue" name="overdue">
                  Overdue only
                </label>
              </li>
            </ul>
          </div>
          <div class="span3">
            <div class="pull-right">
              <label class="checkbox-inline">
                <input class="checkbox show-history" type="checkbox" name="show-history">
                Show history
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </li>
</ul>
