{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if unit}}
    <div class="repeat-summary">
        Repeat every {{unitText}}
    </div>
{{else}}
    {{#unless hideRepeatOff}}
        <div class="repeat-summary">
            Repeat Off
        </div>
    {{/unless}}
{{/if}}
