-#
-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-#
-extends "layouts/base.haml"

-block body
  .container-fluid.welcome
    %section.content
      .flash
        -with messages = get_flashed_messages(with_categories=True)
          -if messages
            -for category, message in messages
              %div{ 'class': "{{category}}" }
                %p
                  {{message|safe}}
                %a.close{'href': "javascript:void(0)", 'data-dismiss': "alert" }
                  %i.fa.fa-times

    .row-fluid
      .span12
        %h1
          GGRC
        %h2
          Governance, Risk and Compliance
        %p.centered
          %a.btn.btn-large.btn-lightBlue{:href => "/dashboard"} Login
          %br
          %br
          -if about_url
            %a.about-link{:href => "{{about_url}}", :target => "_blank"}
              {{about_text}}

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("LOGIN_JS_PATH")}}' }
