{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div data-id="effective_date_hidden" class="span4 hidable">
  <a data-id="hide_effective_date_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
  <datepicker
      tabindex="20"
      {label}="configStartDate.label"
      date="instance.start_date"
      set-max-date="instance.end_date"
      {helptext}="configStartDate.helpText"
      test-id="startTestId"
      {{#configStartDate.required}}required="true"{{/configStartDate.required}}
  />
</div>
