<!--
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By:
    Maintained By:
-->

{{! dashboard object listing}}
<ul class="tree-structure new-tree">
  {{#list}}
    <li class="tree-item {{resource_type.toLowerCase}}" data-model="true" {{data 'model'}}>
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{resource_type.toLowerCase}}-color" rel="tooltip" title="{{resource_type}}"></i>
                {{#revisions}}
                  <strong>
                    {{firstnonempty description display_name}};
                  </strong>
                {{/revisions}}
                <span class="event-owner">
                  by
                  {{#modified_by}}
                    {{email}}
                  {{/modified_by}}
                </span>
                <span class="event-time">
                  on {{date created_at}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/list}}
  {{#pager.next}}
  <li class="view-more-paging">
    <a href="javascript://">
      View More
      <i class="grcicon-down"></i>
    </a>
  </li>
  {{/pager.next}}
</ul>
