{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{! dashboard object listing}}
<!--
<div class="advanced-filters">
  <div class="row-fluid">
    <div class="span3">
      <select class="input-block-level">
        <option>Show All Events</option>
        <option>Mappings</option>
        <option>Unmappings</option>
        <option>Updates</option>
        <option>Creations</option>
        <option>Deletions</option>
      </select>
    </div>
    <div class="span5">
      <ul class="filter-date-range">
        <li>
          <span>Date Range:</span>
        </li>
        <li>
          <input class="input-small date" name="filter_start_date" data-toggle="datepicker" data-before="filter_end_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date filter_start_date}}"> - 
        </li>
        <li>
          <input class="input-small date" name="filter_end_date" data-toggle="datepicker" data-after="filter_start_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date filter_end_date}}">
        </li>
      </ul>
    </div>
    <div class="span4">
      <div class="objective-selector">
        {{#using owner=instance.owners.0 model_singular=model.model_singular}}
        <label>
          Owner
          <i class="grcicon-help-black" rel="tooltip" title="This is the person in charge of this {{model_singular}}."></i>
        </label>
        <input tabindex="3" class="input-block-level search-icon" name="owners.0.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist owner.email ''}}" />
        {{/using}}
        {{#using contact=contact}}
        <input type="text" name="contact.email" data-lookup="Person" class="span9 audit-selector search-icon" value="{{firstnonempty contact.email ''}}">
        <i class="grcicon-person-green"></i>
        {{/using}}
      </div>
    </div>
  </div>
</div>
-->
<ul class="tree-structure new-tree event-tree">
  {{#each list}}
    <li class="tree-item {{resource_type.toLowerCase}}" data-model="true" {{data 'model'}}>
      <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data">
              <div class="tree-title-area">
                <ul>
                  {{#revisions}}
                  {{^if_match resource_type 'Context|RoleImplication'}}
                  <li>
                    <strong>
                      {{firstnonempty description display_name}}
                    </strong>
                  </li>
                  {{/if_equals}}
                  {{/revisions}}
                  <li>
                    <span class="event-owner">
                      by
                      {{#using modified_by=modified_by}}
                        {{{render '/static/mustache/people/popover.mustache' person=modified_by}}}
                      {{/using}}
                    </span>
                  </li>
                  <li>
                    <span class="event-time">
                      on {{date created_at}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
  {{#if list.length}}
  <li class="tree-footer tree-item tree-item-add">
    {{#if has_prev_page}}
    <a href="javascript://" class="view-more-paging">
      Previous Page
    </a>
    {{/if}}

    {{#if has_next_page}}
    <a href="javascript://" class="pull-right view-more-paging" data-next="true">
      Next Page
    </a>
    {{/if}}
  </li>
  {{/if}}
</ul>
