{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#if personEmail}}
    <div class="person-list-item">
        <div class="person-list-item__title person-holder">
            {{#if withDetails}}
                <a data-test-id="text_manager_7a906d2e" href='mailto:{{personEmail}}' target="_blank">
                    <span class="person-name person-tooltip-trigger" data-placement="top">{{personEmail}}</span>
                </a>
            {{else}}
                <span class="person-name person-without-details">{{personEmail}}</span>
            {{/if}}
            {{#if hasNoAccess}}
                <span class="user-disabled">(Inactive user)</span>
            {{/if}}
            {{#if withDetails}}
              <div class="custom-popover-content">
                  <div class="preview-container person-preview">
                      <div class="profile-info">
                          <ul>
                              <li><h4>{{personName}}
                              {{#if hasNoAccess}}
                                  <span class="user-disabled">(Inactive user)</span>
                              {{/if}}
                              </h4></li>
                              <li><strong>Email:</strong>&nbsp;<a href="mailto:{{personEmail}}" target="_blank">{{personEmail}}</a></li>
                          {{#if person.company}}
                              <li><strong>Company:</strong>&nbsp;{{person.company}}</li>{{/if}}
                          </ul>
                          <a class="info-action" href="/people/{{person.id}}">View profile&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
            {{/if}}
        </div>
        <content/>
    </div>
{{/if}}
