{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{^if_equals parentInstance.status 'Verified'}}
  {{#with_mapping 'folders' instance}} {{! dummy to ensure the child content always updates}}
    {{#defer 'workflowFolder' instance.workflowFolder allow_fail=true}}
      {{#if workflowFolder.errors}}
        <small class="error-inline">
          <strong>Warning:</strong> You need permission to upload files to workflow folder. <a href="https://drive.google.com/folderview?id={{grdive_msg_to_id workflowFolder.message}}&usp=sharing#">Request access</a>.
        </small>
      {{else}}
        <div class="oneline">
          {{#if workflowFolder}}
            <ggrc-gdrive-picker-launcher 
              instance="instance"
              link_text="Attach supporting file"
              link_class="entry-attachment tree-item-add"
              {items-uploaded-callback}="@itemsUploadedCallback"
              click_event="trigger_upload_parent">
                Attach
            </ggrc-gdrive-picker-launcher>
          {{else}}
            <small class="error-inline">
              <strong>Warning:</strong> Workflow folder is not set. Please select a folder before uploading files.
            </small>
          {{/if}}
        </div>
      {{/need_permission}}
    {{else}}
      <div {{attach_spinner '{ "radius": 3, "length": 3, "width": 2 }' 'display:inline-block; top: -5px; margin-left: 5px;' }}></div>
    {{/defer}}
  {{/with_mapping}}
{{/if_equals}}
