{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

  <li data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <a href="{{schemed_url instance.link}}" data-popover-trigger="sticky-hover" data-sticky-popover="true" data-content="{{render '/static/mustache/pbc/iframe_tooltip.mustache' url=instance.link}}" href="{{schemed_url instance.link}}" target="_blank">
      <i class="grcicon-attach"></i>
      <span>{{firstnonempty instance.title instance.link}}</span>
    </a>
    {{^if_equals parent_instance.cycle_task_group_object_task.reify.status 'Verified'}}
      <a href="javascript://" class="info-action unmap" data-toggle="unmap">
        {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
        <i class="grcicon-deleted"></i>
      </a>
    {{/if_equals}}
  </li>
