{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


<li data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
  <div class="pull-right">
    <a href="#"></a>
    <a class="info-action" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="CycleTaskEntry" data-object-plural="{{instance.class.table_plural}}" data-object-id="{{instance.id}}">
    <i class="grcicon-edit"></i>
    </a>



    {{!#if allow_mapping}}
    {{#if mappings}}
    {{#is_allowed_all 'delete' mappings}}
    {{^is_dashboard}}
      <a href="javascript://" class="info-action unmap" data-toggle="unmap">
        {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
        <i class="grcicon-deleted"></i>
      </a>
    {{/is_dashboard}}
    {{/is_allowed_all}}
    {{/if}}
    {{!/if}}

  </div>
  {{instance.description}}

  <ul class="attachment-list">
    <li>
      <a href="#">
        <i class="grcicon-attach"></i>
        <span>supportingwalkthroughevidence.pdf</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="grcicon-attach"></i>
        <span>screenshot.pdf</span>
      </a>
    </li>
  </ul>
  <span class="entry-author">On {{date instance.created_at}}</span>
  <br />
  <a href="javascript://" class="entry-attachment" data-toggle="gdrive-picker">
    <i class="grcicon-attach-color"></i> Attach supporting file
  </a>
</li>
