{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#using task=instance}} {{! just a more descriptive alias}}

{{^if_equals task.status 'Verified'}}
  {{#using cycle=task.cycle}}
    {{#if cycle.is_current}}
    {{#is_allowed 'update' instance context='for'}}
      <li class="tree-footer tree-item-add inner-tree-footer non-stick">
        <a
          href="javascript://"
          class="btn btn-primary btn-mini section-create"
          data-object-singular-override="Comment"
          data-toggle="modal-ajax-form"
          data-modal-reset="reset"
          data-dirty="#regulations, #combo"
          data-route="regulations"
          data-modal-class="modal-wide"
          data-object-singular="CycleTaskEntry"
          data-object-plural="cycle_task_entries"
          data-object-params='{
            "cycle_task_group_object_task": {{task.id}},
            "cycle": {{task.cycle.id}},
            "context": {{task.context.id}}
          }'>
          Add Comment
        </a>
      </li>
    {{/is_allowed}}
    {{/if}}
  {{/using}}
{{/if_equals}}

{{/using}}
