{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!#if allow_mapping_or_creating}}
{{!#if allow_creating}}
<li class="tree-footer tree-item-add">
  <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-dirty="#regulations, #combo" data-route="regulations" data-modal-class="modal-wide" data-object-singular="CycleTaskEntry" data-object-plural="cycle_task_entries" data-object-params='{ "cycle_task_group_object_task": {{parent_instance.id}} }'>
    <strong>Add Entry</strong>
  </a>
</li>
{{!/if}}
{{!/if}}
