-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

-extends 'layouts/_widget_box.haml'

-set cycles = instance.cycles

-block widget_title
  %i.grcicon-audit
  Audits
  %span
    (={ cycles|length })
-block widget_help
  program_cycles

-block widget_id
  audit_cycles_widget

-block main
  %ul.tree-structure.new-tree
    -for cycle in cycles
      %li.tree-item.program
        .item-main
          %div{ 'class': 'simple-link' }
            .row-fluid
              .span12
                .item-data
                  .tree-title-area
                    =cycle.title
                    -if cycle.complete
                      %span.completed
                        completed
                    -else
                      -# FIXME: Implement 'days_ago_in_words' filter
                      -#if cycle.start_at == Time.zone.now.to_date
                        today
                      -#elif cycle.start_at < Time.zone.now.to_date
                        ={ cycle.start_at|days_ago_in_words } ago
                      -#else
                        starting in: ={ cycle.start_at|days_ago_in_words  }
                      -# FIXME: Implement 'strftime' filter
                      -#if cycle.end_at
                        &nbsp;&nbsp;&nbsp;
                        ends on: ={ cycle.end_at|strftime("%m/%d/%y") }
    %li.tree-item-add
      %a{ 'href': "new_flow_cycle_path(program_id => instance.id)", 'data-toggle': 'modal-ajax-form', 'data-modal-reset': 'reset', 'data-form-target': 'redirect' }
        .row-fluid
          .span12
            + Audit
