-extends 'layouts/_widget_box.haml'

-block widget_help
  program_contracts

-block widget_id
  program_contracts_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-contract-color
  Mapped Contracts

-block main
  #contracts
    %ul.tree-structure.new-tree
