-extends 'layouts/_widget_box.haml'

-block widget_help
  program_controls

-block widget_id
  program_controls_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-control-color
  Mapped Controls

-block main
  #controls.tab-pane
    %ul.tree-structure.new-tree

