-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: silas@reciprocitylabs.com
-# Maintained By: silas@reciprocitylabs.com

-extends "layouts/_widget_box.haml"

-block widget_help
  import

-block widget_id
  import_{{import_kind|underscore}}_widget

-block widget_buttons

-block widget_title
  .oneline
    %i.grcicon-imp-exp
    Import from file

-block main
  .info
    %form{"class":'import', "enctype":'multipart/form-data', "method":'post', "multipart":True, "data-remote":True,'data-type':'html','data-update-target':'#results-container'}
      %input{'name': 'return_to', 'value': '{{return_to}}', 'type': 'hidden'}
      .row-fluid.wrap-row
        .span8
          %h3
            Choose CSV file to upload
        .span4
          .download-template
            %a{"href": 'import_pbc_template'}
              %i.grcicon-imp-exp
              Download PBC Import template
      .row-fluid.wrap-row
        .span12
          %input{ 'name': 'file', 'value': 'choose file' , 'type': 'file' }
          .import-buttons
            %input{ 'value': 'Upload and Review', 'class': 'btn btn-large btn-info', 'type': 'submit' }

    -if exception_message is defined and not exception_message.show_preview
      -include 'programs/import_request_errors.haml'
    #results-container
