-extends 'layouts/_widget_box.haml'

-block widget_title
  %i.grcicon-info
  Program Info

-block widget_help
  program_info

-block widget_id
  program_info_widget

-block widget_view
  \/programs/info.mustache

-block main
  Loading...
