-extends 'layouts/_widget_box.haml'

-block widget_help
  program_directives

-block widget_id
  program_directives_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-directive-color
  Mapped Directives
  %span.subtitle
      (Regulations, Contracts, Policies)

-block main
  #directives
    %ul.tree-structure.new-tree
