-extends 'layouts/_widget_box.haml'

-block widget_help
  program_objectives

-block widget_id
  program_objectives_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-objective-color
  Mapped Objectives
  %span.explanation
    Does not include mappings to Directives, Objectives and Controls

-block main
  #objectives.tab-pane
    %ul.tree-structure.new-tree
