-extends 'layouts/_widget_box.haml'

-block widget_help
  program_policies

-block widget_id
  program_policies_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-policy-color
  Mapped Policies

-block main
  #policies
    %ul.tree-structure.new-tree
