-extends 'layouts/_widget_box.haml'

-block widget_help
  program_regulations

-block widget_id
  program_regulations_widget

-#block widget_class
  business

-block widget_title
  %i.grcicon-regulation-color
  Mapped Regulations

-block main
  #regulations
    %ul.tree-structure.new-tree
