-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: silas@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-block title
  Import/Export

-block header
  %h1.entities
    %span.title-prev
      %a.title-trigger{'href': '/dashboard' }
        %i.grciconlarge-dashboard-new{'rel': 'tooltip', 'data-original-title': 'My Work'}

    %span.title-slide
      %i.grciconlarge-import
      Import {{import_kind}}

    %a.nav-trigger.active{'href': 'javascript://'}
      %i.grciconlarge-nav-trigger{'rel': 'tooltip', 'data-placement': 'left', 'data-original-title': 'Hide menu'}

-block main
  .clearfix
    .object-area.import-area
      .column-set
        .row-fluid
          .span12.full-width
            .widget-area.inner-content
              -include 'programs/_import_controls.haml'
