-extends "base_objects/show.haml"

-block title
  GRC Program: ={ instance.title }

-block header
  %h1.programs
    .grcobject.programs{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "Program" }
      %i.grcicon-program
    %span
      %strong Program:
    =instance.title

-block main
  .clearfix
    .inner-nav
      %ul.nav{ 'class': "internav ={ model_display_class }", 'data-spy': 'affix', 'data-offset-top': '1' }

    .object-area
      #columns.column-set{ 'data-resize': "true" }
        #middle-column.widget-area
          -with widget_class = 'programs', widget_view_mustache = '/programs/info.mustache'
            -include 'programs/_info.haml'
          -with widget_class = 'widget-tabs widget-tabs-horizontal programs'
            -include 'programs/_main.haml'
            -include 'programs/_controls.haml'
          -with widget_class = 'widget-tabs widget-tabs-horizontal related business'
            -with widget_title = "Impact/Scope"
              -include 'shared/_related.haml'
          -with widget_class = 'programs'
            -include 'programs/_audit_cycles.haml'
          -with widget_class = 'related business'
            -include 'base_objects/_more_info.haml'
          -include 'shared/_add_widget_section.haml'
          -for extension in controller.extension_content(instance)
            -include extension

