-extends "base_objects/show.haml"

-block title
  GRC Program: ={ instance.title }

-block header
  %h1.programs
    .grcobject.programs{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "Program" }
      %i.grcicon-program
    %span
      %strong Program:
    =instance.title
    -if instance.context_id != None
      %span.private
        %i.grcicon-private{ 'rel': 'tooltip', 'title': 'Private' }

-block widget_area
  -with widget_class = 'programs'
    -include 'programs/_info.haml'
  -with widget_class = 'programs'
    -include 'programs/_regulations.haml'
    -include 'programs/_contracts.haml'
    -include 'programs/_policies.haml'
  -with widget_class = 'governance'
    -include 'programs/_controls.haml'
    -include 'programs/_objectives.haml'
  -#with widget_class = 'programs'
    -#include 'programs/_audit_cycles.haml'
  -with widget_class = 'programs'
    -include 'base_objects/_more_info.haml'
  -for extension in controller.extension_content(instance)
    -include extension
