-extends "base_objects/show.haml"

-block title
  GRC Program: ={ instance.title }

-block header
  %h1.programs
    .grcobject.programs{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "Program" }
      %i.grcicon-program
    %span
      %strong Program:
    =instance.title
    -if instance.context_id != None
      %span.private
        %i.grcicon-private{ 'rel': 'tooltip', 'title': 'Private' }

-block widget_area
  -for extension in controller.extension_content(instance)
    -include extension
