{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}

{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  <input type="hidden" name="definition_type" value="{{definition_type}}">
  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>Attribute title
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Give new {{model.model_plural}} a name."></i>
      </label>
      <input tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
    </div>
    <div class="span4">
      <label>
        Attribute type
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Choose the type of attribute to create."></i>
      </label>
      <select name="attribute_type" tabindex="2">
        {{#iterate 'Text', 'Rich Text', 'Date', 'Checkbox' 'Dropdown' 'Map:Person'}} {{! 'File upload' }}
        <option {{#if_equals iterator attribute_type}}selected="true"{{/if_equals}}>{{iterator}}</option>
        {{/iterate}}
      </select>
    </div>
    <div class="span2">
      <label>
        Mandatory
      </label>
      <input tabindex="3" type="checkbox" class="input-block-level" placeholder="Enter Placeholder" name="mandatory" type="text"  {{#if mandatory}}checked="checked"{{/if}}>
    </div>
  </div>
  {{#switch attribute_type}}
  {{#case "Text"}}
    <div class='row-fluid'>
      <div class="span6">
        <label>
          Inline help
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide text to help users understand what this attribute is for."></i>
        </label>
        <input tabindex="4" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
      </div>
      <div class="span6">
        <label>
          Placeholder
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide text to show in the text field when the value is empty or not set. This should help users to understand what type of value to provide."></i>
        </label>
        <input tabindex="5" class="input-block-level" placeholder="Enter Placeholder" name="placeholder" type="text" value="{{placeholder}}">
      </div>
    </div>
  {{/case}}
  {{#case "Rich Text"}}
    <div class='row-fluid'>
      <div class="span6">
        <label>
          Inline help
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide text to help users understand what this attribute is for."></i>
        </label>
        <input tabindex="4" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
      </div>
      <div class="span6">
        <label>
          Placeholder
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide text to show in the text field when the value is empty or not set. This should help users to understand what type of value to provide."></i>
        </label>
        <input tabindex="5" class="input-block-level" placeholder="Enter Placeholder" name="placeholder" type="text" value="{{placeholder}}">
      </div>
    </div>
  {{/case}}
  {{#case "Dropdown"}}
    <div class='row-fluid'>
      <div class="span12">
        <label>
          Possible values (separated by comma ",")
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide a list of values from which users will be able to choose."></i>
        </label>
        <input tabindex="4" class="input-block-level" placeholder="Enter possible values" name="multi_choice_options" type="text" value="{{multi_choice_options}}">
      </div>
    </div>
    <div class='row-fluid'>
      <div class="span6">
        <label>
          Inline help
          <i class="fa fa-question-circle" rel="tooltip"
            title="Provide text to help users understand what this attribute is for."></i>
        </label>
        <input tabindex="5" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
      </div>
    </div>
  {{/case}}
  {{#case "Checkbox"}}
  <div class='row-fluid'>
    <div class="span6">
      <label>
        Inline help
        <i class="fa fa-question-circle" rel="tooltip"
        title="Provide text to help users understand what this attribute is for."></i>
      </label>
      <input tabindex="4" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
    </div>
  </div>
  {{/case}}
  {{#case "Date"}}
  <div class='row-fluid'>
    <div class="span6">
      <label>
        Inline help
        <i class="fa fa-question-circle" rel="tooltip"
        title="Provide text to help users understand what this attribute is for."></i>
      </label>
      <input tabindex="5" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
    </div>
  </div>
  {{/case}}
  {{#case "Map:Person"}}
  <div class='row-fluid'>
    <div class="span6">
      <label>
        Inline help
        <i class="fa fa-question-circle" rel="tooltip"
        title="Provide text to help users understand what this attribute is for."></i>
      </label>
      <input tabindex="5" class="input-block-level" placeholder="Enter Help Text" name="helptext" type="text" value="{{helptext}}">
    </div>
  </div>
  {{/case}}
  {{#case "File upload"}}
    <div class='row-fluid'>
      File upload
    </div>
  {{/case}}
  {{/switch}}
</form>
{{/instance}}
