-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: 
-# Maintained By: 

-extends "base_objects/show.haml"

-block main
  .clearfix
    .inner-nav
      .object-nav{ 'data-spy': 'affix', 'data-offset-top': '1' }
        %ul.nav{ 'class': "internav ={ model_display_class }" }
        -include 'shared/_add_widget_section.haml'

    .object-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -with widget_class = model_display_class
            -include 'base_objects/_main.haml'
