-extends "base_objects/show.haml"

-block main
  .clearfix
    .inner-nav
      .object-nav{ 'data-spy': 'affix', 'data-offset-top': '1' }
        %ul.nav{ 'class': "internav ={ model_display_class }" }
        -include 'shared/_add_widget_section.haml'

    .object-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -with widget_class = model_display_class
            -include 'base_objects/_info.haml'
            -include 'base_objects/_main.haml'
