{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span6">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."></i>
      </label>
      <input tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <label>
        Description
        <i class="grcicon-help-black" rel="tooltip" title="Provide more details on the purpose of this {{model.model_singular}} and provide context for how and when this {{model.model_singular}} might be used."></i>
      </label>
      <div class="wysiwyg-area">
        <textarea tabindex="2" id="system_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description">{{{instance.description}}}</textarea>
      </div>
    </div>
    <div class="span6">
      {{#using contact=instance.contact}}
      <label>
        Contact
        <i class="grcicon-help-black" rel="tooltip" title="This is the person in charge of this {{model.model_singular}}."></i>
      </label>
      <input tabindex="3" class="input-block-level" name="contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist contact.email ''}}" />
      {{/using}}
      <label>
        Direct URL
        <i class="grcicon-help-black" rel="tooltip" title="Web link to the Sites page / {{model.model_singular}} documentation."></i>
      </label>
      <input tabindex="4" class="input-block-level" name="url" placeholder="http://www.domain.com/" type="text" value="{{url}}">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code, State
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span6">
        <label>
          Code
          <i class="grcicon-help-black" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        </label>
        <input tabindex="5" class="input-block-level" name="slug" placeholder="OBJECTIVE-XXX" type="text" value="{{slug}}">
      </div>
      <div class="span6">
        <label>
          State
          <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
        </label>
        <select class="input-block-level" name="state" null-if-empty="null-if-empty" tabindex="6">
          <option value="" {{#if_equals state ""}}selected{{/if_equals}}>---</option>
          <option value="0" {{#if_equals state "0"}}selected{{/if_equals}}>Draft</option>
          <option value="1" {{#if_equals state "1"}}selected{{/if_equals}}>Final</option>
          <option value="2" {{#if_equals state "2"}}selected{{/if_equals}}>Effective</option>
          <option value="3" {{#if_equals state "3"}}selected{{/if_equals}}>Ineffective</option>
          <option value="4" {{#if_equals state "4"}}selected{{/if_equals}}>Launched</option>
          <option value="5" {{#if_equals state "5"}}selected{{/if_equals}}>Not Launched</option>
          <option value="6" {{#if_equals state "6"}}selected{{/if_equals}}>In Scope</option>
          <option value="7" {{#if_equals state "7"}}selected{{/if_equals}}>Not in Scope</option>
        </select>
      </div>
    </div>
  </div>
</form>
{{/instance}}
{{!/div}}
