{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{> /static/mustache/base_objects/dropdown_menu_tier2.mustache}}

<div class="tier-content">
  {{>'/static/mustache/base_objects/general_info.mustache'}}
  {{>'/static/mustache/base_objects/description.mustache'}}
  {{{renderLive '/static/mustache/base_objects/notes_and_code.mustache' instance=instance}}}
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
  {{{renderLive '/static/mustache/base_objects/contacts.mustache' instance=instance}}}
  {{{renderLive '/static/mustache/base_objects/urls.mustache' instance=instance}}}
</div>
