{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid wrap-row">
  <div class="span12">
    <h6>
      Select attributes to show in report
    </h6>
    <div class="attribute-wrap">
      <ul class="attr-list">
        {{#columns}}
        <li>
          <label><input can-value="selected.{{attr_name}}" type="checkbox" name="{{attr_name}}" checked>{{attr_title}}</label>
        </li>
        {{/columns}}
      </ul>
    </div>
  </div>
</div>
