{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid wrap-row">
  <div class="span12">
    <h6>
      Select attributes to show in report
    </h6>
    <div class="attribute-wrap">
      <ul class="attr-list">
        <li>
          <label>
            <input type="checkbox" name="" id="" checked>
            Title
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Description
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="" checked>
            Owner
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Contact
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Notes
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            System URL
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Reference URL
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Code
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Network Zone
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Effective date
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Stop date
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            State
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            System URL
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Reference URL
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Code
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Network Zone
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Effective date
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            Stop date
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="" id="">
            State
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
