{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid wrap-row">
  <div class="span4">
    <h6>Filter Query</h6>
    <div class="inline-filtering inline-filtering-transparent">
      <div class="filter-input">
        <input can-value="filter" name="filter_query" type="text" class="input-wide">
        <span class="is-expression">
          <i class="grcicon-expression-black"></i>
        </span>
      </div>
    </div>
  </div>
</div>

