{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid wrap-row">
  <div class="span10">
    <h6>Filter Query</h6>
    <div class="inline-filtering inline-filtering-transparent">
      <div class="filter-input{{#isFilterActive}} expression{{/isFilterActive}}">
        <input can-value="item.filter" name="filter_query" type="text" class="input-wide">
        <span class="is-expression">
          <i class="fa {{#if isFilterActive}}fa-check-circle green{{else}}fa-check-circle-o{{/if}}"></i>
        </span>
      </div>
    </div>
  </div>
</div>

