{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid">
  <div class="span4">
    <h6>
      Query by Object type
    </h6>
    <div class="single-line-filter">
      <select class="input-block-level option-type-selector">
        <optgroup label="Governance">
          <option value="Program">Programs</option>
          <option value="Regulation">Regulations</option>
          <option value="Standard">Standards</option>
          <option value="Policy">Policies</option>
          <option value="Contract">Contracts</option>
          <option value="Objective">Objectives</option>
          <option value="Control">Controls</option>
          <option value="Section">Sections</option>
          <option value="Clause">Clauses</option>
        </optgroup>
        <optgroup label="People/Groups">
          <option value="People">People</option>
          <option value="OrgGroup">Org Groups</option>
        </optgroup>
        <optgroup label="Assets/Business">
          <option value="System">Systems</option>
          <option value="Process">Processes</option>
          <option value="DataAsset">Data Assets</option>
          <option value="Facility">Facilities</option>
          <option value="Market">Markets</option>
          <option value="Product">Products</option>
          <option value="Project">Projects</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
