{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="relevance-filters">
    <div class="row-fluid">
      <div class="span12">
        <h6>Add filters by mapping relevance</h6>
        <div class="single-line-filter">
          <button type="submit" class="remove_filter">
            <i class="grcicon-deleted"></i>
          </button>
          <label><strong>Relevant to:</strong></label>
          <select class="input-small relevant-set-choose">
            <option value="Program" label="Program">Program</option>
            <option value="Regulation">Regulation</option>
            <option value="Policy">Policy</option>
            <option value="Standard">Standard</option>
            <option value="Contract">Contract</option>
            <option value="Clause">Clause</option>
            <option value="Section">Section</option>
            <option value="Objective">Objective</option>
            <option value="Control">Control</option>
            <option value="Person">Person</option>
            <option value="System">System</option>
            <option value="Process">Process</option>
            <option value="DataAsset">Data Asset</option>
            <option value="Product">Product</option>
            <option value="Project">Project</option>
            <option value="Facility">Facility</option>
            <option value="Market">Market</option>
          </select>
          <input class="input-large search-icon search-filter0 ui-autocomplete-input" placeholder="Type to search for object" type="text" name="" value="">
        </div>
        <div class="add-rule">
          <a href="#" id="addFilterRule" class="addFilterRule">+ Add New Rule</a>
        </div>
      </div>
    </div>
  </div>
