{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita
    Maintained By: sasmita
}}

{{! DEPRECATED }}

<section class="info">
  {{#is_info_pin}}
  <div class="clearfix">
    <div class="tier-content pin">
      <div class="info-pane-utility">
        {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
      </div>
      {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
    </div>
  </div>
  {{/is_info_pin}}

	{{#instance}}
  <div class="row-fluid">
    <div class="span6">
      <h3>{{instance.title}}</h3>
    </div>
    <div class="span6">&nbsp;</div>
  </div>


  <div class="row-fluid">
    <div class="span6">
      <div class="rtf-block">
        <p>{{{firstnonempty instance.description '<em>No description</em>'}}}</p>
      </div>
    </div>
    <div class="span6">
      {{{renderLive '/static/mustache/base_objects/contacts.mustache' instance=instance stacked=true}}}
    </div>
  </div>

  <div class="info-widget-footer">
    {{#is_allowed 'update' instance context='for'}}
    <p class="pull-right">
      <a href="javascript://" class="info-edit" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{model.model_title}}" data-object-id="{{instance.id}}">
        <i class="grcicon-edit"></i>
        <span>Edit {{model.model_title}}</span>
      </a>
    </p>
    {{/is_allowed}}
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          <br>
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>

  </div>
{{/#instance}}
</section>
