{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<form action="javascript://">
  <div class="row-fluid">
    <div class="span8">
      <label>
        Summary
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Give new {{model.model_singular}} a summary that is easy to search for and indicates the main goals of this {{model.model_singular}}"></i>
      </label>
      <input class="input-block-level required" id="task-title" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
      <br>
    </div>
    <div class="span4">
      {{#using owner=instance.contact model_singular=model.model_singular}}
      <label>
        Assignee
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="This is the person in charge of this {{model_singular}}."></i>
      </label>
      <input tabindex="2" class="input-block-level" name="contact.email" data-lookup="Person" data-list="true" placeholder="Enter email address" type="text" value="{{firstexist owner.email ''}}" />
      {{/using}}
      <br>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <label>
        Task Details
        <i class="grcicon-help-black" rel="tooltip" title="Provide more details on the purpose of this {{model.model_singular}} and provide context for how and when this {{model.model_singular}} might be used."></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{instance.description}}</textarea>
      </div>
    </div>
  </div>
</form>
