{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: samo@reciprocitylabs.com
    Maintained By: samo@reciprocitylabs.com
}}

<div class="row-fluid">
  <div data-id="workflow_folder_hidden" class="span8 hidable">
    <ggrc-gdrive-folder-picker instance="instance" deferred="true" tabindex="6" placeholder="If selected, all workflow attachments go here."/>
    <a data-id="hide_workflow_folder_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
  </div>
</div>
