{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<modal-mapper object="{{object}}" type="{{type}}" join-object-id="{{join-id}}">
  <div class="modal-header">
    <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-grey"></i>
    </a>
    <h2>
      Map object
    </h2>
  </div>
  <div class="modal-filter">
    <div class="row-fluid">
      <div class="span3">
        <h6>Object type</h6>
        <mapper-selector type="{{type}}">
          <select>
            {{#each groups}}
              {{#if items}}
                <optgroup label="{{name}}">
                  {{#each items}}
                    <option {{#isSelected}}selected="selected"{{/isSelected}}
                            data-singular="{{singular}}"
                            data-plural="{{plural}}"
                            value="{{value}}"
                            label="{{name}}"
                    ></option>
                  {{/each}}
                </optgroup>
              {{else}}
                <option {{#isSelected}}selected="selected"{{/isSelected}}
                        data-singular="{{singular}}"
                        data-plural="{{plural}}"
                        value="{{value}}"
                        label="{{name}}"
                ></option>
              {{/if}}
            {{/each}}
          </select>
        </mapper-selector>
      </div>
      <div class="span6">
        <div class="modal-search">
          <div class="row-fluid">
            <div class="span8">
              <h6>Matching terms</h6>
              <div class="modal-search objective-selector">
                <input id="search" class="input-block-level" placeholder="Enter text to search..." can-value="term" type="text" autofocus>
              </div>
            </div>
            <div class="span4">
              <h6>Filter by person</h6>
              <div class="modal-search objective-selector">
                  {{#owner}}
                  <input
                    id="search-by-owner"
                    class="search-by-owner input-block-level"
                    placeholder="Find owner or contact"
                    type="text"
                    name="owner"
                    value="{{firstnonempty name email title}}"
                    data-lookup="Person"
                    data-template="/people/autocomplete_result.mustache"
                    null-if-empty="null-if-empty"
                    {{ autocomplete_select }}
                  >
                  {{/owner}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="pull-right">
          <mapper-create-new>
            <a
               href="javascript://"
               data-toggle="modal-ajax-form"
               data-modal-class="modal-wide"
               data-object-singular="{{singular}}"
               data-object-plural="{{plural}}"
               data-join-object-id="{{join-id}}"
               {{#if_equals value "AllObject"}}class="disabled"{{/if}}
            >
              <i class="grcicon-add-black"></i>
              Create New {{^if_equals value "AllObject"}}{{value}}{{/if}}
            </a>
          </mapper-create-new>
        </div>
      </div>
    </div>
    <div class="relevance-filters">
      <div class="row-fluid">
        <div class="span12">
          <mapper-filter>
            <h6>Filter by mapping relevance</h6>
            {{#each panels}}
            <div class="single-line-filter">
              <button type="submit" data-index="{{@index}}" class="remove_filter">
                <i class="grcicon-deleted"></i>
              </button>
              <label>
                {{#if @index}}AND {{/if}}Relevant to:
              </label>
              <select class="input-small filter-type-selector select-filter{{@index}}" can-value="model_name">
                {{#menu}}
                <option
                  value="{{model_singular}}"
                  label="{{title_singular}}">
                </option>
                {{/menu}}
              </select>
              {{#filter}}
              {{#model_name}}
                <div class="modal-search objective-selector">
                  <input
                    class="input-large search-icon search-filter-{{@index}}"
                    placeholder="Enter text to search for {{model_name}}"
                    type="text"
                    data-index="{{@index}}"
                    name="filter_list.{{@index}}.filter"
                    value="{{firstnonempty filter.name filter.email filter.title}}"
                    data-lookup="{{this}}"
                    data-template="/{{#if_equals model_name 'Person'}}people{{else}}base_objects{{/if_equals}}/autocomplete_result.mustache"
                    {{ autocomplete_select }}
                    >
                </div>
              {{/model_name}}
              {{/filter}}
            </div>
            {{/each}}
            <div class="add-rule">
              <a href="javascript://" class="add-filter-rule">+ Add New Rule</a>
            </div>
          </mapper-filter>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-actions">
    <div class="row-fluid">
      <div class="span12">
        <a class="btn btn-small btn-info pull-right modalSearchButton" href="javascript://">
          Search
        </a>
      </div>
    </div>
  </div>
  <div class="results">
    <mapper-results join-object-id="{{join-id}}" items-per-page="20">
      <div class="row-fluid">
        <div class="span9">
          <strong>
            {{ entries.length }} Objects found
          </strong>
        </div>
        <div class="span3">
          <label rel="tooltip" data-placement="right" data-original-title="Mapping more than 100 items may take a long time to process. Please consider refining your search criteria.">
            Select all
            <input type="checkbox" {{#if selected_all}}checked{{/if}} class="object-check-all">
          </label>
        </div>
      </div>
      <div class="results-wrap">
          <ul class="result-tree">
            {{> /static/mustache/selectors/object_selector_option_items.mustache}}
          </ul>
          {{#if isLoading}}
            <div class="row-fluid clearfix">
              <span {{attach_spinner '{ "radius": 4, "length": 7, "width": 2 }'}} style="margin: 20px auto; display: block; width: 40px;"></span>
            </div>
          {{/if}}
      </div>
    </mapper-results>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span6">
        <div class="deny-buttons"></div>
      </div>
      <div class="span6">
        <div class="confirm-buttons">
          <span>
            <strong> {{ selected.length }} objects selected </strong>
          </span>
          <a class="{{^if selected.length}}disabled{{/if}} btn-map btn btn-small btn-success preventdoubleclick" href="#">
            Add Selected
          </a>
        </div>
      </div>
    </div>
  </div>
</modal-mapper>
