{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<modal-mapper object="{{object}}" type="{{type}}" join-object-id="{{join-id}}">
  <div class="modal-header">
    <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-grey"></i>
    </a>
    <h2>Map object {{^if_equals mapper.type "AllObject"}}to {{mapper.type}}{{/if}}</h2>
  </div>
  <div class="modal-filter">
    <div class="row-fluid">
      <div class="span3">
        <h6>Object type</h6>
        <select can-value="mapper.type" name="type-select">
          {{#each mapper.types}}
            {{#if items}}
              <optgroup label="{{name}}">
                {{#each items}}
                  <option data-singular="{{singular}}"
                          data-plural="{{plural}}"
                          value="{{value}}"
                          label="{{name}}"
                  ></option>
                {{/each}}
              </optgroup>
            {{else}}
              <option data-singular="{{singular}}"
                      data-plural="{{plural}}"
                      value="{{value}}"
                      label="{{name}}"
              ></option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <div class="span6">
        <div class="modal-search">
          <div class="row-fluid">
            <div class="span7">
              <h6>Matching terms</h6>
              <div class="modal-search objective-selector">
                <input id="search" class="input-block-level" placeholder="Enter text to search..." can-value="mapper.term" type="text" autofocus>
              </div>
            </div>
            <div class="span5">
              <h6>Filter by owner or contact</h6>
              <div class="modal-search objective-selector">
                  {{#mapper.contact}}
                  <input
                    id="search-by-owner"
                    class="search-by-owner input-block-level"
                    placeholder="Find owner or contact"
                    type="text"
                    name="contact"
                    value="{{firstnonempty name email title}}"
                    data-lookup="Person"
                    data-template="/people/autocomplete_result.mustache"
                    null-if-empty="null-if-empty"
                    {{ autocomplete_select }}
                  >
                  {{/mapper.contact}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="pull-right">
          {{^if_equals mapper.type "AllObject"}}
            <a
               href="javascript://"
               data-toggle="modal-ajax-form"
               data-modal-class="modal-wide"
               data-object-singular="{{mapper.model.singular}}"
               data-object-plural="{{mapper.model.plural}}"
               data-join-object-id="{{mapper.join_object_id}}"
            >
              <i class="grcicon-add-black"></i>
              Create New {{mapper.type}}
            </a>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="relevance-filters">
      <div class="row-fluid">
        <div class="span12">
          <mapper-filter type="mapper.type" relevant="mapper.relevant">
            <h6>Filter by mapping relevance</h6>
            {{#each relevant}}
              <div class="single-line-filter">
                <button type="submit" data-index="{{@index}}" class="remove_filter">
                  <i class="grcicon-deleted"></i>
                </button>
                <label>
                  {{#if @index}}AND {{/if}}Relevant to:
                </label>
                <select class="input-small filter-type-selector select-filter{{@index}}" can-value="model_name">
                  {{#menu}}
                  <option
                    value="{{model_singular}}"
                    label="{{title_singular}}">
                  </option>
                  {{/menu}}
                </select>
                {{#filter}}
                {{#model_name}}
                  <div class="modal-search objective-selector">
                    <input
                      class="input-large search-icon search-filter-{{@index}}"
                      placeholder="Enter text to search for {{model_name}}"
                      type="text"
                      data-index="{{@index}}"
                      name="filter_list.{{@index}}.filter"
                      value="{{firstnonempty filter.name filter.email filter.title}}"
                      data-lookup="{{this}}"
                      data-template="/{{#if_equals model_name 'Person'}}people{{else}}base_objects{{/if_equals}}/autocomplete_result.mustache"
                      {{ autocomplete_select }}
                      >
                  </div>
                {{/model_name}}
                {{/filter}}
              </div>
            {{/each}}
            <div class="add-rule">
              <a href="javascript://" class="add-filter-rule">+ Add New Rule</a>
            </div>
          </mapper-filter>
        </div>
      </div>
    </div>
  </div>
  <mapper-results
      isloading="mapper.isLoading"
      object="mapper.object"
      entries="mapper.entries"
      mapper="mapper"
      types="mapper.types"
      type="mapper.type"
      selected="mapper.selected"
      contact="mapper.contact"
      term="mapper.term"
    items-per-page="20">
    <div class="filter-actions">
      <div class="row-fluid">
        <div class="span12">
          <a class="btn btn-small btn-info pull-right modalSearchButton" href="javascript://">
            Search
          </a>
        </div>
      </div>
    </div>
    <div class="results">
      <div class="row-fluid">
        <div class="span9">
          <strong>
            {{ entries.length }} Objects found
          </strong>
        </div>
        <div class="span3">
          <label rel="tooltip" data-placement="right" data-original-title="Mapping more than 100 items may take a long time to process. Please consider refining your search criteria.">
            Select all
            <input type="checkbox" can-value="mapper.allSelected" class="object-check-all"
              {{#if pageLoading}}disabled="true"{{/if}}
              {{#if mapper.allSelected}}checked="checked"{{/if}}
            >
          </label>
        </div>
      </div>
      <div class="results-wrap">
          <ul class="result-tree">
            {{> /static/mustache/selectors/object_selector_option_items.mustache}}
          </ul>
          {{#if pageLoading}}
            <div class="row-fluid clearfix">
              <span {{attach_spinner '{ "radius": 4, "length": 7, "width": 2 }'}} style="margin: 20px auto; display: block; width: 40px;"></span>
            </div>
          {{/if}}
      </div>
    </div>
  </mapper-results>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span6">
        <div class="deny-buttons"></div>
      </div>
      <div class="span6">
        <div class="confirm-buttons">
          <span>
            <strong>
                  {{#if mapper.isLoading }}
                    <span {{attach_spinner '{ "radius": 3, "length": 3, "width": 2 }'}} style="margin: 20px auto; display: block; width: 40px;"></span>
                  {{else}}
                    {{mapper.selected.length}}
                  {{/if}}
                  objects selected </strong>
          </span>
          <a class="
              {{^if mapper.selected.length}}disabled{{/if}}
              {{#if isLoading}}disabled{{/if}}
              btn-map btn btn-small btn-success preventdoubleclick" href="#">
            Add Selected
          </a>
        </div>
      </div>
    </div>
  </div>
</modal-mapper>
