<modal-mapper
    deferred="deferred"
    deferred_list="list"
    deferred_to="deferred_to"
    search-only="{{search-only}}"
    object="{{object}}"
    type="{{type}}"
    join-object-id="{{join-object-id}}"
>
</modal-mapper>
