{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<modal-mapper
    deferred="deferred"
    deferred_list="list"
    deferred_to="deferred_to"
    search-only="{{search-only}}"
    object="{{object}}"
    type="{{type}}"
    join-object-id="{{join-object-id}}"
>
</modal-mapper>
