{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<a class="bulk-update-button">
  <i class="fa fa-fw fa-refresh"></i>
  Bulk Update
</a>
