{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="row-fluid">
  <div class="span3">
    &nbsp;
  </div>
  <div class="span9">
    <div class="confirm-buttons">
      <a class="btn btn-small btn-green" data-dismiss="modal" href="javascript://">Done</a>
    </div>
  </div>
</div>
