{{!
    Copyright (C) 2019 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="row-fluid">
  <div class="span9">
    &nbsp;
  </div>
  <div class="span3">
    <div class="confirm-buttons">
      <a class="btn btn-small btn-green" data-toggle="confirm" href="javascript://">{{firstnonempty modal_confirm 'Ok'}}</a>
    </div>
  </div>
</div>
