-# Copyright (C) 2017 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "mockups/base.haml"
-set logo_wrap_class = "single"

-block title
  Assessor mockup

-block header
  -include 'mockups/_page_header.haml'

-block nav
