-# Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: ivan@reciprocitylabs.com
-# Maintained By: ivan@reciprocitylabs.com

-extends "mockups/base.haml"
-set logo_wrap_class = "single"

-block title
  Assessor mockup

-block header
  -include 'mockups/_page_header.haml'

-block nav
