-# Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-extends "mockups/dashboard-assessor.haml"

-block title
  Mockups Sample

-block header
  -include 'mockups/_page_header.haml'

-block nav
  .top-inner-nav
    .object-nav
      %ul.nav.internav

-block main
  .clearfix
    .object-area
      #show-columns.column-set
        #middle-column
          .row-fluid
            .span12.full-width
              .inner-content

    .info-pin.hidden

-block extra_templates
  -assets "mockup-js-templates"
    %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
  -endassets

-block extra_assets
  -assets "mockup-js"
    %script{ type:'text/javascript', src:"={ASSET_URL|with_static_subdomain}" }
  -endassets
