-# Copyright (C) 2017 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends 'layouts/base.haml'

-block extra_javascript
  GGRC.permissions = ={ permissions_json()|safe };
  GGRC.current_user = ={ current_user_json()|safe };
  GGRC.config = ={ config_json()|safe };
  GGRC.custom_attr_defs =  ={ attributes_json()|safe }
  GGRC.model_attr_defs =  ={ all_attributes_json()|safe }

-block page_help scoped
  dashboard

-block body
  %header.header.main
  .area{ 'class': '={ model_display_class }' }
    .header-content
      %h2.logo-wrap.single
        %a{ 'class': 'to-my-work', 'href': '/dashboard' }
          -set logo_url = config.get("COMPANY_LOGO")
          -if logo_url
            %img{ "src" : "#{logo_url}", 'alt' : 'GRC', 'title' : 'GRC'}
      #page-header
        -block header

    %section.content
      .flash
        -with messages = get_flashed_messages(with_categories=True)
          -if messages
            -for category, message in messages
              %div{ 'class': "{{category}}" }
                %a.close{'href': "#", 'data-dismiss': "alert" }
                  x
                %p
                  {{message}}
      -block main
        .object-area.row-fluid.full-width
          .inner-content.widget-area
            -block widget_area
        .pin-content

    %section.footer
      =config.get('COPYRIGHT')
      =config.get('COMPANY')
      Version
      =config.get('VERSION')
      .analytics
        ={config.get('GOOGLE_ANALYTICS_SCRIPT') | safe}

  #lhn
    #lhs.lhs.accordion{ 'data-template': '/dashboard/lhn.mustache' }
