-# Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: ivan@reciprocitylabs.com
-# Maintained By: ivan@reciprocitylabs.com

-extends "mockups/base.haml"

-block title
  Mockups

-block main
  %div{"style": "width: 30%; margin: 3em auto 0; padding: 2em; background: white; border: 1px solid #ccc"}
    %h2{"style": "margin-bottom: 20px;"}
      Mockup links
    %ul
      %li
        %a{"href": '/mockups/request'}
          Request and Assessments mockup
      %li
        %a{"href": '/mockups/assessor'}
          Assessor view mockup
      %li
        %a{"href": '/mockups/workflow'}
          Workflow mockup
      %li
        %a{"href": '/mockups/quick-workflow'}
          Quick workflow creation mockup
