<!DOCTYPE html>

<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Governance, Risk and Compliance - Mockups</title>
	
	<link rel="stylesheet" href="/static/dashboard.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	
</head>
<body>

  <header class="header main">
    <div class="header-bar">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="logo pull-left">
              <a href="/dashboard">Google GRC</a>
            </div>
            <ul class="menu">
              <li class="black-link">
                <a id="page-help" href="javascript://" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="help">
                  <i class="grcicon-help"></i>
                  <span>Help</span>
                </a>
              </li>
              <li class="user dropdown dropdown-black black-link">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">
                  <i class="grcicon-user"></i>
                  <span>user@example.com</span>
                  <i class="grcicon-carot-white"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                  <li class="show-role">
                    <i class="grcicon-role-white"></i>
                    Role: gGRC Admin
                  </li>
                  <li>
                    <a href="/dashboard">
                      <i class="grcicon-dashboard"></i>
                      My Work (gGRC Admin)
                    </a>
                  </li>
                  <li>
                    <a href="/admin">
                      <i class="grcicon-admin"></i>
                      Admin Dashboard
                    </a>
                  </li>
                  <li>
                    <a class="clear-display-settings" href="#" tabindex="-1">
                      <i class="grcicon-desktop"></i>
                      Reset Layout to Default
                    </a>
                  </li>
                  <li>
                    <a class="set-display-settings-default" href="#" tabindex="-1">
                      <i class="grcicon-desktop"></i>
                      Set Layout as Default
                    </a>
                  </li>
                  <li>
                    <a href="#" tabindex="-1">
                      <i class="grcicon-logout"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <section class="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div style="padding-left:20px;">
            <h2>Click the button below to change color.</h2>
            <br>
            <a class="color-trigger btn btn-info" href="#">Change Text Color</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script type="text/javascript" src="/static/mockups/js/jquery.js"></script>
	<script type="text/javascript" src="/static/mockups/js/common.js"></script>

</body>
</html>
