-# Copyright (C) 2017 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "mockups/base.haml"

-block title
  Quick Workflow mockup

-block header
  -include 'base_objects/_page_header.haml'
