-# Copyright (C) 2015 Reciprocity, Inc - All Rights Reserved
-# Unauthorized use, copying, distribution, displaying, or public performance
-# of this file, via any medium, is strictly prohibited. All information
-# contained herein is proprietary and confidential and may not be shared
-# with any third party without the express written consent of Reciprocity, Inc.
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-extends "layouts/dashboard.haml"

-block title
  GRC: My Work

-block extra_javascript
  =super()
  GGRC.page_object = { "person": ={ current_user_json()|safe } };

-block header
  %h1{ 'class': "={ model_display_class }" }
    .grcobject{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "Person", 'class': "" }
      %i.grcicon-person
    My Work

-block widget_area
