{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<form action="javascript://">
  <div class="row-fluid">
    <div class="span12">
      <h3>{{#using object=instance.original_object}}{{object.title}}{{/using}}</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>{{#using object=instance.original_object}}{{{object.description}}}{{/using}}</h3>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <label for="program_description">
        Reviewer
        <i class="grcicon-help-black" rel="tooltip" title="Reviewer to assign"></i>
      </label>
      <div class="people-autocomplete">
        <input tabindex="2" type="text" name="contact.email" class="span11 search-icon required" value="{{firstnonempty instance.contact.email}}" placeholder="Enter text to search for Workflow Owner" data-lookup="Person">
      </div>
    </div>
    <div class="span4">
      <label for="task_group_assignee">
        <span>End Date</span>
        <span class="required">*</span>
      </label>
      <input tabindex="4" class="date input-small" name="end_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="{{localize_date instance.end_date}}">
    </div>
  </div>
</form>
