{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<ul class="{{#if treeViewClass}}{{treeViewClass}}{{else}}attachment-list{{/if}}">
  {{#if mappedObjects.length}}
    {{#mappedObjects}}
      {{#using instance=instance}}
        {{{render itemTemplate instance=instance baseInstance=baseInstance parentInstance=parentInstance reusedObjects=reusedObjects mapping=mapping isLoading=isLoading isExpandable=isExpandable}}}
      {{/using}}
    {{/mappedObjects}}
  {{else}}
    {{#if emptyText}}
      <li class="empty-message">{{emptyText}}</li>
    {{/if}}
  {{/if}}
</ul>
