{{!
  Copyright (C) 2018 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="person">
  {{#if personObj}}
    <person-data {person}="personObj"></person-data>
    <content/>

    {{#if editable}}
    <a href="javascript://" class="unmap" title="Remove">
      <i class="fa fa-trash"></i>
    </a>
    {{/if}}
  {{else}}
    <span class="empty-message">{{emptyText}}</span>
  {{/if}}
</div>
