{{! dashboard object listing}}
<ul class="tree-structure simple single-row-tabs">
{{#list}}
  <li data-model="true" {{data 'model'}} class="{{object_type}}">
    <a href='javascript://'>
      <div class="row-fluid">
        <div class="span12">
          <div class="item-identifier">
            <span class="title">
                {{#revisions}}
                  <div>
                  At {{created_at}}
                  {{#modified_by}}
                      User {{id}}
                  {{/modified_by}}
                    {{action}} {{resource_type}} {{resource_id}}
                  </div>
                {{/revisions}}
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>
{{/list}}
</ul>
