{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="row-fluid">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span9">
      <div class="confirm-buttons">
        <a class="btn" data-dismiss="modal" href="javascript://">Close</a>
      </div>
    </div>
  </div>
