{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!div class="modal-footer"}}
  <div class="row-fluid">
    <div class="span3">
      <div class="deny-buttons">
        <a class="btn btn-small btn-danger preventdoubleclick" data-toggle="confirm" href="javascript://">{{firstnonempty modal_confirm 'Confirm'}}</a>
      </div>
    </div>
    <div class="span6">
      &nbsp;
    </div>
    <div class="span3">
      <div class="confirm-buttons">
        <a class="btn btn-small btn-success" data-dismiss="modal" href="javascript://">Cancel</a>
      </div>
    </div>
  </div>
{{!/div}}
