{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="row-fluid">
  <div class="span6">
    &nbsp;
  </div>
  <div class="span6">
    <div class="confirm-buttons">
      <a class="btn btn-small btn-danger" data-toggle="delete" href="javascript://">Delete</a>
    </div>
  </div>
</div>
