{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{!div class="modal-footer"}}
  <div class="row-fluid">
    <div class="span5">
      {{#if instance.hide_delete_button}}
        {{#if_equals instance.type 'CustomAttributeDefinition'}}
          <span class="gray">Can't delete. Custom Attribute is in use.</span>
        {{/if_equals}}
      {{else}}
        <div class="deny-buttons">
          {{^new_object_form}}
            {{#is_allowed 'delete' instance}}
              {{^if_equals modal_title 'Edit Person'}}
                <a
                  tabindex="37"
                  class="btn btn-small btn-danger"
                  data-toggle="modal-ajax-deleteform"
                  data-object-plural="{{model.table_plural}}"
                  data-object-singular="{{model.model_singular}}"
                  data-modal-reset="reset"
                  data-modal-class="modal"
                  data-object-id="{{instance.id}}"
                  href="javascript://"
                  >Delete</a>
              {{/if_equals}}
            {{/is_allowed}}
          {{/new_object_form}}
        </div>
      {{/if}}
    </div>
    <div class="span7">
      <div class="confirm-buttons">
        {{#mapping}}
        <input
          type="checkbox"
          id="map-and-save"
          checked="checked"
          >&nbsp;<label style="display:inline" for="map-and-save"> Map and save</label>
        <a
          tabindex="25"
          class="btn btn-small btn-success preventdoubleclick {{disable_if_errors instance}}"
          data-toggle="modal-submit"
          href="javascript://"
          >Save &amp; Close</a>
        {{/mapping}}
        {{^mapping}}
          {{^new_object_form}}
            <a
              tabindex="25"
              class="btn btn-small btn-success preventdoubleclick"
              data-toggle="modal-submit"
              href="javascript://"
              >Save &amp; Close</a>
          {{/new_object_form}}
          {{#new_object_form}}
            <a
              tabindex="24"
              class="btn btn-small btn-info preventdoubleclick {{disable_if_errors instance}}"
              data-toggle="modal-submit-addmore"
              href="javascript://"
              >Save &amp; Add Another</a>
            <a
              tabindex="25"
              class="btn btn-small btn-success preventdoubleclick {{disable_if_errors instance}}"
              data-toggle="modal-submit"
              href="javascript://"
              >Save &amp; Close</a>
          {{/new_object_form}}
        {{/mapping}}

        <spinner toggle="isSaving"></spinner>
      </div>
    </div>
  </div>
{{!/div}}
