{{!div class="modal-footer"}}
  <div class="row-fluid">
    <div class="span3">
      <div class="deny-buttons">
        <a class="btn" data-dismiss="modal-reset" href="#">Cancel</a>
        {{^new_object_form}}
          {{#is_allowed 'delete' model.shortName}}
          <a class="btn btn-danger" data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-form-target="refresh" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">Delete</a>
          {{/is_allowed}}
        {{/new_object_form}}
      </div>
    </div>
    <div class="span6">
      &nbsp;
    </div>
    <div class="span3">
      <div class="confirm-buttons">
        <a class="btn btn-primary preventdoubleclick {{#instance.computed_errors}}disabled{{/instance.computed_errors}}" data-toggle="modal-submit" href="javascript://">Save</a>
      </div>
    </div>
  </div>
{{!/div}}
