{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="row-fluid">
<div class="span6">
<div class="deny-buttons">
<a class="btn" data-dismiss="modal" href="javascript://">Cancel</a>
</div>
</div>
<div class="span6">
<div class="confirm-buttons">
<a class="btn btn-danger" data-dismiss="modal" data-toggle="delete" href="javascript://">Unmap</a>
</div>
</div>
</div>
