{{! upload evidence to GDrive by clicking this button}}

{{#if_helpers '\
  #is_allowed' "create" 'ObjectDocument' _0_context=instance.context.id '\
    and ^if_equals' instance.status 'Accepted' '\
  or #is_allowed' '__GGRC_ADMIN__' 'Audit' _2_context=null}}
<div>
<br>
<ggrc-gdrive-picker-launcher instance="instance" deferred="true"></ggrc-gdrive-picker-launcher>
<div>
{{/if_helpers}}
{{#is_allowed "create" 'ObjectDocument' context=instance.context.id}}
  <ggrc-gdrive-folder-picker deferred="true" instance="instance"/>
{{/is_allowed}}
