{{! upload evidence to GDrive by clicking this button}}

{{#if allow_mapping_or_creating}}
{{#with_current_user_as "current_user"}}
{{#if_helpers '\
  #is_allowed' "create" 'ObjectDocument' _0_context=parent_instance.context.id '\
    and ^if_equals' parent_instance.status 'Accepted' '\
  or #is_allowed' '__GGRC_ADMIN__' 'Audit' _2_context=null}}
<li class="tree-footer tree-item tree-item-add">
  <div class="row-fluid">
    <div class="span12">
      {{#using request=parent_instance.request}}
      {{#with_mapping 'folders' request}}
	      {{#if folders.0.instance.selfLink}}
	      <a
	        href="javascript://"
	        data-placement="left"
	        data-toggle="evidence-gdrive-picker"
	        data-response-id="{{parent_instance.id}}"
	        title="Upload Evidence"
	        >
	        Upload Evidence
	      </a>
	      {{else}}
	      The Audit Lead must create a Request folder before Evidence can be uploaded.
	      {{/if}}
      {{else}}
        The Audit Lead must create a Request folder before Evidence can be uploaded.
      {{/with_mapping}}
      {{/using}}
    </div>
  </div>
</li>
{{/if_helpers}}
{{/with_current_user_as}}
{{/if}}
