{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


  <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <div class='item-main' {{data 'model'}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class='row-fluid'>
          <div class='span12'>
            <div class='item-data'>
              <div class='tree-title-area'>
                <i class="fa fa-{{instance.class.table_singular}} color"></i>
                {{firstnonempty instance.title instance.link}}
                <span class="option">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span6">&nbsp;</div>

          <div class="span6">
          {{#if mappings}}
          {{#is_allowed_all 'delete' mappings}}
            {{#using request=parent_instance.request}}{{#with_mapping "folders" request}}
            <a href="javascript://" class="info-action unmap pull-right" data-toggle="modal-ajax-unmapform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-title="Warning" data-modal-class="modal" data-object-id="{{instance.id}}" data-object-params='{ "folder": { "title": "{{folders.0.instance.title}}", "link": "{{folders.0.instance.alternateLink}}" } }' href="javascript://">
              {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
              <i class="fa fa-ban"></i>
              Unmap
            </a>
            {{else}}{{/with_mapping}}{{/using}}
          {{/is_allowed_all}}
          {{/if}}
          </div>

        </div>

        <div class="row-fluid">
          <div class="span12">
            {{#if instance.description}}
            <div class="tree-description">
              {{{instance.description}}}
            </div>

            {{else}}
              <span class="empty-message">None</span>
            {{/if}}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span12">
            <div class="tree-info">
              <strong>GDrive Path: </strong>
            {{#with_mapping 'files' instance}}
              {{#if files.0.instance.selfLink}}
              <a class="reference" href="{{schemed_url instance.link}}" target="_blank">
              /{{#using request=parent_instance.request}}{{#with_mapping 'folders' request}}{{folders.0.instance.title}}{{/with_mapping}}{{/using}}/{{files.0.instance.title}}
            </a>
            {{else}}
              No GDrive file found for this evidence.
            {{/if}}
          {{else}}
            {{! This is a failure state for with_mapping, if something in the mapping doesn't refresh properly }}
            {{#if error.errors}}
              <small>
                You need permission to access this file. <a href="https://drive.google.com/folderview?id={{grdive_msg_to_id error.message}}&usp=sharing#">Request access.</a>
              </small>
            {{else}}
              The GDrive file for this evidence could not be accessed.
              {{#using request=parent_instance.request}}
                {{{render '/static/mustache/gdrive/gapi_errors.mustache' type="file" instance=request error=error}}}
            {{/if}}

            {{/using}}
          {{/with_mapping}}


              </a>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="tree-info">
              {{#with_mapping 'files' instance}}
                {{#defer "revisions" files.0.instance.findRevisions}}
                  {{#with revisions.0}}
                  Added by:
                  {{lastModifyingUserName}}
                  on
                  {{localize_date modifiedDate}}
                  {{/with}}
                {{/defer}}
              {{else}}
              {{/with_mapping}}
            </div>
          </div>
        </div>

        {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
        {{#is_allowed 'update' instance}}
        <div class="row-fluid">
          <div class="span12">
            <a class="utility-link" href="javascript://" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="Document" data-object-plural="documents" data-object-id="{{instance.id}}" data-object-params='{ "{{parent_instance.class.table_singular}}": { "id" : {{parent_instance.id}}, "title" : "{{parent_instance.title}}" }, "modal_title" : "Edit Evidence" }'>
            <i class="fa fa-pencil-square-o"></i>
            Edit Evidence
          </a>

          </div>
        </div>
        {{/is_allowed}}
      </div>

      {{#if draw_children}}
        {{#if child_options.length}}
          {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
            <div class="inner-tree">
              <h6>Mapped Objects ({{child_count}})</h6>
              {{#child_options}}
                <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")).control("tree_view").display() }}></ul>
              {{/child_options}}
            </div>
          {{/prune_context}}
        {{/if}}
      {{/if}}

    </div>
    {{/if}}
  </li>
