{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<div class="row-fluid">
  <div class="span12">
    <div class="pull-right reset-form">
      <p>
        <small><em>Fields are only temporarily hidden</em></small>
        <a id="formHide" tabindex="36" class="btn btn-small btn-draft" href="javascript://" style="display:none;">Hide all optional fields</a>
        <a id="formRestore" tabindex="36" class="btn btn-small btn-draft" href="javascript://">Show all optional fields</a>

        <!--
        <a href="#" class="btn btn-small btn-draft dropdown-toggle tview-dropdown-toggle"
        tabindex="36" data-toggle="dropdown">Selectively show/hide fields</a>
        <div class="dropdown-menu dropdown-menu-form">
          <a class="pull-right close-dropdown"><i class="fa fa-times black"></i></a>
          <h5>Selectively show or hide all optional fields</h5>
          <ul class="attr-list">
            <li class="disabled">
              <label class="checkbox-inline">
                <input type="checkbox"
                  {{#if display_status}}checked="checked"{{/if}}
                  {{#if mandatory}}disabled{{/if_equals}}
                  value="{{attr_name}}"
                  class="notify-wrap attr-checkbox {{#if mandatory}}mandatory{{/if_equals}}">
                Workflow Title
              </label>
            </li>
            <li>
              <label class="checkbox-inline">
                <input type="checkbox"
                  {{#if display_status}}checked="checked"{{/if}}
                  {{#if mandatory}}disabled{{/if_equals}}
                  value="{{attr_name}}"
                  class="notify-wrap attr-checkbox {{#if mandatory}}mandatory{{/if_equals}}">
                Workflow Description
              </label>
            </li>
          </ul>
          <a class="btn btn-small btn-info set-tree-attrs" href="javascript://">Set fields</a>
        </div>
        -->
      </p>
    </div>
  </div>
</div>
