{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<span class="state-value state-draft">Draft</span>
<div class="dropdown-wrap">
  <a href="#" class="btn btn-small btn-draft dropdown-toggle" tabindex="36" data-toggle="dropdown">
    Show more
    <i class="fa fa-caret-down"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-form">
    <a class="pull-right close-dropdown"><i class="fa fa-times black"></i></a>
    <h5>Selectively show or hide all optional fields</h5>
    <ul class="attr-list">
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="all" class="notify-wrap attr-checkbox all">
          All
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="workflow_description" class="notify-wrap attr-checkbox" checked>
          Workflow Description
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="workflow_custom" class="notify-wrap attr-checkbox">
          Custom "Start Workflow" email message
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="task_description" class="notify-wrap attr-checkbox">
          Task Description
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="task_type" class="notify-wrap attr-checkbox">
          Task Type
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="task_group" class="notify-wrap attr-checkbox">
          Task group
        </label>
      </li>
    </ul>
  </div>
</div>
