{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<div class="repeated-block info">
  <div class="close-block hidden">
    <a class="close-trigger" href="javascript://">
      <i class="fa fa-trash"></i>
    </a>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>{{type}} title</h6>
          {{#title}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/object_input.mustache}}
            {{else}}
              <p>{{value}}</p>
            {{/if}}
          {{/title}}
        </div>
      </div>
      <div class="row-fluid wrap-row">
        <div class="span12 hidable hidden" data-value="task_description">
          <h6>Description</h6>
          {{#description}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/object_textarea.mustache}}
            {{else}}
              <p>{{value}}</p>
            {{/if}}
          {{/description}}
        </div>
      </div>
      <div class="row-fluid wrap-row">
        <div class="span12 hidable hidden" data-value="task_type">
          <div class="wrap-row">
            <h6>{{type}} type</h6>
            {{#task_type}}
              {{#if editable}}
                {{> /static/mustache/mockup_base_templates/object_setup/object_select_type.mustache}}
              {{else}}
                <p>{{option}}</p>
              {{/if}}
            {{/task_type}}
          </div>

          {{#task_type}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/type_fields.mustache}}
            {{else}}
              <div class="wrap-row text-wrap">
                <h6>{{type}} Notes</h6>
                <p>{{value}}</p>
              </div>
            {{/if}}
          {{/task_type}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          {{> /static/mustache/mockup_base_templates/info_panel/mapped_objects.mustache}}
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Start Date</h6>
          {{#start_date}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/object_input.mustache}}
            {{else}}
              <p>{{value}}</p>
            {{/if}}
          {{/start_date}}
        </div>
      </div>
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>End Date</h6>
          {{#end_date}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/object_input.mustache}}
            {{else}}
              <p>{{value}}</p>
            {{/if}}
          {{/end_date}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 hidable hidden" data-value="task_group">
          <h6>{{type}} Group</h6>
          {{#group}}
            {{#if editable}}
              {{> /static/mustache/mockup_base_templates/object_setup/object_input.mustache}}
            {{else}}
              <p>{{value}}</p>
            {{/if}}
          {{/group}}
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row-fluid">
        <div class="span12">
          <h6>People</h6>
          {{> /static/mustache/mockup_base_templates/info_panel/task_people_list.mustache}}
        </div>
      </div>
    </div>
  </div>
</div>
