{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="add-rule add-object">
  <a href="javascript://" class="add-task-trigger btn btn-small btn-info">Add another task</a>
</div>
