{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<button type="submit" class="btn btn-draft btn-small">
  {{button_draft}}
</button>
<button type="reset" class="btn btn-draft btn-small">
  {{button_reset}}
</button>
<button type="submit" class="btn btn-success btn-small">
  {{button_active}}
</button>
