{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

<div class="wrap-row text-wrap">
  <h6>{{#if_equals type "task"}}{{type}}{{else}}{{object_type}}{{/if_equals}} Notes</h6>
  <textarea rows="4" class="span12 triple wysihtml5" placeholder="Enter description"></textarea>
</div>

<div class="wrap-row options-wrap">
  <h6>Selection Response Options (Comma Separated)</h6>
  <textarea id="tgt_response_options" class="span12 double" name="response_options_csv" placeholder="Enter Description" tabindex="2"></textarea>
</div>
