{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">
  <div class="tier-content">
    {{#instance}}
      <div class="pane-header" >
        <div class="pane-header__container">
          <div class="pane-header__title" data-test-id="title_0ad9fbaf">
            {{#is_info_pin}}
              <h6>{{modifyFieldTitle instance.type 'Title'}}</h6>
            {{/is_info_pin}}
            <div class="pane-header__title-details">
              <h3>{{title}}</h3>
              {{#if status}}
                <span>
                  <span class="state-value {{addclass 'state' status}}">{{un_camel_case status}}</span>
                </span>
              {{/if}}
              {{^if isSnapshot}}
                <span class="proposal">
                  <create-proposal-button {instance}="instance">
                  </create-proposal-button>
                </span>
              {{/if}}
            </div>
          </div>

          <div class="pane-header__toolbar">
            {{#is_info_pin}}
              <info-pin-buttons maximized="maximized" on-change-maximized-state="@onChangeMaximizedState" on-close="@onClose"></info-pin-buttons>
            {{/is_info_pin}}

            <div class="info-pane-utility">
              {{#using workflow=instance.workflow}}
              <!-- This should have only view link, shouldn't edit cycle instance of workflow while active -->
                <div class="details-wrap">
                  <a class="btn btn-3bbps dropdown-toggle" href="#" data-toggle="dropdown">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                  </a>
                  <ul class="dropdown-menu three-dots-list" aria-labelledby="drop1" role="menu">
                    {{#if workflow.viewLink}}
                      <li>
                        <a href="{{workflow.viewLink}}">
                          <i class="fa fa-long-arrow-right"></i>
                          Open {{workflow.class.title_singular}}
                        </a>
                      </li>
                    {{/if}}
                    <li>
                      <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_url}}" />
                    </li>
                  </ul>
                </div>
              {{/using}}
            </div>
          </div>
        </div>
      </div>
    {{/instance}}
    <div class="pane-content">

    <div class="row-fluid wrap-row">
      <div class="span12">
        <h6>Description</h6>
        <div class="rtf-block">
          <read-more {text}="instance.description"></read-more>
        </div>
      </div>
    </div>

    {{#using workflow=instance.workflow}}
      <custom-roles
        {instance}="workflow"
        {read-only}="true">
      </custom-roles>

      <div class="row-fluid wrap-row">
          <div class="span6">
            <ggrc-gdrive-folder-picker
              {{^is_allowed 'update' workflow}}readonly="true"{{/is_allowed}}
              instance="workflow"
              placeholder="If selected, all workflow attachments go here." />
          </div>
          <div class="span6">
            <h6>
                Repeat Cycle
            </h6>
            <repeat-on-summary {unit}="workflow.unit" {repeat-every}="workflow.repeat_every"
                               hide-repeat-off="false">
            </repeat-on-summary>
          </div>
      </div>
    {{/using}}
  </div>
  </div>
</section>
