-#
-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: brad@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com
-#

-extends "layouts/dashboard.haml"

-block title
  GRC: My Work

-block extra_javascript
  =super()
  GGRC.page_object = { "person": ={ full_user_json()|safe } };

-block widget_area
