-#
-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-#

-extends "layouts/dashboard.haml"

-block title
  {{page_title}}

-block extra_javascript
  =super()
  GGRC.page_object = { "person": ={ full_user_json()|safe } };

  GGRC.pageType = '{{page_type}}';

  -# Since it is expensive (issues a DB query), only invoke user_task_count()
  -# once and use the resulting list. An auxiliary property is used to store
  -# the result, because there are no other better ways (?) to do that in HAML
  GGRC.counters = {
    "_task_counts": ={ user_task_count()|safe }
  }
  GGRC.counters = {
    "user_task_count": GGRC.counters._task_counts[0],
    "user_overdue_task_count": GGRC.counters._task_counts[1]
  };

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("COMMON_JS_PATH")}}' }
  %script{ type:'text/javascript', src:'{{config.get("DASHBOARD_JS_PATH")}}' }

-block widget_area
