-#
-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By:
-# Maintained By:
-#
-extends "layouts/dashboard.haml"

-block title
  Dashboard

-block page_help
  dashboard

-block extra_javascript
  GGRC.permissions = ={ permissions_json()|safe };

-block header
  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Dashboard

-block main
  .clearfix
    .object-area.dashboard-area
      #show_columns.column-set{ 'data-resize': "true" }
        #middle_column.widget-area
          -block widget_area
