-#
-# Copyright (C) 2016 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-#

-extends "layouts/dashboard.haml"

-block title
  GRC: My Work

-block extra_javascript
  =super()
  GGRC.page_object = { "person": ={ full_user_json()|safe } };

-block widget_area
