-#
-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By:
-# Maintained By:
-#
-extends "layouts/dashboard.haml"

-block title
  Dashboard

-block page_help
  dashboard

-block header

  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Dashboard

-#block widget_area
  -with widget_class = 'widget-tabs'
    -#include 'dashboard/_governance.haml'
    -#include 'dashboard/_business_objects.haml'
    -#include 'dashboard/_programs.haml'
    -#FIXME: Restrict 'risk' visibility
    -#  e.g., if current_user.can_manage_risk()
    -#include 'dashboard/_risk.haml'
