{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="selector-info">
  <h4>
    <i class="grcicon-user-black"></i>
    Related People ({{joins.length}})
  </h4>
  <ul class="linked-people">
    {{#joins}}
    <li class="{{#if _removed}}removed{{/if}}">
      <a class="jump-to-control" href="javascript://">
        <span>
          {{{render '/static/mustache/people/popover.mustache' person=person}}}
          &nbsp;
        </span>
      </a>
    </li>
    {{/joins}}
  </ul>
</div>
