{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="selector-info">
  <h4>
    <i class="fa fa-person"></i>
    Related People ({{joins.length}})
  </h4>
  <ul class="linked-people">
    {{#joins}}
    <li class="{{#if _removed}}removed{{/if}}">
      <a class="jump-to-control" href="javascript://">
        <span>
          {{>'/static/mustache/people/popover.mustache'}}
          &nbsp;
        </span>
      </a>
    </li>
    {{/joins}}
  </ul>
</div>
