{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}
<div class="advanced-filters search-filters">
  <form class="form-search" onsubmit="return false" autocomplete="off">
    <div class="row-fluid">
      <div class="span11">
        <input name="search" type="text" value="" class="input-xlarge search-query" value="{{search_query}}" placeholder="Filter by name, email or company">
        <select name="user_role">
          <option value="" selected>All Roles</option>
          {{#roles}}
            <option value="{{id}}">{{name}}</option>
          {{/roles}}
        </select>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
      <div class="span1">
        <button class="btn" type="reset">Reset</button>
      </div>
    </div>
  </form>
</div>
