{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}
<div class="inline-filtering sticky-filter search-filters">
  <form class="form-search" onsubmit="return false" autocomplete="off">
    <div class="row-fluid">
      <div class="span12">
        <h6>
          Filter People
        </h6>
        <ul class="quick-filters">
          <li>
            <label>
              By Name
            </label>
            <input name="search" type="text" value="" class="input-medium" value="{{search_query}}" placeholder="By name, email or company">
          </li>
          <li>
            <label>
              By Roles
            </label>
            <select name="user_role">
              <option value="" selected>All Roles</option>
              {{#roles}}
                <option value="{{id}}">{{name}}</option>
              {{/roles}}
            </select>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>