{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}

  {{#is_dashboard_or_all}}
    {{> /static/mustache/dashboard/info/info.mustache}}
  {{else}}

  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">

    {{#is_info_pin}}
      <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState" on-close="@onClose"></info-pin-buttons>
    {{/is_info_pin}}

    <div class="tier-content">
      <div class="pane-header">
        <div class="row-fluid wrap-row">
          <div class="span12">
            <h6>Name</h6>
            {{#if name}}
              {{#name}}
                <h3>{{name}}
                  {{#if_equals system_wide_role 'No Access'}}
                    <span class="user-disabled">
                      (Inactive user)
                    </span>
                  {{/if_equals}}
                </h3>
              {{/name}}
            {{else}}
              <span class="empty-message">None</span>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Email</h6>
          {{#if email}}
            {{#email}}
              <p>
                {{email}}
              </p>
            {{/email}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Company</h6>
          {{#if company}}
            {{#company}}
              <p>
                {{company}}
              </p>
            {{/company}}
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>
    </div><!-- tier-content end -->

  {{>'/static/mustache/custom_attributes/info.mustache'}}

  </section>

   <info-pane-footer {created-at}="instance.created_at" {modified-at}="instance.updated_at" {modified-by}="instance.modified_by"></info-pane-footer>
  {{/is_dashboard}}
{{/instance}}
