{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  <section class="info">

    {{#is_dashboard}}
      <div class="details-wrap">
        <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
        <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
          <li>
            <a href="/people/{{instance.id}}">
              View Profile Page
              <i class="grcicon-goto"></i>
            </a>
          </li>
        </ul>
      </div>
    {{/is_dashboard}}

    <div class="tier-content">
      {{#name}}
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Name</h6>
          <h3>{{name}}
              {{^if is_enabled}}
                  <span class="user-disabled">
                    (Disabled)
                  </span>
              {{/if}}
          </h3>
        </div>
      </div>
      {{/name}}

      {{#email}}
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Email</h6>
          <p>
          {{email}}
          </p>
        </div>
      </div>
      {{/email}}

      {{#company}}
      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Company</h6>
            <p>
              {{company}}
            </p>
        </div>
      </div>
      {{/company}}
    </div><!-- tier-content end -->

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
      <em>
        Created {{#if owners.length}}by {{#using contacts=owners}}{{#contacts}}{{{render '/static/mustache/people/popover.mustache' person=this}}}{{/contacts}}{{/using}}{{/if}} at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
        Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
      </em>
      </small>
    </p>
  </div>
{{/instance}}
