{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<ul class="new-tree">

  {{#list}}
    <li class='controlSlot tree-item' data-id='{{person.id}}'>
      <div class='item-main'>
        <div class='simple-link'>
          <div class='row-fluid'>
            <div class='span12'>
              <div class='item-data'>
                <div class='tree-title-area'>
                  {{#person}}
                    {{{render '/static/mustache/people/popover.mustache' person=this}}}
                  {{/person}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/list}}
  <li class="tree-item-add">
    <a href="javascript://" data-placement="left" rel="tooltip" data-modal-selector-options="object_people" data-toggle="unified-mapper" data-modal-class="modal-wide" data-original-title="Map People" title="Map People to this {{parent_instance.class.shortName}}">
      Map Person
    </a>
  </li>
</ul>
