{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span3">
      <label for="person_name">Name</label>
      <input tabindex="1" class="span12" id="person_name" name="name" placeholder="John Doe" size="30" type="text" value="{{name}}" autofocus>
      <br>
    </div>
    <div class="span3">
      <label for="person_email">Email <span class="required">*</span></label>
      <input tabindex="2" class="span12" id="person_email" name="email" placeholder="email@company.com" size="30" type="text" value="{{email}}">
      <span class="help-inline">
      </span>
      <br>
    </div>
    <div class="span3">
      <label for="person_is_enabled">Enabled <span class="required">*</span></label>
      <input type="checkbox" tabindex="3" id="person_is_enabled" name="is_enabled" value="{{is_enabled}}" {{#if instance.is_enabled}}checked="checked"{{/if}} >
      <span class="help-inline">
      </span>
      <br>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <label for="person_company">Company</label>
      <input tabindex="5" class="span12" id="person_company" name="company" placeholder="Acme, Inc." size="30" type="text" value="{{company}}">
      <span class="help-inline">
      </span>
      <br>
    </div>
  </div>
  <br>
</form>
{{/instance}}
