{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#options}}
  <li class="tree-item business" {{ data 'option' }} data-id="{{ id }}">
    <div class="item-main">
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                {{#if name}}{{name}}{{/if}}
                <span class="url-link">
                  {{#if email}}{{email}}{{/if}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
{{/options}}
