{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{! dashboard object listing}}
<ul class="tree-structure new-tree">
  {{#each list}}
    <li class="tree-item {{object_type}}" data-model="true" {{data 'model'}}>
      <div class="item-main">
        <div class="openclose">
          <div class="row-fluid">
            <div class="span9">
              <div class="item-data">
                <div class="tree-title-area">
                  {{{render '/static/mustache/people/popover.mustache' person=this}}}
                  {{#if_match name '\\\\S'}}
                    {{#name}}
                      <span class="email">{{email}}</span>
                    {{/name}}
                  {{/if_match}}
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="item-data">
                <div class="tree-title-area">
                  {{#person_roles this "System|Admin"}}
                    {{#if roles.length}}
                      <span class="role" title="{{#roles}}{{permission_summary}} {{/roles}}">
                        {{roles.0.permission_summary}}
                      </span>
                    {{else}}
                      <span class="no-role">
                        No Access
                      </span>
                    {{/if}}
                  {{/person_roles}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <div class="row-fluid">
            <div class="span6">
              <div class="profile-info">
                <ul>
                  {{#if_match name '\\\\S'}}
                    {{#name}}
                      <li>
                        <span class="name">
                          <strong>{{name}}</strong>
                        </span>
                      </li>
                    {{/name}}
                  {{/if_match}}
                  {{#if_match email '\\\\S'}}
                    {{#email}}
                      <li>
                        <span class="email">
                          <strong>Email:</strong> <a href='mailto:{{email}}' rel='tooltip' title='{{email}}' target="_blank">{{email}}</a>
                        </span>
                      </li>
                    {{/email}}
                  {{/if}}
                  {{#if_match company '\\\\S'}}
                    {{#company}}
                      <li>
                        <span class="company">
                          <strong>Company:</strong> {{company}}
                        </span>
                      </li>
                    {{/company}}
                  {{/if_match}}
                  {{#person_roles this "System|Admin"}}
                    <li>
                      {{#roles}}
                        <span class="role">
                          {{permission_summary}}
                        </span>
                      {{/roles}}
                    </li>
                  {{/person_roles}}
                </ul>
              </div>
              <div>
                <a href="/people/{{id}}" class="info-action">
                  View Profile Page
                  <i class="grcicon-goto"></i>
                </a>
              </div>
            </div>
            <div class="span6 info person-info">
              {{#is_allowed 'create' 'delete' 'UserRole' context=parent_instance.context.id}}
              <div>
                <div class="pull-right">
                  <a class="info-edit" data-modal-class="modal-wide" data-placement="left" data-toggle="user-roles-modal-selector" data-modal-selector-options="user_roles" data-person_id="{{ id }}" href="javascript://" rel="tooltip" title="Edit Authorizations">
                    <i class="grcicon-role-color"></i> <span>Edit Authorizations</span>
                  </a>
                </div>
              </div>
              {{/is_allowed}}
              {{#is_allowed 'update' instance}}
              <div>
                <div class="pull-right">
                  <a class="info-edit" data-object-plural="people" data-object-singular="Person" data-object-id="{{id}}" data-modal-class="modal-wide" data-placement="left" data-toggle="modal-ajax-form" href="javascript://" rel="tooltip" title="Edit Person">
                    <i class="grcicon-edit"></i> <span>Edit Person</span>
                  </a>
                </div>
              </div>
              {{/is_allowed}}
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}

  <li class="tree-footer tree-item tree-item-add">
    <a class="btn-add" data-object-plural="people" data-modal-class="modal-wide" href="javascript://" data-object-singular="Person" data-toggle="modal-ajax-form" data-modal-reset="reset">
      + Person
    </a>

    {{#if has_next_page}}
    <a href="javascript://" class="pull-right view-more-paging">
      View More
      <i class="grcicon-down"></i>
    </a>
    {{else}}
    <span class="pull-right view-more-paging">
      All results shown
    </span>
    {{/if}}
  </li>
</ul>
