{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{! dashboard object listing}}
<ul class="tree-structure new-tree">
  {{#each list}}
    <li class="tree-item role" data-model="true" {{data 'model'}}>
      <div class="item-main">
        <div class="openclose">
          <div class="row-fluid">
            <div class="span12">
              
              <ul class="tree-action-list">
                {{#person_roles this "System|Admin"}}
                  {{#if roles.length}}
                    <li>
                      <div class="item-data">
                        <div class="tree-title-area">
                          <span class="role" title="{{#roles}}{{permission_summary}} {{/roles}}">
                            {{roles.0.permission_summary}}
                            {{^if is_enabled}}
                              <span class="user-disabled">
                                (Disabled)
                              </span>
                            {{/if}}
                          </span>
                        </div>
                      </div>
                    </li>
                  {{else}}
                    <li>
                      <div class="item-data">
                        <div class="tree-title-area">
                          <span class="no-role">
                            No Access
                            {{^if is_enabled}}
                              <span class="user-disabled">
                                (Disabled)
                              </span>
                            {{/if}}
                          </span>
                        </div>
                      </div>
                    </li>
                  {{/if}}
                {{/person_roles}}
              </ul>
              
              <div class="item-data">
                <div class="tree-title-area">
                  {{{render '/static/mustache/people/popover.mustache' person=this}}}
                  {{#if_match name '\\\\S'}}
                    {{#name}}
                      <span class="email">{{email}}</span>
                    {{/name}}
                  {{/if_match}}
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
            
          <div class="action-bar">
            <ul class="change-links">              
              {{#is_allowed 'create' 'delete' 'UserRole' context=parent_instance.context.id}}
                <li>
                  <a href="javascript://" data-modal-class="modal-wide" data-placement="left" data-toggle="user-roles-modal-selector" data-modal-selector-options="user_roles" data-person_id="{{ id }}">
                    <i class="grcicon-role-color"></i>
                    <span>Edit Authorizations</span>
                  </a>
                </li>
              {{/is_allowed}}
              {{#is_allowed 'update' instance}}
                <li>
                  <a href="javascript://" data-object-plural="people" data-object-singular="Person" data-object-id="{{id}}" data-modal-class="modal-wide" data-placement="left" data-toggle="modal-ajax-form">
                    <i class="grcicon-edit"></i>
                    <span>Edit Person</span>
                  </a>
                </li>
              {{/is_allowed}}
            </ul>
            <ul>
              <li>
                <a href="/people/{{id}}">
                  View Profile Page
                  <i class="grcicon-goto"></i>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="small-info">
            
            {{#if_match name '\\\\S'}}
              {{#name}}
                <div class="row-fluid">
                  <div class="span12">
                    <h6>Name</h6>
                    <h3>{{name}}</h3>
                  </div>
                </div>
              {{/name}}
            {{/if_match}}

            {{#if_match email '\\\\S'}}
              {{#email}}
                <div class="row-fluid">
                  <div class="span12">
                    <h6>Email</h6>
                    <p>
                      <a href='mailto:{{email}}' target="_blank">
                        {{email}}
                      </a>
                    </p>
                  </div>
                </div>
              {{/email}}
            {{/if}}

            {{#if_match company '\\\\S'}}
              {{#company}}
                <div class="row-fluid">
                  <div class="span12">
                    <h6>Company</h6>
                    <h3>{{company}}</h3>
                  </div>
                </div>
              {{/company}}
            {{/if_match}}

            <div class="row-fluid">
              <div class="span12">
                <h6>Authorizations</h6>
                <p>
                  {{#person_roles this "System|Admin"}}
                    {{#roles}}
                      <span class="role">
                        {{permission_summary}}
                      </span>
                    {{/roles}}
                  {{/person_roles}}                  
                </p>
              </div>
            </div>            
          </div>          
          
        </div>
      </div>
    </li>
  {{/each}}

  <li class="tree-footer tree-item tree-item-add">
    <a class="btn-add" data-object-plural="people" data-modal-class="modal-wide" href="javascript://" data-object-singular="Person" data-toggle="modal-ajax-form" data-modal-reset="reset">
      Add Person
    </a>

    {{#if has_next_page}}
    <a href="javascript://" class="pull-right view-more-paging" data-next="true">
      Next Page
    </a>
    {{/if}}
    {{#if has_prev_page}}
    <a href="javascript://" class="pull-right view-more-paging">
      Previous Page
    </a>
    {{/if}}
  </li>
</ul>
