{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<ggrc-modal-connector
  parent_instance="instance"
  instance="instance"
  source_mapping="owners"
  mapping="owners"
  deferred="true"
  >
{{#if list.length}}
  <label>
    {{#if_equals list.length 1}}Owner{{else}}Owners{{/if_equals}}
    <i class="fa fa-question-circle" rel="tooltip"
       title="This is the person in charge of this {{firstnonempty model_singular model.model_singular 'object'}}."></i>
    <a data-id="hide_owner_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
  </label>
  {{#each list}}
  <div class="span12">
    {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
    <a href="javascript://" class="unmap" data-toggle="unmap">
      <span class="result" {{data 'result'}}></span>
      {{^if_equals list.length 1}}<i class="fa fa-trash" tabindex="11"></i>{{/if_equals}}
    </a>
  </div>
  {{/each}}
{{else}}
  <label>
    Owners
    <i class="fa fa-question-circle" rel="tooltip"
       title="This is the person in charge of this {{firstnonempty model_singular model.model_singular 'object'}}."></i>
    <a data-id="hide_owner_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
  </label>
  <p>No owners assigned</p>
{{/if}}
{{#toggle show_new_object_form}}
  {{#prune_context}}
    <div class="span12 objective-selector field-wrap">
      <input tabindex="11" data-id="owner_txtbx" type="text" data-lookup="Person" null-if-empty="true" class="search-icon" placeholder="Enter text to search for Owner" {{autocomplete_select}} value="{{instance.email}}">
      <a class="remove-field" href="javascript://" {{toggle_button}}><i class="fa fa-trash"></i></a>

    </div>
    <!--input type="hidden" name="role_name" value="Owner" /-->
  {{/prune_context}}
{{else}}
<a href="javascript://" class="btn btn-small btn-draft" tabindex="11" {{toggle_button}}>Add Owner</a>

{{/toggle}}
</ggrc-modal-connector>
