{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<h1 class="entities">
  {{#is_dashboard}}
    <i class="grciconlarge-dashboard-new"></i>
    My Work
    <a class="nav-trigger active" href="javascript://">
      <i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left"
        title="" data-original-title="Hide menu">
      </i>
    </a>
  {{else}}
    <span class="title-prev">
      <a class="title-trigger" href="/dashboard"><i class="grciconlarge-dashboard-new"></i></a>
      My Dashboard
    </span>
    <span class="title-slide">
      <i class="grciconlarge-{{model.table_singular}}"></i>
      {{firstnonempty instance.name instance.email}}
    </span>
    <a class="nav-trigger active" href="javascript://">
      <i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="" data-original-title="Hide menu">
      </i>
    </a>
  {{/is_dashboard}}
</h1>
