{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#person}}
<span class="person-holder">
    <span>
      {{email}}
    </span>
  {{#if_equals system_wide_role 'No Access'}}
    <span class="user-disabled">
      (Inactive user)
    </span>
  {{/if_equals}}
</span>
{{/person}}
