{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#if_helpers "\
   #is_allowed" "view_object_page" instance "\
   or #if" options.allowed_mapping}}
<div class="details-wrap">
  <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
  <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
    {{#if instance.viewLink}}
      {{#is_allowed "view_object_page" instance}}
        <li>
          <a href="{{instance.viewLink}}">
            <i class="grcicon-goto"></i>
            View {{instance.class.title_singular}}
          </a>
        </li>
      {{/is_allowed}}
    {{/if}}
    {{#if is_in_selector}}
    {{else}}
      {{> /static/mustache/base_objects/unmap.mustache}}
    {{/if}}
  </ul>
</div>
{{/if_helpers}}


<div class="tier-content">
  {{#if instance.email}}
    <div class="row-fluid wrap-row">
      <h6>Email</h6>
      <p>
        {{{render '/static/mustache/people/popover.mustache' person=instance show_email=true}}}
      </p>
    </div>
  {{/if}}
  {{{render '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
</div>
