{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{> /static/mustache/base_objects/dropdown_menu_tier2.mustache}}

<div class="tier-content">
  {{#if instance.email}}
    <div class="row-fluid wrap-row">
      <h6>Email</h6>
      <p>
        {{{render '/static/mustache/people/popover.mustache' person=instance show_email=true}}}
      </p>
    </div>
  {{/if}}
  {{>'/static/mustache/base_objects/mappings_detail.mustache'}}
</div>
