{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<assessments-app>
<li class="programs accordion-group">
<a class="programs" href="javascript://">
  <i class="grcicon-assessment-color"></i>
  Assessments
  <small>(<span class="item-count">{{assessments.length}}</span>)</small>
</a>

<ul class="sub-level">
  {{#each assessments}}
  <li class="programs" data-model="true">
    <a href="/mockups/v1.0/assessment.html" class="show-extended" can-click="select">
      <div class="row-fluid">
        <div class="span8 lhs-main-title">
          <span class="lhs-item">
            {{title}}
          </span>
        </div>
        <div class="span1 lhs-private"></div>
        <div class="span1 lhs-people"></div>
      </div>
    </a>
  </li>
  {{/each assessments}}
</ul>
<ul class="sub-actions">
  <li class="add-new">
    <a data-modal-class="modal-wide" href="#newAssessmentStandAlone" data-toggle="modal">
      + Create New
    </a>
  </li>
</ul>
</li>
</assessments-app>
