{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<audit>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <span class="title-prev">
            <a class="title-trigger" href="#"><i class="grciconlarge-dashboard-new"></i></a>
            My Dashboard
          </span>
          <span class="title-slide">
            <i class="grciconlarge-audit"></i>
            2015 ISO27001 Audit
          </span>
          <a class="nav-trigger active" href="#"><i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="Hide menu"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li>
          <a href="/mockups/dashboard-ui/audit-info.html" rel="tooltip" data-placement="bottom" title="Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              Audit Info
            </div>
          </a>
        </li>
        <li>
          <a href="/mockups/dashboard-ui/audit-people.html" rel="tooltip" data-placement="bottom" title="People">
            <div class="oneline">
              <i class="grcicon-person-color"></i>
              People (2)
            </div>
          </a>
        </li>
        <li class="active">
          <a href="/mockups/dashboard-ui/audit.html" rel="tooltip" data-placement="bottom" title="Requests">
            <div class="oneline">
              <i class="grcicon-document-color"></i>
              Requests (5)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="History">
            <div class="oneline">
              <i class="grcicon-history-color"></i>
              History (0)
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="row-fluid">
              <div class="span12 full-width">
                <div class="inner-content">
                  <section class="widget">
                    <header class="header tree-header">
                      <div class="row-fluid">
                        <div class="span4">
                          <div class="title-heading oneline">
                            Requests
                          </div>
                        </div>
                        <div class="span3">
                          <div class="row-fluid">
                            <div class="span6">
                              <div class="oneline">
                                Type
                              </div>
                            </div>
                            <div class="span6">
                              <div class="oneline">
                                Assignee
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="span1">
                          <div class="oneline">
                            Due date
                          </div>
                        </div>
                        <div class="span1">&nbsp;</div>
                        <div class="span3">
                          <ul class="tree-action-list">
                            <li>
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                              <div class="dropdown-menu dropdown-menu-form">
                                <h5>Set visible fields</h5>
                                <ul class="attr-list">
                                  <li class="disabled">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" checked disabled>
                                      Title
                                    </label>
                                  </li>
                                  <li class=" disabled">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" disabled>
                                      Description
                                    </label>
                                  </li>
                                  <li class=" disabled">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" disabled>
                                      Notes
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" checked>
                                      Owner
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox">
                                      Contact
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" checked>
                                      Code
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" checked>
                                      State
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox">
                                      Network Zone
                                    </label>
                                  </li>
                                  <li>
                                    <label class="checkbox-inline">
                                      <input type="checkbox">
                                      System url
                                    </label>
                                  </li>
                                </ul>
                                <button class="btn btn-small btn-info">Set fields</button>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </header>
                    <section class="content">

                      <ul class="tree-structure new-tree">
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="item-wrap">
                              <div class="openclose">
                                <span class="status-label status-draft"></span>
                                <i class="grcicon-arrow-right"></i>
                              </div>
                              <div class="select" id="auditRequestSelect">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span4">
                                      <div class="title tree-title-area">
                                        Synth master cleanse fashion
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <div class="row-fluid">
                                        <div class="span6">
                                          <div class="tree-title-area">
                                            Documentation
                                          </div>
                                        </div>
                                        <div class="span6">
                                          <div class="owner tree-title-area">
                                            <a href="#">Predrag Kanazir</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="gray tree-title-area">
                                        12/21/2014
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="counter-wrap">
                                        <i class="grcicon-directive-black"></i>
                                        <span class="counter">2</span>
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#" class="btn btn-small btn-info">Submit responses</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- select end -->
                            </div><!-- item-wrap end -->
                          </div><!-- item-main end -->
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">

                              <div class="inner-tree">
                                <ul class="tree-structure new-tree">
                                  <li class="tree-item">
                                    <div class="item-main">
                                      <div class="item-wrap">
                                        <div class="openclose">
                                          <span class="status-label status-draft"></span>
                                          <i class="grcicon-arrow-right-small"></i>
                                        </div>
                                        <div class="select" id="auditResponseSelect">
                                          <div class="item-data">
                                            <div class="row-fluid">
                                              <div class="span8">
                                                <div class="title tree-title-area">
                                                  Initial documentation attached
                                                </div>
                                              </div>
                                            </div>
                                          </div><!-- item-data end -->
                                        </div><!-- select end -->
                                      </div><!-- item-wrap end -->
                                    </div><!-- item-main end -->
                                    <div class="tier-2-info item-content">
                                      <div class="tier-2-info-content">

                                        <div class="inner-tree">
                                          <ul class="tree-structure new-tree">
                                            <li class="tree-item">
                                              <div class="item-main">
                                                <div class="item-wrap">
                                                  <div class="select" id="auditEvidenceSelect">
                                                    <span class="status-label status-draft"></span>
                                                    <div class="item-data">
                                                      <div class="row-fluid">
                                                        <div class="span12">
                                                          <div class="title tree-title-area">
                                                            <i class="grcicon-attach"></i>
                                                            Document_Screenshot_confidential.pdf
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div><!-- item-data end -->
                                                  </div><!-- select end -->
                                                </div><!-- item-wrap end -->
                                              </div><!-- item-main end -->
                                            </li>
                                            <li class="tree-item">
                                              <div class="item-main">
                                                <div class="item-wrap">
                                                  <div class="select" id="auditObjectSelect">
                                                    <span class="status-label status-draft"></span>
                                                    <div class="item-data">
                                                      <div class="row-fluid">
                                                        <div class="span12">
                                                          <div class="title tree-title-area">
                                                            <i class="grcicon-control-color"></i>
                                                            ISO Mega Control
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div><!-- item-data end -->
                                                  </div><!-- select end -->
                                                </div><!-- item-wrap end -->
                                              </div><!-- item-main end -->
                                            </li>

                                            <li class="tree-item tree-item-add">
                                              <div class="row-fluid">
                                                <div class="span12">
                                                  <a href="#" class="btn btn-small btn-draft" rel="tooltip" data-placement="right" data-original-title="Map System to this Control">
                                                    <i class="grcicon-add-black"></i>
                                                  </a>
                                                </div>
                                              </div>
                                            </li><!-- tree-footer tree-item tree-item-add end -->

                                          </ul><!-- new-tree end -->
                                        </div><!-- inner-tree end -->

                                      </div><!-- tier-2-info-content end -->
                                    </div><!-- tier-2-info end -->
                                  </li>
                                  <li class="tree-item">
                                    <div class="item-main">
                                      <div class="item-wrap">
                                        <div class="openclose">
                                          <span class="status-label status-draft"></span>
                                          <i class="grcicon-arrow-right-small"></i>
                                        </div>
                                        <div class="select">
                                          <div class="item-data">
                                            <div class="row-fluid">
                                              <div class="span8">
                                                <div class="title tree-title-area">
                                                  March 2016 preps response update
                                                </div>
                                              </div>
                                            </div>
                                          </div><!-- item-data end -->
                                        </div><!-- select end -->
                                      </div><!-- item-wrap end -->
                                    </div><!-- item-main end -->
                                  </li>

                                  <li class="tree-item tree-item-add">
                                    <div class="row-fluid">
                                      <div class="span12">
                                        <a href="#" class="btn btn-small btn-draft" rel="tooltip" data-placement="right" data-original-title="Map System to this Control">
                                          <i class="grcicon-add-black"></i>
                                        </a>
                                      </div>
                                    </div>
                                  </li><!-- tree-footer tree-item tree-item-add end -->

                                </ul><!-- new-tree end -->
                              </div><!-- inner-tree end -->

                            </div><!-- tier-2-info-content end -->
                          </div><!-- tier-2-info end -->
                        </li><!-- tree-item end -->
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="item-wrap">
                              <div class="openclose">
                                <span class="status-label status-draft"></span>
                                <i class="grcicon-arrow-right"></i>
                              </div>
                              <div class="select">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span4">
                                      <div class="title tree-title-area">
                                        Pitchfork chia butcher put a bird on it
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <div class="row-fluid">
                                        <div class="span6">
                                          <div class="tree-title-area">
                                            Documentation
                                          </div>
                                        </div>
                                        <div class="span6">
                                          <div class="owner tree-title-area">
                                            <a href="#">Anuj Sharma</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="gray tree-title-area">
                                        07/07/2015
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="counter-wrap">
                                        <i class="grcicon-directive-black"></i>
                                        <span class="counter">0</span>
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#" class="btn btn-small btn-info">Request</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- select end -->
                            </div><!-- item-wrap end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->

                        <li class="tree-item">
                          <div class="item-main">
                            <div class="item-wrap">
                              <div class="openclose">
                                <span class="status-label status-draft"></span>
                                <i class="grcicon-arrow-right"></i>
                              </div>
                              <div class="select">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span4">
                                      <div class="title tree-title-area">
                                        Odd future sartorial flexitarian
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <div class="row-fluid">
                                        <div class="span6">
                                          <div class="tree-title-area">
                                            Interview
                                          </div>
                                        </div>
                                        <div class="span6">
                                          <div class="owner tree-title-area">
                                            <a href="#">Vladan Mitevski</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="gray tree-title-area">
                                        12/31/2015
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="counter-wrap">
                                        <i class="grcicon-interview"></i>
                                        <span class="counter">1</span>
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#" class="btn btn-small btn-success">Verify</a>
                                        </li>
                                        <li>
                                          <a href="#" class="btn btn-small btn-danger">Decline</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- select end -->
                            </div><!-- item-wrap end -->
                          </div><!-- item-main end -->
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">

                              <div class="inner-tree">
                                <ul class="tree-structure new-tree">
                                  <li class="tree-item">
                                    <div class="item-main">
                                      <div class="item-wrap">
                                        <div class="openclose">
                                          <span class="status-label status-draft"></span>
                                          <i class="grcicon-arrow-right-small"></i>
                                        </div>
                                        <div class="select">
                                          <div class="item-data">
                                            <div class="row-fluid">
                                              <div class="span8">
                                                <div class="title tree-title-area">
                                                  Meeting regarding new developer employment
                                                </div>
                                              </div>
                                            </div>
                                          </div><!-- item-data end -->
                                        </div><!-- select end -->
                                      </div><!-- item-wrap end -->
                                    </div><!-- item-main end -->
                                    <div class="tier-2-info item-content">
                                      <div class="tier-2-info-content">

                                        <div class="inner-tree">
                                          <ul class="tree-structure new-tree">
                                            <li class="tree-item">
                                              <div class="item-main">
                                                <div class="item-wrap">
                                                  <div class="select" id="auditMeetingSelect">
                                                    <span class="status-label status-draft"></span>
                                                    <div class="item-data">
                                                      <div class="row-fluid">
                                                        <div class="span12">
                                                          <div class="title tree-title-area">
                                                            <a href="#">http://new-meeting.com/</a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div><!-- item-data end -->
                                                  </div><!-- select end -->
                                                </div><!-- item-wrap end -->
                                              </div><!-- item-main end -->
                                            </li>

                                            <li class="tree-item tree-item-add">
                                              <div class="row-fluid">
                                                <div class="span12">
                                                  <a href="#" class="btn btn-small btn-draft" rel="tooltip" data-placement="right" data-original-title="Map System to this Control">
                                                    <i class="grcicon-add-black"></i>
                                                  </a>
                                                </div>
                                              </div>
                                            </li><!-- tree-footer tree-item tree-item-add end -->

                                          </ul><!-- new-tree end -->
                                        </div><!-- inner-tree end -->

                                      </div><!-- tier-2-info-content end -->
                                    </div><!-- tier-2-info end -->
                                  </li>

                                  <li class="tree-item tree-item-add">
                                    <div class="row-fluid">
                                      <div class="span12">
                                        <a href="#" class="btn btn-small btn-draft" rel="tooltip" data-placement="right" data-original-title="Map System to this Control">
                                          <i class="grcicon-add-black"></i>
                                        </a>
                                      </div>
                                    </div>
                                  </li><!-- tree-footer tree-item tree-item-add end -->

                                </ul><!-- new-tree end -->
                              </div><!-- inner-tree end -->

                            </div><!-- tier-2-info-content end -->
                          </div><!-- tier-2-info end -->
                        </li><!-- tree-item end -->
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="item-wrap">
                              <div class="openclose">
                                <span class="status-label status-draft"></span>
                                <i class="grcicon-arrow-right"></i>
                              </div>
                              <div class="select">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span4">
                                      <div class="title tree-title-area">
                                        My computer is granpa
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <div class="row-fluid">
                                        <div class="span6">
                                          <div class="tree-title-area">
                                            Interview
                                          </div>
                                        </div>
                                        <div class="span6">
                                          <div class="owner tree-title-area">
                                            <a href="#">Vladan Mitevski</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="gray tree-title-area">
                                        01/01/2016
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="counter-wrap">
                                        <i class="grcicon-interview"></i>
                                        <span class="counter">0</span>
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#" class="btn btn-small btn-info">Request</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- select end -->
                            </div><!-- item-wrap end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->

                        <li class="tree-item">
                          <div class="item-main">
                            <div class="item-wrap">
                              <div class="openclose">
                                <span class="status-label status-draft"></span>
                                <i class="grcicon-arrow-right"></i>
                              </div>
                              <div class="select">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span4">
                                      <div class="title tree-title-area">
                                        Loco moco is required to try while staying in Hawaii
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <div class="row-fluid">
                                        <div class="span6">
                                          <div class="tree-title-area">
                                            Documentation
                                          </div>
                                        </div>
                                        <div class="span6">
                                          <div class="owner tree-title-area">
                                            <a href="#">Prasanna V.</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="gray tree-title-area">
                                        05/06/2014
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="counter-wrap">
                                        <i class="grcicon-directive-black"></i>
                                        <span class="counter">0</span>
                                      </div>
                                    </div>
                                    <div class="span3">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#" class="btn btn-small btn-info">Request</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- select end -->
                            </div><!-- item-wrap end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->
                        <li class="tree-item tree-item-add">
                          <div class="row-fluid">
                            <div class="span12">
                              <a href="#" class="btn btn-small btn-draft" rel="tooltip" data-placement="right" data-original-title="Map System to this Control">
                                <i class="grcicon-add-black"></i>
                              </a>
                            </div>
                          </div>
                        </li><!-- tree-footer tree-item tree-item-add end -->

                      </ul><!-- new-tree end -->

                      <div class="pin-content">
                        <div id="auditRequestPin">
                          <div class="info">

                            <div class="clearfix">
                              <div class="details-wrap pin">
                                <ul class="pin-action">
                                  <li>
                                    <a href="#" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="default"><i class="grcicon-default" rel="tooltip" data-placement="left" title="Default height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
                                  </li>
                                </ul><!-- pin-action end -->
                              </div><!-- details-wrap pin end -->

                              <div class="tier-content">
                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Request</h6>
                                    <h3>Synth master cleanse fashion</h3>
                                  </div>
                                  <div class="span6">
                                    <h6>Status</h6>
                                    <span class="state-value gray">Requested</span>
                                  </div>
                                </div><!-- row-fluid end -->
                              </div><!-- tier-content end -->
                            </div>

                            <div class="details-wrap">
                              <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                              <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                <li>
                                  <a href="#">
                                    <i class="grcicon-edit"></i>
                                    Edit Request
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="tier-content">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Type</h6>
                                  <span>Documentation</span>
                                </div>
                                <div class="span6">
                                  <h6>Responses</h6>
                                  <span>2</span>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span12">
                                  <h6>Description</h6>
                                  <p>
                                    Dreamcatcher wayfarers mlkshk actually. Chillwave post-ironic occupy Etsy, cold-pressed chambray cronut Intelligentsia distillery roof party meggings typewriter. Quinoa tattooed four dollar toast, tote bag pour-over Vice Marfa asymmetrical Etsy raw denim Odd Future. PBR&amp;B migas direct trade whatever.Typewriter raw denim meggings chillwave heirloom. Meh wolf Tumblr butcher. Tonx letterpress Echo Park, tote bag ugh lumbersexual kale chips four dollar toast banh mi sustainable next level ethical hella.
                                  </p>
                                </div>
                              </div><!-- row-fluid end -->
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Assignee</h6>
                                  <a href="#">Predrag Kanazir</a>
                                </div>
                                <div class="span6">
                                  <h6>Starts - Ends</h6>
                                  10/21/2014 - 12/21/2015
                                </div>
                              </div><!-- row-fluid end -->

                            </div><!-- tier-content end -->
                          </div><!-- info end -->
                        </div><!-- auditRequestPin end -->

                        <div id="auditResponsePin">
                          <div class="info">

                            <div class="clearfix">
                              <div class="details-wrap pin">
                                <ul class="pin-action">
                                  <li>
                                    <a href="#" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="default"><i class="grcicon-default" rel="tooltip" data-placement="left" title="Default height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
                                  </li>
                                </ul><!-- pin-action end -->
                              </div><!-- details-wrap pin end -->

                              <div class="tier-content">
                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Response</h6>
                                    <h3>Initial documentation attached</h3>
                                  </div>
                                  <div class="span6">
                                    <h6>Assignee</h6>
                                    <a href="#">Predrag Kanazir</a>
                                  </div>
                                </div><!-- row-fluid end -->
                              </div><!-- tier-content end -->
                            </div>

                            <div class="details-wrap">
                              <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                              <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                <li>
                                  <a href="#">
                                    <i class="grcicon-edit"></i>
                                    Edit Response
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="tier-content">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Evidence (1)</h6>
                                  <ul class="attachment-list">
                                    <li>
                                      <a href="#">
                                        <i class="grcicon-attach-color"></i>
                                        Document_Screenshot_confidential.pdf
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="span6">
                                  <h6>Mapped Objects (1)</h6>
                                  <ul class="inner-count-list">
                                    <li>
                                      <a href="#">
                                        <i class="grcicon-control-color"></i>
                                        ISO Mega Control
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>
                                    Documentation Response Folder
                                    <i class="grcicon-help-black" rel="tooltip" data-original-title="If selected, all Documentation Response attachments go here."></i>
                                  </h6>
                                  <a href="https://docs.google.com/a/reciprocitylabs.com/folderview?id=0B5rYGs55DCKmX3ZZUmVOODcyMWM&amp;usp=drivesdk" target="_blank">
                                    Dev Docs (internal)
                                  </a>
                                </div>
                              </div><!-- row-fluid end -->

                            </div><!-- tier-content end -->
                          </div><!-- info end -->
                        </div><!-- auditResponsePin end -->

                        <div id="auditObjectPin">
                          <div class="info">

                            <div class="clearfix">
                              <div class="details-wrap pin">
                                <ul class="pin-action">
                                  <li>
                                    <a href="#" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="default"><i class="grcicon-default" rel="tooltip" data-placement="left" title="Default height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
                                  </li>
                                </ul><!-- pin-action end -->
                              </div><!-- details-wrap pin end -->

                              <div class="tier-content">
                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Control Title</h6>
                                    <h3>ISO Mega Control</h3>
                                  </div>
                                  <div class="span6">
                                    <h6>State</h6>
                                    <span class="state-value green">Final</span>
                                  </div>
                                </div><!-- row-fluid end -->
                              </div><!-- tier-content end -->
                            </div>

                            <div class="details-wrap">
                              <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                              <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                <li>
                                  <a href="#">
                                    <i class="grcicon-goto"></i>
                                    View Control
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <i class="grcicon-remove"></i>
                                    Unmap
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <i class="grcicon-edit"></i>
                                    Edit Control
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="tier-content">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Tasks</h6>
                                  <span>0 tasks</span>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span12">
                                  <h6>Description</h6>
                                  <p>
                                    Dreamcatcher wayfarers mlkshk actually. Chillwave post-ironic occupy Etsy, cold-pressed chambray cronut Intelligentsia distillery roof party meggings typewriter. Quinoa tattooed four dollar toast, tote bag pour-over Vice Marfa asymmetrical Etsy raw denim Odd Future. PBR&amp;B migas direct trade whatever.Typewriter raw denim meggings chillwave heirloom. Meh wolf Tumblr butcher. Tonx letterpress Echo Park, tote bag ugh lumbersexual kale chips four dollar toast banh mi sustainable next level ethical hella.
                                  </p>
                                </div>
                              </div><!-- row-fluid end -->
                              <div class="row-fluid wrap-row">
                                <div class="span12">
                                  <h6>Notes</h6>
                                  <p>
                                    Carles 90's occupy swag. Tote bag viral occupy, authentic you probably haven't heard of them hashtag fap vegan small batch. Literally dreamcatcher butcher Echo Park YOLO. Selvage migas mixtape, next level flannel Shoreditch twee literally actually yr vegan Truffaut photo booth. Thundercats VHS cold-pressed whatever, McSweeney's flannel pickled cliche meditation kale chips Marfa. Chillwave bicycle rights shabby chic XOXO leggings. Wes Anderson four loko single-origin coffee actually.
                                  </p>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Owner</h6>
                                  <a href="#">Predrag Kanazir</a>
                                </div>
                                <div class="span6">
                                  <h6>Contact</h6>
                                  <a href="#">Anuj Sharma</a>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Control URL</h6>
                                  <a href="#">http://controlit.com/</a>
                                </div>
                                <div class="span6">
                                  <h6>Reference URL</h6>
                                  <a href="#">http://reference.controlit.com/</a>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="custom-attr-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <div class="info-expand">
                                      <a class="show-hidden-fields info-show-hide" href="#">
                                        <span class="out">
                                          <i class="grcicon-arrow-right"></i>
                                          Assessors 
                                        </span>
                                        <span class="in">
                                          <i class="grcicon-arrow-bottom"></i>
                                          Assessors 
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div><!-- row-fluid end -->
                              
                                <div class="hidden-fields-area" style="display:none;">
                                  <div class="row-fluid wrap-row">
                                    <div class="span6">
                                      <h6>Custom Attribute 1</h6>
                                      <select>
                                        <option>Low</option>
                                        <option>Medium</option>
                                        <option>High</option>
                                      </select>
                                    </div>
                                    <div class="span6">
                                      <h6>Custom Attribute 2</h6>
                                      <p>
                                        Name the country built on the genocide of one race and the enslavement of another
                                      </p>
                                    </div>
                                  </div><!-- row-fluid end -->

                                  <div class="row-fluid wrap-row">
                                    <div class="span6">
                                      <h6>Custom Attribute 3</h6>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" name="" id="">
                                        Agree with terms and conditions
                                      </label>
                                    </div>
                                  </div><!-- row-fluid end -->
                                </div><!-- hidden-fields-area end -->

                                <div class="row-fluid">
                                  <div class="span12">
                                    <div class="info-expand">
                                      <a class="show-hidden-fields info-show-hide" href="#">
                                        <span class="out">
                                          <i class="grcicon-arrow-right"></i>
                                          Misc 
                                        </span>
                                        <span class="in">
                                          <i class="grcicon-arrow-bottom"></i>
                                          Misc 
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div><!-- row-fluid end -->

                                <div class="hidden-fields-area" style="display:none;">
                                  <div class="row-fluid wrap-row">
                                    <div class="span6">
                                      <h6>Custom Attribute 7584</h6>
                                      <select>
                                        <option>Low</option>
                                        <option>Medium</option>
                                        <option>High</option>
                                      </select>
                                    </div>
                                    <div class="span6">
                                      <h6>Custom Attribute 98</h6>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" name="" id="">
                                        Check this if you are developer
                                      </label>
                                    </div>
                                  </div><!-- row-fluid end -->
                                </div><!-- hidden-fields-area end -->
                              </div><!-- custom-attr-wrap end -->

                            </div><!-- tier-content end -->
                          </div><!-- info end -->
                        </div><!-- auditObjectPin end -->
                        
                        <div id="auditEvidencePin">
                          <div class="info">

                            <div class="clearfix">
                              <div class="details-wrap pin">
                                <ul class="pin-action">
                                  <li>
                                    <a href="#" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="default"><i class="grcicon-default" rel="tooltip" data-placement="left" title="Default height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
                                  </li>
                                </ul><!-- pin-action end -->
                              </div><!-- details-wrap pin end -->

                              <div class="tier-content">
                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Evidence</h6>
                                    <h3>Document_Screenshot_confidential.pdf</h3>
                                  </div>
                                  <div class="span6">
                                    <h6>
                                      Documentation Response Folder
                                    <i class="grcicon-help-black" rel="tooltip" data-original-title="If selected, all Documentation Response attachments go here."></i>
                                    </h6>
                                    <a href="https://docs.google.com/a/reciprocitylabs.com/folderview?id=0B5rYGs55DCKmX3ZZUmVOODcyMWM&amp;usp=drivesdk" target="_blank">
                                      Dev Docs (internal)
                                    </a>
                                  </div>
                                </div><!-- row-fluid end -->
                              </div><!-- tier-content end -->
                            </div>

                          </div><!-- info end -->
                        </div><!-- auditEvidencePin end -->
                        
                        <div id="auditMeetingPin">
                          <div class="info">

                            <div class="clearfix">
                              <div class="details-wrap pin">
                                <ul class="pin-action">
                                  <li>
                                    <a href="#" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="default"><i class="grcicon-default" rel="tooltip" data-placement="left" title="Default height"></i></a>
                                  </li>
                                  <li>
                                    <a href="#" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
                                  </li>
                                </ul><!-- pin-action end -->
                              </div><!-- details-wrap pin end -->

                              <div class="tier-content">
                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Meeting</h6>
                                    <h3><a href="#">http://new-meeting.com/</a></h3>
                                  </div>
                                </div><!-- row-fluid end -->
                              </div><!-- tier-content end -->
                            </div>

                          </div><!-- info end -->
                        </div><!-- auditMeetingPin end -->

                      </div><!-- pin-content end -->

                    </section><!-- content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</audit>
