<dashboard>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <div class="grcobject entities" rel="tooltip" data-placement="bottom" title="Person">
            <i class="grcicon-person"></i>
          </div>
          My Work
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li>
          <a href="#info_widget" rel="tooltip" data-placement="bottom" title="Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              Info
            </div>
          </a>
        </li>
        <li class="active">
          <a href="#task_widget" rel="tooltip" data-placement="bottom" data-original-title="Tasks">
            <div class="oneline">
              <i class="grcicon-cycle_task_group_object_task-color"></i>
              Tasks (12)
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="alert warning">
              <a href="#" class="close" data-dismiss="alert">x</a>
              <span>
                <i class="grcicon-warning"></i>
                This is global messaging letting you know that something is over due!
              </span>
            </div>

            <div class="row-fluid">
              <div class="span4">
                <div class="inner-content">
                  <section class="widget">
                    <header class="header">
                      <div class="row-fluid">
                        <div class="span9">
                          <h2>
                            <i class="grcicon-risk-color"></i>
                            Get Started
                            <span class="explanation"></span>
                          </h2>
                        </div>
                        <div class="span3">
                          <div class="widget-action pull-right widget-action-help">
                            <a data-placement="left" data-toggle="modal-ajax-helpform" data-help-slug="task" href="javascript://" rel="tooltip" data-original-title="Help">
                              <i class="grcicon-help-black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </header>
                    <section class="content">
                      <ul class="tree-structure new-tree colored-list">
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Create a Program
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Create a Workflow
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Create An Audit
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Create An Object
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->

                  <section class="widget sticky_header">
                    <header class="header">
                      <div class="row-fluid">
                        <div class="span9">
                          <h2>
                            <i class="grcicon-audit-color"></i>
                            Recently Viewed
                            <span class="explanation"></span>
                          </h2>
                        </div>
                        <div class="span3">
                          <div class="widget-action pull-right widget-action-help">
                            <a data-placement="left" data-toggle="modal-ajax-helpform" data-help-slug="task" href="javascript://" rel="tooltip" data-original-title="Help">
                              <i class="grcicon-help-black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </header>
                    <section class="content ggrc_controllers_list_view">
                      <ul class="tree-structure new-tree simple-list">
                        <li class="tree-item">
                          <a href="#">
                            <i class="grcicon-person-color"></i>
                            Ben Sykes
                          </a>
                        </li>
                        <li class="tree-item cms_controllers_tree_view_node">
                          <a href="#">
                            <i class="grcicon-program-color"></i>
                            My Program
                          </a>
                        </li>
                        <li class="tree-item cms_controllers_tree_view_node">
                          <a href="#">
                            <i class="grcicon-workflow-color"></i>
                            My Workflow
                          </a>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
              <div class="span8">
                <div class="inner-content">
                  <section class="widget">
                    <header class="header">
                      <div class="row-fluid">
                        <div class="span9">
                          <h2>
                            <i class="grcicon-workflow-color"></i>
                            Workflow Progress
                            <span class="explanation"></span>
                          </h2>
                        </div>
                        <div class="span3">
                          <div class="widget-action pull-right widget-action-help">
                            <a data-placement="left" data-toggle="modal-ajax-helpform" data-help-slug="task" href="javascript://" rel="tooltip" data-original-title="Help">
                              <i class="grcicon-help-black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </header>
                    <section class="content">
                      <ul class="tree-structure new-tree colored-list">
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->

                  <section class="widget">
                    <header class="header">
                      <div class="row-fluid">
                        <div class="span9">
                          <h2>
                            <i class="grcicon-workflow-color"></i>
                            Workflow Progress
                            <span class="explanation"></span>
                          </h2>
                        </div>
                        <div class="span3">
                          <div class="widget-action pull-right widget-action-help">
                            <a data-placement="left" data-toggle="modal-ajax-helpform" data-help-slug="task" href="javascript://" rel="tooltip" data-original-title="Help">
                              <i class="grcicon-help-black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </header>
                    <section class="content">
                      <ul class="tree-structure new-tree colored-list">
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <a href="#">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="item-data">
                                    <div class="tree-title-area">
                                      Lorem ipsum dolor sit amet
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</dashboard>
