{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<dashboard>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <i class="grciconlarge-dashboard-new"></i>
          My Work
          <a class="nav-trigger active" href="#"><i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="Hide menu"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li>
          <a href="#info_widget" rel="tooltip" data-placement="bottom" title="My Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              My Info
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="My Controls">
            <div class="oneline">
              <i class="grcicon-control-color"></i>
              My Controls (4)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="My Standards">
            <div class="oneline">
              <i class="grcicon-standard-color"></i>
              My Standards (13)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="My Programs">
            <div class="oneline">
              <i class="grcicon-program-color"></i>
              My Programs (2)
            </div>
          </a>
        </li>
        <li class="hidden-widgets-list">
          <a href="#dropdown-widgets" class="dropdown-toggle" data-toggle="dropdown">
            <i class="grcicon-created" rel="tooltip" data-placement="bottom" title="Add widget"></i>
            Add...
          </a>
          <div class="dropdown-menu" role="menu">
            <div class="inner-nav-item">
              <a href="#regulation_widget">
                <div class="oneline">
                  <i class="grcicon-regulation-color"></i>
                  Regulations
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#contract_widget">
                <div class="oneline">
                  <i class="grcicon-contract-color"></i>
                  Contracts
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#policy_widget">
                <div class="oneline">
                  <i class="grcicon-policy-color"></i>
                  Policies
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#standard_widget">
                <div class="oneline">
                  <i class="grcicon-standard-color"></i>
                  Standards
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#section_widget">
                <div class="oneline">
                  <i class="grcicon-section-color"></i>
                  Sections
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#clause_widget">
                <div class="oneline">
                  <i class="grcicon-clause-color"></i>
                  Clauses
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#objective_widget">
                <div class="oneline">
                  <i class="grcicon-objective-color"></i>
                  Objectives
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#control_widget">
                <div class="oneline">
                  <i class="grcicon-control-color"></i>
                  Controls
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#system_widget">
                <div class="oneline">
                  <i class="grcicon-system-color"></i>
                  Systems
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#process_widget">
                <div class="oneline">
                  <i class="grcicon-process-color"></i>
                  Processes
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#data_asset_widget">
                <div class="oneline">
                  <i class="grcicon-data_asset-color"></i>
                  Data Assets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#product_widget">
                <div class="oneline">
                  <i class="grcicon-product-color"></i>
                  Products
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#project_widget">
                <div class="oneline">
                  <i class="grcicon-project-color"></i>
                  Projects
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#facility_widget">
                <div class="oneline">
                  <i class="grcicon-facility-color"></i>
                  Facilities
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#market_widget">
                <div class="oneline">
                  <i class="grcicon-market-color"></i>
                  Markets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#org_group_widget">
                <div class="oneline">
                  <i class="grcicon-org_group-color"></i>
                  Org Groups
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#program_widget">
                <div class="oneline">
                  <i class="grcicon-program-color"></i>
                  Programs
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#audit_widget">
                <div class="oneline">
                  <i class="grcicon-audit-color"></i>
                  Audits
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#vendor_widget">
                <div class="oneline">
                  <i class="grcicon-vendor-color"></i>
                  Vendors
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="alert warning">
              <a href="#" class="close" data-dismiss="alert">x</a>
              <span>
                <i class="grcicon-warning"></i>
                This is global messaging letting you know that something is over due!
              </span>
            </div>

            <div class="row-fluid">
              <div class="span3 side-wrap">
                <div class="inner-content">
                  <section class="widget bare">
                    <header class="header">
                      <h2>Get Started</h2>
                    </header>
                    <section class="content">
                      <ul class="quick-list">
                        <li>
                          <a href="#">
                            <span class="icon-wrap">
                              <i class="grcicon-program-color"></i>
                            </span>
                            Start new program
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="icon-wrap">
                              <i class="grcicon-audit-color"></i>
                            </span>
                            Start new audit
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="icon-wrap">
                              <i class="grcicon-workflow-color"></i>
                            </span>
                            Start new workflow
                          </a>
                        </li>
                        <li class="top-space">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-wrap">
                              <i class="grcicon-search-white"></i>
                            </span>
                            Lookup Objects
                          </a>
                          <div class="dropdown-menu dropdown-menu-form quick-search">
                            <ul>
                              <li>
                                <h6>Object Type</h6>
                                <select class="input-block-level option-type-selector">
                                  <optgroup label="Governance">
                                    <option value="AllObjects" label="All Objects">
                                    </option>
                                    <option value="Regulation" label="Regulations">
                                    </option>
                                    <option value="Policy" label="Policies">
                                    </option>
                                    <option value="Contract" label="Contracts">
                                    </option>
                                    <option value="Standard" label="Standards">
                                    </option>
                                    <option value="Program" label="Programs" selected="selected">
                                    </option>
                                    <option value="Objective" label="Objectives">
                                    </option>
                                    <option value="Section" label="Sections">
                                    </option>
                                    <option value="Clause" label="Clauses">
                                    </option>
                                    <option value="Control" label="Controls">
                                    </option>
                                    <option value="Audit" label="Audits">
                                    </option>
                                    <option value="Workflow" label="Workflows">
                                    </option>
                                  </optgroup>
                                  <optgroup label="Assets/Business">
                                    <option value="DataAsset" label="Data Assets">
                                    </option>
                                    <option value="Facility" label="Facilities">
                                    </option>
                                    <option value="Market" label="Markets">
                                    </option>
                                    <option value="Process" label="Processes">
                                    </option>
                                    <option value="Product" label="Products">
                                    </option>
                                    <option value="Project" label="Projects">
                                    </option>
                                    <option value="System" label="Systems">
                                    </option>
                                  </optgroup>
                                  <optgroup label="People/Groups">
                                    <option value="OrgGroup" label="Org Groups">
                                    </option>
                                    <option value="Vendor" label="Vendors">
                                    </option>
                                    <option value="Person" label="People">
                                    </option>
                                  </optgroup>
                                </select>
                              </li>
                              <li>
                                <h6>Matching terms</h6>
                                <input class="input-block-level" placeholder="Enter text to search..." type="text" autofocus="">
                              </li>
                              <li>
                                <button type="submit" class="btn btn-small btn-info">Search</button>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li class="top-space hidden-widgets-list">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-wrap">
                              <i class="grcicon-add-color"></i>
                            </span>
                            Create new object
                          </a>
                          <div class="dropdown-menu" role="menu">
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-regulation-color"></i>
                                  Regulations
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-policy-color"></i>
                                  Policies
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-standard-color"></i>
                                  Standards
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-contract-color"></i>
                                  Contracts
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-clause-color"></i>
                                  Clauses
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-section-color"></i>
                                  Sections
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-objective-color"></i>
                                  Objectives
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-control-color"></i>
                                  Controls
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-person-color"></i>
                                  People
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-org_group-color"></i>
                                  Org Groups
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-vendor-color"></i>
                                  Vendors
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-system-color"></i>
                                  Systems
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-process-color"></i>
                                  Processes
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-data_asset-color"></i>
                                  Data Assets
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-product-color"></i>
                                  Products
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-project-color"></i>
                                  Projects
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-facility-color"></i>
                                  Facilities
                                </div>
                              </a>
                            </div>
                            <div class="inner-nav-item">
                              <a href="#">
                                <div class="oneline">
                                  <i class="grcicon-market-color"></i>
                                  Markets
                                </div>
                              </a>
                            </div>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
              <div class="span9 content-wrap">
                <div class="inner-content">
                  <section class="widget small-margin">
                    <header class="header">
                      <h2>Workflow Progress</h2>
                    </header>
                    <section class="content">
                      <ul class="new-tree tree-one dashboard-tree">
                        <li class="tree-item">
                          <div class="item-wrap">
                            <div class="row-fluid">
                              <div class="span5">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <div class="oneline">
                                      <a href="#">Master clause library review</a>
                                      <ul class="item-util">
                                        <li>
                                          Owned by <a href="#">Predrag Kanazir</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="span5">
                                <div class="tree-progress">
                                  <div class="progress custom-progress">
                                    <div class="bar bar-verify" style="width: 50%;" rel="tooltip" data-original-title="Verified"></div>
                                    <div class="bar bar-progress" style="width: 14%;" rel="tooltip" data-original-title="In Progress"></div>
                                    <div class="bar bar-pending" style="width: 21%;" rel="tooltip" data-original-title="Pending"></div>
                                  </div>
                                  <ul class="item-util">
                                    <li>
                                      120 tasks in total / 50% verified
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="span2">
                                <div class="right">
                                  Due in 15 days
                                  <ul class="item-util">
                                    <li>11/03/2014</li>
                                  <ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-wrap">
                            <div class="row-fluid">
                              <div class="span5">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <div class="oneline">
                                      <a href="#">Google Fiber EEO</a>
                                      <ul class="item-util">
                                        <li>
                                          Owned by <a href="#">Chris Mizera</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="span5">
                                <div class="tree-progress">
                                  <div class="progress custom-progress">
                                    <div class="bar bar-progress" style="width: 28%;" rel="tooltip" data-original-title="In Progress"></div>
                                    <div class="bar bar-pending" style="width: 28%;" rel="tooltip" data-original-title="Pending"></div>
                                  </div>
                                  <ul class="item-util">
                                    <li>
                                      33 tasks in total / 0% verified
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="span2">
                                <div class="right">
                                  Due in 40 days
                                  <ul class="item-util">
                                    <li>12/13/2014</li>
                                  <ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-wrap">
                            <div class="row-fluid">
                              <div class="span5">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <div class="oneline">
                                      <a href="#">Vegan before 6 implementation</a>
                                      <ul class="item-util">
                                        <li>
                                          Owned by <a href="#">Stock Market</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="span5">
                                <div class="tree-progress">
                                  <div class="progress">
                                    <div class="bar bar-pending" style="width: 48%;" rel="tooltip" data-original-title="Pending"></div>
                                  </div>
                                  <ul class="item-util">
                                    <li>
                                      10 tasks in total / 0% verified
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="span2">
                                <div class="right">
                                  Due in 15 days
                                  <ul class="item-util">
                                    <li>11/03/2014</li>
                                  <ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-wrap">
                            <div class="row-fluid">
                              <div class="span5">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <div class="oneline">
                                      <a href="#">Food quality and variety assessment</a>
                                      <ul class="item-util">
                                        <li>
                                          Owned by <a href="#">Alice Wonderland</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="span5">
                                <div class="tree-progress">
                                  <div class="progress custom-progress">
                                    <div class="bar bar-verify" style="width: 10%;" rel="tooltip" data-original-title="Verified"></div>
                                    <div class="bar bar-progress" style="width: 40%;" rel="tooltip" data-original-title="In progress"></div>
                                    <div class="bar bar-pending" style="width: 10%;" rel="tooltip" data-original-title="Pending"></div>
                                    <div class="bar bar-warning" style="width: 15%;" rel="tooltip" data-original-title="Overdue"></div>
                                  </div>
                                  <ul class="item-util">
                                    <li>
                                      40 tasks in total / 10% verified
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="span2">
                                <div class="right">
                                  <span class="overdue">Overdue</span>
                                  <ul class="item-util">
                                    <li>11/03/2012</li>
                                  <ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->

                  <section class="widget dashboard small-margin">
                    <header class="header widget-nav">
                      <div class="row-fluid">
                        <div class="span12">
                          <ul>
                            <li class="active">
                              <a href="#">
                                My Tasks (2)
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Audit Requests (2)
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </header>
                    <section class="content">
                      <ul class="tree-structure new-tree dashboard-tree">
                        <li class="filter-wrap">
                          <div class="filter-border">
                            <form>
                              <div class="row-fluid">
                                <div class="span9">
                                  <ul>
                                    <li>
                                      <label>
                                        Status
                                      </label>
                                      <select name="status" class="input-small">
                                        <option value="" selected="true">Any</option>
                                        <option>Draft</option>
                                        <option>Requested</option>
                                        <option>Responded</option>
                                        <option>Amended Request</option>
                                        <option>Updated Response</option>
                                        <option>Accepted</option>
                                      </select>
                                    </li>
                                    <li>
                                      <input type="text" class="input-medium" placeholder="Filter by Object">
                                    </li>
                                    <li>
                                      <input type="text" class="input-medium" placeholder="Filter by Workflow">
                                    </li>
                                    <li>
                                      <label class="checkbox-inline">
                                        <input class="checkbox" type="checkbox">
                                        Overdue only
                                      </label>
                                    </li>
                                  </ul>
                                </div>
                                <div class="span3">
                                  <div class="pull-right">
                                    <label class="checkbox-inline">
                                      <input class="checkbox" type="checkbox">
                                      Show history
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        Due in 3 days
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-info">Start</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-draft"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Implement new password policy accross Google Play store modules</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Google Fiber EOO</a>
                                          </li>
                                          <li>
                                            Control: <a href="#">Login Access</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <div class="details-wrap">
                                <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                  <li>
                                    <a href="#">
                                      <i class="grcicon-goto"></i>
                                      View Task
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <i class="grcicon-imp-exp"></i>
                                      Import Request
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <i class="grcicon-export"></i>
                                      Export Request
                                    </a>
                                  </li>
                                  <li class="border">
                                    <a href="#">
                                      <i class="grcicon-review"></i>
                                      Submit for Review
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <i class="grcicon-remove"></i>
                                      Unmap
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <i class="grcicon-edit"></i>
                                      Edit Task
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div class="tier-content">

                                <div class="row-fluid wrap-row">
                                  <div class="span12">
                                    <h6>Task Details</h6>
                                    <p>
                                      Fanny pack kitsch fashion axe wolf photo booth, try-hard Banksy artisan sartorial salvia selvage Brooklyn. Art party next level plaid sartorial letterpress, flexitarian American Apparel chambray. Fashion axe before they sold out cred, cardigan selfies pug twee.
                                    </p>
                                    <p>
                                      Trust fund ugh polaroid, four dollar toast mumblecore Pinterest Blue Bottle tote bag. Intelligentsia crucifix art party DIY 90's cred Vice. Squid you probably haven't heard of them brunch 8-bit, fingerstache quinoa pop-up retro irony banh mi organic hashtag. Mumblecore tofu raw denim cronut chambray gentrify.
                                    </p>
                                  </div>
                                </div><!-- row-fluid end -->

                                <div class="row-fluid wrap-row">
                                  <div class="span6">
                                    <h6>Assignee</h6>
                                    <a href="#">Predrag Kanazir</a>
                                  </div>
                                  <div class="span6">
                                    <h6>Starts/Ends</h6>
                                    11/26/2014 - 12/24/2014
                                  </div>
                                </div><!-- row-fluid end -->

                                <div class="row-fluid wrap-row">
                                  <div class="span12">
                                    <h6>Comments (2)</h6>
                                    <ul class="entry-list">
                                      <li>
                                        <span class="status-label status-draft"></span>
                                        <div class="w-status">
                                          Photo booth jean shorts cold-pressed narwhal slow-carb, Tumblr Williamsburg locavore tousled paleo iPhone. Forage iPhone +1 wolf organic fixie 8-bit keffiyeh single-origin coffee ennui.
                                          <div class="oneline">
                                            <a href="#" class="entry-attachment tree-item-add">
                                              <i class="grcicon-attach-color"></i><span>Attach supporting file</span>
                                            </a>
                                          </div>
                                          <span class="entry-author">
                                            Modified by <a href="#">Example User</a> on 10/28/2014 03:50:51am PST
                                          </span>
                                        </div>
                                        <div class="entry-actions pull-right">
                                          <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                                          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                            <li>
                                              <a href="#">
                                                <i class="grcicon-edit"></i>
                                                Edit Comment
                                              </a>
                                            </li>
                                            <li>
                                              <a href="#">
                                                <i class="grcicon-deleted"></i>
                                                Delete Comment
                                              </a>
                                            </li>
                                          </ul>
                                        </div><!-- entry-actions end -->
                                      </li>

                                      <li>
                                        <span class="status-label status-draft"></span>
                                        <div class="w-status">
                                          Carles 90's occupy swag. Tote bag viral occupy, authentic you probably haven't heard of them hashtag fap vegan small batch. Literally dreamcatcher butcher Echo Park YOLO.
                                          <ul class="attachment-list">
                                            <li>
                                              <a href="#">
                                                <i class="grcicon-attach-color"></i>
                                                <span>SuperSecretDocument.pdf</span>
                                              </a>
                                              <a href="#" class="info-action unmap">
                                                <span class="result"></span>
                                                <i class="grcicon-deleted"></i>
                                              </a>
                                            </li>
                                            <li>
                                              <a href="#">
                                                <i class="grcicon-attach-color"></i>
                                                <span>Sneaky Ways to Holidays.doc</span>
                                              </a>
                                              <a href="#" class="info-action unmap">
                                                <span class="result"></span>
                                                <i class="grcicon-deleted"></i>
                                              </a>
                                            </li>
                                          </ul>
                                          <div class="oneline">
                                            <a href="#" class="entry-attachment tree-item-add">
                                              <i class="grcicon-attach-color"></i><span>Attach supporting file</span>
                                            </a>
                                          </div>
                                          <span class="entry-author">
                                            Modified by <a href="#">Example User</a> on 10/28/2014 03:50:51am PST
                                          </span>
                                        </div>
                                        <div class="entry-actions pull-right">
                                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                                            <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                                              <li>
                                                <a href="#">
                                                  <i class="grcicon-edit"></i>
                                                  Edit Comment
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#">
                                                  <i class="grcicon-deleted"></i>
                                                  Delete Comment
                                                </a>
                                              </li>
                                            </ul>
                                          </div><!-- entry-actions end -->
                                      </li>

                                      <li>
                                        <a href="#" class="btn btn-small btn-info">
                                          Add Comment
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- row-fluid end -->

                              </div><!-- tier-content end -->
                            </div><!-- tier-2-info-content end -->
                          </div><!-- tier-2-info end -->
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        Due in 7 days
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-success">Verify</a>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-danger">Decline</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-progress"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Check if food is still delicious in Stock Market after 6pm</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Vegan before 6 implementation</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        <span class="overdue">Overdue</span>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-success">Verify</a>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-danger">Decline</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-overdue"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Gather required doc for Fiber kick-off in Alaska</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Google Fiber EOO</a>
                                          </li>
                                          <li>
                                            Control: <a href="#">Alaska</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        Due in 3 days
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-info">Start</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-draft"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Implement new password policy accross Google Play store modules</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Google Fiber EOO</a>
                                          </li>
                                          <li>
                                            Control: <a href="#">Login Access</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        Due in 7 days
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-success">Verify</a>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-danger">Decline</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-progress"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Check if food is still delicious in Stock Market after 6pm</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Vegan before 6 implementation</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <ul class="tree-action-list">
                                      <li>
                                        <span class="overdue">Overdue</span>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-success">Verify</a>
                                      </li>
                                      <li>
                                        <a href="#" class="btn btn-small btn-danger">Decline</a>
                                      </li>
                                    </ul>
                                    <div class="item-data">
                                      <span class="status-label status-overdue"></span>
                                      <div class="tree-title-area w-status">
                                        <a href="#">Gather required doc for Fiber kick-off in Alaska</a>
                                        <ul class="item-util">
                                          <li>
                                            Workflow: <a href="#">Google Fiber EOO</a>
                                          </li>
                                          <li>
                                            Control: <a href="#">Alaska</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tier-2-info item-content">
                            <div class="tier-2-info-content">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul><!-- tree-structure end -->
                    </section><!-- Widget content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</dashboard>
