{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<object>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <span class="title-prev">
            <a class="title-trigger" href="#"><i class="grciconlarge-dashboard-new"></i></a>
            My Dashboard
          </span>
          <span class="title-slide">
            <i class="grciconlarge-control"></i>
            Golden ratio prevenition
          </span>
          <a class="nav-trigger active" href="#"><i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="Hide menu"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li class="active">
          <a href="#info_widget" rel="tooltip" data-placement="bottom" title="Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              Info
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Controls">
            <div class="oneline">
              <i class="grcicon-control-color"></i>
              Controls (4)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Standards">
            <div class="oneline">
              <i class="grcicon-standard-color"></i>
              Standards (13)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Programs">
            <div class="oneline">
              <i class="grcicon-program-color"></i>
              Programs (2)
            </div>
          </a>
        </li>
        <li class="hidden-widgets-list">
          <a href="#dropdown-widgets" class="dropdown-toggle" data-toggle="dropdown">
            <i class="grcicon-created" rel="tooltip" data-placement="bottom" title="Add widget"></i>
            Add...
          </a>
          <div class="dropdown-menu" role="menu">
            <div class="inner-nav-item">
              <a href="#regulation_widget">
                <div class="oneline">
                  <i class="grcicon-regulation-color"></i>
                  Regulations
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#contract_widget">
                <div class="oneline">
                  <i class="grcicon-contract-color"></i>
                  Contracts
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#policy_widget">
                <div class="oneline">
                  <i class="grcicon-policy-color"></i>
                  Policies
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#standard_widget">
                <div class="oneline">
                  <i class="grcicon-standard-color"></i>
                  Standards
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#section_widget">
                <div class="oneline">
                  <i class="grcicon-section-color"></i>
                  Sections
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#clause_widget">
                <div class="oneline">
                  <i class="grcicon-clause-color"></i>
                  Clauses
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#objective_widget">
                <div class="oneline">
                  <i class="grcicon-objective-color"></i>
                  Objectives
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#control_widget">
                <div class="oneline">
                  <i class="grcicon-control-color"></i>
                  Controls
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#system_widget">
                <div class="oneline">
                  <i class="grcicon-system-color"></i>
                  Systems
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#process_widget">
                <div class="oneline">
                  <i class="grcicon-process-color"></i>
                  Processes
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#data_asset_widget">
                <div class="oneline">
                  <i class="grcicon-data_asset-color"></i>
                  Data Assets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#product_widget">
                <div class="oneline">
                  <i class="grcicon-product-color"></i>
                  Products
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#project_widget">
                <div class="oneline">
                  <i class="grcicon-project-color"></i>
                  Projects
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#facility_widget">
                <div class="oneline">
                  <i class="grcicon-facility-color"></i>
                  Facilities
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#market_widget">
                <div class="oneline">
                  <i class="grcicon-market-color"></i>
                  Markets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#org_group_widget">
                <div class="oneline">
                  <i class="grcicon-org_group-color"></i>
                  Org Groups
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#program_widget">
                <div class="oneline">
                  <i class="grcicon-program-color"></i>
                  Programs
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#audit_widget">
                <div class="oneline">
                  <i class="grcicon-audit-color"></i>
                  Audits
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#vendor_widget">
                <div class="oneline">
                  <i class="grcicon-vendor-color"></i>
                  Vendors
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="row-fluid">
              <div class="span12 full-width">
                <div class="inner-content">
                  <section class="widget small-margin">
                    <header class="header">
                      <h2>Control Info</h2>
                    </header>
                    <section class="content">
                      <section class="info">
                        <div class="details-wrap">
                          <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                            <li>
                              <a href="#">
                                <i class="grcicon-goto"></i>
                                View Task
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-imp-exp"></i>
                                Import Request
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-export"></i>
                                Export Request
                              </a>
                            </li>
                            <li class="border">
                              <a href="#">
                                <i class="grcicon-review"></i>
                                Submit for Review
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-remove"></i>
                                Unmap
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-edit"></i>
                                Edit Task
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="tier-content">
                          <div class="row-fluid wrap-row">
                            <div class="span6">
                              <h6>Title</h6>
                              <h3>Golden ratio prevention</h3>
                            </div>
                            <div class="span6">
                              <h6>State</h6>
                              <span class="state-value green">Final</span>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span12">
                              <h6>Description</h6>
                              <p>
                                Dreamcatcher wayfarers mlkshk actually. Chillwave post-ironic occupy Etsy, cold-pressed chambray cronut Intelligentsia distillery roof party meggings typewriter. Quinoa tattooed four dollar toast, tote bag pour-over Vice Marfa asymmetrical Etsy raw denim Odd Future. PBR&B migas direct trade whatever.Typewriter raw denim meggings chillwave heirloom. Meh wolf Tumblr butcher. Tonx letterpress Echo Park, tote bag ugh lumbersexual kale chips four dollar toast banh mi sustainable next level ethical hella.
                              </p>
                            </div>
                          </div><!-- row-fluid end -->
                          <div class="row-fluid wrap-row">
                            <div class="span12">
                              <h6>Notes</h6>
                              <p>
                                Carles 90's occupy swag. Tote bag viral occupy, authentic you probably haven't heard of them hashtag fap vegan small batch. Literally dreamcatcher butcher Echo Park YOLO. Selvage migas mixtape, next level flannel Shoreditch twee literally actually yr vegan Truffaut photo booth. Thundercats VHS cold-pressed whatever, McSweeney's flannel pickled cliche meditation kale chips Marfa. Chillwave bicycle rights shabby chic XOXO leggings. Wes Anderson four loko single-origin coffee actually.
                              </p>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span6">
                              <h6>Owner</h6>
                              <a href="#">Predrag Kanazir</a>
                            </div>
                            <div class="span6">
                              <h6>Contact</h6>
                              <a href="#">Anuj Sharma</a>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span6">
                              <h6>Control URL</h6>
                              <a href="#">http://controlit.com/</a>
                            </div>
                            <div class="span6">
                              <h6>Reference URL</h6>
                              <a href="#">http://reference.controlit.com/</a>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="custom-attr-wrap">
                            <div class="row-fluid">
                              <div class="span12">
                                <div class="info-expand">
                                  <a class="show-hidden-fields info-show-hide" href="#">
                                    <span class="out">
                                      <i class="grcicon-arrow-right"></i>
                                      Assessors 
                                    </span>
                                    <span class="in">
                                      <i class="grcicon-arrow-bottom"></i>
                                      Assessors 
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div><!-- row-fluid end -->
                          
                            <div class="hidden-fields-area" style="display:none;">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Custom Attribute 1</h6>
                                  Low
                                </div>
                                <div class="span6">
                                  <h6>Custom Attribute 2</h6>
                                  <p>
                                    Name the country built on the genocide of one race and the enslavement of another
                                  </p>
                                </div>
                              </div><!-- row-fluid end -->

                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Custom Attribute 3</h6>
                                  <label class="checkbox-inline">
                                    <input type="checkbox" name="" id="" disabled="disabled">
                                    Agree with terms and conditions
                                  </label>
                                </div>
                              </div><!-- row-fluid end -->
                            </div><!-- hidden-fields-area end -->

                            <div class="row-fluid">
                              <div class="span12">
                                <div class="info-expand">
                                  <a class="show-hidden-fields info-show-hide" href="#">
                                    <span class="out">
                                      <i class="grcicon-arrow-right"></i>
                                      Misc 
                                    </span>
                                    <span class="in">
                                      <i class="grcicon-arrow-bottom"></i>
                                      Misc 
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div><!-- row-fluid end -->

                            <div class="hidden-fields-area" style="display:none;">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <h6>Custom Attribute 7584</h6>
                                  Low
                                </div>
                                <div class="span6">
                                  <h6>Custom Attribute 98</h6>
                                  <label class="checkbox-inline">
                                    <input type="checkbox" name="" id="" checked="checked" disabled="disabled">
                                    Check this if you are developer
                                  </label>
                                </div>
                              </div><!-- row-fluid end -->
                            </div><!-- hidden-fields-area end -->
                          </div><!-- custom-attr-wrap end -->

                        </div><!-- tier-content end -->

                      </section><!-- info end -->
                    </section><!-- content end -->
                    <div class="info-widget-footer">
                      <p>
                        <small>
                          <em>
                            Created by <a href="#">predrag@reciprocitylabs.com</a> at 11/24/2014 03:35:56pm PST
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Modified by <a href="#">predrag@reciprocitylabs.com</a> at 11/24/2014 03:39:59pm PST
                          </em>
                        </small>
                      </p>
                    </div>
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</object>
