<reporting>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="dashboard-title">
          Custom reporting
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        {{#tabs}}
        <li>
          <a href="#system">
            <div class="oneline">
              {{^new_report}}<i class="grcicon-pie-chart-color"></i>{{/new_report}}
              <span class="{{#new_report}} red{{/new_report}}">{{title}}</span>
            </div>
          </a>
        </li>
        {{/tabs}}

        <li class="hidden-widgets-list">
          <a class="dropdown-toggle" id="newReportAdd" href="#">
            <div class="oneline">
              <i class="grcicon-show" rel="tooltip" data-placement="top" data-original-title="Add new report"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <!-- Widget: New Report -->
            <section class="widget sticky_header widget-active" style="display: block;">
              <section class="content ggrc_controllers_list_view">
                <div class="choose-object-wrap parent">
                  <div class="row-fluid">
                    <div class="span2">
                      <h6>
                        Pivot Object type
                        <span class="required">*</span>
                      </h6>
                      <select class="input-block-level option-type-selector">
                        <optgroup label="Governance">
                          <option value="Program" selected="selected">Program</option>
                          <option value="Regulation">Regulation</option>
                          <option value="Standard">Standard</option>
                          <option value="Policy">Policy</option>
                          <option value="Contract">Contract</option>
                          <option value="Objective">Objective</option>
                          <option value="Control">Control</option>
                          <option value="Section">Section</option>
                          <option value="Clause">Clause</option>
                        </optgroup>
                        <optgroup label="People/Groups">
                          <option value="People">Person</option>
                          <option value="OrgGroup">Org Group</option>
                        </optgroup>
                        <optgroup label="Assets/Business">
                          <option value="System">System</option>
                          <option value="Process">Process</option>
                          <option value="DataAsset">Data Asset</option>
                          <option value="Facility">Facility</option>
                          <option value="Market">Market</option>
                          <option value="Product">Product</option>
                          <option value="Project">Project</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="span4">
                      <h6>
                        Find pivot object
                        <span class="required">*</span>
                      </h6>
                      <div class="modal-search objective-selector">
                        <input id="pivot_search" class="input-block-level" placeholder="Type to search for program..." type="text">
                      </div>
                    </div>
                    <div class="span3">
                      <h6>
                        Primary object set
                        <span class="required">*</span>
                      </h6>
                      <div class="single-line-filter">
                        <select class="input-xlarge relevant-set-choose">
                          <option value="Program">Programs</option>
                          <option value="Regulation">Regulations</option>
                          <option value="Policy">Policies</option>
                          <option value="Standard">Standards</option>
                          <option value="Contract">Contracts</option>
                          <option value="Clause">Clauses</option>
                          <option value="Section">Sections</option>
                          <option value="Objective">Objectives</option>
                          <option value="Control" selected="selected">Controls</option>
                          <option value="Person">Persons</option>
                          <option value="System">Systems</option>
                          <option value="Process">Processes</option>
                          <option value="DataAsset">Data Assets</option>
                          <option value="Product">Products</option>
                          <option value="Project">Projects</option>
                          <option value="Facility">Facilities</option>
                          <option value="Market">Markets</option>
                        </select>
                        <a href="#" class="attribute-trigger" data-attrwrap=".attr-wrap"><i class="grcicon-setup-color"></i></a>
                        <div class="attr-wrap">
                          <h3>Select control attributes to show in report</h3>
                          <ul class="attr-list">
                            <li>
                              <label>
                                <input type="checkbox" name="" id="" checked="checked">
                                Title
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Description
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="" checked="checked">
                                Owner
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Contact
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Notes
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Control URL
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Reference URL
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="" checked="checked">
                                Code
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Effective date
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Stop date
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="" checked="checked">
                                State
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Kind/Nature
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Fraud related
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Significance
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Type/Means
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Frequency
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Categories
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Assertions
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Principal assessor
                              </label>
                            </li>
                            <li>
                              <label>
                                <input type="checkbox" name="" id="">
                                Secondary assessor
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="span3">
                      <h6>
                        Secondary object set
                      </h6>
                      <div class="single-line-filter">
                        <select class="input-xlarge relevant-set-choose">
                          <option value="">- Choose -</option>
                          <option value="Program">Programs</option>
                          <option value="Regulation">Regulations</option>
                          <option value="Policy">Policies</option>
                          <option value="Standard">Standards</option>
                          <option value="Contract">Contracts</option>
                          <option value="Clause">Clauses</option>
                          <option value="Section">Sections</option>
                          <option value="Objective">Objectives</option>
                          <option value="Control">Controls</option>
                          <option value="Person">Persons</option>
                          <option value="System">Systems</option>
                          <option value="Process">Processes</option>
                          <option value="DataAsset">Data Assets</option>
                          <option value="Product">Products</option>
                          <option value="Project">Projects</option>
                          <option value="Facility">Facilities</option>
                          <option value="Market">Markets</option>
                        </select>
                        <a href="#" class="attribute-trigger"><i class="grcicon-setup-color"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="newFilter" class="filter-wrap">
                  <div class="row-fluid">
                    <div class="span4">
                      <h6>
                        Keyword filter
                      </h6>
                      <input type="text" class="input-block-level" placeholder="Enter keywords" id="">
                    </div>
                    <div class="span2">
                      <h6>
                        Owner/Contact
                      </h6>
                      <input type="text" class="input-block-level" placeholder="Type to find person" id="">
                    </div>
                    <div class="span3">
                      <h6>
                        Modified date (From - To)
                      </h6>
                      <div class="row-fluid">
                        <div class="span5">
                          <input class="input-block-level date hasDatepicker" name="custom_report_start_date" data-toggle="datepicker" data-before="custom_report_end_date" placeholder="MM/DD/YYYY" type="text" value="" id="">
                        </div>
                        <div class="span1 date-range-text">
                          <div class="centered">to</div>
                        </div>
                        <div class="span5">
                          <input class="input-block-level date hasDatepicker" name="custom_report_end_date" data-toggle="datepicker" data-after="custom_report_start_date" placeholder="MM/DD/YYYY" type="text" value="" id="">
                        </div>
                      </div>
                    </div>
                    <div class="span3">
                      <h6>
                        Created date (From - To)
                      </h6>
                      <div class="row-fluid">
                        <div class="span5">
                          <input class="input-block-level date hasDatepicker" name="custom_report_start_date_2" data-toggle="datepicker" data-before="custom_report_end_date_2" placeholder="MM/DD/YYYY" type="text" value="" id="">
                        </div>
                        <div class="span1 date-range-text">
                          <div class="centered">to</div>
                        </div>
                        <div class="span5">
                          <input class="input-block-level date hasDatepicker" name="custom_report_end_date_2" data-toggle="datepicker" data-after="custom_report_start_date_2" placeholder="MM/DD/YYYY" type="text" value="" id="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="save-template-wrap">
                  <div class="add-filter">
                    <a href="javascript://" id="addFilterRule">show more filters...</a>
                  </div>
                  <div class="save-template">
                    <label class="small {{^if pivot_selected}}disabled{{/if}}">
                      <input type="checkbox" name="" id="" checked="checked" {{^if pivot_selected}}disabled="disabled"{{/if}} placeholder="enter report name">
                      Save report as
                    </label>
                    <input type="text" id="custom_report_name" class="input-medium" placeholder="Enter report name" {{^if pivot_selected}}disabled="disabled"{{/if}}>
                    <button type="submit" class="btn btn-primary report-trigger" {{^if pivot_selected}}disabled="disabled"{{/if}}>Generate report</button>
                    <button type="submit" class="btn btn-primary pull-right" {{^if pivot_selected}}disabled="disabled"{{/if}}><i class="grcicon-export-white"></i> Export to CSV</a>
                  </div>
                </div>

                <div class="empty-message-state" id="emptyMessageState">
                  <p>Pivot object is not selected</p>
                </div>
                <div class="selected-object" id="selectedObject">
                  PROGRAM 1
                  <span class="pull-right">Date: 09/26/14</span>
                </div>

                <div class="generated-report" id="generatedReport">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Control Title</th>
                        <th>Control Owner</th>
                        <th>Control Code</th>
                        <th>Control State</th>
                        <th>System Title</th>
                        <th>System Code</th>
                        <th>System State</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>CTRL 1</td>
                        <td>John Doe</td>
                        <td>CT000</td>
                        <td>Draft</td>
                        <td>SYS1.1</td>
                        <td>S001</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 1</td>
                        <td>John Doe</td>
                        <td>CT000</td>
                        <td>Draft</td>
                        <td>SYS1.2</td>
                        <td>S002</td>
                        <td>Maintenance</td>
                      </tr>
                      <tr>
                        <td>CTRL 1</td>
                        <td>John Doe</td>
                        <td>CT000</td>
                        <td>Effective</td>
                        <td>SYS1.3</td>
                        <td>S003</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 2</td>
                        <td>Lisa Mona</td>
                        <td>CT002</td>
                        <td>Effective</td>
                        <td>SYS2.1</td>
                        <td>S004</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 3</td>
                        <td>Karim Abdul</td>
                        <td>CT045</td>
                        <td>Ineffective</td>
                        <td>SYS3.1</td>
                        <td>SX</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 3</td>
                        <td>Karim Abdul</td>
                        <td>CT045</td>
                        <td>Ineffective</td>
                        <td>SYS3.2</td>
                        <td>SXa</td>
                        <td>Draft</td>
                      </tr>
                      <tr>
                        <td>CTRL 4</td>
                        <td>Manny Manning</td>
                        <td>CT-AK-47a</td>
                        <td>Effective</td>
                        <td>SYS4.1</td>
                        <td>SX11</td>
                        <td>Draft</td>
                      </tr>
                      <tr>
                        <td>CTRL 4</td>
                        <td>Manny Manning</td>
                        <td>CT-AK-47a</td>
                        <td>Effective</td>
                        <td>SYS4.2</td>
                        <td>SX12</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 4</td>
                        <td>Manny Manning</td>
                        <td>CT-AK-47a</td>
                        <td>Effective</td>
                        <td>SYS4.3</td>
                        <td>SX13</td>
                        <td>Final</td>
                      </tr>
                      <tr>
                        <td>CTRL 5</td>
                        <td>Carl Grove</td>
                        <td>CT-PR</td>
                        <td>Effective</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="zero-state" id="zeroState">
                  <h2>No results for the current search</h2>
                </div>

                <div class="save-template-wrap">
                  <div class="add-filter">
                    <a href="javascript://" id="addFilterRule">show more filters...</a>
                  </div>
                  <div class="save-template">
                    <label class="small {{^if pivot_selected}}disabled{{/if}}">
                      <input type="checkbox" name="" id="" checked="checked" {{^if pivot_selected}}disabled="disabled"{{/if}} placeholder="enter report name">
                      Save report as
                    </label>
                    <input type="text" id="custom_report_name" class="input-medium" placeholder="Enter report name" {{^if pivot_selected}}disabled="disabled"{{/if}}>
                    <button type="submit" class="btn btn-primary report-trigger" {{^if pivot_selected}}disabled="disabled"{{/if}}>Generate report</button>
                    <button type="submit" class="btn btn-primary pull-right" {{^if pivot_selected}}disabled="disabled"{{/if}}><i class="grcicon-export-white"></i> Export to CSV</a>
                  </div>
                </div>

              </section>
            </section>

          </div>
        </div>
      </div>
    </div>
  </section>
</reporting>
