<tree>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <span class="title-prev">
            <a class="title-trigger" href="#"><i class="grciconlarge-dashboard-new"></i></a>
            My Dashboard
          </span>
          <span class="title-slide">
            <i class="grciconlarge-control"></i>
            Golden ratio prevenition
          </span>
          <a class="nav-trigger active" href="#"><i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="Hide menu"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li>
          <a href="#info_widget" rel="tooltip" data-placement="bottom" title="Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              Control Info
            </div>
          </a>
        </li>
        <li class="active">
          <a href="#" rel="tooltip" data-placement="bottom" title="Systems">
            <div class="oneline">
              <i class="grcicon-system-color"></i>
              Systems (5)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Standards">
            <div class="oneline">
              <i class="grcicon-standard-color"></i>
              Standards (13)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Programs">
            <div class="oneline">
              <i class="grcicon-program-color"></i>
              Programs (2)
            </div>
          </a>
        </li>
        <li class="hidden-widgets-list">
          <a href="#dropdown-widgets" class="dropdown-toggle" data-toggle="dropdown">
            <i class="grcicon-created" rel="tooltip" data-placement="bottom" title="Add widget"></i>
            Add...
          </a>
          <div class="dropdown-menu" role="menu">
            <div class="inner-nav-item">
              <a href="#regulation_widget">
                <div class="oneline">
                  <i class="grcicon-regulation-color"></i>
                  Regulations
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#contract_widget">
                <div class="oneline">
                  <i class="grcicon-contract-color"></i>
                  Contracts
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#policy_widget">
                <div class="oneline">
                  <i class="grcicon-policy-color"></i>
                  Policies
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#standard_widget">
                <div class="oneline">
                  <i class="grcicon-standard-color"></i>
                  Standards
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#section_widget">
                <div class="oneline">
                  <i class="grcicon-section-color"></i>
                  Sections
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#clause_widget">
                <div class="oneline">
                  <i class="grcicon-clause-color"></i>
                  Clauses
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#objective_widget">
                <div class="oneline">
                  <i class="grcicon-objective-color"></i>
                  Objectives
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#control_widget">
                <div class="oneline">
                  <i class="grcicon-control-color"></i>
                  Controls
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#system_widget">
                <div class="oneline">
                  <i class="grcicon-system-color"></i>
                  Systems
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#process_widget">
                <div class="oneline">
                  <i class="grcicon-process-color"></i>
                  Processes
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#data_asset_widget">
                <div class="oneline">
                  <i class="grcicon-data_asset-color"></i>
                  Data Assets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#product_widget">
                <div class="oneline">
                  <i class="grcicon-product-color"></i>
                  Products
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#project_widget">
                <div class="oneline">
                  <i class="grcicon-project-color"></i>
                  Projects
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#facility_widget">
                <div class="oneline">
                  <i class="grcicon-facility-color"></i>
                  Facilities
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#market_widget">
                <div class="oneline">
                  <i class="grcicon-market-color"></i>
                  Markets
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#org_group_widget">
                <div class="oneline">
                  <i class="grcicon-org_group-color"></i>
                  Org Groups
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#program_widget">
                <div class="oneline">
                  <i class="grcicon-program-color"></i>
                  Programs
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#audit_widget">
                <div class="oneline">
                  <i class="grcicon-audit-color"></i>
                  Audits
                </div>
              </a>
            </div>
            <div class="inner-nav-item">
              <a href="#vendor_widget">
                <div class="oneline">
                  <i class="grcicon-vendor-color"></i>
                  Vendors
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="row-fluid">
              <div class="span12 full-width">
                <div class="inner-content">
                  <section class="widget">
                    <header class="header tree-header">
                      <div class="row-fluid">
                        <div class="span3">
                          <div class="title-heading">
                            System Title
                          </div>
                        </div>
                        <div class="span2">
                          Owner
                        </div>
                        <div class="span1">
                          Code
                        </div>
                        <div class="span1">
                          State
                        </div>
                      </div>
                    </header>
                    <section class="content">

                      <ul class="tree-structure new-tree">
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span3">
                                      <span class="status-label status-draft"></span>
                                      <div class="title tree-title-area">
                                        <i class="grcicon-arrow-right"></i>
                                        Synth master cleanse fashion
                                      </div>
                                    </div>
                                    <div class="span2">
                                      <div class="owner tree-title-area">
                                        <a href="#">Predrag Kanazir</a>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="code tree-title-area">
                                        SYS344
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="state-value gray tree-title-area">
                                        Draft
                                      </div>
                                    </div>
                                    <div class="span5">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#"><i class="grcicon-to-right"></i></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- item-wrap end -->
                            </div><!-- openclose end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span3">
                                      <span class="status-label status-draft"></span>
                                      <div class="title tree-title-area">
                                        <i class="grcicon-arrow-right"></i>
                                        Synth master cleanse fashion
                                      </div>
                                    </div>
                                    <div class="span2">
                                      <div class="owner tree-title-area">
                                        <a href="#">Predrag Kanazir</a>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="code tree-title-area">
                                        SYS344
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="state-value green tree-title-area">
                                        Final
                                      </div>
                                    </div>
                                    <div class="span5">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#"><i class="grcicon-to-right"></i></a>
                                        </li>
                                        <li>
                                          <a href="#"><i class="grcicon-to-right"></i></a>
                                        </li>
                                        <li>
                                          <a href="#"><i class="grcicon-to-right"></i></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- item-wrap end -->
                            </div><!-- openclose end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->
                        <li class="tree-item">
                          <div class="item-main">
                            <div class="openclose">
                              <div class="item-wrap">
                                <div class="item-data">
                                  <div class="row-fluid">
                                    <div class="span3">
                                      <span class="status-label status-draft"></span>
                                      <div class="title tree-title-area">
                                        <i class="grcicon-arrow-right"></i>
                                        Synth master cleanse fashion
                                      </div>
                                    </div>
                                    <div class="span2">
                                      <div class="owner tree-title-area">
                                        <a href="#">Predrag Kanazir</a>
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="code tree-title-area">
                                        SYS344
                                      </div>
                                    </div>
                                    <div class="span1">
                                      <div class="state-value gray tree-title-area">
                                        Draft
                                      </div>
                                    </div>
                                    <div class="span5">
                                      <ul class="tree-action-list">
                                        <li>
                                          <a href="#"><i class="grcicon-to-right"></i></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div><!-- item-data end -->
                              </div><!-- item-wrap end -->
                            </div><!-- openclose end -->
                          </div><!-- item-main end -->
                        </li><!-- tree-item end -->
                      </ul><!-- new-tree end -->
                    </section><!-- content end -->
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</tree>
