{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<workflowInfo>

  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span12">
        <h1 class="entities">
          <span class="title-prev">
            <a class="title-trigger" href="#"><i class="grciconlarge-dashboard-new"></i></a>
            My Dashboard
          </span>
          <span class="title-slide">
            <i class="grciconlarge-workflow"></i>
            Super secret flow of work
          </span>
          <a class="nav-trigger active" href="#"><i class="grciconlarge-nav-trigger" rel="tooltip" data-placement="left" title="Hide menu"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav  cms_controllers_inner_nav ui-sortable">
        <li class="active">
          <a href="/mockups/dashboard-ui/workflow-info.html" rel="tooltip" data-placement="bottom" title="Info">
            <div class="oneline">
              <i class="grcicon-info"></i>
              Workflow Info
            </div>
          </a>
        </li>
        <li>
          <a href="/mockups/dashboard-ui/workflow-people.html" rel="tooltip" data-placement="bottom" title="People">
            <div class="oneline">
              <i class="grcicon-person-color"></i>
              People (2)
            </div>
          </a>
        </li>
        <li>
          <a href="/mockups/dashboard-ui/workflow.html" rel="tooltip" data-placement="bottom" title="Setup">
            <div class="oneline">
              <i class="grcicon-task_group-color"></i>
              Setup (0)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="History">
            <div class="oneline">
              <i class="grcicon-history-color"></i>
              History (0)
            </div>
          </a>
        </li>
        <li>
          <a href="#" rel="tooltip" data-placement="bottom" title="Active Cycle">
            <div class="oneline">
              <i class="grcicon-cycle-color"></i>
              Active Cycle (0)
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area wide">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <div class="row-fluid">
              <div class="span12 full-width">
                <div class="inner-content">
                  <section class="widget small-margin">
                    <header class="header">
                      <h2>Workflow Info</h2>
                    </header>
                    <section class="content">
                      <section class="info">
                        <div class="details-wrap">
                          <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                            <li>
                              <a href="#">
                                <i class="grcicon-edit"></i>
                                Edit Workflow info
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-clone"></i>
                                Clone Workflow
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-manual"></i>
                                Manually Start a Cycle
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="grcicon-archive"></i>
                                Archive Workflow
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="tier-content">
                          <div class="row-fluid wrap-row">
                            <div class="span6">
                              <h6>Title</h6>
                              <h3>Super secret flow of work</h3>
                            </div>
                            <div class="span6">
                              <h6>Status</h6>
                              <span class="state-value green">Active</span>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span12">
                              <h6>Description</h6>
                              <p>
                                Dreamcatcher wayfarers mlkshk actually. Chillwave post-ironic occupy Etsy, cold-pressed chambray cronut Intelligentsia distillery roof party meggings typewriter. Quinoa tattooed four dollar toast, tote bag pour-over Vice Marfa asymmetrical Etsy raw denim Odd Future. PBR&B migas direct trade whatever.Typewriter raw denim meggings chillwave heirloom. Meh wolf Tumblr butcher. Tonx letterpress Echo Park, tote bag ugh lumbersexual kale chips four dollar toast banh mi sustainable next level ethical hella.
                              </p>
                            </div>
                          </div><!-- row-fluid end -->
                          <div class="row-fluid wrap-row">
                            <div class="span12">
                              <h6>Notes</h6>
                              <p>
                                Carles 90's occupy swag. Tote bag viral occupy, authentic you probably haven't heard of them hashtag fap vegan small batch. Literally dreamcatcher butcher Echo Park YOLO. Selvage migas mixtape, next level flannel Shoreditch twee literally actually yr vegan Truffaut photo booth. Thundercats VHS cold-pressed whatever, McSweeney's flannel pickled cliche meditation kale chips Marfa. Chillwave bicycle rights shabby chic XOXO leggings. Wes Anderson four loko single-origin coffee actually.
                              </p>
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span6">
                              <h6>Owner</h6>
                              <a href="#">Predrag Kanazir</a>
                            </div>
                            <div class="span6">
                              <h6>Frequency</h6>
                              Monthly
                            </div>
                          </div><!-- row-fluid end -->

                          <div class="row-fluid wrap-row">
                            <div class="span12">
                              <h6>
                                Workflow folder
                                <i class="grcicon-help-black" rel="tooltip" data-original-title="If selected, all Workflow attachments go here."></i>
                              </h6>
                              <span class="error">
                                No folder for this Workflow.
                              </span>
                              <a href="#" class="entry-attachment tree-item-add">
                                <i class="grcicon-attach-color"></i> Assign folder
                              </a>
                            </div>
                          </div><!-- row-fluid end -->

                        </div><!-- tier-content end -->

                      </section><!-- info end -->
                    </section><!-- content end -->
                    <div class="info-widget-footer">
                      <p>
                        <small>
                          <em>
                            Created by <a href="#">predrag@reciprocitylabs.com</a> at 11/24/2014 03:35:56pm PST
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Modified by <a href="#">predrag@reciprocitylabs.com</a> at 11/24/2014 03:39:59pm PST
                          </em>
                        </small>
                      </p>
                    </div>
                  </section><!-- Widget end -->
                </div><!-- inner-content end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</workflowInfo>

