{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="folder-attachments-list">
    <related-documents {instance}="instance" kind="FILE" {^is-loading}="isListLoading">
        <div class="folder-attachments-list__heading">
            <spinner class="folder-attachments-list__spinner" {toggle}="showSpinner"></spinner>
            <h6>{{title}}</h6>
        </div>
            <ggrc-gdrive-folder-picker hide-label="true"
                                        readonly="readonly"
                                        instance="instance"
                                        {^current_folder}="*currentFolder"
                                        {(folder_error)}="folderError"
            ></ggrc-gdrive-folder-picker>
        {{^if_null instance._mandatory_attachment_msg}}
            <div class="alert alert-info alert-dismissible" role="alert">
                {{instance._mandatory_attachment_msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            </div>
        {{/if_null}}

        <object-list {items}="documents" {empty-message}="noItemsText" {show-more}="showMore">
            <editable-document-object-list-item {document}="{.}">
            {{#unless readonly}}
                <unmap-button
                    {destination}="instance"
                    {source}="document"
                    {^is-unmapping} = "../../../../isUnmapping">
                    <action-toolbar-control>
                    <i class="fa fa-trash"></i>
                    </action-toolbar-control>
                </unmap-button>
            {{/unless}}
            </editable-document-object-list-item>
        </object-list>

    {{#unless readonly}}
    {{#is_allowed 'update' instance context='for'}}
    {{#if *currentFolder}}
    {{^if folderError}}
    <span class="attachments-list-action">
        <button
            rel="tooltip"
            data-placement="bottom"
            data-original-title="{{tooltip}}"
            class="btn btn-small btn-white"
            data-toggle="unified-mapper"
            data-join-object-id="{{instance.id}}"
            data-join-object-type="{{instance.class.shortName}}"
            data-join-option-type="Document">
            Attach
        </button>
    </span>
    {{/if}}
    {{/if}}
    {{/is_allowed}}
    {{/unless}}
    </related-documents>
</div>
