-# Copyright (C) 2018 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "layouts/dashboard.haml"

-block extra_javascript
  GGRC.permissions = ={ permissions_json()|safe };
  GGRC.current_user = ={ current_user_json()|safe };
  GGRC.config = ={ config_json()|safe };
  GGRC.roles =  ={ roles_json()|safe };
  GGRC.custom_attr_defs =  ={ attributes_json()|safe }
  GGRC.access_control_roles =  ={ access_control_roles_json()|safe }
  GGRC.internal_access_control_roles =  ={ internal_access_control_roles_json()|safe }
  GGRC.model_attr_defs =  ={ all_attributes_json(True)|safe }
  GGRC.Bootstrap.exportable = ={ export_definitions()|safe };
  GGRC.pageType = "EXPORT";

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("COMMON_JS_PATH")}}' }
  %script{ type:'text/javascript', src:'{{config.get("EXPORT_JS_PATH")}}' }

-block title
  Export

-block header
  -include 'base_objects/_page_header.haml'

-block main
  #csv_export
