-# Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: ivan@reciprocitylabs.com
-# Maintained By: ivan@reciprocitylabs.com

-extends "layouts/_widget_box.haml"

-block widget_help
  export

-block widget_id
  export_view

-block widget_buttons

-block widget_title
  .oneline
    %i.fa.fa-download
    Export Objects

-block main
  #csv_export.info
