-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "layouts/dashboard.haml"

-block extra_javascript
  =super()
  GGRC.Bootstrap.importable = ={ import_definitions()|safe };
  GGRC.pageType = "IMPORT";

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("COMMON_JS_PATH")}}' }
  %script{ type:'text/javascript', src:'{{config.get("IMPORT_JS_PATH")}}' }

-block title
  Import

#page-header
  -block header

-block main
  -include 'import_export/import_content.haml'
