-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "layouts/_widget_box.haml"

-block widget_help
  import

-block widget_id
  import_view

-block widget_buttons

-block widget_title
  .oneline
    %i.fa.fa-cloud-upload
    Import objects

-block main
  #csv_import
