-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: silas@reciprocitylabs.com
-# Maintained By: brad@reciprocitylabs.com

-extends "layouts/_widget_box.haml"

-block widget_help
  import

-block widget_id
  import_view

-block widget_buttons

-block widget_title
  .oneline
    %i.fa.fa-cloud-upload
    Import objects

-block main
  #csv_import.info
