{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <div class="row-fluid">
    <div class="span8">
      <label>
        Summary
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title=""></i>
      </label>
      <input class="input-block-level required" id="task-title" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
      <input id="context_id" name="context" type="hidden" model="Context" value="{{firstnonempty instance.context.id object_params.context}}">
      <br>
    </div>
    <div class="span4">
      <label for="task_group_assignee">
        Assignee:
        <span class="required">*</span>
      </label>
        {{#using assignee=instance.contact model_singular=model.model_singular}}
        <div class="objective-selector">
          <input id="task_group_assignee" tabindex="2" type="text" name="contact.email" class="span10 search-icon" data-lookup="Person" placeholder="Enter text to search for Assignee" value="{{firstnonempty assignee.email ''}}">
        </div>
        {{/using}}

    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 hidable">
      <label for="program_description">
        Details
        <i class="fa fa-question-circle" rel="tooltip" title="Description goes here"></i>
        <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="wysiwyg-area">
        <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{instance.description}}</textarea>
      </div>
    </div>
    <div class="span4">
      {{#if_helpers '\
        ^if' instance.id '\
        and ^if' object_params.workflow}}
        {{#using workflow=instance.workflow}}
        <label>
          Workflow
          <span class="required">*</span>
          <i class="fa fa-question-circle" rel="tooltip" title="Workflow containing this Task Group"></i>
        </label>
        <input tabindex="4" class="input-block-level" name="workflow.title" data-lookup="Workflow" data-template="/workflows/autocomplete_result.mustache" placeholder="Choose Workflow" type="text" value="{{firstexist workflow.title ''}}" />
        {{/using}}
      {{else}}
        <input id="workflow_id" name="workflow" type="hidden" model="Workflow" value="{{firstnonempty instance.workflow.id object_params.workflow}}">
        <!--Workflow
        {{#using workflow=instance.workflow}}
          <div>{{workflow.title}}</div>
        {{/using}}-->
      {{/if_helpers}}
    </div>
  </div>
  <div class="row-fluid">
    <div data-id="code_hidden" class="span4 hidable">
      <label>
        Code
        <i class="fa fa-question-circle" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input data-id="code_txtbx" tabindex="8" class="input-block-level" name="slug" placeholder="TASKGROUP-XXX" type="text" value="{{instance.slug}}">
    </div>
  </div>
  {{#with_page_object_as 'workflow'}}
    <input type="hidden" name="sort_index" value="{{sort_index_at_end workflow.task_groups}}" />
  {{/with_page_object_as}}
</form>
