<div class="action-bar">
  <ul class="change-links">
    {{> /static/mustache/base_objects/edit_object_link.mustache}}
  </ul>
</div>

<div class="small-info">
  <div class="row-fluid">
    <div class="span12">
      <h6>Task Group</h6>
      <h3 class="taskGroupTitle">
        {{instance.title}}
        {{!<a href="javascript://" class="toggleClosest"><i class="grcicon-edit"></i></a>}}
      </h3>
      <div class="taskGroupTitleForm edit-field hide">
        <input type="text" value="{{title}}" class="pull-left saveTaskGroupField" data-index="{{@index}}" data-field="title">
        <a href="javascript://" id="editFieldSave" class="btn btn-success pull-left toggleClosest">Save</a>
        <a href="javascript://" id="editFieldCancel" class="pull-left toggleClosest cancel-text"><i class="grcicon-x-grey"></i>Cancel</a>
      </div>
    </div>
  </div>
  {{#if_equals instance.description ""}}
  {{else}}
    <div class="row-fluid">
      <div class="span12">
        <h6>Description</h6>
        <div class="tree-description">
        {{{instance.description}}}
        </div>
      </div>
    </div>
    <br>
  {{/if_equals}}
</div>