{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}
  <li class="tree-item task-group-index" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}} data-model="true">
      <div class="item-wrap">
        <div class="openclose">
          <span class="status-label"></span>
          <i class="fa fa-caret-right"></i>
        </div>
        <div class="select {{^if_equals parent_instance.task_groups.length 1}}ordered-item-data{{/if}}">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span6">
                <div class="title tree-title-area">
                  <!-- This drag icon is just temporary here until we move 2nd tier info to bottom info pin -->
                  {{^if_equals parent_instance.task_groups.length 1}}
                    <span class="drag"><i class="fa fa-arrows-v"></i></span>
                  {{/if}}
                  {{instance.title}}
                </div>
              </div>
              <div class="span2" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.closest('[data-model]').data('model')}); }}>
                <div class="owner tree-title-area">
                  {{#using assignee=instance.contact}}
                    {{#using workflow=instance.workflow}}
                      {{{renderLive '/static/mustache/people/popover.mustache' person=assignee}}}
                    {{/using}}
                  {{/using}}
                </div>
              </div>
              <div class="span4">
                {{#child_options}}
                  {{#if add_item_view}}
                    {{{renderLive add_item_view}}}
                  {{/if}}
                {{/child_options}}
                <ul class="tree-action-list">
                  <li>
                    {{#with_mapping 'objects' instance}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                      <i class="fa fa-list-alt"></i>
                      <strong class="error">{{objects.length}}</strong>
                    </span>
                    {{/with_mapping}}
                  </li>
                  <li>
                    {{#with_mapping 'task_group_tasks' instance}}
                    <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                      <i class="grcicon-task-black"></i>
                      <strong class="error">{{task_group_tasks.length}}</strong>
                    </span>
                    {{/with_mapping}}
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->
  </li>
