{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}
  <li class="tree-item program task-group-index" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}} data-model="true">
      <div class="openclose">
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data {{^if_equals parent_instance.task_groups.length 1}}ordered-item-data{{/if}}">
              <div class="span7">
                <div class="oneline">
                  {{^if_equals parent_instance.task_groups.length 1}}
                    <span class="drag"><i class="grcicon-drag"></i></span>
                  {{/if}}
                  {{instance.title}}
                </div>
              </div>
              <div class="span3" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.closest('[data-model]').data('model')}); }}>
                <i class="grcicon-person-green pull-left"></i>
                {{#using assignee=instance.contact}}
                {{#if true}}
                    <div class="objective-selector">
                      <input type="text" name="contact.name" data-lookup="Person" class="span8 short-field search-icon" placeholder="Enter text to search for Assignee" value="{{firstnonempty assignee.name assignee.email ''}}">
                    </div>
                {{else}}
                  <div class="item-data">
                    <span class="tree-title-area read-only oneline">
                      {{{renderLive '/static/mustache/people/popover.mustache' person=assignee}}}
                    </span>
                  </div>
                {{/if}}
                {{/using}}
              </div>
              <div class="span1">
                {{#with_mapping 'objects' instance}}
                <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                  <i class="grcicon-object-black"></i>
                  <strong class="error">{{objects.length}}</strong>
                </span>
                {{/with_mapping}}
              </div>
              <div class="span1">
                {{#with_mapping 'task_group_tasks' instance}}
                <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                  <i class="grcicon-task-black"></i>
                  <strong class="error">{{task_group_tasks.length}}</strong>
                </span>
                {{/with_mapping}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tier-2-info item-content" style="display: none;">
      <div class="tier-2-info-content">
        <div class="show-description">
          {{> /static/mustache/task_groups/tier2_content.mustache}}

      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}

        <div class="template-setup">
          <div class="row-fluid">
            <div class="span8 task-list">
              {{#child_options.1}}

                <h3>Tasks (<span>{{list.length}}{{#if_null list}}...{{/if_null}}</span>)</h3>

                <ul class="tree-structure new-tree" {{data 'options'}}

                  {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}
                  {{sortable_if instance.lock_task_order '{ "items": "li:not(.tree-footer)", "handle": ".drag" }' inverse=true}}>
                  <li class="inline-explanation">
                    <div class="oneline">
                      Define and reorder tasks
                    </div>
                  </li>

                </ul>

              {{/child_options.1}}
            </div>
            <div class="span4">
              {{#child_options.0}}
                <h3>Objects (<span>{{list.length}}{{#if_null list}}...{{/if_null}}</span>)</h3>
                <ul class="tree-structure new-tree" {{data 'options'}}
                  {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}>
                  <li class="inline-explanation">
                    <div class="oneline">
                      Choose objects that tasks will apply to
                    </div>
                  </li>
                </ul>

              {{/child_options.0}}


            </div>
          </div>
        </div>

        {{/prune_context}}
      {{/if}}

        </div>
      </div>
    </div>
  </li>
