{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="tree-pagination flex-box">
  <div class="pagination dropdown-container">
    <simple-popover {button-text}="paging.pageSize" extra-css-class="dropdown-container__simple-popover" placement="{{placement}}">
      <div>Items per page:</div>
      <div class="dropdown-container__items-list flex-box flex-row">
        {{#paging.pageSizeSelect}}
        <div
          class="
            dropdown-container__item
            {{#if_equals paging.pageSize .}} dropdown-container__item-selected{{/if_equals}}
            flex-size-1"
          ($click)="setPageSize(.)">{{.}}</div>
        {{/paging.pageSizeSelect}}
      </div>
    </simple-popover>
  </div>
  <div class="pagination">
    <div class="pagination-item {{#if_equals paging.current 1}} disabled{{/if_equals}}">
      <a can-click="setFirstPage">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </a>
    </div>
    <div class="pagination-item {{#if_equals paging.current 1}} disabled{{/if_equals}}">
      <a can-click="setPrevPage">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
    </div>
    <div class="pagination-item">
      <simple-popover {button-text}="getPaginationInfo" extra-css-class="pagination-item__simple-popover" placement="{{placement}}">
          {{#pagesList}}
          <div
            class="
              pagination-item__popover-item
              {{#if_equals paging.current .}} pagination-item__popover-item-selected{{/if_equals}}
              single-line"
            title="{{getPageTitle}}"
            ($click)="setCurrentPage(.)">{{getPageTitle}}</div>
          {{/pagesList}}
        </div>
      </simple-popover>
    </div>
    <div class="pagination-item {{#if_equals paging.current paging.count}} disabled{{/if_equals}}">
      <a can-click="setNextPage">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="pagination-item {{#if_equals paging.current paging.count}} disabled{{/if_equals}}">
      <a can-click="setLastPage">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
