<div class="selector-info" style="margin-right:-10%;">

  <div class="selector-person-info">
    <h3>{{ name }}</h3>
    <h4>
      <a href="mailto:{{ email }}">
        {{ email }}
      </a>
    </h4>
  </div>

</div>


