{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid wrap-row">
  <div class="span3">
    <h6>Contract Length</h6>
    <select class="input-block-level">
      <option value="">-- Choose --</option>
      <option value="">1 year</option>
      <option value="">2 years</option>
      <option value="">3 or more years</option>
    </select>
  </div>
  <div class="span3">
    <h6># of employees</h6>
    <select class="input-block-level">
      <option value="">-- Choose --</option>
      <option value="">1-2</option>
      <option value="">2-5</option>
      <option value="">5-10</option>
      <option value="">10 or more</option>
    </select>
  </div>
  <div class="span3">
    <h6>Insured business?</h6>
    <select class="input-block-level">
      <option value="">Yes</option>
      <option value="">No</option>
    </select>
  </div>
  <div class="span3">
    <h6>Provisioned employees</h6>
    <select class="input-block-level">
      <option value="">1</option>
      <option value="">2</option>
    </select>
  </div>
</div>
