{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<h6>Mapped objects</h6>
<ul class="mapped-list">
  {{#mapped_objects}}
    <li>
      <div class="custom-attr-wrap mapped">
        <div class="row-fluid">
          <div class="span12">
            <div class="info-expand-mapped">
              <a class="show-hidden-fields info-show-hide" href="javascript://">
                <span class="out">
                  <i class="grcicon-arrow-right"></i>
                </span>
                <span class="in">
                  <i class="grcicon-arrow-bottom"></i>
                </span>
                <i class="grcicon-{{icon}}-color"></i>
                {{title}}
              </a>
            </div>
          </div>
        </div><!-- row-fluid end -->
        <div class="hidden-fields-area" style="display:none;">
          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Description</h6>
              {{description}}
            </div>
          </div><!-- row-fluid end -->
        </div><!-- hidden-fields-area end -->
      </div>
    </li>
  {{/mapped_objects}}
</ul>
<a class="btn btn-draft btn-small" href="javascript://">
  Map objects
</a>
