{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#if instance}}
  {{#if isAllowedToShow}}
      <a class="{{cssClasses}}"
         ($click)="showRelatedAssessments"
         {{#if showTitle}}
         title="Show Related Assessments"
         {{/if}}
      >
        {{#if showIcon}}<i class="fa fa-assessment"></i>{{/if}}
        {{title}}
      </a>
      <simple-modal instance="instance" modal-title="modalTitle" state="state" extra-css-class="related-assessments">
          <div class="simple-modal__body">
            <related-assessments {instance}="instance"
                                 {need-reuse}="false">
            </related-assessments>
          </div>
      </simple-modal>
  {{/if}}
{{/if}}
