{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="modal-header">
  <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
    <i class="fa fa-times black"></i>
  </a>
  <h2>
    Search
  </h2>
</div>
<div class="modal-filter modal-body">
  <mapper-toolbar class="flex-box search-toolbar flex-box-multi"
    is-loading="is_loading"
    {(filter)}="filter"
    (submit)="onSubmit()"
    total-objects="totalObjects"
    {(status-filter)}="statusFilter"
    {(type)}="type"
    {after-search}="afterSearch"
    {search-only}="true">
  </mapper-toolbar>
  <hr/>
  <mapper-results
    class="{{#useSnapshots}}snapshot-list{{/useSnapshots}}
      {{^afterSearch}}hidden{{/afterSearch}}"
    base-instance="parentInstance"
    {(is-loading)}="is_loading"
    type="type"
    filter="filter"
    submit-cbs="submitCbs"
    {^paging.total}="totalObjects"
    status-filter="statusFilter"
    {search-only}="true"
    {use-snapshots}="useSnapshots"
    {new-entries}="newEntries"
    {(after-search)}="afterSearch"
    {(entries)}="entries"
    {relevant}="relevant">
  </mapper-results>
  <div class="well well-small
              {{#afterSearch}}hidden{{/afterSearch}}">
    No results
  </div>
</div>