{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="modal-header">
  <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
    <i class="fa fa-times black"></i>
  </a>
  <h2>
    Search
  </h2>
</div>
<div class="modal-filter modal-body">
  <mapper-toolbar class="flex-box search-toolbar flex-box-multi"
    mapper="mapper"
    is-loading="mapper.is_loading"
    {(filter)}="mapper.filter"
    (submit)="mapper.onSubmit()"
    total-objects="totalObjects"
    {(status-filter)}="mapper.statusFilter">
  </mapper-toolbar>
  <hr/>
  <mapper-results
    class="{{#mapper.useSnapshots}}snapshot-list{{/mapper.useSnapshots}}
      {{^mapper.afterSearch}}hidden{{/mapper.afterSearch}}"
    base-instance="mapper.parentInstance"
    {(is-loading)}="mapper.is_loading"
    mapper="mapper"
    type="mapper.type"
    filter="mapper.filter"
    submit-cbs="mapper.submitCbs"
    {^paging.total}="totalObjects"
    status-filter="mapper.statusFilter">
  </mapper-results>
  <div class="well well-small
              {{#mapper.afterSearch}}hidden{{/mapper.afterSearch}}">
    No results
  </div>
</div>