{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span6">
      <label>
        Role Name
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Enter Role Name"></i>
      </label>
      <input class="input-block-level" placeholder="Enter Role Name" name="name" type="text" value="{{name}}">
    </div>
    <div class="span6">
      <label>
       Description 
        <i class="grcicon-help-black" rel="tooltip" title="Describe the role and provide examples of what permissions this role does and doesn't give."></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="role_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description">{{{description}}}</textarea>
      </div>
    </div>
  </div>
  {{#if not_system_role}}
  <div class="row-fluid">
    <div class="span6">
      <label>
        Role-specific Privileges for Program Dependent Objects
        <i class="grcicon-help-black" rel="tooltip" title="Priveleges for all private program objects"></i>
      </label>
      <div class="checkbox-area">
        {{#permission_checkbox "view" "__ALL__"}}{{/permission_checkbox}}
        {{#permission_checkbox "modify" "__ALL__"}}{{/permission_checkbox}}
      </div>
    </div>
    <div class="span6">
      <label>
        Role Scope
        <i class="grcicon-help-black" rel="tooltip" title="Page scope to limit permissions to"></i>
      </label>
      <select name="scope">
        {{#scopes}}
          {{! System roles are hard-coded }}
          {{^if_equals . 'System'}}
            <option value="{{.}}" {{#if_equals scope .}}selected="selected"{{/if_equals}}>{{.}}</option>
          {{/if_equals}}
        {{/scopes}}
      </select>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a href="javascript://" class="show-hidden-fields">
          <span class="out">
            <i class="grcicon-show"></i>
            Show
          </span>
          <span class="in">
            <i class="grcicon-hide"></i>
            Hide
          </span>
          Advanced
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span2">
        <label>Program Info</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "Program"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "Program"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>Audits</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "Cycle"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "Cycle"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>Directives</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ProgramDirective"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ProgramDirective"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>Controls</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ProgramControl"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ProgramControl"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>Objectives</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ObjectObjective"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ObjectObjective"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>Sections</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ObjectSection"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ObjectSection"}}{{/permission_checkbox}}
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <label>Business Objects</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "Relationship"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "Relationship"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>References</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ObjectDocument"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ObjectDocument"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>People</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "ObjectPerson"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "ObjectPerson"}}{{/permission_checkbox}}
        </div>
      </div>
      <div class="span2">
        <label>User Roles</label>
        <div class="checkbox-area">
          {{#permission_checkbox "view" "UserRole"}}{{/permission_checkbox}}
          <br/>
          {{#permission_checkbox "modify" "UserRole"}}{{/permission_checkbox}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</form>
{{/instance}}
{{!/div}}
