{{! dashboard object listing}}
<ul class="tree-structure new-tree">
  {{#list}}
    <li class="tree-item {{object_type}}" data-model="true" {{data 'model'}}>
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                {{name}}
                  {{#scope}}
                    <span class="scope">
                      {{scope}}
                    </span>
                  {{/scope}}
              </div>
            </div>
          </div>
          <div class="span1">
            {{^if_equals scope 'System'}}
            <div class="counter">
              <a data-object-plural="roles" data-object-singular="Role" data-object-id="{{id}}" data-modal-class="modal-wide" data-placement="left" data-toggle="role-modal" href="javascript://" rel="tooltip" title="Edit">
                <i class="grcicon-edit"></i>
              </a>
            </div>
            {{/if_equals}}
          </div>
        </div>
      </div>
    </li>
  {{/list}}
  <li class="tree-item tree-item-add">
    <div class="row-fluid">
      <div class="span12">
        <a class="btn-add" data-object-plural="roles" data-modal-class="modal-wide" href="javascript://" data-object-singular="Role" data-toggle="role-modal" data-modal-reset="reset">
          + Role
        </a>
      </div>
    </div>
  </li>
</ul>
