{{! dashboard object listing}}
<ul class="tree-structure new-tree">
  {{#list}}
    <li class="tree-item {{object_type}}" data-model="true" {{data 'model'}}>
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span11">
            <div class="item-data">
              <div class="tree-title-area">
                {{name}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              <a data-object-plural="roles" data-object-singular="Role" data-object-id="{{id}}" data-modal-class="modal-wide" data-placement="left" data-toggle="role-modal" href="javascript://" rel="tooltip" title="Edit">
                <i class="grcicon-edit"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/list}}
  <li class="tree-item tree-item-add">
    <div class="row-fluid">
      <div class="span12">
        <a href="javascript://">
          + Role
        </a>
      </div>
    </div>
  </li>
</ul>
