{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="details-wrap">
  <a class="btn btn-3bbps dropdown-toggle" href="#" data-toggle="dropdown">
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
  </a>
  <ul class="dropdown-menu three-dots-list" aria-labelledby="drop1" role="menu">
    <li class="border-bottom">
      <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_for_object instance}}" />
    </li>
    <li>
      <a href="/people/{{instance.id}}" target="_blank">
        <i class="fa fa-long-arrow-right"></i>
        Open Profile Page
      </a>
    </li>
  </ul>
</div>
