{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<section class="info sticky-info-panel">
  {{> /static/mockups/base_templates/info_panel/header.mustache}}

  <div class="tier-content">
    {{#if_equals type "assessment"}}
      {{> /static/mockups/base_templates/assessment_panel.mustache}}
    {{else}}
      {{> /static/mockups/base_templates/request_panel.mustache}}
    {{/if_equals}}
  </div>
</section>
