{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}
{{#instance}}
  <header class="header sticky sticky-header tree-header " style="position: absolute; left: 0px; right: 0px; top: 69px; bottom: auto; width: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
    <div class="row-fluid">
      <div class="span4">
        <div class="title-heading oneline">
          <span class="widget-col-title" data-field="title">
            {{title}} Title
            <i class="grcicon-carrot"></i>
          </span>
        </div>
      </div>

      <div class="span4">
        <div class="row-fluid">
          <div class="span12">
            <div class="oneline">
              <span class="widget-col-title" data-field="status">
                Status
                <i class="grcicon-carrot"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="span4">
        <ul class="tree-action-list">
          <li class="filter-trigger">
            <a href="javascript://" class="active">
               <i class="grcicon-search" rel="tooltip" data-placement="left" title="" data-original-title="Hide Filter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div style="height: 20px; width: 1356px; margin: -6px 0px 4px; border-spacing: 0px; border: 0px; padding: 0px; font-size: 1em; position: static; float: none;"></div>
  <div class="clearfix"></div>
  <ul class="tree-structure new-tree base-tree-view"></ul>
  </section>
</section>
{{/instance}}
