{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: peter@reciprocitylabs.com
  Maintained By: peter@reciprocitylabs.com
}}

<div class="datepicker__wrapper">
  <i class="fa fa-calendar"></i>
  <input can-focus="onFocus" type="text" class="datepicker__input">
  <div class="datepicker__calendar {{^isShown}}hidden{{/isShown}}"></div>
</div>
