{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}
<div class="add-comment">
  <div class="row-fluid">
    <div class="span8">
      <div class="controls top">
        <ggrc-gdrive-picker-launcher instance="instance" link_text="Attach evidence" deferred="true" click_event="trigger_upload">
        </ggrc-gdrive-picker-launcher>
        <!--
        <a href="javascript://" class="js-trigger-attachdata btn btn-draft btn-small" data-type="url">
          <i class="grcicon-link"></i> Attach URL
        </a> -->
      </div>
      <div class="wysiwyg-area">
        <textarea rows="4" class="span12 triple wysihtml5" name="comment-description" id="comment-description" placeholder="Enter comment (optional)"></textarea>
      </div>
      <div class="attachments-preview">
        <ul>
        {{#instance._pending_joins}}
          <li class="label label-light">
            <span>{{what.title}}</span>
            <a href="#" class="js-trigger-removeattachment">&times;</a>
          </li>
        {{/instance._pending_joins}}
        </ul>
      </div>
      <div class="controls">
        <a href="javascript://" class="btn btn-success btn-small">Add</a>
      </div>
    </div>
  </div>
</div>
