{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}


{{^if_null instance._mandatory_attachment_msg}}
  <div class="alert alert-info alert-dismissible" role="alert">
    {{instance._mandatory_attachment_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
  </div>
{{/if_null}}

<mapping-tree-view
  parent-instance="instance"
  mapping="instance.class.info_pane_options.evidence.mapping"
  item-template="instance.class.info_pane_options.evidence.show_view"
>
</mapping-tree-view>

{{#is_allowed 'update' instance context='for'}}
  {{{render_hooks "Request.gdrive_evidence_storage"}}}
{{/is_allowed}}
