{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<mapping-tree-view
  parent-instance="instance"
  mapping="instance.class.info_pane_options.evidence.mapping"
  item-template="instance.class.info_pane_options.evidence.show_view"
>
</mapping-tree-view>

{{#is_allowed 'update' instance context='for'}}
  {{#with_mapping 'extended_folders' instance}}
  {{#defer 'extended_folders' instance.extended_folders allow_fail=true}}
    {{#if extended_folders.0.computed_errors}}
      <small class="error-inline">
        <strong>Warning:</strong> You need permission to upload files to
        the Audit evidence folder.
        <a href="https://drive.google.com/folderview?id={{extended_folders.0.instance.id}}&amp;usp=sharing#"
        >Request access</a>.
      </small>
    {{else}}
      <div class="oneline">
        {{#if extended_folders.length}}
          {{#if_in instance.status "Open,Final,Verified"}}
            <ggrc-gdrive-picker-launcher
              instance="instance"
              link_text="Attach evidence"
              click_event="trigger_upload_parent"
              verify_event="true"
              modal_description='You are about to move request from "{{instance.status}}" to "In Progress" - are you sure about that?'
              modal_title='Confirm moving Request to "In Progress"'
              modal_button='Confirm'
              >
            </ggrc-gdrive-picker-launcher>
          {{else}}
            <ggrc-gdrive-picker-launcher
              instance="instance"
              link_text="Attach evidence"
              click_event="trigger_upload_parent">
            </ggrc-gdrive-picker-launcher>
          {{/if_in}}
        {{else}}
          <small class="error-inline">
            <strong>Warning:</strong> The corresponding Audit's evidence folder
            is not set. Please select a folder before uploading evidence files.
          </small>
        {{/if}}
      </div>
    {{/need_permission}}
  {{else}}
    <div {{attach_spinner '{ "radius": 3, "length": 3, "width": 2 }' 'display:inline-block; top: -5px; margin-left: 5px;' }}></div>
  {{/defer}}
  {{/with_mapping}}
{{/is_allowed}}
