{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}


{{#instance.class.tree_view_options}}
{{#child_options.1}}
  <ul class="entry-list" {{data 'options'}} data-info-controller="true"
    {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}>
  </ul>
{{/child_options.1}}
{{/instance}}
