{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
<li>
  <div class="w-status">
    <span class="entry-author">
      {{#using person=modified_by}}
        {{>'/static/mustache/people/popover.mustache'}}
      {{/using}}
      {{assignee_types assignee_type}} added a response - {{date created_at}}
    </span>
    {{#instance.custom_attribute_revision}}
        <h6 class="comment-list__ca-description">{{instance.custom_attribute_revision.custom_attribute.title}}: {{instance.custom_attribute_revision.custom_attribute_stored_value}}</h6>
    {{/instance.custom_attribute_revision}}
    <div class="rtf-block">
      <inline-edit
        type="text"
        instance="instance"
        property="description"
        value="description"
        {{^canEditComment instance parentInstance}}readonly{{/canEditComment}}
        can-on-save="instance.updateDescription"
        empty-text="No comment was entered"
      ></inline-edit>
    </div>
    <mapping-tree-view
      parent-instance="instance"
      mapping="instance.class.info_pane_options.documents.mapping"
      item-template="instance.class.info_pane_options.documents.show_view"
    >
    </mapping-tree-view>
  </div>
</li>
{{/instance}}
