{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

{{#instance}}
<li>
  <span class="person-label {{assignee_types assignee_type}}"></span>
  <div class="w-status">
    <span class="entry-author">
      {{#using person=modified_by}}
        {{{render '/static/mustache/people/popover.mustache' person=person}}}
      {{/using}}
      added a response - {{date created_at}}
    </span>
    <div class="rtf-block">
      <inline-edit
        type="input"
        instance="instance"
        property="description"
        value="description"
        can-on-save="instance.updateDescription"
        empty-text="No comment was entered"
      ></inline-edit>
    </div>
    <mapping-tree-view
      parent-instance="instance"
      mapping="instance.class.info_pane_options.documents.mapping"
      item-template="instance.class.info_pane_options.documents.show_view"
    >
    </mapping-tree-view>
  </div>
</li>
{{/instance}}
