{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance.class.info_pane_options.comments}}
{{#add_to_current_scope parent_instance=instance}}
{{#if_mapping_ready "comments" instance}}
  <mapping-tree-view
    parent-instance="instance"
    is-loading="isLoading"
    mapping="comments"
    tree-view-class="comment-list"
    item-template="/static/mustache/base_templates/comment_subtree.mustache"
    >
  </mapping-tree-view>
{{/if_mapping_ready}}
{{/add_to_current_scope}}
{{/instance}}
