{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<h6>Dates</h6>
<div class="side-content">
  <ul class="label-list dates">
    <li class="gray">
      <label>
        Created on
      </label>
      {{date created_at notime}}
    </li>
    <li>
      <span class="file-controls">
        <a href="javascript://"><i class="grcicon-edit"></i></a>
      </span>
      <label>
        Due on
      </label>
      {{date due_on notime}}
    </li>
  </ul>
</div>
