{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<div class="pane-header">
  <div class="row-fluid wrap-row">
    <div class="span9">
      <h6>Title</h6>
      <h3>{{title}}</h3>
      {{#if_helpers '\
        #if_equals' status "Verified" '\
        and ^if' instance.verified}}
          {{! don't show status, because it will be replaced soon }}
      {{else}}
        <span class="state-value">{{status}}</span>
      {{/if_helpers}}
      <span class="gray">
        {{#if request_type}}
          ({{capitalize request_type}})
        {{/if}}
      </span>
      {{#if verified}}
      <i class="fa fa-check-circle green"
         rel="tooltip"
         title="Verified on {{localize_date verified_date}}"/>
      {{/if}}
    </div>
    <div class="span3">
      <div class="info-pane-utility">
        <div class="details-wrap">
          <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
            {{#is_allowed 'update' instance context='for'}}
              {{> /static/mustache/base_objects/edit_object_link.mustache}}
            {{/is_allowed}}
            <li>
              <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_url}}" />
            </li>

            {{#is_info_pin}}
              {{#is_allowed_to_map page_instance instance}}
                {{^options.is_in_selector}}
                  {{> /static/mustache/base_objects/unmap.mustache}}

                {{/options}}
              {{/is_allowed_to_map}}
              {{#if instance.viewLink}}
                {{#is_allowed "view_object_page" instance}}
                  <li>
                    <a href="{{instance.viewLink}}">
                      <i class="fa fa-long-arrow-right"></i>
                      View {{instance.class.title_singular}}
                    </a>
                  </li>
                {{/is_allowed}}
              {{/if}}
            {{/is_info_pin}}

            {{#is_allowed 'delete' instance}}
              <li>
                <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                  <i class="fa fa-trash"></i>
                  Delete
                </a>
              </li>
            {{/is_allowed}}

          </ul>
        </div>
      </div>
      {{> /static/mustache/mixins/stateful.mustache }}
    </div>
  </div>
</div>
