{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}

{{#instance.class.tree_view_options}}
<div class="row-fluid wrap-row">
  <div class="span12">
    {{#child_options.0}}
    <h6>Mapped objects</h6>
      <ul class="tree-structure new-tree" {{data 'options'}} data-info-controller="true"
        {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}>
      </ul>
      {{#is_allowed_to_map instance model.shortName}}
        <a
          class="btn btn-draft btn-small"
          href="javascript://"
          rel="tooltip"
          data-placement="left"
          data-toggle="unified-mapper"
          data-join-mapping="related_objects"
          data-join-option-type="{{model.shortName}}"
          data-join-object-id="{{instance.id}}"
          data-join-object-type="{{instance.class.shortName}}"
          data-original-title="Map {{firstnonempty title_singular model.title_singular 'Object'}} to this {{firstnonempty instance.class.title_singular 'Object'}}">
          Map Objects
        </a>
      {{/if}}
    {{/child_options.0}}
  </div>
</div>
{{/options}}
