{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<h6>Notes</h6>
<div class="rtf-block">
  <read-more {text}="notes"></read-more>
</div>
