{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}


<label>
  <span class="person-label {{type}}"></span>
  {{#is_allowed 'update' instance context='for'}}
    {{#toggle toggle_add}}
      {{else}}
      <span class="file-controls">
        <a href="javascript://" {{toggle_button}}>
          <i class="grcicon-add-black"></i>
        </a>
      </span>
    {{/toggle}}
  {{/is_allowed}}
  {{capitalize type}}
  {{#if editable}}
    <span class="required">*</span>
  {{/if}}
</label>
{{#with_mapping mapping instance}}
  <ul class="inner-count-list">
    {{^if results.length}}
      {{^if instance._pending_joins}}
      <li><i> No {{type}}s</i></li>
      {{/if}}
    {{/if}}
    {{#results}}
      <li>
        {{#is_allowed 'update' instance context='for'}}
        {{#can_unmap}}
        <span class="file-controls">
          <a href="javascript://" class="info-action unmap" can-click="remove_role" data-person={{instance.id}}>
            <span class="result" {{data 'result'}}></span>
            <i class="grcicon-deleted"></i>
          </a>
        </span>
        {{/can_unmap}}
        {{/is_allowed}}
        {{{render '/static/mustache/people/popover.mustache' person=instance}}}
      </li>
    {{/each}}
    {{#instance._pending_joins}}
    {{#if_has_role extra.attrs.AssigneeType type}}
      <li>
        {{{render '/static/mustache/people/popover.mustache' person=what}}}
      </li>
    {{/if_has_role}}
    {{/instance._pending_joins}}
    <li class="person-add">
      {{#show_add}}
        {{#is_allowed 'update' instance context='for'}}
        {{#toggle toggle_add}}
          <i class="grcicon-person-green pull-left icon-field"></i>
          <div class="person-selector">
            <input tabindex="7" type="text" name="" class="search-icon" data-lookup="Person" placeholder="Search for {{type}}" null-if-empty="false" value="" {{autocomplete_select}} />
            <a href="javascript://" {{toggle_button}}>
              <i class="grcicon-x-grey"></i>
            </a>
          </div>
        {{/toggle}}
        {{/is_allowed}}
      {{/show_add}}
    </li>
  </ul>
{{/with_mapping}}
