{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<h6 class="people-list__label">People</h6>
<div class="side-content">
  <ul class="label-list">
    {{#instance.class.assignable_list}}
      {{#if required}}
        <li>
          <people-group validate="validate" deferred="deferred" editable="editable" instance="instance" mapping="mapping" required="true" type="type"></people-group>
        </li>
      {{else}}
        <li class="hidable">
          <people-group deferred="deferred" editable="editable" instance="instance" mapping="mapping" type="type"></people-group>
        </li>
      {{/if}}
    {{/instance}}
</ul>
