{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{^disableTitle}}
  <h6 class="people-list__label">People</h6>
{{/disableTitle}}
<div class="side-content">
  {{#instance.roleConflicts}}
    <div class="centered">
      <div class="alert alert-verifier">
        <p>
            Please be informed that Assignee and Verifier are the same person.
        </p>
      </div>
    </div>
  {{/instance.roleConflicts}}

  <ul class="label-list">
    {{#instance.class.assignable_list}}
        <li>
          <people-group
                  deferred="deferred"
                  editable="editable"
                  instance="instance"
                  mapping="mapping"
                  type="type"
                  heading="title"
                  bold-title="disableTitle"
                  tabindex="7"
                  {{#if required}}
                  required="true"
                  validate="validate"
                  {{/if}}>
          </people-group>
        </li>
    {{/instance.class.assignable_list}}
  </ul>
</div>
