{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<people-group editable="editable" required="true" limit="1" type="requester" people="groups.requester" groups="groups"></people-group>
<people-group editable="editable" required="true" type="assignee" people="groups.assignee" groups="groups"></people-group>
<people-group editable="editable" required="true" type="verifier" people="groups.verifier" groups="groups"></people-group>
