{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

<mapping-tree-view
  parent-instance="instance"
  mapping="instance.class.info_pane_options.urls.mapping"
  item-template="instance.class.info_pane_options.urls.show_view"
>
</mapping-tree-view>
{{#with_mapping instance.class.info_pane_options.urls.mapping instance}}
  {{#info_related_objects}}
    {{{render parent_instance.class.info_pane_options.urls.show_view instance=instance}}}
  {{/info_related_objects}}
{{/with_mapping}}
</ul>
{{#is_allowed 'update' instance context='for'}}
{{#toggle show_new_object_form}}
  <ggrc-quick-add
    parent_instance="instance"
    join_model="Relationship"
    quick_create="create_url"
    {{#if_in instance.status "Completed,Verified"}}
      verify_event="true"
      modal_description='You are about to move request from "{{instance.status}}" to "In Progress" - are you sure about that?'
      modal_title='Confirm moving Request to "In Progress"'
      modal_button='Confirm'
    {{/if_in}}
  >
    {{#prune_context}}
    <div class="objective-selector field-wrap">
      <input tabindex="3" type="text" name="instance" placeholder="Add URL">
      <a href="javascript://" {{toggle_button}}><i class="fa fa-trash"></i></a>
      <a href="javascript://" class="btn btn-small btn-success no-float" data-toggle="submit" {{toggle_button "modal:success"}}>Add</a>
    </div>
    <input type="hidden" name="role_name" value="Auditor" />
    {{/prune_context}}
  </ggrc-quick-add>
{{else}}
  <a href="javascript://" class="btn btn-small btn-draft" {{toggle_button}}>+ Add URL</a>
{{/toggle}}
{{/is_allowed}}
</ul>
