<div>
  <div>Some errors occurred during attaching the files:</div>
  <ul>
    {{#each errors}}
    <li><strong>{{fileName}}</strong></li>
    {{/each}}
  </ul>
  <div>Please try again later.</div>
</div>
