<div class="checkbox-wrapper">
  <label class="checkbox-inline" title="Active">
    <input type="checkbox"
           can-value="statusesMap.Active">
    Active
  </label>
  <label class="checkbox-inline" title="Draft">
    <input type="checkbox"
           can-value="statusesMap.Draft">
    Draft
  </label>
  <label class="checkbox-inline" title="Deprecated">
    <input type="checkbox"
           can-value="statusesMap.Deprecated">
    Deprecated
  </label>
</div>
