<div class="flex-box">
  <div class="flex-size-1 input-wrapper">
    <input type="text"
           id="mapper-filter"
           placeholder="Enter text to Search"
           {$value}="filter"
           ($enter)='onSubmit()'>
    <span class="icon-wrapper flex-box">
      <i class="fa fa-fw
        {{^isExpression}}fa-check-circle-o{{/isExpression}}
        {{#isExpression}}fa-check-circle green{{/isExpression}}"></i>
    </span>
  </div>
  <div class="icon-wrapper help-wrapper flex-box">
    <a class="popover-template"
       data-get-template="help/filters_helper_content"
       href="javascript://">
      <i class="fa fa-fw fa-question-circle"></i>
    </a>
  </div>
</div>
