{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="filters-row">
  {{#mapper.useTemplates}}
    <div class="col">
      <assessment-templates
        instance="mapper.parentInstance"
        type="mapper.type"
        binding="related_assessment_templates"
        assessment-template="mapper.assessmentTemplate"
        mapper="mapper"
      ></assessment-templates>
    </div>
  {{/mapper.useTemplates}}
  <div class="col">
    <h6>Object type</h6>
    <mapping-type-selector types="mapper.types" selected-type="mapper.type"
                           disabled="isLoadingOrSaving"></mapping-type-selector>
  </div>
  {{^mapper.useTemplates}}
    {{#if mapper.allowedToCreate}}
      {{#is_allowed 'create' mapper.model.singular context='any'}}
        {{#if_equals mapper.type 'AssessmentTemplate'}}
          <div class="col create">
            <a
              class="btn btn-small btn-draft create-control"
              href="javascript://"
              data-toggle="modal-ajax-form"
              data-unique-id="{{mapper.join_object_id}}"
              data-modal-class="modal-wide"
              data-object-singular="{{model_info 'AssessmentTemplate' 'model_singular'}}"
              data-object-plural="{{model_info 'AssessmentTemplate' 'root_collection'}}"
              data-object-params='{
                  "audit": {
                      "id": {{mapper.parentInstance.id}},
                      "type": "{{mapper.parentInstance.type}}"
                  },
                  "context": {
                      "id": {{mapper.parentInstance.context.id}},
                      "type": "{{json_escape mapper.parentInstance.context.type}}"
                  },
                  "audit_title": "{{json_escape mapper.parentInstance.title}}"
                }'
              data-join-object-id="{{mapper.join_object_id}}">
              Create {{mapper.model.title_singular}}
            </a>
          </div>
        {{else}}
          {{^if mapper.showWarning}}
            <div class="col create">
              <a
                class="btn btn-small btn-draft create-control"
                href="javascript://"
                data-toggle="modal-ajax-form"
                data-unique-id="{{mapper.join_object_id}}"
                data-modal-class="modal-wide"
                data-object-singular="{{mapper.model.singular}}"
                data-object-plural="{{mapper.model.plural}}"
                data-join-object-id="{{mapper.join_object_id}}">
                Create {{mapper.model.title_singular}}
              </a>
            </div>
          {{/if}}
        {{/if_equals}}
      {{/is_allowed}}
    {{/if}}
  {{/mapper.useTemplates}}

  <div class="col filter">
    <h6>Filter</h6>
    <mapper-filter {(filter)}="filter"
                   (submit)="onSubmit()">
    </mapper-filter>
  </div>
  <div class="col">
    {{#showStatusFilter}}
      <div class="filter-statuses">
        <multiselect-dropdown 
          {options}="dropdown_options"
          placeholder="Filter by State">
        </multiselect-dropdown>
      </div>
    {{/showStatusFilter}}
  </div>
</div>
</div>
<div class="filter-mapping">
  <relevant-filter search_only="mapper.search_only"
                   type="mapper.type"
                   relevant-to="mapper.relevantTo"
                   relevant="mapper.relevant"
  ></relevant-filter>
</div>
<div class="filter-buttons">
  {{#mapper.afterSearch}}
    {{#totalObjects}}
      <div class="objects-found {{#isLoading}}loading{{/isLoading}}">
        <label>{{totalObjects}} {{#objectsPlural}}
          Objects{{/objectsPlural}} {{^objectsPlural}}Object{{/objectsPlural}} found</label>
      </div>
    {{/totalObjects}}
  {{/mapper.afterSearch}}
  <button can-click="onSubmit" class="btn btn-small btn-info" {{#isLoading}}disabled="disabled"{{/isLoading}}>Search
  </button>
</div>
