{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="filters-row">
  {{#if useTemplates}}
    <div class="col">
      <assessment-templates
        instance="parentInstance"
        type="type"
        binding="related_assessment_templates"
        assessment-template="assessmentTemplate"
      ></assessment-templates>
    </div>
  {{/if}}
  <div class="col">
    <h6>Object type</h6>
    <mapping-type-selector types="availableTypes" selected-type="type"
                           disabled="isLoadingOrSaving"></mapping-type-selector>
  </div>
  {{^if useTemplates}}
    {{#if allowedToCreate}}
      {{#is_allowed 'create' model.singular context='any'}}
        {{#if_equals type 'AssessmentTemplate'}}
          <div class="col create">
            <a
              class="btn btn-small btn-white create-control"
              href="javascript://"
              data-toggle="modal-ajax-form"
              data-unique-id="{{join_object_id}}"
              data-modal-class="modal-wide"
              data-object-singular="{{model_info 'AssessmentTemplate' 'model_singular'}}"
              data-object-plural="{{model_info 'AssessmentTemplate' 'root_collection'}}"
              data-object-params='{
                  "audit": {
                      "id": {{parentInstance.id}},
                      "type": "{{parentInstance.type}}"
                  },
                  "context": {
                      "id": {{parentInstance.context.id}},
                      "type": "{{json_escape parentInstance.context.type}}"
                  },
                  "audit_title": "{{json_escape parentInstance.title}}"
                }'
              data-join-object-id="{{join_object_id}}">
              Create {{model.title_singular}}
            </a>
          </div>
        {{else}}
          {{^if showWarning}}
            <div class="col create">
              <a
                class="btn btn-small btn-white create-control"
                href="javascript://"
                data-toggle="modal-ajax-form"
                data-unique-id="{{join_object_id}}"
                data-modal-class="modal-wide"
                data-object-singular="{{model.singular}}"
                data-object-plural="{{model.plural}}"
                data-join-object-id="{{join_object_id}}">
                Create {{model.title_singular}}
              </a>
            </div>
          {{/if}}
        {{/if_equals}}
      {{/is_allowed}}
    {{/if}}
  {{/if}}

  <div class="col filter">
    <h6>Filter</h6>
    <mapper-filter {(filter)}="filter"
                   (submit)="onSubmit()">
    </mapper-filter>
  </div>
  <div class="col">
    {{#showStatusFilter}}
      <div class="filter-statuses">
        <multiselect-dropdown 
          {options}="dropdown_options"
          placeholder="Filter by State">
        </multiselect-dropdown>
      </div>
    {{/showStatusFilter}}
  </div>
</div>
</div>
<div class="filter-mapping">
  <relevant-filter type="type"
                   relevant-to="relevantTo"
                   relevant="relevant"
  ></relevant-filter>
</div>
<div class="filter-buttons">
  {{#if afterSearch}}
    {{#totalObjects}}
      <div class="objects-found {{#isLoading}}loading{{/isLoading}}">
        <label>{{totalObjects}} {{#objectsPlural}}
          Objects{{/objectsPlural}} {{^objectsPlural}}Object{{/objectsPlural}} found</label>
      </div>
    {{/totalObjects}}
  {{/if}}
  <button can-click="onSubmit" class="btn btn-small btn-lightBlue" {{#isLoading}}disabled="disabled"{{/isLoading}}>Search
  </button>
</div>
