{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: urban@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}

<small class="count {{#if_equals count '0'}}count-zero{{/if_equals}}">
  &nbsp;{{count}}&nbsp;
</small>
