{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<small
  class="count
        {{^count}}count-zero{{/count}}
        {{#overdueCount}}critical{{/overdueCount}}">
  {{count}}
</small>
