{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}

<div class="centered">
{{#instance}}
<p>By clicking "Proceed", {{instance.task_groups.length}} task groups will be started and tasks will be assigned.</p>
<p>Are you sure you want to proceed?</p>
{{/instance}}
</div> 