{{#instance}}
<div class="row-fluid">
  <div {{^if stacked}}class="span12"{{/if}}>
    <h6>Owner</h6>
    <p>
    {{#with_mapping 'authorizations' instance}}
      {{#each authorizations}}
        <span>
          {{#using role=instance.role}}
            {{#if_equals role.name 'WorkflowOwner'}}
              {{#using contact=instance.person}}
                {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
              {{/using}}
            {{/if_equals}}
          {{/using}}
        </span>
      {{/each}}
    {{/with_mapping}}
  </p>
  </div>
</div>
{{/instance}}
