{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<section class="info">
  <div class="row-fluid">
    <div class="span12">
      <h6>Title</h6>
      <h3>{{instance.title}}</h3>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h6>Description</h6>
      <div class="rtf-block">
        <p>{{{firstnonempty instance.description '<em>No description</em>'}}}</p>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="rtf-block">
        {{{render '/static/mustache/workflows/contacts.mustache' instance=instance stacked=true}}}
      </div>
    </div>
    <div class="span6">
      <h6>
        Frequency
      </h6>
      <p class="upp">
        {{{instance.frequency}}}
      </p>
    </div>
    
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h6>
        gGRC Folder</strong>
      </h6>
      <p class="oneline">
        {{#with_mapping 'folders' instance}}
          {{#if folders.length}}
            <a href="{{folders.0.instance.alternateLink}}" target="_blank">
              {{folders.0.instance.title}}
            </a>
          {{else}}
            <span class="error">
              No folder for this {{instance.class.title_singular}}.
            </span>
            <a href="javascript://" class="entry-attachment tree-item-add" data-toggle="gdrive-picker"
              data-model="{{instance.type}}" data-type="folders" data-id="{{instance.id}}">
              <i class="grcicon-attach-color"></i> Assign folder
            </a>

          {{/if}}
        {{else}}
          {{! This is a failure state for with_mapping, if something in the mapping doesn't refresh properly }}
          The GDrive folder for this {{instance.class.title_singular}} could not be accessed.
        {{/with_mapping}}
      </p>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="info-utility-link">
        {{#is_allowed 'update' instance context='for'}}
        <a href="javascript://" class="info-edit" data-toggle="modal-ajax-form" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit {{model.model_title}}" data-object-id="page">
          <i class="grcicon-edit"></i>
          Edit Workflow Info
        </a>
        <div class="dropdown pull-right">
          <a class="dropdown-toggle info-edit" href="#" data-toggle="dropdown" role="button">
            More<i class="grcicon-carot"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
            <li>
              <workflow-clone workflow="instance">
                <a href="javascript://">
                  Clone Workflow...
                </a>
              </workflow-clone>
            </li>
          </ul>
        </div>
        <div class="pull-right">
          <a href="javacript://" class="info-edit calendar-auth">Authenticate Calendar Service</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        {{/is_allowed}}

      </div>
    </div>
  </div>
</section>
