{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}


{{#with_model_as "model" type}}
<li class="{{li_class}} accordion-group" data-tooltip-view="{{tooltip_view}}" data-template="{{template_view}}" data-model-name="{{type}}" data-model-extra="Workflow_All,Workflow_Active,Workflow_Draft,Workflow_Inactive"
data-count="Workflow_All">
  <a class="{{li_class}} oneline list-toggle" href="javascript://" data-object-singular="{{type}}" data-parent=".top-level">
    <i class="fa fa-caret-right"></i>
    <i class="fa fa-{{model.table_singular}} color"></i>
    {{model.title_plural}}
    {{#if beta}}<small>BETA</small>{{/if}}
    <small>(<span class="item-count"></span>)</small>
  </a>
  <div class="content">
    <ul class="sub-level with-filters"></ul>
    <ul class="sub-actions"></ul>
  </div>
</li>
{{/with_model_as}}
