{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

{{!div class="modal-body"}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span8">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <input class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1">
      <br>
    </div>
    <div class="span4">
      <label>
        Workflow Owner
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <i class="grcicon-person-green pull-left icon-field"></i>
      {{#using owner=instance.owners.0}}
      <div class="people-autocomplete">
        <input tabindex="2" type="text" name="owners.0.email" class="span11 search-icon required" value="{{firstnonempty owner.email}}" placeholder="Enter text to search for Workflow Owner" data-lookup="Person">
      </div>
      {{/using}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <label>
        Description
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{{instance.description}}}</textarea>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <label>
        Frequency
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <select tabindex="5" class="input-block-level" id="frequency" name="frequency">
        {{#iterate "one_time" "One time" "weekly" "Weekly" "monthly" "Monthly" "quarterly" "Quarterly" "annually" "Annually" "continuous" "Continuous (N/A)"  step=2}}
        <option value="{{iterator_0}}" {{#if_equals instance.frequency iterator_0}}selected="true"{{/if_equals}}>{{iterator_1}}</option>
        {{/iterate}}
      </select>
    </div>
    <div class="span8" id="frequency-div">
      {{#switch instance.frequency}}
      {{#case "one_time"}}
      <div id="one-time" class="frequency-wrap" style="display:block">
        <label>
          <span class="start-text">Start Date</span>
          <input tabindex="4" class="date input-small" name="start_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="{{localize_date instance.start_date}}">
          <span>End Date</span>
          <input tabindex="4" class="date input-small" name="end_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="{{localize_date instance.end_date}}">
        </label>
      </div>
      {{/case}}
      {{#case "weekly"}}
      <div id="weekly" class="frequency-wrap" style="display:block">
        <label>
          <span class="start-text">starts every</span>
          <select name="start_day_of_week" class="input-small">
            {{#iterate 1 "Monday" 2 "Tuesday" 3 "Wednesday" 4 "Thursday" 5 "Friday" step=2 listen=instance.start_day_of_week}}
            <option value="{{iterator_0}}" {{#if_equals instance.start_day_of_week iterator_0}}selected="true"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterate}}
          </select>
          <span>due on every</span>
          <select name="end_day_of_week" class="input-small">
            {{#iterate 1 "Monday" 2 "Tuesday" 3 "Wednesday" 4 "Thursday" 5 "Friday" step=2 listen=instance.end_day_of_week}}
            <option value="{{iterator_0}}" {{#if_equals instance.end_day_of_week iterator_0}}selected="true"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterate}}
          </select>
        </label>
      </div>
      {{/case}}
      {{#case "monthly"}}
      <div id="monthly" class="frequency-wrap" style="display:block">
        <label>
          <span class="start-text">starts every</span>
          <select name="start_day_of_month" class="input-small">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.start_day_of_month}}
            <option {{#if_equals instance.start_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
          <span>due on every</span>
          <select name="end_day_of_month" class="input-small">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.end_day_of_month}}
            <option {{#if_equals instance.end_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
          <i class="grcicon-help-black" rel="tooltip" title="If date is Saturday, Sunday or holiday, Start/End date will be triggered on the first upcoming business day"></i>
        </label>
      </div>
      {{/case}}
      {{#case "quarterly"}}
      <div id="quarterly" class="frequency-wrap" style="display:block">
        <label>
          <span class="start-text">starts every</span>
          <select name="start_month_of_quarter" class="input-medium">
            {{#iterate 1 "Jan, Apr, Jul, Oct" 2 "Feb, May, Aug, Nov" 3 "Mar, Jun, Sep, Dec" step=2 listen=instance.start_month_of_quarter}}
            <option value="{{iterator_0}}" {{#if_equals instance.start_month_of_quarter iterator_0}}selected="selected"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterator}}
          </select>
          <select name="start_day_of_month" class="input-mini">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.start_day_of_month}}
            <option {{#if_equals instance.start_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
          <span>due on every</span>
          <select name="end_month_of_quarter" class="input-medium">
            {{#iterate 1 "Jan, Apr, Jul, Oct" 2 "Feb, May, Aug, Nov" 3 "Mar, Jun, Sep, Dec" step=2 listen=instance.end_month_of_quarter}}
            <option value="{{iterator_0}}" {{#if_equals instance.end_month_of_quarter iterator_0}}selected="selected"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterate}}
          </select>
          <select name="end_day_of_month" class="input-mini">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.end_day_of_month}}
            <option {{#if_equals instance.end_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
        </label>
      </div>
      {{/case}}
      {{#case "annually"}}
      <div id="annually" class="frequency-wrap" style="display:block">
        <label>
          <span class="start-text">starts every</span>
          <select name="start_month_of_year" class="input-small">
            {{#iterate 1 "January" 2 "February" 3 "March" 4 "April" 5 "May" 6 "June" 7 "July" 8 "August" 9 "September" 10 "October" 11 "November" 12 "December" step=2 listen=instance.start_month_of_year}}
              <option value="{{iterator_0}}" {{#if_equals iterator_0 instance.start_month_of_year}}selected="selected"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterate}}
          </select>
          <select name="start_day_of_month" class="input-mini">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.start_day_of_month}}
            <option {{#if_equals instance.start_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
          <span>due on every</span>
          <select name="end_month_of_year" class="input-small">
            {{#iterate 1 "January" 2 "February" 3 "March" 4 "April" 5 "May" 6 "June" 7 "July" 8 "August" 9 "September" 10 "October" 11 "November" 12 "December" step=2 listen=instance.end_month_of_year}}
              <option value="{{iterator_0}}" {{#if_equals iterator_0 instance.end_month_of_year}}selected="selected"{{/if_equals}}>{{iterator_1}}</option>
            {{/iterate}}
          </select>
          <select name="end_day_of_month" class="input-mini">
            {{#iterate 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 listen=instance.end_day_of_month}}
            <option {{#if_equals instance.end_day_of_month iterator}}selected="selected"{{/if_equals}}>{{iterator}}</option>
            {{/iterate}}
          </select>
          <i class="grcicon-help-black" rel="tooltip" title="If date is Saturday, Sunday or holiday, Start/End date will be triggered on the first upcoming business day"></i>
        </label>
      </div>
      {{/case}}
      {{#case "continuous"}}
      <div id="continuous" class="frequency-wrap" style="display:block"></div>
      {{/case}}
      {{/switch}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show-arrow"></i>
            Show
          </span>
          <span class="in">
            <i class="grcicon-hide-arrow"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Email preferences
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span6">
        <label>
          Email preferences
          <i class="grcicon-help-black" rel="tooltip" title="This setting will override user email preferences"></i>
          <br>
          <br>
          <input type="checkbox"> Notify user on every change
        </label>
      </div>
    </div>

    <!--
    <div class="row-fluid">
      <div class="span6">
        <br>
        <label>
          Custom "Start Workflow" email message
          <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
        </label>
        <div class="wysiwyg-area">
          <textarea id="" class="span12 double wysihtml5" name="" placeholder="Enter custom message here" tabindex="3"></textarea>
          <small class="gray"><em>
            This optional message will be added to "Start Workflow" email.<br>
            It should contain any additional info you want to share with the workflow assignees
          </em></small>
        </div>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <label>
          gGRC Folder
          <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
        </label>
        <a href="#">gGRC Workflows/{{new assessment.title}}</a>
      </div>
    </div>
    -->

  </div>
</form>
{{!/div}}
