{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<div class="hideable-holder">
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <div class="row-fluid">
    <div class="span8">
      <label>
        Title
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Title goes here"></i>
      </label>
      <input data-id="title_txtbx" class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
      <br>
    </div>
    <div data-id="owner_hidden" class="span4 hidable">
      {{#with_mapping "authorizations" instance}}
      {{#using owner=instance.owners.0 model_singular=model.model_singular}}
      {{#with_current_user_as 'current_user'}}
        <label>
          Manager
          <i class="fa fa-question-circle" rel="tooltip" title="Workflow Managers are managed in the People widget."></i>
          <a data-id="hide_owner_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        <input data-id="owner_txtbx"  type="hidden" name="owners.0.email" data-lookup="Person" value="" />
        <input data-id="owner_2_txtbx" class="input-block-level" readonly="true" disabled="true" type="text" value="{{workflow_owner instance modal_title}}"  tabindex="2" />
      {{/with_current_user_as}}
      {{/using}}
      {{/with_mapping}}
    </div>
  </div>

  <div class="row-fluid">
    <div data-id="description_hidden" class="span8 hidable">
      <label>
        Description
        <i class="fa fa-question-circle" rel="tooltip" title="Description goes here"></i>
        <a data-id="hide_description_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="wysiwyg-area">
        <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{{instance.description}}}</textarea>
      </div>
    </div>

    <div class="span4 hide-wrap hidable">
      <div class="row-fluid inner-hide">
        <div data-id="frequency_hidden" class="span12 hidable">
          <label>
            Frequency
            <i class="fa fa-question-circle" rel="tooltip" title="Choose frequency"></i>
            <a data-id="hide_frequency_hidden_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
          </label>
          <dropdown
            id="frequency"
            class-name="input-block-level"
            options-list="instance.frequency_options"
            name="instance.frequency"
            data-id="frequency_dd"
            tabindex="4"
            {{^new_object_form}}is-disabled="true"{{/new_object_form}}
          ></dropdown>
        </div>
      </div>
      <div class="row-fluid inner-hide">
        <div data-id="email_preferences_hidden" class="span12 hidable">
          <label class="second-in-column">
            Email preferences
            <i class="fa fa-question-circle" rel="tooltip" title="This setting will override user email preferences"></i>
            <a data-id="hide_email_preferences_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
          </label>
          <input data-id="email_preferences_chkbx" type="checkbox" name="notify_on_change" {{#if instance.notify_on_change}}checked="checked"{{/if}} tabindex="5">
          Force real-time email updates
        </div>
      </div>
    </div>
  </div>

  {{{render_hooks "Workflow.storage_folder_picker"}}}

  {{#if new_object_form}}
  <div class="row-fluid">
    <div data-id="first_task_group_title_hidden" class="span8 hidable">
      <label>
        First task group's title
        <i class="fa fa-question-circle" rel="tooltip" title="The name of the first task group"></i>
        <a data-id="hide_first_task_group_title_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input data-id="first_task_group_title_chkbx" class="input-block-level" placeholder="Enter Title" name="task_group_title" type="text" tabindex="7" value="Task Group 1" autofocus>
      <br>
    </div>
  </div>
  {{/if}}

  <div class="row-fluid">
    <div data-id="custom_start_workflow_email_message_hidden" class="span8 hidable">
      <label>
        Custom "Start Workflow" email message
        <i class="fa fa-question-circle" rel="tooltip" title="This email will be sent to all workflow members once workflow starts"></i>
        <a data-id="hide_custom_start_workflow_email_message_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <div class="wysiwyg-area">
        <textarea data-id="custom_start_workflow_email_message_txtbx" id="wf_modal_notify_message" class="span12 double wysihtml5" name="notify_custom_message" placeholder="Enter custom message here" tabindex="8">{{{instance.notify_custom_message}}}</textarea>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div data-id="code_hidden" class="span4 hidable">
      <label>
        Code
        <i class="fa fa-question-circle" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        <a data-id="hide_code_lk" href="javascript://" class="field-hide" tabindex="-1">hide</a>
      </label>
      <input data-id="code_txtbx" tabindex="8" class="input-block-level" name="slug" placeholder="WORKFLOW-XXX" type="text" value="{{instance.slug}}">
    </div>
  </div>

</form>
</div>
