{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

{{!div class="modal-body"}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span8">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <input class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
      <br>
    </div>
    <div class="span4">
      {{#with_mapping "authorizations" instance}}
      {{#using owner=instance.owners.0 model_singular=model.model_singular}}
      {{#with_current_user_as 'current_user'}}
        <label>
          Owner
          <i class="grcicon-help-black" rel="tooltip" title="Workflow ownership is managed in the People widget."></i>
        </label>
        <input tabindex="3" class="input-block-level" name="owners.0.email" data-lookup="Person" placeholder="Enter email address" type="hidden" value="" />
        <input tabindex="3" class="input-block-level" readonly="true" disabled="true" placeholder="Enter email address" type="text" value="{{workflow_owner instance modal_title}}" />
      {{/with_current_user_as}}
      {{/using}}
      {{/with_mapping}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <label>
        Description
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{{instance.description}}}</textarea>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <label>
        Frequency
        <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
      </label>
      <select tabindex="5" class="input-block-level" id="frequency" name="frequency">
        {{#iterate "one_time" "One time" "weekly" "Weekly" "monthly" "Monthly" "quarterly" "Quarterly" "annually" "Annually" "continuous" "Continuous (N/A)"  step=2}}
        <option value="{{iterator_0}}" {{#if_equals instance.frequency iterator_0}}selected="true"{{/if_equals}}>{{iterator_1}}</option>
        {{/iterate}}
      </select>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show-arrow"></i>
            Show
          </span>
          <span class="in">
            <i class="grcicon-hide-arrow"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Email preferences
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span6">
        <label>
          Email preferences
          <i class="grcicon-help-black" rel="tooltip" title="This setting will override user email preferences"></i>
          <br>
          <br>
          <input type="checkbox" name="notify_on_change" {{#if instance.notify_on_change}}checked="checked"{{/if}}> Notify user on every change
        </label>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <br>
        <label>
          Custom "Start Workflow" email message
          <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
        </label>
        <div class="wysiwyg-area">
          <textarea id="wf_modal_notify_message" class="span12 double wysihtml5" name="notify_custom_message" placeholder="Enter custom message here" tabindex="3">{{{instance.notify_custom_message}}}</textarea>
          <small class="gray"><em>
            This optional message will be added to "Start Workflow" email.<br>
            It should contain any additional info you want to share with the workflow assignees
          </em></small>
        </div>
      </div>
    </div>

    <!--
    <div class="row-fluid">
      <div class="span12">
        <label>
          gGRC Folder
          <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
        </label>
        <a href="javascript://">gGRC Workflows/{{new assessment.title}}</a>
      </div>
    </div>
    -->
  </div>
</form>
{{!/div}}
