{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


  <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "t-" instance.workflow_state}}>
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="item-wrap">
        {{{render '/static/mustache/base_objects/open_close.mustache' instance=instance}}}
        <div class="select">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span{{display_options.title_width}}">
                <div class="title tree-title-area" rel="tooltip" data-placement="left" title="" data-original-title="{{instance.title}}">
                  {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
                </div>
              </div>

              <div class="span{{display_options.selectable_width}}">
                <div class="row-fluid">
                  {{#display_attr_list}}
                    <div class="span{{display_options.selectable_attr_width}}">
                      {{#if_equals attr_type 'custom'}}
                        <div class="custom tree-title-area">
                          {{{render '/static/mustache/custom_attributes/tree_columns.mustache' instance=instance attr_info=this}}}
                        </div>
                      {{else}}
                        <div class="owner tree-title-area">
                          {{#instance}}
                            {{#switch attr_name}}
                              {{#case 'owner'}}
                                {{#with_mapping 'authorizations' instance}}
                                  {{#each authorizations}}
                                    <span>
                                      {{#using role=instance.role}}
                                        {{#if_equals role.name 'WorkflowOwner'}}
                                          {{#using contact=instance.person}}
                                            {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
                                          {{/using}}
                                        {{/if_equals}}
                                      {{/using}}
                                    </span>
                                  {{/each}}
                                {{/with_mapping}}
                              {{/case}}
                              {{#case 'frequency'}}
                                {{#if_equals instance.frequency 'one_time'}}
                                  One time
                                {{else}}
                                  {{instance.frequency}}
                                {{/if_equals}}
                              {{/case}}
                              {{#default}}
                                {{#if_helpers '\
                                  #if_equals' attr_name 'url' '\
                                  or #if_equals' attr_name 'reference_url'}}
                                    <a class="url" href="{{get_url_value attr_name instance}}" target="_blank">
                                      {{get_default_attr_value attr_name instance}}
                                    </a>
                                {{else}}
                                  {{get_default_attr_value attr_name instance}}
                                {{/in_helpers}}
                              {{/default}}
                            {{/switch}}
                          {{/instance}}
                        </div>
                      {{/if}}
                    </div>
                  {{/display_attr_list}}
                </div>
              </div>

              <div class="span{{display_options.action_width}}">
                <div class="show-details">
                  {{#if instance.viewLink}}
                    {{#is_allowed "view_object_page" instance}}
                      <a href="{{instance.viewLink}}" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                    {{/is_allowed}}
                  {{/if}}
                </div>
                <ul class="tree-action-list">
                  {{#infer_roles instance}}
                    <li>
                      <i class="fa fa-person" rel="tooltip" data-placement="left" data-original-title="{{.}} "></i>
                    </li>
                  {{/infer_roles}}
                  <li>
                    {{#child_options}}
                      {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance multiple_mapping_case=true}}}
                    {{/child_options}}
                    {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
                  </li>
                  <li>
                    {{{renderLive '/static/mustache/base_objects/states.mustache'}}}
                  </li>
                </ul>

              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->

  </li>
