{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if is_subtree}}
    <!-- {{{renderLive '/static/mustache/base_objects/tree_footer_zero.mustache'}}} -->
{{else}}
  {{#if original_list.length}}
    <div class="paging-wrap pull-right">
        <tree-pagination paging="paging"></tree-pagination>
    </div>
    {{/if}}
{{/if}}
