{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "t-" instance.workflow_state}}>
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class="row-fluid">
          <div class="span12">

            <ul class="tree-action-list">
              {{#infer_roles instance}}
                <li>
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span class="role">
                        {{.}}
                      </span>
                    </div>
                  </div>
                </li>
              {{/infer_roles}}
              <li>
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
              </li>
              {{#instance}}
                {{#is_private}}
                  <li>
                    <div class="counter">
                      <i class="grcicon-private"></i>
                    </div>
                  </li>
                {{/is_private}}
              {{/instance}}
              <li>
                {{{renderLive '/static/mustache/base_objects/states.mustache' status=instance.workflow_state}}}
              </li>
            </ul>

            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                {{{firstnonempty instance.title instance.description_inline instance.name instance.email ''}}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span6">
          {{#if instance.viewLink}}
            <a href="{{instance.viewLink}}" class="info-action">
              View {{instance.class.title_singular}}
              <i class="grcicon-goto"></i>
            </a>
          {{/if}}
          </div>

          <div class="span6">
          {{#if allow_mapping}}
          {{#if mappings}}
          {{#is_allowed_all 'delete' mappings}}
          {{^is_dashboard}}
            <a href="javascript://" class="info-action unmap pull-right" data-toggle="unmap">
              {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
              <i class="grcicon-remove"></i>
              Unmap
            </a>
          {{/is_dashboard}}
          {{/is_allowed_all}}
          {{/if}}
          {{/if}}
          {{> /static/mustache/base_objects/edit_object_link.mustache}}
          </div>

        </div>

        {{#instance.description}}
        <div class="show-description">
          <div class="row-fluid">
            <div class="span12">
              <div class="tree-description">
                {{{instance.description}}}
              </div>
              
            </div>
          </div>
        </div>
        {{/instance.description}}

  <div class="row-fluid">
    <div class="span6">
      <p>
        <!--
        <strong>Due on:</strong>
        {{#if instance.end_date}}{{instance.end_date}}{{else}}<em>not defined</em>{{/if}}
      -->
      </p>
      <p>
        <strong>Frequency:</strong>
        <span style="text-transform:capitalize;">{{{instance.frequency}}}</span><!--<strong>Monthly</strong> - starts every <strong>7th</strong> due on every <strong>25th</strong>-->
      </p>
      <p>
        <strong>gGRC Folder:</strong>
        {{#with_mapping 'folders' instance}}
          {{#if folders.length}}
            <a href="{{folders.0.instance.alternateLink}}" target="_blank">
              {{folders.0.instance.title}}
            </a>
          {{else}}
            No folder for this {{instance.class.title_singular}}.
            <a href="javascript://" class="entry-attachment tree-item-add" data-toggle="gdrive-picker"
              data-model="{{instance.type}}" data-type="folders" data-id="{{instance.id}}">
              <i class="grcicon-attach-color"></i> Attach folder
            </a>
          {{/if}}
        {{else}}
          {{! This is a failure state for with_mapping, if something in the mapping doesn't refresh properly }}
          The GDrive folder for this {{instance.class.title_singular}} could not be accessed.
        {{/with_mapping}}
      </p>
    </div>
    <div class="span6">
      <div class="rtf-block">
        <strong>Workflow Owner:</strong><br>
        {{#if instance.owners.length}}
          {{#using contacts=instance.owners}}
          {{#contacts}}
            {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
          {{/contacts}}
          {{/using}}
        {{else}}
          <span class="error">
            None
          </span>
        {{/if}}
      </div>
    </div>
  </div>
      </div>

      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
            {{#child_options}}
              <div class="inner-tree">
                <h6>{{firstnonempty title_plural model.title_plural}} ({{list.length}})
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance model=model multiple_mapping_case=true}}}
                </h6>
                <ul class="tree-structure new-tree colored-list" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
              </div>
            {{/child_options}}
        {{/prune_context}}
      {{/if}}

    </div>
    {{/if}}
  </li>
