{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<content></content>

{{#if totalPages}}
<ul class="pagination">
  <li class="{{^if hasPrevPage}}disabled{{/if}}">
    <a can-click="setPrevious" href="#">Previous</a>
  </li>
  <li>
    <span class="status">
      <span>{{currentPage}} of {{totalPages}}</span>
    </span>
  </li>
  <li class="{{^if hasNextPage}}disabled{{/if}}">
    <a can-click="setNext" href="#">Next</a>
  </li>
</ul>
{{/if}}
