{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: Sasmita
    Maintained By: Sasmita
}}

<div class="asearch-title">
  <div class="row-fluid">
    <div class="span10">
      <h4>
        &nbsp;&nbsp;{{ options.length }} Objects found
      </h4>
    </div>
    <div class="span1" align="right">
      Select all
    </div>
    <div class="span1">
      <div class="object-check all-check" align="left">
        <input type="checkbox" value="1" class="object-check-all" id='objectAll'>
      </div>
    </div>
  </div>
</div>

<div class="selector-list">
  <ul class="tree-structure new-tree">
  </ul>
</div>
