{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: Sasmita
    Maintained By: Sasmita
}}

{{#each options}}
  <li class="tree-item task-item" data-object-type="{{instance.class.table_singular}}"{{#instance}}{{ data 'option' }}{{/instance}} data-id="{{ instance.id }}">
    <div class="item-main">
      <div class="item-wrap">
        {{{render '/static/mustache/base_objects/open_close.mustache' instance=instance}}}
        <div class="select">
          <div class="item-data">
            <div class="row-fluid">
              <div class="span11">
                <div class="tree-title-area">
                  {{#if_helpers '\
                    #if_equals' instance.type "Program" '\
                    and #if' instance.private}}
                    <span class="private">
                      <i class="grcicon-private"></i>
                    </span>
                  {{/if_helpers}}
                  {{firstexist instance.name instance.title instance.link instance.description}}
                  <span class="url-link">
                    {{firstexist instance.email instance.link}}
                  </span>
                </div>
              </div>

              <div class="span1">
                <div class="object-check" align="left">
                  <mapper-checkbox
                    is_mapped="{{#if_helpers '\
                                  #if' mappings.length '\
                                  and #result_direct_mappings' bindings_compute selected_object '\
                                  or #has_pending_addition' selected_object instance '\
                                  or #has_mapped_objects' selected_object instance}}
                                  true
                                {{else}}
                                  false
                                {{/if_helpers}}"
                    is_allowed_to_map="{{#is_allowed_to_map selected_object instance}}true{{else}}false{{/is_allowed_to_map}}"
                    appended="appended"
                    instance_id="{{instance.id}}"
                    instance_type="{{instance.type}}"
                    is_loading="is_loading"
                    options="options"
                    select_state="select_state"
                    all_selected="mapper.all_selected"
                    selected="mapper.selected"
                    is_saving="mapper.is_saving">
                    <label
                      {{#not_allowed_to_map}}
                      data-original-title="You are not allowed to map this object"
                      rel="tooltip"
                      data-placement="left"
                      {{/not_allowed_to_map}}
                    >
                      <input
                        type="checkbox"
                        class="object-check-single"
                        can-value="checkbox"
                        {{#is_disabled}}disabled="disabled"{{/is_disabled}}
                      >
                    </label>
                  </mapper-checkbox>
                </div>
              </div>
            </div>
          </div><!-- item-data end -->
        </div><!-- select end -->
      </div><!-- item-wrap end -->
    </div><!-- item-main end -->


    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        <lazy-openclose>
          {{#show}}
            {{#find_template 'tier2_content' instance}}
              {{#instance.class.table_singular}}
                {{{renderLive template}}}
              {{/instance}}
            {{else}}
              <div class="show-description">
                <div class="row-fluid">
                  <div class="span12">
                    <div class="tree-description short">
                      {{{instance.description}}}
                    </div>
                    {{{show_long}}}
                  </div>
                </div>
              </div>
            {{/find_template}}
          {{/show}}
        </lazy-openclose>
      </div>
    </div>
</li>
{{/each}}
