{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: Sasmita
    Maintained By: Sasmita
}}

<div class="modal-header">
  <div class="pull-right">
    <a class="btn btn-danger btn-mini" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
  </div>
  <h2>
      Search
  </h2>
</div>

<!-- the below block adds a options -->
<div class="modal-body choose-object-wrap">
  <div class="row-fluid">
    <div class="span2">
      <h6>Object type</h6>
      {{#if option_type_menu}}
        {{^if_equals option_type_count 1}}
          <select class="input-block-level option-type-selector">
            {{#option_type_menu}}
              <optgroup label="{{category}}">
                {{#items}}
                <option
                  value="{{model_name}}"
                  label="{{model_display}}"
                  {{#if_equals model_name selected_option_type}}selected="selected"
                  {{/if_equals}}>
                </option>
                {{/items}}
              </optgroup>
            {{/option_type_menu}}
          </select>
        {{/if_equals}}
      {{/if}}
    </div>
    <div class="span6">
      <h6>Matching terms</h6>
      <div class="modal-search objective-selector">
        <input
          id="search"
          class="input-block-level"
          placeholder="Enter text to search..."
          can-value="option_search_term"
          type="text"
          autofocus
        >
      </div>    
    </div>
    <div class="span4">
      <h6>Filter by person</h6>
      <div class="modal-search objective-selector">
        <input
          id="search-by-owner"
          class="search-by-owner input-block-level"
          placeholder="Find owner or contact"
          type="text"
          name="owner"
          value="{{firstnonempty owner.name owner.email owner.title}}"
          data-lookup="Person"
          data-template="/people/autocomplete_result.mustache"
          null-if-empty="null-if-empty"
          {{ autocomplete_select }}
        >
      </div>
    </div>
  </div>
  <div class="relevance-filters">
    <div class="row-fluid">
      <div class="span12">
        <h6>Filter by mapping relevance</h6>
        {{#each filter_list}}
        <div class="single-line-filter">
          <button type="submit" data-index="{{@index}}" class="remove_filter">
            <i class="grcicon-deleted"></i>
          </button>
          <label>
            {{#if @index}}AND {{/if}}Relevant to:
          </label>
          <select class="input-small filter-type-selector select-filter{{@index}}" can-value="model_name">
            {{#option_type_menu_2}}
            <option
              value="{{model_singular}}"
              label="{{title_singular}}">
            </option>
            {{/option_type_menu_2}}
          </select>
          {{#model_name}}
          <div class="modal-search objective-selector">
            <input
              id="search-filter{{@index}}"
              class="input-large search-icon search-filter{{@index}}"
              placeholder="Enter text to search for {{model_name}}"
              type="text"
              name="filter_list.{{@index}}.search_filter"
              value="{{firstnonempty search_filter.name search_filter.email search_filter.title}}"
              data-lookup="{{this}}"
              data-template="/{{#if_equals model_name 'Person'}}people{{else}}base_objects{{/if_equals}}/autocomplete_result.mustache"
              {{ autocomplete_select }}
              >
          </div>
          {{/model_name}}
        </div>
        {{/each}}
        <div class="add-rule">
          <a href="javascript://" id="addFilterRule" class="addFilterRule">+ Add New Rule</a>
        </div>
      </div>
    </div>
  </div>  
  <div class="filter-actions">
    <div class="row-fluid">
      <div class="span12">
        <a class="btn pull-right objectReview" href="javascript://" id="objectReview">
          Search
        </a>
      </div>
    </div>
  </div>
</div>

<div class="results">
  <div class="bar-h"></div>
  <!-- list Header -->
  <ul class="new-tree multitype-tree">
    <li class="tree-item object-filter">
      <div class="item-main">
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data">
              <div class="tree-title-area">
                <span>
                  <strong>
                    {{ options.length }} Objects found
                  </strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="results-wrap">
    <span class="info">Define search criteria above to start</span>

    <div class="option_column" {{data 'options'}}>
      {{#if option_column_view}}
        {{{ renderLive option_column_view }}}
      {{/if}}
    </div>
  </div>
</div>

<!-- footer add/cancel buttons-->
<div class="modal-footer">
  <div class="row-fluid">
    <div class="span12">
      <div class="deny-buttons pull-right">
        <a class="btn" data-dismiss="modal" href="javascript://">
          Cancel
        </a>
      </div>
    </div>
  </div>
</div>
