{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: Sasmita
    Maintained By: Sasmita
}}

{{#each options}}
<li class="tree-item task-item" data-object-type="{{instance.class.table_singular}}" {{#instance}}{{ data 'option' }}{{/instance}} data-id="{{ instance.id }}">
  <div class="item-main">
    <div class="item-wrap">
      <div class="openclose" {{data 'expandable'}}>
        <span class="status-label status-draft"></span>
        <i class="grcicon-arrow-right"></i>
      </div>
      <div class="select">
        <div class="item-data">
          <div class="row-fluid">
            <div class="span8">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                {{firstexist instance.name instance.title instance.description}}
                <span class="url-link">
                {{firstexist instance.email instance.link}}
                </span>
              </div>
            </div> <!-- span8 end -->
            <div class="span4">
              <div class="show-details">
                {{#is_allowed "view_object_page" instance}}
                  {{{get_view_link instance}}}
                {{/is_allowed}}
              </div>
            </div>
          </div> <!-- row-fluid end -->
        </div> <!-- item-data end -->
      </div> <!-- select end -->
    </div> <!-- item-wrap end -->
  </div> <!-- item-main end -->


  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">
      <lazy-openclose>
        {{#show}}
          {{#find_template 'tier2_content' instance}}
            {{{renderLive template}}}
          {{else}}
            <div class="show-description">
              <div class="row-fluid">
                <div class="span12">
                  <div class="tree-description short">
                    {{{instance.description}}}
                  </div>
                  {{{show_long}}}
                </div>
              </div>
            </div>
          {{/find_template}}
        {{/show}}
      </lazy-openclose>
    </div>
  </div>

</li>
{{/each}}
