{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<button class="btn btn-small btn-draft btn-extra-gray" can-click="showRelatedResponses" title="Show Prior Audit Responses">Prior Audit Responses</button>
{{#is_allowed 'update' instance context='for'}}
    <object-state-toolbar instance="instance"></object-state-toolbar>
{{/is_allowed}}
<simple-modal instance="instance" modal-title="modalTitle" state="state" extra-css-class="related-assessments">
    <div class="simple-modal__body">
      {{> '/static/mustache/assessments/related-assessments.mustache' }}
    </div>
</simple-modal>
