{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: peter@reciprocitylabs.com
  Maintained By: peter@reciprocitylabs.com
}}

{{#revisions_diff instance}}
  <paginate list="changeHistory" per-page="10">
    <ul class="entry-list">
      {{#entries}}
        <li>
          <span class="person-label assignee"></span>

          <div class="w-status">
            <span class="entry-author">
              {{{render '/static/mustache/people/popover.mustache' person=madeBy}}
              made changes &mdash; {{date updatedAt}}
            </span>
            <div class="clearfix">
              <div class="third-col">
                <p class="instruction">Field</p>
              </div>
              <div class="third-col">
                <p class="instruction">Original value</p>
              </div>
              <div class="third-col">
                <p class="instruction">New value</p>
              </div>
            </div>

            {{#changes}}
              <div class="clearfix">
                <div class="third-col">
                  {{fieldName}}
                </div>
                <div class="third-col">
                  {{{origVal}}}
                </div>
                <div class="third-col">
                  {{{newVal}}}
                </div>
              </div>
            {{/changes}}

          </div>
        </li>
      {{/entries}}

      {{^list}}
        {{#isLoading}}
          <li class="spinner">
            <span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2 }' 'display:inline-block; top: -3px; left: 30px;' }}></span>
          </li>
        {{else}}
          <li>The history of changes is currently empty.</li>
        {{/isLoading}}

      {{/list}}
    </ul>
  </paginate>
{{/revisions_diff}}
