{{#categories}}
    <li class="title">{{title}} Widgets</li>
    {{#objects}}
    <li class="{{widget_id}}">
      <a href="javascript://">
        {{widget_name}}
      </a>
    </li>
    {{/objects}}
    <li class="divider"></li>
{{/categories}}
