{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

{{#if context.isEdit}}
  {{#mandatory}}<span class="required">*</span>{{/mandatory}}
  <label class="inline-edit__checkbox">
    <input can-value="context.value" type="checkbox" autofocus> {{label}}
  </label>
{{else}}
  <label class="inline-edit__checkbox">
    <input disabled type="checkbox" can-value="context.value"> {{label}}
  </label>
{{/if}}
