{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if context.isEdit}}
  <label class="inline-edit__checkbox">
    <input can-value="context.value" type="checkbox" autofocus> {{label}}
  </label>
{{else}}
  <label class="inline-edit__checkbox">
    <input disabled type="checkbox" can-value="context.value"> {{label}}
  </label>
{{/if}}
