{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if context.isEdit}}
  <datepicker is-shown="true" date="context.value"></datepicker>
{{else}}
  <p class="inline-edit__text">
    {{#if context.value}}
      {{date context.value true}}
    {{else}}
      <span class="empty-message">None</span>
    {{/if}}
  </p>
{{/if}}
