{{!
  Copyright (C) 2016 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if context.isEdit}}
  <datepicker persistent="true" date="context.value"></datepicker>
{{else}}
  <p class="inline-edit__text">
    {{{firstnonempty context.value '<span class="empty-message">None</span>'}}}
  </p>
{{/if}}
