{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

{{#if context.isEdit}}
  {{#mandatory}}<span class="required">*</span>{{/mandatory}}

  <dropdown
    options-list="context.values"
    name="context.value"
    no-value="true"
    class-name="input-medium"
    ></dropdown>
{{else}}
  <p class="inline-edit__value">
    {{{firstnonempty context.value '<span class="empty-message">None</span>'}}}
  </p>
{{/if}}
