{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if context.isEdit}}
  <input type="text" can-value="context.value" autofocus>
{{else}}
  <p class="inline-edit__text">
    {{#if context.value}}
      {{context.value}}
    {{else}}
      <span class="empty-message">{{emptyText}}</span>
    {{/if}}
  </p>
{{/if}}
