-# Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: anze@reciprocitylabs.com
-# Maintained By: anze@reciprocitylabs.com

-extends "layouts/_widget_box.haml"

-block widget_help
  import

-block widget_id
  import_people_widget

-block widget_buttons

-block widget_title
  .oneline
    %i.fa.fa-cloud-upload
    Import from file

-block main
  .info
    %form{"class":'import', "enctype":'multipart/form-data', "method":'post', "multipart":True, "data-remote":True,'data-type':'html','data-update-target':'#results-container'}
      .row-fluid.wrap-row
        .span8
          %h3
            Choose CSV file to upload
        .span4
          .download-template
            %a.section-import{"href": '/help/import_template'}
              %i.fa.fa-download
              Download Import {{import_kind}} template
      .row-fluid.wrap-row
        .span12
          %input{ 'name': 'file', 'value': 'choose file' , 'type': 'file', 'accept': '.csv' }
          .import-buttons
            %input{ 'value': 'Upload and Review', 'class': 'btn btn-large btn-info', 'type': 'submit' }

      -if exception_message is defined and not exception_message.show_preview
        -include 'directives/import_errors.haml'
      #results-container
