{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<input type="text"
  null-if-empty="true"
  can-value="value"
  class="autocomplete-input"
  placeholder="{{placeholder}}">
