# Copyright (C) 2019 Google Inc.
# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

[client]
default-character-set = utf8

[mysqld]
collation-server      = utf8_general_ci
init-connect          = 'SET NAMES utf8'
character-set-server  = utf8

[mysql]
default-character-set = utf8
