# Copyright (C) 2019 Google Inc.
# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

[mysqld]
enforce-gtid-consistency = ON
gtid-mode                = ON
log-bin                  = mysql-bin
log-slave-updates        = ON
