{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: urban@reciprocitylabs.com
    Maintained By: urban@reciprocitylabs.com
}}

{{#instance}}

    <div class="row-fluid wrap-row">
        <div class="span12">
            <h6>Remediation Plan</h6>
            <div class="rtf-block">
                {{{firstnonempty test_plan '<em>No remediation plan</em>'}}}
            </div>
        </div>
    </div>

{{/instance}}
