{{!
    Copyright (C) 2016 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="{{#isSelected}}selected{{/isSelected}}">
<content></content>
</div>
