{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#if isLoading}}
    <spinner toggle="isLoading" extra-css-class="{{spinnerCss}}" class="spinner-wrapper active"></spinner>
{{/if}}
{{#items}}
  <object-list-item instance="instance" is-selected="isSelected">
      <div class="object-list-item {{#if isSelected}}selected{{/if}}">
        <content>No item component or template is provided</content>
      </div>
  </object-list-item>
{{/items}}

