{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{^if_equals parent_instance.status 'Final'}}
  {{#with_mapping 'current_task_group_objects' parent_instance}}
  {{#using cycle_task_group=current_task_group_objects.0.instance.cycle_task_group}}
    <li class="tree-footer tree-item tree-item-add">
      <div class="row-fluid">
        <div class="span12">
        {{#with_mapping 'owners' parent_instance}}
          <a href="javascript://" class="section-create" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="CycleTask" data-object-plural="cycle_task_group_object_tasks" data-object-params='{ \
            "cycle": {{current_task_group_objects.0.instance.cycle.id}}, \
            "task_group": {{cycle_task_group.task_group.id}}, \
            "sort_index": "{{sort_index_at_end original_list}}", \
            "contact": { "id" : {{firstnonempty owners.0.instance.id "null"}} , "type": "Person" }, \
            "owners": [{ "id" : {{firstnonempty owners.0.instance.id "null"}} , "type": "Person" }], \
            "context": { "id" : {{firstnonempty cycle_task_group.context.id "null"}} }, \
            "modal_title": "Add Task" }'>
            <strong>Add Task</strong>
          </a>
        {{/with_mapping}}
        </div>
      </div>
    </li>
  {{/with_mapping}}
  {{/with_mapping}}
{{/if_equals}}
