{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<li class="inline-filtering" {{ (el) -> el.ggrc_controllers_tree_filter() }}>
  <form class="form-search" onsubmit="return false" autocomplete="off">
    <div class="row-fluid">
      <div class="span12">
        <h6>
          Filter Tasks
        </h6>
        <ul class="quick-filters">
          <li>
            <label>
              By Status
            </label>
            <select name="status">
              <option value="">Any</option>
              <option value="Verified">Verified</option>
              <option value="Finished">Finished</option>
              <option value="InProgress">In Progress</option>
              <option value="Assigned">Assigned</option>
            </select>
          </li>
          <li>
            <label>
              <input class="checkbox" type="checkbox" value="overdue" name="overdue">
              Show overdue only
            </label>
          </li>
          <li>
            <label>
              <input class="checkbox" type="checkbox"
                custom-event="show-history"
                data-toggle="filter-reset"
                name="h"
                mapping="{{toggle_string mapping '_with_history'}}">
              Show History
            </label>
          </li>
        </ul>
      </div>
    </div>
  </form>
</li>
