{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<li class="inline-filtering task-filtering" {{ (el) -> el.ggrc_controllers_tree_filter() }}>
  <form class="form-search" onsubmit="return false" autocomplete="off">
    <div class="row-fluid">
      <div class="span2">
        <div class="filter-title">
          <h6>
            Filter Tasks
          </h6>
        </div>
      </div>
      <div class="span2">
        {{#is_dashboard}}
          <input type="text" name="cycle_task_group_object.title" {{data 'from-list'}} data-lookup="cycle_task_group_object.object" class="input-block-level" placeholder="Filter by Object" data-template="/directives/autocomplete_result.mustache" value="" {{^list}}disabled="disabled"{{/list}}>
        {{/is_dashboard}}
      </div>
      <div class="span2">
        <input type="text" name="cycle.workflow.title" {{data 'from-list'}} data-lookup="cycle.workflow" class="input-block-level" placeholder="Filter by Workflow" value="" {{^list}}disabled="disabled"{{/list}}>
      </div>
      <div class="span6">
        <ul class="quick-filters">
          <li>
            <label>
              By Status
            </label>
            <select name="status" class="input-small">
              <option value="">Any</option>
              <option value="Verified">Verified</option>
              <option value="Finished">Finished</option>
              <option value="InProgress">In Progress</option>
              <option value="Assigned">Assigned</option>
            </select>
          </li>
          <li>
            <label>
              <input class="checkbox" type="checkbox" value="overdue" name="overdue">
              Show overdue only
            </label>
          </li>
          <li>
            <label>
              <input class="checkbox" type="checkbox"
                custom-event="show-history"
                data-toggle="filter-reset"
                name="h"
                mapping="{{toggle_string mapping '_with_history'}}">
              Show History
            </label>
          </li>
          <li>
            <button type="reset" class="btn btn-small btn-draft" data-toggle="filter-reset">Reset</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</li>
