{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


{{#instance}}
  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">

    {{#is_info_pin}}
      <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState" on-close="@onClose"></info-pin-buttons>
    {{/is_info_pin}}

    <div class="info-pane-utility">
      {{#is_allowed 'update' instance context='for'}}
        <div class="details-wrap">
          <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
            <li>
              <a href="javascript://" data-object-singular-override="Task for current Workflow Cycle" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{instance.class.model_singular}}" data-object-plural="{{instance.class.table_plural}}" data-object-id="{{instance.id}}">
                <i class="fa fa-pencil-square-o"></i>
                Edit Task
              </a>
            </li>
            <li>
              <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_url}}" />
            </li>

            {{#if_equals instance.cycle.reify.is_current true}}
            {{#is_allowed 'delete' instance}}
              <li>
                <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                  <i class="fa fa-trash"></i>
                  Delete
                </a>
              </li>
            {{/is_allowed}}
            {{/if_equals}}
          </ul>
        </div>
      {{/is_allowed}}
    </div>

    <div class="tier-content">
      {{>'/static/mustache/base_objects/general_info.mustache'}}

      <div class="row-fluid wrap-row">
        <div class="span6">
          <h6>Assignee</h6>
          {{#if_cycle_assignee_privileges instance}}
          <div data-force-refresh="true" {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
            {{#using contact=instance.contact}}
              <div class="objective-selector">
                <input type="text" name="contact.name" data-lookup="Person" class="search-icon input-block-level" {{#if_equals instance.status 'Verified'}}disabled="disabled"{{/if}} placeholder="Choose Assignee" value="{{firstnonempty contact.name contact.email ''}}">
              </div>
            {{/using}}
          </div>
          {{else}}
            {{#using contact=instance.contact}}
            <div>{{firstnonempty contact.name contact.email ''}}</div>
            {{/using}}
          {{/if_cycle_assignee_privileges}}
        </div>
        <div class="span3">
          <h6>Start date</h6>
          {{#if instance.start_date}}
            <p>
              {{localize_date instance.start_date}}
            </p>
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>

        <div class="span3">
          <h6>End date</h6>
          {{#if instance.end_date}}
            <p>
              {{localize_date instance.end_date }}
            </p>
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>
      <div class="row-fluid wrap-row">
        <div class="span6">
        </div>
        <div class="span3">
          <h6>Actual Finish Date</h6>
          {{#if instance.finished_date}}
            <p>
              {{localize_date instance.finished_date}}
            </p>
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>

        <div class="span3">
          <h6>Actual Verified Date</h6>
          {{#if instance.verified_date}}
            <p>
              {{localize_date instance.verified_date }}
            </p>
          {{else}}
            <span class="empty-message">None</span>
          {{/if}}
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span12">
          {{>'/static/mustache/base_templates/mapped_objects.mustache'}}
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span12">
          {{#if_helpers '\
            #if_equals' instance.task_type 'text' '\
            or #if_equals' instance.task_type "" '\
            or #if_null' instance.task_type}}
            <h6>Task details</h6>
            <div class="rtf-block">
              {{{firstnonempty instance.description 'No additional details'}}}
            </div>
          {{/if_helpers}}
          {{#if_equals instance.task_type 'menu'}}
            <h6>Response Options</h6>
            {{! here we need to start a quick form or other component}}
            <ggrc-quick-update instance="instance">
              <dropdown
                name="selected_response_options.0"
                class-name="noop" {{! to not use default from component}}
                is-disabled="!{{can_edit_response instance instance.status}}"
                options-list="instance.response_options"></dropdown>
            </ggrc-quick-update>
          {{/if_equals}}
          {{#if_equals instance.task_type 'checkbox'}}
            <h6>Response Options</h6>
            <ggrc-quick-update instance="instance">
              {{#each instance.response_options}}
                <div class="row-fluid wrap-row">
                  <div class="span12">
                    <label><input
                      type="checkbox"
                      {{^if_can_edit_response instance instance.status}}
                        disabled="disabled"
                      {{/if}}
                      multiple="multiple"
                      name="selected_response_options"
                      value="{{.}}"
                      {{#in_array this instance.selected_response_options}}
                        checked="checked"
                      {{/in_array}}>
                    {{.}}
                    </label>
                  </div>
                </div>
              {{/each}}
            </ggrc-quick-update>
          {{/if_equals}}
          <br>
        </div>
      </div>

      {{#using cycle=instance.cycle}}
      {{#using workflow=cycle.workflow}}
      {{#if_helpers '\
        #is_dashboard' '\
        or ^is_page_instance' workflow}}

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Part of the workflow</h6>
              <p>
                <a href="{{workflow.viewLink}}">
                  {{workflow.title}}
                  <i class="fa fa-long-arrow-right smallmargin"></i>
                </a>
              </p>
            </div>
          </div>
      {{/if_helpers}}
      {{/using}}
      {{/using}}

      <div class="row-fluid wrap-row">
        <div class="span12">
          {{#with_mapping_count instance 'cycle_task_entries'}}
            {{#count}}
              <h6>Comments ({{count}})</h6>
              <mapping-tree-view
                parent-instance="instance"
                mapping="instance.class.info_pane_options.comments.mapping"
                item-template="instance.class.info_pane_options.comments.show_view"
                tree-view-class="tree-structure new-tree mapped-objects-tree entry-list"
                class="task-comments">
              </mapping-tree-view>
            {{/count}}
            {{^count}}
              <h6>Comments</h6>
              No comments.
            {{/count}}
          {{/with_mapping_count}}

          <ul class="add-task-comment">
            {{>'/static/mustache/cycle_task_entries/tree_footer.mustache'}}
          </ul>
        </div>
      </div>

    </div>
  </section>
{{/instance}}
