{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: dan@reciprocitylabs.com
    Maintained By: dan@reciprocitylabs.com
}}

<form action="javascript://">
  {{#using cycle=instance.cycle}}
    {{#using workflow=cycle.workflow}}
      {{#if_equals workflow.status 'Active'}}
        <div class="row-fluid">
          <div class="span12">
              <div class="alert">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Note:</strong> Any changes made here will affect only this workflow cycle. To change future occurrences, edit task group(s) in "Setup" tab.
              </div>
          </div>
        </div>
      {{/if_equals}}
    {{/using}}
  {{/using}}
  <div class="row-fluid">
    <div class="span8">
      <label>
        Summary
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="Give new {{model.model_singular}} a summary that is easy to search for and indicates the main goals of this {{model.model_singular}}"></i>
      </label>
      <input class="input-block-level required" id="task-title" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" tabindex="1" autofocus>
      <br>
    </div>
    <div class="span4">
      {{#using contact=instance.contact model_singular=model.model_singular}}
      <label>
        Assignee
        <span class="required">*</span>
        <i class="fa fa-question-circle" rel="tooltip" title="This is the default assignee for this task."></i>
      </label>
      {{#if_cycle_assignee_privileges instance}}
      <input tabindex="3" class="input-block-level" name="contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstexist contact.email ''}}" />
      {{else}}
        <div>{{firstexist contact.email ''}}</div>
      {{/if_cycle_assignee_privileges}}
      {{/using}}
      <br>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <label>
        Task Type
      </label>
      <select name="task_type">
        {{#iterate 'text' 'Rich text' 'menu' 'Dropdown' 'checkbox' 'Checkboxes' step=2}}
          <option value="{{iterator_0}}" {{#if_equals instance.task_type iterator_0}}selected="selected"{{/if_equals}}>{{iterator_1}}</option>
        {{/iterate}}
      </select>
      <br>
      <label>
      {{#if_helpers '\
      #if_equals' instance.task_type 'text' '\
      or #if_equals' instance.task_type '' '\
      or #if_null' instance.task_type}}
      <label>
        Task Details
        <i class="fa fa-question-circle" rel="tooltip" title="Provide more details on the purpose of this {{model.model_singular}} and provide context for how and when this {{model.model_singular}} might be used."></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="tgt_response_options" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="2">{{instance.description}}</textarea>
      </div>
      {{else}}
      <label>
        Selection Response Options (Comma Separated)
        <i class="fa fa-question-circle" rel="tooltip" title="Choose which response should be applied to this {{model.model_singular}}."></i>
      </label>
        <textarea id="tgt_response_options" class="span12 double" name="response_options_csv" placeholder="Enter Description" tabindex="2">{{instance.response_options_csv}}</textarea>
      {{/if_equals}}
    </div>

    <div class="span4" id="frequency-div">
      <div id="one-time" class="frequency-wrap" style="display:block">
        <label>
          Change dates
        </label>
        <label class="smaller">
          <span class="start-text">Start Date</span>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input tabindex="4" class="date input-small" name="start_date" data-toggle="datepicker" data-before="end_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date instance.start_date}}">
          </div>
        </label>
        <label class="smaller">
          <span class="start-text">End Date</span>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input tabindex="4" class="date input-small" name="end_date" data-toggle="datepicker" data-after="start_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date instance.end_date}}">
          </div>
        </label>
      </div>
    </div>
    <input type="hidden" name="task_group" model="TaskGroup" value="{{firstnonempty object_params.task_group instance.task_group.id}}" />
    <input type="hidden" name="context" model="Context" value="{{firstnonempty object_params.context instance.context.id}}" />
    <input type="hidden" name="sort_index" value="{{firstnonempty object_params.sort_index instance.sort_index}}" />
    <input type="hidden" name="cycle" model="Cycle" value="{{instance.cycle.id}}" />
  </div>
  {{{render_hooks 'CycleTaskGroupObjectTask.modal_tier1'}}}
</form>
