{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


<li class="tree-item item-list" {{addclass "t-" instance.status}} {{addclass "t-" instance.overdue}}
  data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}"
  {{#instance}}{{data 'model'}}{{/instance}}
  >
  <div class="item-main" {{data 'model'}}>
    <div class="openclose">
      <a class="openclose-placeholder" href="javascript://"> </a>
      <div class="row-fluid">

        <div class="item-data {{#is_dashboard}}span3{{else}}span7{{/is_dashboard}}" style="padding-left:0px;">
          <div class="tree-title-area">
            <span class="tier-trigger"></span>{{instance.title}}
          </div>
        </div>

        {{#is_dashboard}}

          {{#using instance=instance.cycle_task_group_object}}
            {{#using object=instance.object}}

              <div class="item-data span2">
                <div class="oneline">
                  <i class="grcicon-{{instance.object.reify.class.table_singular}}-black"></i>
                  <span class="tiny-data">
                    {{firstnonempty object.title ''}}
                  </span>
                </div>
              </div>

            {{/using}}
          {{/using}}

          {{#using cycle=instance.cycle}}
            {{#using workflow=cycle.workflow}}


              <div class="item-data span2">
                <div class="oneline">
                  <span class="tiny-data" rel="tooltip" title="Workflow title">
                    {{workflow.title}}
                  </span>
                </div>
              </div>

            {{/using}}
          {{/using}}

        {{/is_dashboard}}

        <div class="span5">
          <ul class="tree-action-list tasks-action">
            <li>
              <div class="date">
                <span rel="tooltip" data-placement="top" {{#is_overdue instance.end_date instance.status}}class="error"{{/is_overdue}} data-original-title="Due On">
                  <i class="grcicon-history-{{#is_overdue instance.end_date instance.status}}red{{else}}color{{/if overdue_warning}}"></i> {{localize_date instance.end_date}}
                </span>
              </div>
            </li>
            <li>
              {{#with_mapping_count instance 'cycle_task_entries'}}
              <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of comments">
                <i class="grcicon-object-black"></i>
                <strong class="error">{{count}}</strong>
              </span>
              {{/with_mapping_count}}
            </li>
            {{#using cycle=instance.cycle}}
              {{#if_equals cycle.is_current true}}
              <li>
                <div class="request-control" {{ (el) -> $(el).bind('inserted', function() { el.ggrc_controllers_quick_form({ instance : el.closest('.item-list').data('model')}); }); }}>
                  {{#if_equals instance.status 'Assigned'}}
                    <button class="btn btn-primary change-task-status {{instance._disabled}}" data-openclose="open" data-name="status" data-value="InProgress">Start</button>
                  {{/status}}
                  {{#if_equals instance.status 'InProgress'}}
                    <button class="btn change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                  {{/if_equals}}
                  {{#if_equals instance.status 'Declined'}}
                    <button class="btn change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                  {{/if_equals}}
                  {{#if_equals instance.status 'Finished'}}
                    <button class="btn btn-danger change-task-status {{instance._disabled}}" data-name="status" data-value="Declined">Decline</button>
                    <button class="btn btn-success change-task-status {{instance._disabled}}" data-openclose="close" data-name="status" data-value="Verified">Verify</button>
                  {{/status}}
                  {{#if_equals instance.status 'Verified'}}
                    <span class="task-done">
                      <em>Verified</em>
                    </span>
                  {{/if_equals}}
                  {{#instance._undo.0}}
                    <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo {{instance._disabled}}">Undo</a>
                  {{/instance._undo.0}}
                </div>
              </li>
              {{/if_equals}}
            {{/using}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{#if expanded}}
  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">

      {{#is_allowed 'update' instance context='for'}}
      <div class="action-bar">
        <ul class="change-links">
          <li>
            <a href="javascript://" data-object-singular-override="Task for current Workflow Cycle" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{instance.class.model_singular}}" data-object-plural="{{instance.class.table_plural}}" data-object-id="{{instance.id}}">
              <i class="grcicon-edit"></i>
              Edit Task
            </a>
          </li>
        </ul>
      </div>
      {{/is_allowed}}

      <section class="small-info info tier-info">
        <div class="row-fluid">
          <div class="span9">
            <h6>Task</h6>
            <h3>
              {{instance.title}}
            </h3>
          </div>
          <div class="span3">
            <h6>Assignee</h6>
            {{#if_workflow_assignee_privileges instance}}
            <div {{#instance}}{{data 'model'}}{{/instance}} {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
              {{#using contact=instance.contact}}
                <div class="objective-selector">
                  <input type="text" name="contact.name" data-lookup="Person" class="search-icon input-block-level" {{#if_equals instance.status 'Verified'}}disabled="disabled"{{/if}} placeholder="Choose Assignee" value="{{firstnonempty contact.name contact.email ''}}">
                </div>
              {{/using}}
            </div>
            {{else}}
              {{#using contact=instance.contact}}
              <div>{{firstnonempty contact.name contact.email ''}}</div>
              {{/using}}
            {{/if_workflow_assignee_privileges}}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
          {{#if_helpers '\
            #if_equals' instance.task_type 'text' '\
            or #if_equals' instance.task_type "" '\
            or #if_null' instance.task_type}}
            <h6>Task details</h6>
            <div class="tree-description">
              {{{firstnonempty instance.description 'No additional details'}}}
            </div>
          {{/if_helpers}}
          {{#if_equals instance.task_type 'menu'}}
            <h6>Response Options</h6>
            {{! here we need to start a quick form or other componenet}}
            <ggrc-quick-update instance="instance">
              <select name="selected_response_options.0">
                {{#each instance.response_options}}
                  <option value="{{.}}" {{#if_equals instance.selected_response_options.0 this}}selected="selected"{{/if_equals}}>{{.}}</option>
                {{/each}}
              </select>
            </ggrc-quick-update>
          {{/if_equals}}
          {{#if_equals instance.task_type 'checkbox'}}
            <h6>Response Options</h6>
            <ggrc-quick-update instance="instance">
              {{#each instance.response_options}}
              <div class="row-fluid">
                <div class="span12">
                  <input type="checkbox" multiple="multiple" name="selected_response_options" value="{{.}}" {{#in_array this instance.selected_response_options}}checked="checked"{{/in_array}}> {{.}}
                </div>
              </div>
              {{/each}}
            </ggrc-quick-update>
          {{/if_equals}}
          <br>
          </div>
        </div>

        {{#is_dashboard}}
          {{#using instance=instance.cycle_task_group_object}}
            {{#using object=instance.object}}
              {{#if object.viewLink}}
              <div class="row-fluid">
                <div class="span9">
                  <h6>Task to be performed on object</h6>
                  <p>
                    <i class="grcicon-{{instance.object.reify.class.table_singular}}-color smallmargin"></i>
                    <span class="cap">{{instance.object.reify.class.table_singular}}:</span>
                    {{#is_allowed "view_object_page" object}}
                      <a href="{{object.viewLink}}" rel="tooltip" data-original-title="View {{instance.object.reify.class.table_singular}}">
                        {{firstnonempty object.title instance.title}}
                        <i class="grcicon-goto smallmargin"></i>
                      </a>
                    {{else}}
                      {{firstnonempty object.title instance.title}}
                    {{/is_allowed}}
                  </p>
                </div>
                <div class="span3">
                  <h6>Start/End dates</h6>
                  <p>
                    {{localize_date instance.start_date}}
                    -
                    {{localize_date instance.end_date}}
                  </p>
                </div>
              </div>
              {{/if}}
            {{/using}}
          {{/using}}
        {{/is_dashboard}}

        {{#using cycle=instance.cycle}}
        {{#using workflow=cycle.workflow}}
        {{#if_helpers '\
          #is_dashboard' '\
          or ^is_page_instance' workflow}}

            <div class="row-fluid">
              <div class="span12">
                <h6>Part of the workflow</h6>
                <p>
                  <a href="{{workflow.viewLink}}">
                    {{workflow.title}}
                    <i class="grcicon-goto smallmargin"></i>
                  </a>
                </p>
                <br>
              </div>
            </div>
        {{/if_helpers}}
        {{/using}}
        {{/using}}



      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
            {{#child_options}}

            <div class="row-fluid">
              <div class="span12">
                <h6>Comments ({{list.length}})</h6>
                <ul class="entry-list" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
              </div>
            </div>
            {{/child_options}}
        {{/prune_context}}
      {{/if}}

      </section>

    </div>
  </div>
  {{/if}}
</li>
