{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}


<li class="tree-item governance item-list" {{addclass "t-" instance.status}} {{addclass "t-" instance.overdue}}
  data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}"
  {{#instance}}{{data 'model'}}{{/instance}}
  >
  <div class="item-main">
    <div class="openclose">
      <a class="openclose-placeholder" href="javascript://"> </a>
      <div class="row-fluid">
        <div class="item-data span3">
          <div class="tree-title-area">
            <span class="tier-trigger"></span>{{instance.title}}
          </div>
        </div>
        <div class="span3 item-data">
        {{#is_dashboard}}
        {{#defer 'object' instance.object}}
          <div class="tree-title-area">
            <i class="grcicon-{{object.class.table_singular}}-color"></i>
            <a class="object-title" href="{{object.viewLink}}" target="_blank">{{object.title}}</a>
          </div>
        {{/defer}}
        {{/is_dashboard}}
        </div>
        <div class="span6">
          <ul class="tree-action-list">
            <li>
              <span rel="tooltip" data-placement="top" data-original-title="Last edit">
                Edited: {{localize_date instance.updated_at}}
              </span>
            </li>
            <li>
              <div class="date">
                <span rel="tooltip" data-placement="top" {{^if_equals instance.status 'Verified'}}{{#is_overdue instance.end_date}}class="error"{{/is_overdue}}{{/if}} data-original-title="Due On">
                  Due: {{localize_date instance.end_date}}
                </span>
              </div>
            </li>
            <li>
            {{^if_equals instance.status 'Verified'}}{{#is_overdue instance.end_date}}<span class="error"><em>Overdue</em></span>{{/is_overdue}}{{/if}}
            </li>
            <li>
              {{#with_mapping_count instance 'cycle_task_entries'}}
              <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                <i class="grcicon-object-black"></i>
                <strong class="error">{{count}}</strong>
              </span>
              {{/with_mapping_count}}
            </li>
            <li>
              <div class="request-control" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.closest('.item-list').data('model')}); }}>
                {{#if_equals instance.status 'Assigned'}}
                  <button class="btn btn-primary change-task-status {{instance._disabled}}" data-openclose="open" data-name="status" data-value="InProgress">Start</button>
                {{/status}}
                {{#if_equals instance.status 'InProgress'}}
                  <button class="btn change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                {{/if_equals}}
                {{#if_equals instance.status 'Declined'}}
                  <button class="btn change-task-status {{instance._disabled}}" data-name="status" data-value="Finished">Finish</button>
                {{/if_equals}}
                {{#if_equals instance.status 'Finished'}}
                  <button class="btn btn-danger change-task-status {{instance._disabled}}" data-name="status" data-value="Declined">Decline</button>
                  <button class="btn btn-success change-task-status {{instance._disabled}}" data-openclose="close" data-name="status" data-value="Verified">Verify</button>
                {{/status}}
                {{#if_equals instance.status 'Verified'}}
                  <span class="task-done">
                    <em>Verified</em>
                  </span>
                {{/if_equals}}
                {{#instance._undo.0}}
                  <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo {{instance._disabled}}">Undo</a>
                {{/instance._undo.0}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{#if expanded}}
  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">
  
      
      <div class="row-fluid">
        <div class="span9">
          {{#is_dashboard}}
          {{#defer 'workflow' instance.workflow}}
            <a href="{{workflow.viewLink}}" class="info-action">
              View Workflow
              <i class="grcicon-goto"></i>
            </a>
          {{/defer}}
          {{/is_dashboard}}

          {{#using task_group_task=instance.task_group_task}}
          {{#using task=task_group_task.task}}
            {{#if task.viewLink}}  
              <a href="{{task.viewLink}}" class="info-action">
                View {{task.class.title_singular}}
                <i class="grcicon-goto"></i>
              </a>  
            {{/if}}
          {{/using}}
          {{/using}}
        </div>
        <div {{#instance}}{{data 'model'}}{{/instance}} class="span3" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.data('model')}); }}>
          <i class="grcicon-person-green pull-left icon-field"></i>
          {{#using contact=instance.contact}}
          <div class="objective-selector">
            <input type="text" name="contact.name" data-lookup="Person" class="span10 short-field search-icon" {{#if_equals instance.status 'Verified'}}disabled="disabled"{{/if}} placeholder="Choose Assignee" value="{{firstnonempty contact.name contact.email ''}}">
          </div>
          {{/using}}
        </div>
      </div>

      <div class="show-description">
        <div class="row-fluid">
          <div class="span12">
            <div class="tree-description">
              <h5>{{instance.title}}</h5>
              {{{instance.description}}}
            </div>
          </div>
        </div>
      </div>
      
      

      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
            {{#child_options}}
            <div class="row-fluid">
              <div class="span11">
                <div class="inner-row">
                  <strong>Entries ({{list.length}})</strong>
                  <ul class="entry-list" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
                </div>
              </div>
            </div>
            {{/child_options}}
        {{/prune_context}}
      {{/if}}

    </div>
  </div>
  {{/if}}
</li>
