{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


{{#if_equals original_list.length 0}}
<li>
  <div class="zero-state">
    <h2>
    {{#is_profile}}
      You have
    {{else}}
      {{#with_page_object_as 'page_object'}}
        {{page_object.type}} has
      {{/with_page_object_as}}
    {{/is_profile}} no assigned tasks</h2>
  </div>
</li>
{{/if_equals}}

{{#if is_subtree}}
    <!-- {{{renderLive '/static/mustache/base_objects/tree_footer_zero.mustache'}}} -->
{{else}}
  {{#if original_list.length}}
    <div class="paging-wrap pull-right">
        <tree-pagination paging="paging"></tree-pagination>
    </div>
    {{/if}}
{{/if}}
