{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="{{topWrapperClass}} {{#if isUpdating}}updating{{/isUpdating}}">

  {{#rolesInfo}}
    <div class="{{roleBlockClass}} bottom-spacing role-block">
      <h6>
        {{role.name}}

        {{#if canEdit}}
          <i class="fa fa-plus-circle add-role"
             title="Grant Role {{role.name}}"
             ($click)="grantRoleMode(role.id)"></i>
        {{/if}}
      </h6>

      {{#if_equals role.id grantingRoleId}}
        {{#if canEdit}}
          {{#if isPendingGrant}}
            <spinner toggle="isPendingGrant"></spinner>
          {{else}}
            {{^if_config_exist 'external_services.Person'}}
            <autocomplete
              search-items-type="Person"
              (item-selected)="grantRole(%event.selectedItem, %context.role.id)"
              placeholder="Select person"
            ></autocomplete>
            {{else}}
            <external-data-autocomplete
                {type}="'Person'"
                {placeholder}="'Select person'"
                {min-length}="2"
                (item-selected)="grantRole(%event.selectedItem, %context.role.id)">
            </external-data-autocomplete>
            {{/if_config_exist}}

            <i class="fa fa-trash hide-input"
               title="Hide"
               ($click)="grantRoleMode(0)"></i>
          {{/if}}
        {{/if}}
      {{/if}}

      {{^roleAssignments}}
        <p>
          <span class="empty-message">None</span>
        </p>
      {{/roleAssignments}}

      {{#roleAssignments}}
        <div class="row-fluid person-row">
          <person-info person-id="person.id"></person-info>

          {{#if canEdit}}
            {{#ifRevokingRole person.id ac_role_id}}
              <spinner toggle="pendingRevoke"></spinner>
            {{else}}
              <i class="fa fa-trash revoke-role"
                 title="Remove"
                 ($click)="revokeRole(person, ac_role_id)"></i>
            {{/ifRevokingRole}}
          {{/canEdit}}
        </div>
      {{/roleAssignments}}
    </div>
  {{/rolesInfo}}

</div>
