{{!
    Copyright (C) 2016 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#itemData}}
    <!-- Objectives and Regulations Grids -->
    <collapsible-panel title-text="Show Related Objectives and Regulations" collapsed="true" expanded="expanded">
        <spinner toggle="isLoading"></spinner>
        <div class="mapped__two-column-grid">
            <div class="two-column-grid-headers row-fluid">
                <h6 class="span6">
                    <i class="fa fa-objective color"></i>
                    Objectives ({{objectives.length}})
                </h6>
                <h6 class="span6">
                    <i class="fa fa-regulation color"></i>
                    Regulations ({{regulations.length}})
                </h6>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="two-column-grid-header span7">
                            Objective Description
                        </div>
                        <div class="two-column-grid-header span5">
                            Notes
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="two-column-grid-header span7">
                            Regulation Description
                        </div>
                        <div class="two-column-grid-header span5">
                            Notes
                        </div>
                    </div>
                </div>
            </div>

            <div class="two-column-grid-body row-fluid">
                <div class="span6">
                  {{#each objectives}}
                      <div class="column-grid-body row">
                          <div class="column-grid-description span7">
                              <h6 class="description-title">
                                {{title}}
                              </h6>
                              <read-more text="description"></read-more>
                          </div>
                          <div class="span5">
                              <read-more text="notes"></read-more>
                          </div>
                      </div>
                  {{/each}}
                </div>
                <div class="span6">
                  {{#each regulations}}
                      <div class="column-grid-body row">
                          <div class="column-grid-description span7">
                              <h6 class="description-title">
                                {{title}}
                              </h6>
                              <read-more text="description"></read-more>
                          </div>
                          <div class="span5">
                              <read-more text="notes"></read-more>
                          </div>
                      </div>
                  {{/each}}
                </div>
            </div>
        </div>
    </collapsible-panel>
{{/itemData}}
