{{!
    Copyright (C) 2016 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<assessment-mapped-objects-title title-text="titleText" expanded="expanded"></assessment-mapped-objects-title>
<assessment-mapped-objects-filter items="mappedObjects" filter="filter">
    <assessment-mapped-objects-list expanded="expanded" items="filteredItems">
        <assessment-mapped-objects-popover selected-el="selectedEl"
                                           selected-item="selectedItem"></assessment-mapped-objects-popover>
    </assessment-mapped-objects-list>
</assessment-mapped-objects-filter>
