{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<collapsible-panel-header title-text="titleText" {(expanded)}="expanded">
  {{#is_allowed 'update' instance context='for'}}
      <i class="fa fa-plus-circle"
         rel="tooltip"
         data-type="{{mappingType}}"
         data-placement="right"
         data-toggle="unified-mapper"
         data-join-mapping="related_objects"
         data-join-option-type="{{model.shortName}}"
         data-join-object-id="{{instance.id}}"
         data-join-object-type="{{instance.class.shortName}}"
         data-original-title="Map {{firstnonempty mappingType 'Object'}} to this {{firstnonempty instance.class.title_singular 'Object'}}"
 >
      </i>
  {{/is_allowed}}
</collapsible-panel-header>
<collapsible-panel-body {expanded}="expanded" class="collapsible-panel-body">
    <object-list {(selected-item)}="selectedItem" {items}="mappedItems">
      <business-object-list-item {instance}="instance"></business-object-list-item>
    </object-list>
    <object-popover class="object-popover" {item}="selectedItem">
        <detailed-business-object-list-item {instance}="item.data" {^object-title}="popoverTitle" {^object-link}="popoverLink"></detailed-business-object-list-item>
    </object-popover>
</collapsible-panel-body>
