{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<object-list {(selected-item)}="selectedItem" {items}="mappedItems">
    <business-object-list-item {instance}="instance">
        <div class="description">
            <read-more {text}="itemData.description" max-lines-number="1"></read-more>
        </div>
    </business-object-list-item>
</object-list>
<simple-modal instance="snapshot" modal-title="modalTitle" state="state" extra-css-class="mapped-controls-info" replace-content="true">
    <div class="simple-modal__header flex-box flex-row">
        <div class="simple-modal__header-text flex-size-1">
            <div class="simple-modal__title">
                <div class="simple-modal__title__name">
                    Control:
                    <a target="_blank" href="{{instance.originalLink}}" title="{{instance.title}}">{{instance.title}}</a>
                </div>
                <span class="state-value snapshot">
                    {{instance.type}} version as on {{date instance.updated_at}}
                </span>
            </div>
        </div>
        <button class="btn btn-small btn-icon" can-click="hide">
            <i class="fa fa-times black"></i>
        </button>
    </div>
    <div class="simple-modal__body {{#if isLoading}}loading{{/if}}">
        <spinner {toggle}="isLoading" class="spinner-wrapper active"
                 extra-css-class="grid-spinner"></spinner>
        <collapsible-panel title-text="Control Info"
                           expanded="true"
                           class="assessment-mapped-controls__info">
            <detailed-business-object-list-item {instance}="instance"
                                                {custom-attributes}="customAttributes"
                                                class="collapsible-panel-body__control_info">
            </detailed-business-object-list-item>
        </collapsible-panel>
        <assessment-mapped-control-related-objects class="assessment-mapped-controls"
                                                   title-text="Show Related Objectives ({{objectives.length}})"
                                                   type="Objective"
                                                   {items}="objectives">
        </assessment-mapped-control-related-objects>
        <assessment-mapped-control-related-objects class="assessment-mapped-controls"
                                                   title-text="Show Related Regulations ({{regulations.length}})"
                                                   type="Regulation"
                                                   {items}="regulations">
        </assessment-mapped-control-related-objects>
    </div>
</simple-modal>
