{{!
  Copyright (C) 2018 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}

  <div class="row-fluid wrap-row">
    <div class="span10">
      <h6>Title</h6>
      <h3>{{title}}</h3>
    </div>
  </div>

{{/instance}}
