{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: laran@reciprocitylabs.com
    Maintained By: laran@reciprocitylabs.com
}}
{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span12">
      <label>
        Notes
      </label>
      <div class="wysiwyg-area">
        <textarea tabindex="9" id="notes_description" class="span12 double wysihtml5" name="notes" placeholder="Enter Notes">{{{notes}}}</textarea>
      </div>
      <input type="hidden" class="input-block-level" name="status" value="Amended Request"/>
    </div>
  </div>
</form>
{{/instance}}
