{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}
<li class="sticky-filter inner-filter-sticky">
  <div class="inline-filtering" {{ (el) -> el.ggrc_controllers_tree_filter() }} >
    <form>
      <div class="row-fluid">
        <div class="span3">
          <div class="filter-title">
            <h6>
              Filter Requests
            </h6>
          </div>
        </div>
        <div class="span9">
          <ul class="quick-filters">
            <li>
              <label>
                Requested before
              </label>
              <input class="input-date date" name="requested_on" data-toggle="datepicker" data-after="filter_start_date" placeholder="/ /" type="text" value="">
            </li>
            <li>
              <label>
                By Type
              </label>
              <select name="request_type">
                {{#iterate "" "Documentation" "Interview"}}
                <option value="{{iterator.toLowerCase}}" {{#iterator.toLowerCase}}{{#trim}}{{#if_equals this states.request_type}}selected="true"{{/trim}}{{/iterator.toLowerCase}}{{/if_equals}}>{{firstnonempty iterator "Any"}}</option>
                {{/iterate}}
              </select>
            </li>
            <li>
              <label>
                By Status
              </label>
              <select name="status">
                <option value="" selected="true">Any</option>
                <option>Draft</option>
                <option>Requested</option>
                <option>Responded</option>
                <option>Amended Request</option>
                <option>Updated Response</option>
                <option>Accepted</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</li>