{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}
{{!div class="modal-body"}}
<div class="hideable-holder">
{{#instance}}
<form action="javascript://">
  {{> /static/mustache/base_objects/form_restore.mustache}}

  <!-- Title Row -->
  <div class="row-fluid">
    <div class="span6">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."></i>
      </label>
      <input data-id="title_txtbx" tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <label>
        Description
        <span class="required">*</span>
      </label>
      <div class="wysiwyg-area">
        <textarea tabindex="2" id="request_description" class="span12 double wysihtml5" name="description" placeholder="State your request here...">{{{description}}}</textarea>
      </div>
    </div>
    <div class="span3">
      <label>
        Request Type
        <span class="required">*</span>
      </label>
      <select name="request_type" class="input-block-level" tabindex="3" {{#if responses.length}}disabled="true" readonly="true"{{/if}}>
        {{#iterate 'Documentation' 'Interview'}}
        <option value="{{iterator.toLowerCase}}" {{#if_equals iterator.toLowerCase instance.request_type}}selected="true"{{/if_equals}}>{{iterator}}</option>
        {{/iterate}}
      </select>
      <label>
        Requested On
        <span class="required">*</span>
      </label>
      <input tabindex="4" class="input-block-level date" name="requested_on" data-toggle="datepicker" data-before="due_on" placeholder="MM/DD/YYYY" type="text" value="{{localize_date requested_on}}">
    </div>
    <div class="span3">
      <div class="span12">
        <label>
          Due On
          <span class="required">*</span>
        </label>
        <input tabindex="5" class="input-block-level date" name="due_on" data-toggle="datepicker" data-after="requested_on" placeholder="MM/DD/YYYY" type="text" value="{{localize_date due_on}}">
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 hidable">
      <ggrc-modal-connector
          parent_instance="instance"
          instance="instance"
          source_mapping="business_objects"
          deferred="true"
          >
        <label class="border-l">
          Mapped Objects
          <a href="javascript://" class="field-hide" tabindex="-1">hide</a>
        </label>
        {{#each list}}
        <div class="oneline">
          <a href="javascript://" class="unmap" data-toggle="unmap">
            <span class="result" {{data 'result'}}></span>
            <i class="grcicon-deleted"></i>
          </a>
          {{#update_link .}}
            <a class="url" href="{{schemed_url link}}" target="_blank">
              {{firstexist title name email link}}
            </a>
          {{/update_link}}
        </div>
        {{/each}}
        {{^list.length}}
          <span class="gray"><em>No mapped objects</em></span>
        {{/list.length}}
        <div class="objective-selector">
          <div style="clear:both">
            <br>
            <a class="section-add section-sticky btn btn-small btn-draft"
              href="javascript://" rel="tooltip"
              {{data "deferred_to"}}
              data-placement="left"
              data-toggle="unified-mapper"
              data-deferred="true"
              data-object-source="true"
              data-join-mapping="business_objects"
              data-join-object-id="{{instance.id}}"
              data-join-object-type="{{instance.class.model_singular}}"
              data-original-title="Map Object to this {{instance.class.title_singular}}" tabindex="6">
              Map Objects
            </a>
          </div>
        </div>
      </ggrc-modal-connector>
  </div>
  <div class="span6">
    <people-list instance="instance" editable="true" deferred="true"></people-list>
  </div>

  <div class="row-fluid">
    <div class="span6 hidable">
      <label>
        Test
        <a href="javascript://" class="field-hide">hide</a>
      </label>
      <div class="wysiwyg-area">
        <textarea tabindex="8" id="test_description" class="span12 double wysihtml5" name="test" placeholder="Enter Test">{{{test}}}</textarea>
      </div>
    </div>
    <div class="span6 hidable">
      <label>
        Notes
        <a href="javascript://" class="field-hide">hide</a>
      </label>
      <div class="wysiwyg-area">
        <textarea tabindex="9" id="notes_description" class="span12 double wysihtml5" name="notes" placeholder="Enter Notes">{{{notes}}}</textarea>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 hidable">
      <label>
        Code
        <i class="grcicon-help-black" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        <a href="javascript://" class="field-hide">hide</a>
      </label>
      <input tabindex="10" class="input-block-level" name="slug" placeholder="REQUEST-XXX" type="text" value="{{slug}}">
    </div>
    <div class="span6">
      <label>
        Audit
        <span class="required">*</span>
      </label>
        <div class="objective-selector">
          {{#using audit=instance.audit }}
            <input tabindex="11" type="text" name="audit.title" class="span12 search-icon" data-lookup="Audit" placeholder="Enter text to search for Audit" null-if-empty="false" value="{{firstnonempty audit.title ''}}">
          {{/using}}
        </div>
    </div>
  </div>
</form>
{{/instance}}
</div>
