{{!
Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
Created By: urban@reciprocitylabs.com
Maintained By: urban@reciprocitylabs.com
}}

<reuse-objects parent-instance="instance">
  <ul class="past-items-list">
    <li class="clearfix list-title">
      <div class="mini-col">
        <h6>Date</h6>
      </div>
      <div class="xmedium-col">
        <h6>Title</h6>
      </div>
      <div class="small-col">
        <h6>Mapped objects</h6>
      </div>
      <div class="medium-col">
        <h6>Evidence</h6>
      </div>
      <div class="mini-col">
        <a href="javascript://" can-click="reuseIt" class="btn {{#disableReuse}}disabled{{/disableReuse}} btn-small btn-full btn-draft js-trigger-reuse">Reuse</a>
      </div>
    </li>
  </ul>
  <ul class="past-items-list relatables">
    {{#expose reusedObjects=reusedObjects baseInstance=parentInstance isLoading=isLoading}}
    {{#defer 'related_self' parentInstance.related_self}}
    {{#related_self}}
    <li class="clearfix">
      <div class="mini-col">
        {{localize_date instance.created_at}}
      </div>
      <div class="xmedium-col">
        <a href="{{instance.viewLink}}" target="_blank">
          {{instance.title}}
        </a>
      </div>
      <div class="small-col">
        <mapping-tree-view
          reusable="true"
          reusable-objects="reusedObjects"
          reuse-method="createRelationship"
          tree-view-class="mapped-list"
          parent-instance="instance"
          base-instance="baseInstance"
          is-loading="isLoading"
          mapping="instance.class.info_pane_options.mapped_objects.mapping"
          item-template="instance.class.info_pane_options.mapped_objects.show_view"
          >
        </mapping-tree-view>
      </div>
      <div class="large-col">
        <mapping-tree-view
          reusable="true"
          reusable-objects="reusedObjects"
          reuse-method="createEvidenceRelationship"
          parent-instance="instance"
          base-instance="baseInstance"
          is-loading="isLoading"
          mapping="instance.class.info_pane_options.evidence.mapping"
          item-template="instance.class.info_pane_options.evidence.show_view"
          >
        </mapping-tree-view>
        <br />
        <mapping-tree-view
          reusable="true"
          reusable-objects="reusedObjects"
          reuse-method="createRelationship"
          parent-instance="instance"
          base-instance="baseInstance"
          is-loading="isLoading"
          mapping="instance.class.info_pane_options.urls.mapping"
          item-template="instance.class.info_pane_options.urls.show_view"
          >
        </mapping-tree-view>
      </div>
    </li>
    {{/related_self}}
    {{/defer}}
    {{/expose}}
  </ul>
</reuse-objects>
