{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<li class="tree-item programs" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}" {{addclass "rq-" instance.status}}>
  <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}} data-model="true">
    <div class="item-wrap">
      {{{render '/static/mustache/base_objects/open_close.mustache' instance=instance}}}
      <div class="select">
        <div class="item-data">
          <div class="row-fluid">
            <div class="span{{display_options.title_width}}">
              <div class="title tree-title-area">
                {{#if_draw_icon instance}}
                  <i class="grcicon-{{instance.request_type}}"></i>
                {{/if_draw_icon}}
                <span>{{strip_html_tags instance.description}}</span>
              </div>
            </div>
            <div class="span{{display_options.selectable_width}}">
              <div class="row-fluid">
                {{#display_attr_list}}
                  <div class="span{{display_options.selectable_attr_width}}">
                    {{#if_equals attr_type 'custom'}}
                      <div class="custom tree-title-area">
                        {{get_custom_attr_value this instance}}
                      </div>
                    {{else}}
                      <div class="owner tree-title-area">
                        {{#switch attr_name}}
                          {{#case 'audit_object'}}
                            {{#using audit=instance.audit}}
                              {{#with_mapping "audit_object_object" instance}}
                                {{#if audit_object_object.0.instance}}
                                  {{#is_allowed "view_object_page" audit_object_object.0.instance}}
                                    <a class="object-title" href="{{audit_object_object.0.instance.viewLink}}" target="_blank">{{audit_object_object.0.instance.title}}</a>
                                  {{else}}
                                    <span class="object-title" target="_blank">{{audit_object_object.0.instance.title}}</span>
                                  {{/is_allowed}}
                                {{else}}
                                  {{#with_mapping "authorizations" audit}}
                                    {{#if_helpers "\
                                      ^if_equals" instance.status "Accepted" "\
                                      and ^if_auditor" instance _1_include_admin=false}}
                                      None
                                    {{/if_helpers}}
                                  {{/with_mapping}}
                                {{/if}}
                              {{/with_mapping}}
                            {{/using}}
                          {{/case}}
                          {{#case 'assignee'}}
                            {{#using assignee=instance.assignee}}
                              {{{renderLive '/static/mustache/people/popover.mustache' person=assignee}}}
                            {{/using}}
                          {{/case}}
                          {{#case 'mapped_responses'}}
                            <i rel="tooltip" data-placement="right" {{#if_equals instance.request_type "documentation"}}data-original-title="# of attached documents" class="grcicon-directive-black"{{else}}data-original-title="# of attached meetings" class="grcicon-interview"{{/if_equals}}></i>
                            <span class="counter">
                              {{#child_options}}
                                {{#with_mapping_count instance mapping}}
                                  {{count}}
                                {{/with_mapping_count}}
                              {{/child_options}}
                            </span>
                          {{/case}}
                          {{#default}}
                            {{#instance}}
                              {{get_default_attr_value attr_name instance}}
                            {{/instance}}
                          {{/default}}
                        {{/switch}}
                      </div>
                    {{/if_equals}}
                  </div>
                {{/display_attr_list}}
              </div>
            </div>

            <div class="span{{display_options.action_width}}">
              <ul class="tree-action-list" {{ (el) -> el.ggrc_controllers_quick_form({ instance : el.closest('[data-model]').data('model')}); }}>
                {{#if allow_creating}}
                {{^if_equals instance.status "Accepted"}}
                {{^if_equals instance.status "Responded"}}
                {{^if_equals instance.status "Updated Response"}}
                {{#if_can_create_response instance}}
                  {{#using audit=instance.audit}}
                  <li>
                    <a href="javascript://" class="section-create btn btn-mini btn-info" data-toggle="modal-ajax-form" data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="{{instance.response_model_class}}" data-object-plural="responses" data-object-params='{ "{{instance.class.table_singular}}": {"id" : {{instance.id}}, "type" : "{{instance.class.model_singular}}" }, "context": { "id" : {{firstexist audit.context.id "null"}}, "href" : "{{audit.context.href}}", "type" : "{{audit.context.type}}" } }'>
                      Create Response
                    </a>
                  </li>
                  {{/using}}
                {{/if_can_create_response}}}
                {{/if_equals}}
                {{/if_equals}}
                {{/if_equals}}
                {{/if}}
                {{#using audit=instance.audit}}
                {{#with_mapping "authorizations" audit}}
                  {{#if_equals instance.status "Draft"}}
                    <li>
                      {{#if_auditor instance}}
                        <button data-name="status" data-value="Requested" class="btn btn-mini btn-warning {{instance._disabled}}">Request</button>
                      {{else}}
                        <small class="gray"><em>{{instance.status}}</em></small>
                      {{/if_auditor}}
                    </li>
                  {{/if_equals}}
                  {{#if_equals instance.status "Requested"}}
                    <li>
                      {{#if_can_edit_request instance}}
                        {{^if_auditor instance include_admin=false}}
                          {{#with_mapping_count instance "responses"}}
                            {{#if count}}
                              <button data-name="status" data-value="Responded" class="btn btn-mini btn-info {{instance._disabled}}">Submit responses</button>
                            {{else}}
                              <button data-name="status" data-value="Responded" class="btn btn-mini btn-info disabled">Submit responses</button>
                            {{/count}}
                          {{/with_mapping_count}}
                        {{/if_auditor}}
                      {{else}}
                        <small class="gray"><em>{{instance.status}}</em></small>
                      {{/if_can_edit_request}}
                    </li>
                  {{/if_equals}}
                  {{#if_equals instance.status "Amended Request"}}
                    <li>
                      {{#if_can_edit_request instance}}
                        {{^if_auditor instance include_admin=false}}
                          {{#with_mapping_count instance "responses"}}
                            {{#if count}}
                              <button data-name="status" data-value="Updated Response" class="btn btn-mini btn-info {{instance._disabled}}">Submit responses</button>
                            {{else}}
                              <button data-name="status" data-value="Updated Response" class="btn btn-mini btn-info disabled">Submit responses</button>
                            {{/count}}
                          {{/with_mapping_count}}
                        {{/if_auditor}}
                      {{else}}
                        <small class="gray"><em>Amended</em></small>
                      {{/if_can_edit_request}}
                    </li>
                  {{/if_equals}}
                  {{#if_match instance.status "Respon"}}
                    <li>
                      {{#if_auditor instance}}
                        <button data-name="status" data-value="Accepted" class="btn btn-mini btn-success {{instance._disabled}}">Accept</button>
                        <a href="javascript://"
                           data-toggle="modal-ajax-form"
                           data-object-singular="Request"
                           data-object-params='{"modal_title":"Amend Request"}'
                           data-object-plural="requests"
                           data-object-id="{{instance.id}}"
                           class="btn btn-mini btn-warning {{instance._disabled}} undoable"
                           data-modal-class="modal-wide"
                           data-template="/static/mustache/requests/amend_modal_content.mustache"
                           data-name="status"
                           data-value="{{instance.status}}"
                           data-also-undo="notes">Amend</a>
                      {{else}}
                        <small class="gray"><em>Responded</em></small>
                      {{/if_auditor}}
                    </li>
                  {{/if_match}}
                  {{#if_equals instance.status "Accepted"}}
                    <li>
                      <small class="accepted"><em>Accepted on {{date instance.updated_at true}}</em></small>
                    </li>
                  {{/if_equals}}
                  {{#instance._undo.0}}
                    <li>
                      <a href="javascript://" data-name="status" data-value="{{instance._undo.0}}" data-undo="true" class="undo {{instance._disabled}}">Undo
                      </a>
                    </li>
                  {{/instance._undo.0}}
                {{/with_mapping}}
                {{/using}}
              </ul>
            </div>

          </div>
        </div><!-- item-data end -->
      </div><!-- select end -->
    </div><!-- item-wrap end -->
  </div><!-- tree-item end -->

  {{#if expanded}}
  <div class="tier-2-info item-content">
    <div class="tier-2-info-content">
      {{^if_equals instance.status "Draft"}}
      {{#if draw_children}}
        {{#each child_options}}
          <div class="inner-tree">
            <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")).control("tree_view").display() }}>
            </ul>
          </div>
        {{/each}}
      {{/if}}
      {{/if_equals}}
    </div>
  </div>
  {{/if}}

</li>
