{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="body-inner {{#if expanded}}is-expanded{{/if}}">
  {{#if renderContent}}
    <div {{^if expanded}}class="hidden"{{/if}}>
        <content/>
    </div>
  {{/if}}
</div>
