{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="auto-save-form-status">
  {{#saving}}
    Saving...
  {{/saving}}
  {{#allSaved}}
    All changes saved
  {{/allsaved}}
</div>
<div class="fields-wrapper">
  {{#fields}}
    <div class="field-wrapper">
      <div class="field-title">
        <label for="form-field-{{id}}">{{title}}</label>
        {{#if helptext}}
          <i class="fa fa-question-circle" rel="tooltip" title="{{helptext}}"></i>
        {{/if}}
      </div>
      <auto-save-form-field
        {type}="type"
        {value}="value"
        {field-id}="id"
        {placeholder}="placeholder"
        {options}="options"
        (value-changed)="fieldValueChanged(%event)"
      ></auto-save-form-field>
    </div>
  {{/fields}}
</div>
<br>
<button ($click)="save()"
        class="save-button"
        {{#saveDisabled}}disabled{{/saveDisabled}}>
  {{#if saving}}
    Saving...
  {{else}}
    Save
  {{/if}}
</button>
