{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch attr_name}}
  {{#case 'ra_manager'}}
      <tree-field {source}="instance.ra_manager" {field}="'email'"/>
  {{/case}}
  {{#case 'ra_counsel'}}
      <tree-field {source}="instance.ra_counsel" {field}="'email'"/>
  {{/case}}
  {{#case 'status'}}
    {{#using status=instance.status}}
      <span class="state-value-dot {{addclass 'state' status}}">
        {{status}}
      </span>
    {{/using}}
  {{/case}}

  {{#default}}
    {{get_default_attr_value attr_name instance}}
  {{/default}}
{{/switch}}
