{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">

    <div class="tier-content">
      <div class="pane-header">
        <div class="pane-header__container">
          <div class="pane-header__title">
            <h6>Title</h6>
            <h3>{{instance.title}}</h3>
          </div>

          <div class="pane-header__toolbar">
            {{#is_info_pin}}
              <info-pin-buttons maximized="maximized" on-change-maximized-state="@onChangeMaximizedState" on-close="@onClose"></info-pin-buttons>
            {{/is_info_pin}}

            <div class="info-pane-utility">
              {{#is_allowed 'update' instance}}
                <div class="details-wrap">
                  <a class="btn btn-3bbps dropdown-toggle" href="#" data-toggle="dropdown">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                  </a>
                  <ul class="dropdown-menu three-dots-list" aria-labelledby="drop1" role="menu">
                    {{#using workflow=instance.workflow}}
                      {{^if_equals workflow.status 'Inactive'}}
                        {{> /static/mustache/base_objects/edit_object_link.mustache}}
                      {{/if_equals}}
                    {{/using}}
                    <li>
                      <task-group-clone
                        {task-group}="instance">
                        <a href="javascript://">
                          <i class="fa fa-clone"></i>
                          Clone Task Group
                        </a>
                      </task-group-clone>
                    </li>
                  </ul>
                </div>
              {{/is_allowed}}
            </div>
          </div>
        </div>
      </div>

      <div class="pane-content">
        {{> /static/mustache/task_groups/tier2_content.mustache}}
        <div class="info-pane__section">
        {{#if readyToRenderTaskGroupObjects}}
          <task-group-objects
            {task-group}="instance"
            {can-edit}="canEdit"
          ></task-group-objects>
        {{/if}}
        </div>
        <div class="info-pane__section">
          <h5 class="info-pane__section-title">
            Tasks
          </h5>
          <task-list
            {base-instance}="instance"
            {workflow}="workflow"
          ></task-list>
        </div>
      </div>
    </div>
  </div>
  </section>
