{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="lhs-holder">
  <div class="lhn-type">
    <a href="javascript://" data-test-id="my_objects_6fa95ae1" data-name="work_type" data-value="my_work">My objects</a>
    <a href="javascript://" data-test-id="all_objects_e0345ec4" data-name="work_type" data-value="all">All objects</a>
  </div>
  <div class="affix-holder">
    <button class="bar-v"></button>
    <div id="lhs" class="lhs accordion">
      <a href="javascript://" class="lhn-pin"><i class="fa fa-thumb-tack"></i></a>
      <form class="form-search">
        <div class="lhs-search">
          <input class="widgetsearch" placeholder="Filter my objects..." type="text" can-value="search_text">
          <button type="submit" class="widgetsearch-submit" value="">
            <i class="fa fa-search"></i>
          </button>

          <div class="filter-off">
            <a href="#" rel="tooltip" data-title="Clear filters" data-original-title="" title="">
              <i class="fa fa-times red"></i>
            </a>
          </div>
        </div>
      </form>

      <h4 class="search-title">Showing filtered results</h4>

      <div class="lhs-nav">
        <ul class="top-level">
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Program" li_class="programs" tooltip_view='/programs/extended_info.mustache'  template_view='/static/mustache/programs/search_result.mustache'}}}
          {{{renderLive '/static/mustache/workflows/lhn_search.mustache' type="Workflow" li_class="workflow" template_view="/static/mustache/workflows/search_result.mustache" tooltip_view='/workflows/extended_info.mustache'}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Audit" li_class="programs" tooltip_view='/audits/extended_info.mustache' template_view='/static/mustache/audits/search_result.mustache'}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Assessment" tooltip_view='/assessments/assignable_extended_info.mustache' li_class="programs" actions="/static/mustache/base_objects/empty.mustache"}}}
          {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Issue" li_class="programs" actions="/static/mustache/base_objects/search_actions.mustache"}}}
        </ul>
      </div>

      <div class="bar-h"></div>

      <div class="lhs-nav">
        <h2>Objects</h2>

        <ul class="top-level">
          <li class="governance
          accordion-group">
            <a data-test-id="directives_66116337" class="governance list-toggle top" href="#">
              <i class="fa fa-caret-right"></i>
              Directives
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Regulation" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Policy" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Standard" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Contract" li_class="governance"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Requirement" li_class="governance"}}}
              </ul>
            </div>
          </li>

          <li class="governance accordion-group">
            <a data-test-id="controls/objectives_66116337" class="governance list-toggle top" href="#">
              <i class="fa fa-caret-right"></i>
              Controls/Objectives
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Control" li_class="controls"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Objective" li_class="objectives"}}}
              </ul>
            </div>
          </li>

          <li class="entities accordion-group">
            <a data-test-id="people/groups_66116337" class="entities list-toggle top" href="#">
              <i class="fa fa-caret-right"></i>
              People/Groups
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Person" li_class="entities" template_view='/static/mustache/people/search_result.mustache'}}}
              </ul>
            </div>
          </li>

          <li class="business accordion-group">
            <a data-test-id="scope_66116337" class="business list-toggle top" href="#">
              <i class="fa fa-caret-right"></i>
              Scope
            </a>
            <div class="content">
              <ul class="mid-level">
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="AccessGroup" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="OrgGroup" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="System" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Process" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="DataAsset" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Product" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="ProductGroup" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Project" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Facility" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Market" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Metric" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="TechnologyEnvironment" li_class="business"}}}
                {{{renderLive '/static/mustache/dashboard/lhn_search.mustache' type="Vendor" li_class="business"}}}
              </ul>
            </div>
          </li>

          {{> '/static/mustache/dashboard/lhn_risks.mustache'}}
        </ul>

        {{{render_hooks 'LHN.Requirements'}}}
      </div>

      <div class="bar-h"></div>

      <div class="lhs-nav">
        <h2>Recently Viewed</h2>
        <ul class="top-level recent">
        </ul>
      </div>

    </div>
  </div>
</div>
