{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: sasmita
    Maintained By: sasmita
}}

<section class="content">
  <ul class="tree-structure new-tree dashboard-tree">
    <li class="filter-wrap">
      <div class="filter-border">
        <form>
          <div class="row-fluid">
            <div class="span9">
              <ul>
                <li>
                  <label>
                    Status
                  </label>
                  <select name="status" class="input-small">
                    <option value="" selected="true">Any</option>
                    <option>Draft</option>
                    <option>Requested</option>
                    <option>Responded</option>
                    <option>Amended Request</option>
                    <option>Updated Response</option>
                    <option>Accepted</option>
                  </select>
                </li>
                <li>
                  <input type="text" class="input-medium" placeholder="Filter by Object">
                </li>
                <li>
                  <input type="text" class="input-medium" placeholder="Filter by Workflow">
                </li>
                <li>
                  <label class="checkbox-inline">
                    <input class="checkbox" type="checkbox">
                    Overdue only
                  </label>
                </li>
              </ul>
            </div>
            <div class="span3">
              <div class="pull-right">
                <label class="checkbox-inline">
                  <input class="checkbox" type="checkbox">
                  Show history
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    Due in 3 days
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-info">Start</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-draft"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Implement new password policy accross Google Play store modules</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Google Fiber EOO</a>
                      </li>
                      <li>
                        Control: <a href="#">Login Access</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <div class="details-wrap">
            <a class="btn btn-small btn-gray dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
            <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
              <li>
                <a href="#">
                  <i class="grcicon-goto"></i>
                  View Task
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="grcicon-imp-exp"></i>
                  Import Request
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="grcicon-export"></i>
                  Export Request
                </a>
              </li>
              <li class="border">
                <a href="#">
                  <i class="grcicon-review"></i>
                  Submit for Review
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="grcicon-remove"></i>
                  Unmap
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="grcicon-edit"></i>
                  Edit Task
                </a>
              </li>
            </ul>
          </div>
          <div class="tier-content">
            
            <div class="row-fluid wrap-row">
              <div class="span12">
                <h6>Task Details</h6>
                <p>
                  Fanny pack kitsch fashion axe wolf photo booth, try-hard Banksy artisan sartorial salvia selvage Brooklyn. Art party next level plaid sartorial letterpress, flexitarian American Apparel chambray. Fashion axe before they sold out cred, cardigan selfies pug twee.
                </p>
                <p>
                  Trust fund ugh polaroid, four dollar toast mumblecore Pinterest Blue Bottle tote bag. Intelligentsia crucifix art party DIY 90's cred Vice. Squid you probably haven't heard of them brunch 8-bit, fingerstache quinoa pop-up retro irony banh mi organic hashtag. Mumblecore tofu raw denim cronut chambray gentrify.
                </p>
              </div>
            </div><!-- row-fluid end -->

            <div class="row-fluid wrap-row">
              <div class="span6">
                <h6>Assignee</h6>
                <a href="#">Predrag Kanazir</a>
              </div>
              <div class="span6">
                <h6>Starts/Ends</h6>
                11/26/2014 - 12/24/2014
              </div>
            </div><!-- row-fluid end -->

            <div class="row-fluid wrap-row">
              <div class="span12">
                <h6>Comments (2)</h6>
                <ul class="entry-list">
                  <li>
                    <span class="status-label status-draft"></span>
                    <div class="w-status">
                      Photo booth jean shorts cold-pressed narwhal slow-carb, Tumblr Williamsburg locavore tousled paleo iPhone. Forage iPhone +1 wolf organic fixie 8-bit keffiyeh single-origin coffee ennui.
                      <div class="oneline">
                        <a href="#" class="entry-attachment tree-item-add">
                          <i class="grcicon-attach-color"></i><span>Attach supporting file</span>
                        </a>
                      </div>
                      <span class="entry-author">
                        Modified by <a href="#">Example User</a> on 10/28/2014 03:50:51am PST
                      </span>
                    </div>
                    <div class="entry-actions pull-right">
                      <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                        <li>
                          <a href="#">
                            <i class="grcicon-edit"></i>
                            Edit Comment
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="grcicon-deleted"></i>
                            Delete Comment
                          </a>
                        </li>
                      </ul>
                    </div><!-- entry-actions end -->
                  </li>

                  <li>
                    <span class="status-label status-draft"></span>
                    <div class="w-status">
                      Carles 90's occupy swag. Tote bag viral occupy, authentic you probably haven't heard of them hashtag fap vegan small batch. Literally dreamcatcher butcher Echo Park YOLO.
                      <ul class="attachment-list">
                        <li>
                          <a href="#">
                            <i class="grcicon-attach-color"></i>
                            <span>SuperSecretDocument.pdf</span>
                          </a>
                          <a href="#" class="info-action unmap">
                            <span class="result"></span>
                            <i class="grcicon-deleted"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="grcicon-attach-color"></i>
                            <span>Sneaky Ways to Holidays.doc</span>
                          </a>
                          <a href="#" class="info-action unmap">
                            <span class="result"></span>
                            <i class="grcicon-deleted"></i>
                          </a>
                        </li>
                      </ul>
                      <div class="oneline">
                        <a href="#" class="entry-attachment tree-item-add">
                          <i class="grcicon-attach-color"></i><span>Attach supporting file</span>
                        </a>
                      </div>
                      <span class="entry-author">
                        Modified by <a href="#">Example User</a> on 10/28/2014 03:50:51am PST
                      </span>
                    </div>
                    <div class="entry-actions pull-right">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                          <li>
                            <a href="#">
                              <i class="grcicon-edit"></i>
                              Edit Comment
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="grcicon-deleted"></i>
                              Delete Comment
                            </a>
                          </li>
                        </ul>
                      </div><!-- entry-actions end -->
                  </li>
                  
                  <li>
                    <a href="#" class="btn btn-small btn-info">
                      Add Comment
                    </a>
                  </li>
                </ul>
              </div>
            </div><!-- row-fluid end -->

          </div><!-- tier-content end -->
        </div><!-- tier-2-info-content end -->
      </div><!-- tier-2-info end -->
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    Due in 7 days
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-success">Verify</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-danger">Decline</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-progress"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Check if food is still delicious in Stock Market after 6pm</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Vegan before 6 implementation</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
          </p>
        </div>
      </div>
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    <span class="overdue">Overdue</span>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-success">Verify</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-danger">Decline</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-overdue"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Gather required doc for Fiber kick-off in Alaska</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Google Fiber EOO</a>
                      </li>
                      <li>
                        Control: <a href="#">Alaska</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
          </p>
        </div>
      </div>
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    Due in 3 days
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-info">Start</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-draft"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Implement new password policy accross Google Play store modules</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Google Fiber EOO</a>
                      </li>
                      <li>
                        Control: <a href="#">Login Access</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
          </p>
        </div>
      </div>
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    Due in 7 days
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-success">Verify</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-danger">Decline</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-progress"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Check if food is still delicious in Stock Market after 6pm</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Vegan before 6 implementation</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
          </p>
        </div>
      </div>
    </li>
    <li class="tree-item">
      <div class="item-main">
        <div class="openclose">
          <div class="item-wrap">
            <div class="row-fluid">
              <div class="span12">
                <ul class="tree-action-list">
                  <li>
                    <span class="overdue">Overdue</span>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-success">Verify</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-small btn-danger">Decline</a>
                  </li>
                </ul>
                <div class="item-data">
                  <span class="status-label status-overdue"></span>
                  <div class="tree-title-area w-status">
                    <a href="#">Gather required doc for Fiber kick-off in Alaska</a>
                    <ul class="item-util">
                      <li>
                        Workflow: <a href="#">Google Fiber EOO</a>
                      </li>
                      <li>
                        Control: <a href="#">Alaska</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tier-2-info item-content">
        <div class="tier-2-info-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut efficitur est. Quisque non pharetra urna, eu molestie mauris. Aenean aliquam mi ut sem rutrum vulputate a a nisl. Donec nec erat lectus. Donec cursus, ligula quis auctor lobortis, sapien dui ullamcorper purus, non semper nulla neque luctus leo. Aliquam erat volutpat. Nunc in sapien aliquam, ullamcorper quam vitae, euismod felis. Duis hendrerit ex posuere sollicitudin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eleifend lectus quis orci tincidunt, fringilla mattis diam ornare. Etiam libero ex, feugiat et mi a, volutpat consequat quam. Quisque hendrerit sapien at massa posuere accumsan. Phasellus blandit lectus nec enim interdum, vel lacinia neque gravida.
          </p>
        </div>
      </div>
    </li>
  </ul><!-- tree-structure end -->
</section><!-- Widget content end -->