{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<ul class="new-tree tree-one dashboard-tree workflow-tree">
  {{#workflow_data}}
  {{#list}}
  {{#using ins=this}}
    <li class="tree-item">
      <div class="item-wrap">
        <div class="row-fluid">
          <div class="span5">
            <div class="item-data">
              <div class="tree-title-area">
                <div class="oneline">
                  <a href="{{viewLink}}#current_widget">{{ins.title}}</a>
                  <div class="tree-title-area__subtitle">
                    <div class="tree-title-area__subtitle-label">
                      Owned by:&nbsp
                    </div>
                    <people-with-role-inline-field
                      {instance}="ins"
                      {role}="ins.class.tree_view_options.adminRoleName" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/using}}
  {{/list}}
  {{/workflow_data}}
  {{#if_equals workflow_count 0}}
    {{#loading}}
      <li>
        <div class="zero-state">
          <h2>Loading...</h2>
        </div>
      </li>
    {{else}}
      <li>
        <div class="zero-state">
          <h2>You don't have any workflows in progress</h2>
        </div>
      </li>
    {{/loading}}
  {{/if_equals}}
</ul><!-- tree-structure end -->
