{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<ul class="new-tree tree-one dashboard-tree workflow-tree">
  {{#workflow_data}}
  {{#list}}
  {{#using ins=this}}
    <li class="tree-item">
      <div class="item-wrap">
        <div class="row-fluid">
          <div class="span5">
            <div class="item-data">
              <div class="tree-title-area">
                <div class="oneline">
                  <a href="{{viewLink}}#current_widget">{{ins.title}}</a>
                  <div class="tree-title-area__subtitle">
                    <div class="tree-title-area__subtitle-label">
                      Owned by:&nbsp
                    </div>
                    <people-with-role-inline-field
                      {instance}="ins"
                      {role}="ins.class.tree_view_options.adminRoleName" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span5">
            <div class="tree-progress">
              <div class="progress">
                {{#if ins.task_data.finished_percentage}}
                  <div class="bar bar-finish" style="width: {{ins.task_data.finished_percentage}}%;" rel="tooltip" data-original-title="Finished {{ins.task_data.finished_percentage}}%"></div>
                {{/if}}
                {{#if ins.task_data.verified_percentage}}
                  <div class="bar bar-verify" style="width: {{ins.task_data.verified_percentage}}%;" rel="tooltip" data-original-title="Verified {{ins.task_data.verified_percentage}}%"></div>
                {{/if}}
                {{#if ins.task_data.in_progress_percentage}}
                  <div class="bar bar-progress" style="width: {{ins.task_data.in_progress_percentage}}%;" rel="tooltip" data-original-title="In Progress {{ins.task_data.in_progress_percentage}}%"></div>
                {{/if}}
                {{#if ins.task_data.assigned_percentage}}
                  <div class="bar bar-pending" style="width: {{ins.task_data.assigned_percentage}}%;" rel="tooltip" data-original-title="Pending {{ins.task_data.assigned_percentage}}%"></div>
                {{/if}}
                {{#if ins.task_data.declined_percentage}}
                  <div class="bar bar-decline" style="width: {{ins.task_data.declined_percentage}}%;" rel="tooltip" data-original-title="Declined {{ins.task_data.declined_percentage}}%"></div>
                {{/if}}
              </div>
              <ul class="item-util">
                {{#if ins.task_data.over_due_flag}}
                  <li class="overdue-text">
                    {{ins.task_data.over_due}} of {{ins.task_data.task_count}} tasks are overdue / {{ins.task_data.completed_percentage}}% completed
                  </li>
                {{else}}
                  <li>{{ins.task_data.task_count}} tasks in total / {{ins.task_data.completed_percentage}}% completed</li>
                {{/if}}
              </ul>
            </div>
          </div>
          <div class="span2">
            <div class="right">
              {{#if ins.task_data.over_due_flag}}
                <span class="overdue">Overdue</span>
              {{else}}
                Due in {{ins.task_data.days_left_for_first_task}} days
              {{/if}}
                <ul class="item-util">
                  <li>{{{ins.task_data.first_end_date}}}</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/using}}
  {{/list}}
  {{/workflow_data}}
  {{#if_equals workflow_count 0}}
    <li>
      <div class="zero-state">
        <h2>You don't have any workflows in progress</h2>
      </div>
    </li>
  {{/if_equals}}
</ul><!-- tree-structure end -->
