{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: miha@reciprocitylabs.com
    Maintained By: miha@reciprocitylabs.com
}}

<a href="javascript://"
    class="{{link_class}} btn-small btn-draft"
    data-object-source="true"
    data-toggle="evidence-gdrive-picker"
    can-click="{{click_event}}">
    <i class="grcicon-{{firstexist icon 'attach'}}"></i>
    {{firstexist link_text "Upload Files to GDrive"}}
</a>
{{#pending}}
  <span {{attach_spinner '{ "radius": 3, "length": 2.5, "width": 2 }' 'display:inline-block; top: -5px; left: 12px;' }}>
  </span>
{{/pending}}
