{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<button class="{{link_class}} btn btn-small btn-white" {{#isInactive}}disabled{{/isInactive}} ($click)="onClickHandler" ($keyup)="onKeyup(%element, %event)"><content></content></button>
