{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<rich-text class="comment-input {{#disabled}}is-disabled{{/disabled}}" disabled="disabled" placeholder="input.placeholder" text="input.value"></rich-text>
