-extends 'layouts/_widget_box.haml'

-block widget_title
  %i.grcicon-user-black
  Mapped People
  %span.item-count
    (={ instance.object_people|length })

-#if not model
  -set model = controller.model

-block widget_help
  people
  -#=model._inflector.table_singular + "_people"

-block widget_id
  people_widget
  -#=model._inflector.model_singular + "_people_widget"

-block main
  -#include 'people/_object_list.haml'
