-# Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
-# Created By: andy@reciprocitylabs.com
-# Maintained By: andy@reciprocitylabs.com

-extends "base_objects/show.haml"

-block title
  GRC Person: ={ instance.name }

-block header
  %h1.people
    .grcobject.people{ 'rel': "tooltip", 'data-placement': "bottom", 'title': "Person" }
      %i.grcicon-person
    =instance.name

-block widget_area
  -for extension in controller.extension_content(instance)
    -include extension
