.popover-title
  .row-fluid
    .span10
      %h3
        %i{ 'class' : 'grcicon-={name|lower}-color' }
        %span.title
          =instance.name
        %span.code
          =instance.email

.popover-content
  .row-fluid
    .span12
