# # Copyright (C) 2019 Google Inc.
# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
#
# See https://developers.google.com/appengine/docs/python/config/appconfig

runtime: python27
api_version: 1
threadsafe: false
instance_class: {INSTANCE_CLASS}

{SCALING}

handlers:

  - url: /login
    script: ggrc.app.app.wsgi_app
    login: required
    secure: always

  - url: /_background_tasks/.*
    script: ggrc.app.app.wsgi_app
    login: admin
    secure: always

  - url: /notify_emaildigest
    script: ggrc.app.app.wsgi_app
    login: admin
    secure: always

#  - url: /notify_email_deferred
#    script: ggrc.app.app.wsgi_app
#    login: admin
#    secure: always

  - url: /_ah/queue/deferred
    script: google.appengine.ext.deferred.deferred.application

  - url: /maintenance/index
    script: ggrc.maintenance.maintenance_app.wsgi_app
    login: required
    secure: always

  - url: /maintenance/.*
    script: ggrc.maintenance.maintenance_app.wsgi_app
    secure: always

  - url: /static
    static_dir: ggrc/static
    http_headers:
      Access-Control-Allow-Origin: "*"

  - url: /.*
    script: ggrc.app.app.wsgi_app
    secure: always

libraries:
  - name: MySQLdb
    version: "latest"
  - name: jinja2
    version: "2.6"

builtins:
- remote_api: on
- deferred: on

# Don't upload some files
#  - note the first 9 items are defaults, see:
#    https://developers.google.com/appengine/docs/python/config/appconfig#Skipping_Files
skip_files:
- ^(.*/)?app\.yaml
- ^(.*/)?app\.yml
- ^(.*/)?index\.yaml
- ^(.*/)?index\.yml
- ^(.*/)?#.*#
- ^(.*/)?.*~
- ^(.*/)?.*\.py[co]
- ^(.*/)?.*/RCS/.*
- ^(.*/)?\..*
# Custom GGRC excludes here
- requirements\.txt
- requirements\.txt\.md5
- requirements-dev\.txt
- requirements-selenium\.txt
- migrations/.*
- tests/.*
- service_specs/.*
- reports/.*
- extras/deploy/.*

# Define certain environment variables
env_variables:
  GGRC_SETTINGS_MODULE: "{SETTINGS_MODULE}"
  GGRC_DATABASE_URI: "{DATABASE_URI}"
  GGRC_SECRET_KEY: "{SECRET_KEY}"
  GGRC_GOOGLE_ANALYTICS_ID: "{GOOGLE_ANALYTICS_ID}"
  GGRC_GOOGLE_ANALYTICS_DOMAIN: "{GOOGLE_ANALYTICS_DOMAIN}"
  GGRC_GAPI_KEY: "{GAPI_KEY}"
  GGRC_GAPI_CLIENT_ID: "{GAPI_CLIENT_ID}"
  GGRC_GAPI_CLIENT_SECRET: "{GAPI_CLIENT_SECRET}"
  GGRC_GAPI_ADMIN_GROUP: "{GAPI_ADMIN_GROUP}"
  GGRC_BOOTSTRAP_ADMIN_USERS: "{BOOTSTRAP_ADMIN_USERS}"
  GGRC_MIGRATOR: "{MIGRATOR}"
  GGRC_RISK_ASSESSMENT_URL: "{RISK_ASSESSMENT_URL}"
  GGRC_ASSESSMENT_SHORT_URL_PREFIX: "{ASSESSMENT_SHORT_URL_PREFIX}"
  GGRC_NOTIFICATION_PREFIX: "{NOTIFICATION_PREFIX}"
  GGRC_DAILY_DIGEST_BATCH_SIZE: "{DAILY_DIGEST_BATCH_SIZE}"
  APPENGINE_EMAIL: "{APPENGINE_EMAIL}"
  GGRC_CUSTOM_URL_ROOT: "{CUSTOM_URL_ROOT}"
  GGRC_ABOUT_URL: "{ABOUT_URL}"
  GGRC_ABOUT_TEXT: "{ABOUT_TEXT}"
  GGRC_EXTERNAL_HELP_URL: "{EXTERNAL_HELP_URL}"
  GGRC_EXTERNAL_IMPORT_HELP_URL: "{EXTERNAL_IMPORT_HELP_URL}"
  MAX_INSTANCES: "{MAX_INSTANCES}"
  AUTHORIZED_DOMAIN: "{AUTHORIZED_DOMAIN}"
  GGRC_Q_INTEGRATION_URL: "{GGRC_Q_INTEGRATION_URL}"
  INTEGRATION_SERVICE_URL: "{INTEGRATION_SERVICE_URL}"
  EXTERNAL_APP_USER: "{EXTERNAL_APP_USER}"
  URLFETCH_SERVICE_ID: "{URLFETCH_SERVICE_ID}"
  ISSUE_TRACKER_ENABLED: "{ISSUE_TRACKER_ENABLED}"
  ISSUE_TRACKER_BUG_URL_TMPL: "{ISSUE_TRACKER_BUG_URL_TMPL}"
  DASHBOARD_INTEGRATION: "{DASHBOARD_INTEGRATION}"
  ALLOWED_QUERYAPI_APP_IDS: "{ALLOWED_QUERYAPI_APP_IDS}"
  ACCESS_TOKEN: "{ACCESS_TOKEN}"
  COMPANY: "{COMPANY}"
  COMPANY_LOGO_TEXT: "{COMPANY_LOGO_TEXT}"
  CREATE_ISSUE_URL: "{CREATE_ISSUE_URL}"
  CREATE_ISSUE_BUTTON_NAME: "{CREATE_ISSUE_BUTTON_NAME}"
  APPENGINE_INSTANCE: "{APPENGINE_INSTANCE}"
  APPENGINE_LOCATION: "{APPENGINE_LOCATION}"
  CHANGE_REQUEST_URL: "{CHANGE_REQUEST_URL}"
