{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


<div class="import-wrap import-final">
  <ul>
    {{#data}}
      {{#if created}} <li><strong>{{created}}</strong> records created</li>{{/if}}
      {{#if updated}} <li><strong>{{updated}}</strong> records updated</li>{{/if}}
      {{#if ignored}} <li><strong>{{ignored}}</strong> records ignored</li>{{/if}}
      {{#if deleted}} <li><strong>{{deleted}}</strong> records deleted</li>{{/if}}
    {{/data}}
  </ul>
</div>
