{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="download-template">
  <h3>Create a CSV template</h3>
  <p>
    Don't have a CSV template ready? We'll <strong>create template</strong> for you right now.
  </p>
  <p>
    Select which <strong>type of objects</strong> you want to import, and we'll
    generate CSV template, with all fields and instructions.
  </p>
  <label>I'm importing/updating...</label>
  <select id="importSelect" class="input-block-level" multiple>
    <optgroup label="Governance">
      <option value="Regulation" label="Regulations">Regulations</option>
      <option value="Contract" label="Contracts">Contracts</option>
      <option value="Policy" label="Policies">Policies</option>
      <option value="Standard" label="Standards">Standards</option>
      <option value="Program" label="Programs">Programs</option>
      <option value="Objective" label="Objectives">Objectives</option>
      <option value="Control" label="Controls">Controls</option>
      <option value="Section" label="Sections">Sections</option>
      <option value="Clause" label="Clauses">Clauses</option>
    </optgroup>
    <optgroup label="People/Groups">
      <option value="Person" label="People">People</option>
      <option value="OrgGroup" label="Org Groups">Org Groups</option>
      <option value="Vendor" label="Vendors">Vendors</option>
    </optgroup>
    <optgroup label="Assets/Business">
      <option value="DataAsset" label="Data Assets">Data Assets</option>
      <option value="Facility" label="Facilities">Facilities</option>
      <option value="Market" label="Markets">Markets</option>
      <option value="Process" label="Processes">Processes</option>
      <option value="Product" label="Products">Products</option>
      <option value="Project" label="Projects">Projects</option>
      <option value="System" label="Systems">Systems</option>
    </optgroup>
  </select>
  <p>CSV template will be generated for following object types:</p>
  <ul class="import-list">
    {{#each selected}}
      <li><a data-index="{{@index}}" href="#"><i class="grcicon-deleted"></i></a> {{name}}</li>
    {{/each}}
  </ul>
  <div class="center-block">
    <a href="import_controls_template" class="btn btn-primary btn-large import-button">
      <i class="grcicon-imp-exp-white"></i>
      Import template
    </a>
    <small>Click to download</small>
  </div>
</div>
