{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: miha@reciprocitylabs.com
  Maintained By: miha@reciprocitylabs.com
}}

<csv-import>
  <div class="info">
    <div class="row-fluid wrap-row">
      <div class="span8 import">
        <p>
          Here you are able to import all gGRC objects.
          Please make sure you have your CSV file ready, or
          download one of the predefined templates.
        </p>
        <div class="clearfix">
          <input type="file" data-file-upload class="csv-upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" />
          {{#states}}
            <button id="import_btn" {{#isDisabled}}disabled{{/isDisabled}} class="btn btn-large btn-fixed state-{{state}} {{class}}">{{{text}}}</button>
          {{/states}}
        </div>
        {{#if filename}}
        <div class="import-main-wrap import-main-wrap-analyze">
          <div class="row-fluid wrap-row">
            <div class="span6">
              <div class="import-wrap import-analyze">
                <h4>
                  {{filename}}
                  {{#if isLoading}}
                    <span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2 }' 'display:inline-block; top: -3px; left: 30px;' }}></span>
                  {{/if}}
                </h4>
                <hr />

                {{#each import}}
                <ul>
                  <li><strong>Object type</strong>: {{name}}</li>
                  <li><strong>Number of rows</strong>: {{rows}}</li>
                  <li><strong>Number of updated</strong>: {{updated}}</li>
                  {{#data}}
                    <li>
                      <strong>{{status}}</strong>
                      {{#if_equals status "errors"}}
                        <i class="grcicon-warning"></i>
                      {{/if}}
                      {{#if messages.length}}
                        <ul>
                          {{#messages}}
                            <li>{{.}}</li>
                          {{/messages}}
                        </ul>
                      {{/if}}
                    </li>
                  {{/data}}
                </ul>
                <hr />
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        {{/if}}
        {{#if results}}
        <div class="import-wrap import-final">
          <ul>
            <li><strong>243</strong> records created</li>
            <li><strong>73</strong> records updated</li>
            <li><strong>42</strong> records deleted</li>
            <li><strong>2</strong> records identical</li>
          </ul>
        </div>
        {{/if}}
        {{> /static/mustache/import_export/faq.mustache}}
      </div>
      <div class="span4">
        <csv-template>
        {{> /static/mustache/import_export/create_template.mustache}}
        </csv-template>
      </div>
    </div>
    <div id="results-container"></div>
  </div>
</csv-import>
