{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: miha@reciprocitylabs.com
  Maintained By: miha@reciprocitylabs.com
}}

<csv-import>
  <div class="info">
    <div class="row-fluid wrap-row">
      <div class="span8 import">
        <p>
          Here you are able to import all gGRC objects.
          Please make sure you have your CSV file ready, or
          download one of the predefined templates.
        </p>
        <div class="clearfix">
          <input type="file" data-file-upload name="upload" style="visibility: hidden; width: 1px; height: 1px" />
          {{#states}}
            <button id="import_btn" class="btn btn-large btn-fixed {{class}}">{{text}}</button>
          {{/states}}
        <div class="import-wrap">
          <ul>
          {{#import_info}}
            <li>{{.}}</li>
          {{/import_info}}
          {{#import_warnings}}
            <li>{{.}}</li>
          {{/import_warnings}}
          {{#import_errors}}
            <li>{{.}}</li>
          {{/import_errors}}
          </ul>
        </div>
        <button id="importedFile" class="btn btn-large btn-success btn-fixed"><i class="grcicon-check-white"></i> Import successful</button>
        </div>
        <div class="import-main-wrap import-main-wrap-analyze">
          <div class="row-fluid wrap-row">
            <div class="span6">
              <div class="import-wrap import-analyze">
                <h4>pci_controls_2015.csv</h4>
                <hr />
                <ul>
                  <li><strong>Object type</strong>: Controls <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>Number of rows</strong>: 252 <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                </ul>
                <hr />
                <ul>
                  <li><strong>Object type</strong>: Regulations <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>Number of rows</strong>: 762 <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                </ul>
                <hr />
                <ul>
                  <li><strong>Object type</strong>: Programs <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>Number of rows</strong>: 152 <i class="grcicon-check-solo-green"></i></li>
                  <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                </ul>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div class="import-wrap import-final">
          <ul>
            <li><strong>243</strong> records created</li>
            <li><strong>73</strong> records updated</li>
            <li><strong>42</strong> records deleted</li>
            <li><strong>2</strong> records identical</li>
          </ul>
        </div>
        {{> /static/mustache/import_export/faq.mustache}}
      </div>
      <div class="span4">
        <csv-template>
        {{> /static/mustache/import_export/create_template.mustache}}
        </csv-template>
      </div>
    </div>
    <div id="results-container"></div>
  </div>
</csv-import>
