{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if display_options.hideImportExport}}
{{else}}

{{^if_instance_of parent_instance 'Assessment'}}
<li>
  <a href="/import"
    target="_blank"
    class="section-import">
    <i class="fa fa-fw fa-cloud-upload"></i>
    Import {{model.model_plural}}
  </a>
</li>
{{#if list.length}}
  <li>
    <a href="/export?model_type={{model.model_singular}}&relevant_type={{parent_instance.type}}&relevant_id={{parent_instance.id}}"
      target="_blank"
      class="section-import">
      <i class="fa fa-fw fa-download"></i>
      Export {{model.model_plural}}
    </a>
  </li>
{{/if}}
{{/if_instance_of}}

{{/if}}