<li data-object-id="{{instance.id}}"
    data-object-type="{{instance.class.table_singular}}" {{#instance}}{{data 'model'}}{{/instance}}>
  {{#if_equals instance.status 'Final'}}
    <i class="grcicon-review-color"></i>
    <span class="object-approved">Reviewed and approved</span>
  {{else}}
    {{#with_mapping 'current_object_review_tasks' instance}}
      {{#with_review_task}}
        {{#with_is_reviewer review_task}}
          {{#if_helpers '\
            #owned_by_current_user' instance '\
            or #current_user_is_admin'}}
            {{^if is_reviewer}}
              {{#if_equals instance.os_state 'Declined'}}
                <div>Review was declined on {{#date instance.os_last_updated true}}{{/date}}.</div>
              {{/if_equals}}
            {{/if}}
          {{/if_helpers}}
          {{#if is_reviewer}}
            {{#if_equals instance.os_state 'Declined'}}
              <div>Review was declined on {{#date instance.os_last_updated true}}{{/date}}.</div>
            {{/if_equals}}
            <div {{#review_task}}{{data 'model'}}{{/review_task}} {{ (el) -> el.ggrc_controllers_quick_form({instance : el.data("model") }) }}>
              <span class="setup-link">Approval applies only to this object and not to mapped objects.</span>
              <button class="btn btn-mini btn-success change-task-status {{instance._disabled}}" data-name="status" data-value="Verified">Approve</button>
              {{!Dont show the declined button when the task is already declined. Clicking it won't change the object, and therefore won't update either the model or the UI.}}
              {{^if_equals instance.os_state 'Declined'}}
                <a class="btn btn-mini btn-danger change-task-status {{instance._disabled}}" data-name="status" data-value="Declined"
                  data-placement="right" data-original-title="Decline Review" data-toggle="modal-ajax-form"
                  data-modal-reset="reset" data-modal-class="modal-wide" data-object-singular="CycleTaskEntry"
                  data-modal-title-override="Decline Review"
                  data-href="#"
                  data-allow-propagation="true"
                  data-object-plural="cycle_task_entries"
                  data-object-params='{\
                    "cycle" : {{review_task.cycle.id}}, \
                    "cycle_task_group_object_task" : {{review_task.id}} \
                  }'>Decline</a>
              {{/if_equals}}
            </div>
          {{else}}
            {{#if_helpers '\
              #owned_by_current_user' instance '\
              or #current_user_is_admin'}}
              {{#with_mapping_count instance 'current_approval_cycles'}}
                {{#if_equals count 0}}
                  <a href="javascript://" class="non-transparent" data-toggle="modal-ajax-approvalform" data-object-singular="{{model.model_singular}}" data-object-id="page">
                    <i class="grcicon-review"></i>
                    Submit For Review
                  </a>
                {{else}}
                  <i class="grcicon-review"></i>
                  <span class="setup-link">Review in progress</span>
                {{/if_equals}}
              {{/with_mapping_count}}
            {{/if_helpers}}
          {{/if}}
        {{/with_is_reviewer}}
      {{/with_review_task}}
    {{/with_mapping}}
  {{/if_equals}}
</li>
