  <li>
    <div class="objective-selector field-wrap">
      <input tabindex="3" type="text" name="object_title2" class="editTitle search-icon autocomplete" placeholder="Add Object" value="{{instance.title}}" data-index="{{@index}}" data-type="objects">
      <a href="#" data-index="{{@index}}" data-type="objects" class="deleteTrigger"><i class="grcicon-deleted"></i></a>
    </div>
  </li>
