<li class="tree-footer non-stick">
  <a
    href="javascript://"
    class="btn"
    data-toggle="multitype-object-modal-selector"
    data-modal-class="modal-wide"
    data-modal-reset="reset"
    data-placement="left"
    data-join-mapping="objects"
    data-join-object-id="{{parent_instance.id}}"
    data-join-object-type="TaskGroup"
    data-exclude-option-types=""

    rel="tooltip"
    data-original-title="Map Objects to this TaskGroup">
    + Map Objects
  </a>
</li>
