{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#instance}}
  <section class="info">
    {{#is_info_pin}}
    <div class="clearfix">
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
      <div class="tier-content">
        {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
      </div>
    </div>
    {{/is_info_pin}}

    {{> /static/mustache/base_objects/dropdown_menu.mustache}}
    <a href="javascript://" class="btn btn-small btn-primary right-button">Complete</a>

    <div class="tier-content">
      {{^is_info_pin}}
        <div class="row-fluid wrap-row">
          <div class="span6">
            <h6>Title</h6>
            <h3>{{info_title}}</h3>
          </div>
        </div>
      {{/is_info_pin}}

      <div class="row-fluid">
        <div class="span9">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Description</h6>
              <div class="rtf-block">
                {{description}}
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <h6>Evidence</h6>
            <div class="file-list-wrap">
              <ul class="file-list">
                <li>
                  <i class="grcicon-file-pdf"></i>
                  MTV_001_SIGNED_LoginAccess_List.pdf
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
                <li>
                  <i class="grcicon-file-doc"></i>
                  Simple_Word_document.doc
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
                <li>
                  <i class="grcicon-file-xls"></i>
                  Simple_Excel_document.xls
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
                <li>
                  <i class="grcicon-file-gdrive"></i>
                  Some_file_from_Google_Drive.pdf
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
                <li>
                  <i class="grcicon-file"></i>
                  Image_of_nature.png
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
                <li>
                  <i class="grcicon-file"></i>
                  canjs-observe-bug.txt
                  <a href="javascript://"><i class="grcicon-edit"></i></a>
                  <a href="javascript://"><i class="grcicon-deleted"></i></a>
                </li>
              </ul>

              <a href="javascript://" class="btn btn-draft btn-small">+ Add evidence</a>
            </div>
            <ul>
              <li><i class="grcicon-file-pdf"></i></li>
              <li><i class="grcicon-file-doc"></i></li>
              <li><i class="grcicon-file-xls"></i></li>
              <li><i class="grcicon-file-gdrive"></i></li>
              <li><i class="grcicon-file"></i></li>
            </ul>
          </div>

        </div>
        <div class="span3">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>State</h6>
              <div class="side-content">
                <span class="state-value state-inprogress">{{state}}</span>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>People</h6>
              <div class="side-content">
                <ul class="label-list">
                  <li>
                    <label>
                      Assignee
                    </label>
                    <a href="javascript://">{{people_assignee}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                  <li>
                    <label>
                      Requester
                    </label>
                    <a href="javascript://">{{people_requester}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                  <li>
                    <label>
                      Verifier
                    </label>
                    <a href="javascript://">{{people_verifier}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Dates</h6>
              <div class="side-content">
                <ul class="label-list">
                  <li>
                    <label>
                      Created on
                    </label>
                    {{created_on}}
                  </li>
                  <li>
                    <label>
                      Due on
                    </label>
                    {{due_on}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tabs-wrap">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">
            Comments and attachments (3)
          </a></li>
          <li><a href="#tab2" data-toggle="tab">
            Request log
          </a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="entry-list">
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    added a comment - 09/18/2015 05:31:02am PDT
                  </span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non mauris euismod, suscipit velit eu, imperdiet ex. Curabitur nisl diam, blandit in luctus ac, eleifend quis libero. Morbi in lobortis risus. Vestibulum congue dictum finibus.
                  <ul class="attachment-list"></ul>
                </div>
              </li>
              <li>
                <span class="person-label requester"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Jost Novljan</a>
                    added a comment - 09/18/2015 05:31:02am PDT
                  </span>
                  See usecase here: <a href="javascript://">https://docs.google.com/document/d/1kU6DgyJBOxbPX5eDhphq97dcMhg-b-LpzTJT27XlHYk/edit#heading=h.9wrhlxa3ye2d</a>.
                  <ul class="attachment-list"></ul>
                </div>
              </li>
              <li>
                <span class="person-label verifier"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Prasanna V.</a>
                    added a comment - 09/18/2015 05:31:02am PDT
                  </span>
                  Curabitur nisl diam, blandit in luctus ac, eleifend quis libero. Morbi in lobortis risus. Vestibulum congue dictum finibus.
                  <ul class="attachment-list"></ul>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    added a comment and attachment - 09/18/2015 05:31:02am PDT
                  </span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non mauris euismod, suscipit velit eu, imperdiet ex. Curabitur nisl diam, blandit in luctus ac, eleifend quis libero. Morbi in lobortis risus. Vestibulum congue dictum finibus.
                  <ul class="attachment-list">
                    <li>
                      <a href="javascript://" target="_blank">
                        <i class="grcicon-attach"></i>
                        <span>canjs-observe-bug.txt</span>
                      </a>
                      <a href="javascript://" class="info-action unmap" data-toggle="unmap">
                        <span class="result"></span>
                        <i class="grcicon-deleted"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="tree-footer tree-item-add inner-tree-footer non-stick">
                <a href="javascript://" class="btn btn-primary btn-mini section-create">
                  Add Comment
                </a>
              </li>
            </ul>

          </div>
          <div class="tab-pane fade" id="tab2">
            tab 2
          </div>
        </div>
      </div>

    </div><!-- tier-content end -->

  {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
