{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{#instance}}
  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">
    {{#is_info_pin}}
      <div class="details-wrap pin">
        <ul class="pin-action">
          <li>
            <a href="javascript://" data-size="deselect" class="close-pane"><i class="grcicon-x-grey" rel="tooltip" data-placement="left" title="Close info pane"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="max" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="normal" class="normal"><i class="grcicon-default" style="opacity:1.0" rel="tooltip" data-placement="left" title="Default height"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="min" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
          </li>
        </ul><!-- pin-action end -->
      </div><!-- details-wrap pin end -->
    {{/is_info_pin}}

    <div class="pane-header">
      <div class="row-fluid wrap-row">
        <div class="span8">
          <h6>Title</h6>
          <h3>{{info_title}}</h3>
        </div>
        <div class="span4">
          <div class="info-pane-utility">

            <div class="details-wrap">
              <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                {{#is_allowed 'update' instance context='for'}}
                  {{> /static/mustache/base_objects/edit_object_link.mustache}}
                {{/is_allowed}}
                <li>
                  <clipboard-link title="Get permalink" notify="true" text="{{get_permalink}}" />
                </li>

                {{#is_info_pin}}
                  {{#is_allowed_to_map page_instance instance}}
                    {{^options.is_in_selector}}
                      {{> /static/mustache/base_objects/unmap.mustache}}

                    {{/options}}
                  {{/is_allowed_to_map}}
                  {{#if instance.viewLink}}
                    {{#is_allowed "view_object_page" instance}}
                      <li>
                        <a href="{{instance.viewLink}}">
                          <i class="grcicon-goto"></i>
                          View {{instance.class.title_singular}}
                        </a>
                      </li>
                    {{/is_allowed}}
                  {{/if}}
                {{/is_info_pin}}

                {{#is_allowed 'delete' instance}}
                  <li>
                    <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                      <i class="grcicon-deleted"></i>
                      Delete
                    </a>
                  </li>
                {{/is_allowed}}

              </ul>
            </div>

            <a href="javascript://" class="btn btn-small btn-primary pull-right">Complete</a>
          </div>
        </div>
      </div>
    </div>

    <div class="tier-content">
      <div class="row-fluid">
        <div class="span8">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Description</h6>
              <div class="rtf-block">
                {{description}}
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <h6>Evidence / Attachments</h6>
            <div class="file-list-wrap">
              <ul class="file-list">
                {{#files}}
                  <li>
                    <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                    <span class="date">{{date}}</span>
                    {{name}}
                    <span class="file-controls">
                      <a target="_blank" href="{{url}}"><i class="grcicon-external"></i></a>
                      <a href="javascript://"><i class="grcicon-deleted"></i></a>
                    </span>
                  </li>
                {{/files}}
              </ul>

              <a href="javascript://" class="btn btn-draft btn-small"><i class="grcicon-attach"></i> Add evidence / URL</a>
            </div>
          </div>
        </div>

        <div class="span4">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>State</h6>
              <div class="side-content">
                <span class="state-value state-inprogress">{{state}}</span>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>People</h6>
              <div class="side-content">
                <ul class="label-list">
                  <li>
                    <label>
                      <span class="person-label {{type_a}}"></span>
                      Assignee
                    </label>
                    <ul>
                      <li>
                        <a href="javascript://">{{people_assignee}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                      <li>
                        <a href="javascript://">{{people_assignee}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                      <li>
                        <a href="javascript://">{{people_assignee}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <label>
                      <span class="person-label {{type_r}}"></span>
                      Requester
                    </label>
                    <ul>
                      <li>
                        <a href="javascript://">{{people_requester}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                      <li>
                        <a href="javascript://">{{people_requester}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <label>
                      <span class="person-label {{type_v}}"></span>
                      Verifier
                    </label>
                    <ul>
                      <li>
                        <a href="javascript://">{{people_verifier}}</a>
                        <a href="javascript://"><i class="grcicon-edit"></i></a>
                        <a class="disabled" href="javascript://"><i class="grcicon-deleted"></i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Dates</h6>
              <div class="side-content">
                <ul class="label-list dates">
                  <li class="gray">
                    <label>
                      Created on
                    </label>
                    {{created_on}}
                  </li>
                  <li>
                    <label>
                      Due on
                    </label>
                    {{due_on}}
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Mapped objects</h6>
              <div class="side-content">
                <ul class="mapped-list">
                  {{#mapped_objects}}
                    <li>
                      <i class="grcicon-{{icon}}-color"></i>
                      <span class="person-holder">
                        <a href='mailto:{{email}}' target="_blank">
                          <span class="person-tooltip-trigger" data-placement="top">
                            {{title}}
                          </span>
                        </a>

                        <div class="custom-popover-content">
                          <div class="preview-container person-preview">
                            <div class="row-fluid">
                              <div class="span12">
                                <div class="profile-info">
                                  <div class="row-fluid wrap-row">
                                    <div class="span8">
                                      <h6>Title</h6>
                                      <h5 class="oneline"><i class="grcicon-{{icon}}-color"></i> {{title}}</h5>
                                    </div>
                                    <div class="span4">
                                      <h6>Status</h6>
                                      {{state}}
                                    </div>
                                  </div>
                                  <div class="row-fluid wrap-row">
                                    <div class="span12">
                                      <h6>Description</h6>
                                      {{description}}
                                    </div>
                                  </div>

                                  {{{render '/static/mustache/base_objects/contacts.mustache' instance=instance}}}

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>
                      <a class="delete-mapped-object" href="javascript://"><i class="grcicon-deleted"></i></a>
                    </li>
                  {{/mapped_objects}}
                </ul>
                <a class="btn btn-draft btn-small" href="javascript://">
                  Map objects
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tabs-wrap">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">
            Comments and attachments (3)
          </a></li>
          <li><a href="#tab2" data-toggle="tab">
            Request log
          </a></li>
          <li><a href="#tab3" data-toggle="tab">
            Past requests
          </a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="entry-list">
              <li class="tree-footer tree-item-add inner-tree-footer non-stick">
                <a href="javascript://" class="btn btn-draft btn-mini section-create">
                  Add Comment
                </a>
              </li>
              {{#comments}}
                <li>
                  <span class="person-label {{type}}"></span>
                  <div class="w-status">
                    <span class="entry-author">
                      <a href="javascript://">{{author}}</a>
                      added a comment - {{date}}
                    </span>
                    {{text}}
                    {{#attachments}}
                      <ul class="attachment-list">
                        <li>
                          <a href="{{url}}" target="_blank">
                            <i class="grcicon-attach"></i>
                            <span>{{title}}</span>
                          </a>
                          <a href="javascript://" class="info-action unmap" data-toggle="unmap">
                            <span class="result"></span>
                            <i class="grcicon-deleted"></i>
                          </a>
                        </li>
                      </ul>
                    {{/attachments}}
                  </div>
                </li>
              {{/comments}}
            </ul>

          </div>
          <div class="tab-pane fade" id="tab2">
            <ul class="entry-list">
              {{#logs}}
                <li>
                  <span class="person-label {{type}}"></span>
                  <div class="w-status">
                    <span class="entry-author">
                      <a href="javascript://">{{author}}</a>
                      {{log_status}} - {{date}}
                    </span>
                    <div class="clearfix">
                      <div class="third-col">
                        <p class="instruction">Field</p>
                        {{field}}
                      </div>
                      <div class="third-col">
                        <p class="instruction">Original value</p>
                        {{#original_value}}
                          {{text}}
                          {{#file_list}}
                            <ul class="file-list">
                              <li>
                                <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                                {{file_name}}
                              </li>
                            </ul>
                          {{/file_list}}
                        {{/original_value}}
                      </div>
                      <div class="third-col">
                        <p class="instruction">New value</p>
                        {{#new_value}}
                          {{text}}
                          {{#file_list}}
                            <ul class="file-list">
                              <li>
                                <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                                {{file_name}}
                              </li>
                            </ul>
                          {{/file_list}}
                        {{/new_value}}
                      </div>
                    </div>
                  </div>
                </li>
              {{/logs}}
            </ul>
          </div>

          <div class="tab-pane fade" id="tab3">
            <ul class="past-items-list">
              <li class="clearfix list-title">
                <div class="small-col">
                  <h6>Date</h6>
                </div>
                <div class="medium-col">
                  <h6>Request title</h6>
                </div>
                <div class="xmedium-col">
                  <h6>Evidence</h6>
                </div>
                <div class="small-col">
                  <a href="javascript://" class="btn btn-small btn-full btn-draft">Reuse</a>
                </div>
                <div class="small-col">&nbsp;</div>
              </li>
              {{#past_requests}}
                <li class="clearfix">
                  <div class="small-col">
                    {{date}}
                  </div>
                  <div class="medium-col">
                    <a target="_blank" href="javascript://">
                      {{title}}
                    </a>
                  </div>
                  <div class="large-col">
                    <ul class="past-file-list">
                      {{#past_requests_files}}
                        <li>
                          <label>
                            <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                            {{file_title}}
                          </label>
                          <input type="checkbox">
                        </li>
                      {{/past_requests_files}}
                    </ul>
                  </div>
                </li>
              {{/past_requests}}
            </ul>
          </div>

        </div>
      </div>

    </div><!-- tier-content end -->

  {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
