{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{#instance}}
  <section class="info">
    {{#is_info_pin}}
    <div class="clearfix">
      {{{render '/static/mustache/base_objects/info-pin.mustache'}}}
      <div class="tier-content">
        {{{render '/static/mustache/base_objects/general_info.mustache' instance=instance}}}
      </div>
    </div>
    {{/is_info_pin}}

    {{> /static/mustache/base_objects/dropdown_menu.mustache}}
    <a href="javascript://" class="btn btn-small btn-primary right-button">Complete</a>

    <div class="tier-content">
      {{^is_info_pin}}
        <div class="row-fluid wrap-row">
          <div class="span6">
            <h6>Title</h6>
            <h3>{{info_title}}</h3>
          </div>
        </div>
      {{/is_info_pin}}

      <div class="row-fluid">
        <div class="span9">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Description</h6>
              <div class="rtf-block">
                {{description}}
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <h6>Evidence / Attachments</h6>
            <div class="file-list-wrap">
              <ul class="file-list">
                {{#files}}
                  <li>
                    <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                    <span class="date">{{date}}</span>
                    {{name}}
                    <a target="_blank" href="{{url}}"><i class="grcicon-external"></i></a>
                    <a href="javascript://"><i class="grcicon-deleted"></i></a>
                  </li>
                {{/files}}
              </ul>

              <a href="javascript://" class="btn btn-draft btn-small"><i class="grcicon-attach"></i> Add evidence</a>
            </div>
          </div>

        </div>
        <div class="span3">

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>State</h6>
              <div class="side-content">
                <span class="state-value state-inprogress">{{state}}</span>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>People</h6>
              <div class="side-content">
                <ul class="label-list">
                  <li>
                    <label>
                      <span class="person-label {{type_a}}"></span>
                      Assignee
                    </label>
                    <a href="javascript://">{{people_assignee}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                  <li>
                    <label>
                      <span class="person-label {{type_r}}"></span>
                      Requester
                    </label>
                    <a href="javascript://">{{people_requester}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                  <li>
                    <label>
                      <span class="person-label {{type_v}}"></span>
                      Verifier
                    </label>
                    <a href="javascript://">{{people_verifier}}</a>
                    <a href="javascript://"><i class="grcicon-edit"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Dates</h6>
              <div class="side-content">
                <ul class="label-list">
                  <li>
                    <label>
                      Created on
                    </label>
                    {{created_on}}
                  </li>
                  <li>
                    <label>
                      Due on
                    </label>
                    {{due_on}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-fluid wrap-row">
            <div class="span12">
              <h6>Mapped objects</h6>
              <div class="side-content">
                <ul class="mapped-list">
                  {{#mapped_objects}}
                    <li>
                      <i class="grcicon-{{icon}}-color"></i>
                      <a target="_blank" href="javascript://">{{title}}</a>
                    </li>
                  {{/mapped_objects}}
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tabs-wrap">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">
            Comments and attachments (3)
          </a></li>
          <li><a href="#tab2" data-toggle="tab">
            Request log
          </a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="entry-list">
              <li class="tree-footer tree-item-add inner-tree-footer non-stick">
                <a href="javascript://" class="btn btn-primary btn-mini section-create">
                  Add Comment
                </a>
              </li>
              {{#comments}}
                <li>
                  <span class="person-label {{type}}"></span>
                  <div class="w-status">
                    <span class="entry-author">
                      <a href="javascript://">{{author}}</a>
                      added a comment - {{date}}
                    </span>
                    {{text}}
                    {{#attachments}}
                      <ul class="attachment-list">
                        <li>
                          <a href="{{url}}" target="_blank">
                            <i class="grcicon-attach"></i>
                            <span>{{title}}</span>
                          </a>
                          <a href="javascript://" class="info-action unmap" data-toggle="unmap">
                            <span class="result"></span>
                            <i class="grcicon-deleted"></i>
                          </a>
                        </li>
                      </ul>
                    {{/attachments}}
                  </div>
                </li>
              {{/comments}}
            </ul>

          </div>
          <div class="tab-pane fade" id="tab2">
            <ul class="entry-list">
              {{#logs}}
                <li>
                  <span class="person-label {{type}}"></span>
                  <div class="w-status">
                    <span class="entry-author">
                      <a href="javascript://">{{author}}</a>
                      {{log_status}} - {{date}}
                    </span>
                    <div class="clearfix">
                      <div class="third-col">
                        <p class="instruction">Field</p>
                        {{field}}
                      </div>
                      <div class="third-col">
                        <p class="instruction">Original value</p>
                        {{#original_value}}
                          {{text}}
                          {{#file_list}}
                            <ul class="file-list">
                              <li>
                                <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                                {{file_name}}
                              </li>
                            </ul>
                          {{/file_list}}
                        {{/original_value}}
                      </div>
                      <div class="third-col">
                        <p class="instruction">New value</p>
                        {{#new_value}}
                          {{text}}
                          {{#file_list}}
                            <ul class="file-list">
                              <li>
                                <i class="grcicon-file{{#icon}}-{{icon}}{{/icon}}"></i>
                                {{file_name}}
                              </li>
                            </ul>
                          {{/file_list}}
                        {{/new_value}}
                      </div>
                    </div>
                  </div>
                </li>
              {{/logs}}
              {{! <li>
                <span class="person-label verifier"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Prasanna V.</a>
                    made changes - 09/19/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Comment
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      Curabitur nisl diam, blandit in luctus ac, eleifend quis libero. Morbi in lobortis risus. Vestibulum congue dictum finibus.
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/18/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      People - Requester
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      Ella Cinder
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      Josh Smith
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/14/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Dates - Due on
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      12/31/14
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      12/31/15
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/12/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Dates - Created on
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      12/03/13
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      12/03/14
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/08/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Evidence
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      <ul class="file-list">
                        <li>
                          <i class="grcicon-file-pdf"></i>
                          MTV_001_SIGNED_LoginAccess_List.pdf
                        </li>
                        <li>
                          <i class="grcicon-file-doc"></i>
                          Simple_Word_document.doc
                        </li>
                      </ul>
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      <ul class="file-list">
                        <li>
                          <i class="grcicon-file-pdf"></i>
                          MTV_001_SIGNED_LoginAccess_List.pdf
                        </li>
                        <li>
                          <i class="grcicon-file-doc"></i>
                          Simple_Word_document.doc
                        </li>
                        <li>
                          <i class="grcicon-file-xls"></i>
                          Simple_Excel_document.xls
                        </li>
                        <li>
                          <i class="grcicon-file-gdrive"></i>
                          Some_file_from_Google_Drive.pdf
                        </li>
                        <li>
                          <i class="grcicon-file"></i>
                          Image_of_nature.png
                        </li>
                        <li>
                          <i class="grcicon-file"></i>
                          canjs-observe-bug.txt
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/04/2015 3:30:00pm PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Description
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante dapibus lacus dictum vestibulum. Nullam finibus semper convallis. Ut libero mauris, viverra nec augue eget, congue viverra felis. Aenean ut arcu vel tortor rhoncus dictum id vel urna.
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante dapibus lacus dictum vestibulum. Nullam finibus semper convallis. Ut libero mauris, viverra nec augue eget, congue viverra felis. Aenean ut arcu vel tortor rhoncus dictum id vel urna. Sed a enim laoreet diam lacinia euismod.
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/03/2015 07:15:23am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Description
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      Cras vitae ante dapibus lacus dictum vestibulum. Nullam finibus semper convallis. Ut libero mauris, viverra nec augue eget, congue viverra felis. Aenean ut arcu vel tortor rhoncus dictum id vel urna.
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante dapibus lacus dictum vestibulum. Nullam finibus semper convallis. Ut libero mauris, viverra nec augue eget, congue viverra felis. Aenean ut arcu vel tortor rhoncus dictum id vel urna.
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/03/2015 05:31:02am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      Description
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      Cras vitae ante dapibus lacus dictum vestibulum. Nullam finibus semper convallis. Ut libero mauris, viverra nec augue eget, congue viverra felis. Aenean ut arcu vel tortor rhoncus dictum id vel urna.
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    made changes - 09/02/2015 09:00:12am PDT
                  </span>
                  <div class="clearfix">
                    <div class="third-col">
                      <p class="instruction">Field</p>
                      State
                    </div>
                    <div class="third-col">
                      <p class="instruction">Original value</p>
                      Draft
                    </div>
                    <div class="third-col">
                      <p class="instruction">New value</p>
                      In progress
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="person-label assignee"></span>
                <div class="w-status">
                  <span class="entry-author">
                    <a href="javascript://">Albert Chan</a>
                    created request - 09/01/2015 11:07:35am PDT
                  </span>
                </div>
              </li> }}
            </ul>
          </div>
        </div>
      </div>

    </div><!-- tier-content end -->

  {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at {{date created_at}}
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
{{/instance}}
