{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="span4">
  {{#google_plus person}}
    <div class="profile-photo">
      <img {{#image.url}}src="{{.}}"{{/image.url}} alt="{{displayName}}">
    </div>
  {{/google_plus}}
</div>
