{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

  {{#google_plus person}}
    <div class="profile-contact">
      <ul>
        <li>
          <a rel="tooltip" data-original-title="Start a video call" href="javascript://"><i class="grcicon-gvideo"></i></a>
        </li>
        <li>
          <a rel="tooltip" data-original-title="Chat with this contact" href="javascript://"><i class="grcicon-gchat"></i></a>
        </li>
        <li>
          <a rel="tooltip" data-original-title="Email this contact" href="javascript://"><i class="grcicon-gmail"></i></a>
        </li>
        <li>
          <a rel="tooltip" data-original-title="Phone call" href="javascript://"><i class="grcicon-gphone"></i></a>
        </li>
        <li class="circle-holder">
          <a class="btn btn-mini square-trigger" href="javascript://">Add to Circles <i class="grcicon-carot"></i></a>
          <div class="square-popover">
            <ul>
              {{#circles}}
              <li>
                <label>
                  <input type="checkbox">
                  {{displayName}} <span>{{people.totalItems}}</span>
                </label>
              </li>
              {{/circles}}
              <li class="create">
                <a href="javascript://">Create new circle</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  {{/google_plus}}
