{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<div class="span4">
  {{#google_plus person}}
    <div class="profile-photo">
      <img {{#image.url}}src="{{.}}"{{/image.url}} alt="{{displayName}}">
    </div>
  {{/google_plus}}
</div>
