{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="info">
  <div class="row-fluid wrap-row">
    <div class="span8 import">
      <p>
        Here you are able to import all GGRC objects.
        Please make sure you have your CSV file ready, or
        download one of the predefined templates.
      </p>
      {{#if_equals state "import"}}
        <div class="import-main-wrap import-main-wrap-analyze">
          <div class="row-fluid wrap-row">
            <div class="span12">
              <div class="import-wrap import-analyze">
                <h4>
                  {{fileName}}
                  {{#if isLoading}}
                    <span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2 }' 'display:inline-block; top: -3px; left: 30px;' }}></span>
                  {{/if}}
                </h4>
                <hr />
                <show-more items="import" limit="1">
                  <ul>
                    <li><strong>Object type</strong>: {{name}}</li>
                    <li><strong>Number of rows</strong>: {{rows}}</li>
                    {{#if created}} <li><strong>To be created</strong>: {{created}}</li> {{/if}}
                    {{#if updated}} <li><strong>To be updated</strong>: {{updated}}</li> {{/if}}
                    {{#if deleted}} <li><strong>To be deleted</strong>: {{deleted}}</li> {{/if}}
                    {{#if ignored}} <li><strong>Ignored</strong>: {{ignored}}</li> {{/if}}
                    {{#data}}
                      <li>
                        <strong>{{status}}</strong>
                        {{#if_equals status "errors"}}
                          <i class="fa fa-exclamation-triangle red"></i>
                        {{/if}}
                        {{#if messages.length}}
                          <ul>
                            {{#messages}}
                              <li>{{.}}</li>
                            {{/messages}}
                          </ul>
                        {{/if}}
                      </li>
                    {{/data}}
                  </ul>
                  <hr />
                </show-more>
              </div>
            </div>
          </div>
        </div>
      {{/if_equals}}

      {{#if_equals state "success"}}
        <div class="import-wrap import-final">
          <ul>
            {{#data}}
              {{#if created}} <li><strong>{{created}}</strong> records created</li>{{/if}}
              {{#if updated}} <li><strong>{{updated}}</strong> records updated</li>{{/if}}
              {{#if ignored}} <li><strong>{{ignored}}</strong> records ignored</li>{{/if}}
              {{#if deleted}} <li><strong>{{deleted}}</strong> records deleted</li>{{/if}}
            {{/data}}
          </ul>
        </div>
      {{/if_equals}}

      <div class="csv-input">
        {{#states}}
          <button id="import_btn"
             href="javascript://"
             {{#isDisabled}}disabled{{/isDisabled}}
             class="btn btn-small state-{{state}} {{class}}"
             data-toggle="gdrive-picker"
             data-type="documents">
            {{{text}}}
          </button>
          {{^if_equals state "select"}}
            {{#showSpinner}}
              <span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2, "zIndex": 0}' 'display:inline-block; top: -3px; left: 30px;' }}></span>
            {{/showSpinner}}
            {{^showSpinner}}
              <button class="btn btn-small btn-gray state-reset">Cancel</button>
            {{/showSpinner}}
          {{/if_equals}}
        {{/states}}
      </div>

      <div class="text-top-space">
        <h3>Quick import tips</h3>
        <ul>
          <li><strong>Not all fields are required!</strong> Templates are flexible. You can remove all non-mandatory columns (refer to row 4 to see which fields are required)</li>
          <li>You can <strong>map</strong> objects via import. Simply add <strong>map:control</strong> column and use object codes in the column to map objects. You can <strong>unmap</strong> objects in the same way</li>
          <li>You can <strong>delete</strong> objects in a similar way. Add <strong>delete</strong> column in line 5 and put <em>yes</em> in rows for objects you want to delete</li>
          <li>If objects already exist, fields <strong>you leave empty</strong> will be ignored. (Object's attributes will not be replaced with empty info)</li>
          <li>For extensive import help, refer to <a href="{{helpUrl}}">Import Help/FAQ</a> section below</li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <csv-template></csv-template>
    </div>
  </div>
  <div id="results-container"></div>
</div>
