{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="openclose">
        <a class="openclose-placeholder" href="javascript://"> </a>
        <div class="row-fluid">
          <div class="span12">
            
            <ul class="tree-action-list">
              {{#infer_roles instance}}
                <li>
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span class="role">
                        {{.}}
                      </span>
                    </div>
                  </div>
                </li>
              {{/infer_roles}}
              <li>
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' instance=instance parent_instance=parent_instance}}}
              </li>
              {{^instance.contact}}
                <li>
                  <div class="counter">
                    <i class="grcicon-people-warning"></i>
                  </div>
                </li>
              {{/instance.contact}}
              <li>
                {{{renderLive '/static/mustache/base_objects/states.mustache' status=instance.workflow_state}}}
              </li>
              {{#if_instance_of instance 'Contract'}}
                <li>
                  <div class="counter">
                    <i class="grcicon-section-black"></i>
                    {{#with_mapping_count instance 'clauses'}}
                      {{count}}
                    {{/with_mapping_count}}
                  </div>
                </li>
              {{else}}  
                <li>
                  <div class="counter">
                    <i class="grcicon-section-black"></i>
                    {{#with_mapping_count instance 'sections'}}
                      {{count}}
                    {{/with_mapping_count}}
                  </div>
                </li>
              {{/if_instance_of}}
            </ul>
            
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{instance.class.table_singular}}-color"></i>
                {{instance.title}}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">
        {{> /static/mustache/directives/tier2_content.mustache}}
      </div>
      
      {{#if draw_children}}
        {{#prune_context}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            {{#child_options}}
            <h6>{{#if_equals instance.class.model_singular 'Contract'}}Clauses{{else}}Sections{{/if_equals}} ({{child_count}})<!-- {{^children_drawn}}<span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2 }' 'display:inline-block; left: 15px; top: -4px' }}> - Loading... </span>{{/children_drawn}}-->
                {{{renderLive '/static/mustache/base_objects/relevance_action.mustache' list=original_list parent_instance=instance model=model multiple_mapping_case=true}}}
              </h6>
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/prune_context}}
      {{/if}}

    </div>
    {{/if}}
  </li>
