  <li class="tree-item governance" data-object-id="{{instance.id}}" data-object-type="{{instance.constructor.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <a href="javascript://" class="openclose">
        <div class="row-fluid">
          <div class="span10">
            <div class="item-data">
              <div class="tree-title-area">
                {{instance.title}}
              </div>
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              {{^instance.owner}}
                <i class="grcicon-people-warning"></i>
              {{/instance.owner}}
            </div>
          </div>
          <div class="span1">
            <div class="counter">
              <i class="grcicon-section-black"></i>
              {{instance.sections.length}}
            </div>
          </div>
        </div>
      </a>
    </div>

    {{#if expanded}}
    <div class="tier-2-info item-content">
      <div class="tier-2-info-content">

        <div class="row-fluid">

          <div class="span6">
          {{#if instance.viewLink}}
            <a href="{{instance.viewLink}}" class="info-action">
              View {{instance.constructor.title_singular}}
              <i class="grcicon-goto"></i>
            </a>
          {{/if}}
          </div>

          <div class="span6">
          {{#if mappings}}
          {{#is_allowed_all 'delete' mappings}}
            <a href="javascript://" class="info-action unmap pull-right" data-toggle="unmap">
              {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
              <i class="grcicon-remove"></i>
              Unmap
            </a>
          {{/is_allowed_all}}
          {{/if}}
          </div>

        </div>

        {{#instance.description}}
          <div class="show-description">
            <div class="row-fluid">
              <div class="span12">
                <div class="tree-description short">
                  {{{instance.description}}}
                </div>
                {{{show_long}}}
              </div>
            </div>
          </div>
        {{/instance.description}}

        {{{render '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}

        <div class="row-fluid">
          <div class="span6">
            <div class="tree-info">
              <strong>Owner:</strong>
              {{^instance.owner}}
                <span class="error">
                  Not Assigned
                </span>
              {{/instance.owner}}
              {{#if instance.owner}}
                {{#using owner=instance.owner}}
                {{owner.name}}
                {{/using}}
              {{/if}}
            </div>
          </div>
          <div class="span6">
            {{#instance.url}}
            <div class="span6">
              <div class="tree-info">
                {{! FIXME: Add tree item - should be Contract OR Regulation OR Policy NOT Directive }}
                <strong>URL:</strong>
                <a class="url" href="{{schemed_url instance.url}}" target="_blank">
                  {{instance.url}}
                </a>
              </div>
            </div>
            {{/instance.url}}
          </div>
        </div>
      </div>
      
      {{#if draw_children}}
        {{^if_null 'z'}} {{! this line is just chopping the context stack down to one element}}
          <div class="inner-tree">
            <h6>{{#if_equals instance.constructor.model_singular 'Contract'}}Clauses{{else}}Sections{{/if_equals}} ({{child_count}}) {{^children_drawn}}<span {{attach_spinner '{ "radius": 4, "length": 4, "width": 2 }' 'display:inline-block; left: 15px; top: -4px' }}> - Loading... </span>{{/children_drawn}}</h6>
            {{#child_options}}
              <ul class="tree-structure new-tree" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
            {{/child_options}}
          </div>
        {{/if_null}}
      {{/if}}

    </div>
    {{/if}}
  </li>
