/* Read-More Component CSS spec */

read-more {
  transition: height 0.1s ease;
  position: relative;
  display: block;
  overflow: hidden;

  @for $i from 1 through 10 {
    .ellipsis-truncation-#{$i} {
      display: -webkit-box !important;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $i;
      margin-bottom: 5px !important;
    }
  }

  .read-more__body {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    word-break: break-word;
  }

  &:hover .read-more__controls{
    visibility: visible;
    opacity: 1;
  }

  .read-more__controls {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $white;
    line-height: 20px;
    text-align: right;
    transition: opacity 600ms, visibility 600ms;
    box-shadow: -6px 0px 18px 7px $white;

    .read-more__btn {
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.mapped-snapshot-item {
  read-more {
    .read-more__controls {
      box-shadow: -6px 0px 18px 7px $snapshotBgnd;

      .read-more__btn {
        background-color: $snapshotBgnd;
      }
    }
  }
}
.mapped-snapshot-item:hover {
  read-more {
    .read-more__controls {
      box-shadow: -6px 0px 18px 7px $shapshotBorder;

      .read-more__btn {
        background-color: $shapshotBorder;
      }
    }
  }
}

.assessment-controls {
  read-more {
    .read-more__controls {
      box-shadow: -6px 0px 18px 7px $light-grey-background;

      .read-more__btn {
        background-color: $light-grey-background;
      }
    }
  }
}
