{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#switch attr_name}}
  {{#case 'contact'}}
      <tree-field {source}="instance.contact" {field}="'email'"/>
  {{/case}}
  {{#case 'secondary_contact'}}
      <tree-field {source}="instance.secondary_contact" {field}="'email'"/>
  {{/case}}
  {{#case 'modified_by'}}
      <tree-field {source}="instance.modified_by" {field}="'email'"/>
  {{/case}}
  {{#case 'status'}}
    {{#using status=instance.status}}
      <span class="state-value-dot {{addclass 'state' status}}">
        {{status}}
      </span>
    {{/using}}
  {{/case}}

  {{#default}}
    {{#if_helpers '\
    #if_equals' attr_name 'reference_url'}}
      <related-documents instance={instance} kind="REFERENCE_URL">
        <div class="reference-urls-list">
          {{#each documents}}
            <span class="reference-urls-list__item">
              <a class="reference-urls-list__link link" href="{{link}}" target="_blank">{{title}}</a>
            </span>
          {{/each}}
        </div>
      </related-documents>
    {{else}}
      {{get_default_attr_value attr_name instance}}
    {{/if_helpers}}
  {{/default}}
{{/switch}}
