{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<ca-object-title title-text="def.title"></ca-object-title>
<assessment-inline-edit
        value="input.value"
        options="input.options"
        type="input.type"
        title="input.title"
        placeholder="input.placeholder"
  {{^is_allowed 'update' instance context='for'}}
        readonly
  {{/is_allowed}}
></assessment-inline-edit>
