{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<form class="simple-modal__body">
    <div class="simple-modal__section">
        <div class="field__title form-field__title">
          <label class="field__title-text">{{content.title}}</label>
        </div>
          <auto-save-form-field
            {type}="content.type"
            {value}="content.value"
            {options}="content.options"
            {disabled}="true"
          ></auto-save-form-field>
    </div>
      {{#if comment}}
          <div class="simple-modal__section">
            <div class="simple-modal__section-title">Comment</div>
            <comment-input
                      {(value)}="*commentValue"
                      {disabled}="*isSaving"
            ></comment-input>
          </div>
      {{/if}}
      {{#if evidence}}
        <div class="simple-modal__section">
            <div class="simple-modal__section-title">Evidence</div>
            <related-documents {instance}="instance" document-type="EVIDENCE">
              <object-list {items}="documents" {empty-message}="noItemsText">
                  <document-object-list-item {instance}="{.}"></document-object-list-item>
              </object-list>
                <attach-button (refresh-evidences)="loadDocuments()" {instance}="instance"></attach-button>
            </related-documents>
        </div>
      {{/if}}
    </div>
</form>
<div class="simple-modal__footer">
    <div class="simple-modal__toolbar">
      {{#if comment}}
         <comment-add-button class="simple-modal__toolbar-item"
                             {(value)}="*commentValue"
                             {^is-saving}="*isSaving"
                             (comment-created)="onCommentCreated(%event)"
         >Save</comment-add-button>
      {{/if}}
        <button class="btn btn-small btn-white simple-modal__toolbar-item" ($click)="hide">Close</button>
    </div>
</div>
