{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<ca-object-title title-text="def.title" instance="instance"></ca-object-title>
<content></content>
