{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div class="simple-modal {{modalCls}}">
    <div class="modal-header">
        <h4>{{modifiedField.modalTitleText}}</h4>
        <a class="modal-dismiss" can-click="hide">
            <i class="fa fa-times black"></i>
        </a>
    </div>
    <ca-object-modal-content content="modal.content" ca-ids="modal.caIds"></ca-object-modal-content>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="confirm-buttons">
                <a class="attachment-modal__btn-close" can-click="hide">Close</a>
              {{#comment}}
                  <button class="btn btn-small btn-success" {{#isEmpty}}disabled{{/isEmpty}}
                          can-click="saveAttachments">Save
                  </button>
              {{/comment}}
            </div>
        </div>
    </div>
</div>
<div class="simple-modal__overlay {{modalOverlayCls}}"></div>
