{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: ivan@reciprocitylabs.com
  Maintained By: ivan@reciprocitylabs.com
}}

<div class="row-fluid">
  <div class="span4">
    <h6>Select assessment template</h6>
    <dropdown list="templates" name="assessmentTemplate"></dropdown>
  </div>
</div>
