{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: silas@reciprocitylabs.com
    Maintained By: silas@reciprocitylabs.com
}}

<section class="info">
  {{#instance}}
  <div class="row-fluid">
    <div class="span6">
      <h3>{{title}}</h3>
    </div>
    <div class="span6">&nbsp;</div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="rtf-block">
      <strong>Risk Owner</strong>
        {{#if owners.length}}
          {{#owners}}
            {{{renderLive '/static/mustache/people/popover.mustache' person=this}}}
          {{/owners}}
        {{else}}
          <span class="error">
            None
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="rtf-block">
      <strong>Risk Contact</strong>
        {{#if contact}}
          {{{renderLive '/static/mustache/people/popover.mustache' person=contact}}}
        {{else}}
          <span class="error">
            None
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h3>Description</h3>
      <div class="rtf-block">
        {{{firstnonempty description '<h4 class="no-data">No description</h4>'}}}
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="info-expand">
        <a class="show-hidden-fields info-show-hide" href="javascript://">
          <span class="out">
            <i class="grcicon-show-arrow"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide-arrow"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none;">
    <div class="row-fluid">
      <div class="span6">
        <p>
          <strong>Code</strong>
          <br>
          <span>{{slug}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="info-widget-footer">
    {{#is_allowed 'update' instance context='for'}}
    <p class="pull-right">
      <a href="javascript://" class="info-edit" data-toggle="modal-ajax-form" data-object-plural="risks" data-object-singular="Risk" data-modal-reset="reset" data-modal-class="modal-wide" title="Edit Risk" data-object-id="page">
        <i class="grcicon-edit"></i>
        <span>Edit Risk</span>
      </a>
    </p>
    {{/is_allowed}}
    <p>
      <small>
        <em>
          Created {{#if owners.length}}by {{#using contacts=owners}}{{#contacts}}{{{render '/static/mustache/people/popover.mustache' person=this}}}{{/contacts}}{{/using}}{{/if}} at {{date created_at}}
          <br>
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on {{date updated_at}}
        </em>
      </small>
    </p>
  </div>
  {{/instance}}
</section>
