{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: silas@reciprocitylabs.com
    Maintained By: silas@reciprocitylabs.com
}}

{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Give new {{model.model_plural}} a name that's easy to search for and indicates the main goals of this {{model.model_singular}}."></i>
      </label>
      <input tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{title}}" autofocus>
      {{#instance.computed_errors.title}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.title}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show-arrow"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide-arrow"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span6">
        <label>
          Code
          <i class="grcicon-help-black" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        </label>
        <input tabindex="7" class="input-block-level" name="slug" placeholder="RISK-XXX" type="text" value="{{slug}}">
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</form>
{{/instance}}
{{!/div}}
