{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: silas@reciprocitylabs.com
    Maintained By: silas@reciprocitylabs.com
}}

{{!div class="modal-body"}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.title}}field-failure{{/instance.computed_errors.title}}">
      <label>
        Title
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Give new Risks a name that's easy to search for and indicates the main goals of this Risk."></i>
      </label>
      <input tabindex="1" class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{instance.title}}" autofocus>
      {{#instance.computed_errors.title}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.title}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 {{#instance.computed_errors.description}}field-failure{{/instance.computed_errors.description}}">
      <label>
        Description
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Provide more details on the purpose of this Risk and provide context for how and when this Risk might be used."></i>
      </label> {{#instance.computed_errors.description}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.description}}
      <div class="wysiwyg-area">
        <textarea tabindex="3" id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description">{{{instance.description}}}</textarea>
      </div>
    </div>
    <div class="span6 {{#instance.computed_errors.owners}}field-failure{{/instance.computed_errors.owners}}">
      {{#using owner=instance.owners.0 model_singular='Risk'}}
        <label>
          Owner
          <span class="required">*</span>
          <i class="grcicon-help-black" rel="tooltip" title="This is the person in charge of this Risk."></i>
        </label>
        <input tabindex="3" class="input-block-level" name="owners.0.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstnonempty owner.email}}" />
      {{#instance.computed_errors.owners}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.owners}}
      {{/using}}
    </div>
    <div class="span6 {{#instance.computed_errors.contact}}field-failure{{/instance.computed_errors.contact}}">
      {{#using contact=instance.contact model_singular='Risk'}}
      <label>
        Contact
        <span class="required">*</span>
        <i class="grcicon-help-black" rel="tooltip" title="Point of contact for this object"></i>
      </label>
      <input tabindex="4" class="input-block-level" name="contact.email" data-lookup="Person" placeholder="Enter email address" type="text" value="{{firstnonempty contact.email}}" />
      {{#instance.computed_errors.contact}}<label class="help-inline warning">{{this}}</label>{{/instance.computed_errors.contact}}
      {{/using}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show-arrow"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide-arrow"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span6">
        <label>
          Code
          <i class="grcicon-help-black" rel="tooltip" title="The gGRC application will automatically provide codes for new objects.  If you would like to override this feature you may manually enter a code of your choosing.  You should have a specific reason for doing this."></i>
        </label>
        <input tabindex="7" class="input-block-level" name="slug" placeholder="RISK-XXX" type="text" value="{{instance.slug}}">
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</form>
{{!/div}}
