{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<import-not-pass>

  <div class="top-inner-nav">
    <div class="object-nav">
      <ul class="nav internav">
        <li>
          <a href="#import">
            <div class="oneline">
              <i class="grcicon-imp-exp"></i>
              Import objects
            </div>
          </a>
        </li>
        <li class="active">
          <a href="#not-pass">
            <div class="oneline">
              <i class="grcicon-imp-exp"></i>
              Import not pass
            </div>
          </a>
        </li>
        <li>
          <a href="#warning">
            <div class="oneline">
              <i class="grcicon-imp-exp"></i>
              Import pass with warning
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="object-area import-area">
        <div id="show_columns" class="column-set">
          <div class="row-fluid">
            <div class="span12 full-width">
              <div class="widget-area inner-content">
                <section id="import_controls_widget" class="widget " data-widget-view="">
                  <header class="header">
                    <div class="row-fluid">
                      <div class="span12">
                        <h2>
                          <div class="oneline">
                            <i class="grcicon-imp-exp"></i>
                            Import objects
                          </div>
                        </h2>
                      </div>
                    </div>
                  </header>
                  <section class="content">
                    <div class="info">
                      <!-- <form class="import" method="post"> -->
                        <div class="row-fluid wrap-row">
                          <div class="span8 import">
                            <p>
                              Here you are able to import all gGRC objects.
                              Please make sure you have your CSV file ready, or
                              download one of the predefined templates.
                            </p>
                            <div class="clearfix">
                              <button id="chooseFile2" class="btn btn-large btn-success btn-fixed">Choose CSV file to import</button>
                              <button id="analysingFile2" class="btn btn-large btn-draft btn-fixed">Analysing</button>
                            </div>
                            <div class="import-main-wrap import-main-wrap-analyze">
                              <div class="row-fluid wrap-row">
                                <div class="span6">
                                  <div class="import-wrap import-analyze">
                                    <h4>pci_controls_2015.csv</h4>
                                    <ul>
                                      <li><strong>Object type</strong>: Controls <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>Number of rows</strong>: 252 <i class="grcicon-check-solo-green"></i></li>
                                      <li>
                                        <strong>File structure</strong> <i class="grcicon-not-done"></i>
                                        <ul class="error">
                                          <li>required column <strong>title</strong> is missing</li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="span6">
                                  <div class="import-wrap import-analyze">
                                    <h4>pci_controls_2015.csv</h4>
                                    <ul>
                                      <li><strong>Object type</strong>: Programs <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>Number of rows</strong>: 152 <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="row-fluid">
                                <div class="span6">
                                  <div class="import-wrap import-analyze">
                                    <h4>pci_controls_2015.csv</h4>
                                    <ul>
                                      <li><strong>Object type</strong>: Regulations <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>Number of rows</strong>: 762 <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="span6">
                                  <div class="import-wrap import-analyze">
                                    <h4>pci_controls_2015.csv</h4>
                                    <ul>
                                      <li><strong>Object type</strong>: sections <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>Number of rows</strong>: 50 <i class="grcicon-check-solo-green"></i></li>
                                      <li><strong>File structure</strong> <i class="grcicon-check-solo-green"></i></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <h4 class="error">
                                <strong>Import canceled!</strong> Please fix errors and try again
                              </h4>
                            </div>
                            <div class="text-top-space">
                              <h3>Quick import tips</h3>
                              <ul>
                                <li><strong>not all fields are required!</strong> Templates are fexible enough, so you can remove all non-mandatory columns (refer to row 4 to see which fields are required)</li>
                                <li>you can <strong>map</strong> objects via import. Simply add <strong>map:control</strong> column and use object codes in the column to map objects. You can <strong>unmap</strong> objects in the same way</li>
                                <li>you can <strong>delete</strong> objects in the similar way. Add <strong>delete</strong> column in line 5 and put <em>yes</em> in rows for objects you want to delete</li>
                                <li>If objects already exist fields <strong>you leave empty</strong> will be ignored. (Object's attributes will not be replaced with empty info)</li>
                                <li>For extensive import help, refer to <a href="#">Import Help/FAQ</a> section below</li>
                              </ul>
                            </div>
                            <div class="text-top-space">
                              <h3>Help/FAQ</h3>
                              <p><a href="#">God help me!</a></p>
                              <p><a href="#">Wait, What?</a></p>
                              <p><a href="#">I just want to import 5 freaking systems, was this really nedeed?</a></p>
                              <p><a href="#">Got it! Oh, no I didn't :(</a></p>
                            </div>
                          </div>
                          <div class="span4">
                            <div class="download-template">
                              <h3>Create a CSV template</h3>
                              <p>
                                Don't have a CSV template ready? We'll <strong>create template</strong> for you right now.
                              </p>
                              <p>
                                Select which <strong>type of objects</strong> you want to import, and we'll
                                generate CSV template, with all fields and instructions.
                              </p>
                              <label>I'm importing/updating...</label>
                              <select>
                                <optgroup label="Governance">
                                  <option value="Regulation" label="Regulations">Regulations</option>
                                  <option value="Contract" label="Contracts">Contracts</option>
                                  <option value="Policy" label="Policies">Policies</option>
                                  <option value="Standard" label="Standards">Standards</option>
                                  <option value="Program" label="Programs">Programs</option>
                                  <option value="Objective" label="Objectives">Objectives</option>
                                  <option value="Control" label="Controls">Controls</option>
                                  <option value="Section" label="Sections">Sections</option>
                                  <option value="Clause" label="Clauses">Clauses</option>
                                </optgroup>
                                <optgroup label="People/Groups">
                                  <option value="Person" label="People">People</option>
                                  <option value="OrgGroup" label="Org Groups">Org Groups</option>
                                  <option value="Vendor" label="Vendors">Vendors</option>
                                </optgroup>
                                <optgroup label="Assets/Business">
                                  <option value="DataAsset" label="Data Assets">Data Assets</option>
                                  <option value="Facility" label="Facilities">Facilities</option>
                                  <option value="Market" label="Markets">Markets</option>
                                  <option value="Process" label="Processes">Processes</option>
                                  <option value="Product" label="Products">Products</option>
                                  <option value="Project" label="Projects">Projects</option>
                                  <option value="System" label="Systems">Systems</option>
                                </optgroup>
                              </select>
                              <div class="center-block">
                                <a href="import_controls_template" class="btn btn-primary btn-large import-button">
                                  <i class="grcicon-imp-exp-white"></i>
                                  Import template - <span>Regulations</span>
                                </a>
                                <small>Click to download</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="results-container"></div>
                      <!-- </form> -->
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</import-not-pass>
