{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div rel="tooltip" data-original-title="{{peopleStr}}">
  {{#people}}
    <div class="people-list">{{email}}</div>
  {{/people}}
</div>
