{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#get_custom_attr_value column instance}}
    {{! because the object can currently only be a
    person there is no need to switch }}
    <tree-field {source}="object" {field}="'email'"/>
{{/get_custom_attr_value}}
