{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<ul id="referenceList" class="new-tree">
  {{#list}}

  <li class="tree-item" data-id="{{id}}">
    <div class="item-main">
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data">
              <div class="tree-title-area">
                <a class="reference" href="{{schemed_url document.link}}" target="_blank">
                  {{{withattr "data-original-title" "<div class='row-fluid'><div class='span12'><h3><i class='grcicon-link'></i> Viewing <a href='{schemed_url document.link}'>{firstnonempty document.title document.link}</a> </span> </h3></div></div>"}}}
                  {{firstnonempty document.title document.link}}
                </a>
                <span class="option">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  {{/list}}
  <li class="tree-item tree-item-add">
    <a href="javascript://" data-modal-selector-options="object_documents" data-toggle="unified-mapper" data-modal-class="modal-wide" data-original-title="Map Reference Links" data-placement="left" rel="tooltip" title="Map Reference Links to this {{parent_instance.class.shortName}}">
      + Reference Link
    </a>
  </li>
</ul>
