{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#instance}}
<div class="ggrc-form">
  <form action="javascript://">
    <div class="ggrc-form-item">
      <div class="ggrc-form-item__multiple-row">
        <label class="form-label ggrc-form-item__label">State</label>
        <dropdown
          options-list="model.statuses"
          name="instance.status">
        </dropdown>
      </div>
      <div class="ggrc-form-item__multiple-row">
        <label class="form-label ggrc-form-item__label">Document Type</label>
        <dropdown
          options-list="model.kinds"
          name="instance.kind"
          {{^if instance.isNew}}is-disabled="true"{{/if}}>
        </dropdown>
      </div>
    </div>

    <div class="ggrc-form-item">
      <div class="ggrc-form-item__row">
        <label class="form-label required-label ggrc-form-item__label">
          {{#if_equals instance.kind "FILE"}}
          Attachment
          {{else}}
          Url
          {{/if_equals}}
          <i class="fa fa-asterisk"></i>
        </label>
        <document-object-list-item
          {instance}="instance">
        </document-object-list-item>
      </div>
    </div>

    <div class="ggrc-form-item">
      <div class="ggrc-form-item__row">
        <label class="ggrc-form-item__label">
          Description
        </label>
        <div class="wysiwyg-area">
          <textarea tabindex="2" id="document_description" class="triple wysihtml5" name="description" placeholder="Enter Description">{{{instance.description}}}</textarea>
        </div>
      </div>
    </div>

    <access-control-list-roles-helper
      {instance}="."
      {is-new-instance}="new_object_form">
    </access-control-list-roles-helper>

    <div class="ggrc-form-item">
      <div class="ggrc-form-item__multiple-row">
        <label class="ggrc-form-item__label">
          Code
        </label>
        <input disabled class="input-block-level" name="slug" placeholder="DOCUMENT-XXX" type="text" {$value}="slug">
      </div>
    </div>
  </form>
</div>
{{/instance}}
