{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

<div class="selector-info">
  <h4>
    <i class="fa fa-link"></i>
    {{firstnonempty title link }}
  </h4>
  {{#if description}}
    <div class="rtf">
      {{{description}}}
    </div>
  {{/if}}
  <h4 class="simple-url">
    <a href="{{ link }}" target="_blank">
      {{ link }}
    </a>
  </h4>
</div>
