{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
  <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
    <div class="row-fluid">
      <div class="span8">
        <div class="item-data">
          <div class="tree-title-area">
            <a href='{{schemed_url instance.link}}'>{{firstnonempty instance.title instance.link}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
