{{!
    Copyright (C) 2013 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

  <li class="tree-item" data-object-id="{{instance.id}}" data-object-type="{{instance.class.table_singular}}">
    <div class="item-main" {{#instance}}{{data 'model'}}{{/instance}}>
      <div class="row-fluid">
        <div class="span8">

          <div class="item-data">
            <div class="tree-title-area">
                <a href='{{schemed_url instance.link}}'>{{firstnonempty instance.title instance.link}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </li>
