{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{#if_helpers "\
   #is_allowed" "view_object_page" instance "\
   or ^is_dashboard" "\
   or #is_allowed" "update" instance}}
<div class="details-wrap">
  <a class="btn btn-small btn-draft dropdown-toggle" href="#" data-toggle="dropdown"><i class="grcicon-setup-color"></i></a>
  <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
    {{#if instance.viewLink}}
      {{#is_allowed "view_object_page" instance}}
        <a href="{{instance.viewLink}}" class="info-action">
          <i class="grcicon-goto"></i>
          View {{instance.class.title_singular}}
        </a>
      {{/is_allowed}}
    {{/if}}
    {{#if mappings}}
    {{#is_allowed_all 'delete' mappings}}
    {{^is_dashboard}}
      <li class="border">
        <a href="javascript://" class="info-action unmap pull-right" data-toggle="unmap">
          {{#result}}<span class="result" {{data 'result'}}></span>{{/result}}
          <i class="grcicon-remove"></i>
          Unmap
        </a>
      </li>
    {{/is_dashboard}}
    {{/is_allowed_all}}
    {{/if}}
    {{> /static/mustache/base_objects/edit_object_link.mustache}}
  </ul>
</div>
{{/if_helpers}}

<div class="tier-content">
  {{#instance.description}}
    <div class="row-fluid wrap-row">
      <div class="span12">
        <h6>Description</h6>
        <div class="rtf-block">
          {{{instance.description}}}
        </div>
      </div>
    </div>
  {{/instance.description}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <a class="reference" href="{{schemed_url instance.link}}" target="_blank">
        {{{withattr "data-original-title" "<div class='row-fluid'><div class='span12'><h3><i class='grcicon-link'></i> Viewing <a href='{schemed_url instance.link}'>{firstnonempty instance.title instance.link}</a> </span> </h3></div></div>"}}}
        {{firstnonempty instance.link instance.title}}
      </a>
      <span class='option'>
      </span>
    </div>
  </div>
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
</div>
