{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: brad@reciprocitylabs.com
    Maintained By: brad@reciprocitylabs.com
}}

{{> /static/mustache/base_objects/dropdown_menu_tier2.mustache}}

<div class="tier-content">
  {{#instance.description}}
    <div class="row-fluid wrap-row">
      <div class="span12">
        <h6>Description</h6>
        <div class="rtf-block">
          {{{instance.description}}}
        </div>
      </div>
    </div>
  {{/instance.description}}
  <div class="row-fluid wrap-row">
    <div class="span6">
      <a class="reference" href="{{schemed_url instance.link}}" target="_blank">
        {{{withattr "data-original-title" "<div class='row-fluid'><div class='span12'><h3><i class='grcicon-link'></i> Viewing <a href='{schemed_url instance.link}'>{firstnonempty instance.title instance.link}</a> </span> </h3></div></div>"}}}
        {{firstnonempty instance.link instance.title}}
      </a>
      <span class='option'>
      </span>
    </div>
  </div>
  {{{renderLive '/static/mustache/base_objects/mappings_detail.mustache' result=result parent_instance=parent_instance}}}
</div>
