{{!
    Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: vladan@reciprocitylabs.com
    Maintained By: vladan@reciprocitylabs.com
}}

{{#instance}}
  <section class="info{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">
    {{#is_info_pin}}
      <div class="details-wrap pin">
        <ul class="pin-action">
          <li>
            <a href="javascript://" data-size="deselect" class="close-pane"><i class="fa fa-times black" rel="tooltip" data-placement="left" title="Close info pane"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="max" class="max"><i class="grcicon-maximize" rel="tooltip" data-placement="left" title="Maximize height"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="normal" class="normal"><i class="grcicon-default" style="opacity:1.0" rel="tooltip" data-placement="left" title="Default height"></i></a>
          </li>
          <li>
            <a href="javascript://" data-size="min" class="min"><i class="grcicon-minimize" rel="tooltip" data-placement="left" title="Minimize height"></i></a>
          </li>
        </ul><!-- pin-action end -->
      </div><!-- details-wrap pin end -->
    {{/is_info_pin}}

    <div class="pane-header">
      <div class="row-fluid wrap-row">
        <div class="span9">
          <h6>Title</h6>
          <h3>{{info_title}}</h3>
          {{#state}}
            <span class="state-value state-{{class_name}}">{{title}}</span>
          {{/state}}
        </div>
        <div class="span3">
          <div class="info-pane-utility">

            <div class="details-wrap">
              <a class="btn btn-draft dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                {{#is_allowed 'update' instance context='for'}}
                  {{> /static/mustache/base_objects/edit_object_link.mustache}}
                {{/is_allowed}}
                <li>
                  <a href="#QuickWorkflowCreate" data-toggle="modal">
                    <i class="fa fa-list-alt"></i>
                    Create Workflow
                  </a>
                </li>
                <li>
                  <clipboard-link title="Get permalink" notify="true" text="{{get_permalink_url}}" />
                </li>
                {{#is_allowed 'delete' instance}}
                  <li>
                    <a data-toggle="modal-ajax-deleteform" data-object-plural="{{model.table_plural}}" data-object-singular="{{model.model_singular}}" data-modal-reset="reset" data-modal-class="modal" data-object-id="{{instance.id}}" href="javascript://">
                      <i class="fa fa-trash"></i>
                      Delete
                    </a>
                  </li>
                {{/is_allowed}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tier-content">

      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Description</h6>
          <div class="rtf-block">
            {{description}}
          </div>
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span12">
          <h6>Notes</h6>
          <div class="rtf-block">
            {{notes}}
          </div>
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span6">
          <h6>Manager</h6>
          <p class="oneline">
            <a href="#">{{manager}}</a>
          </p>
        </div>
        <div class="span6">
          <div class="bottom-space">
            <h6>Primary Contact</h6>
            <p class="oneline">
              <a href="#">{{prime_contact}}</a>
            </p>
          </div>
          <h6>Secondary Contact</h6>
          <p class="oneline">
            <span class="empty-message">{{sec_contact}}</span>
          </p>
        </div>
      </div>

      <div class="row-fluid wrap-row">
        <div class="span6">
          <h6>Program URL</h6>
          <p>
            <a class="url" href="javascript://" target="_blank">{{url}}</a>
          </p>
        </div>
        <div class="span6">
          <h6>Reference URL</h6>
          <p>
            <a class="url" href="javascript://" target="_blank">{{ref_url}}</a>
          </p>
        </div>
      </div>

    </div><!-- tier-content end -->

  {{{render '/static/mustache/custom_attributes/info.mustache' instance=instance}}}

  </section>

  <div class="info-widget-footer">
    <p>
      <small>
        <em>
          Created at 10/09/2015
          &nbsp;&nbsp;&nbsp;&nbsp;
          Modified by {{#using person=modified_by}}{{{render '/static/mustache/people/popover.mustache' person=person}}}{{/using}} on 11/30/2016
        </em>
      </small>
    </p>
  </div>
{{/instance}}

{{> /static/mustache/quick-workflow/workflow_modal.mustache }}
