-extends 'layouts/_widget_box.haml'

-block widget_help
  admin_roles

-block widget_id
  admin_roles_widget

-block widget_title
  %i.grcicon-role-color
  Roles

-block widget_buttons
  .filter
    .row-fluid
      .span8
      .span4
        %a.btn.btn-add.pull-right{ 'href': 'javascript://', 'data-toggle': 'role-modal', 'data-modal-reset': 'reset', 'data-form-target': 'refresh', 'data-modal-class': 'modal-wide', 'data-object-singular': 'Role', 'data-object-plural': 'roles' }
          %i.grcicon-add
          %span.object-type Role

-set quick_result = quick_result if quick_result is defined else None
-set prefix = "qf" if quick_result else "dash"
-set tabbable_id = '' if quick_result is defined else 'quick_find'

-from 'shared/_quick_find.haml' import tab

-block main
  .tabbable.tabs-left{ 'id': '{{ tabbable_id }}' }
    -# FIXME: Fix all `data-tab-href` and `data-new-href` attribute paths
    %ul.nav.nav-tabs
      =tab("Role", "Roles", "/search?s=&qr={0}".format("qr"), "", "", "/static/mustache/roles/object_list.mustache")
    .tab-content
      .tab-pane{ id : "#{prefix}_roles" }
