-extends "layouts/dashboard.haml"

-block title
  Admin Dashboard

-block page_help
  admin

-block header
  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Admin Dashboard

-block subheader_extras
  %ul.actions.pull-right
    %li.btn-group
      %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown' }
        %i.grcicon-imp-exp
        %span Import/Export
        %span.caret
      %ul.dropdown-menu
        %li.title
          Systems
        %li
          %a{ 'href': "/systems/import" }
            %i.grcicon-system-color
            %span Import Systems
        %li
          %a{ 'href': "/systems/export" }
            %i.grcicon-system-color
            %span Export Systems
        %li
          %a{ 'href': "/systems/import_template" }
            %i.grcicon-system-color
            %span System Import Template
        %li.divider
        %li.title
          Processes
        %li
          %a{ 'href': "/processes/import" }
            %i.grcicon-process-color
            %span Import Processes
        %li
          %a{ 'href': "/processes/export" }
            %i.grcicon-process-color
            %span Export Processes
        %li
          %a{ 'href': "/processes/import_template" }
            %i.grcicon-system-color
            %span Process Import Template
        %li.divider
        %li.title
          People
        %li
          %a{ 'href': "/admin/import_people" }
            %i.grcicon-user-black
            %span Import People
        %li
          %a{ 'href': "/admin/export_people" }
            %i.grcicon-user-black
            %span Export People

        -#%li.title
          risks
        -#%li
          %a{ 'href': "/risks/import" }
            %i.grcicon-risk-color
            %span import risks
        -#%li
          %a{ "data-toggle": "modal-ajax", 'href': "/risks/export.html" }
            %i.grcicon-risk-color
            %span export risks

-block widget_area
