-# Copyright (C) 2019 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "layouts/dashboard.haml"

-block title
  Administration

-block extra_javascript
  =super()
  GGRC.page_object = { "person": ={ full_user_json()|safe } };

  GGRC.pageType = "ADMIN";

#page-header
  -block header

-block widget_area

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("COMMON_JS_PATH")}}' }
  %script{ type:'text/javascript', src:'{{config.get("ADMIN_JS_PATH")}}' }
