-extends "layouts/dashboard.haml"

-block title
  Admin Dashboard

-block page_help
  admin

-block header
  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Admin Dashboard

-block subheader_extras
  %ul.actions.pull-right
    %li.btn-group
      %a.dropdown-toggle{ 'href': '#', 'data-toggle': 'dropdown' }
        %i.grcicon-imp-exp
        %span Import/Export
        %span.caret
      %ul.dropdown-menu
        %li.title
          Systems
        %li
          %a{ 'href': "/systems/import" }
            %i.grcicon-system-color
            %span Import Systems
        %li
          %a{ 'href': "/systems/export" }
            %i.grcicon-system-color
            %span Export Systems
        %li.divider
        %li.title
          Processes
        %li
          %a{ 'href': "/systems/import_processes" }
            %i.grcicon-process-color
            %span Import Processes
        %li
          %a{ 'href': "/systems/export_processes" }
            %i.grcicon-process-color
            %span Export Processes
        %li.divider
        %li.title
          Risks
        %li
          %a{ 'href': "/risks/import" }
            %i.grcicon-risk-color
            %span Import Risks
        %li
          %a{ "data-toggle": "modal-ajax", 'href': "/risks/export.html" }
            %i.grcicon-risk-color
            %span Export Risks

-block main
  .clearfix
    .inner-nav
      .object-nav{ 'data-spy': 'affix', 'data-offset-top': '1' }
        %ul.nav{ 'class': "internav ={ model_display_class }" }
    .object-area
      #columns.column-set{ 'data-resize': "true" }
        #left_column.widget-area
          -with widget_class = 'widget-tabs'
            -include 'admin/_people.haml'
            -include 'admin/_roles.haml'
            -include 'admin/_events.haml'