<workflow>
<div class="area program">
    <div class="header-content">
      <div class="row-fluid">
        <div id="page-header" class="span9">
          <h1 class="programs">
            <div class="grcobject programs" rel="tooltip" data-placement="bottom" title="Assessment">
              <i class="grcicon-assessment-white"></i>
            </div>
            {{assessment.title}}
            <span class="private"></span>
          </h1>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="clearfix">
        <div class="bar-v objnav"></div>
        <div class="inner-nav">
          <div class="object-nav">
            <ul class="nav internav innernav-arrow program cms_controllers_inner_nav ui-sortable">
              <li class="active">
                <a href="#workflow_info_widget">
                  <div class="oneline">
                    <i class="grcicon-info"></i>
                    Workflow Info
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li class="accordion-group-inner">
                <a href="#objects_widget" class="objects_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-object-color"></i>
                    Objects (<span id="objectsMainCounter">{{assessment.objects.length}}</span>)
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>

                <ul class="sub-level">
                  {{#assessment.objects}}
                  <li class="governance">
                    <a href="#">
                      <div class="oneline">
                        <i class="grcicon-{{type}}-color"></i>
                        {{name}}
                      </div>
                    </a>
                  </li>
                  {{/assessment.objects}}
                </ul>

              </li>
              <li>
                <a href="#tasks_widget" class="task_groups_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-task-color"></i>
                    Tasks (<span id="objectsMainCounter2">3</span>)
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li>
                <a href="#people_widget" class="people_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-person-color"></i>
                    People (<span id="objectsMainCounter3">3</span>)
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li>
                <a href="#task_groups_widget" class="task_groups_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-task-group-color"></i>
                    Task Groups ({{assessment.task_groups.length}})
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li id="progressWidgetTrigger">
                <a href="#progress_widget" class="progress_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-progress-color"></i>
                    View Progress
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li class="inner-nav-button">
                <button id="startWorkflowTrigger" type="submit" href="#workflowStart" data-toggle="modal" class="btn {{^assessment.task_groups.length}}disabled{{/task_groups}}">
                  Start Workflow
                </button>
              </li>
            </ul>
          </div>
        </div>


        <div class="object-area" style="margin-left: 200px;">
          <div id="show_columns" class="column-set">
            <div id="middle_column" class="widget-area ui-sortable">

              <!-- Widget: Workflow Info -->
              <section class="widget programs widget-active" id="workflow_info_widget">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-info"></i>
                        Workflow Info
                        <span class="object_count">
                          </span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <section class="info">
                    <div class="row-fluid">
                      <div class="span6">
                        <h3>{{assessment.title}}</h3>
                      </div>
                      <div class="span6">&nbsp;</div>
                    </div>

                    <div class="row-fluid">
                      <div class="span6">
                        <div class="rtf-block">
                          <p>{{{assessment.description}}}</p>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="row-fluid">
                          <div>
                            <p>
                              <strong>Status:</strong><br>
                              {{assessment.status}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <div class="rtf-block">
                          <strong>Workflow Owner:</strong>
                          {{assessment.lead_email}}
                        </div>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <p>
                          <strong>Due on:</strong>
                          {{#if assessment.end_date}}{{assessment.end_date}}{{else}}<em>not defined</em>{{/if}}

                        </p>
                        <p>
                          <strong>gGRC Folder:</strong>
                          <a href="#">/gGRC Workflows/{{assessment.title}}/</a>
                        </p>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <div class="info-utility-link">
                          <a href="#editAssessmentStandAlone" class="info-edit show-workflow-modal" title="Edit"  data-toggle="modal">
                            <i class="grcicon-edit"></i>
                            Edit Workflow Info
                          </a>
                        </div>
                      </div>
                    </div>

                  </section>
                </section>
              </section>

              <!-- Widget: Task Goups -->
              <section class="widget programs" id="task_groups_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-task-group-color"></i>
                        Task Groups
                        ({{assessment.task_groups.length}})
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    {{#each assessment.task_groups}}
                    <li class="tree-item program">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  <i class="grcicon-person-green pull-left icon-field"></i>
                                  <div class="objective-selector">
                                    <input tabindex="1" type="text" name="lead_email" class="saveTaskGroupField span10 search-icon short-field autocomplete" data-autocomplete-type="mapped_people" data-type="people" placeholder="Enter text to search for Workflow Owner" value="{{assignee}}" data-index="{{@index}}" data-field="assignee">
                                  </div>
                                </li>
                                <li>
                                  <label class="pull-left inline-black">due date:</label>
                                  <input tabindex="2" class="span7 date saveTaskGroupField short-field" data-index="{{@index}}" data-field="end_date" name="end_date" data-toggle="datepicker" data-after="end_date" placeholder="MM/DD/YYYY" type="text" value="{{end_date}}">
                                </li>

                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">{{objects.length}}</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">{{tasks.length}}</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter removeTaskGroup" data-index="{{@index}}">
                                    <i class="grcicon-deleted"></i>
                                  </span>
                                </li>
                              </ul>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  {{title}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="tier-2-info item-content" style="display: none;">
                        <div class="tier-2-info-content">
                          <div class="show-description">
                            <div class="row-fluid">
                              <div class="span6 task-group-title">
                                <h3 class=".taskGroupTitle">
                                  {{title}}
                                  <a href="#" class="toggleClosest"><i class="grcicon-edit"></i></a>
                                </h3>
                                <div class="taskGroupTitleForm edit-field hide">
                                  <input type="text" value="{{title}}" class="pull-left saveTaskGroupField" data-index="{{@index}}" data-field="title">
                                  <a href="#" id="editFieldSave" class="btn btn-success pull-left toggleClosest">Save</a>
                                  <a href="#" id="editFieldCancel" class="pull-left toggleClosest"><i class="grcicon-x-grey"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="row-fluid">
                              <div class="span12">
                                {{#if_equals description ""}}
                                <a href="#" class="toggleClosest">+ Add Description</a>
                                {{else}}
                                {{description}}<a class="task-edit-icon toggleClosest" href="#"><i class="grcicon-edit"></i></a>
                                {{/if}}
                              </div>
                              <div class="hide">
                                <div class="wysiwyg-area">
                                  <textarea id="program_description" class="span12 double wysihtml5 saveTaskGroupField" data-index="{{@index}}" data-field="description" name="description" placeholder="Enter Description" tabindex="3">{{description}}</textarea>
                                </div>
                                <a href="#" class="btn btn-success toggleClosest">Save</a>
                                <a href="#" class="toggleClosest"><i class="grcicon-x-grey"></i>Cancel</a>
                              </div>
                            </div>
                            <br>
                            <div class="row-fluid">
                              <div class="span6">
                                <strong>Objects (<span>{{objects.length}}</span>)</strong><br>
                                <ul class="items-list" data-index="{{@index}}">
                                  {{#each objects}}
                                  <li>
                                    <div class="objective-selector field-wrap">
                                      <input tabindex="3" type="text" name="object_title2" class="editTitle search-icon autocomplete" placeholder="Add Object" value="{{title}}" data-index="{{@index}}" data-type="objects">
                                      <a href="#" data-index="{{@index}}" data-type="objects" class="deleteTrigger"><i class="grcicon-deleted"></i></a>
                                    </div>
                                  </li>
                                  {{/each}}
                                </ul>
                                <a href="#" class="btn addTrigger" data-index="{{@index}}" data-type="objects">Add Object</a>
                              </div>

                              <div class="span6 task-list">
                                {{#tasks.length}}
                                <span class="pull-right lock-wrap">
                                  <label>
                                    <input type="checkbox" class="taskLock" data-index="{{@index}}" {{#taskLock}}checked="checked"{{/taskLock}}>
                                    Lock Task Order
                                  </label>
                                </span>
                                {{/tasks}}
                                <strong>Tasks (<span>{{tasks.length}}</span>)</strong><br>
                                <ul class="items-list" data-index="{{@index}}">
                                  {{#each tasks}}
                                  <li>
                                    <div class="objective-selector field-wrap">
                                      <a class="drag {{#taskLock}}disabled{{/taskLock}}" href="#"><i class="grcicon-drag"></i></a>
                                      <input tabindex="4" type="text" name="tasks_title" class="editTitle search-icon autocomplete" placeholder="Add Task" value="{{title}}" data-index="{{@index}}" data-type="tasks">
                                      <a href="#" data-index="{{@index}}" data-type="tasks" class="deleteTrigger {{#taskLock}}disabled{{/taskLock}}"><i class="grcicon-deleted"></i></a>
                                    </div>
                                  </li>
                                  {{/each}}
                                </ul>
                                <a href="#" class="btn addTrigger {{#taskLock}}disabled{{/taskLock}}" data-index="{{@index}}" data-type="tasks">Add Task</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </li>
                    {{/each}}
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10 section-expandable">
                          <div id="objectFooterUtility">
                            <a href="#" id="addSingleObjectTrigger">
                              + Add Task Group
                            </a>
                          </div>
                          <div class="add-single-object" id="addSingleObject">
                            <div class="row-fluid">
                              <div class="span5">
                                <div class="objective-selector">
                                  <input type="text" id="new_object_name" name="object.title" class="input-block-level" placeholder="Enter Task Group Name">
                                </div>
                              </div>
                              <div class="span4">
                                <i class="grcicon-person-green pull-left icon-field"></i>
                                <div class="objective-selector">
                                  <input tabindex="1" type="text" id="new_task_assignee" name="lead_email" class="span10 search-icon autocomplete" data-type="people" data-autocomplete-type="mapped_people" placeholder="Enter text to search for people" value="{{assessment.lead_email}}">
                                </div>
                              </div>
                              <div class="span3">
                                <a href="#" class="btn btn-success btn-footer" id="addTaskGroup">Save</a>
                                <a href="#" id="cancelTaskGroup"><i class="grcicon-x-grey"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Tasks -->
              <section class="widget programs" id="tasks_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-task-color"></i>
                        Tasks
                        <span class="object_count" id="objectsCounter">(2)</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    <li class="tree-item program">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Proof Reading
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class="tree-item program">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Validate Mappings
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class="tree-item program">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Peer Review
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#addTaskSelector" id="addTaskTrigger" data-toggle="modal">
                            + Add Task
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: People -->
              <section class="widget entities" id="people_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-person-color"></i>
                        People
                        <span class="object_count" id="objectsCounter">(3)</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    <li class="tree-item person">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  <span class="person-holder">
                                    <a href="#">Cassius Clay</a>
                                  </span>
                                  <span class="email">cclay@google.com</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-item person">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  <span class="person-holder">
                                    <a href="#">Dan Ring</a>
                                  </span>
                                  <span class="email">dring@google.com</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-item person">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  <span class="person-holder">
                                    <a href="#">Predrag Kanazir</a>
                                  </span>
                                  <span class="email">pkanazir@google.com</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#addPeopleSelector" id="addPersonTrigger" data-toggle="modal">
                            + Add Person
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Objects -->
              <section class="widget objectives" id="objects_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-object-color"></i>
                        Workflow Objects
                        <span class="object_count" id="objectsCounter">({{assessment.objects.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <div class="object-step" id="filters">

                    <ul class="tree-structure new-tree mockup-tree">
                     {{#each assessment.objects}}
                      <li class="tree-item object-top" data-index="{{@index}}">
                        <div class="item-main">
                          <a href="javascript://" class="openclose">
                            <div class="row-fluid">
                              <div class="span10">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <i class="grcicon-{{type}}-color"></i>
                                    {{name}}
                                  </div>
                                </div>
                              </div>
                              <div class="span1">
                                <div class="counter">
                                </div>
                              </div>
                              <div class="span1">
                                <div class="counter">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="tier-2-info item-content">
                          <div class="tier-2-info-content">
                            <div class="row-fluid">
                              <div class="span6">
                                <a href="#" class="info-action">
                                  View Object
                                  <i class="grcicon-goto"></i>
                                </a>
                              </div>
                              <div class="span6">
                                <a href="#" class="info-action unmap pull-right">
                                  <i class="grcicon-remove"></i>
                                  Unmap
                                </a>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span6">
                                <p>
                                  <strong>Owner:</strong>
                                  <br>
                                  <a href="#">cassius@google.com</a>
                                </p>
                              </div>
                              <div class="span6">
                                <p>
                                  <strong>Contact</strong>
                                  <br>
                                  <a href="#">cassius@google.com</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  <ul class="tree-structure new-tree mockup-tree">
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#objectSelector" data-toggle="modal">
                            + Add Objects
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Progress -->
              <section class="widget programs" id="progress_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-person-color"></i>
                        Task Groups
                        <span class="object_count" id="objectsCounter">(3)</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">

                    <li class="tree-item program task-item">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  <span class="gray"><em>Assigned</em></span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">3</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">3</strong>
                                  </span>
                                </li>
                              </ul>
                              <span class="tier-trigger"></span>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Control Verification Setup
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="tier-2-info item-content" style="display: none;">

                        <div class="inner-tree">
                          <h6>Objects (3)</h6>
                          <ul class="tree-structure new-tree">
                            <li class="tree-item programs">
                              <div class="item-main">
                                <a href="javascript://" class="openclose">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <ul class="tree-action-list">
                                        <li>
                                          <span class="gray"><em>Assigned</em></span>
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                            <i class="grcicon-task-black"></i>
                                            <strong class="error">3</strong>
                                          </span>
                                        </li>
                                      </ul>
                                      <span class="tier-trigger"></span>
                                      <div class="item-data">
                                        <div class="tree-title-area">
                                          <i class="grcicon-control-color"></i>
                                          Asset Management Control
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>

                              <div class="tier-2-info item-content" style="display: none;">
                                <div class="tier-2-info-content">
                                  <div class="show-description">
                                    <div class="row-fluid">
                                      <div class="span12">
                                        <div class="tree-description">
                                          <h5>Asset Management Control</h5>
                                          <div class="row-fluid">
                                            <div class="span8">
                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tellus. Aliquam libero elit, facilisis nec fermentum at, accumsan vitae eros. Proin egestas risus a malesuada faucibus. Vivamus lacus eros, sagittis sit amet interdum lobortis, blandit quis ante. Nullam blandit felis in odio mattis, nec luctus ante convallis. Nunc at dictum risus. Vivamus vel massa mi. Nunc sem dui, dapibus eget lorem a, pharetra congue est.</p>
                                            </div>
                                            <div class="span4">
                                              <p>
                                                <strong>Owner</strong>
                                                <br>
                                                <a href="#">anajsharma@google.com</a>
                                              </p>
                                              <p>
                                                <strong>Contact</strong>
                                                <br>
                                                <a href="#">iwu@google.com</a>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="inner-tree">
                                  <h6>Tasks (3)</h6>
                                  <ul class="tree-structure new-tree">

                                    <li class="tree-item programs">
                                      <div class="item-main">
                                        <a href="javascript://" class="openclose">
                                          <div class="row-fluid">
                                            <div class="span12">
                                              <ul class="tree-action-list">
                                                <li>
                                                  <i class="grcicon-person-green pull-left icon-field"></i>
                                                  <div class="objective-selector">
                                                    <input tabindex="1" type="text" name="lead_email" class="span10 search-icon short-field" placeholder="Enter text to search for Workflow Owner" value="Cassius Clay">
                                                  </div>
                                                </li>
                                                <li>
                                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                                    <i class="grcicon-directive-black"></i>
                                                    <strong class="error">0</strong>
                                                  </span>
                                                </li>
                                                <li>
                                                  <div class="request-control">
                                                    <button class="btn btn-primary">Start</button>
                                                  </div>
                                                </li>
                                              </ul>
                                              <span class="tier-trigger"></span>
                                              <div class="item-data">
                                                <div class="tree-title-area">
                                                  Proof Reading
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </li>

                                  </ul>
                                </div>

                              </div>

                            </li>

                            <li class="tree-item programs">
                              <div class="item-main">
                                <a href="javascript://" class="openclose">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <ul class="tree-action-list">
                                        <li>
                                          <span class="gray"><em>Assigned</em></span>
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                            <i class="grcicon-task-black"></i>
                                            <strong class="error">3</strong>
                                          </span>
                                        </li>
                                      </ul>
                                      <span class="tier-trigger"></span>
                                      <div class="item-data">
                                        <div class="tree-title-area">
                                          <i class="grcicon-control-color"></i>
                                          Access Control
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>

                            <li class="tree-item programs">
                              <div class="item-main">
                                <a href="javascript://" class="openclose">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <ul class="tree-action-list">
                                        <li>
                                          <span class="gray"><em>Assigned</em></span>
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                            <i class="grcicon-task-black"></i>
                                            <strong class="error">3</strong>
                                          </span>
                                        </li>
                                      </ul>
                                      <span class="tier-trigger"></span>
                                      <div class="item-data">
                                        <div class="tree-title-area">
                                          <i class="grcicon-control-color"></i>
                                          Data Security Control
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </li>

                    <li class="tree-item program task-item">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  <span class="gray"><em>Assigned</em></span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">2</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">2</strong>
                                  </span>
                                </li>
                              </ul>
                              <span class="tier-trigger"></span>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Report Generation
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>

                    <li class="tree-item program task-item">
                      <div class="item-main">
                        <a href="javascript://" class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  <span class="gray"><em>Assigned</em></span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">1</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">2</strong>
                                  </span>
                                </li>
                              </ul>
                              <span class="tier-trigger"></span>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Final Market Overview
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>

                  </ul>
                </section>
              </section>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="objectSelector" class="modal hide fade modal-wide ui-draggable" tabindex="-1" role="dialog" aria-labelledby="objectSelector" aria-hidden="true">
    <div class="modal-header">
      <a class="btn btn-mini btn-danger pull-right" href="#" data-dismiss="modal">
        <i class="grcicon-x-white"></i>
      </a>
      <h2>
        <span>Add Objects to Workflow</span>
      </h2>
    </div>
    <div class="modal-body">
      <div class="object-step" id="filters">
        <div class="choose-object-wrap">
          <div class="choose-object-content">

            <div class="row-fluid">
              <div class="span12">
                <div class="first-row">
                  <label>
                    <strong>Show all</strong>
                  </label>
                  <select class="input-medium" id="objects_type">
                    <option>Regulations</option>
                    <option>Contracts</option>
                    <option>Policies</option>
                    <option>Standards</option>
                    <option>Objectives</option>
                    <option selected="selected">Controls</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span12">
                {{#each filter_list}}
                <div class="indent-row">
                  <button type="submit" data-index="{{@index}}" class="remove_filter"><i class="grcicon-deleted"></i></button>
                  <label>
                    <strong>{{#if @index}}AND&nbsp;{{/if}}Relevant to:</strong>
                  </label>
                  <select class="input-small">
                    <option selected="selected">Program</option>
                    <option>Process</option>
                    <option>System</option>
                    <option>Market</option>
                  </select>
                  <div class="objective-selector">
                    <input type="text" name="program.title" class="input-large search-icon" value="{{value}}" placeholder="Enter text to search for Object">
                  </div>
                </div>
                {{/each}}
                <div class="add-rule indent-row">
                  <a href="#" id="addFilterRule">+ Add New Rule</a>
                  <a class="btn pull-right" href="#" id="objectReview">Filter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="results">
      <div class="bar-h"></div>
      <div class="results-wrap">
        <span class="info">Define search criteria above to start</span>
        <ul class="tree-structure new-tree mockup-tree">
          {{#if objects.length}}
          <li class="tree-item governance object-filter">
            <div class="item-main">
              <div class="row-fluid">
                <div class="span9">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span><strong>{{objects.length}} controls found</strong></span>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="object-check all-check">
                    <label>
                      select all
                      <input type="checkbox" checked="checked" id="objectAll">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{/if}}

          {{#each objects}}

          <li class="tree-item governance task-item selected">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        <i class="grcicon-{{type}}-color"></i>
                        {{name}}
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" value="{{@index}}" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>{{name}}</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed lacinia tortor, quis mattis sapien. Nullam fermentum, justo sed condimentum semper, tortor purus scelerisque lacus, sed congue lorem lectus in sem. Aenean faucibus est metus, feugiat tristique ligula mattis vitae.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span3">
          <div class="deny-buttons">
            <a tabindex="22" class="btn" data-dismiss="modal" href="#">Cancel</a>
          </div>
        </div>
        <div class="span5">
          &nbsp;
        </div>
        <div class="span4">
          <div class="confirm-buttons">
            <div class="object-add">
              {{#if objects.length}}
                <span><strong>{{objects.length}} objects selected</strong></span>
              {{/if}}
              <a href="javascript://" class="btn btn-primary" data-dismiss="modal" id="addSelected" tabindex="24">Add selected</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addTaskSelector" class="modal hide fade modal-wide ui-draggable" tabindex="-1" role="dialog" aria-labelledby="addTaskSelector" aria-hidden="true">
    <div class="modal-header">
      <a class="btn btn-mini btn-danger pull-right" href="#" data-dismiss="modal">
        <i class="grcicon-x-white"></i>
      </a>
      <h2>
        <span>Add Tasks to Workflow</span>
      </h2>
    </div>
    <div class="results">
      <div class="results-wrap">
        <ul class="tree-structure new-tree mockup-tree">
          <li class="tree-item governance object-filter">
            <div class="item-main">
              <div class="row-fluid">
                <div class="span9">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span><strong>5 tasks found</strong></span>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="object-check all-check">
                    <label>
                      select all
                      <input type="checkbox" id="objectAll">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Look for evidence, Peer confirmation, Researching Google Infrastructure
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Look for evidence, Peer confirmation, Researching Google Infrastructure</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Peer Review
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Peer Review</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Research Infrastructure
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Research Infrastructure</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Proof Reading
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Proof Reading</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Calendar checkup
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Calendar checkup</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Manager Review
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p><strong>Manager Review</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec nisi nec arcu convallis molestie tincidunt ac elit. Sed eu magna non turpis varius tristique. Aenean mattis lorem ut tellus posuere ultricies a non nisl.</p>
                    <p>Ut facilisis ac velit sed interdum. Integer quis augue eget lectus adipiscing cursus. Curabitur volutpat eu lacus a viverra. In hac habitasse platea dictumst. Aenean scelerisque tellus in dignissim tincidunt.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span3">
          <div class="deny-buttons">
            <a tabindex="22" class="btn" data-dismiss="modal" href="#">Cancel</a>
          </div>
        </div>
        <div class="span5">
          &nbsp;
        </div>
        <div class="span4">
          <div class="confirm-buttons">
            <div class="object-add">
              <span><strong>3 tasks selected</strong></span>
              <a href="javascript://" class="btn btn-primary" data-dismiss="modal" id="addSelectedTasks" tabindex="24">Add selected</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addPeopleSelector" class="modal hide fade modal-wide ui-draggable" tabindex="-1" role="dialog" aria-labelledby="addPeopleSelector" aria-hidden="true">
    <div class="modal-header">
      <a class="btn btn-mini btn-danger pull-right" href="#" data-dismiss="modal">
        <i class="grcicon-x-white"></i>
      </a>
      <h2>
        <span>Add People to Workflow</span>
      </h2>
    </div>
    <div class="results">
      <div class="results-wrap">
        <ul class="tree-structure new-tree mockup-tree">
          <li class="tree-item governance object-filter">
            <div class="item-main">
              <div class="row-fluid">
                <div class="span9">
                  <div class="item-data">
                    <div class="tree-title-area">
                      <span><strong>5 persons found</strong></span>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="object-check all-check">
                    <label>
                      select all
                      <input type="checkbox" id="objectAll">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Aaron Manning
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p>
                      <a href="#">aaron@google.com</a>
                    </p>
                    <p>Google, Inc.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Cassius Clay
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p>
                      <a href="#">cassius@google.com</a>
                    </p>
                    <p>Google, Inc.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Robert Dawson
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p>
                      <a href="#">robert@google.com</a>
                    </p>
                    <p>Google, Inc.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Chris Mizera
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" checked="checked" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p>
                      <a href="#">chris@google.com</a>
                    </p>
                    <p>Google, Inc.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="tree-item governance task-item">
            <div class="item-main">
              <a href="javascript://" class="openclose">
                <div class="row-fluid">
                  <div class="span11">
                    <span class="tier-trigger"></span>
                    <div class="item-data">
                      <div class="tree-title-area">
                        Marton Sziraczki
                      </div>
                    </div>
                  </div>
                  <div class="span1">
                    <div class="object-check">
                      <input type="checkbox" class="object-check-single">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="tier-2-info item-content">
              <div class="tier-2-info-content">
                <div class="show-description">
                  <div class="tree-description">
                    <p>
                      <a href="#">marton@google.com</a>
                    </p>
                    <p>Google, Inc.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span3">
          <div class="deny-buttons">
            <a tabindex="22" class="btn" data-dismiss="modal" href="#">Cancel</a>
          </div>
        </div>
        <div class="span5">
          &nbsp;
        </div>
        <div class="span4">
          <div class="confirm-buttons">
            <div class="object-add">
              <span><strong>2 persons selected</strong></span>
              <a href="javascript://" class="btn btn-primary" data-dismiss="modal" id="addSelectedPerson" tabindex="24">Add selected</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="workflowStart" style="z-index:9999;" class="modal hide fade ui-draggable" tabindex="-1" role="dialog" aria-labelledby="assessmentStartLabel" aria-hidden="false">
  <div class="modal-header">
    <a class="btn btn-mini btn-danger pull-right" href="#" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
    <h2>
      <span>Start Workflow</span>
    </h2>
  </div>
  <div class="modal-body">
    <p>By clicking "Proceed", 3 task groups will be started and tasks will be assigned to selected assignees, against defined objects. Are you sure you want to proceed?</p>
    <p>This process is not reversible.</p>
    <a id="confirmStartWorkflow" class="btn btn-primary btn-large" data-dismiss="modal" href="#">Proceed</a>
    <a id="cancelStartWorkflow" class="btn btn-large" data-dismiss="modal" href="#">Cancel</a>
  </div>
</div>

</workflow>
