{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<control>
<div class="area program">
    <div class="header-content">
      <div class="row-fluid">
        <div id="page-header" class="span7">
          <h1 class="controls">
            <div class="grcobject controls" rel="tooltip" data-placement="bottom" title="" data-original-title="Control">
              <i class="grcicon-control"></i>
            </div>
            ISO Login Access Control
          </h1>
        </div>
        <div class="span5">
          <p class="object-header-notification object-message">
            <i class="grcicon-in-progress"></i>
            2 Workflows in progress
          </p>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="clearfix">
        <div class="bar-v objnav"></div>
        <div class="inner-nav">
          <div class="object-nav">
            <ul class="nav internav controls cms_controllers_inner_nav ui-sortable">
              <li>
                <a href="#info_widget">
                  <div class="oneline">
                    <i class="grcicon-info"></i>
                    Control Info
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li class="active">
                <a href="#workflow_widget" class="workflow_widget">
                  <div class="oneline">
                    <i class="grcicon-workflow-color"></i>
                    Workflows (<span id="objectsMainCounter">4</span>)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#regulation_widget">
                  <div class="oneline">
                    <i class="grcicon-regulation-color"></i>
                    Regulations (1)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#program_widget">
                  <div class="oneline">
                    <i class="grcicon-program-color"></i>
                    Programs (2)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#process_widget">
                  <div class="oneline">
                    <i class="grcicon-process-color"></i>
                    Processes (12)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#facility_widget">
                  <div class="oneline">
                    <i class="grcicon-facility-color"></i>
                    Facilities (3)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
            </ul>
          </div>
        </div>


        <div class="object-area" style="margin-left: 200px;">
          <div id="show_columns" class="column-set">
            <div id="middle_column" class="widget-area ui-sortable">

              <!-- Widget: Workflow -->
              <section class="widget programs workflow_widget">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-workflow-color"></i>
                        Workflows
                        <span class="object_count">({{workflows.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree colored-list mockup-tree">
                    {{#each workflows}}
                    <li class="tree-item programs progress-object
                      {{#if_equals status 'In progress'}}rq-requested{{/if}}
                      {{#if_equals status 'Started'}}rq-requested{{/if}}
                      {{#if_equals status 'Future'}}rq-draft{{/if}}
                      {{#if_equals status 'Finished'}}rq-accepted{{/if}}">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span8">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  {{title}}
                                </div>
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-wrap">
                                <div class="request-control">
                                  <span><em>{{status}}</em></span>
                                  <!--<button class="btn">Finish</button>-->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content">
                        <div class="tier-2-info-content">
                          <div class="row-fluid">
                            <div class="span6">
                              <a href="javascript://" class="info-action" data-index={{@index}}>
                                View Workflow
                                <i class="grcicon-goto"></i>
                              </a>
                            </div>
                          </div>
                          <section class="info content">
                            <div class="row-fluid">
                              <div class="span6">
                                <h3>{{title}}</h3>
                              </div>
                              <div class="span6">&nbsp;</div>
                            </div>

                            <div class="row-fluid">
                              <div class="span6">
                                <div class="rtf-block">
                                  <p>{{{description}}}</p>
                                </div>
                              </div>
                              <div class="span6">
                                <div class="row-fluid">
                                  <div>
                                    <p>
                                      <strong>Status:</strong><br>
                                      {{status}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span12">
                                <div class="rtf-block">
                                  <strong>Workflow Owner:</strong>
                                  {{lead_email}}
                                </div>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span12">
                                <p>
                                  <strong>Due on:</strong>
                                  {{#if end_date}}{{end_date}}{{else}}<em>not defined</em>{{/if}}
                                </p>
                                <p>
                                  <strong>Frequency:</strong>
                                  <strong>Monthly</strong> - starts every <strong>7th</strong> due on every <strong>25th</strong>
                                </p>
                                <p>
                                  <strong>gGRC Folder:</strong>
                                  <a href="javascript://">/gGRC Workflows/{{title}}/</a>
                                </p>
                              </div>
                            </div>
                            <div class="row-fluid">
                          </div>
                        </section>
                    </li>
                    {{/each}}
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span12">
                          <a data-modal-class="modal-wide" class="show-workflow-modal" id="newWorkflow" href="#editAssessmentStandAlone" data-new="true" data-toggle="modal">
                            Create new workflow
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</control>
