<div class="area program">
    <div class="header-content">
      <div class="row-fluid">
        <div id="page-header" class="span7">
          <h1 class="controls">
            <div class="grcobject controls" rel="tooltip" data-placement="bottom" title="" data-original-title="Control">
              <i class="grcicon-control"></i>
            </div>
            ISO Login Access Control
          </h1>
        </div>
        <div class="span5">
          <p class="object-header-notification object-message">
            <i class="grcicon-in-progress"></i>
            2 Workflows in progress
          </p>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="clearfix">
        <div class="bar-v objnav"></div>
        <div class="inner-nav">
          <div class="object-nav">
            <ul class="nav internav controls cms_controllers_inner_nav ui-sortable">
              <li>
                <a href="#info_widget">
                  <div class="oneline">
                    <i class="grcicon-info"></i>
                    Control Info
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li class="active">
                <a href="#workflow_widget" class="workflow_widget">
                  <div class="oneline">
                    <i class="grcicon-workflow-color"></i>
                    Workflows (<span id="objectsMainCounter">4</span>)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#regulation_widget">
                  <div class="oneline">
                    <i class="grcicon-regulation-color"></i>
                    Regulations (1)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#program_widget">
                  <div class="oneline">
                    <i class="grcicon-program-color"></i>
                    Programs (2)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#process_widget">
                  <div class="oneline">
                    <i class="grcicon-process-color"></i>
                    Processes (12)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#facility_widget">
                  <div class="oneline">
                    <i class="grcicon-facility-color"></i>
                    Facilities (3)
                  </div>
                </a>
                <div class="drag"></div>
              </li>
            </ul>
          </div>
        </div>


        <div class="object-area" style="margin-left: 200px;">
          <div id="show_columns" class="column-set">
            <div id="middle_column" class="widget-area ui-sortable">

              <!-- Widget: Workflow -->
              <section class="widget widget-active programs control-widget" id="workflow_widget">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-workflow-color"></i>
                        My Workflows
                        <span class="object_count">(4)</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax" data-modal-type="helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree colored-list mockup-tree">
                    <li class="tree-item programs rq-requested">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span8">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Google Fiber Control Assessment
                                </div>
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-wrap">
                                <div class="request-control">
                                  <span><em>In Progress</em></span>
                                  <button class="btn">Finish</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-item programs rq-requested">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span8">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  ISO Cleanup
                                </div>
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-wrap">
                                <div class="request-control">
                                  <span><em>In Progress</em></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-item programs rq-draft">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span8">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Control Consolidation (2015)
                                </div>
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-wrap">
                                <div class="request-control">
                                  <span><em>Planned</em></span>
                                  <button class="btn btn-primary">Start</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="tree-item programs rq-accepted">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span8">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  General Control Setup
                                </div>
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-wrap">
                                <div class="request-control">
                                  <span class="accepted"><em>Finished</em></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
