{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<selector-modal>
<div id="objectSelector" class="modal hide fade modal-wide ui-draggable" tabindex="-1" role="dialog" aria-labelledby="objectSelector" aria-hidden="true">
  <div class="modal-header">
    <a class="btn btn-mini btn-danger pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
    <h2>
      <span>Add {{mapping}} to Workflow</span>
    </h2>
  </div>
  {{#if_equals mapping 'Tasks'}}
    <div class="modal-filter workflow-filter">
      <div class="row-fluid">
        <div class="span6">
          <div class="objective-selector item-data">
            <input type="text" class="input-large search-icon" value="{{value}}" placeholder="Enter text to search for Tasks">
          </div>
        </div>
        <div class="span6">
          <div class="pull-right">

            <a class="btn btn-add addTaskModal" href="javascript://">
              <i class="grcicon-add"></i>
              Create Task
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/if_equals}}

  {{#if_equals mapping 'People'}}
    <div class="modal-filter workflow-filter">
      <div class="row-fluid">
        <div class="span6">
          <div class="objective-selector item-data">
            <input type="text" class="input-large search-icon" value="{{value}}" placeholder="Enter text to search for People">
          </div>
        </div>
        <div class="span6">
          <div class="pull-right">
            <a class="btn btn-add" href="javascript://">
              <i class="grcicon-add"></i>
              Add Person
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/if_equals}}
  {{#filter}}
  <div class="modal-body">
    <div class="object-step" id="filters">
      <div class="choose-object-wrap">
        <div class="choose-object-content">

          <div class="row-fluid">
            <div class="span12">
              <div class="first-row">
                <label>
                  <strong>Show all</strong>
                </label>
                <select class="input-medium" id="objects_type">
                  <option>Regulations</option>
                  <option>Contracts</option>
                  <option>Policies</option>
                  <option>Standards</option>
                  <option>Objectives</option>
                  <option selected="selected">Controls</option>
                  <option>Sections</option>
                  <option>Clauses</option>
                  <option>Programs</option>
                  <option>Audits</option>
                  <option>Org Groups</option>
                  <option>Systems</option>
                  <option>Processes</option>
                  <option>Data Assets</option>
                  <option>Products</option>
                  <option>Projects</option>
                  <option>Facilities</option>
                  <option>Markets</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              {{#each filter_list}}
              <div class="indent-row">
                <button type="submit" data-index="{{@index}}" class="remove_filter"><i class="grcicon-deleted"></i></button>
                <label>
                  <strong>{{#if @index}}AND&nbsp;{{/if}}Relevant to:</strong>
                </label>
                <select class="input-small">
                  <option selected="selected">Program</option>
                  <option>Process</option>
                  <option>System</option>
                  <option>Market</option>
                </select>
                <div class="objective-selector">
                  <input type="text" name="program.title" class="input-large search-icon" value="{{value}}" placeholder="Enter text to search for Object">
                </div>
              </div>
              {{/each}}
              <div class="add-rule indent-row">
                <a href="javascript://" id="addFilterRule">+ Add New Rule</a>
                <a class="btn pull-right" href="javascript://" id="objectReview">Search</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/filter}}
  <div class="results">
    <div class="bar-h"></div>
    <div class="results-wrap">
      {{^if objects.length}}
      <span class="info">Define search criteria above to start</span>
      {{/if}}
      <ul class="tree-structure new-tree mockup-tree">
        {{#if objects.length}}
        <li class="tree-item governance object-filter">
          <div class="item-main">
            <div class="row-fluid">
              <div class="span9">
                <div class="item-data">
                  <div class="tree-title-area">
                    <span><strong>{{objects.length}} {{mapping}} found</strong></span>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="object-check all-check">
                  <label>
                    select all
                    <input type="checkbox" checked="checked" id="objectAll">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{/if}}

        {{#each objects}}

        <li class="tree-item governance task-item selected">
          <div class="item-main">
            <a href="javascript://" class="openclose">
              <div class="row-fluid">
                <div class="span11">
                  <span class="tier-trigger"></span>
                  <div class="item-data">
                    <div class="tree-title-area">
                      <i class="grcicon-{{type}}{{^if type}}task{{/if}}-color"></i>
                      {{name}}{{title}}
                    </div>
                  </div>
                </div>
                <div class="span1">
                  <div class="object-check">
                    <input type="checkbox" value="{{@index}}" checked="checked" class="object-check-single">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tier-2-info item-content">
            <div class="tier-2-info-content">
              <div class="show-description">
                <div class="tree-description">
                  <p><strong>{{name}}{{title}}</strong></p>
                  <p>{{description}}{{^description}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed lacinia tortor, quis mattis sapien. Nullam fermentum, justo sed condimentum semper, tortor purus scelerisque lacus, sed congue lorem lectus in sem. Aenean faucibus est metus, feugiat tristique ligula mattis vitae.{{/description}}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span3">
        <div class="deny-buttons">
          <a tabindex="22" class="btn" data-dismiss="modal" href="javascript://">Cancel</a>
        </div>
      </div>
      <div class="span5">
        &nbsp;
      </div>
      <div class="span4">
        <div class="confirm-buttons">
          <div class="object-add">
            {{#if objects.length}}
              <span><strong>{{selected_num}} objects selected</strong></span>
            {{/if}}
            <a href="javascript://" class="btn btn-primary" data-dismiss="modal" id="addSelected" tabindex="24">Add selected</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</selector-modal>
