{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<task>
<div class="area program">
  <div class="header-content">
    <div class="row-fluid">
      <div id="page-header" class="span9">
        <h1 class="programs">
          <div class="grcobject programs" rel="tooltip" data-placement="bottom" title="Program">
            <i class="grcicon-task-white"></i>
          </div>
          <span>
            <strong>Task:</strong>
          </span>
          {{task.title}}
          <span class="private"></span>
        </h1>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="clearfix">
      <div class="bar-v objnav"></div>
      <div class="inner-nav">
        <div class="object-nav">
          <ul class="nav internav innernav-arrow program cms_controllers_inner_nav ui-sortable">
            <li class="active">
              <a href="#info_widget">
                <div class="oneline">
                  <i class="grcicon-info"></i>
                  Task Info
                </div>
              </a>
              <div class="drag"></div>
            </li>
          </ul>
        </div>
      </div>


      <div class="object-area" style="margin-left: 200px;">
        <div id="show_columns" class="column-set">
          <div id="middle_column" class="widget-area ui-sortable">

            <!-- Widget: Task Info -->
            <section class="widget programs widget-active task_info_widget info_widget">
              <header class="header">
                <div class="row-fluid">
                  <div class="span9">
                    <h2>
                      <i class="grcicon-info"></i>
                      Task Info
                      <span class="object_count">
                        </span>
                      <span class="explanation"></span>
                    </h2>
                  </div>
                  <div class="span3">
                    <div class="widget-action pull-right widget-action-help">
                      <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                        <i class="grcicon-help-black"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </header>
              <section class="content">
                <section class="info">
                  <div class="row-fluid">
                    <div class="span6">
                      <h3>{{task.title}}</h3>
                    </div>
                    <div class="span6">&nbsp;</div>
                  </div>

                  <div class="row-fluid">
                    <div class="span6">
                      <div class="rtf-block">
                        <p>{{{task.description}}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="info-widget-footer">
                    <p class="pull-right">
                      <a class="info-edit show-task-modal" data-modal-class="modal-wide" class="show-task-modal" class="newTask show-task-modal" href="#newTask" data-toggle="modal" data-new="false">
                        <i class="grcicon-edit"></i>
                        <span>Edit </span>
                      </a>
                    </p>
                    <p>
                      <small>
                        <em>
                          Created at 11/04/2013 06:25:53pm PST
                          <br>
                          Modified by <a href="/people/13"><span class="person-tooltip-trigger" data-placement="top">jeff@reciprocitylabs.com</span></a> on 11/05/2013 02:34:41pm PST
                        </em>
                      </small>
                    </p>
                  </div>
                </section>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</task>
