{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<workflow>
<div class="area program">
    <div class="header-content">
      <div class="row-fluid">
        <div id="page-header" class="span7">
          <h1 class="programs">
            <div class="grcobject programs" rel="tooltip" data-placement="bottom" title="Assessment">
              <i class="grcicon-assessment-white"></i>
            </div>
            {{assessment.title}}
            <span class="private"></span>
          </h1>
        </div>
        <div class="span5">
          <div class="header-message">
            {{#assessment.finished}}
            <p class="object-header-notification object-approved">
              Completed on 05/01/14
            </p>
            {{/assessment}}
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="clearfix">
        <div class="bar-v objnav"></div>
        <div class="inner-nav">
          <div class="object-nav">
            <ul class="nav internav innernav-arrow program cms_controllers_inner_nav ui-sortable workflow-nav">
              <li class="active">
                <a href="#info_widget">
                  <div class="oneline">
                    <i class="grcicon-info"></i>
                    Workflow Info
                  </div>
                </a>
                <div class="drag"></div>
              </li>
              <li>
                <a href="#objects_widget" class="objects_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-object-color"></i>
                    Objects (<span id="objectsMainCounter">{{assessment.objects.length}}</span>)
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
                <!--
                <ul class="sub-level">
                  {{#assessment.objects}}
                  <li class="governance">
                    <a href="javascript://">
                      <div class="oneline">
                        <i class="grcicon-{{type}}-color"></i>
                        {{name}}
                      </div>
                    </a>
                  </li>
                  {{/assessment.objects}}
                </ul>
                -->
              </li>
              <li>
                <a href="#tasks_widget" class="task_groups_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-task-color"></i>
                    Tasks ({{assessment.tasks.length}})
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li>
                <a href="#people_widget" class="people_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-person-color"></i>
                    People ({{assessment.people.length}})
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              <li>
                <a href="#task_groups_widget" class="task_groups_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-task-group-color"></i>
                    Task Groups ({{assessment.task_groups.length}})
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              {{#assessment.started}}
              <li class="history-object">
                <a href="#history_widget" class="history w-arrow">
                  <div class="oneline">
                    <i class="grcicon-history-color"></i>
                    History ({{assessment.cycles.length}})
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              {{^assessment.finished}}
              <li class="progress-object {{#if_equals assessment.status 'In progress'}}started{{/if}} {{#if_equals assessment.status 'Finished'}}finished{{/if}}">
                <a href="#progress_widget" class="progress_widget w-arrow">
                  <div class="oneline">
                    <i class="grcicon-cycle-color"></i>
                    Current Cycle
                  </div>
                </a>
                <div class="drag"></div>
                <div class="arrow"></div>
              </li>
              {{/assessment.finished}}
              {{/assessment.started}}
              {{^assessment.started}}
              <li class="inner-nav-button">
                <button type="submit" href="#workflowStart" data-toggle="modal" class="btn" {{^assessment.task_groups.length}}disabled="disabled"{{/task_groups}}>
                  Start Workflow
                </button>
              </li>
              {{/assessment.started}}
              {{#assessment.finished}}
              <li class="inner-nav-button">
                  <span class="message"><em>Workflow finished</em></span>
              </li>
              {{/assessment.finished}}
            </ul>
          </div>
        </div>


        <div class="object-area" style="margin-left: 200px;">
          <div id="show_columns" class="column-set">
            <div id="middle_column" class="widget-area ui-sortable">

              <!-- Widget: Workflow Info -->
              <section class="widget programs widget-active workflow-info-widget info_widget">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-info"></i>
                        Workflow Info
                        <span class="object_count">
                          </span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <section class="info">
                    <div class="row-fluid">
                      <div class="span6">
                        <h3>{{assessment.title}}</h3>
                      </div>
                      <div class="span6">&nbsp;</div>
                    </div>

                    <div class="row-fluid">
                      <div class="span6">
                        <div class="rtf-block">
                          <p>{{{assessment.description}}}</p>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="row-fluid">
                          <div>
                            <p>
                              <strong>Status:</strong><br>
                              {{assessment.status}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <div class="rtf-block">
                          <strong>Workflow Owner:</strong>
                          {{assessment.lead_email}}
                        </div>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <p>
                          <!--
                          <strong>Due on:</strong>
                          {{#if assessment.end_date}}{{assessment.end_date}}{{else}}<em>not defined</em>{{/if}}
                        -->
                        </p>
                        <p>
                          <strong>Frequency:</strong>
                          <span style="text-transform:capitalize;">{{{assessment.frequency}}}</span><!--<strong>Monthly</strong> - starts every <strong>7th</strong> due on every <strong>25th</strong>-->
                        </p>
                        <p>
                          <strong>gGRC Folder:</strong>
                          <a href="javascript://">/gGRC Workflows/{{assessment.title}}/</a>
                        </p>
                      </div>
                    </div>

                    <div class="row-fluid">
                      <div class="span12">
                        <div class="info-utility-link">
                          <a href="#editAssessmentStandAlone" class="info-edit show-workflow-modal" title="Edit"  data-toggle="modal">
                            <i class="grcicon-edit"></i>
                            Edit Workflow Info
                          </a>
                          <div class="dropdown pull-right">
                            <a class="dropdown-toggle info-edit" href="#" data-toggle="dropdown" role="button">
                              More<i class="grcicon-carot"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
                              <li>
                                <a href="#cloneWorkflow" data-toggle="modal">
                                  Clone Workflow...
                                </a>
                              </li>
                              {{^assessment.finished}}
                              <li>
                                <a class="end-workflow" href="javascript://">
                                  Finish Workflow
                                </a>
                              </li>
                              {{/assessment.finished}}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </section>
              </section>

              <!-- Widget: Task Goups -->
              <section class="widget programs task_groups_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-task-group-color"></i>
                        Task Groups
                        ({{assessment.task_groups.length}})
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    {{#each assessment.task_groups}}
                    <li class="tree-item program task-group-index" data-index="{{@index}}">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  <i class="grcicon-person-green pull-left icon-field"></i>
                                  <div class="objective-selector">
                                    <input tabindex="1" type="text" name="lead_email" class="saveTaskGroupField span10 search-icon short-field autocomplete" data-autocomplete-type="mapped_people" data-type="people" placeholder="Choose Assignee" value="{{assignee}}" data-index="{{@index}}" data-field="assignee">
                                  </div>
                                </li>
                                <li>
                                  <label class="pull-left inline-black">due date:</label>
                                  <input tabindex="2" class="span7 date saveTaskGroupField short-field" data-index="{{@index}}" data-field="end_date" name="end_date" data-toggle="datepicker" data-after="end_date" placeholder="MM/DD/YYYY" type="text" value="{{end_date}}">
                                </li>

                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">{{objects.length}}</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">{{tasks.length}}</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter removeTaskGroup" data-index="{{@index}}">
                                    <i class="grcicon-deleted"></i>
                                  </span>
                                </li>
                              </ul>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  {{title}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content" style="display: none;">
                        <div class="tier-2-info-content">
                          <div class="show-description">
                            <div class="row-fluid">
                              <div class="span6 task-group-title">
                                <h3 class=".taskGroupTitle">
                                  {{title}}
                                  <a href="javascript://" class="toggleClosest"><i class="grcicon-edit"></i></a>
                                </h3>
                                <div class="taskGroupTitleForm edit-field hide">
                                  <input type="text" value="{{title}}" class="pull-left saveTaskGroupField" data-index="{{@index}}" data-field="title">
                                  <a href="javascript://" id="editFieldSave" class="btn btn-success pull-left toggleClosest">Save</a>
                                  <a href="javascript://" id="editFieldCancel" class="pull-left toggleClosest cancel-text"><i class="grcicon-x-grey"></i>Cancel</a>
                                </div>
                              </div>
                            </div>
                            <div class="row-fluid">
                              <div class="span12">
                                {{#if_equals description ""}}
                                <a href="javascript://" class="toggleClosest">+ Add Description</a>
                                {{else}}
                                {{description}}<a class="task-edit-icon toggleClosest" href="javascript://"><i class="grcicon-edit"></i></a>
                                {{/if}}
                              </div>
                              <div class="hide">
                                <div class="wysiwyg-area">
                                  <textarea id="program_description" class="span12 double wysihtml5 saveTaskGroupField" data-index="{{@index}}" data-field="description" name="description" placeholder="Enter Description" tabindex="3">{{description}}</textarea>
                                </div>
                                <a href="javascript://" class="btn btn-success toggleClosest">Save</a>
                                <a href="javascript://" class="toggleClosest cancel-text"><i class="grcicon-x-grey"></i>Cancel</a>
                              </div>
                            </div>
                            <br>
                            <div class="row-fluid">
                              <div class="span6">
                                <strong>Objects (<span>{{objects.length}}</span>)</strong><br>
                                <ul class="items-list" data-index="{{@index}}">
                                  {{#each objects}}
                                  <li>
                                    <div class="objective-selector field-wrap">
                                      <input tabindex="3" type="text" name="object_title2" class="editTitle search-icon autocomplete" placeholder="Add Object" value="{{title}}" data-index="{{@index}}" data-type="objects">
                                      <a href="javascript://" data-index="{{@index}}" data-type="objects" class="deleteTrigger"><i class="grcicon-deleted"></i></a>
                                    </div>
                                  </li>
                                  {{/each}}
                                </ul>

                                <div>
                                  <a href="javascript://" class="toggleClosest btn">Add Object</a>
                                </div>
                                <div class="hide objective-selector field-wrap">
                                  <input tabindex="3" type="text" name="object_title2" class="search-icon autocomplete addEnable" placeholder="Add Object" data-index="{{@index}}" data-type="objects">
                                  <a href="javascript://" data-index="{{@index}}" data-type="objects" class="toggleClosest"><i class="grcicon-deleted"></i></a>

                                  <a href="javascript://" class="btn btn-success addTrigger toggleClosest disabled no-float" data-index="{{@index}}" data-type="objects">Save</a>
                                </div>
                              </div>

                              <div class="span6 task-list">
                                {{#if_grater tasks.length 1}}
                                <span class="pull-right lock-wrap">
                                  <label>
                                    <input type="checkbox" class="taskLock" data-index="{{@index}}" {{#taskLock}}checked="checked"{{/taskLock}}>
                                    Lock Task Order
                                  </label>
                                </span>
                                {{/if_grater}}
                                <strong>Tasks (<span>{{tasks.length}}</span>)</strong><br>
                                <ul class="items-list sortable" data-index="{{@index}}">
                                  {{#each tasks}}
                                  <li>
                                    <div class="objective-selector field-wrap task-wrap">
                                      <a class="drag {{#taskLock}}disabled{{/taskLock}}" href="javascript://"><i class="grcicon-drag"></i></a>
                                      <input tabindex="4" type="text" name="tasks_title" class="editTitle search-icon autocomplete" placeholder="Add Task" value="{{title}}" data-index="{{@index}}" data-type="tasks">
                                      <input tabindex="2" class="date editDate" data-index="{{@index}}" data-type="tasks" name="end_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="{{end_date}}">
                                      <span class="required">*</span>
                                      <a href="javascript://" data-index="{{@index}}" data-type="tasks" class="deleteTrigger {{#taskLock}}disabled{{/taskLock}}"><i class="grcicon-deleted"></i></a>
                                    </div>
                                  </li>
                                  {{/each}}
                                </ul>

                                <div>
                                  <a href="javascript://" class="toggleClosest btn">Add Task</a>
                                </div>
                                <div class="hide objective-selector field-wrap task-wrap">
                                  <span class="empty"></span>
                                  <input tabindex="3" type="text" name="object_title2" class="search-icon autocomplete addEnable" placeholder="Add Task" data-index="{{@index}}" data-type="tasks">
                                  <input tabindex="2" class="date" data-index="{{@index}}" data-type="tasks" name="end_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="{{end_date}}">
                                  <span class="required">*</span>
                                  <a href="javascript://" data-index="{{@index}}" data-type="objects" class="toggleClosest"><i class="grcicon-deleted"></i></a>

                                  <a href="javascript://" class="btn btn-success addTrigger toggleClosest disabled no-float" data-index="{{@index}}" data-type="tasks">Save</a>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </li>
                    {{/each}}
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span12 section-expandable">
                          <div id="objectFooterUtility">
                            <a href="#task_groups_widget" id="addSingleObjectTrigger">
                              + Add Task Group
                            </a>
                          </div>
                          <div class="add-single-object" id="addSingleObject">
                            <div class="row-fluid">
                              <div class="span3">
                                <div class="objective-selector">
                                  <input type="text" id="new_object_name" name="object.title" class="input-block-level" placeholder="Enter Task Group Name">
                                </div>
                              </div>
                              <div class="span3">
                                <i class="grcicon-person-green pull-left icon-field"></i>
                                <div class="objective-selector">
                                  <input tabindex="1" type="text" id="new_task_assignee" name="lead_email" class="span10 search-icon autocomplete" data-type="people" data-autocomplete-type="mapped_people" placeholder="Enter text to search for people" value="{{assessment.lead_email}}">
                                </div>
                              </div>
                              <div class="span2">
                                <input tabindex="2" id="tg_end_date" class="date input-block-level" data-index="{{@index}}" data-field="end_date" name="end_date" data-toggle="datepicker" data-after="end_date" placeholder="MM/DD/YYYY" type="text" value="">
                              </div>
                              <div class="span4">
                                <a href="#task_groups_widget" class="btn btn-success btn-footer disabled" id="addTaskGroup">Save</a>
                                <a href="#task_groups_widget" id="cancelTaskGroup" class="cancel-text"><i class="grcicon-x-grey"></i>&nbsp;Cancel</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Tasks -->
              <section class="widget programs tasks_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-task-color"></i>
                        Tasks
                        <span class="object_count">({{assessment.tasks.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    {{#assessment.tasks}}
                    <li class="tree-item program">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  {{title}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content">
                        <div class="tier-2-info-content">
                          <div class="show-description">
                            <div class="row-fluid">
                              <div class="span12">
                                <div class="span6">
                                <a href="javascript://" class="info-action">
                                  View Task
                                  <i class="grcicon-goto"></i>
                                </a>
                                </div>
                                <div class="span6">
                                <a href="javascript://" class="info-action unmap pull-right" data-type="tasks" data-index="{{@index}}">
                                  <i class="grcicon-remove"></i>
                                  Unmap
                                </a>
                                </div>
                                <div class="tree-description">
                                  <h5>{{title}}</h5>
                                  <p>{{description}}{{^description}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed lacinia tortor, quis mattis sapien. Nullam fermentum, justo sed condimentum semper, tortor purus scelerisque lacus, sed congue lorem lectus in sem. Aenean faucibus est metus, feugiat tristique ligula mattis vitae.{{/description}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {{/assessment.tasks}}
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#objectSelector" data-toggle="modal" class="selector-modal" data-mapping="tasks">
                            + Add Task
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: People -->
              <section class="widget entities people_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-person-color"></i>
                        People
                        <span class="object_count">({{assessment.people.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree">
                    {{#assessment.people}}
                    <li class="tree-item person">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="item-data">
                                <div class="tree-title-area">
                                  <span class="person-holder">
                                    <a href="javascript://">{{name}}</a>
                                  </span>
                                  <span class="email">{{email}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content">
                        <div class="tier-2-info-content">
                          <div class="row-fluid">
                            <div class="span12">
                              <div class="span6">
                              <a href="javascript://" class="info-action">
                                View Person
                                <i class="grcicon-goto"></i>
                              </a>
                              </div>
                              <div class="span6">
                              <a href="javascript://" class="info-action unmap pull-right" data-type="people" data-index="{{@index}}">
                                <i class="grcicon-remove"></i>
                                Unmap
                              </a>
                              </div>
                              <div class="profile-info">
                                <ul>
                                  <li>
                                    <span class="name"><strong>{{name}}</strong></span>
                                  </li>
                                  <li>
                                    <span class="email"><strong>Email: </strong>{{email}}</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {{/assessment.people}}
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#objectSelector" data-toggle="modal" class="selector-modal" data-mapping="people">
                            + Add Person
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Objects -->
              <section class="widget objectives objects_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-object-color"></i>
                        Workflow Objects
                        <span class="object_count" id="objectsCounter">({{assessment.objects.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <div class="object-step" id="filters">

                    <ul class="tree-structure new-tree mockup-tree">
                     {{#each assessment.objects}}
                      <li class="tree-item object-top" data-index="{{@index}}">
                        <div class="item-main">
                          <div class="openclose">
                            <div class="row-fluid">
                              <div class="span10">
                                <div class="item-data">
                                  <div class="tree-title-area">
                                    <i class="grcicon-{{type}}-color"></i>
                                    {{name}}
                                  </div>
                                </div>
                              </div>
                              <div class="span1">
                                <div class="counter">
                                </div>
                              </div>
                              <div class="span1">
                                <div class="counter">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tier-2-info item-content">
                          <div class="tier-2-info-content">
                            <div class="row-fluid">
                              <div class="span6">
                                <a href="javascript://" class="info-action">
                                  View Object
                                  <i class="grcicon-goto"></i>
                                </a>
                              </div>
                              <div class="span6">
                                <a href="javascript://" class="info-action unmap pull-right"  data-type="objects" data-index="{{@index}}">
                                  <i class="grcicon-remove"></i>
                                  Unmap
                                </a>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span6">
                                <p>
                                  <strong>Owner:</strong>
                                  <br>
                                  <a href="javascript://">cassius@google.com</a>
                                </p>
                              </div>
                              <div class="span6">
                                <p>
                                  <strong>Contact</strong>
                                  <br>
                                  <a href="javascript://">cassius@google.com</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                  <ul class="tree-structure new-tree mockup-tree">
                    <li class="tree-footer tree-item tree-item-add">
                      <div class="row-fluid">
                        <div class="span10">
                          <a href="#objectSelector" data-toggle="modal" class="selector-modal" data-mapping="objects">
                            + Add Objects
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>

              <!-- Widget: Current Cycle -->
              <section class="widget programs progress_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-cycle-color"></i>
                        Current Cycle
                        <span class="object_count" id="objectsCounter">({{assessment.task_groups.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree colored-list">
                    <li class="tree-item cycle-control-wrap">
                      <div class="request-control">
                        <button class="btn end-cycle">End Cycle</button>
                      </div>
                    </li>
                    {{#each assessment.task_groups}}
                    <li class="tree-item program task-item task_group rq-draft
                      {{#if_equals status 'started'}}rq-requested{{/if}}
                      {{#if_equals status 'finished'}}rq-accepted{{/if}}
                      {{^if_equals status 'finished'}}{{#is_overdue end_date}}rq-rejected{{/is_overdue}}{{/if_equals}}" data-index="{{@index}}">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <ul class="tree-action-list">
                                <li>
                                  {{^status}}
                                  <span class="gray"><em>Assigned</em></span>
                                  {{/status}}
                                  {{#if_equals status 'started'}}
                                  <span class="gray"><em>In progress</em></span>
                                  {{/if}}
                                  {{#if_equals status 'finished'}}
                                  <span class="task-done"><em>Finished</em></span>
                                  {{/if}}
                                </li>
                                <li>
                                  <span class="counter">
                                    due
                                    <strong class="error">{{end_date}}</strong>
                                  </span>
                                  {{^if_equals status 'finished'}}{{#is_overdue end_date}}<span class="error"><em>Overdue</em></span>{{/is_overdue}}{{/if}}
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                    <i class="grcicon-object-black"></i>
                                    <strong class="error">{{objects.length}}</strong>
                                  </span>
                                </li>
                                <li>
                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                    <i class="grcicon-task-black"></i>
                                    <strong class="error">{{tasks.length}}</strong>
                                  </span>
                                </li>
                              </ul>
                              <span class="tier-trigger"></span>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  {{title}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content" style="display: none;">

                        <div class="inner-tree">
                          <h6>Objects ({{objects.length}})</h6>
                          <ul class="tree-structure new-tree colored-list">
                            {{#each objects}}
                            <li class="tree-item programs tg_object rq-draft
                              {{#if_equals obj_status 'started'}}rq-requested{{/if}}
                              {{#if_equals obj_status 'finished'}}rq-accepted{{/if}}" data-index="{{@index}}">
                              <div class="item-main">
                                <div class="openclose">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <ul class="tree-action-list">
                                        <li>
                                          {{^obj_status}}
                                          <span class="gray"><em>Assigned</em></span>
                                          {{/obj_status}}
                                          {{#if_equals obj_status 'started'}}
                                          <span class="gray"><em>In progress</em></span>
                                          {{/if}}
                                          {{#if_equals obj_status 'finished'}}
                                          <span class="task-done"><em>Finished</em></span>
                                          {{/if}}
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                            <i class="grcicon-task-black"></i>
                                            <strong class="error">{{tasks.length}}</strong>
                                          </span>
                                        </li>
                                      </ul>
                                      <span class="tier-trigger"></span>
                                      <div class="item-data">
                                        <div class="tree-title-area">
                                          <i class="grcicon-{{type}}-color"></i>
                                          {{title}} {{type}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="tier-2-info item-content" style="display: none;">
                                <div class="tier-2-info-content">
                                  <div class="row-fluid">
                                    <div class="span6">
                                      <a href="javascript://" class="info-action">
                                        View Object
                                        <i class="grcicon-goto"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="show-description">
                                    <div class="row-fluid">
                                      <div class="span12">
                                        <div class="tree-description">
                                          <h5>{{title}}</h5>
                                          <div class="row-fluid">
                                            <div class="span8">
                                              <p>{{#description}}{{description}}{{/description}}{{^desription}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tellus. Aliquam libero elit, facilisis nec fermentum at, accumsan vitae eros. Proin egestas risus a malesuada faucibus. Vivamus lacus eros, sagittis sit amet interdum lobortis, blandit quis ante. Nullam blandit felis in odio mattis, nec luctus ante convallis. Nunc at dictum risus. Vivamus vel massa mi. Nunc sem dui, dapibus eget lorem a, pharetra congue est.{{/description}}</p>
                                            </div>
                                            <div class="span4">
                                              <p>
                                                <strong>Owner</strong>
                                                <br>
                                                <a href="javascript://">anajsharma@google.com</a>
                                              </p>
                                              <p>
                                                <strong>Contact</strong>
                                                <br>
                                                <a href="javascript://">iwu@google.com</a>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="inner-tree">
                                  <h6>Tasks ({{obj_tasks.length}})</h6>
                                  <ul class="tree-structure new-tree colored-list">
                                    {{#each obj_tasks}}
                                    <li class="tree-item rq-draft obj_task
                                      {{#if_equals status 'finished'}}rq-updated{{/if}}
                                      {{#if_equals status 'verified'}}rq-accepted{{/if}}
                                      {{#if_equals status 'started'}}rq-requested{{/if}}
                                      {{^if_equals status 'verified'}}{{#is_overdue end_date}}rq-rejected{{/is_overdue}}{{/if_equals}}" data-index="{{@index}}">
                                      <div class="item-main">
                                        <div class="openclose">
                                          <div class="row-fluid">
                                            <div class="span12">
                                              <ul class="tree-action-list">
                                                <li>
                                                  <span class="counter">
                                                    due
                                                    <strong class="error">{{end_date}}</strong>
                                                  </span>
                                                </li>
                                                <li>
                                                  <i class="grcicon-person-green pull-left icon-field"></i>
                                                  <div class="objective-selector">
                                                    <input tabindex="1" type="text" name="lead_email" class="span10 search-icon short-field autocomplete" placeholder="Enter text to search for Assignee" value="{{assignee}}" data-autocomplete-type="mapped_people" data-type="people">
                                                  </div>
                                                </li>
                                                <li>
                                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                                    <i class="grcicon-directive-black"></i>
                                                    <strong class="error">{{entries.length}}</strong>
                                                  </span>
                                                </li>
                                                <li>
                                                  <div class="request-control">
                                                    {{^if_equals status 'verified'}}{{#is_overdue end_date}}<span class="error"><em>Overdue</em></span>{{/is_overdue}}{{/if}}
                                                    {{#if_equals status 'assigned'}}
                                                    <button class="btn btn-primary change-task-status" data-control='{{@index}}_{{context}}'>Start</button>
                                                    {{/if}}
                                                    {{#if_equals status 'started'}}
                                                    <button class="btn change-task-status">Finish</button>
                                                    {{/if}}
                                                    {{#if_equals status 'finished'}}
                                                    <button class="btn btn-danger change-task-status">Decline</button>
                                                    <button class="btn btn-success change-task-status">Verify</button>
                                                    {{/if}}
                                                    {{#if_equals status 'verified'}}
                                                    <span class="task-done">
                                                      <em>Verified</em>
                                                    </span>
                                                    {{/if}}
                                                    {{#actions.length}}<a href="javascript://" data-name="status" data-value="Requested" data-undo="true" class="undo change-task-status">Undo</a>{{/actions}}
                                                  </div>
                                                </li>
                                              </ul>
                                              <span class="tier-trigger"></span>
                                              <div class="item-data">
                                                <div class="tree-title-area">
                                                  {{title}}
                                                </div>
                                              </div>
                                              <div class="item-data">
                                                <div class="tree-title-area">

                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="tier-2-info item-content" style="display: none;">
                                        <div class="tier-2-info-content">
                                          <div class="row-fluid">
                                            <div class="span6">
                                              <a href="javascript://" class="info-action">
                                                View Task
                                                <i class="grcicon-goto"></i>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="show-description">
                                            <div class="row-fluid">
                                              <div class="span12">
                                                <div class="tree-description">
                                                  <h5>{{title}}</h5>
                                                  <strong>Task Details:</strong>
                                                  {{description}}
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row-fluid">
                                            <div class="span11">
                                              <div class="inner-row">
                                                <strong>Comments (<span>{{entries.length}}</span>)</strong>
                                                <ul class="entry-list">
                                                  {{#each entries}}
                                                  <li>
                                                    <div class="pull-right">
                                                      <a href="javascript://"><i class="grcicon-edit"></i></a>
                                                      <a href="javascript://" class="delete-entry-btn" data-index="{{@index}}"><i class="grcicon-deleted"></i></a>
                                                    </div>
                                                    {{description}}
                                                    <ul class="attachment-list">
                                                      <li>
                                                        <a href="javascript://">
                                                          <i class="grcicon-attach"></i>
                                                          <span>supportingwalkthroughevidence.pdf</span>
                                                        </a>
                                                      </li>
                                                      <li>
                                                        <a href="javascript://">
                                                          <i class="grcicon-attach"></i>
                                                          <span>screenshot.pdf</span>
                                                        </a>
                                                      </li>
                                                    </ul>
                                                    <span class="entry-author">By <a href="javascript://">{{assignee}}</a> on 2014-01-27 7:45am UTC</span>
                                                  </li>
                                                  {{/each entries}}
                                                </ul>
                                              <div>
                                                <div>
                                                  <a href="javascript://" class="toggleClosest"><strong>+ Add Comment</strong></a>
                                                </div>
                                                <div class="add-entry hide">
                                                  <textarea class="span10" placeholder="Entry"></textarea>
                                                  <a href="javascript://" class="entry-attachment">
                                                    <i class="grcicon-attach-color"></i> Attach supporting file
                                                  </a>
                                                  <br>
                                                  <a href="javascript://" class="btn btn-small add-entry-btn btn-primary toggleClosest">
                                                    <strong>Add comment</strong>
                                                  </a>
                                                  <a href="javascript://" class="cancel-text toggleClosest">
                                                    <i class="grcicon-x-grey"></i>Cancel
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </li>
                                    {{/each}}
                                    <li class="tree-footer tree-item tree-item-add">
                                      <div class="row-fluid">
                                        <div class="span10">
                                          <a href="javascript://" data-toggle="modal">
                                            + Add Task
                                          </a>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                            </li>
                            {{/each}}
                          </ul>
                        </div>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </section>
              </section>

              <!-- Widget: History -->
              <section class="widget programs history_widget" style="display:none;">
                <header class="header">
                  <div class="row-fluid">
                    <div class="span9">
                      <h2>
                        <i class="grcicon-history-color"></i>
                        Previous Cycles
                        <span class="object_count" id="objectsCounter">({{assessment.cycles.length}})</span>
                        <span class="explanation"></span>
                      </h2>
                    </div>
                    <div class="span3">
                      <div class="widget-action pull-right widget-action-help">
                        <a data-placement="top" data-toggle="modal-ajax-helpform" data-help-slug="info" href="javascript://" rel="tooltip" data-original-title="Help">
                          <i class="grcicon-help-black"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </header>
                <section class="content">
                  <ul class="tree-structure new-tree mockup-tree colored-list">
                    {{#each assessment.cycles}}
                    <li class="tree-item program task-item task_group rq-draft">
                      <div class="item-main">
                        <div class="openclose">
                          <div class="row-fluid">
                            <div class="span12">
                              <span class="tier-trigger"></span>
                              <div class="item-data">
                                <div class="tree-title-area">
                                  Cycle {{@index}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tier-2-info item-content" style="display: none;">
                        <div class="inner-tree">
                          <h6>Task Groups ({{task_groups.length}})</h6>
                          <ul class="tree-structure new-tree colored-list">
                            {{#each task_groups}}
                            <li class="tree-item program task-item task_group rq-draft
                              {{#if_equals status 'started'}}rq-requested{{/if}}
                              {{#if_equals status 'finished'}}rq-accepted{{/if}}
                              {{^if_equals status 'verified'}}{{#is_overdue end_date}}rq-rejected{{/is_overdue}}{{/if_equals}}" data-index="{{@index}}">
                              <div class="item-main">
                                <div class="openclose">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <ul class="tree-action-list">
                                        <li>
                                          {{^status}}
                                          <span class="gray"><em>Assigned</em></span>
                                          {{/status}}
                                          {{#if_equals status 'started'}}
                                          <span class="gray"><em>In progress</em></span>
                                          {{/if}}
                                          {{#if_equals status 'finished'}}
                                          <span class="task-done"><em>Finished</em></span>
                                          {{/if}}
                                        </li>
                                        <li>
                                          <span class="counter">
                                            due
                                            <strong class="error">{{end_date}}</strong>
                                          </span>
                                          {{^if_equals status 'finished'}}{{#is_overdue end_date}}<span class="error"><em>Overdue</em></span>{{/is_overdue}}{{/if}}
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped objects">
                                            <i class="grcicon-object-black"></i>
                                            <strong class="error">{{objects.length}}</strong>
                                          </span>
                                        </li>
                                        <li>
                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                            <i class="grcicon-task-black"></i>
                                            <strong class="error">{{tasks.length}}</strong>
                                          </span>
                                        </li>
                                      </ul>
                                      <span class="tier-trigger"></span>
                                      <div class="item-data">
                                        <div class="tree-title-area">
                                          {{title}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tier-2-info item-content" style="display: none;">

                                <div class="inner-tree">
                                  <h6>Objects ({{objects.length}})</h6>
                                  <ul class="tree-structure new-tree colored-list">
                                    {{#each objects}}
                                    <li class="tree-item programs tg_object rq-draft
                                      {{#if_equals obj_status 'started'}}rq-requested{{/if}}
                                      {{#if_equals obj_status 'finished'}}rq-accepted{{/if}}" data-index="{{@index}}">
                                      <div class="item-main">
                                        <div class="openclose">
                                          <div class="row-fluid">
                                            <div class="span12">
                                              <ul class="tree-action-list">
                                                <li>
                                                  {{^obj_status}}
                                                  <span class="gray"><em>Assigned</em></span>
                                                  {{/obj_status}}
                                                  {{#if_equals obj_status 'started'}}
                                                  <span class="gray"><em>In progress</em></span>
                                                  {{/if}}
                                                  {{#if_equals obj_status 'finished'}}
                                                  <span class="task-done"><em>Finished</em></span>
                                                  {{/if}}
                                                </li>
                                                <li>
                                                  <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                                    <i class="grcicon-task-black"></i>
                                                    <strong class="error">{{tasks.length}}</strong>
                                                  </span>
                                                </li>
                                              </ul>
                                              <span class="tier-trigger"></span>
                                              <div class="item-data">
                                                <div class="tree-title-area">
                                                  <i class="grcicon-{{type}}-color"></i>
                                                  {{title}} {{type}}
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="tier-2-info item-content" style="display: none;">
                                        <div class="tier-2-info-content">
                                          <div class="row-fluid">
                                            <div class="span6">
                                              <a href="javascript://" class="info-action">
                                                View Object
                                                <i class="grcicon-goto"></i>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="show-description">
                                            <div class="row-fluid">
                                              <div class="span12">
                                                <div class="tree-description">
                                                  <h5>{{title}}</h5>
                                                  <div class="row-fluid">
                                                    <div class="span8">
                                                      <p>{{#description}}{{description}}{{/description}}{{^desription}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tellus. Aliquam libero elit, facilisis nec fermentum at, accumsan vitae eros. Proin egestas risus a malesuada faucibus. Vivamus lacus eros, sagittis sit amet interdum lobortis, blandit quis ante. Nullam blandit felis in odio mattis, nec luctus ante convallis. Nunc at dictum risus. Vivamus vel massa mi. Nunc sem dui, dapibus eget lorem a, pharetra congue est.{{/description}}</p>
                                                    </div>
                                                    <div class="span4">
                                                      <p>
                                                        <strong>Owner</strong>
                                                        <br>
                                                        <a href="javascript://">anajsharma@google.com</a>
                                                      </p>
                                                      <p>
                                                        <strong>Contact</strong>
                                                        <br>
                                                        <a href="javascript://">iwu@google.com</a>
                                                      </p>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="inner-tree">
                                          <h6>Tasks ({{obj_tasks.length}})</h6>
                                          <ul class="tree-structure new-tree colored-list">
                                            {{#each obj_tasks}}
                                            <li class="tree-item rq-draft obj_task
                                              {{#if_equals status 'finished'}}rq-accepted{{/if}}
                                              {{#if_equals status 'verified'}}rq-accepted{{/if}}
                                              {{#if_equals status 'started'}}rq-requested{{/if}}
                                              {{^if_equals status 'verified'}}{{#is_overdue end_date}}rq-rejected{{/is_overdue}}{{/if_equals}}" data-index="{{@index}}">
                                              <div class="item-main">
                                                <div class="openclose">
                                                  <div class="row-fluid">
                                                    <div class="span12">
                                                      <ul class="tree-action-list">
                                                        <li>
                                                          <span class="counter">
                                                            due
                                                            <strong class="error">{{end_date}}</strong>
                                                          </span>
                                                        </li>
                                                        <li class="left-space">
                                                          <i class="grcicon-person-green pull-left icon-field"></i>
                                                          <div class="objective-selector pull-left">
                                                            <div class="oneline">
                                                              {{assignee}}
                                                            </div>
                                                          </div>
                                                        </li>
                                                        <li>
                                                          <span class="counter" rel="tooltip" data-placement="left" data-original-title="# of mapped tasks">
                                                            <i class="grcicon-directive-black"></i>
                                                            <strong class="error">{{entries.length}}</strong>
                                                          </span>
                                                        </li>
                                                        <li>
                                                          <div class="request-control">
                                                            {{^if_equals status 'verified'}}{{#is_overdue end_date}}<span class="error"><em>Overdue</em></span>{{/is_overdue}}{{/if}}
                                                            {{#if_equals status 'assigned'}}
                                                            {{/if}}
                                                            {{#if_equals status 'started'}}
                                                            {{/if}}
                                                            {{#if_equals status 'finished'}}
                                                            {{/if}}
                                                            {{#if_equals status 'verified'}}
                                                            <span class="task-done">
                                                              <em>Verified</em>
                                                            </span>
                                                            {{/if}}
                                                          </div>
                                                        </li>
                                                      </ul>
                                                      <span class="tier-trigger"></span>
                                                      <div class="item-data">
                                                        <div class="tree-title-area">
                                                          {{title}}
                                                        </div>
                                                      </div>
                                                      <div class="item-data">
                                                        <div class="tree-title-area">

                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="tier-2-info item-content" style="display: none;">
                                                <div class="tier-2-info-content">
                                                  <div class="row-fluid">
                                                    <div class="span6">
                                                      <a href="javascript://" class="info-action">
                                                        View Task
                                                        <i class="grcicon-goto"></i>
                                                      </a>
                                                    </div>
                                                  </div>
                                                  <div class="show-description">
                                                    <div class="row-fluid">
                                                      <div class="span12">
                                                        <div class="tree-description">
                                                          <h5>{{title}}</h5>
                                                          <strong>Task Details:</strong>
                                                          {{description}}
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="row-fluid">
                                                    <div class="span11">
                                                      <div class="inner-row">
                                                        <strong>Comments (<span>{{entries.length}}</span>)</strong>
                                                        <ul class="entry-list">
                                                          {{#each entries}}
                                                          <li>
                                                            <div class="pull-right">
                                                            </div>
                                                            {{description}}
                                                            <ul class="attachment-list">
                                                              <li>
                                                                <a href="javascript://">
                                                                  <i class="grcicon-attach"></i>
                                                                  <span>supportingwalkthroughevidence.pdf</span>
                                                                </a>
                                                              </li>
                                                              <li>
                                                                <a href="javascript://">
                                                                  <i class="grcicon-attach"></i>
                                                                  <span>screenshot.pdf</span>
                                                                </a>
                                                              </li>
                                                            </ul>
                                                            <span class="entry-author">By <a href="javascript://">{{assignee}}</a> on 2014-01-27 7:45am UTC</span>
                                                          </li>
                                                          {{/each entries}}
                                                        </ul>
                                                    </div>
                                                    </div>
                                                  </div>

                                                </div>
                                              </div>
                                            </li>
                                            {{/each}}
                                          </ul>
                                        </div>
                                      </div>

                                    </li>
                                    {{/each}}
                                  </ul>
                                </div>
                              </div>
                            </li>
                            {{/each}}
                          </ul>
                        </div>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                </section>
              </section>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<div id="workflowStart" style="z-index:9999;" class="modal hide fade ui-draggable" tabindex="-1" role="dialog" aria-labelledby="assessmentStartLabel" aria-hidden="false">
  <div class="modal-header">
    <a class="btn btn-mini btn-danger pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
    <h2>
      <span>Start Workflow</span>
    </h2>
  </div>
  <div class="modal-body">
    <p>By clicking "Proceed", {{assessment.task_groups.length}} task group{{^if_equals assessment.task_groups.length 1}}s{{/if_equals}} will be started and tasks will be assigned to selected assignees, against defined objects. Are you sure you want to proceed?</p>
    <br>
    <br>
    <a id="confirmStartWorkflow" class="btn btn-primary btn-large" data-dismiss="modal" href="javascript://">Proceed</a>
    <a id="cancelStartWorkflow" class="btn btn-large" data-dismiss="modal" href="javascript://">Cancel</a>
  </div>
</div>

<div id="cloneWorkflow" style="z-index:9999;" class="modal modal-wide hide fade ui-draggable" tabindex="-1" role="dialog" aria-labelledby="cloneWorkflow" aria-hidden="false">
  <div class="modal-header">
    <a class="btn btn-mini btn-danger pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
    <h2>
      <span>Clone Workflow</span>
    </h2>
  </div>
  <div class="modal-body">
    <form action="#">
      <div class="row-fluid">
        <div class="span8">
          <label>
            Title
            <span class="required">*</span>
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <input class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="Copy of {{assessment.title}}" tabindex="1">
          <br>
        </div>
        <div class="span4">
          <label>
            Workflow Owner
            <span class="required">*</span>
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <i class="grcicon-person-green pull-left icon-field"></i>
          <div class="people-autocomplete">
            <input tabindex="2" type="text" name="lead_email" class="span11 search-icon required autocomplete" value="{{assessment.lead_email}}" placeholder="Enter text to search for Workflow Owner">
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <label>
            <input type="checkbox" checked="checked" data-type="tasks">
            Copy tasks ({{assessment.tasks.length}})
          </label>
          <label>
            <input type="checkbox" checked="checked" data-type="people">
            Copy people ({{assessment.people.length}})
          </label>
          <label>
            <input type="checkbox" checked="checked" data-type="objects">
            Copy objects ({{assessment.objects.length}})
          </label>
          <label>
            <input type="checkbox" checked="checked" data-type='task_groups'>
            Copy task groups ({{assessment.task_groups.length}})
          </label>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span3">
        <div class="deny-buttons">
          <a tabindex="22" class="btn" data-dismiss="modal" href="javascript://">Cancel</a>
        </div>
      </div>
      <div class="span6">
        &nbsp;
      </div>
      <div class="span3">
        <div class="confirm-buttons">
          <a id="cloneWorkflowSave" tabindex="24" class="btn btn-primary" href="javascript://">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>

</workflow>
