{{!
    Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: ivan@reciprocitylabs.com
    Maintained By: ivan@reciprocitylabs.com
}}

<workflow-modal>
<div id="editAssessmentStandAlone" class="modal hide fade modal-wide ui-draggable" tabindex="-1" role="dialog" aria-labelledby="newAssessmentStandAloneLabel" aria-hidden="true">
  <div class="modal-header">
    <a class="btn btn-mini btn-danger pull-right" href="javascript://" data-dismiss="modal">
      <i class="grcicon-x-white"></i>
    </a>
    <h2>
      <span>{{#new_form}}Create New Workflow{{/new_form}}{{^new_form}}Edit Workflow{{/new_form}}</span>
    </h2>
  </div>
  <div class="modal-body">
    <form action="#">
      <div class="row-fluid">
        <div class="span8">
          <label>
            Title
            <span class="required">*</span>
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <input class="input-block-level required" placeholder="Enter Title" name="title" type="text" value="{{new assessment.title}}" tabindex="1">
          <br>
        </div>
        <div class="span4">
          <label>
            Workflow Owner
            <span class="required">*</span>
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <i class="grcicon-person-green pull-left icon-field"></i>
          <div class="people-autocomplete">
            <input tabindex="2" type="text" name="lead_email" class="span11 search-icon required autocomplete ui-autocomplete-input" value="{{new assessment.lead_email currentUser}}" placeholder="Enter text to search for Workflow Owner" data-autocomplete-type="people" data-type="people">
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span8">
          <label>
            Description
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <div class="wysiwyg-area">
            <textarea id="program_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description" tabindex="3">{{new assessment.description}}</textarea>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <label>
            Frequency
            <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
          </label>
          <select tabindex="5" class="input-block-level" id="frequency" name="frequency">
            <option value="one_time">One time</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="annually">Annually</option>
            <option value="continuos">Continuos (N/A)</option>
          </select>
        </div>
        <div class="span8" id="frequency-div">
          <div id="one-time" class="frequency-wrap">
            <label>
              <span class="start-text">start date</span>
              <input tabindex="4" class="date input-small" name="start_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="">
              <span>end date</span>
              <input tabindex="4" class="date input-small" name="end_date" data-toggle="datepicker" placeholder="MM/DD/YYYY" type="text" value="">
            </label>
          </div>
          <div id="weekly" class="frequency-wrap">
            <label>
              <span class="start-text">starts every</span>
              <select name="weekly_start" class="input-small">
                <option selected="selected">MON</option>
                <option>TUE</option>
                <option>WED</option>
                <option>THU</option>
                <option>FRI</option>
              </select>
              <span>due on every</span>
              <select name="weekly_end" class="input-small">
                <option>MON</option>
                <option>TUE</option>
                <option>WED</option>
                <option>THU</option>
                <option selected="selected">FRI</option>
              </select>
            </label>
          </div>
          <div id="monthly" class="frequency-wrap">
            <label>
              <span class="start-text">starts every</span>
              <select name="monthly_start" class="input-small">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option selected="selected">7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
              <span>due on every</span>
              <select name="monthly_end" class="input-small">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option selected="selected">25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
              <i class="grcicon-help-black" rel="tooltip" title="If date is Saturday, Sunday or holiday, Start/End date will be triggered on the first upcoming business day"></i>
            </label>
          </div>
          <div id="quarterly" class="frequency-wrap">
            <label>
              <span class="start-text">starts every</span>
              <select name="quarterly_start" class="input-medium">
                <option selected="selected">Jan, Apr, Jul, Oct</option>
                <option>Feb, May, Aug, Nov</option>
                <option>Mar, Jun, Sep, Dec</option>
              </select>
              <select name="monthly_start_q" class="input-mini">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option selected="selected">7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
              <span>due on every</span>
              <select name="quarterly_end" class="input-medium">
                <option>Jan, Apr, Jul, Oct</option>
                <option selected="selected">Feb, May, Aug, Nov</option>
                <option>Mar, Jun, Sep, Dec</option>
              </select>
              <select name="monthly_end_q" class="input-mini">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option selected="selected">25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </label>
          </div>
          <div id="annually" class="frequency-wrap">
            <label>
              <span class="start-text">starts every</span>
              <select name="annualy_start" class="input-small">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option selected="selected">October</option>
                <option>November</option>
                <option>December</option>
              </select>
              <select name="monthly_start_a" class="input-mini">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option selected="selected">7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
              <span>due on every</span>
              <select name="annualy_end" class="input-small">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option selected="selected">December</option>
              </select>
              <select name="monthly_end_a" class="input-mini">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option selected="selected">25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
              <i class="grcicon-help-black" rel="tooltip" title="If date is Saturday, Sunday or holiday, Start/End date will be triggered on the first upcoming business day"></i>
            </label>
          </div>
          <div id="continuos" class="frequency-wrap"></div>
        </div>
      </div>

      <div class="row-fluid">
          <div class="span12">
            <div class="expand-link">
              <a class="show-hidden-fields" href="javascript://">
                <span class="out">
                  <i class="grcicon-show-arrow"></i>
                  Show
                </span>
                <span class="in">
                  <i class="grcicon-hide-arrow"></i>
                  Hide
                </span>
                Advanced
                <span class="hidden-fields out">
                  Email preferences
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="hidden-fields-area" style="display:none">
          <div class="row-fluid">
            <div class="span6">
              <br>
              <label>
                Email Notifications
                <i class="grcicon-help-black" rel="tooltip" title="This setting will override user email preferences"></i>
                <br>
                <br>
                <input type="checkbox"> Enforce direct email notifications for workflow users
                <small class="gray label-small"><em>Even if user is opt-out of them on global level</em></small>
              </label>
              <br>
            </div>
          </div>
          
          <div class="row-fluid">
            <div class="span6">
              <label>
                Custom "Start Workflow" email message
                <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
              </label>
              <div class="wysiwyg-area">
                <textarea id="" class="span12 double wysihtml5" name="" placeholder="Enter custom message here" tabindex="3"></textarea>
                <small class="gray"><em>
                  This optional message will be added to "Start Workflow" email.<br>
                  It should contain any additional info you want to share with the workflow assignees
                </em></small>
              </div>
            </div>
          </div>
          
          <div class="row-fluid">
            <div class="span12">
              <label>
                gGRC Folder
                <i class="grcicon-help-black" rel="tooltip" title="Description goes here"></i>
              </label>
              <a href="javascript://">gGRC Workflows/{{new assessment.title}}</a>
            </div>
          </div>
        </div>

    </form>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span3">
        <div class="deny-buttons">
          <a tabindex="22" class="btn" data-dismiss="modal" href="javascript://">Cancel</a>
        </div>
      </div>
      <div class="span6">
        &nbsp;
      </div>
      <div class="span3">
        <div class="confirm-buttons">
          <a id="saveAssessment" tabindex="24" class="btn btn-primary" href="javascript://">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</workflow-modal>
